<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>'Heartbroken and devastated': 4 dead, dozens injured after stampede breaks out at a concert in India</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="At least four people were killed and dozens more were injured in a stampede at a">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>'Heartbroken and devastated': 4 dead, dozens injured after stampede breaks out at a concert in India</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://www.usatoday.com/gcdn/authoring/authoring-images/2023/11/26/USAT/71709547007-ap-india-stampede.jpg?crop=3620,2036,x0,y195&width=3200&height=1800&format=pjpg&auto=webp" alt="">

                <textarea id="text" readonly> At least four people were killed and dozens more were injured in a stampede at a concert at a university in southern India.

The incident took place at Cochin University of Science and Technology in Kerala state on Saturday night, local officials said.

"Deeply shocked and grieved to know about the sad demise of four students at a stampede at Cochin University of Science & Technology. Heartfelt condolences to their families. Prayers for speedy recovery of injured," Arif Mohammad Khan, Kerala's state governor, said in a post on X, the platform formerly known as Twitter.

At least 64 others were injured in the crowd rush, according to multiple reports. Singer Nikhita Gandhi was supposed to perform at the tech fest, which was being held at an outdoor auditorium on campus.

“Heartbroken and devastated by what took place this evening in Kochi. Such an unfortunate incident took place before I could even leave for the venue for the performance. No words are possibly enough to express this profound grief. My prayers go out to the families of the students,” Gandhi wrote in a statement on Instagram.

Students trip and fall during stampede

Citing local law enforcement, NDTV reported that people were waiting outside the auditorium when it began raining, and they rushed inside for cover, leading to a stampede. Several people slipped and fell and were trampled.

According to Kerala Health Minister Veena George, those injured were transported to local hospitals. At least four of the injured are in critical condition.

The university cancelled several events scheduled for Sunday. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>