<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>'Hunger Games' prequel and 'Napoleon' dominate Thanksgiving box office, topping Disney's 'Wish'</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The Walt Disney Co.’s "Wish" had been expected to rule the Thanksgiving weekend ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>'Hunger Games' prequel and 'Napoleon' dominate Thanksgiving box office, topping Disney's 'Wish'</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://static.foxnews.com/foxnews.com/content/uploads/2023/11/Wish-Disney.gif" alt="">

                <textarea id="text" readonly> The Walt Disney Co.’s "Wish" had been expected to rule the Thanksgiving weekend box office, but moviegoers instead feasted on leftovers, as "The Hunger Games: The Ballad of Songbirds and Snakes" led ticket sales for the second weekend, according to studio estimates Sunday.

Neither of the weekend’s top new releases — "Wish" and Ridley Scott’s "Napoleon" — could keep up with Lionsgate's "Hunger Games" prequel. After debuting the previous weekend with $44.6 million, the return to Panem proved the top draw for holiday moviegoers, grossing $28.8 million over the weekend and $42 million over the five-day holiday frame.

In two weeks of release, "Songbirds and Snakes" has grossed nearly $100 million domestically and $200 million globally.

FLORIDA TEACHER DEFIANT AFTER SHOWING 'WOKE' DISNEY MOVIE IN CLASS: PARENTS RIGHTS 'ARE GONE' IN PUBLIC SCHOOL

WOKE DISNEY’S YEAR OF ENDURING BOX OFFICE BOMBS, SUBSCRIBER LOSSES AND LAYOFFS

The closer contest was for second place, where "Napoleon" narrowly outmaneuvered "Wish." Scott's epic outperformed expectations to take $32.5 million over the five-day weekend and an estimated $20.4 million Friday through Sunday. The film, starring Joaquin Phoenix as the French emperor and Vanessa Kirby as his wife Joséphine de Beauharnais, was also the top movie globally with $78.8 million.

Reviews were mixed (61% fresh on Rotten Tomatoes) and ticket buyers were non-plussed (a "B-" CinemaScore), but "Napoleon" fared far better in theaters than its subject did at Waterloo.

"Napoleon," like Martin Scorsese’s "Killers of the Flower Moon," is a big-budget statement by Apple Studios of the streamer’s swelling Hollywood ambitions. With an estimated budget of $200 million, "Napoleon" may still have a long road to reach profitability for Apple, which partnered with Sony to distribute "Napoleon" theatrically. But it’s an undeniably strong beginning for an adult-skewing 168-minute historical drama.

"Wish," however, had been supposed to have a more starry-eyed start. Disney Animation releases like "Frozen II" ($123.7 million over five days in 2019), "Ralph Breaks the Internet" ($84.6 million in 2018) and "Coco" ($71 million in 2017), have often owned Thanksgiving moviegoing.

But "Wish" wobbled, coming in with $31.7 million over five days and $19.5 million Friday through Sunday. It added $17.3 million internationally. It had been forecast to debut closer to $50 million.

"Wish," at least, is faring better than Disney’s Thanksgiving release last year: 2022's "Strange World" bombed with a five-day $18.9 million opening. But hopes had been higher for "Wish," co-written and co-directed by the "Frozen" team of Chris Buck and Jennifer Lee and featuring the voices of Ariana DeBose and Chris Pine. "Wish," a fairy tale centered around a wished-upon star, is also a celebration of Disney, itself, timed to the studio’s 100th anniversary and rife with callbacks to Disney favorites.

Critics weren't impressed, saying "Wish" felt more like a marketing than movie magic. So instead of righting an up-and-down year for Disney, "Wish" is, for now, adding to some of the studio’s recent headaches, including the underperforming "The Marvels." The Marvel sequel has limped to $76.9 million domestically and $110.2 million overseas in three weeks.

"Wish" also faced direct competition for families in "Trolls Band Together." The DreamWorks and Universal Pictures release opened a week prior, and took in $17.5 million in its second frame ($25.3 million over five days).

"‘Wish’ ran into a much more competitive market than what Disney might normally see in the Thanksgiving corridor," said Paul Dergarabedian, senior media analyst for data firm Comscore. "We're accustomed to seeing those Disney films at the top of the chart. They kind of had to split the audience with ‘Trolls.’"

Still, the storybook isn’t written yet on "Wish." It could follow the lead of Pixar’s "Elemental," which launched with a lukewarm $29.6 million in June but found its legs, ultimately grossing nearly $500 million worldwide.

Also entering wide-release over the holiday weekend was Emerald Fennell’s "Saltburn," the writer-director’s follow-up to 2020’s "Promising Young Woman." After debuting in seven packed theaters last weekend, "Saltburn" grossed $3.1 million over five days for Amazon and MGM. Barry Keoghan stars as an Oxford student befriended by a rich classmate (Jacob Elordi) and invited to his family’s country manor.

As Hollywood's award season accelerates (Netflix debuted Bradley Cooper's "Maestro" in select theaters but didn't report grosses), Focus Features' "The Holdovers" continues to be one of the top choices in cinemas. Alexander Payne's film starring Paul Giamatti as a boarding school instructor made $3.8 million over the five-day weekend. In five weeks, it's grossed $12.9 million.

Ticket sales overall reached $172 million in U.S. and Canada theaters over the five-day holiday weekend, according to Comscore. That's up significantly from recent years but well behind the typical pre-pandemic Thanksgiving weekends. (In 2019, sales boosted by "Frozen 2" surpassed $262 million.)

AFTER DISNEY MOVIE BOMBS, FILM CRITIC TELLS HOLLYWOOD ‘GO WOKE, GO BROKE’

Estimated ticket sales for Friday through Sunday at U.S. and Canadian theaters, according to Comscore. Final domestic figures will be released Monday.

1. "The Hunger Games: The Ballad of Songbirds and Snakes," $28.8 million.

2. "Napoleon," $20.4 million.

3. "Wish," $19.5 million.

4. "Trolls Band Together," $17.5 million.

5. "Thanksgiving," $7.2 million.

6. "The Marvels," $6.4 million.

7. "The Holdovers," $2.8 million.

8. "Taylor Swift: The Eras Tour," $2.3 million.

9. "Five Nights at Freddy's," $1.8 million.

10. "Saltburn," $1.7 million. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>