<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>'I'm not dead,' Thai hostage says after 'miracle' release in Gaza</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Thai workers taken hostage by Hamas and later released as part of a deal between">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>'I'm not dead,' Thai hostage says after 'miracle' release in Gaza</p>
            <span id="topic" >gaza</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.reuters.com/resizer/s7_zyGm_Qt9saBrOsFtafxklYOo=/863x452/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/CI2K56VWHVOBJGSYOVSRUYDOD4.jpg" alt="">

                <textarea id="text" readonly> Thai workers taken hostage by Hamas and later released as part of a deal between Israel and Palestinian Islamist group Hamas, pose with a member of Thai mission after a medical checkup, in Tel Aviv, Israel, in this handout image released on November 25, 2023. Ministry Of Foreign Affairs Thailand/Handout via REUTERS Acquire Licensing Rights

BANGKOK, Nov 25 (Reuters) - Vetoon Phoome's family feared the Thai farm worker had been killed by Hamas in last month's attack on Israel, until they found out on Saturday he had been freed along with other Thai hostages in Gaza.

"He told me not to cry, to tell mother I'm coming back," Vetoon's sister, Roongarun Wichagern, told Reuters after an emotional reunion with him via video call.

Vetoon, 33, who has been living in Israel for five years, was one of 10 Thai hostages freed by Hamas during the first truce of a seven-week-old war that started with the Palestinian militant group's Oct. 7 assault on southern Israel.

"He said, 'I'm not dead, I'm not dead'," Roongarun said, calling his survival a "miracle".

The 10 Thais were among 24 hostages freed on Friday in a deal negotiated in parallel with the truce and an exchange of 39 Palestinian prisoners from Israeli jails. Thailand's government said 20 of its nationals are still captive.

Thailand's foreign minister and army chief will travel to Israel to bring the freed hostages back, Prime Minister Srettha Thavisin told reporters, adding that his government was still trying to secure the release of the remaining captives.

"We will not stop. We will bring them back," he said.

Iran's Embassy in Bangkok said on social media that Tehran had facilitated the release by providing a list of names to Hamas following a request from Thailand's Foreign Ministry and a parliamentary speaker.

A Thai foreign ministry spokesperson said Thailand had "provided lists since the beginning to everyone," including Qatar, Egypt, Israel and Iran.

"Different actors would have different influence on Hamas," the spokesperson said.

MIGRANT WORKERS

About 30,000 Thai nationals work in Israel, forming one of its largest groups of migrant workers, many in agriculture.

Vetoon told family members he had shouted "Thailand, Thailand!" when the militants approached, before capturing him and holding him in tunnels, Roongarun said.

He was not wounded or tortured, was given food and water and did not appear to have lost weight, Roongarun added.

His friends believed he had died, but the family followed the news "without sleeping", hoping he had been taken hostage, she said.

"I saw the news hostages would be released, and then someone sent a photo," Roongarun said. "It was clearly my little brother."

The released captives also included the only Thai woman known to be held by Hamas, a factory worker and mother from a poor rural area where many people leave to seek job opportunities abroad.

Photographs from the Thai Foreign Ministry showed them meeting doctors at a medical centre in Israel. They will return home after 48 hours in hospital, the ministry said, thanking Egypt, Iran, Israel, Malaysia, Qatar and the International Committee of the Red Cross for "immense efforts" on the deal to free them.

A source briefed on the negotiations said the release was unrelated to the truce deal with Israel and followed a separate track of talks with Hamas mediated by Egypt and Qatar.

A group of Thai Muslim politicians had travelled to Tehran and met senior Hamas officials in October.

Thongkoon Onkaew told Reuters authorities had said her son, Natthaporn Onkaew, a 26-year-old farm worker, was not among the first group released, but she added that she was "waiting for good news."

Reporting by Chayut Setboonsarng Additional reporting by Napat Wesshasartar and Panarat Thepgumpanat Writing by Poppy McPherson Editing by William Mallard and Helen Popper

Our Standards: The Thomson Reuters Trust Principles. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>