<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>'If you want to avoid embarrassment...': Shoaib Akhtar sends massive 'semi-final' warning as Pakistan face Afghanistan</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Pakistan's struggles in the 2023 World Cup continued as they suffered their seco">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>'If you want to avoid embarrassment...': Shoaib Akhtar sends massive 'semi-final' warning as Pakistan face Afghanistan</p>
            <span id="topic" >pak vs afg</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.hindustantimes.com/ht-img/img/2023/10/21/1600x900/Collage_Maker-21-Oct-2023-05-45-PM-8679_1697890575547_1697890582440.jpg" alt="">

                <textarea id="text" readonly> Pakistan's struggles in the 2023 World Cup continued as they suffered their second consecutive loss, this time to Australia in a 62-run defeat in Bengaluru. The Pakistan team had a daunting task at hand as they conceded a mammoth total of 367/9 after opting to bowl at the batting-friendly Chinnaswamy Stadium surface. Despite strong performances from openers Imam-ul-Haq and Abdullah Shafique, who both scored fifties, the middle-order faltered. In a crucial chase, Pakistan found themselves bowled out in the 46th over, leading to their slip to the 5th spot in the points table. Shoaib Akhtar (L) isn't too happy with Pakistan's performances at the World Cup(PTI/YouTube)

Former Pakistan fast-bowler Shoaib Akhtar expressed his discontent with Pakistan's performance and directed criticism towards Babar Azam, the captain, for failing to deliver when it mattered most. Babar has struggled with form throughout this World Cup, and his disappointment continued as he was dismissed for just 18 runs off 14 balls in the crucial match against Australia.

“Winning the toss and electing to bowl, why? Score 320, give bowlers a chance. Maybe they could've bowled them out. Babar Azam, a great player but again, great players need to play great innings. You can't make yourself a big name by not performing against big nations. You have to show you can score big runs in big games,” Akhtar said on his official YouTube channel.

The dropped catches, especially that of David Warner, proved to be pivotal in Pakistan's defeat. Warner capitalized on his second life and scored a match-defining 162, effectively taking the game away from Pakistan.

"Pakistan's strength is T20 cricket. When Australia became aggressive in last 15 overs, Pakistan bowlers dominated. But bringing Iftikhar as first-change bowler, and Usama Mir dropping that catch... I can't understand that. Honestly, I don't feel Pakistan has a big chance. We have games against New Zealand and South Africa. But does this Pakistan team deserve to be in semi-finals? I'm thoroughly disappointed.

“Shaheen tried his best. But in his first spell, where was his skillset? How would you stop runs? That he has to learn. Nawaz's selection... don't understand that.”

'Avoid the embarrassment'

Pakistan's next match in the World Cup is against their neighbours Afghanistan at a sluggish Chennai pitch. Against a side that boasts of three world-class spinners in Rashid Khan, Mujeeb ur Rahman, and Mohammad Nabi, Pakistan would aim to put an improved batting performance and Akhtar cautioned Babar Azam's men over the same.

“Afghanistan is a strong team. If you want to save yourself from embarrassment... I'm not saying Afghanistan is a bad team, they are at par with Pakistan. Don't take them lightly. The match is in Chennai, the ball will turn. It's favourable conditions for Afghanistan. I'm sure Pakistan will pick their pieces up. Please go out there and play with your heart,” said the speedster. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>