<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"On massacre le patrimoine" : Stéphane Bern prend la défense du château d'Amboise contre un projet éolien</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content=""Il serait temps que le préfet d'Indre-et-Loire se souvienne que dans ce cône de">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>"On massacre le patrimoine" : Stéphane Bern prend la défense du château d'Amboise contre un projet éolien</p>
            <span id="topic" >Stephane Bern</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://www.francebleu.fr/s3/cruiser-production/2023/10/878c6058-9810-4d7a-84c7-6c67928160f7/1200x680_sc_maxnewsworldsix044492.jpg" alt="">

                <textarea id="text" readonly> "Il serait temps que le préfet d'Indre-et-Loire se souvienne que dans ce cône de visibilité, le château d'Amboise et le château de Chaumont-sur-Loire sont des joyaux du Val de Loire, inscrits au patrimoine mondial de l'UNESCO". C'est ainsi que, sur le réseau social X (ex-Twitter), Stéphane Bern a pris position contre le projet éolien porté par l'entreprise Innergex, censé s'implanter à Auzouer-en-Touraine, c'est-à-dire à 15 kilomètres à vol d'oiseau, du monument amboisien, ex-demeure de François Ier.

ⓘ Publicité

"On me demande, avec une mission présidentielle depuis six ans, de sauver le patrimoine en péril, alors ce n'est pas pour le voir être massacré visuellement par un parc éolien, s'indigne-t-il auprès de France Bleu Touraine. Car, là, on massacre le patrimoine. Imaginez un peu. Les visiteurs qui viennent nombreux visiter le château d'Amboise, quand ils monteront sur la Tour des Minimes ou sur le jardin de Naples, ils apercevront un horizon d'éoliennes."

Stéphane Bern en parlera à Emmanuel Macron

Stéphane Bern dit ne pas comprendre "la pression mise sur les préfets" pour implanter des éoliennes - sachant que l'Indre-et-Loire n'en a toujours aucune sur son sol. Une énergie renouvelable, on le devine assez vite, dont il n'est pas friand. "Vous savez, on a menti aux gens, poursuit-il. On leur a dit par exemple qu'à La Baule, ils ne verraient rien depuis le rivage. Aujourd'hui, interrogez ceux qui ont économisé pour acheter des appartements en bord de mer. Ils ne voient plus que cela. C'est une aberration écologique. On n'a pas interrogé, ni le château d'Amboise, ni les citoyens. C'est un déni de démocratie, mais après tout, c'est ce que pratique régulièrement le gouvernement d'Élisabeth Borne."

Cette semaine, l'animateur de France Télévisions doit rencontrer Emmanuel Macron, pour tout autre chose. Il ne se privera pas de lui en glisser quelques mots. "Il connaît mon opinion sur la question. Lui-même est venu en 2019 au château d'Amboise. J'espère qu'il sera sensible à mes arguments."

"Ce label UNESCO, c'est l'image de marque de notre région"

Or, le temps est compté. La préfecture doit normalement rendre d'ici la fin de l'année 2023 son avis sur l'autorisation ou non d'exploitation du parc, composé de quatre éoliennes. C'est pour cette raison que le château d'Amboise a alerté, récemment, la Région et des élus du territoire pour être des porte-voix auprès des services de l'État. Marc Métay, le directeur du château, rappelle que ce parc serait situé "dans le périmètre d'exclusion défini par la charte de l'UNESCO définissant le secteur du Val de Loire inscrit au patrimoine mondial de l'Humanité." Autrement dit, ce label pourrait être remis en cause. D'autant que les services de l'État, après d'âpres négociations, s'étaient engagés à garantir l'unité paysagère ligérienne, en 2015, dans le Plan Loire.

"Ce label UNESCO, c'est l'image de marque de notre région, cela fait venir énormément de visiteurs, environ 400.000 par an au château d'Amboise, par exemple, insiste Marc Métay. Le risque, il est majeur. Si on commence à s'affranchir de cette règle des 15 kilomètres, eh bien, pourquoi ne pas imaginer des projets de la sorte à moins de cinq kilomètres ? Il n'y aura plus aucune limite."

Contactée, la préfecture d'Indre-et-Loire n'a répondu à nos sollicitations dans le temps imparti. Mais elle promet de revenir vers nous dans le courant de la semaine. De son côté, la société Innergex assure que "le projet n’est pratiquement pas visible depuis les châteaux d’Amboise et de Chaumont contrairement à ce que prétend Stéphane Bern". Les éoliennes "sont à plus de 15 kilomètres et à cette distance, et compte tenu de la topographie et de la végétation, les éoliennes représentent un point de 1 centimètre à l’horizon, elles sont donc à toutes fins pratiques quasiment invisibles." </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>