<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>'Squid Game: The Challenge' players are seeking compensation for alleged injuries</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The fictional Squid Game is a life or death contest — and now, contestants from ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>'Squid Game: The Challenge' players are seeking compensation for alleged injuries</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sat-6, 2023</b>
                </span>
                <br><br>
                <img src="https://ew.com/thmb/lOCOKerBKKKLm5WMkejaAFmuHvA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/squid-games-the-challenge-299-112123-1-6898af8e3b1b45efa80fd55eb9eb6ab1.jpg" alt="">

                <textarea id="text" readonly> The fictional Squid Game is a life or death contest — and now, contestants from spinoff reality series Squid Game: The Challenge allege they suffered painful injuries making the show.

Though no official lawsuit has been filed, letters of claim have been sent to co-producer Studio Lambert seeking financial compensation for the alleged injuries they sustained during the show's filming in January of this year. The anonymous contestants say they suffered hypothermia and nerve damage as a result of poor health and safety standards on set.

“We have sent letters of claim on behalf of contestants injured in this show," Chief Executive Officer (Legal) at Express Solicitors Daniel Slade said in a statement posted to its website. "From what we’ve been told they pushed the boundaries of safety in the name of entertainment. Production companies need to ensure that health and safety standards on their shows don’t leave people at risk of harm.”

'Squid Game: The Challenge'. Courtesy of Netflix

In Great Britain, a letter of claim is sent before official legal action is taken, notifying the relevant parties that court proceedings may be brought against them.

A spokesperson for Squid Game: The Challenge said in a statement to EW: “No lawsuit has been filed by any of the Squid Game contestants. We take the welfare of our contestants extremely seriously.”

"Contestants thought they were taking part in something fun and those injured did not expect to suffer as they did," Slade told The Sun. "Now they have been left with injuries after spending time being stuck in painful stress positions in cold temperatures. One client describes seeing someone faint, then people shouting for medics. We have a case where someone complains of hypothermia. One had his hands turn purple from the cold. Such injuries can have very serious long-term health implications. One of our clients complains of being given ill-fitting clothing despite the cold conditions.”

The first five episodes of Squid Game: The Challenge hit Netflix on Wednesday. Modeled on the hit South Korean series, it follows over 456 real-life players competing in a series of games for a grand prize of $4.56 million.

The show came under fire back in January during its filming period when The Sun published articles alleging that the Red Light, Green Light game, taken from the original Squid Game series, was filmed in freezing weather conditions that led to "serious injury," including frostbite. Netflix denied such reports at the time. "We care deeply about the health and safety of our cast and crew, and invested in all the appropriate safety procedures," Netflix and Studio Lambert told EW in a joint statement. "While it was very cold on set — and participants were prepared for that — any claims of serious injury are untrue."

Executive producer Stephen Lambert also addressed the issue of player welfare with BBC News last week. "Everybody was warned that it was going to be cold, we took all the necessary steps to prepare them for that," he said. "Yes, a few anonymous people were unhappy about the fact they had been eliminated and it had been a cold, quite long experience. But it was no worse than many unscripted shows... when you're giving away a huge prize it is always going to be clear to us it was going to be a tough show to take part in."

Sign up for Entertainment Weekly's free daily newsletter to get breaking TV news, exclusive first looks, recaps, reviews, interviews with your favorite stars, and more.

Related content: </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>