<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>‘The 1999 Test against Pakistan in Chennai was like being in a Rajinikanth first-day first-show movie’: S Ramesh, India opener, explains why Madras crowd loved Pakistan</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Waqar Younis paused for a moment as one of the local staff of the Tamil Nadu Cri">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>‘The 1999 Test against Pakistan in Chennai was like being in a Rajinikanth first-day first-show movie’: S Ramesh, India opener, explains why Madras crowd loved Pakistan</p>
            <span id="topic" >pak vs afg</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://images.indianexpress.com/2023/10/PAK-AFG.jpg" alt="">

                <textarea id="text" readonly> Waqar Younis paused for a moment as one of the local staff of the Tamil Nadu Cricket Association pointed to the wall behind him. It was a mural of the Pakistan team on a victory lap soaking in the Chepauk crowd’s applause. It would have definitely brought back fond memories for Waqar, who played that famous Test in 1999.

Litter later, a few Pakistan players who were making their way to the practice nets at the MA Chidambaram Stadium, would also stop by, recalling that match which their team had won, one that broke a billion Indian hearts too. There were around 30,000 fans that evening 24 years ago as Wasim Akram and Co won a thriller by 12 runs.

At the Pavilion Sports shop which sits only a stone’s throw away from the stadium, there is a photo of Saeed Anwar buying a new cricket bat, with which he smashed 194 against India the next day in the 1997 Independence Cup. For die-hard MS Dhoni faithful, there is his 113 which rescued India from 29/5 to 227/6 in a losing cause in a 2012 ODI against Pakistan.

Yet more than all of it, it is the 1999 Test that has become so synonymous with Chennai. More than Anil Kumble’s 6-fer, Saqlain Mushtaq’s 10-fer, Shahid Afridi’s 141, Venkatesh Prasad’s 6-fer, and Sachin Tendulkar’s 136, it is the image of Chepauk crowd on their feet, appreciating the Pakistan team as they jogged around, that has stood the test of time.

Advertisement

“Whenever there is an India vs Pakistan game, it is similar to a Rajnikanth movie release. There is a huge frenzy and hysteria that you cannot put in words and only those watch Thalaivar’s first day, first show will understand. That is what India vs Pakistan is. In that 1999 Test, I felt what it is to be part of it where I felt like a hero. The noise when I got off the mark, still gives me goosebumps,” Sadagoppan Ramesh, who made his debut in the Test, recalls to The Indian Express.

As Pakistan return to the same venue, with their World Cup campaign hanging in the balance, there is a sort of feel-good factor that could act as a catalyst for them over the next week in Chennai, where they face Afghanistan on Monday, followed by South Africa on Friday. With two wins from four matches, Pakistan need to win both to keep their semifinal hopes intact.

"We are eager to meet the fans’ expectations" 🗣️ Reflections from @iShaheenAfridi on his bowling and preparation for tomorrow's match against Afghanistan 🏏#CWC23 | #DattKePakistani pic.twitter.com/SVkav1S3Xr — Pakistan Cricket (@TheRealPCB) October 22, 2023

This is a stop-over that Pakistan have been waiting for since the schedule was out. It is the venue their previous PCB chairman wanted to play their match against India. The experience of 1999 has made them feel at home over here, even though there is no remote cultural connection that maybe Mohali and Delhi can provide them with.

ALSO READ | World Cup: Why Pakistan can no longer bank on miracles

With Pakistan’s match against Afghanistan coming on a long holiday weekend, to say the city has been waiting for the fixture would be a massive understatement. Having been gripped by the release of Vijay-starrer ‘Leo’, Chennai is turning its eyes to cricket with the arrival of Pakistan.

Before the Test began, there was considerable tension as war clouds were just beginning to loom over Kargil. Ramesh recalls a policeman, who was on security duty at the team hotel, telling him, “vitratha thambi (don’t leave them)’ as he boarded the bus on first morning.

Advertisement

“Everyone talks about the standing ovation, but right through the Test, the crowd appreciated good cricket. Back then, Pakistan had a great team, and fans wanted to see them play as well because they hadn’t played a Test for a long time here. I remember, when Akram bowled Dravid on the last day, some of them near the pavilion stood up and started clapping for that delivery. And at the end, when Pakistan went on a lap, I wasn’t surprised about the fans reaction because they got to see a Tendulkar century and then a high-quality match,” Ramesh says.

It is something that VK Ramaswamy, one of the umpires who officiated, agrees. “It was nerve-wracking for the fans as the pendulum swung from one side to the other until Pakistan finally won. Although fans came to support India, they never missed an opportunity to appreciate a good performance. I remember Javed Miandad getting pleasantly surprised by the fans’ reaction that he asked the team to go on a lap of honour. I won’t be surprised if Chennai crowd exhibits the same this time too,” Ramaswamy, now 78, says.

As Pakistan look to get their campaign back on track, they would definitely not mind the support. With only a handful of Pakistan fans expected to be in the city because of visa issues, they have been on a nose dive since running into India at Ahmedabad, where they played in front of over 1 lakh Indian supporters. A big defeat to Australia in Bengaluru means Pakistan are in a spot where they can’t slip any further. It showed in their practice session on Sunday, where Waqar spent a good 20 minutes talking to their fast bowlers and coach Mickey Arthur.

On Monday, at their favourite hunting ground in India, they face Afghanistan, who can be party poopers. With a well-rounded spin attack to complement the conditions, it won’t be an easy task for Pakistan, more so because they will play on the same pitch where India’s spinners rolled over Australia a fortnight back. If Pakistan needs any inspiration, they don’t need to look elsewhere. They just need to take a look at their phone gallery where they will find the photo of the 1999 mural. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>