<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1.35 million chickens slaughtered on Ohio egg farm</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="(AP) - More than 1.3 million chickens are being slaughtered on an Ohio egg farm ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>1.35 million chickens slaughtered on Ohio egg farm</p>
            <span id="topic" >health</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://gray-wtvg-prod.cdn.arcpublishing.com/resizer/m5OFKA1PuAPlHBWy3CA5ZAEOPjQ=/1200x600/smart/filters:quality(85)/cloudfront-us-east-1.images.arcpublishing.com/gray/OJNOHIX47VEEVFWPZUN75PVC54.jpg" alt="">

                <textarea id="text" readonly> (AP) - More than 1.3 million chickens are being slaughtered on an Ohio egg farm as the bird flu continues to take a toll on the industry.

The U.S. Department of Agriculture said all 1.35 million chickens on the farm in Ohio’s Union County will be slaughtered to help limit the spread of the highly contagious virus after a case was confirmed in the flock this week.

The outbreak that began in early 2022 has been much less severe this year as fewer cases of the virus are being found among the wild birds that spread it. But there have still been 8.1 million birds killed this year to help control the spread of the disease and 5.8 million of those have come just this month as several large egg farms have been struck. That includes 1.2 million birds at one Iowa egg farm and another 940,000 chickens at one Minnesota egg farm that had to be killed.

Egg farms tend to be much larger than turkey or chicken farms, sometimes with millions of birds. That’s a big part of why Iowa — the nation’s largest egg producing state — has been hit the hardest in this outbreak with nearly 17.3 million birds killed. Ohio is also one of the top egg producing states but it has seen only 5.1 million birds killed because of bird flu.

This week, there have also been sizeable bird flu cases confirmed on farms in Minnesota, Maryland, South Dakota, Wisconsin, Georgia and California. But the biggest one of those cases was the Maryland chicken farm where 198,200 birds were killed.

In 2022, nearly 58 million birds were slaughtered as part of the outbreak. The highly contagious virus is spread easily by wild birds through droppings and nasal discharges.

Farmers are working hard to keep the virus from infecting their flocks by taking steps like requiring workers to shower and change clothes before entering barns, sanitizing trucks that enter a farm and investing in separate sets of tools for every barn. But the virus is difficult to keep out particularly along the main pathways for migrating birds who are headed south for the winter.

Officials say bird flu doesn’t represent a significant health threat. Human cases are extremely rare and none of the infected birds are allowed into the nation’s food supply. Properly cooking poultry and eggs to 165 degrees Fahrenheit (73.89 degrees Celsius) will also kill any viruses.

Copyright 2023 The Associated Press. All rights reserved. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>