<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10 healthy habits to practice every day that take less than 10 minutes each</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="In the thick of cold and flu season in the winter, U.S. death rates have ranged ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>10 healthy habits to practice every day that take less than 10 minutes each</p>
            <span id="topic" >health</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://static.foxnews.com/foxnews.com/content/uploads/2023/11/healthy-living.jpg" alt="">

                <textarea id="text" readonly> In the thick of cold and flu season in the winter, U.S. death rates have ranged 8% to 12% higher than in warmer months, according to the Environmental Protection Agency (EPA).

Given this higher risk, experts say it’s more important than ever for people to take care of their health.

Jamie Winn, a South Carolina pharmacist and medical director at Universal Drugstore, shared 10 things you can do for your health on a daily basis that take less than 10 minutes.

10 TIPS TO LIVE TO BE 100: ‘FAR MORE THAN WISHFUL THINKING,' SAY LONGEVITY EXPERTS

Read on for these health-forward suggestions.

1. Take vitamins and supplements

A lack of certain vitamins and minerals can cause deficiencies that can lead to various health issues , Winn told Fox News Digital.

"Taking a few moments to take vitamins and supplements each day can fill nutritional gaps in your diet to make sure you get the recommended intake," he said.

"For example, vitamin D supplements are important for bone health, and omega-3 fatty acids support heart and brain health."

2. Stretch

Stretching for just 10 minutes a day can improve flexibility and joint mobility, Winn said.

WANT TO LIVE LONGER? FOLLOW 8 HEART-HEALTHY HABITS, SAYS THE AMERICAN HEART ASSOCIATION

"Spending a brief period each day stretching can alleviate muscle tension and help prevent injuries and improve posture," he told Fox News Digital.

"This can be especially beneficial for people who work at a desk or find themselves slumped over a laptop while working from home."

3. Hydrate

Dehydration can lead to fatigue , headaches and impaired cognitive function, Winn said.

"Taking the time to sip water throughout the day in short intervals can help maintain proper hydration levels," he advised.

The benefits of staying hydrated include better digestion, circulation and temperature regulation.

HEALTHY AGING AND DRINKING WATER: FASCINATING FINDINGS FROM A NEW STUDY

It also promotes healthy skin, reducing the risk of dryness and wrinkles, said Winn.

4. Meditate and breathe

"Meditation has been scientifically proven to reduce stress levels by calming the nervous system and reducing the production of stress hormones like cortisol," said Winn.

Just 10 minutes of mindfulness meditation or deep breathing exercises can reduce stress levels significantly, he said.

"Breathing exercises can also improve lung function, increase oxygenation and promote relaxation," Winn went on. "This is particularly beneficial for individuals with respiratory conditions like asthma."

5. Walk outside

A 10-minute walk or quick workout can stimulate the release of endorphins, the body's natural mood lifters, said Winn.

81-YEAR-OLD FITNESS TRAINER OFFERS SMART WORKOUT TIPS FOR SENIORS: ‘IT'S GREAT TO BE FIT'

"Walking outside is an added bonus, as exposure to natural environments and sunlight has been shown to boost mood and reduce symptoms of anxiety and depression," he said.

Studies have shown that short bouts of exercise can help reduce blood pressure and improve cholesterol levels, Winn noted.

"Engaging in moderate-intensity exercise for as little as 10 minutes per day can lower the risk of heart disease and boost your metabolism throughout the day," he added.

6. Socialize

Socializing for just a few minutes each day can improve mental health by reducing feelings of loneliness and providing emotional support, Winn said.

"Spending 10 minutes daily to connect with loved ones or friends, whether in person or virtually, helps to create solid social support networks," he told Fox News Digital.

THE TRUTH ABOUT WHY YOU FEEL MORE ACHES AND PAINS IN THE COLD WEATHER — AND WHAT TO DO ABOUT IT

Strong social ties have been associated with lower rates of depression and anxiety , as well as better overall mental health, the expert noted.

"This is important with age, as interacting with others stimulates cognitive functions and can contribute to a sharper mind," he said.

7. Eat mindfully

Taking just 10 minutes to eat a meal mindfully can lead to better digestion and weight management , said Winn.

"Mindful eating encourages paying attention to food choices, portion sizes and the body's hunger cues, reducing overeating," he noted.

"Often, we are in a rush to prepare a meal quickly, but taking a little extra time to chop some vegetables and salad as part of your meals increases your intake of essential vitamins, minerals and fiber, which are important for overall health ."

8. Keep a journal

Whether it's at the start of the day or before bed, journaling or list-writing for 10 minutes can help you process emotions, reduce stress and gain insight into your thoughts and feelings, according to Winn.

"Practicing gratitude for 10 minutes each day can boost positive emotions, enhance life satisfaction and reduce symptoms of depression," he said.

COLORADO CARDIAC NURSE, AFTER THREE HEART ATTACKS, OFFERS SURVIVAL TIPS: ‘LISTEN TO YOUR GUT’

"Writing down daily goals and tasks is something that everyone can do to increase productivity and motivation."

9. Practice proper hygiene

Brushing and flossing your teeth daily can prevent dental issues, such as cavities and gum disease, Winn noted.

"Good oral hygiene is linked to better overall health, as it reduces the risk of systemic diseases," he said.

That same concept applies to washing your face before bed.

"Even if you've had a relaxed day, your skin is still exposed to dirt, sweat, bacteria and pollution throughout the day," Winn said.

CLICK HERE TO SIGN UP FOR OUR HEALTH NEWSLETTER

"This transfers to your pillow when you sleep, so washing your face is not only beneficial for your skin, but also limits the spread of germs and the potential for infection and illness ."

10. Wind down for bed earlier

Going to bed earlier allows for a more consistent sleep schedule, which can improve sleep quality and overall health, said Winn.

He recommends engaging in relaxation techniques for 10 minutes before bedtime, such as gentle stretching or meditation, to help you fall asleep faster and enjoy more restful sleep.

CLICK HERE TO GET THE FOX NEWS APP

"This improved sleep quality contributes to overall health and cognitive function, such as memory and mood, which will be needed to tackle the day ahead." </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>