<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>19 VfB Stuttgart II - TSV Schott Mainz</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Das Spiel:

Noch in der ersten Spielminute kamen die Gäste durch Silas Schwarz z">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>19 VfB Stuttgart II - TSV Schott Mainz</p>
            <span id="topic" >VfB Stuttgart</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.vfb.de/images/redaktion/images/neues/Junioren/23_24/U21/U21-vs-Schott-Jubel_00000_frz_960x540.jpg" alt="">

                <textarea id="text" readonly> Das Spiel:

Noch in der ersten Spielminute kamen die Gäste durch Silas Schwarz zu einem Torschuss, doch in der Folgezeit waren die Mainzer nur noch mit der Torverteidigung beschäftigt. Das Team von Trainer Markus Fiedler legte einen sehr dominanten und spielfreudigen Auftritt hin und kam zu Chancen. Mattis Hoppe scheiterte frei vor dem Torhüter (3. Minute) und der Schuss von Raul Paula knallte an die Latte (7.). In der 16. Minute lag der Ball dann im Tor der Mainzer, Thomas Kastanaras war der Torschütze. Nach einem Doppelschlag von Babis Drakas und Lilian Egloff (25. und 27.) drückte sich die Überlegenheit auch in Toren aus. Kurz danach setzte Laurin Ulrich seinen Schuss nur an den Pfosten. Auf der Gegenseite zeigte sich Silas Schwarz einmal gefährlich, sein Schuss ging aber am langen Pfosten vorbei. Trotz mehrerer Chancen dauerte es bis kurz vor dem Halbzeitpfiff für den vierten Treffer. Raula Paula verwandelte einen Elfmeter sicher.

Nur vier Minuten nach Wiederanpfiff erhöhte Thomas Kastanaras auf 5:0. Nach 55 Minuten krachten Dominik Nothnagel und Silas Schwarz mit den Köpfen zusammen. Beide mussten nach längerer Behandlungspause vom Platz. Dadurch wurde der Spielfluss etwas unterbrochen, zu Chancen kam die U21 aber weiterhin. Zunächst verhinderte Denis Wieszolek mit einem Reflex ein Eigentor (63.), dann verzog Leonhard Münst knapp (75.) und Raul Paula traf zum dritten Mal nur Aluminium (78.). In der Endphase wurden die Mainzer vor allem durch den eingewechselten Raphael Assibey-Mensah torgefährlicher, den letzten Treffer des Spiels erzielte aber Dejan Galjen in der 90. Minute zum 6:0-Endstand.

Die Tore:

16. Minute: Schöne Kombination an der Strafraumgrenze, die Thomas Kastanaras mit einem platzierten Flachschuss zum 1:0 abschließt.

25. Minute: Lilian Egloff erobert auf rechts den Ball, findet in der Mitte Raul Paula, der Babis Drakas mitnimmt und dieser trifft mit einem platzierten Schuss ins lange Eck.

27. Minute: In zentraler Position, 15 Meter vor dem Tor kommt Lilian Egloff zum Schuss und lässt Denis Wieszolek im Mainzer Tor keine Abwehrchance.

45. Minute: Lilian Egloff wird im Strafraum gefoult, Schiedsrichter Yannick Stöhr pfeift sofort. Raul Paula verwandelt sicher zum 4:0.

49. Minute: Doppelpack von Thomas Kastanaras. Laurin Ulrich bedient Babis Drakas, der in die Mitte passt, wo Kastanaras nur noch einschieben muss.

90. Minute: Li Egloff findet Babis Drakas, der flach vors Tor passt, dort hat Dejan Galjen keine Mühe das 6:0 zu erzielen.

Die Trainerstimme:

„Wir haben bis zum 5:0 einen geilen Fußball gespielt. Schnell gespielt, nach vorne gespielt, haben uns phasenweise regelrecht in einen Rausch gespielt und waren extrem kombinationssicher. Wir haben Chancen herausgespielt, Alu getroffen, das war eine tolle Leistung in der Offensive, aber wir waren auch in der Defensive aufmerksam. Wir wollten heute unsere Überlegenheit auch in Zählbares umsetzen, jetzt ist das Spiel eingetütet und ich hoffe, dass wir den Hunger auf Erfolg auch in den verbleibenden drei Spielen zeigen werden“, sagte Trainer Markus Fiedler.



Das nächste Spiel:

Bereits am Mittwoch steht für die U21 das Nachholspiel des 18. Spieltags an. Um 19 Uhr ist das Team von Markus Fiedler bei der SG Barockstadt Fulda-Lehnerz zu Gast.

Die U21 spielte mit:

Seimen – Groiß, Nothnagel (58. Kapp), Reichardt – Hoppe (46. Cissé), Di Benedetto (58. Simnica), Ulrich (58. Münst), Drakas – Paula, Egloff – Kastanaras (72. Galjen) </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>