<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2022 winter World Cup increased severity of injuries</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Open Extended Reactions

The mid-season World Cup in Qatar last year led to play">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>2022 winter World Cup increased severity of injuries</p>
            <span id="topic" >world cup</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://a2.espncdn.com/combiner/i?img=%2Fphoto%2F2023%2F1119%2Fr1255370_1296x729_16%2D9.jpg" alt="">

                <textarea id="text" readonly> Open Extended Reactions

The mid-season World Cup in Qatar last year led to players from Europe's top five leagues spending an average of eight days longer on the sidelines due to injury in the months after the tournament, a study has revealed.

Insurance group Howden published its European Football Injury Index for the 2022-23 season a year after the World Cup having studied the effects fixture congestion had on player welfare last season.

- Stream on ESPN+: LaLiga, Bundesliga, more (U.S.)

The study said that in October 2022, 88 recorded injuries led to players being sidelined for 11.35 days on average pre-tournament, but that rose to 19.41 days in January 2023 after the tournament.

Injuries to the ankle (170%), calf/shin (200%) and hamstring (130%) saw the greatest increase in severity.

"We've seen clearly that the staging of a men's World Cup in a European winter led to players facing an extra eight days on the sidelines in the second half of the season, compared to the first," Howden's head of sport James Burrows said.

"The impact was consistent across domestic leagues such as the English Premier League and the German Bundesliga."

France's Kylian Mbappé goes down in pain during the 2022 World Cup final against Argentina. Etsuo Hara/Getty Images

Burrows added that the increased injury severity contributed to the financial impact rising by nearly 30% from €553.62 million ($603.83m) to €704.89mn ($768.93m) across Europe's top five leagues.

"The data is clear in demonstrating a trend," he added.

"We hope our research and analysis will provide Europe's top clubs with additional insight as they continue to talk to the game's governing bodies about an improved alignment of the domestic and international calendars and the broad issue of fixture congestion."

The study showed there were 3,985 injuries in Europe's top five leagues over the course of the 2022-23 season.

The English Premier League and German Bundesliga had 23.6% and 14.8% of players competing in the World Cup respectively, and they saw the biggest impact on rates of injury.

"In the two months after the tournament, Bundesliga players ... suffered 46 injuries, compared to 49 in the English Premier League suggesting that the extended winter break in Germany following the men's World Cup proved to have minimal effect," the study said.

Earlier this year, international players' union FIFPRO said nearly half the players competing at the World Cup experienced extreme or increased mental fatigue during an unprecedented season of fixture congestion.

Around 44% of players experienced more physical fatigue and 23% more mental fatigue in January compared to other seasons while 53% felt more likely to suffer injuries. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>