<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>25 Contoh Ucapan Hari Batik Nasional, Cocok untuk Postingan Sosial Media</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Hari Batik Nasional merupakan hari yang dirayakannya batik sebagai bagian dari w">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>25 Contoh Ucapan Hari Batik Nasional, Cocok untuk Postingan Sosial Media</p>
            <span id="topic" >Selamat Hari Guru</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://awsimages.detik.net.id/api/wm/2023/08/10/ilustrasi-membuat-batik_169.jpeg?wid=54&w=650&v=1&t=jpeg" alt="">

                <textarea id="text" readonly> Hari Batik Nasional merupakan hari yang dirayakannya batik sebagai bagian dari warisan Indonesia dari generasi ke generasi.

Setiap tahunnya, Indonesia memperingati Hari Batik Nasional pada tanggal 2 Oktober. Dilansir dari laman resmi Kemenparekraf, hal itu ditetapkan berdasarkan Keputusan Presiden (Keppres) Nomor 33 Tahun 2009 tentang Hari Batik Nasional.

Hari Batik Nasional menjadi peringatan bagi bangsa Indonesia serta UNESCO mencatat batik sebagai sebagai Karya Agung Warisan Budaya Tak Benda sejak tanggal 2 Oktober 2009.

ADVERTISEMENT SCROLL TO CONTINUE WITH CONTENT

Dalam perayaannya, biasanya warga Indonesia akan mengenakan baju batik setiap tanggal 2 Oktober dalam rangka memeriahkan dan turut berpartisipasi dalam Hari Batik Nasional.

Selain memeriahkan Hari Batik Nasional dengan mengenakan baju batik, masyarakat Indonesia juga tidak lupa mem-posting foto Hari Batik Nasional di sosial media masing-masing. Nah, untuk caption postingannya, berikut detikSumut rangkum 25 contoh ucapan peringatan Hari Batik Nasional.

25 Contoh Ucapan Memperingati Hari Batik Nasional 2 Oktober

1. Selamat Hari Batik Nasional 2 Oktober. .Kenakan batikmu sebagai bentuk identitas bangsa dan warisan budaya Indonesia yang berharga.

2. Keberagaman motif batik Indonesia yang menjadi harta berharga kita. Selamat Hari Batik Nasional 2023.

3. Mengenakan batik sebagai bentuk bangga akan warisan Indonesia. Selamat Hari Batik Nasional!

4. Berbagai motif batik yang menjadi simbol warisan Indonesia. Tunjukkan batik kebanggaanmu. Selamat Hari Batik Nasional.

5. Suatu kebanggaan bagiku mengenakan batik yang menjadi karya dan warisan budaya negeriku. Selamat Hari Batik Nasional Indonesia!

6. Tidak hanya aku yang bangga akan setiap motif batik ini, namun setiap insan di dunia kagum akan setiap motif batik. Mari kita menunjukkan kebanggaan kita pada warisan budaya kita. Selamat Hari Batik Nasional 2 Oktober!

7. Di hari besar Batik Nasional ini, kenakan batik kebanggaan mu pemuda Indonesia. Selamat Hari Batik Nasional!

8. Mengenakan batik hari ini. Sungguh indah warisan budaya Indonesiaku. Mana batikmu?

9. Selamat Hari Batik Nasional Pemuda Indonesia. Sudah sepatutnya kita menjaga identitas budaya Indonesia.

10. Mengenakan batik terbaikku di Hari Batik Nasional, namun aku sudah mengenakan batik disetiap acara berharga ku. Selamat Hari Batik Nasional untuk Seluruh Pemuda Indonesia!

11. Mengenakan batik sebagai salah satu bentuk cinta Tanah Air. Selamat Hari Batik Nasional Indonesia.

12. Selamat Hari Batik Nasional 2 Oktober 2023. Jangan lupa kenakan batikmu di mana pun kakimu berdiri.

13. Aku begitu bangga pada hasil karya dan warisan budaya Indonesia. Aku bangga mempertontonkan batik sebagai ikon bangsaku. Selamat Hari Batik Nasional!

14. Selamat Hari Batik Nasional 2 Oktober. Kenakan batikmu yang menjadi identitas bangsa dan produk lokal Indonesia.

15. Selamat Hari Batik Nasional. Semoga batik semakin dikenal sampai ke manca negara.

16. 2 Oktober 2009, batik mendapatkan pengakuan dunia dari UNESCO. Aku bangga memiliki batik sebagai warisan budaya. Selamat Hari Batik Nasional Semua!

17. Darimana batikmu berasal? Apa motif batikmu? Ayo tunjukkan batikmu kepada dunia. Happy Batik Day All!

18. Batik yang merupakan identitas serta kekayaan kita. Ayo kita jaga. Ayo kita lestarikan. Selamat Hari Batik Nasional!

19. Selamat Hari Batik Nasional untuk seluruh Pemuda Indonesia! Yuk kita kenakan batik sebagai warisan budaya yang sudah diakui dunia!

20. Happy National Batik Day Indonesia. Proud to wear Batik.

21. Celebrating National Batik Day as one of the world heritage in Indonesia. Proud to wear Batik.

22. Happy National Batik Day!. Today, wearing another stunning element of Indonesia's fascinating culture.

23. Setiap batikdari daerah manapun memiliki cerita uniknya masing-masing. Selamat Hari Batik Nasional Indonesia.

24. Wearing Batik as one of the culture heritage of Indonesia. Proud to show the world. Happy National Batik Day 2 Oktober 2023!

25. Batik sebagai cerita yang diiring dari generasi ke generasi. Selamat Hari Batik Nasional Generasi Indonesia!

Itu dia 25 contoh ucapan perayaan Hari Batik Nasional. detikers dapat menggunakan ucapan di atas bersamaan dengan foto menggunakan batik di hari Batik Nasional. Semoga artikel ini bermanfaat bagi detikers.

Artikel ini ditulis oleh Angelina Giyanti Purba, peserta program Magang Bersertifikat Kampus Merdeka di detikcom.

Aksi Para Artis-Menteri Jokowi catwalk di Istana Berbatik </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>