<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4 takeaways from Alabama's 99 -91 win over Oregon</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="No. 17 Alabama (5-1) bounced back in the Emerald Coast Classic with a 99-91 win ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>4 takeaways from Alabama's 99 -91 win over Oregon</p>
            <span id="topic" >iron ball</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://optimise2.assets-servd.host/al-news/production/images/Aaron-Estrada-vs-Oregon.JPG?w=1200&h=630&q=82&auto=format&fit=crop&dm=1700957519&s=06f06567ed1949f14bee84022a8999a7" alt="">

                <textarea id="text" readonly> No. 17 Alabama (5-1) bounced back in the Emerald Coast Classic with a 99-91 win over Oregon.

On Friday night, the Crimson Tide struggled with the physicality of Ohio State and dropped their first game of the season. On Saturday, while Alabama fans gave their undivided attention to the Iron Bowl, Alabama put together an impressive performance against Oregon.

Here are some takeaways from the game.

Near Perfect From Free Throw Line

Alabama took a total of 28 attempts from the free throw line on Saturday and took advantage of them. Of the 28 attempts, Alabama hit 26 for 93%. Oregon also shot their free throws well, but Alabama did a good job of limiting their fouls. The Ducks were limited to just 15 attempts compared to the Crimson Tide’s 28.

Three-Point Shooting Improves

Coming into the Emerald Coast Classic, Alabama was leading the nation in three-point shooting at 50%. Coming off a disappointing performance the night before, Alabama bounced back with a better showing shooting the ball. Alabama went 9-for-24 from behind the arc for 38%. Alabama will be happy to get back to Tuscaloosa where they have been shooting the ball much better.

Alabama Dictates Tempo

Alabama was able to dictate the tempo against Oregon on Saturday after struggling to do so against Ohio State the night before. The Crimson Tide pushed the tempo of the game, and as a result, was able to get 21 fast break points to only nine for Oregon. The Crimson Tide offense thrives on running the floor under Nate Oats, and Alabama reaped the rewards of the fast break.

Domination In the Paint

While the three-point shot was not as effective as it had been all season, the Crimson Tide had to do their damage in the paint. Alabama scored 44 points, almost half its points, from inside the paint. Alabama also dominated the game on the glass, pulling down 40 rebounds to just 28 for Oregon.

Alabama will return back home to Coleman Coliseum on Tuesday to face Clemson at 8:30 p.m. CT as part of the ACC/SEC Challenge.

Don't miss out! Subscribe to our newsletter and get our top stories every weekday morning.

Featured Local Savings </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>