<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A life-changing injury transformed an expert’s view on disability services</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Share Comment on this story Comment Add to your saved stories Save

The GoFundMe">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>A life-changing injury transformed an expert’s view on disability services</p>
            <span id="topic" >health</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/HKAQXVJZLREGLQBJVA5NQQHBE4.jpg&w=1440" alt="">

                <textarea id="text" readonly> Share Comment on this story Comment Add to your saved stories Save

The GoFundMe request jumped out at me as I was scrolling through posts on LinkedIn. Nora Super, executive director of the 2015 White House Conference on Aging and former head of the Milken Institute Center for the Future of Aging, was seeking contributions after a severe spinal cord injury. Wp Get the full experience. Choose your plan ArrowRight “Right now, I have no feeling below the waist. I need lots of equipment to go home from the hospital and live safely and independently,” she wrote in her appeal to cover large expenses for equipment and adapting her home.

Because coping with disability — and the cost of coping with disability — is an enormously important issue for older adults, I wondered whether Super would discuss her experiences.

The Institute on Disability at the University of New Hampshire ran the numbers for me: About 19 million people age 65 and older in the United States — a third of that age group — had a disability in 2021, the latest year for which data is available. This includes difficulty with hearing, vision, cognition, mobility or activities such as bathing, dressing or shopping.

Advertisement

Super agreed to talk to me, but her story was more complicated than I anticipated.

Depression, then disabling injury

First, some context. Super, 59, has been open about her struggle with major depression. In mid-June, after leaving the Milken Institute under difficult circumstances, she began slipping into another depression — her fifth such episode since 2005.

Super’s psychiatric medications weren’t working, she said, and she sought electroconvulsive therapy (ECT), which had been effective for her in the past. But mental health services are difficult to get in a timely way, and Super couldn’t get an ECT appointment until Aug. 7.

On July 30, convinced that her life had no value, she attempted to end it. This was the event that led to her injury.

After two weeks in intensive care and a recovery unit, Super was ready to leave the hospital. But no rehabilitation facility would take her because of her mental health crisis. Without psychiatrists on staff, the facilities argued that they couldn’t ensure her safety, said Len Nichols, her husband.

Advertisement

Nichols, 70, has held several high-level health policy positions in his career, among them senior adviser for health policy at the Office of Management and Budget during the Clinton administration and director of the Center for Health Policy Research & Ethics at George Mason University.

Using every contact he could, Nichols searched for a facility in New Orleans where Super could get intensive rehab services. During the pandemic, the couple had moved there from their longtime home in Arlington, Va. Super grew up in New Orleans, and three of her sisters live there.

It took six days to get Super admitted to rehab. But that was just one of a series of challenges.

Over the next month, Nichols prepared for Super’s return home, at considerable expense. An elevator was installed in the couple’s three-story home (their bedroom is on the second floor) for $38,000. A metal ramp at the home’s entry cost $4,000. A lift for their Jeep cost $6,500. A bathroom renovation came to $4,000. An electronic wheelchair-style device that can be used in the shower was another $4,000.

Advertisement

Super’s privately purchased insurance policy covered a wheelchair, bedside commode, hospital bed and a Hoyer lift (a device that helps people transfer in and out of bed) with a small monthly co-payment.

Share this article Share

“It’s been surprising how much stuff I’ve needed and how much all of it costs,” Super said when we spoke on the phone.

“Even with all our education, resources and connections, we have had a hard time making all the arrangements we’ve needed to make,” Nichols said. “I cannot imagine how people do this with none of those three things.”

He showered praise on the physical and occupational therapists who worked with Super at the rehab facility and taught him essential skills, such as how to move her from bed to her wheelchair without straining his back or damaging her skin.

“I don’t think I ever appreciated how essential their work is before this,” he told me. “They explain what you’ll be able to do for yourself and then they help you do it. They show you a pathway back to dignity and independence.”

Advertisement

Still, the transition home has been difficult. “In the hospital, nothing was expected of me, everything was done for me. In rehab, you’re very goal-oriented and there are still people to take care of you,” Super told me. “Then, you come home, and that structure is gone and things are harder than you thought.”

Fortunately, Nichols is healthy and able to handle hands-on caregiving. But he soon needed a break, and the couple hired home-care workers for four hours a day, five days a week. That costs $120 daily, and Super’s long-term-care insurance pays $100.

They’re lucky they have some insurance coverage for long-term care. Medicare typically doesn’t pay for chronic help of this kind, and only about 14 percent of people 65 and older have private long-term-care insurance, according to KFF.

‘I still have a voice’

What does Super’s future look like? She isn’t sure. Physicians have said it could take a year to know whether she can recover function below her waist.

Advertisement

“I’m happy to be alive and to see how I can take where I’ve ended up and do something positive with it,” she said. “I still have a voice, and I can help people understand what it is to live with physical limitations in a way that I’ve never really understood before.”

Hopefully, this sense of purpose will sustain her. But it won’t be easy. After we spoke, Super became discouraged with her prospects for recovery and her mood turned dark again, her husband said.

“Knowing her,” said Stuart Butler, a senior fellow at the Brookings Institution who has worked with Super, “I believe that she will make it her mission to help others better understand the enormous and multiple challenges associated with the onset of a disability, and she will press for changes in our health system to improve the lives of families who have to deal with disabilities.”

Advertisement

Persistent accessibility problems for people with disabilities are part of what Super wants to speak out about. “I live in an old city with sidewalks that are very uneven, and just getting down the street in my chair is a big hassle,” she said. “Finding parking where we can open the door fully and get me out is a challenge.”

Nichols has been surprised by how many medical offices have no way of lifting Super from her wheelchair to the exam table. “The default is, they ask me, ‘Can you pick her up?’ It’s stunning how poorly prepared they are to help someone like Nora.”

Then, there are reactions Super encounters when she leaves the house. “Going down the street, people look at me and then they look away. It definitely feels different than when I was able-bodied. It makes me feel diminished,” Super said.

Advertisement

Nichols finds himself thinking back to something a neurosurgeon said on the day Super was injured and had her first operation. “He told me, ‘Look, there’s more damage than we thought, and she won’t be what she was. You’re not going to know for six to 12 months what’s possible. But I can tell you to do as much as you can as soon as you can to move on to a new normal. Millions of people have done it, and you can too.’”

If you or someone you know needs help, visit 988lifeline.org or call or text the Suicide & Crisis Lifeline at 988. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>