<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Southwest Airlines passenger opened an emergency exit and climbed onto a plane’s wing while the aircraft was at the gate</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="CNN —

A man on a Southwest Airlines flight opened an emergency exit door and cl">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>A Southwest Airlines passenger opened an emergency exit and climbed onto a plane’s wing while the aircraft was at the gate</p>
            <span id="topic" >Business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://media.cnn.com/api/v1/images/stellar/prod/231127185228-southwest-passenger-on-plane-112723.jpg?c=16x9&q=w_800,c_fill" alt="">

                <textarea id="text" readonly> CNN —

A man on a Southwest Airlines flight opened an emergency exit door and climbed onto the plane’s wing Sunday while the aircraft was at a gate at New Orleans Louis Armstrong International Airport, authorities said.

The Jefferson Parish Sheriff’s Office said it responded to a disturbance at the airport after a 38-year-old man opened the emergency exit door to access the wing and jump out. The plane was stationary and had not departed the gate at the time of the incident, and the man was stopped by personnel on the ground and held until deputies arrived.

Passenger Zed Webster told CNN he heard what sounded like an argument between two passengers across the aisle from him and was concerned they might start a fight. He said he took out his phone and began to record the incident.

As soon as he pressed the record button, Webster said the passenger unlatched the lock to the emergency exit door and jumped out the window. “I was terrified,” he said.

Webster’s video shows several passengers evacuating the plane and rushing through the jetway. Later, the video shows what appears to be an airline employee jumping from the jetway onto the tarmac to assist colleagues in subduing the passenger.

When deputies made contact with the passenger on the tarmac, he appeared “incoherent and not fully aware of his surroundings,” the sheriff’s office said.

The man was “transported to a local hospital for evaluation as the deputies believed he was suffering from a mental health emergency,” according to the sheriff’s office statement, and he remains hospitalized.

“There is no indication that the man left anything on the plane, nor was he found in possession of any weapons of any type,” the statement continued. “He is not expected to face any criminal charges locally, however the investigation has been referred to federal authorities. No one was injured during the incident.”

Chris Perry, a spokesperson for Southwest Airlines, told CNN in an email, “We commend our flight and ground crews for their swift action and apologize to our Customers for their inconvenience.”

After a delay, the flight departed using a different aircraft, according to Perry. Webster said the delay was about two hours and the flight arrived in Atlanta shortly before midnight. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>