<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aaron Ramsdale misses his chance for redemption while Man City give rivals hope - Premier League hits and misses</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Please use Chrome browser for a more accessible video player FREE TO WATCH: High">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Aaron Ramsdale misses his chance for redemption while Man City give rivals hope - Premier League hits and misses</p>
            <span id="topic" >premier league</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://e0.365dm.com/23/11/1600x900/skysports-aaron-ramsdale-arsenal_6372585.jpg?20231125204914" alt="">

                <textarea id="text" readonly> Please use Chrome browser for a more accessible video player FREE TO WATCH: Highlights of the Premier League clash between Brentford and Arsenal.

David Raya watched from the sidelines at Brentford but Aaron Ramsdale made sure he wouldn't be staying there.

Declan Rice and Oleksandr Zinchenko were to thank for Arsenal's clean sheet as Ramsdale bowed to the pressure inflicted on him by Mikel Arteta's attempt to have 'two No 1s'.

The Brentford fans taunted Ramsdale's every touch and bayed for a slip-up. It came after just 14 minutes, but Rice bailed him out.

There was another bizarre dip in concentration during the first half when he powered a throw into the ground just yards in front of him, surrendering possession while way out of his goal. The error also went unpunished.

If it wasn't obvious before, it is now that Raya is the real No 1.

David Richardson

Please use Chrome browser for a more accessible video player FREE TO WATCH: Highlights from Manchester City's match against Liverpool

There was a moment midway through the second half at the Etihad Stadium when Phil Foden had the opportunity to dart forward with the ball in an attempt to expose the Liverpool defence during a hectic phase in the game. Rodri could be seen gesturing for him to calm down.

Manchester City's playmaker wanted to control the game, manage it. As it turned out, his team's failure to find a second goal proved costly. It is the first time that City have surrendered points from a winning position in consecutive games since 2018.

Perhaps that can be partly explained by uncertainty about whether to push for the next goal or hold on to a slender lead. Asked beforehand if this game would be more like the sterile showing at Arsenal or the chaotic contest at Chelsea, Pep Guardiola appeared unsure.

Liverpool were hardly cutting through his team at will, in truth. But Trent Alexander-Arnold needed only the slightest invitation to unleash a shot from the edge of the penalty area. Quality players are capable of seizing those moments and he did so.

City will still feel that they were unfortunate. They had twice as many shots and the expected-goals tallies of 1.38 and 0.55 suggest that this performance could easily have resulted in a narrow victory. But when it is this tight, the margins can go against you.

Those tight games are becoming a trend against the stronger sides. Arsenal edged them out in the Community Shield and by the odd goal in the Premier League. City beat Newcastle 1-0 in the league but went out of the Carabao Cup to them by the same scoreline.

Add the 2-1 win over Brighton and these draws against Chelsea and Liverpool and it is only really Manchester United of the fancied teams who have been blown away. City have still looked good for long periods of these games but it is enough to offer hope to their rivals.

Adam Bate

Please use Chrome browser for a more accessible video player FREE TO WATCH: Highlights from Newcastle's win against Chelsea in the Premier League

Mauricio Pochettino must be becoming increasingly frustrated at the fragility of his Chelsea side. After going toe-to-toe with champions Manchester City in their last outing, the Blues were a mess at Newcastle.

Surrendering their hard-earned momentum is becoming a worrying theme for this youthful Chelsea team. After successive Premier League wins at the start of October, they threw away a two-goal lead at home to Arsenal, before following that up with defeat at home to Brentford.

And back in September, Pochettino's team backed up his first win as Blues boss with a three-game run that featured one point and zero goals.

Inconsistency is to be expected after Chelsea's dramatic pivot towards youth, but that decision only highlights the need for their more experienced players to lead by example.

That did not happen at St James' Park. Reece James was the main offender thanks to his dismissal for two entirely avoidable yellow cards, while Thiago Silva's mistake that led to Joelinton's goal killed the game.

Even Raheem Sterling must take some responsibility, with the winger giving away a needless free-kick and then compounding his error by collecting a booking for dissent in the build-up to Jamaal Lascelles' winning goal.

Conceding three goals and a red card in 23 second-half minutes, Chelsea’s leaders abandoned their post at St James' Park. Once again, it's back to the drawing board for Pochettino and his side.

Joe Shread

Image: Anthony Gordon celebrates after scoring his goal

Mauricio Pochettino bemoaned Chelsea's lack of intensity after the game at St James' Park. Newcastle had no such problems. They rarely do when Anthony Gordon is involved.

The 22-year-old put in a huge shift for Eddie Howe's depleted side. It is just what they have come to expect from him. Gordon made more high-intensity sprints than any of his team-mates. In fact, he has made more than any other Premier League player this season.

It helps, of course, that he is bringing so much quality too. After setting up Newcastle's second with a pinpoint cross for Jamal Lascelles, Gordon took his own goal brilliantly. The run was clever, the finish composed after cutting inside Benoit Badiashile.

It was his fifth goal in 12 Premier League games this season, meaning he has surpassed his previous highest total in the space of only three months. There have also been three assists. Only five players in the division have a higher combined total.

His latest contribution was timely given Newcastle went into the game with an absentee list stretching into double figures, but it was not surprising. Gordon's fine form continues.

Nick Wright

Please use Chrome browser for a more accessible video player FREE TO WATCH: Highlights from Luton's win against Crystal Palace

This one was not billed as the deluxe, five-star fixture of the weekend, but for fans of Luton Town, this felt like a crucial moment in their season.

They had moved out of the relegation by default during the international break. Everton's 10-point deduction had given the newly-promoted clubs renewed optimism, but on Saturday it was Luton who grasped the opportunity.

Rob Edwards' side had suffered five Premier League defeats by a single goal this season, the joint most of any side, but here they were on the right end of a game that was decided by fine margins.

Luton have spent approximately £32m on players since the summer 1992 so it wasn't a big surprise that Edwards' side became only the second team in Premier League history to lose their opening four games of a debut season after Swindon in 1993/94.

But having impressed at times in defeat this term, supporters will feel their players are finally acclimatising to the step up in class.

Ben Grounds

Image: De Zerbi celebrates with Pascal Gross after reaching the fans

Nine injuries or suspensions before the game then two more before half-time at Nottingham Forest, to say Brighton were up against it was an understatement.

Following setbacks to Ansu Fati and Tariq Lamptey, the Seagulls were missing an entire line-up when they went in at half-time. But they were 2-1 up because of one player.

Joao Pedro will take the post-match headlines with his goals either side of the break but the importance of Pascal Gross to this Brighton team cannot be understated.

Please use Chrome browser for a more accessible video player FREE TO WATCH: Highlights from Brighton's win against Nottingham Forest in the Premier League.

Brighton's first two goals came via two very different assists by the German - the first a brilliant drive and pass to Evan Ferguson, then a brilliant pin-point cross for Pedro's first.

And what is more, Gross has played in four different positions in his last four Premier League games. He was a defensive midfielder on Saturday, but was a right-back against Sheffield United, a left-back against Everton then an attacking midfielder against Fulham.

With Brighton riddled by injuries and unavailability - that number is now at 12 following Lewis Dunk's red card - Gross' flexibility and quality is key.

Sam Blitz

Please use Chrome browser for a more accessible video player FREE TO WATCH: Highlights from Bournemouth's win against Sheffield United in the Premier League

Bournemouth have lift off. We saw signs of life against Newcastle before the international break - spearheaded by the superb Dominic Solanke - and now we've seen enough to be convinced. Their resurgence under Andoni Iraola has the guile and backbone to go the distance.

"We have found continuity between performance and result," the Spaniard said post-match.

This wasn't just professional Bournemouth, this was slick Bournemouth, with sweeping counter-attacks and even a sprinkling of clinical finishing, if not throughout.

Defensive mettle too.

Sheffield United offered nothing, let's be clear. But that was, in part, due to Bournemouth's efficiency in and out of possession. They played like the home side - registering 23 shots at goal, 11 of those on target - and producing an xG of 2.71. For a side who have perennially suffered on the road, those numbers are astonishing.

Their success was epitomised by the performances of Marcus Tavernier and Antoine Semenyo, who ran United's frail backline ragged. All-out attack was the order of the day. Play like that consistently and the Cherries will have no problem securing their place in the Premier League for another deserving season.

Laura Hunter </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>