<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alabama Softball Falls in Game Three Sunday to Auburn, 3-1</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="TUSCALOOSA, Ala. – In a game three pitcher's duel to decide the weekend series, ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Alabama Softball Falls in Game Three Sunday to Auburn, 3-1</p>
            <span id="topic" >Alabama vs Auburn</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://d1a8hwz3c6qyrc.cloudfront.net/images/2023/4/23/KG_10570_web.jpg?preset=large.socialmediaimage" alt="">

                <textarea id="text" readonly> TUSCALOOSA, Ala. – In a game three pitcher's duel to decide the weekend series, Alabama brought the potential go-ahead run to the plate in the bottom of the seventh but could not complete the comeback as Auburn won the game, 3-1, to take the weekend series.

After two scoreless innings, Alabama (34-15, 10-8 SEC) fell behind after a two-out Auburn (35-14, 11-7 SEC) solo home run in the top of the third. The Crimson Tide started the bottom of the fourth with back-to-back singles and tied it up two batters later with an RBI groundout. Alabama stranded a runner at third in the fifth inning and, with two out and a runner on second in the top of the sixth, Bri Ellis dropped a single into shallow center to drive in the go-ahead run for the Tigers. An RBI double tacked on another run for Auburn to make it 3-1 halfway through the sixth.

Jenna Johnson and Kenleigh Cahalan started the home half of the sixth with back-to-back singles but the Tide couldn't bring either home, as it remained 3-1 heading to the seventh. Looking to add some insurance, the Tigers had two on with two out in the seventh, but a strikeout ended the threat in the half-inning. In the bottom of the seventh trailing by two, a walk to Lauren Esman and single from pinch-hitter Kali Heivilin put two on with two out for the top of the Alabama batting order, but a groundout ended the rally as Auburn held on to win, 3-1, and take the weekend series.

Johnson and Cahalan each had two-hit performances at the top of the order, their eighth and 10th multi-hit games of the season, respectively. Montana Fouts (18-8) had 11 strikeouts in the loss, her 11th game this season with double-digit strikeouts and the 53rd of her career. She also passed Stephanie VanBrakle (2003-06) into second all-time at Alabama with 1,120 career strikeouts, only trailing program record-holder Kelsi Dunne (2008-11) with 1,219.

From Head Coach Patrick Murphy

"First, I just want to say thanks to all the fans for coming out. It was a great atmosphere all weekend, having 4,000 people at all three games is awesome. The weather on Friday night was obviously horrible, and to have 4,000 people right back in here the next day and today is just great fan support. We all saw two really good pitchers going at it today, and unfortunately, [Auburn] got the key hits today when they needed them, and we didn't."

Highlights

Alabama is now 52-24 all-time vs. Auburn, including a 27-10 mark in Tuscaloosa

The multi-hit games from Kenleigh Cahalan and Jenna Johnson were their 10th and eighth of the season, respectively

and were their 10th and eighth of the season, respectively With 11 strikeouts today, Montana Foust now has 11 games with double-digit strikeouts this season and 53 for her career

Fouts also improved her career strikeout total to 1,120, passing Stephanie VanBrakle's (2003-06) career total of 1,113 and now only trailing program record-holder Kelsi Dunne's (2008-11) 1,219

Scoring Summary

T3 | Carlee McCondichie put Auburn on the board with a solo home run (0-1, 2 Out)

B4 | An RBI groundout brought the tying run home for Alabama (1-1, 1 Out)

T6 | The Tigers regained the lead with a two-out RBI single to center (1-2, 2 Out)

T6 | A Denver Bryant RBI double made it a two-run game (1-3, 2 Out)

Up Next: vs. LSU (Tuscaloosa, Ala.)

Friday, April 28 – 6 p.m. CT

Saturday, April 29 – 1 p.m. CT – ESPN2

Sunday, April 30 – 11:30 a.m. CT - ESPN

For the latest information on the team, follow @AlabamaSB on Twitter, BamaSB on Instagram and Alabama Softball on Facebook. General athletic news can also be found at UA_Athletics on Twitter and Instagram and AlabamaAthletics on Facebook. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>