<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alabama football vs. Auburn game time, TV announced for Iron Bowl 2023</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The game time and TV details have been locked in for the Alabama football game v">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Alabama football vs. Auburn game time, TV announced for Iron Bowl 2023</p>
            <span id="topic" >Alabama vs Auburn</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://www.tuscaloosanews.com/gcdn/presto/2021/11/27/NTTN/d575a65f-397d-4373-9742-02ceb1fe37e0-TUS_IronBowl2021GC1065.JPG?crop=3812,2145,x0,y217&width=3200&height=1801&format=pjpg&auto=webp" alt="">

                <textarea id="text" readonly> The game time and TV details have been locked in for the Alabama football game vs. Auburn in the Iron Bowl 2023.

Nick Saban's squad will face Hugh Freeze's team at 2:30 p.m. CT on Saturday, Nov. 25 at Jordan-Hare Stadium. The game will be televised on CBS.

It will mark the last game of the regular season as Alabama aims to go undefeated in SEC play. The Crimson Tide has won all its previous seven SEC matchups this season. The only loss Saban's team has logged came to Texas in Week 2.

Before the Iron Bowl, Alabama will face Chattanooga at home and New Mexico State will travel to Auburn to face the Tigers.

Auburn hasn't beaten Alabama since 2019 in what was a 48-45 victory in Auburn. Alabama is 49-37-1 all-time vs. the Tigers. This will mark the first chance for Freeze to coach against the Crimson Tide as coach of the Tigers.

His predecessor, Bryan Harsin, came close to beating Alabama in 2021 the last time the two teams played at Jordan-Hare Stadium. Alabama survived with a win in the fourth overtime.

JALEN MILROE:What Jalen Milroe's recent scoring tear for Alabama football means for Heisman Trophy odds

NICK SABAN:Alabama football players have been coachable. No wonder Nick Saban is having fun

Nick Kelly covers Alabama football and men's basketball for The Tuscaloosa News, part of the USA TODAY Network. Reach him at nkelly@gannett.com or follow him @_NickKelly on X, the social media app formerly known as Twitter. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>