<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All about Date, History, Celebrations of Gurpurab</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Guru Nanak Jayanti

Guru Nanak Jayanti, also known as Gurpurab, is the most impo">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>All about Date, History, Celebrations of Gurpurab</p>
            <span id="topic" >Gurpurab</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.business-standard.com/assets/web-assets/images/Business_Standard_685x385.jpg" alt="">

                <textarea id="text" readonly> Guru Nanak Jayanti

Guru Nanak Jayanti, also known as Gurpurab, is the most important festival for the followers of the religion of Sikhism. It is celebrated to commemorate the birth anniversary of the first Sikh Guru, Guru Nanak Dev. The festival is celebrated on the day of Kartik Poornima, which is the fifteenth lunar day in the month of Kartik according to the Hindu calendar, and usually falls in the month of November by the Gregorian calendar.

Guru Nanak Jayanti 2020: This year will mark the 551st birth anniversary of Guru Nanak and will be observed on Monday, November 30.

History of Guru Nanak Jayanti

Guru Nanak was born on April 15, 1469, at Rai Bhoi Ki Talwandi, near Lahore, which is in Sekhpura district of modern-day Pakistan. A Gurudwara was built at his birthplace in the city now known as Nankana Sahib. It is located in the Punjab province of Pakistan. Guru Nanak is regarded as a spiritual teacher who founded Sikhism in the 15th century. He started writing the Guru Granth Sahib and completed 974 hymns.

The main verses from the Guru Granth Sahib elaborate that the creator of the universe was one. His verses also preach selfless service to humanity, prosperity and social justice for all, irrespective of differences. The role of a Guru as a spiritual and social master forms the base of Sikh religion.

Guru Nanak Jayanti celebrations

Celebrations start in Gurudwaras two days prior to the day of Guru Nanak Jayanti. A 48-hour non-stop recitation of the Guru Granth Sahib , called Akhand Path, is held. A day before Guru Nanak’s birthday, a procession called Nagarkirtan is organised. The procession is led by five men, referred to as the Panj Pyare, holding the Sikh triangular flag, Nishan Sahib.

The holy Guru Grant Sahib is placed in a palanquin during the procession. People sing hymns in groups and play traditional musical instruments and also display their martial art skills. The joyful procession passes through streets decorated with flags and flowers.

Langar

Originally a Persian word, Langar translates as ‘an almshouse’ or ‘a place for the poor and needy’. In the Sikh tradition, that is the name given to a community kitchen. The concept of Langar is to provide food to anyone in need – irrespective of their caste, class, religion or gender – and always welcome them as the Guru’s guest.

It is said that Guru Nanak, when he was a child, was given some money and told to visit the market by his father to do ‘Sacha Sauda’ (a good bargain). His father was a well-known trader of his village and wanted young Nanak to learn the family business when he was just 12 years old. Instead of doing a worldly bargain, the Guru instead bought food with the money and fed a large group of saints who had been hungry for days. That is what he said was the “true business”.

On Guru Nanak Jayanti, the processions and celebrations are followed by a langar arranged at Gurudwaras by volunteers.

Sikhism and community service

In recent times, we have seen many gurudwaras come forward and provide food and shelter to those in need. Whether in India or abroad, wherever the need arises, the Sikh community can be seen helping people out in the best ways possible.

Guru Nanak Jayanti holiday

Guru Nanak Jayanti is celebrated as a public holiday in Punjab, Haryana, Rajasthan, Delhi, Uttar Pradesh, Uttarakhand, Madhya Pradesh, Gujarat, Maharashtra, Jharkhand and West Bengal. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>