<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alzheimer’s Neuropsychiatric Symptoms Linked to Brain Inflammation</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Summary: Researchers discovered that the neuropsychiatric symptoms in Alzheimer’">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Alzheimer’s Neuropsychiatric Symptoms Linked to Brain Inflammation</p>
            <span id="topic" >health</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://neurosciencenews.com/files/2023/11/neuroinflammation-alzheimerrs-neurosicnece.jpg" alt="">

                <textarea id="text" readonly> Summary: Researchers discovered that the neuropsychiatric symptoms in Alzheimer’s disease, such as irritability, agitation, and depression, primarily stem from brain inflammation rather than amyloid and tau proteins.

This study involved 109 elderly individuals and found a strong correlation between neuroinflammation and these challenging symptoms. The findings suggest new therapeutic targets for Alzheimer’s, focusing on neuroinflammation to alleviate both cognitive and psychological burdens.

This research also aligns with the growing understanding of neuroinflammation’s role in the early stages of Alzheimer’s and other dementias, offering new pathways for treatment development.

Key Facts:

The study shows a direct link between neuroinflammation and neuropsychiatric symptoms in Alzheimer’s, diverging from the traditional focus on amyloid and tau proteins. Neuroinflammation was particularly associated with rapid mood swings, one of the common and difficult-to-treat symptoms of Alzheimer’s. This research paves the way for clinical trials targeting neuroinflammation, potentially improving treatment effectiveness and caregiver experiences.

Source: University of Pittsburgh

Common neuropsychiatric symptoms that doctors see in Alzheimer’s disease patients originate from brain inflammation rather than amyloid and tau proteins, report University of Pittsburgh School of Medicine researchers today in JAMA Network Open.

The finding strengthens mounting evidence for the role of neuroinflammation in Alzheimer’s progression and suggests new pathways for the development of therapies targeting neurological symptoms of the disease.

Taken together, the study adds to the growing evidence of the role of brain inflammation in the early stages of the disease progression, when symptoms like excess irritability tend to emerge. Credit: Neuroscience News

“Neuropsychiatric symptoms such as irritability, agitation, anxiety and depression are among the most difficult symptoms to treat in patients with Alzheimer’s. They are difficult to control, have no clear cause and make it difficult for families to care for their loved one without lots of support,” said first author Cristiano Aguzzoli, M.D., postdoctoral associate at Pitt.

“Here, we show for the first time that brain inflammation may be to blame for these symptoms.”

Earlier this year, Pitt scientists discovered that excessive brain inflammation is critical for disease initiation and can predict whether cognitively unimpaired elderly are at a higher risk of developing Alzheimer’s symptoms.

Their earlier research hinted at the importance of neuroinflammation in the pathological cascade involving other key players in Alzheimer’s pathology including amyloid beta and tau.

The new findings provide the first strong evidence that brain inflammation is also a direct cause of neuropsychiatric symptoms that often accompany Alzheimer’s-associated dementias.

In the new study, the researchers worked with 109 elderly individuals, the majority of whom had no cognitive impairments. Most of those individuals were, however, positive for amyloid and tau.

By measuring levels of neuroinflammation, amyloid beta and tau via brain imaging and comparing the results with clinical assessments of neuropsychiatric symptom severity, the scientists discovered that microglial activation was strongly associated with a variety of neuropsychiatric symptoms, including disturbed sleep and agitation.

While levels of amyloid and tau alone were predictive of neuropsychiatric symptoms, neuroinflammation seemed to have an added effect.

Neuroinflammation was most strongly associated with caregivers or family members reporting their loved one’s rapid mood swings from calm to tears or anger, one of the common symptoms of the disease. Individuals whose caregivers showed higher levels of distress when caring for them had greater levels of brain inflammation.

Taken together, the study adds to the growing evidence of the role of brain inflammation in the early stages of the disease progression, when symptoms like excess irritability tend to emerge. It also suggests that clinical trials targeting neuroinflammation as a preventive therapy for Alzheimer’s could track neuropsychiatric symptoms as one way of measuring the treatment’s effectiveness.

Conversely, drugs specifically targeting neuroinflammation could potentially help reduce neuropsychiatric symptom severity and alleviate some of the psychological burden experienced by caregivers, thus improving patient support.

“Since both neuroinflammation and neuropsychological abnormalities are found in several other types of dementia, including Parkinson’s dementia, we are collaborating with scientists around the world to expand these findings to these other diseases,” said senior author Tharick Pascoal, M.D., Ph.D., associate professor of psychiatry and neurology at Pitt.

Other authors of this research include Pâmela Ferreira, Ph.D., Guilherme Povala, Ph.D., João Pedro Ferrari-Souza, B.S., Bruna Bellaver, Ph.D., Carolina Soares, M.Sc., Hussein Zalzale, M.Sc., Firoza Lussier, M.Sc., Francieli Rohden, Ph.D., Sarah Abbas, M.D., Douglas Leffa, Ph.D., Marina Scop Medeiros, M.D., Ann Cohen, Ph.D., Oscar Lopez, M.D., Dana Tudorascu, Ph.D., William Klunk, Ph.D., Victor Villemagne, M.D., and Thomas Karikari, Ph.D., all from Pitt.

About this Alzheimer’s disease research news

Author: Anastasia Gorelova

Source: University of Pittsburgh

Contact: Anastasia Gorelova – University of Pittsburgh

Image: The image is credited to Neuroscience News

Original Research: Open access.

“Neuropsychiatric Symptoms and Microglial Activation in Patients with Alzheimer Disease” by Cristiano Aguzzoli et al. JAMA Network Open

Abstract

Neuropsychiatric Symptoms and Microglial Activation in Patients with Alzheimer Disease

Importance

Neuropsychiatric symptoms are commonly encountered and are highly debilitating in patients with Alzheimer disease. Understanding their underpinnings has implications for identifying biomarkers and treatment for these symptoms.

Objective

To evaluate whether glial markers are associated with neuropsychiatric symptoms in individuals across the Alzheimer disease continuum.

Design, Setting, and Participants

This cross-sectional study was conducted from January to June 2023, leveraging data from the Translational Biomarkers in Aging and Dementia cohort at McGill University, Canada. Recruitment was based on referrals of individuals from the community or from outpatient clinics. Exclusion criteria included active substance abuse, major surgery, recent head trauma, safety contraindications for positron emission tomography (PET) or magnetic resonance imaging, being currently enrolled in other studies, and having inadequately treated systemic conditions.

Main Outcomes and Measures

All individuals underwent assessment for neuropsychiatric symptoms (Neuropsychiatry Inventory Questionnaire [NPI-Q]), and imaging for microglial activation ([11C]PBR28 PET), amyloid-β ([18F]AZD4694 PET), and tau tangles ([18F]MK6240 PET).

Results

Of the 109 participants, 72 (66%) were women and 37 (34%) were men; the median age was 71.8 years (range, 38.0-86.5 years). Overall, 70 had no cognitive impairment and 39 had cognitive impairment (25 mild; 14 Alzheimer disease dementia). Amyloid-β PET positivity was present in 21 cognitively unimpaired individuals (30%) and in 31 cognitively impaired individuals (79%). The NPI-Q severity score was associated with microglial activation in the frontal, temporal, and parietal cortices (β = 7.37; 95% CI, 1.34-13.41; P = .01). A leave-one-out approach revealed that irritability was the NPI-Q domain most closely associated with the presence of brain microglial activation (β = 6.86; 95% CI, 1.77-11.95; P = .008). Furthermore, we found that microglia-associated irritability was associated with study partner burden measured by NPI-Q distress score (β = 5.72; 95% CI, 0.33-11.10; P = .03).

Conclusions and Relevance

In this cross-sectional study of 109 individuals across the AD continuum, microglial activation was associated with and a potential biomarker of neuropsychiatric symptoms in Alzheimer disease. Moreover, our findings suggest that the combination of amyloid-β– and microglia-targeted therapies could have an impact on relieving these symptoms. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>