<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Are 'Samsung Glasses' the Apple Vision Pro rival we've been waiting for?</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="What you need to know

A new trademark with the product title "Samsung Glasses" ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Are 'Samsung Glasses' the Apple Vision Pro rival we've been waiting for?</p>
            <span id="topic" >technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sat-6, 2023</b>
                </span>
                <br><br>
                <img src="https://cdn.mos.cms.futurecdn.net/gAb4fXVQqV3jwZ4xTDtn2N-1200-80.jpg" alt="">

                <textarea id="text" readonly> What you need to know

A new trademark with the product title "Samsung Glasses" was approved on November 10 at the Intellectual Property Office in the U.K.

This is assumed to be the new Samsung XR headset that was originally scrapped after the Apple Vision Pro dropped as it sported a lackluster Exynos 2200 chipset.

Since then, Samsung has stated its XR headset could arrive in late 2024 and will likely feature Qualcomm's new supercharged XR chipset.

The development of a new virtual reality-bound Samsung product has just passed through an initial hurdle.

A trademark for a new device called "Samsung Glasses" received approval on November 10 in the Intellectual Property Office in the U.K., as spotted by UploadVR. Samsung was required to state what categories its product involves, to which it wrote the following: Virtual reality headsets; Augmented reality headsets; Headphones; Smartphones; Smart glasses.

The name having "glasses" in the title sends mixed signals as to whether this is the Samsung XR headset we've been waiting on or this is another product entirely, focused more on the AR glasses industry.

Samsung diving into AR glasses doesn't seem too likely at this point, not when you consider that its XR headset is expected to arrive in late 2024. Sources stated the company is interested in pushing around 30,000 units for the product's initial run with hopes of higher sales in the years to follow.

This rumor came a few months after Samsung's prototype was scrapped after witnessing the work Apple did with the Vision Pro. The early device apparently sported OLED microdisplays, and dual RGB cameras and depth sensor for passthrough. However, what kicked it to the wayside was its supposed use of an Exynos 2200 chipset.

The chip was known for providing subpar battery life to devices and performance lag — not a good look for a company's first dip.

As Samsung drops back into the kitchen, rumors add the company could tap Qualcomm's new XR chipset, slated to arrive in Q1 2024. The SoC is designed to match the strength and capabilities of Apple's Vision Pro and is likely built off the Oryon cores featured in the X Elite chip.

Taking the rumors at face value, we're basically a year out from anything officially dropping from Samsung. However, there is supposedly a possibility the company could begin teasing its Samsung Glasses XR headset during its Unpacked 2024 event where the Galaxy S24 series will headline. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>