<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Argentina and Brazil charged by FIFA after fan violence delays World Cup qualifying game at Maracana</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="ZURICH (AP) — FIFA opened disciplinary cases against Argentina and Brazil on Fri">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Argentina and Brazil charged by FIFA after fan violence delays World Cup qualifying game at Maracana</p>
            <span id="topic" >world cup</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://dims.apnews.com/dims4/default/912501e/2147483647/strip/true/crop/5364x3017+0+279/resize/1440x810!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F65%2Fd3%2Fe864235fc4cee5488853db5f8aa5%2F16751a0187eb4943b4837885d5a545d4" alt="">

                <textarea id="text" readonly> ZURICH (AP) — FIFA opened disciplinary cases against Argentina and Brazil on Friday after fan violence at the Maracana Stadium delayed the start of a World Cup qualifying game.

The Argentine soccer federation was charged with crowd disturbances and the late kick off at Tuesday’s game in Rio de Janeiro.

The Brazilian federation was charged with failures of managing security at a game it organized, FIFA said.

Fights among fans broke out after the national anthems. The teams were led back to the locker rooms and the game started 27 minutes late.

“There was family of the players (there). We were more worried about that than playing the match,” Argentina captain Lionel Messi said.

Argentina won the game 1-0.

FIFA gave no timetable to judge the case and impose sanctions.

The teams’ next World Cup qualifying games are in September. Brazil hosts Ecuador and Argentina hosts Chile.

Brazil and Argentina could next meet at the 2024 Copa America, a tournament that will be played in the United States from June 20 to July 14.

___

AP soccer: https://apnews.com/hub/soccer </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>