<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asian stocks subdued as traders brace for inflation data</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="SINGAPORE, Nov 28 (Reuters) - Asian stocks nudged higher on Tuesday, while the d">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Asian stocks subdued as traders brace for inflation data</p>
            <span id="topic" >Business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://www.reuters.com/resizer/wdNQEK8bxgdwIJJBN3wKFfkyMl4=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/SOYPWW527ZKYHKNPZB2O6HCXAI.jpg" alt="">

                <textarea id="text" readonly> SINGAPORE, Nov 28 (Reuters) - Asian stocks nudged higher on Tuesday, while the dollar wallowed near three-month lows as investors remained convinced the Federal Reserve was done with its rate-hike cycle and looked ahead to a crucial inflation report later this week.

MSCI's broadest index of Asia-Pacific shares outside Japan (.MIAPJ0000PUS) was 0.29% higher and set for a near 7% gain in November, its strongest monthly performance since January.

But European stock markets were set for a lacklustre open, with Eurostoxx 50 futures down 0.11%, German DAX futures 0.18% lower and FTSE futures down 0.09%. U.S. stock futures were little changed.

Investors will focus this week on the Fed's preferred measure of inflation on Thursday and euro zone consumer inflation figures for further clarity on the where prices and monetary policy is headed.

If the data shows inflation cooling further, then the markets will be more comfortable with expectations that the Fed is going to pause, according to Vasu Menon, managing director of investment strategy at OCBC Bank in Singapore.

"But I think it's not just this week's inflation indicator, it's also the December payroll numbers ... they'll be quite critical."

Markets are pricing in a 95% likelihood that the U.S. central bank will leave interest rates unchanged next month, with the possibility of a rate cut starting to gain ground in mid-2024, according to CME's FedWatch tool.

"Our view is that the Fed will probably start cutting rates when inflation goes below the 3% mark. And we see that happening sometime in the middle of next year," said Menon.

Officials from major central banks, though, have tried to put a lid on expectations that rate cuts are looming, pointing out that rates will need to stay higher for some time to defeat inflation.

"We think that monetary policy is likely to need to be restrictive for an extended period of time," said Bank of England Deputy Governor Dave Ramsden at a conference in Hong Kong.

On Monday, European Central Bank President Christine Lagarde said the central bank's fight to contain price growth is not yet done, citing still strong wage growth and an uncertain outlook even as inflation pressures in euro zone ease.

Fed Chair Jerome Powell is also due to speak on Friday and his words will be scrutinized by traders to gauge where rates may head.

China's blue-chip CSI 300 Index (.CSI300) was 0.17% lower while Hong Kong's Hang Seng index (.HSI) fell 1%, a day after data showed profits at China's industrial firms grew at a slower pace in October.

Japan's Nikkei (.N225) eased 0.12% but is up 8% this month, on course for its strongest monthly performance in three years.

U.S. data on Monday showed sales of new single-family homes fell more than expected in October as higher mortgage rates reduced affordability, but the housing segment remains supported by a persistent shortage of existing properties on the market.

The weaker-than-expected data weighed on Treasury yields, with the yield on benchmark 10-year notes slipping 9.6 basis points on Monday. In Asian hours, they were up 0.8 basis points at 4.396%.

The dollar index , a measure of the greenback against a basket of currencies, fell to 103.07, its lowest since Aug. 31. The index is down 3% and on course for its steepest monthly decline in a year.

The Japanese yen strengthened 0.27% to 148.27 per dollar, while the euro eased 0.05% to $1.0948.

The Australian dollar rose 0.19% to $0.6619, having earlier climbed to a four-month high of $0.6632. The New Zealand dollar touched a seven-week high of $0.6114 earlier in the session and was last at $0.60985.

Data showed retail sales in Australia unexpectedly slipped in October as consumers cut back on everything but food, though analysts believe many were merely saving some money to splurge on Black Friday sales that took place this month.

U.S. crude eased 0.13% to $74.76 per barrel and Brent was back below $80, with oil prices swaying between gains and losses ahead of OPEC+ meeting later this week.

Spot gold was 0.1% higher at $2,015.00 an ounce, after hitting a fresh six-month peak of 2,017.89 earlier in the session.

Reporting by Ankur Banerjee; Editing by Sam Holmes and Kim Coghill

Our Standards: The Thomson Reuters Trust Principles. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>