<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>At 60, Demi Moore Shows Off Toned Abs in Black String swimsuit Waterfall Pic</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Demi Moore posted a stunning swimsuit photo on Instagram.

The 60-year-old posed">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>At 60, Demi Moore Shows Off Toned Abs in Black String swimsuit Waterfall Pic</p>
            <span id="topic" >business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://s.yimg.com/ny/api/res/1.2/.MaLNlz5zwwLUkdb1g_Dmw--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD02NzU-/https://media.zenfs.com/en/hearst_prevention_66/d32f32c9cf41485bedb3c9c959d73d53" alt="">

                <textarea id="text" readonly> Demi Moore posted a stunning swimsuit photo on Instagram.

The 60-year-old posed in a black string swimsuit while standing underneath a waterfall.

“Sharing a few precious moments from my recent adventure,” she captioned the post.

swimsuit season might be over, but Demi Moore isn’t ready to pack hers up quite yet. Whether she’s lounging on a yacht in Greece or posing with her pup in a leopard print swimsuit, the 60-year-old consistently posts stunning swimsuit snaps on Instagram while soaking up the sun. So when she posted a batch of pics showing off toned abs in a black string swimsuit from a September “adventure” on the West Coast, fans went wild.

In the first photo, the actress stood underneath a beautiful waterfall, enjoying the moment, with closed eyes and arms outstretched towards the sky.



“Sharing a few precious moments from my recent adventure with @tilliewaltonofficial and @nash2o on #TilliesRiverTrip. Back in September, I had the opportunity to journey through the Grand Canyon on the Colorado River alongside so many beautiful souls,” Moore captioned her post. “We laughed, cried, and formed lifelong bonds that I will hold close to my heart forever. I will never truly be able to describe the many ways that this recent nature immersion has impacted me.”

Moore included a number of other shots with her vacation buddies, including a video of her and a friend dancing on a boat in the river, and another of the group posing underneath a smaller waterfall.

Fans loved Moore’s post. “A beauty in beautiful nature!” one fan commented. “Looks like you had the best time ever!” another wrote. “Demi you look amazing. You are my inspiration ❤️🔥,” another chimed in.

While Moore didn’t share details on her swimsuit, we’re inclined to believe it may be from her previous collaboration with Andie Swim. “A big part about” what inspired the collection “was thinking about the things that women feel sensitive about, whether it’s their tummy or other areas of the body,” Moore told People when the collab debuted. “They don’t want to look matronly or not feel hot or desirable. That was really something in my own mind, which is changing this idea that we become less desirable as we get older.”

Speaking of getting older, Moore has been open about her thoughts on aging and turning 60, in particular, and her optimism about entering a new decade. What she’s looking forward to? “Not being defined by a number and instead being defined by my experience. You hit 59 and you’re already thinking, ‘Well, I’m going to be 60.’ It feels very liberating,” Moore told People. “When I think of my grandmother at 60, she in a way seemed to be already resigned to being old. But I feel, in so many ways, more alive and present than ever.”

You Might Also Like </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>