<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Australia’s tax agency won’t clarify its confusing, ‘aggressive’ crypto rules</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Australia’s tax regulator has been unable to clarify confusing aspects of its ne">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Australia’s tax agency won’t clarify its confusing, ‘aggressive’ crypto rules</p>
            <span id="topic" >crypto</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://images.cointelegraph.com/cdn-cgi/image/format=auto,onerror=redirect,quality=90,width=1200/https://s3.cointelegraph.com/uploads/2023-11/ab0dcabc-b3e7-49fa-8487-f1910f36a6b3.jpg" alt="">

                <textarea id="text" readonly> Australia’s tax regulator has been unable to clarify confusing aspects of its new guidance that suggests capital gains tax (CGT) is payable on a slate of everyday decentralized finance (DeFi) transactions.

The Australian Taxation Office (ATO) failed to answer direct questions from Cointelegraph on whether staking Ether (ETH) on Lido or transferring funds via bridges to layer-2 networks are CGT events, leaving DeFi users in the dark about how to comply.

The Nov. 9 guidance from the ATO said CGT is payable when transferring tokens to another address or smart contract that a person doesn’t have “beneficial ownership” over or if the address has a non-zero balance of the tokens.

Exchanging “one crypto asset for a right to receive an equivalent number of the same crypto asset in the future,” providing liquidity to a protocol, wrapping tokens and loaning assets are ATO examples of DeFi uses incurring a CGT event.

While the criteria suggest the rules may encompass liquid staking — such as staking ETH on Lido — or sending tokens through a layer-2 bridge, this hasn’t been clarified.

An ATO spokesperson said in response to direct questions that the tax consequences of a transaction “will depend on the steps taken on the platform or contract, and the relevant surrounding facts and circumstances of the taxpayer who owns the cryptocurrency assets.”

The non-answer leaves investors unable to comply with the possibly unintended consequences of the opaque new guidance, which has not yet been tested in court.

A CGT event would mean that if a DeFi user in Australia bought ETH for $100 and then staked it or sent it via a bridge to an L2 when the price is $1,000, they would need to pay tax on $900 “profit,” even though they haven’t sold the ETH or realized a profit.

Liberal Party Senator Andrew Bragg told Cointelegraph that the former government had commissioned the Board of Taxation to propose appropriate rules for taxing cryptocurrency, but the findings have been delayed twice and will now not be released until February next year.

“In absence of legislation, the ATO has been allowed to make up the rules on their own,” Senator Bragg said.

He said the Labor government’s “laziness in not releasing these findings” has created complexity and uncertainty for Australian crypto users.

Koinly head of tax Danny Talwar said that, in his opinion, a transfer via a bridge may result in a CGT event, but it largely hangs on whether a change in beneficial ownership occurred.

He added that liquid staking would be a CGT event as the ATO views it as a crypto-to-crypto transaction where Ether is swapped for another token.

Related: Study claims 99.5% of crypto investors did not pay taxes in 2022

Matt Walrath, founder of Crypto Tax Made Easy, thinks the ATO doesn’t fully understand DeFi and called the new rules “aggressive.” He added that they make staking and transferring funds to layer-2 blockchains much tougher for Australian DeFi users.

“Things are moving so fast within DeFi, I think they don’t have enough of an understanding about the nature of [what] these transactions actually are.”

Walrath contested that beneficial ownership is transferred when users interact with staking contracts, including lending networks, meaning no CGT event should occur. He said stakers can still withdraw funds at any time, and the staked tokens technically don’t leave the user’s wallet.

“Although the bank might own my house when I mortgage it, I’m still the beneficial owner. I can rent that house out and derive the income from it. I’m the one who can enjoy it by living,” he said.

The way the ATO rules on wrapped tokens read, it also looks like bridging ETH to a L2 is a CGT event.



In fact, the way most bridges work...every cross-chain bridge could be considered a CGT event.



You think you're HODLing and transferring. The ATO thinks you're disposing and… — Crypto Tax Made Easy (@CryptoTaxSucks) November 17, 2023

Talwar suggested the new rules on wrapped tokens lack “economic substance.”

“Wrapped Bitcoin is economically similar to Bitcoin, and therefore, there is a question as to whether a CGT event has occurred.”

“We need more people in the Austr crypto community fighting for sensible tax laws,” Walrath stressed.

Magazine: Best and worst countries for crypto taxes — Plus crypto tax tips

Additional reporting by Jesse Coghlan. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>