<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Dylan Sprouse Refused to Tell a Fat Joke on Suite Life</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Photo: Charles Eshelman/FilmMagic

Not on Dylan Sprouse’s watch, Disney. In a re">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Baby Dylan Sprouse Refused to Tell a Fat Joke on Suite Life</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sat-6, 2023</b>
                </span>
                <br><br>
                <img src="https://pyxis.nymag.com/v1/imgs/17a/41e/2c9e8ff7a4ab2761f74784d058e8115208-dylansprouse.1x.rsocial.w1200.jpg" alt="">

                <textarea id="text" readonly> Photo: Charles Eshelman/FilmMagic

Not on Dylan Sprouse’s watch, Disney. In a recent episode of the Back to the Best podcast, Kim Rhodes said the young Sprouse twins “defended” her throughout The Suite Life of Zack & Cody, where she played their on-screen mom. She specifically described a moment on set when Dylan refused to say a “fat joke” about her, which she said was the show’s way of dealing with her pregnancy. According to Rhodes, Dylan kept omitting the line from the middle of a chunk of dialogue. “And finally we get in front of the studio audience, and he skips it, and the executive producer screams, ‘Cut! Dylan, say the line,’” Rhodes recalled in part. “And he goes, ‘I would not disrespect any woman that way, let alone this woman. You write something funny, and I’ll say it.’” (Disney did not immediately respond to Vulture’s request for comment.)

Cole and Dylan Sprouse — “my little men,” as Rhodes fondly described them — were 12 years old when Suite Life started airing in 2005. According to Rhodes, co-star Phill Lewis (a.k.a. Mr. Moseby) informed the brothers early on that they had sway: “Phill was like: ‘Look, you’re the only people on this set that are not expendable, so you take the bullet every time,’ and they took that so seriously,” Rhodes said. Ultimately, Dylan and Cole left the Suite Life franchise because of creative control issues with Disney. “We were 18. If that isn’t old enough to know exactly what the show needs, then … well, I would beg to disagree,” Dylan told Vulture in 2017. “I don’t think [Disney] were willing to work with us, really ever. So, we stopped the show.” No one wants to be in the cut with their twin, but not vibing. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>