<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backing Israel, Elon Musk sees need to stop murderous propaganda</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="JERUSALEM, Nov 27 (Reuters) - Tech entrepreneur Elon Musk lent support on Monday">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Backing Israel, Elon Musk sees need to stop murderous propaganda</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.reuters.com/resizer/GrkVeD1th-TT-W-TYqnHuvBGD_Y=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/43HJZHUTZRKXLPYOTF4PV5QYHU.jpg" alt="">

                <textarea id="text" readonly> JERUSALEM, Nov 27 (Reuters) - Tech entrepreneur Elon Musk lent support on Monday to Israel's campaign against Hamas, saying one challenge was stopping propaganda of a sort that led to the Palestinian faction's killing spree that triggered the Gaza war.

The owner of the social media platform X, formerly known as Twitter, Musk was on an unusual visit to Israel, during a four-day pause to the fighting, and held a live online discussion with Prime Minister Benjamin Netanyahu.

Hearing Netanyahu describe the destruction of Hamas, which Israel has set as a war goal, as necessary for any prospective peace with the Palestinians, Musk sounded his general agreement for such objectives during an X Spaces discussion.

"There's no choice," said Musk, who also owns Tesla and SpaceX, adding: "I'd like to help as well."

"Those that are intent on murder must be neutralised," Musk said. "The propaganda must stop that is training people to be murderers in the future. And then, making Gaza prosperous. And if that happens, I think it will be a good future."

Netanyahu replied: "I hope you will be involved. And the fact that you came here, I think, speaks volumes to your commitment to try to secure a better future."

Musk has himself been accused of incitement after agreeing on Nov. 15 with a post that falsely claimed Jews were stoking hatred against white people.

Netanyahu showed Musk some footage of the Oct. 7 attack assembled from Hamas bodycams, CCTV and other sources.

When they last met, in California on Sept. 18, Netanyahu urged Musk to strike a balance between protecting free expression and fighting hate speech after weeks of controversy over antisemitism on X.

Musk said previously that he opposed anything that "promotes hate and conflict," including any X content. In a possible reference to his solidarity visit to Israel, Musk posted on X earlier on Monday: "Actions speak louder than words."

He was also due to meet Israeli President Isaac Herzog and families of hostages held by Hamas in Gaza. Herzog's office said he and Musk would discuss "the need to act to combat rising antisemitism online".

Elon Musk, Chief Executive Officer of SpaceX and Tesla and owner of X, formerly known as Twitter, attends the Viva Technology conference dedicated to innovation and startups at the Porte de Versailles exhibition centre in Paris, France, June 16, 2023. REUTERS/Gonzalo Fuentes/File Photo Acquire Licensing Rights

Last month, as the war raged, Musk proposed using Starlink to support communication links in the blackout-hit Gaza enclave with "internationally recognised aid organizations".

At the time, Israeli Communications Minister Shlomo Karhi objected, saying "Hamas will use it (Starlink) for terrorist activities".

But in a new tack on Monday, Karhi said Israel and Musk had reached an agreement in principle whereby "Starlink satellite units can only be operated in Israel with the approval of the Israeli Ministry of Communications, including the Gaza Strip".

In an X post addressed to Musk, Karhi said he hoped the visit to Israel "will serve as a springboard for future endeavours, as well as enhance your relationship with the Jewish people and values we share with the entire world".

In his Nov. 15 comment on X, Musk added the view that the user who referenced the false "Great Replacement" conspiracy theory was speaking "the actual truth".

The theory holds that Jewish people and leftists are engineering the ethnic and cultural replacement of white populations with non-white immigrants that will lead to a "white genocide."

Responding to that comment, the White House condemned what it called an "abhorrent promotion of antisemitic and racist hate" that "runs against our core values as Americans".

Major U.S. companies including Walt Disney (DIS.N), Warner Bros Discovery (WBD.O) and NBCUniversal parent Comcast (CMCSA.O) paused their advertisements on his social media site.

Following the outbreak of the Gaza war, antisemitic incidents in the United States rose by nearly 400% from the year-earlier period, according to the Anti-Defamation League, a nonprofit organisation that fights antisemitism.

Antisemitism and Islamophobia have risen worldwide, including during the Gaza war.

Musk has said X should be a platform for people to post diverse viewpoints, but the company will limit the distribution of certain posts that may violate its policies, calling the approach "freedom of speech, not reach".

Writing by Dan Williams; Editing by Howard Goller

Our Standards: The Thomson Reuters Trust Principles. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>