<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big box retailers bringing the discounts this holiday season</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="After two years of higher spending, consumers are battling challenges like risin">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Big box retailers bringing the discounts this holiday season</p>
            <span id="topic" >business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sat-6, 2023</b>
                </span>
                <br><br>
                <img src="https://s.yimg.com/ny/api/res/1.2/wcNX54l453749hunikRQ1g--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD04MTE-/https://s.yimg.com/os/creatr-uploaded-images/2023-11/3c7e0ca0-8965-11ee-bbff-b403b9e95965" alt="">

                <textarea id="text" readonly> After two years of higher spending, consumers are battling challenges like rising interest rates, dwindling savings, the return of student loan payments, and credit card debt.

"Call it choiceful, discerning, careful, cautious," Telsey Advisory Group CEO Dana Telsey told Yahoo Finance Live. "It's going to be a cautious [holiday] season."

JCPenney CEO Marc Rosen told Yahoo Finance that its customers, who typically earn a median household income of $75,000, are facing "bills that are $700 more a month" compared to two years ago, "whether that's fuel prices, rent, or food."

Retailers, in turn, are facing slowing sales — unless they break out the coupon books.

Best Buy (BBY), Nordstrom (JWN), Macy's (M), Kohl's (KSS), and Target (TGT) all saw same-store sales decline compared to last year in their latest quarterly earnings, whereas value-oriented retailers Walmart (WMT) and TJ Maxx parent TJX Companies (TJX) saw low-single-digit gains.

Online or in-store, the deals started earlier. Companies like JCPenney, Target, Best Buy, Walmart, and Macy's kicked off Black Friday-type deals in October and early November.

"Across the board, [retailers] are all being highly promotional to make sure that they are earning and keeping their core shoppers and not getting affected by the continued trade-down effect," Julie Van Ullen, Rakuten Rewards chief revenue officer told Yahoo Finance over the phone.

Rakuten, which is a website extension that offers cash back for online shoppers, is giving as much as 20% cash back at Nordstrom's brand Bloomingdale's and at more than a dozen other retailers.

Read more: 6 ways to save money on your Black Friday shopping list

On a call with investors, Nordstrom CEO Erik B. Nordstrom said the retailer is using promotions as a lever to increase foot traffic, which "has been down a bit."

Specials like its members-only 5x Beauty rewards are "driving extra traffic” and helping with loyalty program sign-ups, said Nordstrom.

Story continues

Margaret Sietsema and her daughter Azalea Sietsema shop at a Target store ahead of the Thanksgiving holiday and traditional Black Friday sales in Chicago, Illinois, U.S. November 21, 2023. REUTERS/Vincent Alban (Vincent Alban / reuters)

Where there are deals, consumers are responding. From Nov. 1 to Nov. 20, online shoppers have spent $63.2 billion, up 5% from last year, according to an e-commerce report from Adobe Analytics.

Deeply discounted categories include electronics (24% off list price), toys (23%), apparel (21%), televisions (19%), appliances (17%), sporting goods (15%), and furniture (13%).

As a result, online sales for toys are up 76% compared to October, and sales for appliances and apparel are up 30% and 22%, respectively.

That momentum is expected to continue throughout this week. During Cyber Week — the five-day period between Thanksgiving and Cyber Monday — the industry is projected to see $37.2 billion dollars in online spending, roughly 17% of the total holiday season.

Affordable retailers are cashing in. On a call with investors, TJX Companies CEO Ernie Herrman said the company is "set up very well to be top of mind for consumers" this holiday season, as its value perception is resonating.

When there is "uncertainty in the macro environment," customers are expecting promotions, Kohl's CFO Jill Timm said on a call with investors. The chain plans to "really lean into promotions in the fourth quarter," Timm added.

Macy's 34th Annual Great Tree Lighting ceremony was held at Union Square in San Francisco, California, United States on November 9, 2023. (Tayfun Coskun/Anadolu via Getty Images) (Anadolu via Getty Images)

Taking everything into consideration though, the current promotional landscape isn’t too far out of the norm, per incoming Macy's CEO Tony Spring.

"I'm 36 years into this, and I haven't known the fourth quarter that isn't competitive and isn't promotional," Spring said on a call with investors.

However, Macy’s will need to be "nimble and competitive with promotions as needed ... to end the fourth quarter in an appropriate inventory position," said Spring.

When asked which retailer will come out on top this week, Van Ullen said that retailers who are on the ball and responding quickly to consumer preferences will have the upper hand.

Focusing on real-time data allows "brands and retailers to pivot and be as nimble as possible during this time."

She added: "The best thing that we can all do together is share insights and be nimble in order to create strategies that allow merchants to offload inventory gluts."

—

Brooke DiPalma is a senior reporter for Yahoo Finance. Follow her on Twitter at @BrookeDiPalma or email her at bdipalma@yahoofinance.com.

Click here for all of the latest retail stock news and events to better inform your investing strategy </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>