<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bizarre iPhone glitch causes woman's alarm to go off at 9:25am every day despite her not having scheduled it - and even Apple is baffled</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The sound of the alarm going off in the morning is something that most of us dre">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Bizarre iPhone glitch causes woman's alarm to go off at 9:25am every day despite her not having scheduled it - and even Apple is baffled</p>
            <span id="topic" >Technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://i.dailymail.co.uk/1s/2023/11/27/11/78275837-0-image-a-42_1701084920641.jpg" alt="">

                <textarea id="text" readonly> The sound of the alarm going off in the morning is something that most of us dread.

But for one woman, the trill of the daily iPhone alarm is especially irritating.

Angele Sofia, a British TikToker, claims she's being 'haunted' by an alarm that goes off at 09:25 every morning - despite her not having scheduled it.

Ms Sofia has posted a series of videos on her TikTok, pleading for help with the unusual problem.

'I'm convinced I'm going to die at 9:25 in the morning. Like it's a prediction of my death,' she said.

The sound of the alarm going off in the morning is something that most of us dread. But for one woman, the trill of the daily iPhone alarm is especially irritating

READ MORE: What the secret symbols on your iPhone REALLY mean The dot indicates where the current temperature falls on the temperature scale for that day. If the high is predicted to be 82 degrees and the white dot is at the end, it's the warmest part of the day Advertisement

Ms Sofia posted her first video on the issue five days ago, and it's already been viewed over 780,000 times.

'I have some sort of glitch or problem on my iPhone that no single Apple employee can seem to figure out, so I'm turning to TikTok because I need help,' she said in the video.

'Basically, I have an alarm that goes off every morning at 9:25am without fail.

'And I do not have an alarm set at 9:25, nor have I ever had an alarm set at 9:25am.'

According to Ms Sofia, the alarm started 'out of the blue' around four or five years ago, and has gone off every day since.

'The alarm only rings if my phone is not on silent, which obviously isn't normal for an alarm, and it only rings once,' she explained.

This isn't the first iPhone Ms Sofia has experienced the issue on, with the alarm 'transferring through phones'.

'When you get a new iPhone, you can transfer your data over, because I don't want to start fresh,' she vented.

'My 9:25 alarm comes with it, and it's the most stressful thing.'

Ms Sofia has posted a series of videos on her TikTok, pleading for help with the unusual problem. 'I'm convinced I'm going to die at 9:25 in the morning. Like it's a prediction of my death,' she said

READ MORE: TikToker reveals where the iconic Nokia ringtone comes from - and users can't believe it The original, tinny ringtone was first featured in an advert for the Nokia 1011 back in 1992. But since then, it has been through several iterations Advertisement

Taking to the comments, several users suggested fixes for the alarm, with many claiming that it was likely scheduled in the Health app.

'It's in your Health app,' one user commented, while another added: 'I FIGURED IT OUT!! Go to health app>summary tab>sleep>full schedule & options>edit full schedule>scroll down> delete schedule.'

Unfortunately, when Ms Sofia attempted this fix, she was left disappointed.

'If I go through my alarms into my sleep, there I nothing set up,' she explained in a follow-up video.

'If I go through Health and into the sleep section, you can also see that it's not in there either.'

Other users suggested that resetting her Settings app or deleting the Clock app would resolve the issue.

Neither or these suggestions proved fruitful, however.

In a video posted this morning, Ms Sofia said: 'I genuinely think at this point there's nothing I can do.

'I've deleted the Clock, I've deleted the Calendar, I've deleted the Shortcuts app, I've deleted my reminders.

'I've deleted all the things that people say it could come from and have rebooted my phone after deleting them.

'I think at this point it might just be time to retire.'

MailOnline has contacted Apple for comment on the issue. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>