<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breaking News LIVE: Prime Minister Modi To Visit Sri Venkateswara Temple In Tirumala</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Breaking News LIVE: Hello and welcome to the live blog of ABP Live. Please follo">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Breaking News LIVE: Prime Minister Modi To Visit Sri Venkateswara Temple In Tirumala</p>
            <span id="topic" >Gurpurab</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://feeds.abplive.com/onecms/images/uploaded-images/2023/11/27/41e3f7a4160c5ee516f9ab8601260f42170102383478625_original.jpg?impolicy=abp_cdn&imwidth=1200&imheight=628" alt="">

                <textarea id="text" readonly> Breaking News LIVE: Hello and welcome to the live blog of ABP Live. Please follow this space for all the breaking news and latest updates from India and around the world.

Prime Minister Narendra Modi To Visit Sri Venkateswara Temple In Tirumala

Prime Minister Narendra Modi is set to visit the Sri Venkateswara temple in Andhra Pradesh's Tirumala on Monday morning. Modi will spend the night at Tirumala, offer prayers at the temple on Monday morning, and then proceed to Telangana.

President Droupadi Murmu To Attend 'Boita Bandan Ustav' In Odisha

President Droupadi Murmu is scheduled to participate in the 'Boita Bandan Ustav' at Paradip Port in Odisha's Jagatsinghpur district on Monday. This marks the President's second visit to Odisha in a week, having spent three days in her home district Mayurbhanj and Sambalpur from November 20.

According to her itinerary, Murmu, the first President to visit Paradip Port since its inception in 1962, will grace the 'Boita Bandana' ceremony, commemorating Odisha’s ancient maritime glory. Additionally, she will virtually inaugurate a multi-model logistic park, lay foundation stones for a new reservoir and water treatment plant for the Port Township, and initiate the next-gen vessel traffic management and information system. During her visit to Paradip, she is expected to interact with members of the fishing community.

Punjab Govt To Launch Pilgrimage Scheme Launch on Guru Nanak Jayanti

The ruling Aam Aadmi Party (AAP) in Punjab will launch a pilgrimage scheme for elderly people on the occasion of Guru Nanak Dev's birth anniversary on Monday. The Punjab cabinet approved the Mukhyamantri Tirath Yatra scheme on November 6. According to AAP spokesperson Jagtar Singh Sanghera, the scheme, to be inaugurated on Monday, will benefit over 50,000 elderly people. Under this initiative, individuals will have the opportunity to visit various religious places, including Hazur Sahib Nanded, Patna Sahib, Anandpur Sahib, Talwandi Sabo, and the Naina Devi temple, using trains and buses for free. The state government has allocated Rs 40 crore for the scheme. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>