<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruce Willis' daughter Scout shares a video of them holding hands as they spend Thanksgiving together</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Bruce Willis's daughter, Scout LaRue Willis, posted some sweet Thanksgiving mome">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Bruce Willis' daughter Scout shares a video of them holding hands as they spend Thanksgiving together</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://i.insider.com/65636fe6fd6200867dcf519b?width=1200&format=jpeg" alt="">

                <textarea id="text" readonly> Bruce Willis's daughter, Scout LaRue Willis, posted some sweet Thanksgiving moments on Instagram.

She posted a video showing her smiling as she held hands with her father.

After announcing his retirement in 2022, Willis' family shared that he had dementia in February.

NEW LOOK Sign up to get the inside scoop on today’s biggest stories in markets, tech, and business — delivered daily. Read preview Loading Something is loading. Thanks for signing up! Access your favorite topics in a personalized feed while you're on the go. download the app Email address Sign up By clicking “Sign Up”, you accept our Terms of Service and Privacy Policy . You can opt-out at any time.

Advertisement

Bruce Willis' daughter, Scout LaRue Willis, shared a touching video of her and her father clasping hands as they spent time together over Thanksgiving weekend.

Scout — the "Die Hard" star's second eldest daughter whom he shares with ex-wife Demi Moore — posted on Instagram Stories a video of her sitting at a dinner table beside her 68-year-old father, whose diagnosis of frontotemporal dementia (FTD) was made public this year.

The clip, captioned with "My guy," was followed by a photo that showed Scout, 32, resting her head on her dad's palm.

Scout smiled as she held hands with her father in the video. Scout Willis (@scoutlaruewillis)/Instagram

Willis' family shared in February that he was diagnosed with the degenerative condition that can have symptoms similar to Alzheimer's, including memory loss and communication challenges.

Advertisement

Willis' daughter shared the posts on Thanksgiving. Scout Willis (@scoutlaruewillis)/Instagram

It's unclear whether all of Willis' family were there to celebrate the holiday. The "Fifth Element" star's second wife, Emma Heming Willis, marked the day by posting what appeared to be a throwback photo of the entire blended family on Instagram.

"I'm grateful and thankful to know this kind of love," she captioned the image. "Wishing you all a Happy Thanksgiving."

In the photo, Scout could be seen alongside her sisters Rumer, 35, Tallulah, 29, and her half-sisters Mabel, 11, and Evelyn, 9. Moore and Heming Willis, who married the action star in 2009, were also pictured.

The photo appears to be from early 2023 or late 20,22 as it shows Rumor pregnant. Willis' eldest daughter gave birth to her daughter in April and shared a photo on her social media profile on Thanksgiving in which she did not appear to be pregnant.

Advertisement

Willis' family has regularly provided updates about his condition since they announced in a March 2022 statement that he was "stepping away" from acting.

The actor was first diagnosed with aphasia, a condition that can cause loss of speech and difficulty with writing and understanding language. Then, in February 2023, his family announced his condition had progressed, and he'd also been diagnosed with FTD.

Appearing on "The Drew Barrymore Show" earlier this month, Scout's younger sister Tallulah was asked about her father's condition and stated: "He is the same, which I think, in this regard, I've learned is the best thing you can ask for."

According to The Association for Frontotemporal Degeneration, there are no treatments for the disease.

Advertisement

In June 2023, Willis' family said they "will never lose hope" that scientists will discover a cure for dementia. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>