<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bryan Adams says Taylor Swift inspired him to rerecord: 'You realize you’re worth more'</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="For a guy who has sold more than 75 million albums worldwide and crafted some of">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Bryan Adams says Taylor Swift inspired him to rerecord: 'You realize you’re worth more'</p>
            <span id="topic" >usa</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.usatoday.com/gcdn/presto/2023/06/07/USAT/1f6c4aed-0f7c-4a21-867b-8ea9e48001ad-BA_AlbumCover_Corvair_0784.jpg?crop=3103,1746,x0,y621&width=3103&height=1746&format=pjpg&auto=webp" alt="">

                <textarea id="text" readonly> For a guy who has sold more than 75 million albums worldwide and crafted some of the most muscular anthems in rock, Bryan Adams is deeply humble.

He doesn’t think his recent Songwriters Hall of Fame nomination – for penning smashes including “Cuts Like a Knife,” “Run to You” and “Summer of ‘69” – will result in induction and he shrugs off continually being ignored by the Rock & Roll Hall of Fame (he’s been eligible since 2005).

Adams doesn’t spend much time ruminating about industry accolades, he instead stays focused on his stagecraft and delivering hits “Heaven,” “Can’t Stop This Thing We Started” and “(Everything I Do) I Do it For You” to arenas full of fans around the world.

Adams, 64, rolled through the U.S. this summer with Joan Jett & The Blackhearts for a tour supporting his 2022 album, “So Happy it Hurts.”

He’ll embark on a new leg Jan. 20 in Montana and hit cities including San Jose, Austin, Orlando and Charlotte with “mate” Dave Stewart and his “Eurythmics Songbook.”

Adams is also releasing a “Live at the Royal Albert Hall” box set Dec. 8, featuring three of his albums – “Waking up the Neighbours,” “Cuts Like a Knife,” “Into the Fire” – played in their entirety.

In a recent phone chat, Adams shared with USA TODAY why he’s grateful to Taylor Swift (he’s taking his daughters to a show in his native Canada next year), his love of road life and the award nomination that almost made him fall off his chair.

More:Gene Simmons is proud KISS 'did it our way' as band preps final two shows ever in New York

I caught your tour kickoff in Baltimore in June and was amazed at how strong your voice sounded. How have you preserved it so well? Do you have any kind of vocal regimen?

I have no idea. Genetics, perhaps. I’ve never really been one to get out there and party much so that might be part of it. I keep myself to myself. I also tour differently than most people – two weeks on two weeks off – so it gives you time for a breather and for family. I’ve worked it out how I like to work and live. I also never wrote songs that were out of my range so even the early songs aren’t such a stretch to sing.

You’re heading over to Greece and Austria in December and then have another round of U.S. dates kicking off in January. Do you like being on the road?

I do because I get a second family with the band and crew and it’s great to keep the music going. It’s nice to go to these amazing places because you get to do a little history research. I made a pact with myself in the ‘90s that I would take my band around the world and go places people haven’t gone before. We were the first people to play in Portugal, India, Vietnam, Egypt and Lebanon where nobody tours.

Are you bringing the inflatable car (that appears at the back of the arena) for the next round?

Damn right. That’s Doris. She’s gonna be there throughout the tour.

Do you think you’ll switch up the setlist much from the first leg?

For the American shows we’ll keep it similar to what you saw. It gets all of the hits plus a few from “So Happy It Hurts.” Every night I do an audience request thing and ask them what they want to hear. People will bring signs with song names on them.

Have you ever been stumped?

I’m regularly stumped. (Laughs.) Usually not that I can’t remember the song, but I can’t remember the chords. (Longtime guitarist) Keith Scott is my foil for this. He remembers everything, for songs and facts, so if I ever write my memoir he’ll be at my side.

Any favorite songs of yours pop up in the requests?

“Cloud Number Nine” is one. I went through a period in the late ‘90s when my recording contract got transferred and my albums got lost in the shuffle. That’s the way the business was then, tumultuous times.

So I take it you like the freedom of being an independent artist now?

I feel emboldened and empowered now. Taylor Swift, I’m quite grateful to her because I rerecorded my masters (for “Classic” and “Classic Pt. II”) after hearing she did it. She was my inspiration. Now, my productivity has been so high. I think a lot comes from the fact that I’m independent and with that comes renewed vigor. It makes you see things quite differently, too. You realize you’re worth a little more.

Why did you have a problem estimating your worth in the music industry?

I’m the biggest culprit of underplaying my value. Last year when I got a Grammy nomination (best rock performance for “So Happy it Hurts”) I almost fell off my chair. It was my first in 24 years and I thought, what? It’s not like I haven’t been doing anything all these years, but I was so thrilled and happy that it happened because it’s coming from peers. It’s encouraging as a songwriter because people do listen.

In addition to the tour, you also have the “Live at the Royal Albert Hall” box set that you recorded in May 2022. Why were those shows so special?

Featuring a different album every night made each night completely unique. We’re doing it again next year in May: three more albums (“18 Til I Die,” “Reckless” and “So Happy it Hurts”) for another box set and set of films. It’s one of my favorite venues to play. It’s not big, so you get a sense of intimacy there. It was just a lot of fun for me, though I had to remember all of those songs!

More:The worst people at concerts, from self-involved selfie takers to nonstop filmers </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>