<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bullet point previews of Premier League matches</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Soccer Football - Premier League - Burnley v Manchester City - Turf Moor, Burnle">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Bullet point previews of Premier League matches</p>
            <span id="topic" >premier league</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://www.reuters.com/resizer/b7ndAgvZpC8Q6HT_cIkWdCbKZGA=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/FJ2EVH3C7ZJDNMF5U7ZZSFOHKM.jpg" alt="">

                <textarea id="text" readonly> Soccer Football - Premier League - Burnley v Manchester City - Turf Moor, Burnley, Britain - August 11, 2023 General view of the Premier League trophy before the match Action Images via Reuters/Jason Cairnduff/File Photo Acquire Licensing Rights

Nov 23 (Reuters) - Match-by-match facts and statistics ahead of the next round of Premier League fixtures from Nov. 25-27 (all times GMT):

Saturday, Nov. 25

Manchester City v Liverpool (1230)

* Liverpool are one of the only two clubs City striker Erling Haaland has not scored against in the top flight.

* City's Kevin De Bruyne, John Stones, Nathan Ake, Sergio Gomez and Mateo Kovacic will likely remain on the sidelines due to injuries. Brazilian goalkeeper Ederson and Norway's Haaland, who missed games on international duty, are expected to feature in the top-of-the-table clash.

* Liverpool forward Mohamed Salah has netted seven times in 12 league appearances against City, who have won their last 23 home games across all competitions.

Sheffield United v Bournemouth (1500)

* Sheffield United have been in poor form at home, losing four, winning one and drawing one. The promoted side sit 18th after collecting five points from 12 matches.

* Dominic Solanke scored a double to help Bournemouth move out of the bottom three with a 2-0 win over Newcastle United. They are 16th in the standings.

* Sheffield United and Bournemouth are among the three teams who have conceded the most goals, with Paul Heckingbottom's team top of the list with 31 and Andoni Iraola's third on 27.

Newcastle United v Chelsea (1500)

* Chelsea will look to carry on their momentum after victories over London rivals Tottenham Hotspur and drawing with City when they take on seventh-placed Newcastle, who lost their last two games in all competitions.

* Callum Wilson, Newcastle's leading scorer for the past three seasons, joined a long list of injuries at St James' Park. Harvey Barnes, Sven Botman, Jacob Murphy, Dan Burn, Elliot Anderson and Matt Targett were already on the sidelines.

* Chelsea, 10th, received a boost with the return of captain Reece James, while Frenchman Christopher Nkunku and Romeo Lavia edge closer to making their debuts for the Stamford Bridge side following injury setbacks.

Luton Town v Crystal Palace (1500)

* Luton, 17th, are on a six-match winless streak, with their last victory coming against Everton.

* Mads Andersen, Dan Potts, Reece Burke and Albert Lokonga are among those injured at Kenilworth Road.

* Palace are sweating on the fitness of Jesurun Rak-Sakyi, James Tomkins and Dean Henderson. They are 13th in the standings.

Nottingham Forest v Brighton & Hove Albion (1500)

* Brighton could see Kaoru Mitoma miss out through injury after the winger withdrew from Japan's squad. The South Coast side were already without captain Lewis Dunk, Danny Welbeck, Julio Enciso, Solly March, James Milner.

* Taiwo Awoniyi is Forest's top scorer with four goals.

* Eighth-placed Brighton are winless in five league matches, their longest such run since Roberto De Zerbi's first five games in charge in October last year.

Burnley v West Ham United (1500)

* Promoted Burnley have scored the least goals (nine) in the league this season.

* West Ham's Michail Antonio, Jarrod Bowen and Mohammed Kudus suffered injuries during the international break. Bowen is the league's third-highest scorer this season.

* Midfielder James Ward-Prowse could again be the key for West Ham, having provided five assists this season.

Brentford v Arsenal (1730)

* This will be Mikel Arteta's 200th match in charge of Arsenal in all competitions (W115, D34, L50).

* Brentford are winless in their last three games against Arsenal (D1 L2).

* Arsenal midfielder Fabio Vieira will miss the game after picking up a straight red card in their 3-1 win over Burnley.

Sunday, Nov. 26

Tottenham Hotspur v Aston Villa (1400)

* Spurs started the season with eight wins from 10 matches but have dropped to fourth after defeats by Chelsea and Wolves.

* Micky van de Ven and James Maddison have picked up long-term injuries, while Richarlison underwent groin surgery that will rule him out of action for a few weeks.

* Villa will hope to take their fine home form to Spurs. Villa have opened a season in the top division with six successive home wins for the first time since 1932-33.

Everton v Manchester United (1630)

* Everton became the first Premier League club to be deducted points for breaching profitability and sustainability rules last week, when the league docked the Merseyside club 10 points. They dropped to second-from-bottom from 14th.

* Keeper Andre Onana and Denmark duo Christian Eriksen and Rasmus Hojlund have added to United's injury problems over the international break, with Lisandro Martinez, Luke Shaw and Casemiro among long-term absentees.

* United have lost nine of their opening 17 matches of a season in all competitions for the first time since 1973-74, when they were relegated.

Monday, Nov. 27

Fulham v Wolverhampton Wanderers (2000)

* Fulham have only picked up one point in their last four league matches.

* Wolves are unbeaten in their last six games against Fulham.

* Fifteenth-placed Fulham and Wolves, 12th, are separated by just three points.

Compiled by Pearl Josephine Nazare in Bengaluru; Editing by Ed Osmond

Our Standards: The Thomson Reuters Trust Principles. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>