<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy women's basketball tickets for Alabama A&M vs. Auburn on November 26</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The Alabama A&M Bulldogs (2-2) will play the Auburn Tigers (3-2) on Sunday, Nove">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Buy women's basketball tickets for Alabama A&M vs. Auburn on November 26</p>
            <span id="topic" >Alabama vs Auburn</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://gray-wala-prod.cdn.arcpublishing.com/resizer/lPnHBcNvlYfTJHefMVEwXCLBmYs=/1200x600/smart/filters:quality(85)/cloudfront-us-east-1.images.arcpublishing.com/gray/ZRSBAOU7SZN4HDGSKX2J2BPL7I.jpg" alt="">

                <textarea id="text" readonly> The Alabama A&M Bulldogs (2-2) will play the Auburn Tigers (3-2) on Sunday, November 26, 2023 at Neville Arena. The game is scheduled to tip off at 3:00 PM ET.

If you're looking to attend this matchup in person, head to Ticketmaster to buy your tickets!

Alabama A&M vs. Auburn Game Information

Get tickets for this game at Ticketmaster

Game Day: Sunday, November 26

Sunday, November 26 Game Time: 3:00 PM ET

Watch college basketball, other live sports and more on Fubo! Use our link to sign up for a free trial.

Buy Tickets for Other Alabama A&M Games

Rep your team with officially licensed college basketball gear! Head to Fanatics to find jerseys, shirts, and much more.

Catch college basketball action all season long on Fubo!

Auburn Players to Watch

Honesty Scott-Grayson: 13.8 PTS, 5.2 REB, 2.2 AST, 1 STL, 0.2 BLK

13.8 PTS, 5.2 REB, 2.2 AST, 1 STL, 0.2 BLK Savannah Scott: 10.4 PTS, 6.2 REB, 0.4 AST, 0 STL, 0.8 BLK

10.4 PTS, 6.2 REB, 0.4 AST, 0 STL, 0.8 BLK Taylen Collins: 7.6 PTS, 7 REB, 1 AST, 1.2 STL, 0.4 BLK

7.6 PTS, 7 REB, 1 AST, 1.2 STL, 0.4 BLK Mar'shaun Bostic: 7 PTS, 3.2 REB, 2.6 AST, 1.6 STL, 0.4 BLK

7 PTS, 3.2 REB, 2.6 AST, 1.6 STL, 0.4 BLK Sydney Shaw: 9.8 PTS, 2 REB, 1.2 AST, 0.8 STL, 0.2 BLK

Sportsbook Promo Codes

Not all offers available in all states, please visit BetMGM for the latest promotions for your area. Must be 21+ to gamble, please wager responsibly. If you or someone you know has a gambling problem, contact 1-800-GAMBLER. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>