<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy a 1-Year Costco Membership This Cyber Monday and Get $40 Back to Spend</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="With inflation still pretty high, you're probably looking to make every penny co">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Buy a 1-Year Costco Membership This Cyber Monday and Get $40 Back to Spend</p>
            <span id="topic" >Cyber Monday</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.cnet.com/a/img/resize/cb31e9bf2bfc3151aac829ffef7ebda9a62ffe60/hub/2022/10/28/58a126d5-5a16-436f-ad6d-79e99fda2a75/gettyimages-1415909895.jpg?auto=webp&fit=crop&height=675&width=1200" alt="">

                <textarea id="text" readonly> With inflation still pretty high, you're probably looking to make every penny count this Cyber Monday. And one of the best ways to save some cash is by purchasing your groceries and other everyday essentials in bulk. Most big-box stores like Costco will require a membership to shop there, but right now we've spotted a bargain that can help you save on the upfront cost. A Costco Gold Star membership is typically $60 per year. But when you sign up right now through StackSocial, you'll automatically get $40 back in the form of a digital Costco gift card, which essentially drops the price down to just $20.

This offer is available only to new customers, or those whose memberships have been expired for more than 18 months. There's no set expiration for the deal, so there's no telling how long it'll remain available. We'd recommend signing up sooner rather than later if you don't want to miss out on these savings.

Get the most out of Cyber Monday 2023 Black Friday isn’t the end of the deals. Cyber Monday continues many of the best holiday deals, and often includes some new sales, too. See the best Cyber Monday deals, and keep up with all the latest deals with our full Cyber Monday live blog coverage.

Read more: How to Get the Most Out of Your Costco Membership

With a Costco Gold Star subscription, you'll get one membership card for your household. It allows you to shop at any Costco warehouse worldwide, as well as online at Costco.com. And while Costco is a great place to save on groceries and other everyday essentials, it offers a lot more, too. A Gold Star membership also means you can use Costco's gas stations and pharmacies, as well as Costco's optical and hearing aid centers.

After you sign up, you'll receive your $40 shop card via email. The card can be used both in store and online. It's also worth noting that after you pay for membership through StackSocial, you'll have until Jan. 27 to redeem the membership, or you may not be able to take advantage of the deal. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>