<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catherine Zeta-Jones says her children have grown up watching Om Shanti Om, calls The Lunchbox one of her favourites</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Hollywood couple Michael Douglas and Catherine Zeta-Jones made a grand entry at ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Catherine Zeta-Jones says her children have grown up watching Om Shanti Om, calls The Lunchbox one of her favourites</p>
            <span id="topic" >Entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://www.hindustantimes.com/ht-img/img/2023/11/27/1600x900/catherine_1701094933106_1701094933602.jpg" alt="">

                <textarea id="text" readonly> Hollywood couple Michael Douglas and Catherine Zeta-Jones made a grand entry at the 54th edition of the International Film Festival of India (IFFI) in Goa. When asked about her favourite films from India, she was quick to add how she loves Shah Rukh Khan-starrer Om Shanti Om. She also called The Lunchbox one of her favourite films of all time. (Also read: Michael Douglas, Catherine Zeta-Jones and son Dylan attend IFFI, Goa. Watch) Catherine Zeta-Jones opened up on her memories of watching films like Om Shanti Om and The Lunchbox.

What Catherine said about her favourite Bollywood films

As per a video from news agency ANI, Catherine said on the red carpet, “I love the country and the people so very much. I am a big fan of Indian Cinema. My children have grown up watching Om Shanti Om on a loop! Not just once… There are so many great movies that I have been able to watch, not much as I should have but now with streaming and film being crossing so much... A movie that I love was The Lunchbox. It was one of my favourite movies and it still is one of my favourite movies of all time. It touched me, it was so well acted, so well directed. It was a story that was so fundamentally Indian but it connected to men and women all over the world. It connected to me as a woman. I watched it on an airplane twice! I asked my agent if I could meet him in person and I did and that was really special.”

Catherine's connection with India

At the press conference, the snippet of which was shared on social media account of PIB, Catherine said: “The story I’ve never told before is that India has touched me in a very serious personal way. It was an Indian doctor who saved my life with a tracheotomy when I was 18 months old. I wonder why when I come to India, I have this feeling of coming home, this tingly feeling… and maybe it has something to do with that. The reason I’m here is because of the brilliance of an Indian doctor in the UK.”

Michael Douglas, who sat beside Catherine at the press conference, also spoke about his abiding love for India, where he has visited a couple of times. Michael, who will be awarded the Satyajit Ray Excellence in Film Lifetime Award at the festival, said that he is grateful that he was chosen for the tremendous honour and thanked the festival directors in his note.

On Monday, the veteran actor was seen with Catherine Zeta-Jones and their son Dylan Douglas at the film festival in Goa as they posed for the paparazzi. Michael looked dapper in a printed dark blue jacket and black trousers. Catherine looked stunning in a light blue one-shoulder gown which she paired with stilettos.

Catherine Zeta-Jones and her works

Catherine is one of the most revered actors in Hollywood, having won an Academy Award, a British Academy Film Award, and a Tony Award in her four-decade-long career. Some of her notable films include Ocean's Twelve, Chicago, Traffic, The Mask of Zorro and No Reservations. She was recently seen in the hit Netflix series Wednesday, where she portrayed Morticia Addams.

Entertainment! Entertainment! Entertainment! 🎞️🍿💃 Click to follow our Whatsapp Channel 📲 Your daily dose of gossip, films, shows, celebrities updates all in one place </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>