<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centenarian who played golf until she was 86 gives her tips for living to 100</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="A centenarian who celebrated her 102nd birthday this month says staying active a">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Centenarian who played golf until she was 86 gives her tips for living to 100</p>
            <span id="topic" >technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://i.dailymail.co.uk/1s/2023/11/16/14/77882109-0-image-m-15_1700145580570.jpg" alt="">

                <textarea id="text" readonly> A centenarian who celebrated her 102nd birthday this month says staying active and having younger friends are key to living a long life.

Janet Gibbs lives on Allity Claremont Terrace in Bolton Clark - a retirement community in Australia.

Centenarians are people who live to be at least 100 years old, and their habits broadly include healthy eating, exercise as part of their daily routine and spending time with friends and family.

Gibbs follows all of those habits and shared in an interview with Bolton Clark that she's always loved athletics.

'I have always been hyperactive. I loved sports like golfing, lawn bowls, tennis, hockey, and riding push bikes around St. Kilda with my friends,' she said.

Janet Gibbs, 102, celebrated her birthday earlier this month at her home on Allity Claremont Terrace in the Bolton Clark retirement community in Australia

Gibbs was born in New Zealand in November 1921, and moved to Australia when she was three years old.

She eventually became a nurse at age 17, began night school when she was 28 years old, and lived in the UK for a time with her husband and three sons.

She eventually began to play golf in her 30s, and did so until she was 86 years old.

Gibbs stated in her Bolton Clark interview: 'I played golf until I was 86 at Patterson River Golf Club, then I joined the lawn bowls. I think you need a sport.'

Other than having a positive attitude, Gibbs told Insider that the main advice for people who want to live a long life is to 'just be happy.'

Gibbs believes other things besides happiness are essential in living a long life.

The former golfer believes that everyone should do a sport, and says that 'exercise is important' when it comes to living a longer life.

'Even today at my age, my aim is to walk around the garden six times every morning and in the afternoon, a walk with lifestyle staff around the block,' she said during her Bolton Clark interview.

One birthday she remembers was when her late husband, friends, and family, all went out to dinner together in what she described as 'quite exciting'

According to statistics published in the British Journal of Sports Medicine on February 28, researchers also believe this to be true.

They found that people who exercise at least 75 minutes per week had lower risks of mortality, heart disease, strokes, and various cancers.

Spending time with friends and family also helps in Gibbs' long life, especially those 10 years her junior who help keep her young.

One of those times was a non-fancy birthday dinner with her husband, friends, and family.

'I remember that when my husband was still alive, our family held a birthday dinner with family and friends and for me, which was quite exciting,' she recalled in her Bolton Clark interview.

She continues to socialize with residents in her community by lawn bowling in her spare time, which also helps her stay active and on her feet.

Gibbs believes that spending time with friends and family is important for a longer life span, and continues to stay active in her community by lawn bowling

In addition to being active and spending time with friends or family, Gibbs maintains a healthy diet - but she does not specify what kind of diet that is.

Many centenarians follow high-fiber, high-carb diets with vegetables and whole foods.

One of the healthiest diets that can give someone a higher lifespan is the Mediterranean diet, which includes whole foods, vegetables, and olive oil.

According to Gibbs, one main thing people should also do is to make sure they their body and mind active.

She told Insider that she keeps her brain active by reading audiobooks on her iPad. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>