<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>China warns South Korea not to politicise economic issues</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="South Korean Foreign Minister Park Jin, right, talks with his Chinese counterpar">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>China warns South Korea not to politicise economic issues</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.reuters.com/resizer/yxOvBsCDY0XMCKauFNuBacscID0=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/LKLQADSCW5L33DJDI2EVP3MOI4.jpg" alt="">

                <textarea id="text" readonly> South Korean Foreign Minister Park Jin, right, talks with his Chinese counterpart Wang Yi prior to a meeting in Busan, South Korea, Sunday, Nov. 26, 2023. Ahn Young-joon/Pool via REUTERS Acquire Licensing Rights

BEIJING, Nov 26 (Reuters) - Chinese Foreign Minister Wang Yi warned his South Korean counterpart on Sunday not to politicise economic and tech issues as the two prepared to meet Japan's top diplomat on the sidelines of a trilateral meeting aimed at boosting cooperation.

"China and South Korea have become cooperation partners with highly integrated interests and highly interconnected production and supply chains," Wang told South Korean Foreign Minister Park Jin, according to a Chinese foreign ministry readout.

"Both sides should jointly resist the tendency to politicise economic issues, instrumentalise science and tech issues, and the broad securitisation of trade issues."

South Korea has sought to avoid becoming embroiled in a tit-for-tat row between China and the United States over semiconductors.

The U.S. last month granted Samsung Electronics (005930.KS) and SK Hynix (000660.KS) permission to supply U.S. chip equipment to their China factories indefinitely, ending a conundrum for the world's two largest memory chipmakers.

"China is willing to jointly promote the restart of revamped trilateral cooperation with South Korea and Japan," Wang said on Sunday.

While China and the United States have been mending frayed ties, including a summit this month between Presidents Xi Jinping and Joe Biden, Beijing is concerned that Washington and its key regional allies are strengthening their three-way partnership.

Beijing, Tokyo and Seoul had agreed to hold summits every year starting in 2008 to bolster diplomatic and economic exchanges, but the plan has been blocked by bilateral rows and the COVID-19 pandemic. Their last trilateral leaders' meeting was in 2019.

The three foreign ministers are gathering in the port city of Busan, also the first such meeting since 2019. In September, senior officials from the three countries agreed to arrange a trilateral summit at the "earliest convenient time".

South Korean President Yoon Suk Yeol and Japanese Prime Minister Fumio Kishida have taken steps to repair ties strained by history and trade feuds, and held a historic trilateral summit in August with Biden.

Reporting by Laurie Chen; Editing by William Mallard

Our Standards: The Thomson Reuters Trust Principles. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>