<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chris Rodesch Playing Davis Cup World Group II Tie</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Ljubljana, SLOVENIA– Virginia men’s tennis senior Chris Rodesch will be competin">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Chris Rodesch Playing Davis Cup World Group II Tie</p>
            <span id="topic" >Davis Cup</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://storage.googleapis.com/virginiasports-com/2023/09/amt-58830f7cf026643a42557331d5a6cc414c6d43a2-da0159fe-daviscup.jpeg" alt="">

                <textarea id="text" readonly> Ljubljana, SLOVENIA– Virginia men’s tennis senior Chris Rodesch will be competing in a Davis Cup World Group II tie while representing Luxembourg Friday and Saturday, Sept. 15-16 at the Tenis Center Tivoli in Ljubljana, Slovenia.

Rodesch will be competing in singles as well as partnering with Florida State alum Alex Knaff in doubles.

This is Rodesch’s fourth time playing in Davis Cup ties for Luxembourg (2019, 2021-23) with a 6-5 overall singles record and a 4-3 mark in doubles.

In other Davis Cup action, UVA alum Alexander Ritschard is a member of the Swiss Team that is competing in the Finals Group Stage. Switzerland is in Group B with France, Great Britain and Australia. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>