<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CM Punk's Effect on WWE WrestleMania 40, Samoa Joe as AEW Champ, More Quick Takes</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="1 of 5

CM Punk is undoubtedly an enormous addition to the WWE ranks, and althou">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>CM Punk's Effect on WWE WrestleMania 40, Samoa Joe as AEW Champ, More Quick Takes</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://media.bleacherreport.com/image/upload/c_fill,g_faces,w_3800,h_2000,q_95/v1701080900/wha8pkddpfiyzvzfjlnl.jpg" alt="">

                <textarea id="text" readonly> 1 of 5

CM Punk is undoubtedly an enormous addition to the WWE ranks, and although they didn't need him to maintain the momentum they've had business-wise all year round, he adds a ton to the company's talent depth and has countless options for potential opponents.

Straight out of the gate, he becomes one of the odds-on favorites to win the men's Royal Rumble match. There's a strong chance of him coming out on top and punching his ticket to the main-event of WrestleMania 40 for the World Heavyweight Championship.

Being the caliber of star that he is, Punk belongs in the world championship conversation, but rushing him into such a spot could send the wrong message to the rest of the roster.

The Voice of the Voiceless was the first to make it known he wasn't thrilled about being pushed aside in favor of the part-timers during his last stint with WWE a decade ago, and following the many insults he's hurled their way since then, having him take that prime position away from someone else ahead of 'Mania could be considered a sign of disrespect.

Business is business, and he will absolutely be involved in The Show of Shows in some capacity. If WWE already had Roman Reigns vs. Cody Rhodes as well as Seth Rollins vs. Gunther (or other marquee matches that make sense) penciled in for the event, then Punk's comeback shouldn't cause that to change. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>