<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COLUMN: Celebrating and understanding Diwali, Bandi Chhor Divas and Gurpurab</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="North Delta resident Mandip Kharod-Clark helps readers learn more about these im">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>COLUMN: Celebrating and understanding Diwali, Bandi Chhor Divas and Gurpurab</p>
            <span id="topic" >Gurpurab</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.bpmcdn.com/f/files/northdelta/import/2021-11/27023162_web1_Diwali-3.jpg;w=1200;h=800;mode=crop" alt="">

                <textarea id="text" readonly> North Delta resident Mandip Kharod-Clark helps readers learn more about these important celebrations

By Mandip Kharod-Clark, special to the North Delta Reporter

As we begin to think of Christmas and a second holiday season in a COVID-19 world, one thing is certain: celebrations have rarely felt more important. After a long 20 months of restrictions, guidelines and ever-changing recommendations, finding safe ways to connect with community is priority number one for many.

On Thursday, Nov. 4, you may find neighbours lighting candles, decorating their windows and some even setting off fireworks in celebration of Diwali.

Popularly known as the “Festival of Lights,” Diwali is widely celebrated by people of many faiths, including Jains, Sikhs, Hindus and some Buddhists. The word Diwali comes from the Sanskrit word deepavali, meaning “rows of lighted lamps.” It’s a five-day multi-faith festival marking the start of an auspicious new year.

While some may celebrate all five days, the majority will focus their attention on a few main days and a few key practices. Homes are cleaned, new dishes are purchased in hopes of welcoming good fortune, new clothes and sweet treats are exchanged, and bright decorations — predominantly clay lamps and candles — are scattered around the house, on window sills and by the front door.

While the celebratory practices are similar, each religion marks this occasion for slightly different reasons. The Sikh community actually celebrates Bandi Chhor Divas on Nov. 4. Literally translated as “Prisoner Release Day,” this is one of the most important festivals for the Sikh community.

It commemorates the return of Guru Harbobind Singh Ji, the sixth guru, to the holy city of Amritsar after being released from wrongful imprisonment by the Mughal Emperor Jahangir. Candles are lit as a symbol of hope and guidance, of light over darkness.

The history behind this festival is that Guru Hargobind was arrested and imprisoned in Gwalior Fort by Jahangir because the fine imposed on his father was not paid. Around 1619, Guru Hargobind was released from jail after twelve years of imprisonment but refused to leave without 52 Hindu kings who were being held as political prisoners. Jahangir agreed to release as many as were able to hold onto the guru’s robe, and for this reason Guru Ji had a special robe made with 52 tails, allowing him to take all 52 unjustly imprisoned kings with him.

In spirit and practice, Bandi Chhor Divas celebrations resemble Diwali festivities as the theme is one of good over evil.

Later this month — on Friday, Nov. 21 — the Sikh community will be celebrating the Gurpurab of Guru Nanak Dev Ji, the founder of the Sikh religion. “Gurpurab” is made of two words — “Gur”, which means guru or master, and “Purab” (or Parva in Sanskrit), which means festival or celebration.

Gurpurab is the day dedicated to Guru Nanak Dev Ji and is a mixture of the religious and the festive. While the date varies from year to year according to the lunar Indian calendar, it is one of the most sacred festivals in Sikhism, and this year marks the 552nd anniversary of Guru Nanak Dev Ji’s birth.

According to the Shiromani Gurudwara Parbandhak Committee (SGPC), Guru Nanak Sahib was born on 15th April, 1469 in what is now Pakistan. During these celebrations, the Guru Granth Sahib, the holy religious scripture, is read through in its entirety both in private homes and in gurdwaras, in a single continuous ceremony lasting 48 hours. This reading, called an Akhand Path, must be completed without interruption and is often completed by a team of Sikh men and women, each reading for two to three hours. It begins two days before his birthday and ends early on the morning of the birthday.

Once completed, Karah Parsaad, a sweet tasting food that has been blessed, is served. Karah Parsaad is made from semolina or wheat flour, sugar and ghee. Once eaten, the congregation shares a communal meal, known as langar, in the community kitchen. The idea behind this lunch is that everyone, irrespective of gender, caste or class, is offered the same food in the spirit of seva (service).

As with other communities of faith around the world, Sikh festivals are incredibly important as they bring people together to celebrate kindness and the triumph of good over evil. These celebrations are more joyous when shared, so reach out to your neighbours and join in the festivities this holiday season.

Mandip Kharod-Clark is a North Delta resident and writes monthly for the North Delta Reporter.

SEE ALSO: Canada Post’s new Diwali stamp created with help of Surrey business owner

SEE ALSO: Canucks’ ‘Diwali Night’ game to feature Surrey musician Intense, themed jerseys and more



editor@northdeltareporter.com

Like us on Facebook and follow us on Twitter </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>