<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creepy Figures With Huge Heads Found Painted in a Rock Shelter in Tanzania</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="In 2018, archaeologists made a staggering discovery in Swaga Swaga Game Reserve ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Creepy Figures With Huge Heads Found Painted in a Rock Shelter in Tanzania</p>
            <span id="topic" >technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://www.sciencealert.com/images/2021-02/processed/rockart-header_1024.jpg" alt="">

                <textarea id="text" readonly> In 2018, archaeologists made a staggering discovery in Swaga Swaga Game Reserve in central Tanzania: 52 previously undocumented rock shelters, deliberately painted with rock art. Weathering had mostly destroyed all but a handful; but of those that were preserved, one was an absolute enigma.

The site, named Amak'hee 4, was elaborately painted with a frieze of figurative art - including three mysterious, anthropomorphic figures with extremely oversized heads.

These could be, according to archaeologist Maciej Grzelczyk of the Jagiellonian University in Poland, a clue to figuring out what other, similar trios of figures found in other rock art panels might be.

The Amak'hee 4 panel is difficult to date, but Grzelczyk was able to gauge that it's at least a few hundred years old.

It's painted almost entirely in red pigment, except for five figures in white.

The weathering on this pigment, and the absence of domestic animals, suggests that it's fairly old, dating back to the time of hunter-gatherer societies in the region.

(M. Grzelczyk, Antiquity, 2021)

Depicted on the panel are animals that appear to resemble wildebeest, elands, buffalo and even a giraffe, as well as a smattering of human-like figures with large heads. But one group stands out.

"Particularly noteworthy among the Amak'hee 4 paintings is a scene that centres around three images," Grzelczyk wrote in his paper, published in 2021.

"In this trio, the figures seem to feature stylised buffalo heads. These shapes recall the central dip in the profile of the buffalo head from where the two horns rise and then curve outward away from the head, as well as the downturned ears."

(M. Grzelczyk, Antiquity, 2021)

The culture of the Sandawe people, who are descended from those who used to inhabit the region, does not include motifs of buffalo-headed people or people who can shapeshift into buffaloes (or vice versa), so the images may depict something else.

But, Grzelczyk notes, buffalo horns do play a significant role in some Sandawe rituals.

Whatever they may be, the strange figures are not without precedent. Not far from Amak'hee 4, in the Kondoa region in central Tanzania, two rock shelter paintings in particular bear a strong resemblance to the trio.

At the site Kolo B2, three figures are depicted standing together. At Kolo B1, three figures are depicted horizontally, although laying on the ground.

(M. Grzelczyk, Antiquity, 2021)

All three sites show similar figures, with large heads, although the Kolo figures sport a striped motif, interpreted as a headdress. (Other Kondoa figures are interpreted as having elaborate hairstyles).

In all three sites, the figures are connected by a line across their midsection. And all three have similar arrangements and directions of the hands and arms.

Amak'hee 4 does have some important differences. The heads seem to be filled in with solid colour, and they seem much more important to the action around them.

"The figures from Amak'hee 4 are noticeably bigger than those at Kolo, and make this main motif a central focal point around which the rest of the narrative seems to take place. In contrast, the images at Kolo are isolated depictions, with no clear connection to the rest of the paintings," Grzelczyk wrote.

At Kondoa, some of the rock art sites are still in use by the Sandawe for a variety of ritual activities. The newly documented sites are also known to local communities, so it's possible that they could shed some light on what the mysterious figures mean.

Meanwhile, archaeologists will continue the work of documenting the sites so that they can be added to the published record.

The paper has been published in Antiquity.

A version of this article was first published in February 2021. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>