<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket World Cup: Rachin Ravindra, marked for greatness at 15, comes of age</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Hyderabad: A story in Wellington cricket circles goes that one morning, Cricket ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Cricket World Cup: Rachin Ravindra, marked for greatness at 15, comes of age</p>
            <span id="topic" >rachin ravindra</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://images.indianexpress.com/2023/10/Rachin-Ravindra-CROP-pti.jpg" alt="">

                <textarea id="text" readonly> Hyderabad: A story in Wellington cricket circles goes that one morning, Cricket Wellington’s youth development coach Ivan Tissera tagged a 10-year-old boy to the Hutt Recreation Ground in Lower Hutt Wellington for a nets session with the U-15s. The boy, barely four and a half feet, was asked to pad up against Henry Walsh, a nearly six-foot tall left-arm seamer, then touted as the next big thing in Wellington cricket. Walsh’s parents grumbled over their son having to bowl at a nine-year-old. But in barely 20 minutes, they were wondering why their son was being subjected to this humiliation by a boy who was just a little taller than the stumps. He not just batted emphatically but unpacked an array of strokes that left the spectators stunned.

Among the marveled audience were then international cricketers Grant Elliot and Matthew Bell, who wondered whether he was “Sachin” or “Rachin”! The story is unverified, like most myths, but Rachin Ravindra always made a buzz, not only with his portmanteau name after the two legends of Indian cricket, but with his range of strokes too. So when Sriram Krishnamurthy took over as Wellington Firebirds’ batting coach, he wondered why there was a 15-year-old cricketer with them in the extended squad. “Then I watched him bat and I realised why he was there,” he recounts to this paper. “He had more strokes than any 15-year-old and was clearly mature beyond his years. Little wonder that there was always a buzz around him,” he says.

But limelight at such a young age could burden him. “He was always this calm and sounded fellow, who knew exactly what he was doing, who never bothered about the spotlight around him. Then I met his parents, Ravi and Deepa and I realised that it was all about his upbringing,” he explains. Ravi, a software system architect, was a first-division cricketer in Bangalore before he emigrated to Wellington at the turn of the century. But he could not shake off his love for the game, and began organising cricket for schoolchildren and started the Hutts Hawks Club, which organised cricket tours to different cricketing outposts of the world. He named his son Rachin, merging the names of his favourite cricketers, Sachin Tendulkar and Rahul Dravid, a quirk of first name that has been well-storied.

Advertisement

Ravi wanted his daughter to embrace the sport but the cricket-bug was to bite his son, almost naturally. He was not even three when he would ask his parents to throw tennis balls at him, batting with a plastic bat. It would soon become a routine, only that the texture of the bat and ball changed. Ravi would carefully nurture him, conscious to not be a pushy father. Every morning, even after his New Zealand debut, the backyard-routine continued. “He often will train early in the morning with his father, then go off to team training, then go and train again in the afternoon/evening. Most players burn out eventually with this type of routine. But not him,” tells Glenn Pocknall, former head coach of Wellington Stags.

Sriram explains the reason he does not burn out. “He is somebody who enjoys training more than batting in the middle. He derives a lot of fun from it, and is not someone who trains for the sake of it. Every session is detailed and he gets exactly what he wants to get from those sessions. He is a perfectionist,” he says.

Such a perfectionist that he would practise with the Dukes’ ball in winter when there is no cricket in New Zealand so that he could get used to the swing and seam of the hand-made cherry. He would pull along his friend Devon Conway for strenuous coaching camps in the winter. He would land in Bangalore and drive four hours to the Anantapur Sports Foundation to acquaint with the turners of the subcontinent before his Test debut in Kanpur. He would go onto save the Test in Kanpur with a 91-ball 18 not out. Two years later, he would stroke 123 off only 96 balls. “I really enjoyed the way he was open to being challenged and training new skills out of his comfort zone. Being prepared to test himself to be able to figure out ways to get through or thrive in certain situations,” says Pocknail. “His adaptation of his skillset and when to use it has been impressive,” he adds.

His habitat helped. “Being an opening batsman at the Basin Reserve is tough. The ball invariably swings, there is always a bit of extra bounce than most other grounds in the country. So you have to be flexible, technically, tactically and temperamentally,” says Sriram.

Advertisement

Him playing in age-groups with bigger boys helped too. “He was 18 when he first played for NZ A and has always played with older players. This helps with maturity. He’s always known what he wants and has a clear plan of how he wants to get there. A lot of credit to his parents and family for raising a levelheaded young man,” says Pocknail. It’s the same level-headedness that a nine-year-old showed at the Hutt Recreation Ground a decade ago. And now the boy named after his father’s idols, is becoming an idol himself. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>