<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto for Advisors: Is Bitcoin for You?</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Building a diversified portfolio with compelling returns has gotten harder. The ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Crypto for Advisors: Is Bitcoin for You?</p>
            <span id="topic" >crypto</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.coindesk.com/resizer/em4nuYF2uIfcIb7xvc1QPAhJCR8=/1200x628/center/middle/cloudfront-us-east-1.images.arcpublishing.com/coindesk/Y5BVTEDMARH2FPTXBOYUJ3UWPU.jpg" alt="">

                <textarea id="text" readonly> Building a diversified portfolio with compelling returns has gotten harder. The classic 60/40 portfolio of stocks and bonds will struggle to produce returns comparable to the last 40 years. We believe there is simply no room for valuations to expand: equity multiples are already high and the secular bull market in bonds is over (attributable to a bottoming in consumer price inflation). Stocks and bonds are also now more correlated, so investors get fewer diversification benefits from pairing them together. Opportunities in public markets are shrinking, too: compared to the 1990s, there are fewer IPOs and the number of listed firms has declined by around 30%. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>