<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Monday deal: Save an impressive $400 on the Celestron NexStar Evolution 8 telescope</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="If you're in the market for one of the most powerful telescopes you can buy, we'">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Cyber Monday deal: Save an impressive $400 on the Celestron NexStar Evolution 8 telescope</p>
            <span id="topic" >Cyber Monday</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://cdn.mos.cms.futurecdn.net/kMvukvX8zNDiv9ymrHBZvK-1200-80.jpg" alt="">

                <textarea id="text" readonly> If you're in the market for one of the most powerful telescopes you can buy, we've got a fantastic Cyber Monday deal for you. Just because Black Friday is over, doesn't mean the savings have to stop.

As part of B&H Photo Video's Cyber Monday sale, the fantastic Celestron NexStar Evolution 8 telescope has been reduced by $400.

This is a telescope that should retail for $2,199, but it's currently available for $1,799. It's still a serious amount of money, but you're getting a serious amount of telescope for that price.

Indeed, when we reviewed the Celestron NexStar Evolution 8, we said it's "one of the best we've ever had the pleasure of looking at the universe through". It'll come as no surprise, then, that the NexStar Evolution range has made it into our roundup of the best telescopes you can buy.

We praised the NexStar Evolution 8 on its excellent views of deep-sky targets, and found it very easy to set up and align. It's not the most portable of telescopes, though, but if you're happy remaining mostly static, you won't be disappointed.

We aren't sure how long this telescope will be discounted for, but with Cyber Monday coming to an end at midnight tonight, we wouldn't be surprised if this deal disappears at the end of the day. So if you want to grab yourself one of the best telescopes on the market with a sizeable discount, don't sleep on this deal.

Celestron NexStar Evolution 8 telescope: was $2,199 now $1,799 at B&H Photo Video Save $400 on a telescope we deemed as "one of the best we've ever had the pleasure of looking at the universe through". This is one of the most powerful telescopes money can buy, and if you're a serious stargazer, you won't be disappointed with this.

Read our Cyber Monday 2023 deals page for big discounts on space gifts

A Schmidt-Cassegrain telescope with a computerized mount, the Celestron NexStar Evolution 8 is highly regarded as one of the best telescopes you can currently buy. It makes use of Celestron's own StarBright XLT multicoating system to ensure fantastic light transmission, allowing for beautiful views across the galaxy.

Some might consider the telescope's f/10 focal ratio to be a little slow, but don't let it put you off: coupled with the precise tracking system here, it provides a steady and competent platform for all types of astrophotography.

The flexibility offered by the NexStar Evolution 8 is bound to be a boon for many users. You can control it in two different ways: It can connect to your smartphone via Celestron's Navigator app, or you can use the computer controller that's connected to the telescope. Whichever method you go for will result in speedy and precise alignment.

In the box, you'll find two eyepieces: A 40mm eyepiece that produces up to 51x magnification, and a 13mm eyepiece for 156x magnification. There's also a red dot finderscope, power supply and a stainless steel tripod.

Image 1 of 6 (Image credit: Celestron) (Image credit: Celestron) (Image credit: Celestron) (Image credit: Celestron) (Image credit: Celestron) (Image credit: Celestron )

Key Specs: Schmidt-Cassegrain Optical Design, 8-inch (203.2mm) aperture, 2032mm focal length, focal ratio of f/10, two eyepieces (13mm/51x and 40mm/156x), single-arm fork, altazimuth mount type, total kit weight of 40.6lbs/18.5kg.

Consensus: We called this one of the best telescopes we've ever looked through in our Celestron NexStar Evolution 8 review. And going by user reviews, we're not alone in thinking that. This is an extremely powerful piece of equipment that experienced astronomers are going to absolutely love using.

Buy if: You've got a sizeable budget and want a powerful telescope that's capable of gazing into deep space.

Don't buy if: You're a beginner, or you want something more traditional than a GoTo telescope.

Alternative models: If you're a beginner, the Celestron NexStar 4SE might be a better choice (it's significantly cheaper, too). If you love tech-powered telescopes, though, the Unistellar eQuinox 2 has a similar price point and is worth taking a look at.

Check out our Cyber Monday 2023 deals page for a roundup of the best discounts and deals on telescopes, binoculars, cameras, star projectors, drones, lego and much more. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>