<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Monday travel deals: Flights, luggage, and more</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="If you don't go hard on buying physical stuff on Black Friday, consider splurgin">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Cyber Monday travel deals: Flights, luggage, and more</p>
            <span id="topic" >business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://helios-i.mashable.com/imagery/articles/04SyS8KYtah7nYP5JTsxqkj/hero-image.fill.size_1200x675.v1701045253.jpg" alt="">

                <textarea id="text" readonly> If you don't go hard on buying physical stuff on Black Friday, consider splurging on an experience.

If you don't go hard on buying physical stuff on Black Friday, consider splurging on an experience. Credit: Thomas Barwick / Getty Images

Cyber Monday is generally all about physical, tangible stuff. But if you're the type who would rather spend money on an experience, just know that Cyber Weekend is actually a great time to book a trip.

SEE ALSO: The best sites for cheap flights

Cyber Monday travel deals are very much a thing, from discounts at resorts, airlines, and cruise lines, to even-better-than-usual deals at online travel agencies like Priceline and Expedia, to major sales on luggage, packing cubes, and more. We're tracking them all below and will include information like booking deadlines when available.

Flights

Why we like it

The cold weather version of Frontier's internet-breaking summer pass unlocks unlimited flights to both domestic and international Frontier destinations between Sept. 2 and Feb. 29, 2024, for a one-time fee of $299. Frontier serves more than 100 airports across the U.S., Mexico, the Caribbean, and Latin America, with new locations frequently being added to the lineup. This is cheaper than even the summer pass' debut price of $399 and its long-term sale price of $499.

Frontier also dropped a monthly pass that's free for the first month (aside from a $49 enrollment fee) and renews for $149 monthly after that. Your unlimited monthly pass begins the day you purchase it and runs for 30 days each period. Be sure to read the fine print before snagging any of the tickets.

More flight deals

Air Canada — book discounted flights worldwide for up to 20% off with some deal expiring on Nov. 27 and others on Dec. 3

Air Tahiti Nui — purchase a Taire Pass for $1,525, which includes roundtrip airfares to Tahiti, Paris, Auckland, and Narita from LAX or SEA in economy class. (One roundtrip fare per destination.)

American Airlines — book select one-way fares for under $100

Delta — book round-trip domestic flights for under $300

JetBlue — save up to $750 on flight + hotel & flight + cruise packages plus reserve with $99 deposits when you book by Nov. 29

PLAY — save 35% on flights to Iceland, Paris, Berlin, Frankfurt, London, Copenhagen, Dublin, and Amsterdam when you book by Nov. 28 and fly between Dec. 2023 and May 2024

Priceline — save 20% or more on top all-inclusive destinations when you bundle a flight and hotel through Nov. 27 and up to 30% when you bundle a flight with a Hilton hotel

Southwest — post-Thanksgiving one-way fares as low as $77

Spirit Airlines — save up to 30% on flight + hotel vacation packages when you book by Nov. 28

Trains, cruises, and rental cars

Why we like it

If you need a sign to book that cruise you've been talking about taking since last year, Celebrity Cruise Line's current offering of 40% off all guests on all trips is that sign. The Bahamas, Grand Cayman, Saint Kitts, Italy, Greece, France, Spain, and more Caribbean and European destinations are all options, and depending on the itinerary, you can sail for as long as 13 nights or take a quick three-night getaway.

More train, cruise, and rental car deals

Theme park deals

Why we like it

Vacation doesn't feel like vacation when you're trying to cram a theme park's full glory into a few short days. You can add three full days at Universal to your trip for free when you purchase tickets for two days (as long as they're all consecutive). That's five days for the price of two, so you can really take your time between Universal and Islands of Adventure — or even devote a whole day to the Wizarding World of Harry Potter. You'd still have to buy separate tickets (starting at $84.99) to Halloween Horror Nights, but the money you're saving with this deal basically secures those for free.

More experience deals

Busch Gardens — save up to 60% on tickets, Fun Cards, and annual passes at Tampa or save up to 50% at Williamsburg

Hersheypark — save 50% or more on select dates for Hersheypark Christmas Candylane

Six Flags — save 55% on annual pass add-ons and up to $20 on new season passes

Hotels

Why we like it

Quick weekend excursions are society's sanity staples — but sometimes, you deserve more. If you didn't get to take that long trip this summer, Kimpton's extended "Stay Longer and Save" promo is your nudge to get away before 2024. Through Dec. 31, you can save between 15% and 20% on stays three nights or longer at a ton of stylish participating Kimpton locations across the U.S.

If a one or two-night trip is in the cards, however, you can also save up to 20% off the best flexible rate when you book at least seven days in advance.

More hotel deals

Luggage

Why we like it

You've probably been seeing Béis Travel's pastel carry-ons, chic belt bags, and color-coordinated luggage sets on your FYP. The brand is poppin' off on TikTok as we speak and has had wild success with its Barbie collab collection (which sold out faster than fans could say "I am Kenough"). The good news is, Béis is currently having a "25% off everything" sale — which is a rarity and thus a pretty big deal. Grab a vegan leather oversized tote or a hardshell beige roller bag today and make everyone at baggage claim jealous.

More luggage deals

Aer — save 20% sitewide through Nov. 27

American Tourister — up to 30% off select styles

Bagail — save up to 40% on packing cubes in select colors

Calpak — save up to 60% on select best sellers

Delsey — save 25% sitewide

Herschel — save up to 50% sitewide

Kohl's — save up to 80% on suitcases from Kenneth Cole Reaction, Rockland, Skyway, and more

Macy's — save up to 60% on Bric's Milano, DKNY, Jansport, and more

Mark & Graham — save up to 50% on select personalized totes, handbags, travel pouches, and more plus free shipping on orders over $100 with code CHEERS

Paravel — save 30% sitewide

Samsonite — save 30% sitewide

TravelPro — save up to 20% sitewide

Tumi — save up to 50% sitewide

Walmart — save up to 50% on hardside luggage sets from Sunbee and Travelhouse

Travel tech deals

Why we like it

Down to a record-low price, the Bose QuietComfort 45 headphones could revolutionize your travel experience. With 10 customizable levels of ANC, these will help drown out any noise you'd rather not be involved with while getting to and from your destination. You'll get 10 hours of battery life and an included hard case to make sure they won't get crushed in your bag.

More travel tech deals </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>