<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Monday 2023 Live Blog: Over 160 Early Deals You Can Shop Right Now</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="CNET’s expert staff reviews and rates dozens of new products and services each m">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Cyber Monday 2023 Live Blog: Over 160 Early Deals You Can Shop Right Now</p>
            <span id="topic" >business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://www.cnet.com/a/img/resize/f2c6c4412bbe5874175fe06a97c7d65a062bedbb/hub/2023/11/22/28c57259-0308-4d06-a541-b2c08bc0bded/1-copy-2.png?auto=webp&fit=crop&height=675&width=1200" alt="">

                <textarea id="text" readonly> CNET’s expert staff reviews and rates dozens of new products and services each month, building on more than a quarter century of expertise.

Even though we've technically passed Black Friday, the holiday shopping frenzy is far from over. Cyber Monday kicks off Monday, and the early deals are already in full swing. Most major retailers like Amazon, Walmart, Target and Best Buy have sales running through the weekend, which means there are tons of can't-miss bargains on top tech, kitchen appliances, home goods and just about everything else.

This year's sales have brought some record-breaking discounts on popular tech, including $70 off Apple's latest smartwatch and $100 off the 10th-gen iPad. Plus, there are some rare savings on PS5 console bundles where you can score popular games, such as Spider-Man 2, for free. While prices could dip a bit lower as we get closer to the holidays, trying to wait it out could mean stock runs out or you miss out on bundled games.

But with so many offers out there, finding the best absolute best deals for Cyber Monday can be a challenge. Fortunately, CNET is here to help. Our dedicated team of more than a dozen shopping experts and deal hunters has spent over 515 hours this week sifting through thousands of great (and not-so-great) offers, so you can rest assured that the bargains you need to see are presented below. We're keeping this post updated throughout Cyber Monday to ensure you have the best deals at your fingertips. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>