<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Davis Cup Finals 2023 in Malaga: Canada eyes title defence; Djokovic, Murray, Sinner set to feature</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The superstars of men's tennis are looking to put on exclamation point on the en">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Davis Cup Finals 2023 in Malaga: Canada eyes title defence; Djokovic, Murray, Sinner set to feature</p>
            <span id="topic" >Davis Cup</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://img.olympics.com/images/image/private/t_social_share_thumb/f_auto/primary/c0m3lnekee5twvwmx1wz" alt="">

                <textarea id="text" readonly> The superstars of men's tennis are looking to put on exclamation point on the end of their 2023 season.

Novak Djokovic and Jannik Sinner are set to feature at the Davis Cup Finals in Malaga, Spain, next week (21-26 November), where Felix Auger-Aliassime and Milos Raonic will lead the Canadian team aiming to successfully defend its 2022 title.

The men's tennis team final comes just two weeks after the Canadian women - led by Leylah Fernandez - claimed their first-ever Billie Jean King Cup title in nearby Seville.

The men's final will feature a knockout draw of eight teams, led by Canada and also including Serbia, Italy, Australia, Great Britain, Netherlands, Czechia and Finland.

The quarter-final line-up looks like this:

Canada vs. Finland

Australia vs. Czechia

Italy vs. Netherlands

Serbia vs. Great Britain

Each "tie" as they're known will feature two singles matches and a doubles match decider if needed.

Djokovic, the year-end No.1 in singles, is hoping to help Serbia to its first title since 2010, while Team GB haven't hoisted the Davis Cup since 2015. Former world No. 1 Andy Murray was forced to withdraw due to a shoulder injury. He is being replaced by Liam Broady.

Sinner, who qualified for the ATP Finals at home in Turin for the first time this season, looks to lead Italy to its first men's title since 1976. Its women's team finished as runner-up to Canada at the BJK Cup.

See the schedule of play in Malaga as well as the full team line-ups, and how you can tune into the action from anywhere in the world. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>