<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Davis Cup Finals 2023: Group stage preview, draws, teams, schedule & how to watch on TV</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Grand Slam

01/09/23 • 3 MINUTE READ

Four of the world's biggest tennis nations">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Davis Cup Finals 2023: Group stage preview, draws, teams, schedule & how to watch on TV</p>
            <span id="topic" >Davis Cup</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://www.lta.org.uk/4a6704/siteassets/news/2022/september/2022-dan-evans-davis-cup-vs-usa.jpg?w=1200&h=630&c.focus=1405.155,547.441860465116,1405.155,547.441860465116&c.finalmode=crop&mode=crop&c.zoom=false" alt="">

                <textarea id="text" readonly> Grand Slam

01/09/23 • 3 MINUTE READ

Four of the world's biggest tennis nations head to Manchester from 12-17 September to compete for a spot at the Davis Cup Finals Knock-Out round in Malaga in November.

One of four groups battling it out in different locations across Europe, Group B promises fireworks with four teams who are all previous champions in the World Cup of tennis.

Here’s everything you need to know about the Davis Cup Finals Group Stages in Manchester this year.

Where is the Davis Cup Finals taking place?

The Davis Cup Finals Group Stages will take place over four locations – Manchester, Valencia, Split and Bologna – with one group set to compete in each.

Group B, which includes the Lexus Great Britain Davis Cup Team, will play at Manchester’s AO Arena across six days starting on Tuesday 12 September and finishing on Sunday 17 September.

How to watch the Davis Cup Finals

All of Britain’s ties will be broadcast on the BBC Sport website and BBC iPlayer, with all ties from Manchester also available on Tennis Channel International’s Pay TV.

Which teams are competing in the Davis Cup Finals?

Group B is made up of the Lexus GB Team, alongside 2022 runners-up, Australia, France and Switzerland.

Arguably the toughest group in this year’s competition, the four teams boast 49 titles between them.

Learn more about Great Britain’s opponents

Lexus Great Britain Davis Cup Team

Captain and LTA Head of Men’s Tennis, Leon Smith, recently announced his squad to head to Manchester – including:

Meet the team

What is the schedule for the Davis Cup Finals?

Check out the full match schedule for Group B at the Davis Cup Finals Group Stages in Manchester:

Tuesday 12 September: France vs Switzerland

Wednesday 13 September: Great Britain vs Australia

vs Australia Thursday 14 September: Australia vs France

Friday 15 September: Great Britain vs Switzerland

vs Switzerland Saturday 16 September: Australia vs Switzerland

Sunday 17 September: Great Britian vs France

Tickets are sold out for GB vs France on Sunday – but there are still limited available for all the other ties. Tickets are on sale starting at £5 for children and £10 for adults.

Buy tickets

What is the format of the Davis Cup Finals?

The Davis Cup Finals Group Stages will be played as a round robin, where each team in a group will play each other once. The two teams with the best records will qualify for the Knock-Out Final 8 competition from 21-26 November.

Each tie will be a best of three matches – two singles and one doubles. Each individual match will be a best of three tie-break sets.

Who are the reigning Davis Cup champions?

Canada made history in 2022 as they lifted the Davis Cup for the first time after defeating Australia 2-0 in the final. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>