<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deal-hunters fuel $12 billion Cyber Monday shopping spree</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Nov 27 (Reuters) - Retailers hit the send button on push notifications, text mes">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Deal-hunters fuel $12 billion Cyber Monday shopping spree</p>
            <span id="topic" >Cyber Monday</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.reuters.com/resizer/L7hIyhFJBkSb5ka04ERvSvjsVcM=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/TN6Z5XFPUJOWHJYAHLXACUOUEY.jpg" alt="">

                <textarea id="text" readonly> Nov 27 (Reuters) - Retailers hit the send button on push notifications, text messages and video streaming ads to reach U.S. shoppers on Cyber Monday, touting heavily-discounted cosmetics, electronics, toys, clothing and other products.

Spending online on Cyber Monday is set to reach as much as $12.4 billion, according to Adobe Digital Insights, which tracks data through Adobe's Experience Cloud service for e-commerce platforms. That would represent a record and an increase of more than 5.4% compared to a year ago, Adobe said.

As of mid-day, investors pointed to Amazon (AMZN.O), Walmart (WMT.N) and Apple as possible winners for the day.

"It's a little early to see how this all plays out," said Jim Worden, chief investment officer of Wealth Consulting Group, which holds shares of Amazon. "There's still good spending" online. "While the prices of TVs and some electronics have come down a lot, I don't know how much the average consumer is going to nibble on these," he said.

"One of the biggest things that we would be looking at is if the discounts throughout the day started to deepen," said Brian Mulberry, client portfolio manager at Zacks Investment Management, which owns Amazon and Walmart stock.

But Amazon and Apple are "not having to discount things as much," he said, which indicated possible healthy consumer demand for their merchandise on Cyber Monday.

Retail consultant Carol Spieckerman said at mid-day on Monday that "the biggest discounts are still ahead, and shoppers are all too aware of that." She pointed to lackluster store traffic on Black Friday, the day after Thanksgiving, as a sign that shoppers were ultra picky.

Overall Black Friday sales in stores and online rose by 2.5% compared to a year ago, according to Mastercard SpendingPulse, which measures all payment types. Online U.S. sales rose by 8.5% while in-store U.S. sales increased just 1.1%, it said.

[1/3]Workers select and pack items during Cyber Monday at the Amazon fulfilment center in Robbinsville Township in New Jersey, U.S., November 28, 2022. REUTERS/Eduardo Munoz Acquire Licensing Rights

Charles Sizemore, chief investment officer at Sizemore Capital Management, said he expects retailers to have to discount more in the weeks ahead.

This makes him worried about profit margins at a time input and labor costs have not come down and shoppers continue to be picky. "I really think margins are going to be depressed," during the holiday season," said Sizemore, whose firm holds about $2 million of shares each in Walmart and Target.

Last-minute shoppers on Monday could spend $4 billion between 6 p.m. and 11 p.m. ET alone, said Vivek Pandya, lead analyst at Adobe Digital Insights. "Consumers are going to be concerned about discounts weakening after that," he added.

Amazon began marketing Cyber Monday Deals as early as Saturday, including up to 46% off some Instant Pot kitchen appliances, 37% off certain Vitamix blenders, and 35% on Amazon devices including a 55-inch Amazon Fire TV.

Walmart, eager to capture market share, slashed prices on Sunday night, joining the trend of retailers' early discounts on major shopping days. On Monday, Walmart stepped up discounts on some clothing to 60%, up from the 50% it offered on Black Friday.

Apple offered Apple Gift Cards of up to $200 with eligible purchases.

Reuters Graphics

Area chart with data from Insider Intelligence shows retail e-commerce sales in the U.S. from Thanksgiving to Cyber Monday every year from 2017 to 2022 and a forecast for 2023.

Reporting by Siddharth Cavale, Arriana McLymore, Deborah Sophia, Aishwarya Venogupal and Ananya Mariam Rajeash. Editing by David Gregorio and Nick Zieminski

Our Standards: The Thomson Reuters Trust Principles. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>