<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Did Dolly Parton’s stage malfunction at Cowboys halftime show?</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Dolly Parton dazzled the AT&T Stadium crowd and the nation with her halftime per">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Did Dolly Parton’s stage malfunction at Cowboys halftime show?</p>
            <span id="topic" >Entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://dmn-dallas-news-prod.cdn.arcpublishing.com/resizer/qPmjaz2WOohDky0_tF9TCfs_tkE=/830x467/smart/filters:no_upscale()/cloudfront-us-east-1.images.arcpublishing.com/dmn/INIJNTQI5R6HA2X4PPFGPQ2D54.jpg" alt="">

                <textarea id="text" readonly> Dolly Parton dazzled the AT&T Stadium crowd and the nation with her halftime performance at the Dallas Cowboys game against the Washington Commanders on Thursday.

The Cowboys won, 45-10. But something was a little off during Parton’s performance.

Advertisement

When Parton appeared, she was in front of a star-shaped platform with a hole in the middle. It appeared the plan was for her to emerge through the platform and perform atop it.

Advertisement

During its spotlight moment, the 77-year-old stood beside it, gingerly gripping it at times for balance while moving from side to side and singing.

News Roundups Catch up on the day's news you need to know. Email Address By signing up you agree to our Terms of Service and Privacy Policy SUBMIT

The show went on, and Parton drew rave reviews for wearing a bedazzled version of a Dallas Cowboys Cheerleaders outfit.

But days later, like any Cowboys performance, the show was still being scrutinized in the news media.

Advertisement

A family with battling signs is shown in the stands during the first half of an NFL football game between the Dallas Cowboys and the Washington Commanders at AT&T Stadium in Arlington on Nov 23. Entertainer Dolly Parton performed at halftime. (John F. Rhodes / Special Contributor)

Gordon Keith, a host on the morning show on Sportsradio 96.7 FM/1310 The Ticket (KTCK-AM), brought it up Monday morning, saying Parton looked like she was on a cargo ship in the Atlantic holding on for dear life.

Asked about the possible malfunction, a Cowboys spokesman said Monday that the franchise did not have a comment. He added that multiple parties including the Cowboys produce the halftime show but the NFL is not involved.

Advertisement

In May, Charlotte Jones, Dallas Cowboys chief brand officer and executive vice president, asked Parton to do the show, which serves as the annual kickoff for the Salvation Army’s annual Red Kettle Campaign. Parton was at The Star in Frisco where she co-hosted the 58th Academy Country of Music Awards.

Advertisement

Ahead of the show on Thursday, Danny Nozell, Parton’s manager, told Billboard her appearance would involve the biggest production the Cowboys had ever done for a halftime show.

Parton has had wardrobe malfunctions in her career but no known mechanical ones. Before the show, she reportedly had a stage in Nashville designed on wheels to practice.

She told The Hollywood Reporter before performing that she turned down Super Bowl halftime performances before because, “I just didn’t think I was big enough to do it — to do that big of a production.”

Advertisement

Find more Cowboys coverage from The Dallas Morning News here. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>