<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Die Gegnerelf: Elf Zahlen zu Eintracht Frankfurt</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="1

Eintracht Frankfurt ist der erste Club in der Bundesliga-Geschichte, der in K">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Die Gegnerelf: Elf Zahlen zu Eintracht Frankfurt</p>
            <span id="topic" >VfB Stuttgart</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.vfb.de/images/redaktion/images/neues/profis/2023_2024/Gegnerelf-23-24/Frankfurt/RUDEL_496141_00000_frz_960x540.jpg" alt="">

                <textarea id="text" readonly> 1

Eintracht Frankfurt ist der erste Club in der Bundesliga-Geschichte, der in Klaus und Dino Toppmöller Vater und Sohn als Cheftrainer unter Vertrag hatte beziehungsweise hat. Vater Klaus trainierte die Eintracht zwischen Juli 1993 und April 1994, sein Sohn Dino übernahm die Adler in diesem Sommer.

2

Der 3:1-Auswärtssieg der Eintracht bei der TSG Hoffenheim am achten Spieltag dieser Saison brachte ein Novum mit sich: In Hoffenheims Oliver Baumann und Frankfurts Jens Grahl gelang es erstmals zwei Torhütern in einem Spiel, jeweils eine Torvorlage für ihre Mannschaft beizusteuern. Beide schlugen lange Bälle in die Spitze und fanden in Maximilian Beier (Hoffenheim) und Omar Marmoush (Frankfurt) dankbare Abnehmer. Während Oliver Baumann bereits seine vierte Bundesliga-Torvorlage verbuchen konnte, war es für den ehemaligen VfBler Jens Grahl eine Premiere.

4

Viermal schied Eintracht Frankfurt seit dem Jahr 2000 in der ersten Runde aus dem DFB-Pokal aus. Das erste derartige Ausscheiden in diesem Jahrtausend unterlief der Eintracht im Sommer 2000, als man mit 1:6 gegen die zweite Mannschaft des VfB verlor. Seither kann sich die Bilanz der Frankfurter, die im Achtelfinale des diesjährigen Wettbewerbs auf Bayern-Bezwinger 1. FC Saarbrücken treffen, aber durchaus sehen lassen: Viermal (2006, 2017, 2018, 2023) stand man im Finale, 2018 besiegte man den FC Bayern im Endspiel mit 3:1.

5

Eintracht Frankfurt nimmt in dieser Spielzeit zum fünften Mal innerhalb der letzten sechs Jahre an einem europäischen Wettbewerb teil. Dreimal spielten die Hessen dabei in der Europa League, die man in der Spielzeit 2021/2022 durch einen Endspielsieg gegen die Glasgow Rangers gewann.In dieser Saison spielt die Eintracht in der Conference League und konnte sich bereits zwei Spieltage vor dem Ende der Gruppenphase schon den Einzug in die nächste Runde sichern.

8

Die Frankfurter verloren keines ihrer acht Heimspiele in dieser Saison. Fünfmal ging man als Sieger vom Platz (darunter drei Siege in der Conference League), drei weitere endeten remis. In der Bundesliga ist die Eintracht sogar seit 15 Heimspielen ungeschlagen. Die letzte Niederlage im heimischen Deutsche Bank Park kassierte man am 12. Spieltag der Vorsaison gegen den BVB (1:2).

10

Sommer-Neuzugang Omar Marmoush, der in der Saison 2021/2022 leihweise für den VfB auflief, erzielte seit seinem Wechsel vom VfL Wolfsburg zur Eintracht bereits zehn Tore in 19 Pflichtspielen. Sechs dieser Treffer schoss der 24-jährige Ägypter, der beim VfB drei Tore und fünf Vorlagen in 21 Pflichtspielen beisteuerte, in der Bundesliga.

11

Lediglich elf Gegentore kassierte Eintracht Frankfurt an den bisherigen elf Spieltagen. Nach Bayern München (neun Gegentore), Bayer Leverkusen und RB Leipzig (je zehn) hat man damit die viertbeste Defensive aller Bundesliga-Teams. Der VfB landet mit bislang 14 Gegentoren direkt hinter der Eintracht auf Rang fünf.

21

Mit 318 Einsätzen im Adler-Dress belegt Torhüter Kevin Trapp Platz 21 in der Rekordspieler-Rangliste der Eintracht. Abgesehen von einer dreijährigen Unterbrechung, während der er für Paris St. Germain auflief, spielt Kevin Trapp seit 2012 für die Hessen. Rekordspieler der Eintracht ist Karl-Heinz „Charly“ Körbel, der 731 Einsätze für die SGE bestritt (davon 602 in der Bundesliga).

28

Erst 28 Treffer fielen an den ersten elf Spieltagen in Partien mit Eintracht-Beteiligung. Das ist der geringste Wert unter allen Bundesligisten. Zwar stellen die Frankfurter mit elf Gegentoren eine der besten Defensiven der Liga, weisen gleichzeitig aber auch die zweitschwächste Offensive in der oberen Tabellenhälfte auf (17 Treffer). Die meisten Tore (51) bekamen die Fußballfans bislang bei den Spielen vom FC Bayern zu sehen, der vor dem zwölften Spieltag ein Torverhältnis von 42:9 aufweist.

140,5

Mit 140,5 gelaufenen Kilometern an den ersten elf Spieltagen ist Eintracht-Mittelfeldspieler Ellyes Skhiri bislang der lauffreudigste Bundesligaspieler. Bereits am Ende der Vorsaison hatte der Tunesier, damals noch in Diensten des 1. FC Köln, das Ranking mit 393,6 Kilometern angeführt.

1.078

Mit 1.078 gewonnenen Zweikämpfen belegen die Hessen in diesem Ranking einen starken vierten Platz, liegen damit aber nur einen Platz und exakt einen gewonnenen Zweikampf vor dem VfB. Die Rangliste wird angeführt von Mainz 05 (1.154), dem VfL Bochum (1.118) und Bayern München (1.099). </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>