<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dilan Yeşilgöz: VVD niet in kabinet met premier Geert Wilders</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="In de meest recente peiling van I&O stijgt de PVV met zes zetels naar 26. De par">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Dilan Yeşilgöz: VVD niet in kabinet met premier Geert Wilders</p>
            <span id="topic" >Geert Wilders</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://cms-assets.nporadio.nl/npoRadio1/_videoThumbnail/ANP-484192722.jpg?v=1700569636" alt="">

                <textarea id="text" readonly> In de meest recente peiling van I&O stijgt de PVV met zes zetels naar 26. De partij van Wilders staat in die peiling één zetel achter de VVD en GroenLinks-PvdA (27). Wilders zei gisteren in het EenVandaag-debat open te staan voor het premierschap. "Ik zie het niet gebeuren", reageert Yeşilgöz.

"Ik denk dat Nederlanders een leider zoeken voor het land die kan verbinden, die de boel bij elkaar houdt. Die er is voor alle Nederlanders en die ons land ook internationaal kan aanvoeren", zegt de VVD-leider, die zich ook zorgen maakt over Nederland als handelsland met Wilders als premier. "Ik zie meerdere redenen waarom ik het niet zie gebeuren."

Als Wilders toch premier wordt, zal dat niet zijn in een kabinet met de VVD. "Dat ga ik niet doen", zegt de VVD-voorvrouw. "Premier Wilders zou voor dit land niet goed zijn, omdat dit land een leider nodig heeft die kan verbinden. Het premierschap vraagt echt om bepaalde leiderschapskwaliteiten die ons land en Nederlanders vooruit brengen." Wilders heeft die kwaliteiten niet, denkt ze.

Volgens Yeşilgöz is de kans klein dat Wilders na de stembusgang de sleutel van het Torentje krijgt. "Ik zie niet gebeuren dat hij wint, omdat ik denk dat Nederlanders daar niet voor zullen gaan. Ik zie ook niet hoe hij een meerderheid en dus een coalitie kan vormen. Het is een heel vergezochte als-dan-vraag." </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>