<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disney sets India cricket viewership record for TV, streaming during world cup</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="BENGALURU, Nov 23 (Reuters) - Walt Disney said on Thursday its TV channels in In">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Disney sets India cricket viewership record for TV, streaming during world cup</p>
            <span id="topic" >world cup</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.reuters.com/resizer/rMsQ14wZIyO6mMG19D3T97gUTdw=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/ZWVJFZIXI5OQTELTDJ7LZSCD7A.jpg" alt="">

                <textarea id="text" readonly> BENGALURU, Nov 23 (Reuters) - Walt Disney said on Thursday its TV channels in India and digital streaming platform both set new viewership records in the recently concluded men's cricket World Cup.

A record 518 million viewers from India watched matches during the 48-day event on TV, while Disney's streaming app recorded a peak concurrent viewership of 59 million during the finals.

Disney's disclosure comes as it competes aggressively with billionaire Mukesh Ambani's JioCinema in the streaming sector.

In recent months, Ambani has sought to promote his platform by saying mobile streaming is the way to watch live matches, not TV.

On Thursday, Disney said 300 million users tuned into watch World Cup finals alone on TV, citing data from broadcast industry body BARC. "This becomes the most watched event in Indian television history," said Sanjog Gupta, head of sports at Disney Star.

Disney is currently exploring options of finding a joint venture partner or even a sale of its India business.

The company has offered free streaming of World Cup cricket on smartphones via Hotstar, part of a strategy to boost advertising revenue and offset the impact of a subscriber exodus. JioCinema too have made cricket free to watch on phones.

Cricket-mad India hosted the 13th edition of the showpiece event Oct. 5-Nov. 19, where it lost to Australia's national team in the final match.

The International Cricket Council (ICC) has said that a record 1.25 million attended the matches from the stands during the World Cup this time.

Disney had bought digital and streaming rights to show the ICC tournaments in India from 2024 to 2027 by paying around $3 billion.

Reporting by Munsif Vengattil in Bengaluru and Aditya Kalra in New Delhi Editing by Bernadette Baum and David Evans

Our Standards: The Thomson Reuters Trust Principles. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>