<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do we have a proper Premier League title race on our hands?</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="It’s late autumn in England, Christmas is just around the corner. Leaves are dro">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Do we have a proper Premier League title race on our hands?</p>
            <span id="topic" >premier league</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://cdn.theathletic.com/app/uploads/2023/11/23035639/1123_TitleRace-scaled.jpg" alt="">

                <textarea id="text" readonly> It’s late autumn in England, Christmas is just around the corner. Leaves are dropping like they’re faking a cramp in stoppage time and the rain is colder than Marcus Rashford’s scoring form, yet football fans’ hearts glow warmly at the sound of the two most magical words in the English language. Whisper them softly, sibilantly: sample size.

Advertisement

We’re 12 games into the Premier League campaign. That’s not a whole lot of football, data-wise, but a third of a season is enough that we can start taking furtive peeks at the FBref tables without getting laughed out of the pub. (No laughing. Stop that.)

The first stop on any stat-seeing tour is the metric we all know and love — expected goals (xG).

What ought to jump out at you here is how bunched up things are. After years of soaring away to the top right corner of this chart, miles better than everyone else at creating and denying chances, Manchester City and Liverpool slid back toward the pack last season as a rejuvenated Arsenal and Newcastle United have risen to meet them. All four have more or less held their ground this season, although Arsenal have decided to be good in a less fun way where nobody is allowed to score any goals.

You might not have spotted it on the league table yet, but it was plain on the pitch against Manchester City a couple of weeks ago that Chelsea are this year’s big climbers, improving in attack and defence thanks to a little Mauricio Pochettino magic and a transfer budget big enough to sign Beyonce (but only if she played for Brighton first). That brings us to five clubs near the top of the Premier League for xG difference, which hasn’t happened in a very long time.

The main reason you hear about xG this time of year is that chance creation is a better guide to a team’s future form than goals, which are themselves a better guide than points. Middling underlying numbers are why gamblers aren’t taking Tottenham Hotspur too seriously despite their hot start. But past points matter, too — even if they play up to expectations from here on out, Chelsea and Newcastle aren’t going to lift the trophy this season.

That leaves three teams — City, Arsenal, and Liverpool — with a realistic shot at being in the title race. And boy do the bookmakers know which one they prefer.

You don’t need a crystal ball to get the picture here. Erling Haaland is going to keep stomping computers into oblivion for the rest of eternity and pretty soon Kevin De Bruyne will be back to remind us what City have been missing. Meanwhile, Pep Guardiola will be in the lab cooking up whole new multidimensional geometries of football, or at least figuring out how to get Jeremy Doku and Jack Grealish in the same starting lineup. Seasons change, players come and go, but City stay City.

Advertisement

Or do they?

Lurking below the top-line numbers, there are hints that we’re inching toward a new and different Premier League. The surprises start with possession, where City are still on top but just barely — their 62.5 per cent share of the ball is only a little above Brighton and on track to be the lowest number of the Guardiola era. How’s that for a canary in the coal mine?

Having the ball matters less than what you do with it, of course, and City and Brighton play their passes in very different areas. Guardiola’s side still like to circulate the ball in the attacking half, as Arsenal and Spurs are getting better at doing, too. De Zerbi’s team famously love to play a lot of short passes in the middle of their own half, drawing opponents toward them, before breaking forward at speed.

There’s something worth noting in almost every team’s possession plot above, such as Chelsea’s right-wing dominance where Cole Palmer and Raheem Sterling are forming a budding power couple, or Newcastle’s stubborn refusal to play at all like any other top team in Europe.

To really get a feel for how the visualisation works, though, it’s worth looking at how our four title contenders (OK, fine, Spurs, you’re in) have evolved over the past few seasons:

Tottenham are the most obviously transformed from last season thanks to Ange Postecoglou’s love of short passing and just havin’ a go, mate. Arsenal had already consolidated their build-up last season, but this season they’re also controlling the opponent’s half. Meanwhile, Liverpool’s ever-shifting midfield is getting results without worrying quite as much as they used to about keeping the ball. City’s lower possession share is nibbling away at the edges of their usual all-red pitch, particularly on their suddenly vulnerable left flank.

GO DEEPER Manchester City have a left-sided problem and opponents are targeting it

We can get a more detailed picture of what’s going on here by looking at not just where but how teams pass. One useful stat for summing up passing behaviour is something called ‘directness’, which is the progressive distance a pass travels toward the opponent’s goal divided by its total distance. A ball aimed straight for the box is maximally direct, while a sideways or backwards pass may have a directness of zero.

Advertisement

By that measure, there are all kinds of interesting differences in how teams move the ball.

Blue here indicates circulation, basically, while red indicates progressive passes and long balls. Notice how Tottenham, Brighton, Aston Villa and Manchester United play slowly in front of their box but push the tempo on the left wing, while City do the opposite — they build briskly up the middle but slam on the brakes when they cross the halfway line. Liverpool play direct all the way through the centre of the pitch but use Luis Diaz and Andrew Robertson on the left to slow things down and let the team catch up. Long-ball teams, such as Luton Town and Nottingham Forest, are bright red everywhere except for the middle of the attacking half, where good old-fashioned second balls and striker hold-up play send the ball backwards.

Again, we can see some pretty fascinating changes over time in the title contenders:

Manchester City used to build aggressively in the left half-space when Bernardo Silva and Ilkay Gundogan played there, but this season they’re playing fewer passes in wide areas in the build-up. Liverpool’s red hotspot on the right flank has dissolved as Trent Alexander-Arnold has become more of a deep midfielder. Arsenal pass much less directly than they used to, especially on Declan Rice and Kai Havertz’s left side, while James Maddison’s arrival has helped Spurs move their passing game into the final third.

Defensive behaviour is a little trickier to visualise on a pitch map. The image below shows possession-level ball progression against each team, with opponents attacking from bottom to top. Colours show how much farther a ball in a given part of the pitch is likely to advance towards goal before the end of the possession — possessions in yellower areas are more likely to penetrate the defence, while purple spots show where ball progression goes to die.

When that ball progression is normalised against league averages in each zone, you start to see some notable tendencies in how teams defend:

Some of the starkest patterns pop out on teams with bad defences, such as Luton and Sheffield United, who let opponents run roughshod over them across most of the pitch but are each relatively good at cutting out crosses from one particular flank. Manchester United and Liverpool are the opposite — they do a pretty good job of defending high, but once their press is broken, they struggle to keep opponents from running downhill in their half.

This season’s soft spot at the top of Liverpool’s box shows how they’ve struggled to replace Fabinho, who didn’t allow that sort of nonsense in the first 12 games of previous campaigns. City’s comparatively porous left flank shows up again here, which may raise some questions about Josko Gvardiol’s aggressive defensive style. Spurs aren’t as stout against wing play as they used to be when they defended deeper, but that’s probably a trade-off fans will accept for a team that defends the rest of the pitch better than they used to. Meanwhile, Arsenal, who were practically defenceless a couple of years ago, are now the toughest team in the league to play against thanks to Rice’s superhuman defending in front of a statistically upgraded back line.

Advertisement

Along with visualisations, it might help to look at some more general defensive metrics. The bottom line here is the first column on the left: a defence’s non-penalty xG allowed is a pretty good measure of how well it’s getting the job done. The other metrics can help us get a feel for how they do it — each stat is defined in the footnotes, but if you don’t feel like reading the fine print, just know that purple and blue are generally a good thing while green and yellow suggest areas that could use some work.

Arsenal are above average at just about everything against the ball, although their high press isn’t quite as good at winning the ball high up the pitch as Postecoglou’s Spurs. United’s vibe is basically ‘what if we tried to press like Tottenham but weren’t very good at it?’ — they force a lot of high turnovers but allow chances at about the same rate as Wolves and Nottingham Forest. And while Man City’s defence isn’t quite what it used to be, Guardiola’s monomaniacal focus on cutting out fast breaks by playing more centre-backs than anyone thought possible is paying some dividends.

There’s plenty more to look at in these charts, which can’t tell you everything about how teams play football but suggest all sorts of little things to watch for. Whether or not we actually get a proper title race this season, there are always stories in the stats — once we have a respectable sample, of course.

(Top photo: Getty Images; design: Sam Richardson) </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>