<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dutch far-right leader Geert Wilders goes on trial for inciting hatred</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Geert Wilders, the far-right politician who was acquitted five years ago of maki">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Dutch far-right leader Geert Wilders goes on trial for inciting hatred</p>
            <span id="topic" >Geert Wilders</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://i.guim.co.uk/img/media/76b0b63b1c559974445f0e7ff49f7efad269ef91/0_0_3613_2168/master/3613.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctZGVmYXVsdC5wbmc&enable=upscale&s=4dfed34bdb6419c34ddbdb02a28ee143" alt="">

                <textarea id="text" readonly> Geert Wilders, the far-right politician who was acquitted five years ago of making anti-Islam remarks, has gone on trial again for allegedly inciting hatred against the Dutch Moroccan minority.



The case comes as Wilders and other populist politicians – including Donald Trump in the US and Marine le Pen in France – have won support by calling for a ban on Muslim immigration.

Wilders, with his trademark peroxide blond hair, joked with reporters at the start of the hearing and listened calmly as prosecutors detailed the charges. He says the trial is politically motivated and that his comments are protected by his right to free speech.

“Freedom of expression is not absolute, it is paired with obligations and responsibilities,” said the lead prosecutor, Wouter Bos, “the responsibility not to set groups of people against each other.”

“Racism and hatred of foreigners constitute a direct violation of the basis of freedom, democracy and the rule of law,” he added.

State prosecutors say Wilders asked a crowd of supporters in March 2014 whether they wanted more or fewer Moroccans in the Netherlands, triggering the chant “Fewer! Fewer! Fewer!”, to which a smiling Wilders responded: “We’ll take care of that.”

The politician, whose decade-old Freedom party holds a commanding lead in Dutch opinion polls but has never been in power, denies any wrongdoing. “Nobody will silence me. Not about Moroccans either,” he tweeted last week. “No terrorist threats … no judge. Nobody.”

Wilders has lived under 24-hour protection since the 2004 murder of Theo van Gogh, who – like Wilders – made films criticising Islam.

The case against Wilders in 2011 centred on his call for a “towel-head” tax and equating the Qur’an with Hitler’s Mein Kampf. He said “Muslim criminals” should be stripped of their Dutch nationality and deported.

Although Wilders’ remarks are offensive to many, he insists he has no grudge against immigrants who accept Dutch laws and customs and has never advocated violence.

Judges have previously concluded that Wilders’ remarks may have been rude, but he was cleared because they targeted a religion, not a race.

Prosecution spokeswoman Ilse de Heer said the difference now was that his remarks “targeted a specific race, which is considered a crime”.

Wilders faces one charge of discrimination and a second for inciting hatred of Moroccans, who make up about 2% of the Netherlands’ population of roughly 17 million.

In addition to the “fewer” comment, Wilders referred to Moroccans as “scum” in a television broadcast. He may go to jail for as long as a year and could be fined a maximum of ‎€7,400 (£5,770).

The hearing, at a high-security courtroom next to Amsterdam’s Schiphol airport, is frequently used for cases involving organised crime and the trials of Islamist radicals.

In France in December, Le Pen was acquitted of charges of inciting hatred against French Muslims for comparing Muslims praying in the street to the German occupation of France during the second world war. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>