<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ektaa Kapoor shows off her Emmy award with big smile at Mumbai airport as she returns from New York. Watch</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Film producer Ektaa Kapoor is back in India after attending the 51st Internation">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Ektaa Kapoor shows off her Emmy award with big smile at Mumbai airport as she returns from New York. Watch</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.hindustantimes.com/ht-img/img/2023/11/27/1600x900/ektaa_1701048088950_1701048089355.png" alt="">

                <textarea id="text" readonly> Film producer Ektaa Kapoor is back in India after attending the 51st International Emmy Awards in New York City. On Monday morning, she was snapped arriving at the Mumbai airport with her Emmy award. Ektaa was honoured with the International Emmy Directorate Award at the Emmys for her ‘trailblazing career and impact on the Indian television landscape’. Also read: Ektaa Kapoor to be honoured with the International Emmy Directorate Award Ektaa Kapoor with her Emmy award at Mumbai airport. (Viral Bhayani)(viral Bhayani)

Ektaa Kapoor returns to India

Ektaa looked as happy as ever after paparazzi surrounded her upon reaching the airport terminal. She was in her casual look as she proudly held the golden award and showed it off. She posed with the Emmy award and smiled from ear to ear.

Reacting to Ektaa's achievement, many people on social media hailed her for making India proud. One user wrote in the post's comment section, “So proud of you Ektaa mam watching you since my childhood.” “Congratulations,” added another.

Ektaa on winning Emmy

Previously, Ektaa had posted a video of the award on her Instagram account and wrote in the caption, "India I'm bringing home YOUR Emmy @iemmys." She is the first Indian woman filmmaker to achieve the International Emmy Directorate Award, for her contributions towards art and the industry.

After receiving the award at the event, Ektaa said in her acceptance speech, "Above all I'd like to thank my country, India. It's time I humanise you, India, because in you, I find a reflection of me. You've been pulled, pushed, conquered, ruled and as you found your freedom, you found your voice. A few decades later, today, you stand tall, not needing anyone's validation, as the fifth largest economy. This award is for you, India and all the Indians here! We are few, but we're enough. This is for you, India. In your history, I find my stories in your strength and your tenacity, I find my grit to my motherland. I am bringing home your Emmy.”

New film

A day after making news with her Emmy win, Ektaa announced her next film, starring Kartik Aaryan. The untitled film will be directed by Sandeep Modi, under Karan Johar's banner Dharma Productions alongside Ekta's Balaji Motion Pictures.It marks the first collaboration between Karan and Kartik after their fallout during Dostana 2.

Entertainment! Entertainment! Entertainment! 🎞️🍿💃 Click to follow ourWhatsapp Channel 📲 Your daily dose of gossip, films, shows, celebrities updates all in one place </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>