<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elle Macpherson reveals she decided to quit drinking as she was 'not present and well' and was 'numbing herself'</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Elle Macpherson has opened up on her decision to stop drinking alcohol.

The sup">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Elle Macpherson reveals she decided to quit drinking as she was 'not present and well' and was 'numbing herself'</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://i.dailymail.co.uk/1s/2023/11/26/08/78243597-0-image-m-164_1700986854757.jpg" alt="">

                <textarea id="text" readonly> Elle Macpherson has opened up on her decision to stop drinking alcohol.

The supermodel quit booze in the lead up to her 40th birthday and says the turnaround came during a difficult period in her life.

'I stopped drinking in 2003 because I felt I couldn't be fully present in my life and it was a wonderful springboard of getting to know myself on a deeper level,' she tells Body+Soul this week.

Elle added that she had an 'awakening' once she removed alcohol from her life.

'Everybody has their own journey and I'm not interested in telling other people what to do but I know that this was a decision that I've never regretted,' she said.

Elle Macpherson (pictured) has opened up on her decision to stop drinking alcohol. The supermodel quit booze in the lead up to her 40th birthday

'Although it required discipline and persistence the bottom line is you can't be well and present in your life if you're not present and well, and alcohol doesn't really support that.

'It's very difficult to get to know yourself if you're numbing yourself.'

Elle celebrated 20 years of sobriety in September and proudly shared a photo of her blue and gold Alcoholics Anonymous tri-plate token on Instagram.

The beauty, who was nicknamed 'The Body' by Time magazine in 1989, also previously reflected on getting sober.

Elle celebrated 20 years of sobriety in September and proudly shared a photo of her blue and gold Alcoholics Anonymous tri-plate token on Instagram

'I stopped drinking in 2003 because I felt I couldn't be fully present in my life and it was a wonderful springboard of getting to know myself on a deeper level,' she said

'It's funny, 40 is such an introspective year,' she told Gritty Pretty magazine in 2020.

'I actually got sober when I was 40. I felt like I wanted to spend time in introspection,' she continued.

Elle also previously told Ocean Drive magazine that she started to focus on health and wellness in her 40s.

'Beauty at every age is such a boring cliché, but beauty is not just reserved for youth,' she said.

'There's a big movement that supports that. I didn't feel any kind of milestone pressure turning 50 at all, perhaps because I've been preparing for this stage of my life for a long time.'

'By the time I hit 50, I didn't feel any sort of plateau physically... It wasn't like, Oh my gosh, I'd better get myself together before I turn 50; it was more like I was reborn.' </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>