<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elon Musk's X faces $75 million loss in ad revenue as bombshell internal documents show Airbnb, Uber, Coca-Cola and slew of companies have joined boycott after anti-Semitic tweet</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Elon Musk's endorsement of an antisemitic conspiracy theory could cost his socia">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Elon Musk's X faces $75 million loss in ad revenue as bombshell internal documents show Airbnb, Uber, Coca-Cola and slew of companies have joined boycott after anti-Semitic tweet</p>
            <span id="topic" >business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://i.dailymail.co.uk/1s/2023/11/25/03/78218561-0-image-m-53_1700883224685.jpg" alt="">

                <textarea id="text" readonly> Elon Musk's endorsement of an antisemitic conspiracy theory could cost his social media company X up to $75 million, according to internal documents obtained by The New York Times.

In the days following Musk's ill-advised November 15 tweet, companies including Apple, IBM, Paramount and Disney announced they were no longer advertising on his platform.

But the new documents show that even more companies are fleeing, with a significant hit to X's struggling finances.

The documents list more than 200 ad units of companies including Airbnb, Amazon, Coca-Cola and Microsoft, which have halted or are considering pausing their ads on the social network.

More than 100 brands are shown as having 'fully paused' their ads, while dozens of others are listed as 'at risk,' the paper reported.

Elon Musk, seen on November 2, is facing plummeting ad revenues on X following his approval of an antisemitic conspiracy theory

The $75 million figure was the total ad revenue that X employees fear the company could lose through the end of the year if advertisers do not return.

Airbnb has stopped more than $1 million of advertising, while Uber cut back on ads worth more than $800,000.

Netflix's halted ads were worth nearly $3 million, according to X's estimates, while Microsoft's subsidiaries stopped spending $4 million.

Amazon's units for books and music, and one subsidiary of Google, have also stopped their advertising, according to the paper.

The effect on X's revenues will be dramatic.

In the last quarter of 2022 - the last year the company reported fourth-quarter earnings before Musk took over - the company recorded $1.57 billion in revenue, of which nearly 90 percent came from advertising.

Musk bought the company in October 2022 for $44 billion.

He cut around 80 percent of staff, and ended many of the content moderation policies that advertisers appreciated.

In June, he bought in veteran advertising executive Linda Yaccarino as CEO, in a bid to quell fears.

Linda Yaccarino was brought in as CEO in June, and insists that the company is being attacked by Media Matters for America

Musk has seen the value of his company plummet in its first year: last month, its value was put at $19 billion.

On Friday, X said in a statement that the $75 million figure cited by the paper was either out of date, or an internal exercise to estimate total risk.

The company said the figure was closer to $11 million, but the exact figure fluctuated as some advertisers returned to the platform and others increased spending.

Yaccarino on Wednesday wrote to employees and blamed the unrest on Media Matters for America, which highlighted antisemitic content on X and scared away advertisers, she said. Musk is now suing the watchdog.

'Kowtowing to external criticism or pressures is simply not how X will ever operate,' wrote Yaccarino.

'The people at X are free speech defenders. We stand in solidarity with those who believe in this fundamental right and the critical checks and balances of a thriving democracy.'

Musk himself has attempted to limit the fallout from the November 15 tweet, saying on November 19: 'This past week, there were hundreds of bogus media stories claiming that I am antisemitic.

He added: 'Nothing could be further from the truth.

'I wish only the best for humanity and a prosperous and exciting future for all.'

Musk has previously faced antisemitism accusations after he compared the Jewish financier George Soros to X-Men supervillain Magneto - a character who manipulates the world and thinks mutants should be in charge, rather than humans.

He made the comments on Twitter in May, following the announcement that Soros' investment fund had dumped all of their Tesla stock.

Elon Musk was interviewed on CNBC and was asked about his remarks about George Soros, giving a bizarre rambling reply

George Soros, a Hungarian-born Billionaire, heads the Open Society Foundation and is a Holocaust survivor. His foundation backs progressive politicians

Musk responded to Jonathan Greenblatt, CEO of the Anti-Defamation League, saying that the South African-born billionaire was not anti-Semitic, but his remarks were dangerous.

'He's arguably the most influential person on the planet controlling what's essentially our public square. When he repeats conspiracy theories, that feeds the extremists,' said Greenblatt.

Musk replied: 'In fairness, I must concede that Joel has a good point and I will endeavor to be more thoughtful in the future.'

He later corrected to tweet to say 'Jonathan'.

Musk continued: 'Comic book analogies are obviously imperfect, to say the least.

'Just because George Soros can bend metal using his mind doesn't mean he's Magneto!!

'Anyway, my actual concern with Soros is that he has funded so many politicians & DAs who are soft even on violent crime, which has caused great damage to many cities imo.

'Also, while I am very much in favor of expanding legal immigration, we must have some vetting of who comes in, so that we do not allow dangerous felons to prey upon innocent Americans.'

The Israeli Ministry of Foreign Affairs said that Musk's tweet had resulted in a flood of conspiracy theories and the hashtag 'The Jews' to trend on the platform.

Researchers at Beam found in June that the volume of English-language antisemitic tweets has more than doubled since the company's takeover by Musk in October 2022.

He has threatened to sue anti-hate organization the Anti-Defamation League for defamation after it criticized him for allowing anti-Semitic content online, but insists he is 'against antisemitism of any kind'.

In September, Musk swerved the topic of antisemitism when asked during an interview with Benjamin Netanyahu, the Israeli prime minister.

Musk would not address the subject, other than saying he is 'obviously against' it, and spoke more generally about 'hate speech' instead.

Netanyahu previously came to Musk's defense when he was accused of repeating discriminatory tropes about Jewish financier George Soros, and he introduced the subject by reiterating his belief that the Tesla boss does not have anti-Jewish views.

Elon Musk declined to address anti-Semitism on X when Israeli Prime Minister Benjamin Netanyahu broached the subject during their live-streamed discussion

A huge crowd of protesters gathered in San Francisco's Union Square close to where Musk and Netanyahu were meeting to demonstrate their opposition to his reforms - and to Musk giving him a platform

'I know of your opposition to anti-Semitism,' the 73-year-old Israeli leader told Musk during their X discussion.

'All I can say is I hope you can find within the confines of the First Amendment the ability to stop not only antisemitism or roll it back as best you can, but any collective hatred of a people that anti-Semitism represents.'

'Obviously I'm against anti-Semitism,' Musk replied. 'I'm anti really anything that promotes hate and conflict, and I'm in favor that which helps society and takes us to a better future for humanity collectively.'

But the SpaceX boss didn't elaborate or defend his controversial statements about Soros, including comparing him to X-Men supervillain Magneto - a character who manipulates the world and thinks mutants should be in charge rather than humans.

Speaking about hate speech generally on X, he said: 'It's important to bear in mind that there are 550 million monthly users, now maybe going to 600 million monthly users.

'On any given day there's on the order of 100 to 200 million posts to the system. This is a lot of material. Some of those are going to be bad.

'You can't police it in advance, but you can say after the fact 'oh it's getting reported as hate speech'.

'We're not going to promote speech because that's probably not what people want to hear.' </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>