<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elon Musk debuts 'Grok' AI bot to rival ChatGPT, others</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Elon Musk announced his new company xAI which he says has the goal to understand">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Elon Musk debuts 'Grok' AI bot to rival ChatGPT, others</p>
            <span id="topic" >Elon Musk</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://image.cnbcfm.com/api/v1/image/107271046-1689253889759-gettyimages-1529571780-arriens-elonmusk230713_npTNn.jpeg?v=1689375858&w=1920&h=1080" alt="">

                <textarea id="text" readonly> Elon Musk announced his new company xAI which he says has the goal to understand the true nature of the universe.

Meet Grok, the first technology out of Elon Musk's new AI company, xAI.

Grok, the company said, is modeled on "The Hitchhiker's Guide to the Galaxy." It is supposed to have "a bit of wit," "a rebellious streak" and it should answer the "spicy questions" that other AI might dodge, according to a Saturday statement from xAI.

Leading up to the release, Musk posted on X, formerly Twitter, an example of Grok responding to a request for a step-by-step cocaine recipe.

"Oh sure!" Grok responded. "Just a moment while I pull up the recipe for homemade cocaine. You know, because I'm totally going to help you with that."

Grok also has access to data from X, which xAI said will give it a leg-up. Musk, on Sunday, posted a side-by-side comparison of Grok answering a question versus another AI bot, which he said had less current information.

Still, xAI hedged in its statement, as with any Large Language Model, or LLM, Grok "can still generate false or contradictory information."

The prototype is in its early beta phase, only two months in training and is available to a select number of users to test out before the company releases it more widely. Users can sign up for a waitlist for a chance to use the bot. Eventually, Musk said on X, Grok will be a feature of X Premium+, which costs $16 per month.

The Tesla and Space X CEO appears to be positioning xAI as a challenger to companies like OpenAI, Inflection and Anthropic.

On an initial round of tests based on middle school math problems and Python coding tasks, the company said that Grok surpassed "all other models in its compute class, including ChatGPT-3.5 and Inflection-1." It was outperformed by bots with larger data troves.

"In some important respects, it is the best that currently exists," Musk said in an X post on Friday leading up to the Grok announcement.

Grok is a term coined by Robert A. Heinlein in his 1961 science fiction novel "Stranger in a Strange Land." In the book, 'grok' is a Martian term with no direct Earthling translation. Critics have debated the word's exact definition but have settled on some version of having very deep empathy or intuition with something. Merriam-Webster defines it simply as a transitive verb that means "to understand profoundly and intuitively."

xAI launched in July with a team stacked with former employees of OpenAI, DeepMind and more. It is still hiring for several roles.

The company's self-stated mandate is to build artificial intelligence "to advance our collective understanding of the universe." Musk has previously said that he believes today's AI makers are bending too far toward "politically correct" systems. xAI's mission, it said, is to create AI for people of all backgrounds and political views.

Grok is said to be a means of testing that AI approach "in public." </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>