<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elon Musk and Rishi Sunak chat China, killer robots and the meaning of life</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="LONDON, Nov 2 (Reuters) - Billionaire Elon Musk welcomed China's engagement on a">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Elon Musk and Rishi Sunak chat China, killer robots and the meaning of life</p>
            <span id="topic" >Elon Musk</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.reuters.com/resizer/sUitCm0Q17FTiHv3rqa9vaFp0WQ=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/OLY6KKIYRRK7PN56PPVDEQFL44.jpg" alt="">

                <textarea id="text" readonly> LONDON, Nov 2 (Reuters) - Billionaire Elon Musk welcomed China's engagement on artificial intelligence safety and said he wanted to see Beijing aligned with Britain and the United States on the subject, speaking in London on Thursday alongside British Prime Minister Rishi Sunak.

Musk backed China's inclusion in the first AI Safety Summit, hosted at Bletchley Park, England, which has drawn leading companies and nations together to agree initial steps on how to manage the risks of cutting-edge AI models.

"If the United States and the UK and China are aligned on safety, then that's going to be a good thing, because that's where the leadership is generally," he said.

Musk, who was in May given royal-like treatment during a visit to China, welcomed that Beijing had participated in AI safety talks at the event.

"Having them here I think was essential, really. If they're not participants, it's pointless."

Sunak interviewed Musk - feted by Britain as a star guest at the two-day summit - on a small stage in a gilded room at London's Lancaster House, one of the government's most opulent venues, which is often used for diplomatic functions.

Self-confessed tech geek Sunak said he felt "privileged and excited" to host Musk and used the occasion to make a not-so-subtle investment pitch when the Tesla (TSLA.O) and SpaceX founder said startup firms needed high rewards to take risks in the sector.

Britain's Prime Minister Rishi Sunak attends an in-conversation event with Tesla and SpaceX's CEO Elon Musk in London, Britain, Thursday, Nov. 2, 2023. Kirsty Wigglesworth/Pool via REUTERS Acquire Licensing Rights

"We very much have a tax system that supports that," Sunak said.

MAGIC GENIE

The eclectic discussion took place in front of an invited audience of dozens of other business leaders, the final event in a two-day summit seen as a big step forward in harnessing AI for good by starting to think about the serious risks it may pose.

Musk and Sunak agreed on the possible need for physical "off-switches" to prevent robots from running out of control in a dangerous way, making reference to "The Terminator" film franchise and other science-fiction films.

"All these movies with the same plot fundamentally all end with the person turning it off," Sunak said, adding that the importance of physical off switches had formed part of the discussions at the summit earlier in the day.

Musk told Sunak he thought AI was "the most disruptive force in history", speculating the technology would be able to "do everything" and make employment as we know it today a thing of the past.

"I don't know if that makes people comfortable or uncomfortable," he said.

"It's both good and bad. One of the challenges in the future will be, how do we find meaning in life if you have a magic genie that can do everything you want?"

Reporting by Alistair Smout; Writing by William James; Editing by Paul Sandle and Jamie Freed

Our Standards: The Thomson Reuters Trust Principles. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>