<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Er ist wieder da: Guirassy rettet den VfB Stuttgart vor dem absoluten Chancen-Tod</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="per Mail teilen

Der VfB Stuttgart hat gegen Borussia Dortmund ein denkwürdiges ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Er ist wieder da: Guirassy rettet den VfB Stuttgart vor dem absoluten Chancen-Tod</p>
            <span id="topic" >VfB Stuttgart</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.swr.de/sport/fussball/vfb-stuttgart/1699729098365,guirassy-elfer-dortmund-100~_v-16x9@2dL_-6c42aff4e68b43c7868c3240d3ebfa29867457da.jpg" alt="">

                <textarea id="text" readonly> per Mail teilen

Der VfB Stuttgart hat gegen Borussia Dortmund ein denkwürdiges Spiel mit 2:1 gewonnen. Zum Matchwinner wurde der eingewechselte Serhou Guirassy.

Es war die 83. Minute, als Serhou Guirassy die Fußballwelt im Stuttgarter Stadion vom Kopf endlich wieder auf die Beine stellte. Die Stuttgarter waren bis dahin das klar und deutlich überlegene Team. Sie hatten etliche hundertprozentige Chancen, die sie zum Teil kläglich vergaben. Darunter ein Elfmeter, den Chris Führich in die Hände von Gregor Kobel zurückschob.

Und jetzt, in dieser 83. Minute beim dann zweiten Elfmeter für den VfB, war Guirassy auf dem Platz. Er schnappte sich die Kugel und erzielte das 2:1. Und das mit einer Treffsicherheit und Selbstverständlichkeit, die dem Team vorher an allen Ecken und Enden gefehlt hatte.

VfB das klar bessere Team

Der VfB war von Beginn an das bessere Team, dominierte den Tabellenvierten nach Belieben, hatte nach einer guten halben Stunde ein Torschussverhältnis von 12:0, darunter der von Führich ziemlich kläglich vergebene Elfmeter. Dennoch ging Dortmund da in Führung, Niclas Füllkrug erzielte das 0:1.

Die Borussia, die sich in dieser Saison den Ruf erarbeitet hat, auch mal dreckige Siege hinzukriegen, schien auf einem guten Weg. Schien – denn die Schwaben behielten die Nerven und das Spiel klar im Griff: Sie kamen zum Ausgleich, durch Deniz Undav kurz vor der Pause. 1:1, so gingen die Schwaben in die Halbzeit.

Dortmund stand nach dem Wiederanpfiff stabiler, der VfB hatte nicht mehr die Dominanz der ersten 45 Minuten – bis in der 67. Minute Guirassy das Spielfeld betrat. Wieder verursachte Kobel einen Elfmeter, wieder trat ein Stuttgarter an. Aber endlich war es diesmal Guirassy, der den Ball mit aller Selbstverständlichkeit der Welt ins Tor hämmerte.

Mit Guirassy ist der VfB ein Spitzenteam

Woher Guirassy dieses Selbstbewusstsein nimmt, das den VfB fast alleine trägt und mit dem er Stuttgart zu einer Spitzenmannschaft der Bundesliga macht, bleibt derzeit sein Geheimnis. Ohne ihn verlor der VfB zuletzt gleich zweimal in Folge. Undav, Silas und zuletzt Führich vergaben drei Strafstöße in drei aufeinander folgenden Spielen.

Guirassy aber macht die Elfer einfach rein. Und das, obwohl eine riesige Last der Erwartung auf ihm ruht. Das Traum-Comeback war damit perfekt. Und wieder zeigt sich: Vor einem VfB mit Guirassy muss sich jede Mannschaft der Bundesliga in Acht nehmen. 15 Tore hat er jetzt erzielt, lediglich Harry Kane vom FC Bayern München steht mit 17 Toren besser da.

Guirassy ist die VfB-Garantie in Sachen Chancenverwertung

Mit Guirassy ist der VfB Stuttgart Spitze. Fehlt der Franzose, dann fehlt den Stuttgartern das, was ein Spitzenteam ausmacht: die Chancen nicht nur herauszuspielen, sondern sie auch zu verwandeln. 22:5 Torschüsse standen gegen die Borussia am Ende zu Buche.

Chris Führich, der gleich zwei 'Hundertprozentige' vergeben hatte, meinte anschließend nur sehr lapidar: "Die Chancenverwertung, daran müssen wir arbeiten." Ja, das kann man so sagen, da offenbart er eine nicht zu verleugnende Wahrheit.

Wahr ist aber auch: Man kann einfach Guirassy wieder in den Sturm nehmen. Denn beim VfB Stuttgart brauchen sie keinen Fußballgott, der am Ende für ausgleichende Gerechtigkeit sorgt. Sie haben dafür einen echten Menschen. Sie haben dafür Serhou Guirassy. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>