<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erling Haaland's legend grows with yet another Premier League record</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Manchester City’s Erling Haaland etched another English Premier League record in">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Erling Haaland's legend grows with yet another Premier League record</p>
            <span id="topic" >premier league</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://www.usatoday.com/gcdn/authoring/authoring-images/2023/11/25/USAT/71703367007-1813167888.jpg?crop=3658,2056,x1,y295&width=3200&height=1799&format=pjpg&auto=webp" alt="">

                <textarea id="text" readonly> Manchester City’s Erling Haaland etched another English Premier League record into the history books on Saturday against Liverpool.

Haaland scored his 50th goal in his 48th English Premier League game, beating Andrew Cole’s record, who played for Manchester City and Newcastle United, of 50 goals in 65 games during the 1994-95 season.

The 23-year-old Norwegian star scored the 50th goal in the 27th minute, netting the only goal for Manchester City in a 1-1 draw against Liverpool.

Haaland led Manchester City on their campaign to become treble winners, taking the Premier League, FA Cup and UEFA Champions League titles in the 2022-23 season.

Legendary price:Lionel Messi's World Cup jerseys could set record for sale price of game-worn memorabilia

Erling Haaland’s milestones at Manchester City

Haaland has already made a name for himself at Manchester City by breaking several records since joining the club in 2022. Haaland scored 36 English Premier League goals in his first season, setting a new record for most goals by a City player in a debut season. He also became the first City player to score on both his Premier League and Champions League debut.

In addition to these feats, Haaland also became the first player in the English Premier League to score a hat-trick in three consecutive home games. Haaland scored in each of his first four away games with Manchester City, making him the first player in English Premier League history to do so.

Haaland also holds the record for the best minutes-per-goal ratio in the English Premier League, with an impressive 77 minutes per goal. Furthermore, he has scored the most goals and assists in a Premier League season, with 44.

In 2023, Haaland won the Premier League Golden Boot and became the first Man City player to win the European Golden Shoe. He was also voted the Etihad Player of the Season for 2022-23 by thousands of Manchester City fans worldwide.

There is no doubt that this will not be the last record Haaland breaks, on his way to becoming one of the best players in European soccer.

English Premier League Table 2023-24

Position Club Played Won Draw Lost Points 1 Arsenal 13 9 3 1 30 2 Manchester City 13 9 2 2 29 3 Liverpool 13 9 2 2 28 4 Tottenham Hotspur 12 8 2 2 26 5 Aston Villa 12 8 1 3 25 6 Newcastle United 13 7 2 4 23 7 Brighton And Hove Albion 13 6 4 3 22 8 Manchester United 12 7 0 5 21 9 West Ham United 13 6 2 5 20 10 Chelsea 13 4 4 5 16 11 Brentford 13 4 4 5 16 12 Wolverhampton Wanderers 12 4 3 5 15 13 Crystal Palace 13 4 3 6 15 14 Nottingham Forest 13 3 4 6 13 15 Fulham 12 3 3 6 12 16 Bournemouth 13 3 3 7 12 17 Luton Town 13 2 3 8 9 18 Sheffield United 13 1 2 10 5 19 Everton 12 4 2 6 4 20 Burnley 13 1 1 11 4 preimerleague.com/tables

Postseason is calling:2023 MLS Cup Playoffs: Live stream, new format, game times and dates, odds, how to watch </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>