<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F-Zero 99 Update (Version 1.1.0) Adding New "Classic Race" Mode This Week</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Nintendo has announced it will be releasing a new update for its Switch Online b">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>F-Zero 99 Update (Version 1.1.0) Adding New "Classic Race" Mode This Week</p>
            <span id="topic" >Technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://images.nintendolife.com/0a885d2279044/1280x720.jpg" alt="">

                <textarea id="text" readonly> Nintendo has announced it will be releasing a new update for its Switch Online battle royale racer F-Zero 99, due out on 29th November.

Speed demons can look forward to new modes and functions as the game is bumped up to Version 1.1.0. The new mode is "Classic Race" where you will be able to enjoy online battles with the same rules as F-Zero on the Super Nintendo.

The same announcement goes into detail about these rules, explaining how the course will use the "same screen ratio" as the classic version of the game (4:3). The number of players is capped at 20, the spin attack and Skyway can't be used, the power meter increase from KOs is also removed and the turbo function has been adjusted.

In this update, Nintendo is also adding a "Lucky Card" that records rankings and machines used across five races. If it all matches up at the end of the five races, you'll unlock extra prizes. Last but not least, Nintendo says it will continue to make "small updates" to F-Zero 99 to enhance the overall experience.

When Nintendo releases this update and the full English patch notes, we'll be sure to share them here on Nintendo Life. This update follows news in October when Nintendo announced the King League and the "final new tracks" for F-Zero 99. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>