<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fans defend Dolly Parton for wearing Dallas Cowboys cheerleader outfit</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Stay ahead of the trend in fashion and beyond with our free weekly Lifestyle Edi">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Fans defend Dolly Parton for wearing Dallas Cowboys cheerleader outfit</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sat-6, 2023</b>
                </span>
                <br><br>
                <img src="https://static.independent.co.uk/2023/11/24/16/newFile-5.jpg?quality=75&width=1200&auto=webp" alt="">

                <textarea id="text" readonly> Stay ahead of the trend in fashion and beyond with our free weekly Lifestyle Edit newsletter Stay ahead of the trend in fashion and beyond with our free weekly Lifestyle Edit newsletter Please enter a valid email address Please enter a valid email address SIGN UP I would like to be emailed about offers, events and updates from The Independent. Read our privacy notice Thanks for signing up to the

Lifestyle Edit email {{ #verifyErrors }} {{ message }} {{ /verifyErrors }} {{ ^verifyErrors }} Something went wrong. Please try again later {{ /verifyErrors }}

Dolly Parton has reminded fans that age is just a number after putting on a halftime show performance in an iconic Dallas Cowboys cheerleader outfit.

The country music legend, 77, performed on Thursday’s NFL game between the Washington Commanders and host Dallas Cowboys. For the Thanksgiving match, Parton took to the field to sing “Jolene”, “9 to 5” and her own rendition of “We Are The Champions” by Queen.

While Parton put on a dazzling performance, it was her Dallas Cowboys cheerleader outfit that seemed to capture everyone’s attention. The singer was seen at AT&T Stadium in Arlington, Texas, wearing a modified version of the classic cheerleader outfit. Her look included the team’s signature blue cropped top, a white starry vest, and matching white mini shorts. Underneath the crop top and shorts, Parton was dressed in a sheer, bedazzled catsuit.

Following her halftime show performance, fans immediately took to social media to share their thoughts on Parton’s memorable fashion moment.

“If there’s one thing we can count on in this world, it’s that Dolly is going to give iconic looks and performances until the moment she ascends to heaven,” one fan wrote on X, formerly known as Twitter.

“You know who’s a national treasure? #DollyParton. That’s who,” said another fan.

However, it didn’t take long for some online trolls to criticise her Dallas Cowboys cheerleader outfit, as one user pointed out: “Some people are slinging insults at Dolly because she’s 77 years old and doesn’t act like an old lady.”

In response, many people praised Parton for unapologetically dressing the way she wants - no matter her age.

“Dolly Parton is 77 and wearing whatever the hell she wants. I love her,” said one fan.

“Dolly Parton looks better at 77 than I have in my entire life,” someone else wrote.

Some fans even noted how CBS commentator and former Cowboys quarterback Tony Romo seemed to gush over Parton’s performance after the halftime show. “She looks amazing,” Romo said during the NFL broadcast. “She’s wonderful. Who doesn’t like Dolly Parton?”

Throughout her career, the country music icon has been known to show off some unforgettable fashion - from her signature rhinestone jackets to her big, blonde tresses. In fact, Parton recently revealed that she was asked to “tone down” her style early on in her career.

During the four-part series What Would Dolly Do? Radio on Apple Music and Apple Podcasts, she revealed that her “dear friend” and fellow musician Chet Atkins once suggested she soften her appearance. “He said, ‘Dolly, I really don’t believe that people are going to take you serious as a singer and songwriter unless you tone down your look,’” Parton recalled to host Kelleigh Bannen. “I said, ‘Well, okay. I’ll take that to heart, Mr Atkins. Thank you for your advice.’ And of course, I just got worse with it.”

“Years later, after I became a star, he sidled up beside me and said, ‘Now ain’t you glad you listened to my good advice?’” she continued. When asked by Bannen what she would tell someone today if they asked her to change her appearance, Parton fittingly replied: “I’d say, ‘Go to hell. I ain’t doing it.’”

The “I Will Always Love You” singer went on to express that someone’s personal style should simply be whatever “makes you happy”.

“My true belief with most things, you’ve got to really find out who you are, what makes you happy, what you’re comfortable in, and if you feel like you look your best, according to your rules, then you are going to do your best,” Parton said. “I really believe that. And I think everybody has their own little things they love. To me, that is what fashion is.” </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>