<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fans von Newcastle danken BVB für faire Preise der Eintrittskarten</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Spitzenfußball zu fairen Preisen - Borussia Dortmund hat das Lob der Fans von Ne">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Fans von Newcastle danken BVB für faire Preise der Eintrittskarten</p>
            <span id="topic" >BVB</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://e6.365dm.de/23/11/1600x900/skysport_de-newcastle-dortmund_6352795.jpg?20231108115842" alt="">

                <textarea id="text" readonly> Spitzenfußball zu fairen Preisen - Borussia Dortmund hat das Lob der Fans von Newcastle United für bezahlbare Champions-League-Eintrittskarten mit großem Dank aufgenommen.

"Das hat uns sehr gefreut", sagte Geschäftsführer Hans-Joachim Watzke am Mittwoch: "Uns ärgert es sehr, wenn unsere Fans international teils fast 70 Euro für das günstigste Ticket bezahlen."

Anzeige

"Twenty's Plenty"

Im Auswärtsblock waren Plakate gezeigt worden, mit denen United-Anhänger im Rahmen der langjährigen Aktion "Twenty's Plenty" ("20 sind genug") die Dortmunder Preispolitik lobten: "Wechselgeld auf 20 Pfund - Danke, BVB." Die Borussia-Fans setzen sich für günstige Preise seit jeher mit dem Slogan "Kein Zwanni für'n Steher" ein.

Watzke sprach im Gegenzug ein "dickes Dankeschön" an die United-Fans aus: "Für ihr sportliches, faires Verhalten. Sowohl in England als auch bei uns in Dortmund."

dpa

Alle weiteren wichtigen Nachrichten aus der Sportwelt gibt es im News Update nachzulesen. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>