<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Far-right Geert Wilders may follow UK and lead Dutch exit from EU after election win</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Dutch far-right populist leader Geert Wilders, who has called for a referendum o">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Far-right Geert Wilders may follow UK and lead Dutch exit from EU after election win</p>
            <span id="topic" >Geert Wilders</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://media.zenfs.com/en/the_independent_635/032bfec98d434457a1d4a1dc350509a2" alt="">

                <textarea id="text" readonly> Dutch far-right populist leader Geert Wilders, who has called for a referendum on leaving the EU and vowed to stop all immigration to the Netherlands, has won a shock victory in parliamentary elections held on Wednesday.

The victory for Mr Wilders, sometimes dubbed the “Dutch Donald Trump”, is sending shockwaves across Europe and represents a dramatic lurch to the right for a country once seen as a beacon of tolerance.

The anti-Islam politician will now seek to form a new ruling coalition to become the country's first far-right prime minister.

With 98 per cent of votes counted on Thursday morning, Mr Wilders’ Freedom Party (PVV) had won 37 seats out of 150, well ahead of 25 for a joint Labour/Green ticket and 24 for the conservative People’s Party for Freedom and Democracy (VVD) of outgoing prime minister Mark Rutte.

The Freedom Party will still need to form a coalition government, but has already more than doubled the 17 seats it won at the last election.

“I had to pinch my arm,” a jubilant Mr Wilders said in a victory speech.

“Voters said, ‘We are sick of it. Sick to our stomachs’,” he said, adding he was now on a mission to end the “asylum tsunami”, referring to the migration issue.

“The Dutch will be No 1 again,” he said. “The people must get their nation back.”

Immigration – the issue that triggered the collapse of Mr Rutte’s cabinet after 13 years in power – has been one of the dominant talking points in the election campaign.

Mr Rutte was the country’s longest-serving prime minister, but faced a steady decline in popularity.

Mr Wilders’ election programme called for a referendum on the Netherlands leaving the European Union, a total halt to accepting asylum-seekers and migrant pushbacks at the Dutch borders.

The populist with dyed blonde hair said in a television debate during the election campaign: “It’s been enough now. The Netherlands can’t take it any more. We have to think about our own people first now. Borders closed. Zero asylum seekers.”

A self-proclaimed fan of Hungary’s far-right Victor Orban, Mr Wilders is also explicitly anti-EU, urging the Netherlands to significantly reduce its payments to the bloc, and to stop the entry of any new members.

He has also repeatedly said the country should stop providing arms to Ukraine, saying it needs the weapons to be able to defend itself.

None of the parties he could potentially form a government with shares these ideas.

Mr Wilders called on other parties to engage in coalition talks, although both the VVD and the upstart centrist New Social Contract party – the Freedom Party’s most likely partners – have raised serious concerns about working with the far-right.

Pieter Omtzigt, a former centrist Christian Democrat who built up the New Social Contract party in just three months to take 20 seats, said he would always be open to talks.

Frans Timmermans, the leader of an alliance of the centre-left Labor Party and Green Left, which was seen winning 25 seats, said Mr Wilders should not count on a coalition with him.

“We will never form a coalition with parties that pretend that asylum seekers are the source of all misery,” Mr Timmermans was quoted by the Associated Press as saying.

“And in the coming days and weeks we will increasingly see how difficult, how important, how essential our task is to stand up for the Netherlands where we exclude no one, to stand up for the Netherlands where we embrace everyone to stand up for the Netherlands, where we do not look at what your background is, what your religion is, what your skin color is,” he added.

Hungary's nationalist prime minister on Wednesday congratulated Mr Wilders, saying the "winds of change are here".

“Congratulations to Geerts Wilders and the PVV for their spectacular performance in the legislative elections which confirms the growing attachment to the defence of national identities,” said French far-right leader Marine Le Pen.

“It is because there are people who refuse to see the national torch extinguished that the hope for change remains alive in Europe,” she added.

Spain’s far-right politician, Santiago Abascal, added: “More and more Europeans demand in the streets and at the polls that their nations, their borders and their rights be defended.”

Matteo Salvini, the deputy prime minister of Italy, said, "a new Europe is possible”.

In 2016, Mr Wilders said he wanted to ban all Islamic symbols, mosques and the Quran, although in this election campaign he has been seeking to soften his image in the hope of entering government, which some voters said they liked.

He said recently that opposing Islam remained at his party’s core but concerns over the cost of living, improving care for the elderly and limiting immigration were what he focused on now.

His enduring popularity since he created PVV in 2006 has pushed ruling parties over the years to give the Netherlands one of Europe’s toughest immigration policies.

Abroad, his comments about the prophet Mohammed and calls for the Quran to be banned led to sometimes violent protests in countries including Pakistan, Indonesia and Egypt. He was convicted of discrimination after insulting Moroccans at a campaign rally in 2014.

Death threats against him mean he has lived under heavy police protection for years. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>