<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIFA U-17 World Cup: Argentina to face Brazil in quarterfinals, England and USA knocked out</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Argentina and defending champion Brazil will meet in the quarterfinals of the Un">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>FIFA U-17 World Cup: Argentina to face Brazil in quarterfinals, England and USA knocked out</p>
            <span id="topic" >world cup</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.hindustantimes.com/ht-img/img/2023/11/23/1600x900/FBL-U17-WC-2023-POL-ARG-1_1700724692814_1700724724507.jpg" alt="">

                <textarea id="text" readonly> Argentina and defending champion Brazil will meet in the quarterfinals of the Under-17 World Cup in Indonesia after navigating a second round that saw the England and U.S. teams eliminated from the tournament. Uzbekistan upset 2017 champion England 2-1 on Wednesday, a day after Germany advanced 3-2 over the United States. Argentina's Thiago Ezequiel Laplace celebrates scoring a goal.(AFP)

Germany will open the quarterfinal stage against Spain on Friday before Argentina takes on Brazil. The quarterfinals Saturday will feature France against Uzbekistan and Mali against Morocco. Brazil's title defense got off to a shaky start in a 3-2 loss to Iran, but a 9-0 rout of New Caledonia and a 2-1 win over England earned the 2019 champions a spot in the round of 16.

Brazil then beat Ecuador 3-1 with two goals coming from Estevao and one from Luighi. Argentina thrashed Venezuela 5-0, a result that was not in doubt after three goals in the first 32 minutes.

After an own-goal, Santiago Lopez and Claudio Echeverri found the target before a late double from Agustin Ruberto, who leads the tournament’s scoring rankings with five goals. England's demise followed a stunning freekick from Lazizbek Mirzaev after Joel Ndala had canceled out an early goal from Amirbek Saidov.

Uzbekistan will be growing in confidence ahead of a knockout game against France, which squeezed past Senegal 5-3 in a shootout after the game ended 0-0. A late goal from Bilal Yalcinkaya gave Germany a 3-2 win over the United States on Tuesday. Spain advanced 2-1 over Japan.

U.S. coach Gonzalo Segares looked for the positives after the narrow loss which followed group stage wins over Burkina Faso and South Korea. “I’m very proud,” he said. “A lot of people didn’t think we were going to be even close on the scoreboard (against Germany), and we showed that we can play one-on-one with anyone."

Mali thrashed two-time champion Mexico 5-0 to move into a showdown with Morocco, which beat Iran 4-1 on penalties after the game finished 1-1. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>