<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First group of Israelis and Palestinians freed under breakthrough Israel-Hamas truce</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Jerusalem CNN —

The first groups of Israelis and Palestinians have been release">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>First group of Israelis and Palestinians freed under breakthrough Israel-Hamas truce</p>
            <span id="topic" >israel</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://media.cnn.com/api/v1/images/stellar/prod/231124131524-hostage-family-protest-isreal-1120.jpg?c=16x9&q=w_800,c_fill" alt="">

                <textarea id="text" readonly> Jerusalem CNN —

The first groups of Israelis and Palestinians have been released under a truce brokered between Israel and Hamas that brought a temporary halt to fighting in Gaza after weeks of conflict, officials said.

The Israel Defense Forces (IDF) confirmed 13 Israeli hostages had returned to Israel on Friday, where they have undergone initial medical assessments.

And Qatar’s Foreign Ministry, which helped broker the agreement, confirmed that the Palestinian prisoners released as part of the deal were on the way to the West Bank.

The Red Cross, which transported the detainees on Friday from Gaza to the Rafah border with Egypt, said 24 hostages had been freed.

Ten Thai citizens and one Filipino citizen have also been freed under a separate agreement.

Among the Israelis freed are 5-year-old Emilia Aloni and Adina Moshe, who was seen being driven away on a motorbike after being abducted from her kibbutz during the October 7 Hamas attacks.

“They’re now en route to hospitals where they will be reunited with their families – or rather, should I say, what’s left of their families,” Israeli government spokesperson Eylon Levy told CNN. “Many of them, of course, their families were murdered on October 7.”

IDF spokesman Daniel Hagari said that the 11 freed foreign nationals were returned to Israel alongside the Israeli hostages released on Friday night. “They all underwent an initial medical assessment at the Kerem Shalom crossing, and their lives are not at risk,” he said in a briefing.

Levy said the initial release still left 215 hostages inside Gaza. “None of us here are free until all of them are free. We are committed to that pledge: There will be no one left behind,” he said.

Israel also released 39 Palestinian prisoners in return on Friday. Buses reported to be carrying some of the released Palestinian women and teenagers were seen leaving Ofer prison in the occupied West Bank.

The Red Cross later confirmed that the group leaving Ofer prison had arrived in Ramallah.

The Israeli intelligence service Mossad and the IDF have received the second list of Israeli hostages due to be released on Saturday as part of the framework agreed on with Hamas, the office of Israel’s Prime Minister said in a written statement on Friday.

Security officials are reviewing the list of names, the statement said.

Israel’s Hostage Coordinator Brig. Gen. (res.) Gal Hirsch has given the information to the families of the hostages, the statement added.

The list will not be released to the public until the hostages are safely in Israeli hands.

Israeli security forces and ambulances wait outside the helipad of Tel Aviv's Schneider Medical Centre on Friday. Fadel Senna/AFP/Getty Images

A major breakthrough

The hostages and Palestinians released Friday were the first to be freed through a deal between the two sides that was finalized after weeks of tense negotiations and took several agonizing days to come into effect.

The agreement, accompanied by a four-day truce between Hamas and Israel, represents a first major diplomatic breakthrough in the conflict.

The released hostages entered Egypt through the Rafah crossing before returning to Israeli soil, where they were taken to local hospitals.

Well-wishers gathered outside the Schneider Children’s Medical Center near Tel Aviv cheered and clapped as helicopters carrying now-freed hostages arrived on Friday after dark. Eight freed hostages from three families are receiving care at the center, according to hospital staff.

One nurse from a neighboring hospital who came to witness the moment told CNN it was like a “drop of joy in a sea of sadness.”

“I needed to see this moment with my own eyes,” the nurse, who asked to be identified by her first name, Elena, said.

The concurrent halt in fighting began at 7 a.m. local time (12 a.m. ET) Friday, and is believed to be holding – the first sustained break in hostilities after nearly seven weeks of conflict.

It allowed relief to flow into the besieged Gaza Strip, marking some respite in a humanitarian crisis that has worsened by the day. The United Nations said Friday that 137 trucks of humanitarian goods were offloaded in Gaza on day one of the pause in fighting, marking the largest aid convoy that has moved into the strip since October 7.

“During the humanitarian pause that has been in place since this morning, the UN was able to scale up the delivery of humanitarian assistance into and across Gaza,” a statement from the UN Office for the Coordination of Humanitarian Affairs (OCHA) said.

﻿On Friday, 129,000 liters of fuel and four trucks of gas were also delivered to Gaza, OCHA said.

OCHA added that “21 critical patients were evacuated in a large-scale medical operation from the north of Gaza.” It is not clear where those patients were taken.

While Friday saw the first batch of Israeli hostages released, more – totalling 50 women and children – are expected to be exchanged over the course of the truce.

Speaking to reporters Friday, President Joe Biden called the release of hostages a positive start and sounded an optimistic note on the potential release of Americans in the coming days.

Biden said he expected soon to get the names of the hostages who will be released on Saturday, saying he was “hopeful it’s as we anticipate.” He said he did not know when the three Americans who fall into the category of women or children, including now-four-year-old Abigail Edan, would be released, but confirmed he still does “expect it to occur.”

“My hope and expectation is it’ll be soon,” he said of the possibility of the three Americans being released.

Pressure on the Israeli government had been mounting for weeks from the families of the hostages, who have demanded answers and action from Prime Minister Benjamin Netanyahu.

International calls for more humanitarian support for the people of Gaza had also been growing, and the truce is expected to give respite to those in the enclave who have endured weeks of attacks. The number of people killed since October 7 now stands at 14,854, according to information from Hamas authorities in the Strip.

Hundreds of people gathered outside Tel Aviv’s Museum of Art – in an area that has gained the name “Hostages Square” among locals – ahead of the announcement, waiting anxiously for confirmation of the hostages’ safe transfer.

Tamar Shamir said she had been visiting the square for weeks to show support for the hostages and their families. While the confirmation of the transfer came as a relief, she said more needed to be done to return all hostages taken by Hamas.

“We are not happy. We cannot be happy until everyone comes back home,” Shamir told CNN.

Residents of Gaza meanwhile began moving across parts of the Strip after Friday’s truce began, though some displaced Palestinians trying to return to homes in northern Gaza were allegedly blocked by Israeli forces, a journalist told CNN.

The IDF warned residents against attempting to travel from the south to the north, where combat between Hamas and Israel has been concentrated.

Social media videos showed people running away amid the sound of gunfire, presumed to be Israeli, on Salah Al-Din street. A journalist told CNN that Israeli tanks were seen and gunfire could be heard on Salah Al-Din street.

CNN has reached out to the IDF for comment on whether people attempting to enter north were fired on.

Israel declared war on Hamas following the militant group’s bloody October 7 terror attack on its territory, in which more than 1,200 people were killed – the largest such attack on Israel since the country’s founding in 1948.

Militants were holding more than 200 people captive inside Gaza from mass abductions that day, according to figures from the Israeli military.

This story has been updated with additional developments. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>