<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget jump squats — this standing ab workout sculpts your core and is kind to your knees</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Standing ab workouts are becoming increasingly popular, with some videos even re">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Forget jump squats — this standing ab workout sculpts your core and is kind to your knees</p>
            <span id="topic" >health</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://cdn.mos.cms.futurecdn.net/MhHJUkY4e5JPyL29PhuyGi-1200-80.jpg" alt="">

                <textarea id="text" readonly> Standing ab workouts are becoming increasingly popular, with some videos even reaching over 30 million views . These exercises are crafted to engage your core muscles without requiring you to lie down — this makes them the ideal workout for taking your ab routine outdoors or when floor space is limited at the gym. Plus, the fact you don’t need to lie down makes the workouts more accessible for those with mobility issues, or pregnant women, who might be looking for a standing workout.

This particular standing ab workout is perfect for those who want to avoid jumping, making it kind to your knees. That said, it’ll still pack a punch, and help you work up a sweat, build muscle and tone the muscles in your mid-section.

Working out the core muscles is extremely important, not just for aesthetics but because the core helps with everyday tasks, supports the spine, and helps improve your posture. The core also acts as a central chain, connecting the upper and lower body.

What is the workout?

If you prefer to read your workouts before giving them a go, you’ve come to the right place. To further understand how to do this standing ab workout, we spoke with a personal trainer Amy Buckler-Smith . Just remember, “to make the most of the workout, tuck in your pelvis and keep your ribcage down,” as explained by the video’s creator, Mr and Mrs Muscle .

The workout takes 15 minutes — you’ll do each exercise for 30 seconds, before moving on to the next, with a 10-second rest between. There’ll be four rounds in total, so you’ll get a chance to get to grips with the different exercises.

Oblique crunch to cross crunch

Start by standing tall with your feet hip-width apart, hands behind your ears and elbows out to the side, then, engage your core by making an 'ssss' sound, or by thinking about sucking your belly button into your spine. Bring your left knee to your right elbow in a crunch movement and return to your starting position. Then bring your right knee to your right elbow and return to your starting position. This exercise engages your abs, hamstrings, quads and glutes so it is a great all-rounder, which will tone your abs without applying too much pressure like when doing a horizontal crunch.

You’ll do 30-seconds on one side, before switching.

Around the world knee crunch

Again start standing tall with your feet hip-width apart and engage your core. Bring your hands together to the left of your body with your arms straight. Draw a big rainbow over your head to the right of your body and bring your left knee across your body to meet your hands. Draw a rainbow back over your head to your left, and bring your right knee to your hands. Continue for 30 seconds. This exercise provides a full-body workout but with a focus on your core muscles.

Lateral chop

Start by standing tall, feet hip-width apart, arms out in front of you with your fingers interlocked, and engage your core. Inhale and on the exhale in a controlled movement, swing your hands to your left and twist your body from your right toe. Inhale and return to the centre. Repeat on the other side and continue for 30 seconds. Many injuries are caused by moving twisting in an awkward position so practising this movement in a controlled situation allows the obliques to be strengthened to minimise the risk of any injury.

Straight to cross punch

Start by standing tall, feet hip-width apart, hands protecting your face in fists with your fingernails facing you and engaging your core. Punch forward with your left hand and tap your left toe out to the side. Return to the starting position and then punch the same arm across your body turn the body to your right and tap the left toe to the side. Amy says that this is one of her favourite exercises because it is low impact but can still improve your cardiovascular fitness. You can take it slower on days where you don't want to push yourself too much but on days where you are feeling good, you can pick the pace up, all while protecting your joints.

What are the benefits of a standing ab workout?

Firstly, it’s a functional exercise, says Amy. This standing ab workout mimics real-life movements, enhancing functionality, and contributing to improved posture and balance in everyday activities. It also will help with your cardiovascular fitness — not only does target the abs but also gets your heart pumping, promoting cardiovascular health and overall fitness. It’s also perfect for individuals with knee problems or those in late pregnancy or postnatal phases, as it provides effective training with minimal impact on joints.

There’s great flexibility with a standing ab workout, as it doesn't require any equipment so can fit in around a busy schedule. Amy suggests that you can even do it while you boil the kettle to make a well-deserved cup of tea. Lastly, it improves stability by focusing on the core and lower body, contributing to a stronger foundation for daily movements and activities.

I tried the workout — here's my verdict

Although I love yoga, barre and Pilates, I find ab workouts pretty difficult, because I tend to get a sore lower back, but, I was excited to try this workout, as it didn’t involve lying down. I tried this workout for the first time on a day when my back was feeling particularly painful, and straight away I was grateful to not have to get down on the floor. Immediately, I noticed that my core muscles were being worked, but I didn’t feel that typical strain on my back and neck that I get with most ab workouts.

After a few weeks of trying it out every few days, I have started to notice a difference in how strong my core feels, but don’t feel any tension in other parts of my body. For those who like a really strong burn immediately, this might not be for you, but if you are looking for a standing ab workout to add to your routine, this one is worth trying. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>