<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Former TV Star Ivanka Trump Wipesout Badly While Surfing a Wave Pool</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Wipeouts. We've seen a lot of 'em lately.

Last week there was an epic giant bar">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Former TV Star Ivanka Trump Wipesout Badly While Surfing a Wave Pool</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://media.zenfs.com/en/surfer_magazine_140/8ae4059301031324f92e1307e4590064" alt="">

                <textarea id="text" readonly> Wipeouts. We've seen a lot of 'em lately.

Last week there was an epic giant barrel cartwheel by Andrew "Cotty" Cotton. It was from the same brutal session at enormous Mullaghmore Head in Ireland where Nathan Florence surfed and survived "absolute annihilation" in boiling 25-foot slabs."

In October, we saw terrifying footage of big wave surfer Kai Lenny getting eaten alive in a giant barrel at Jaws. Shortly after, WSL commentator Strider Wasilewski got devoured at Pipeline and left with a broken eardrum.

But the latest wipeout is from Ivanka Trump, the former co-host of The Apprentice and offspring of former president Donald Trump.

Trump captioned the clip above:

"Swipe ➡️ 😅😂"

The post above shows a series of shots from Trump's wave pool wipeout session.

In the first shot, the regular footer is on a standing wave. The second shot shows Trump in full wipeout mode on her back, legs in the air. In the last clip, she's cruising on the wave and eventually gets helped off by a staff member.

This wasn't the first time Trump caught a wave.

In September, she went wakeboarding in Miami on Labor Day weekend. According to her Instagram trail, it wasn't her first time.

Earlier in the summer, Trump posted a photo of her carrying a longboard and captioned it: "Soaking up the Summer Solstice"

In September of last year, she posted photos of another wakeboarding session.



Trump is one of many famous faces who've tried surfing lately. Wakeboarding has been popular with celebrities including singer Shakira, quarterback Patrick Mahomes, and Facebook's Mark Zuckerberg.

Meanwhile, celebs like Dancing with the Stars Julianne Hough and Nina Dobrev of The Vampire Diaries have surfed Kelly Slater's Surf Ranch.

***

Don't miss another headline from SURFER! Subscribe to our newsletter, follow us on Instagram, and stay connected with the latest happenings in the world of surfing. We're always on the lookout for amusing, interesting and engaging surf-related videos to feature on our channels.

Whether you're a professional surfer or just an amateur, we want to see your best footage and help you share it with the world. Submit your video for a chance to be featured on SURFER and our social channels. Be sure to subscribe to our YouTube channel to watch high-quality surf videos. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>