<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Former UFC fighter Conor McGregor aims criticism at Irish leaders amid unrest in Dublin</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Former UFC champion Conor McGregor voiced his displeasure with Irish law enforce">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Former UFC fighter Conor McGregor aims criticism at Irish leaders amid unrest in Dublin</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://static.foxnews.com/foxnews.com/content/uploads/2023/11/Conor-McGregor-1.jpg" alt="">

                <textarea id="text" readonly> Former UFC champion Conor McGregor voiced his displeasure with Irish law enforcement and others in leadership positions for their handling of the recent stabbing incident in Dublin.

McGregor argued that his home country is in danger due to the crime and that officials have not properly worked to remedy it. McGregor was born in Ireland.

Earlier this week, the mixed martial arts star took to social media to demand that Irish authorities condemn rioters who took to the streets after rumors circulated that a foreign national was responsible for the stabbing outside a school in Dublin. The BBC has since reported that the suspect is believed to be a male Irish citizen in his 40s.

CLICK HERE FOR MORE SPORTS COVERAGE ON FOXNEWS.COM

As of Friday, an estimated 34 people have been arrested in relation to the riots.

"There is grave danger among us in Ireland that should never be here in the first place, and there has been zero action done to support the public in any way, shape or form with this frightening fact. NOT GOOD ENOUGH," McGregor posted on X, the company formerly known as Twitter.

CONOR MCGREGOR'S AGENT EXPECTING UFC RETURN IN 2024: 'HE WANTS TO COMPETE'

Irish Justice Minister Helen McEntee said that those who rioted did not do so for immigration purposes and labeled them as "thugs" and "criminals."

"There was a protest earlier that was a general peaceful protest, but a separate group then [came] with an intention to seek and wreak havoc," McEntee said.

Irish Prime Minister Leo Varadkar said the country’s capital had endured two attacks — one on innocent children and the other on "our society and the rule of law."

"These criminals did not do what they did because they love Ireland, they did not do what they did because they wanted to protect Irish people, they did not do it out of any sense of patriotism, however warped," Varadkar told reporters on Friday morning.

"They did so because they’re filled with hate, they love violence, they love chaos, and they love causing pain to others."

McGregor seemed to dismiss the statements from the Irish prime minister and other officials.

"Announce our plan of action!! What are we waiting for? Your statements of nothing are absolutely worthless to the solving of this issue," McGregor wrote in a separate social media post.

McGregor also suggested the country was "at war."

An estimated 500 people recently took to the streets in Dublin, which resulted in the burning of several cars. A bus was also torched, according to police. Multiple properties in the immediate area also suffered damage.

The motive for the attack remains unknown.

McGregor has been vocal about his desire to see immigration reform in his native country. He previously spoke out about the death of 23-year-old Irish teacher and musician Ashling Murphy, who was killed in a stabbing in 2022.

CLICK HERE TO GET THE FOX NEWS APP

Last week, a Slovak national was found guilty of murder in the killing. McGregor then responded, saying in part, "The Irish government makes me ashamed to be Irish. We are appalled with you all!"

Fox News' Michael Dorgan contributed to this report. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>