<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frank Reich: Panthers won't let height rule out Bryce Young</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="CHARLOTTE, N.C. -- Carolina Panthers coach Frank Reich hasn't ruled out any of t">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Frank Reich: Panthers won't let height rule out Bryce Young</p>
            <span id="topic" >Frank Reich</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://a4.espncdn.com/combiner/i?img=%2Fphoto%2F2023%2F0316%2Fr1145547_1296x729_16%2D9.jpg" alt="">

                <textarea id="text" readonly> CHARLOTTE, N.C. -- Carolina Panthers coach Frank Reich hasn't ruled out any of the four quarterbacks targeted for the top pick of the draft, including Alabama's Bryce Young, whose biggest drawback is that he is only 5-foot-10.

On Monday, the first time he's spoken publicly since Carolina traded with Chicago for the top pick 10 days ago, he quickly emphasized that he had a "very high grade'' on Russell Wilson in 2012.

Wilson, who helped the Seattle Seahawks win one Super Bowl and reach another in addition to making the Pro Bowl nine times, is 5-11 in a world where the average height of NFL quarterbacks is 6-3.

"Don't read anything into it,'' said Reich, who was a 6-foot-4 NFL quarterback. "I'm just saying that because all these people are putting this label on me that I only look at big quarterbacks.''

Reich wouldn't even discuss how much weight he will put into the heights of the quarterbacks being evaluated for the top pick, such as Young, Ohio State's C.J. Stroud (6-3), Florida's Anthony Richardson (6-4) and Kentucky's Will Levis (6-4). He said that would be like Kentucky Fried Chicken giving its "proprietary formula.''

"When you have the No. 1 pick you don't have to play games, right?" Reich said. "It's not like we're trying to fool anybody. What we're trying to do is take all the time we can on the evaluation.''

That said, in 17 years of coaching, Reich has never had a starting quarterback shorter than 6-2, and most of his quarterbacks (Andrew Luck, Peyton Manning, Philip Rivers, Matt Ryan, etc.) have been 6-4 or taller.

General manager Scott Fitterer, however, was on the Seattle staff that selected Wilson in the third round of the 2012 draft and had a first-round grade on him.

"One thing about Russell, he never really got balls batted down in college, and he had that 6-5, 6-6 Wisconsin offensive line in front of him,'' Fitterer said. "He was able to move in the pocket and slide and find these passing lanes and he could rip it.

"Those are the types of things that you look for in these quarterbacks.''

Young had a similar reputation for not having passes batted down at Alabama.

Both Fitterer and Reich insisted all four quarterbacks were in play for the top pick. They also agreed that whoever that quarterback is, the roster has been built in free agency so that player has a chance to start right away despite the addition of veteran quarterback Andy Dalton.

The Panthers re-signed center Bradley Bozeman, meaning the entire offensive line from 2022 returns. They signed veteran running back Miles Sanders to replace D'Onta Foreman and veteran wide receiver Adam Thielen to replace DJ Moore, who was part of the trade with Chicago for the top pick.

They also signed a veteran tight end with pass-catching ability in Hayden Hurst and Dalton to help mentor the first-round pick.

"We're putting this guy in a good position, with some of the pieces that we've signed,'' he said.

Ultimately, Reich said he wants a playmaker who is a strong leader.

"So I feel like we're putting pieces in place that he can walk in and be ready to go,'' he added.

Those pieces will start falling in place more clearly over the next 1½ weeks as the Panthers attend pro days of the top quarterbacks, beginning with Stroud on Wednesday, Young on Thursday and Levis on Friday. Richardson's pro day will be March 30.

Carolina plans to bring all four to Charlotte for a visit as well.

"We're just trying to get the right quarterback for us,'' Reich said. "We knew at [the ninth pick] it was a hard spot to be at. ... Is there more pressure with [No. 1]? I guess so, but I don't feel it. I just feel more freedom that we can get the guy that we want.

"We're in the driver's seat.'' </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>