<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frank Reich fired by Panthers, but Carolina's owner David Tepper remains the bigger issue</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="On Monday morning the Panthers fired Frank Reich, just 11 games into his tenure,">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Frank Reich fired by Panthers, but Carolina's owner David Tepper remains the bigger issue</p>
            <span id="topic" >Frank Reich</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://sportshub.cbsistatic.com/i/r/2023/11/27/5f329739-e6e6-4363-91c2-f9ad412247cb/thumbnail/1200x675/63080967038b85ff133394bd12abb886/tepper.jpg" alt="">

                <textarea id="text" readonly> On Monday morning the Panthers fired Frank Reich, just 11 games into his tenure, but the Panthers didn't really have a Frank Reich Problem. They (probably) don't have a Bryce Young Problem. They definitely have a David Tepper Problem.

Carolina's impetuous owner, a man who has shown a wild proclivity for firing people under his employ, is exactly why Reich's dismissal wasn't a surprising fire.

Just a few hours earlier on Sunday night I pointed out the end was coming sooner rather than later. That much was obvious when Reich ceded play-calling duties to offensive coordinator Thomas Brown only to grab them back three games later, a sure sign he'd received some kind of ultimatum. Reich's now been canned midseason in back-to-back years and while this year's toss to the curb is less embarrassing than being replaced by Jeff Saturday, Reich's first year in Carolina lasted just 11 games, the shortest stint for a first-year head coach in 45 years. Even Urban Meyer got 13 games with Jacksonville two years ago.

And Reich probably won't be the last person from this Charlotte-based dumpster fire who gets canned amid a seemingly non-stop churn of coaches, personnel men and quarterbacks.

Under Tepper, the Panthers have become The New Browns, which is not a good thing. Just like Jimmy Haslam, Tepper is a former Steelers minority owner and bombastic businessman hellbent on believing he will win in the NFL because he won in business. Tepper won big-big in business too. He's a hyper-aggressive hedge fund billionaire with his name on Carnegie-Mellon buildings. Until the Waltons dipped their toe in the game, he was the NFL's richest owner.

He knows how to read markets, he knows how to flip assets, but he clearly doesn't know how to run a professional football team. Unless he's trying to run it into the ground, which he's currently succeeding in doing.

Take into account draft capital and the Panthers have the bleakest future prospects of any NFL team by a wide margin. They are the worst team -- and offense -- in the league. How does the offense improve when there's a massive dearth in terms of pass protection and a complete void in terms of vertical weapons for the passing game? Bryce Young is averaging 5.4 yards per pass attempt. The Panthers have scored more than 14 points in four games this year and in every single instance it required garbage time.

They have no 2024 first-round pick. The only thing standing in the way of Carolina handing Chicago the first overall pick in 2024 are ... Bill Belichick and Mac Jones? Maybe the Cardinals, but Kyler Murray has them back to being feisty/competitive most weeks now. Giants undrafted rookie quarterback Tommy DeVito has more wins than the Panthers this season.

So to recap: the Panthers don't have a coach, they lack future assets and they're not sure whether they have a quarterback. Which is basically how it has been half the time under Tepper.

This is not ~all~ Tepper's fault. Reich deserves some blame. So does Bryce Young. GM Scott Fitterer didn't do a good job putting this roster together. The pass catchers haven't helped the young quarterback. The offensive line? SHAME. Blame bad luck if you want.

But, the bottom line is -- and every good CEO of any decent company will tell you this -- the buck stops at the top. Tepper constantly speaks of needing two things: a coach who is a program builder and a franchise quarterback. He's not wrong there. Those things are important, but any average football fan and/or small child knows that's what you need in the NFL.

And knowing is just half the battle. Execution is key and Tepper has failed miserably with both of them so far.

The coaches

When Tepper hires his next head coach, it will be his SEVENTH coach since buying the team in 2018, including interims. Every single coach he's hired or inherited has been fired in the middle of the season, which means he has three full-time head coaches and three interim head coaches under his short watch.

Ron Rivera was probably at the end of his rope, but he had been with Carolina long enough to warrant finishing out the season. "Riverboat'' got sunk midseason -- Carolina was 5-7 -- by Tepper during the owner's second year and replaced by Perry Fewell as the interim. Rivera's firing was part of a larger overhaul, including the eventual ouster of GM Marty Hurney and pushing out long-time fan favorite quarterback Cam Newton (more on that in a second).

Tepper followed Rivera with an aggressively public pursuit of Matt Rhule, who he is still paying a boat ton of money to after firing five games into the third year of a massive, lengthy contract that pulled him from the college game. A good chunk of that money is offset by Rhule's new gig in Nebraska. He was a disaster as an NFL head coach so firing him was a fine move, but Tepper's still the guy who hired him and, in the press conference announcing the hire, touted how Rhule "dresses like shit and sweats all over himself" while simultaneously comparing Rhule to Steelers dynasty architect Chuck Noll. Sure!

Reich -- one of the most respected coaches in football -- would be next and he's clearly the scapegoat for this disaster season. Reich didn't even make it to the end of Rhule's contract, much less his own. Young has been terrible and it's especially bad when juxtaposed with No. 2 overall pick C.J. Stroud's performance in Houston. There's no sign of Young developing into a franchise quarterback, although reasonable minds can agree it's impossible to know based on what's going on around him. Was Reich was hired to develop the Panthers first overall pick? Or was he hired to win immediately? Neither has happened but the decision to fire him 11 weeks in surely indicates a lack of patience on Tepper's part. Even Urban Meyer got 13 games from the Jaguars two years ago.

Chris Tabor takes over as interim head coach, with Jim Caldwell severing as senior assistant to OC Thomas Brown, who will ostensibly go back to calling plays for the second time this season. The Panthers had four coaches from 1995 through 2018 and have had six in the seven years since. What a mess.

The quarterbacks

But it could be worse? Tepper constantly harps on the need for a franchise quarterback but it's clear he isn't capable of 1) identifying one or 2) letting his football people identify one.

Like Rivera, Tepper inherited Newton when he bought the team. It's almost forgettable now, but the Panthers dumping Cam during the 2019 offseason was a big deal. It was basically Rhule's first move, which ultimately would become as much a symbol of his sloppy regime in Charlotte as his wrinkled owners' meetings khakis.

Rhule came in and went 5-11 with Teddy Bridgewater starting 15 of the teams 16 games. Christian McCaffrey got hurt (Ron can take the L for that one, for sure), there was a pandemic, we had tons of Zoom calls, yada yada yada. 2020 was a weird year and Rhule got a pass for it. But Bridgewater was wildly overpaid in free agency and given just a single year before it was time to move on to the Sam Darnold Experience the following offseason.

Bear in mind, before trading for Darnold, the Panthers desperately tried to trade for a slew of other veteran quarterbacks. Piece together the various accounts and they whiffed on Matthew Stafford, Russell Wilson and maybe Aaron Rodgers. Quarterbacks weren't interested in coming to Carolina. Even Carson Wentz declined! Hence the deal for Darnold, who was done with the Jets after they drafted Zach Wilson.

In theory, the move to acquire Darnold seemed like a smart buy-low move. In practice, immediately picking up his fifth-year option was just bad business. And dealing a second-round pick for Darnold was a pretty outrageous price, even if you could convince yourself at the time it was a decent gamble for a former top pick. Darnold obviously flamed out for Carolina, going 4-7, leading to the Panthers bringing back Cam midseason and then later playing P.J. Walker for a game.

Enter Baker Mayfield, because why not keep firing draft assets? Baker was at least cheap, but in the same offseason the Panthers dealt a ton of unnecessary assets to move up and grab Matt Corral in the third round of a bad quarterback draft. Ole Miss is an ~allegedly~ lovely place, Lane Kiffin rules, but I told Panthers fans what would happen with this trade. Baker would be released midseason, end up on the Rams and Darnold/Walker finishing things out for Steve Wilks after Rhule was fired.

Tired of whiffing small at the quarterback position, it became clear Tepper demanded his front office swing BIG this past offseason. So the Panthers dealt an outrageous pile of assets for the right to move up to first overall, where they would take Young.

Young's acquisition has multiple components that raise red flags for Tepper. The process was an abject failure from start to finish and this is where it falls back on the owner. Every single Panthers pro day visit featured an absurdly large traveling party -- 14 people in tow for each visit -- turning every single one of them into a "look at me" event of self-indulgent grandiose that it could make you ask who was calling the shots on what quarterback would be taken with the No. 1 pick.

Would it be Fitterer, the general manager? Reich? Tepper -- choose between owner David and wife Nicole both of whom have zero football evaluation experience and both of whom were present at each of those pro days? Josh McCown?

And who would they take? It made for fun draft catnip until the tides turned for Young. That C.J. Stroud has been better is just a dog kicking dirt backwards -- the trade itself to move up was idiotic in the moment and only looks worse now that the Panthers are sinking into a bog of despondence.

Right now, 12 weeks into Carolina's season, you could justifiably say the Panthers gave up:

Caleb Williams, Jalen Carter, D.J. Moore, 2 (two) second-round picks for Bryce Young

Sub in Drake Maye for Caleb if you want. Or Darnell Wright for Jalen, but make sure to add in the assets the Bears got by moving down a spot so the Eagles could get the best player in the draft class. All in the wildly overaggressive pursuit of a quarterback.

Which reminds me ... if you believe the rumor mill, Tepper whiffed on Matthew Stafford, Aaron Rodgers, Deshaun Watson, Russell Wilson and -- gulp -- Carson Wentz in trying to acquire them via trade. No one wanted to come to Carolina. Not even Carson Wentz.

The Tom Brady deal apparently drove him crazy, believing he could just sprint out and find someone to immediately flip the Panthers' fortunes. Connect the dots and the timing of the Corral and Young trades make even more sense. After being spurned in free agency, Tepper refused to be patient in the draft and pressed on his front office and coaching staff to make moves he wanted. It's straight out of the Haslam playbook, sans the homeless man who told Haslam to draft Johnny Manziel.

Hence the problem with many NFL owners: they'd rather listen to themselves, some random apparition or even a gentleman on the street instead of hiring smart football people to do smart football things. Tepper keeps saying he isn't making the decisions even though it's transparently obvious he is forcing the hand of his personnel people.

These guys have made billions of dollars hiring smart business people to do smart business things, but for some reason don't want to do the same with smart football people. Football is not business, even though there is a business to football.

Tepper knows how to handle the latter and he is very good at it. But when it comes to the former, he's very bad at it. And the Panthers won't are doomed for a long walk through the desert until he realizes the difference between the two. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>