<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freed Israeli hostage describes deteriorating conditions while being held by Hamas</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="TEL AVIV, Israel (AP) — An Israeli hostage freed by Hamas said in an interview t">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Freed Israeli hostage describes deteriorating conditions while being held by Hamas</p>
            <span id="topic" >World</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://dims.apnews.com/dims4/default/6569e20/2147483647/strip/true/crop/1600x900+0+83/resize/1440x810!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F2b%2Fac%2F21cd8a93985e5dab381cd1194073%2F7cd4d8d3bce44248a5fa779ae1f72244" alt="">

                <textarea id="text" readonly> TEL AVIV, Israel (AP) — An Israeli hostage freed by Hamas said in an interview that she was initially fed well in captivity until conditions worsened and people became hungry. She was kept in a “suffocating” room and slept on plastic chairs with a sheet for nearly 50 days.

In one of the first interviews with a freed hostage, 78-year-old Ruti Munder told Israel’s Channel 13 television that she spent the entirety of her time with her daughter, Keren, and grandson, Ohad Munder-Zichri, who celebrated his ninth birthday in captivity. Her account, broadcast Monday, adds to the trickle of information about the experience of captives held in Gaza.

Munder was snatched Oct. 7 from her home in Nir Oz, a kibbutz in southern Israel. Her husband, Avraham, also 78, was taken hostage too and remains in Gaza. Her son was killed in the attack.

Initially, they ate “chicken with rice, all sorts of canned food and cheese,” Munder told Channel 13. “We were OK.”

They were given tea in the morning and evening, and the children were given sweets. But the menu changed when “the economic situation was not good, and people were hungry.”

Israel has maintained a tight siege on Gaza since the war erupted, leading to shortages of food, fuel and other basic items.

Ruth Munder, a released Israeli hostage, walks with an Israeli soldier shortly after her arrival in Israel on Friday, Nov. 24, 2023. A four-day cease-fire in the Israel-Hamas war began in Gaza on Friday with an exchange of hostages and prisoners. (IDF via AP)

Munder, who was freed Friday, returned in good physical condition, like most other captives. But one of the released hostages, an 84-year-old woman, has been hospitalized in life-threatening condition after not receiving proper care in captivity, doctors said. Another freed captive needed surgery.

Freed hostages have mostly kept out of the public eye since their return. Any details about their ordeal have come through relatives, who have not revealed much.

Munder, confirming accounts from relatives of other freed captives, said they slept on plastic chairs. She said she covered herself with a sheet but that not all captives had one.

Boys who were there would stay up late chatting, while some of the girls would cry, she said. Some boys slept on the floor.

She said she would wake up late to help pass the time. The room where she was held was “suffocating,” and the captives were prevented from opening the blinds, but she managed to crack open a window.

“It was very difficult,” she said.

Munder’s account emerged as Israel and Hamas agreed to extend their truce. The two sides have been exchanging Israeli hostages for Palestinian prisoners under a cease-fire deal that has paused the fighting. The deal also includes an increase in aid to Gaza.

Ruth Munder, a released Israeli hostage, walks with an Israeli soldier shortly after her arrival in Israel on Friday, Nov. 24, 2023. A four-day cease-fire in the Israel-Hamas war began in Gaza on Friday with an exchange of hostages and prisoners. (IDF via AP)

Israel declared war after the Islamic militant group’s cross-border attack Oct. 7 in which 1,200 people were killed and 240 others taken hostage. An Israeli offensive has left over 13,000 Palestinians dead, according to health authorities in the Hamas-run territory.

Munder said that on Oct. 7, she was put on a vehicle with her family and driven into Gaza. A militant draped over them a blanket her grandson had carried from home, which she said was meant to prevent them from seeing the militants around them. While in captivity, she learned from a Hamas militant who listened to the radio that her son was killed, according to the Channel 13 report.

Still, she said, she held out that hope she would be freed.

“I was optimistic. I understood that if we came here, then we would be released. I understood that if we were alive — they killed whoever they wanted to in Nir Oz.”

Two Israeli TV stations, Channels 12 and 13, reported that Hamas’ top leader in Gaza, Yahya Sinwar, visited the hostages in a tunnel and assured them they would not be harmed.

“You are safest here. Nothing will happen to you,” he was quoted as saying in the identical reports, which did not reveal the source of the account.

This round of releases has seen mostly women and children freed. They have been undergoing physical and psychological tests at Israeli hospitals before returning home.

Mirit Regev, whose 21-year-old daughter, Maya, was freed Sunday, told Israeli public broadcaster Kan that the family has been counseled to “return the power to her” in their interactions by always asking her for permission before things occur, such as leaving the room. Regev’s 18-year-old son, Itai, is still being held by Hamas.

Itai Pessach, director of the Edmond and Lily Safra Children’s Hospital at Sheba Medical Center, where many of the released children have been treated, said he felt some optimism because the hostages were physically recovering. But he said medical staff had heard “very difficult and complex stories from their time in Hamas captivity,” without elaborating.

“We understand that despite the fact that they might seem physically improving, there’s a very, very long way to go before they are healed,” he said.

In a separate interview, the aunt of a 25-year-old Israeli-Russian hostage who was released Sunday from Gaza said her nephew fled his captors and hid within Gaza for a few days before being recaptured.

“He said he was taken by terrorists, and they brought him into a building. But the building was destroyed (by Israeli bombing), and he was able to flee,” Yelena Magid, the aunt of Roni Krivoi, told Kan radio on Monday. “He was trying to get to the border, but I think because he didn’t have the resources to know where he was and which direction to flee, he had some trouble.”

He told her in a phone conversation he was able to hide himself for around four days before Palestinians in Gaza discovered him, she added.

“One thing that gave us hope from the start is that he’s a boy who’s always smiling, and he can figure things out in any situation,” Magid said.

Israeli media aired video Monday of Ori Megidish, an Israeli soldier who was taken captive, then freed by the military late last month. She said she was happy and doing well and wished all the captives would return home.

“I’m glad to have my life back,” she said.

___

AP journalist Melanie Lidman contributed to this report. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>