<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>From Virat Kohli To Rachin Ravindra- Five Players To Watch Out For In India vs New Zealand Semifinal Clash</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Virat Kohli and Rachin Ravindra will be the players to look out for in the big s">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>From Virat Kohli To Rachin Ravindra- Five Players To Watch Out For In India vs New Zealand Semifinal Clash</p>
            <span id="topic" >rachin ravindra</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://static.tnn.in/thumb/msid-105211995,width-1280,height-720,resizemode-75/105211995.jpg" alt="">

                <textarea id="text" readonly> Virat Kohli and Rachin Ravindra will be the players to look out for in the big semifinal clash. Photo : AP

KEY HIGHLIGHTS Virat Kohli will be the most sought-after player in the semifinals.

Jasprit Bumrah will also be expected to pick multiple New Zealand wickets.

Rachin Ravindra will again be expected to score a lot of runs against India.

India and New Zealand are all set to face off in the first semifinal of the 2023 ODI World Cup at the Wankhede Stadium in Mumbai. The Kiwis have dominated India in ICC white-ball competitions, with nine victories out of 14 games. India have beat them four times, the most recent loss occurring earlier in the ODI World Cup at Dharamsala.

While the memories of elimination from the 2019 edition of the tournament at the same stage of the tournament against the same opponent, India would look to go one step ahead and move into the finals.

Let us take a look at the top five players to look out for in this big semifinal clash:

Virat Kohli

Kohli is the highest run-scorer in the tournament, with 594 runs in nine innings at a stunning average of 99. He has scored two centuries and five fifties in the World Cup and in this grudge match, he will need to lead India with the bat. In the 2019 semifinal, he scored just a single and was dismissed by Trent Boult. He will need to score heavily with the bat, at least a fifty, to put the Kiwis under pressure.

Kohli scored 88 against Sri Lanka at India's last match in Mumbai and 95 against New Zealand in Dharamsala.

Jasprit Bumrah

India's leading wicket-taker and the most lethal bowling option for the team, Bumrah will need to put the initial pressure on the New Zealand batters. He has picked 17 wickets in nine matches at a stunning economy of 3.65. An early breakthrough from his side will ensure that India are on the advantageous side.

Bumrah picked just one wicket against Sri Lanka at India's last game in Mumbai and one against New Zealand, and will look forward to a better performance.

Rachin Ravindra

If there is one player who has bagged everyone's attention this World Cup, it is this young Kiwi. Ravindra has scored 565 runs in nine innings at an average of 70.62 and not having been a part of the 2019 squad, this will be a very different experience for him. If India can bag this wicket early, they will be able to put pressure on New Zealand.

The Kiwis haven't played any games in Mumbai this tournament and it will be a challenge for Ravindra to score in these conditions.

Mitchell Santner

New Zealand's best bowler in the tournament, Santner can trouble Indian batters with his spin, only if the Mumbai track provides him some assistance. He has picked 16 wickets in nine games at an economy of 4.81. He picked the wickets of Rishabh Pant and Hardik Pandya in the 2019 semifinal, none of whom are playing this semifinal.

Santner picked just one wicket in the India match at Dharamsala and would need to pick some more wickets for his team.

Rohit Sharma

The Indian skipper will have to take over a lot of responsibility when he leads his team at his home ground in the big semifinal. Rohit has scored 503 runs in nine innings at an average of 55.88. He was also dismissed for just a single in the 2019 semifinal by Matt Henry and in the Kiwi pacer's absence, he will gain a bit of confidence.

Rohit was dismissed for just four runs against Sri Lanka in Mumbai but scored a sublime 46 against New Zealand, a start that he will be expected to provide again. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>