<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geert Wilders’s Dutch election win is a headache for Europe</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="S INCE GEERT WILDERS’S surprise triumph in the Dutch election on November 22nd, ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Geert Wilders’s Dutch election win is a headache for Europe</p>
            <span id="topic" >Geert Wilders</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.economist.com/img/b/1280/720/90/media-assets/image/20231125_EUP506.jpg" alt="">

                <textarea id="text" readonly> S INCE GEERT WILDERS’S surprise triumph in the Dutch election on November 22nd, plaudits have poured in from across Europe—but overwhelmingly from his political family on the hard right of the spectrum. Marine Le Pen of France and Viktor Orban of Hungary are thrilled; but not many others relish the prospect of working with the anti-immigrant firebrand. Mr Wilders presents a political headache for the EU , a club used to moving forward by helping centrists of the left and right politely thrash out their differences. But in many ways the populists are melding the consensus rather than threatening to overthrow it.

A generation ago, merely including the hard right in a ruling coalition was enough to result in ostracism, as Austria discovered when its centre-right allied with the xenophobic Freedom Party of Austria ( FPÖ ) in 2000. No longer. The idea of a “cordon sanitaire”—centrist parties essentially pretending populist foes don’t exist when it comes to forming coalitions—is breached routinely. In the Netherlands it may prove all but impossible to cobble together a coalition without the 37 seats (out of 150) of the Party for Freedom, the party Mr Wilders leads.

Whether the bouffant-haired veteran MP will nab the premiership is still very much an open question. But if he does, it will not be the first time a populist has sat at the table of the European Council, the EU ’s top decision-making body. Hungary, Italy and Poland (the last probably not for much longer, given the results of October’s election) are all run by the hard right, and were joined recently by a lefty populist in Slovakia. Such electoral outcomes were once a prompt for pan-continental pearl-clutching and recrimination. Now they have become just about commonplace.

The chances are of further success for the hard right in forthcoming polls. The FPÖ is backed by 30% of Austrian voters, comfortably beating its rivals of the left and right ahead of elections next year. The Alternative for Germany is in second place at 21%, far ahead of any of the parties in the country’s existing three-way coalition, with important state elections due next year. Polls in Belgium show that one populist party is leading the pack and the other is joint second. Having narrowly come top in France’s election to the European Parliament in 2019, Ms Le Pen’s National Rally party now looks as though it will trounce Emmanuel Macron’s allies come the next such ballot in June. Ms Le Pen (pictured with Mr Wilders in 2019), is all but assured another slot in the French presidential run-off in 2027.

Would a Wilders administration tip the EU scale in favour of populist policies? In one important way, it already has. Restricting migration is the hard right’s clarion call. But centrist parties on both right and left have already shifted towards tougher policies in many countries, including the Netherlands. Germany took in over 1m migrants in 2015-16; these days its approach is much less welcoming. The contrast between the centre and the populists has eroded: in Denmark, it is a centre-left government that has pushed through tough migration measures (like Britain, it wants to process asylum-seekers in Rwanda), not some post-fascist outfit.

Beyond that, it seems doubtful that those on the political fringes will have much impact at EU level. For one, while parties of the hard right are sometimes lumped together as a single entity, in truth they often disagree. Mr Orban frequently takes a pro-Kremlin stance in EU meetings, for example holding up sanctions against Russia over its invasion of Ukraine. His supposed ally Giorgia Meloni in Italy staunchly backs Ukraine, alongside most other EU countries.

This makes coherent alliances to take on the dominant centrists hard. Populists are often too busy picking fights with Brussels rather than working to change the EU ’s direction. (Mr Wilders also wants a referendum on leaving the EU , for which there is little support in the Netherlands; the chances of his getting a proposal to hold one through parliament seem remote.) At the European Parliament, hard-right MEP s are split between two rival parties, ranging from the somewhat Eurosceptic to the openly xenophobic. No major EU job has ever gone to anyone from outside the political centre.

And politicians with populist promises on the campaign trail have a tendency to moderate once in office, especially if they have to share power. Dutch coalition programmes are crafted over many months, leaving plenty of opportunities for centrists to force compromise. Ms Meloni was herself a firebrand who railed against the EU as a candidate; plenty were panicked when this once-avowed fan of Mussolini became prime minister a year ago. In fact she has surprised her European partners by hewing to the political centre on most issues (though not on social matters such as gay rights). Mr Wilders himself toned down his Islam-bashing as the vote neared, though critics argue that this was only cosmetic. Even if he makes it to the prime minister’s office, he is likely to be at the head of a minority government with partners who will want to restrain his worst urges.

“Even if Wilders ends up as prime minister, the thing about Dutch politicians is more that they are Dutch than they are of any political party,” says one EU official, perhaps evincing a degree of wishful thinking; Mr Wilders seems a different Dutch politician from any of his predecessors. Still, on many dossiers, a populist premier from the Netherlands would share the policies of his predecessor, Mark Rutte. It is the Dutch view, whether of Mr Rutte or Mr Wilders, that the EU should not expect more funding from member states. Both are broadly sceptical of enlargement. Their views on migration are hardly poles apart: Mr Rutte was keen on an EU gambit to pay Tunisia to ensure fewer boats full of aspiring refugees departed for European shores, going as far as accompanying Ms Meloni to unveil the deal in Tunis in July.

Perhaps the main concern in Europe is that the Dutch result is a signal. Voters there are seen as electoral trendsetters. The Netherlands was among the first countries to see its political scene fragment away from “big tent” centrist parties of the left and right, starting in the 1980s. Dutch populists became a fixture of public life before that happened in most other countries. Plenty will worry that Mr Wilders’s victory is an omen, with more to come. ■ </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>