<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gen Z, millennials are ‘house hacking’ to become homeowners in a tough market. How the strategy can help</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Gen Z and millennials are "hacking" the housing market as high prices and intere">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Gen Z, millennials are ‘house hacking’ to become homeowners in a tough market. How the strategy can help</p>
            <span id="topic" >business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://image.cnbcfm.com/api/v1/image/107336649-1700505317011-gettyimages-1272469262-drl_3861.jpeg?v=1700847565&w=1920&h=1080" alt="">

                <textarea id="text" readonly> Gen Z and millennials are "hacking" the housing market as high prices and interest rates make affordability difficult.

The term "house hacking" refers to the practice of renting out a portion of your home or an entire property for an additional stream of income.

Almost 4 in 10, 39%, of recent homebuyers say the practice represents a "very" or "extremely" important opportunity, according to a new report by housing market site Zillow. That share is up eight percentage points in the past two years.

Younger generations are especially keen on the idea. In Zillow's survey, more than half of millennial, 55%, and Gen Z home buyers, 51%, expressed positive views on house hacking.

Zillow polled more than 6,500 recent homebuyers between April 2023 and July 2023. Respondents were adults who moved to a new primary residence they purchased in the past two years.

More from Personal Finance:

Homeowners associations can be a boon, or bust, for buyers

Homebuyers must earn over $400,000 to afford a home in metro areas

As mortgage rates hit 8%, home ‘affordability is incredibly difficult’

The additional income from house hacking can "help make those dreams of homeownership penciled into reality, given that there's so many affordability constraints on the current market," said Manny Garcia, senior population scientist at Zillow.

The median sale price for a house in the U.S. was $413,874 in October, up 3.5% from a year ago, according to a report by real estate site Redfin.

The average rate for 30-year mortgages hit 8% in October, the highest level seen in 23 years, according to Bankrate. To compare, rates bottomed out slightly below 3% in January 2021.

While renting out portions of a newly owned property can help offset higher costs of a home, potential buyers will need to make a few considerations beforehand. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>