<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gizmodo Monday Puzzle: Impossible Geography</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Here’s a mind-blowing geography fact: The northernmost part of Brazil is closer ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Gizmodo Monday Puzzle: Impossible Geography</p>
            <span id="topic" >technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://i.kinja-img.com/image/upload/c_fill,h_675,pg_1,q_80,w_1200/6d98e48046fbf191d66b08afe05be831.jpg" alt="">

                <textarea id="text" readonly> Here’s a mind-blowing geography fact: The northernmost part of Brazil is closer to Canada than it is to the southernmost part of Brazil. Facts like this partly speak to truly unusual geographical features of Earth (like Brazil’s massive land area) but also to how warped our perception can be of our own home. We’ve grown so accustomed to seeing 2D rectangular maps in classrooms, on Risk boards, and on Sporcle quizzes, that we sometimes forget how disfigured they are. We live on a globe, and geometry assures us that there is no way to iron out the surface of a sphere into a flat shape without distorting sizes and distances. The result is a populace with geographical instincts that don’t match the facts on the ground.



In his wonderful book Mathematical Puzzles: A Connoisseur’s Collection, Professor Peter Winkler devotes a whole chapter to geography puzzles. He notes, “this chapter does not belong in the book… they are here because mathematical puzzle lovers seem to enjoy them.” As a mathematical puzzle lover who can barely tell Djibouti from Uranus, I concede that Winkler won me over here. His geographical puzzles are world class.



Advertisement

I’ve posed three of them below. Try to solve them by instinct and memory before consulting a globe.

Advertisement

Did you miss last week’s puzzle? Check it out here, and find its solution at the bottom of today’s article. Be careful not to read too far ahead if you haven’t solved last week’s yet!

Advertisement

Puzzle #21: Impossible Geography

Which U.S. state is closest to Africa? If you fly due south from Key West, Florida, which South American country will you hit first? I am in an East Coast U.S. state and I call my friend who is in a West Coast U.S. state. It is exactly the same time of day for both of us. How is this possible?

Advertisement

The third question requires some specialized knowledge beyond basic geography, but it’s such a cool fact that I had to include it. It’s not a trick question. Try to guess the outline of the solution even without the concrete facts to flesh it out. What types of things would need to be true for such a phone call to take place?

We’ll be back Monday with the answers and a new puzzle. Do you know a cool puzzle that you think should be featured here? Message me on Twitter @JackPMurtagh or email me at gizmodopuzzle@gmail.com

Advertisement

Solution to Puzzle #20: The Simpsons M

Last week’s puzzle came from a cartoon, yet it was anything but child’s play. In the episode, Bart ends up visualizing the answer in the zig-zag of Homer’s thinning hair.



Advertisement

Enlarged below for clarity:

Advertisement

Tough to spot! Shout-out to yaksplat for submitting the first correct diagram. Reward yourself with a doughnut. You definitely don’t have Homer’s pea-brain. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>