<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google will start deleting 'inactive' accounts in December. What you need to know</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="FILE - Google logos are shown when searched on Google in New York, Sept. 11, 202">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Google will start deleting 'inactive' accounts in December. What you need to know</p>
            <span id="topic" >Business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://i.abcnewsfe.com/a/098ee3ed-849a-4edc-81bc-5254409ca105/wirestory_edfc98aa9db0607e78c826f4e3918637_16x9.jpg?w=992" alt="">

                <textarea id="text" readonly> FILE - Google logos are shown when searched on Google in New York, Sept. 11, 2023. Google will start deleting 'inactive' accounts in December. Under Google’s updated inactive account policy, which the tech giant announced back in May, accounts that haven’t been used in at least two years could be deleted. Accounts deemed inactive could be erased beginning Friday, Dec. 1. (AP Photo/Richard Drew, File)

FILE - Google logos are shown when searched on Google in New York, Sept. 11, 2023. Google will start deleting 'inactive' accounts in December. Under Google’s updated inactive account policy, which the tech giant announced back in May, accounts that haven’t been used in at least two years could be deleted. Accounts deemed inactive could be erased beginning Friday, Dec. 1. (AP Photo/Richard Drew, File)

FILE - Google logos are shown when searched on Google in New York, Sept. 11, 2023. Google will start deleting 'inactive' accounts in December. Under Google’s updated inactive account policy, which the tech giant announced back in May, accounts that haven’t been used in at least two years could be deleted. Accounts deemed inactive could be erased beginning Friday, Dec. 1. (AP Photo/Richard Drew, File)

FILE - Google logos are shown when searched on Google in New York, Sept. 11, 2023. Google will start deleting 'inactive' accounts in December. Under Google’s updated inactive account policy, which the tech giant announced back in May, accounts that haven’t been used in at least two years could be deleted. Accounts deemed inactive could be erased beginning Friday, Dec. 1. (AP Photo/Richard Drew, File)

NEW YORK -- Have a Google account you haven't used in a while? If you want to keep it from disappearing, you should sign in before the end of the week.

Under Google’s updated inactive-account policy, which the tech giant announced back in May, accounts that haven’t been used in at least two years could be deleted. Accounts deemed inactive will be erased in a phased-approach beginning Friday.

If you have an account that's at risk for deletion, you should receive multiple notices from Google sent to the email affiliated with that account and its recovery address (if one exits). But if you're still catching up on this new policy — and want to ensure that your content on Google Drive, Docs, Gmail and more is saved — here's what you need to know.

In May's announcement, Google attributed its inactive-account update to security issues.

Accounts that haven't been used for a long time are more likely to be compromised, the company said, noting that “forgotten or unattended accounts” typically have old passwords, often lack two-factor authentication and receive fewer security checks. As a result, these accounts could be hijacked and used for spam or other malicious content, as well as identity theft.

The easiest way to keep your Google account active (and thus prevent it from being deleted) is to sign in at least once every two years.

Other actions that fulfill account activity requirements include sending or scrolling through emails, using Google search and watching YouTube videos (YouTube is owned by Google) all while signed into your Google account. Existing subscriptions set up through your Google account, including profiles for third-party apps and publications, can also account for activity.

Preserving content on Google Photos requires a specific sign-in. As previously announced by Google, Photos content may be similarly deleted after two years of inactivity — meaning you should open the application every so often to keep images from going into the trash.

Only personal Google accounts that haven't been used for two years or more will be impacted under this inactive-account update. Accounts made for organizations, like schools or companies, will not be affected, Google says.

Per Google's online policy, other exceptions include Google accounts that manage active minor accounts, accounts containing a gift card balance as well as those that have been used to purchase Google products, apps or subscriptions that are ongoing.

There are also no plans to delete accounts with YouTube videos at this time, a Google spokesperson confirmed to The Associated Press Monday.

Beyond keeping your Google account active, there's a few tools to help manage and backup your data.

Google Takeout, for example, allows users to download and export account data outside of Google at any time. And its Inactive Account Manager lets you choose what would happen to your account and data if it becomes inactive — including options to send select files to trusted contacts or delete the account entirely. Google's online policy also says the company can work with immediate family to close the account of a deceased loved one and/or provide some account content — without sharing login credentials — on a case-by-case basis.

Google asks users to provide and update a recovery email for their account — which is also helpful for sending inactive account notices and other communications. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>