<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google's deleting old accounts next week. Here's how to save yours</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Back in May, Google said that towards the end of this year it would start shutti">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Google's deleting old accounts next week. Here's how to save yours</p>
            <span id="topic" >technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://s.yimg.com/ny/api/res/1.2/P0V3PxueUFsSkPcBv1Q4uQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD02NzU-/https://media.zenfs.com/en/t3_620/19a5655ed8e6b6b448d96c38af3b956a" alt="">

                <textarea id="text" readonly> Back in May, Google said that towards the end of this year it would start shutting down inactive accounts. If you filed that away as a "sometime" item on your to-do list, it's time to take action: the shutdown starts next week on 1 December.

Google says the move is primarily to prevent inactive accounts from being hijacked and abused: "forgotten or unattended accounts often rely on old or re-used passwords that may have been compromised" and are less likely to have the full collection of security settings enabled.

To deal with this, Google is going to start shutting down accounts that haven't been signed into since 2021 or earlier. That means Gmail accounts but also photos, calendars, contacts, YouTube videos and Google Drive too: any services attached to an inactive Google account will be closed.

The exception to the new rule is school or business accounts. But if you have a personal account and haven't been using it, it's time to take action if you don't want to see it shut down. That's particularly important if you don't want your Gmail address taken by somebody else.

Google says it'll send reminder emails to your main and recovery emails to alert you of the change and give you several months grace, but of course if you don't use either you won't see them.

How to stop your Google account from being closed

The simplest way to prevent your Google account from being closed is to sign into it right now. That'll reset the clock. According to Google, reading or sending emails, using Google Drive, downloading something from the Play Store or using the account to sign in to a third party service all count.

Of course, in order to log in to your Google account you'll need your password. If you can't for the life of you remember what that is, use the Google Account Recovery tool at accounts.google.com. And once you're back in, it's wise to change your password to something nice and strong and to enable as many security features as possible, particularly two-factor authentication. However, before you do all that it's worth asking whether there's any need to keep your account going: if you haven' used it since 2021 then perhaps it's time to let it go. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>