<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grab these Black Friday 2023 beauty deals while they’re still live — save up to 60% at Ulta, Sephora and Amazon</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="There are loads of popular, bestselling beauty items on sale post-Black Friday, ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Grab these Black Friday 2023 beauty deals while they’re still live — save up to 60% at Ulta, Sephora and Amazon</p>
            <span id="topic" >business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://s.yimg.com/ny/api/res/1.2/7bbSYnzhdBFmKn_KMNSXeA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD02NzU-/https://s.yimg.com/os/creatr-uploaded-images/2023-11/977e7b30-88de-11ee-bbff-f3ee13b13a25" alt="">

                <textarea id="text" readonly> There are loads of popular, bestselling beauty items on sale post-Black Friday, from Dyson and Paula's Choice to MAC and Sunday Riley. (Paula's Choice, Sunday Riley, First Aid Beauty, IT Cosmetics, MAC)

Just when you thought Black Friday was over ... it's not! Mega sales are still kicking, especially in the beauty arena. Ulta, Sephora and Amazon are all stocked with goodies at incredible prices to make us look amazing and feel fab. (Did you see the bestselling Dyson Airwrap on sale?!). If you're stumped for ideas or feeling overwhelmed, I've broken the sales into three main categories: post-Black Friday hair-tool deals, post-Black Friday skin-care deals and, of course, post-Black Friday makeup deals. This might be your last chance to score everything from anti-aging superstars to LED masks at rock-bottom prices. So get ready, get set ... shop!

Black Friday hair tool deals

Conair Infinitipro Conair Hair Dryer $35 $47 Save $12 Like many of the 14,000+ five-star reviewers, I bought this truly excellent hair dryer last year and never looked back. It dries hair lightning fast while still being gentle and, from my experience, helps smooth frizz without a lot of time or any serious blowout skill. $35 at Amazon

Black Friday skin-care deals

Skyn Iceland Skyn Iceland Hydro Cool Firming Eye Gels, 8-Pack $17 $34 Save $17 50% off! There are loads of eye patches and eye gels currently on the market, but this early entry into the category is still one of my faves. Pro-tip: For extra de-puffing/under-eye soothing, store them in the fridge — the cold, plus anti-inflammatory agents such as ginkgo biloba will help your eye bags disappear. $17 at Ulta

Tatcha Tatcha The Rice Polish Classic Foaming Enzyme Powder $51 $68 Save $17 with code This beloved skin-care staple is a powdery exfoliator made up of nourishing Japanese rice bran and silk protein which foams up once you add water. It leaves skin smooth and dewy, an instant effect that's addictive — after purchasing, reviewers rave: " this product has improved and enhanced my skin so much that anytime I try to use anything else I come back immediately" and simply "Never leaving my shelf again!" Save $17 with code Copied! CYBER23 $51 at Tatcha

Tatcha Tatcha Silk Peony Line-Smoothing Eye Cream $51 $67 Save $16 with code I have met exactly zero people who have tried Tatcha products and walked away unimpressed. Their version of the classic eye cream does double-duty: soothing and softening skin while also working as a makeup primer — helping shadows and liners stay put throughout the day. Save $16 with code Copied! CYBER23 $51 at Tatcha

Elemis Elemis Pro-Collagen Cleansing Balm $51 $68 Save $17 It's Elemis's #1 bestseller and it's been recommended by tens of thousands across social media as an essential part of any nighttime skin-care routine. Still, $51 seems like a lot for a face cleanser — that is, until you consider what you're getting: an all-natural 3-in-1 formula that's part soothing balm, part cleansing face oil and part hydrating milk. Basically, this looks, smells and feels like the most luxurious face product you'll ever try. $51 at Ulta

Omnllux Omnilux Contour Face Mask $345 $395 Save $50 Are these wrinkle-softening, skin-texture-revitalizing LED light masks worth looking like a murderous hockey goalie/light-up robot ghoul for a few minutes each day? For me, yes. Literally all I want for Christmas is this "dermatologist-recommended red light therapy device with clinically proven results for anti-aging and skin rejuvenation." Thousands of reviewers say they trust the Omnilux mask to reduce the appearance of wrinkles, hyperpigmentation and redness without any downtime or side effects. These don't often go on sale so even $50 off is a boon. $345 at Omnilux

Amazon Mighty Patch Original from Hero Cosmetics, 36-pack $10 $12 Save $2 with Prime Rare sale alert! These No. 1 bestselling zit-busters have thousands of fans for a reason: You just stick 'em on over your pimples, let them absorb all the gunk and then ta-da! Those blemishes won't even know what hit them. Plus, they practically blend in with your skin, so someone would have to look really closely to know you're even wearing them. This is the best price we're seeing! Save $2 with Prime $10 at Amazon

Black Friday makeup deals

Your Black Friday Shopping Guide: See all of Yahoo’s Black Friday coverage, here. Follow Engadget for Black Friday tech deals. Learn about Black Friday trends on In The Know. Hear from Autoblog’s experts on the best Black Friday deals for your car, garage, and home, and find Black Friday sales to shop on AOL, handpicked just for you.

How we find and select deals: Our deal-hunting team of award-winning writers and editors are seasoned experts in their fields (tech, style, home, beauty), many with 20+ years’ experience. This team works diligently to bring you the best sales, deals and, price drops. Our unbiased experts maintain strict editorial integrity: We only bring you deals that we really think believe will save you money. Here’s more on how we select deals for our Black Friday and Cyber Monday coverage. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>