<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guidelines on preventing the abuse of funds and certain crypto-assets transfers for money laundering and terrorist financing purposes</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="24 November 2023

The European Banking Authority (EBA) today launched a public c">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Guidelines on preventing the abuse of funds and certain crypto-assets transfers for money laundering and terrorist financing purposes</p>
            <span id="topic" >crypto</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.eba.europa.eu/sites/default/themes/eba_theme/favicon.ico" alt="">

                <textarea id="text" readonly> 24 November 2023

The European Banking Authority (EBA) today launched a public consultation on new Guidelines on preventing the abuse of funds and certain crypto-assets transfers for money laundering and terrorist financing purposes. These ‘travel rule’ Guidelines specify the steps that Payment Service Providers (PSPs), Intermediary PSPs (IPSPs), crypto-asset service providers (CASPs) and Intermediary CASPs (ICASPs) should take to detect missing or incomplete information that accompanies a transfer of funds or crypto-assets. They also detail the procedures all these providers should put in place to manage a transfer of funds or a transfer of crypto-assets that lacks the required information. These Guidelines aim at forging a common understanding to ensure the consistent application of EU law as well as a stronger anti-money laundering and countering the financing of terrorism (AML/CFT) regime. The consultation runs until 26 February 2024.

The main objective of these Guidelines is to prevent the abuse of funds and crypto-assets transfers for terrorist financing and other financial crime purposes. The Guidelines also ensure that relevant authorities can fully trace such transfers where this is necessary to prevent, detect or investigate money laundering and terrorist financing. To achieve this, the EBA promotes the development of a common understanding by PSPs, IPSPs, CASPs and ICASPs and competent authorities across the EU, of what are the effective procedures to detect and manage the transfer of funds and crypto-assets lacking the required information on the payer/originator and the payee/beneficiary, and how they should be applied.

Consultation process

Comments to the consultation paper can be sent by clicking on the "send your comments" button on the EBA's consultation page. The deadline for the submission of comments is 26 February 2024.

The EBA will hold a virtual public hearing on the consultation paper on 17 January 2024 from 14:00 to 16:00 Paris time. The EBA invites interested stakeholders to register using this link by 3 January 2023 at 16:00 CET. The dial-in details will be communicated to those who have registered for the meeting.

All contributions received will be published following the end of the consultation, unless requested otherwise.

Legal basis, background

In July 2021 the European Commission issued a legislative package with four proposals to reform the EU’s legal and institutional AML/CFT framework. It included a proposal for a recast of Regulation (EU) 2015/847, now published in the Official Journal of the European Union since June 2023 as Regulation (EU) 2023/1113. The recast brings the EU’s legal framework in line with the Financial Action Task Force (FATF)’s standards by extending the obligation to include information about the originator and beneficiary to CASPs – the so-called “travel rule”. It also amends Directive (EU) 2015/849 to subject CASPs, which are authorized in accordance with the Regulation (EU) 2023/1114 to the same AML/CFT requirements and AML/CFT supervision as credit and financial institutions.

Article 36 (first and second subparagraphs) of Regulation (EU) 2023/1113 and Article 19a(2) of Directive (EU) 2015/849 mandate the EBA to issue guidelines to competent authorities, PSPs and CASPs on: (a) the measures those providers should take to comply with certain articles of Regulation (EU) 2023/1113; (b) the technical aspects of the application of this Regulation to direct debits; and (c) the measures, including the criteria and means for identification and verification of the identity of the originator or beneficiary of a transfer made to or from a self-hosted address.

The EBA is proposing to deliver this mandate by repealing the 2017 Joint European supervisory authorities (ESAs)’s Guidelines under Article 25 of Regulation (EU) 2015/847 on the measures payment service providers should take to detect missing or incomplete information on the payer or the payee, and the procedures they should put in place to manage a transfer of funds lacking the required information (JC/GL/2017/16) and replace them with new Guidelines. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>