<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gurpurab 2018: Why Do We Celebrate Gurunanak Jayanti Or Gurpurab?</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Guru Nanak Jayanti 2018: Gurpurab is celebrated as the day to remember the holy ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Gurpurab 2018: Why Do We Celebrate Gurunanak Jayanti Or Gurpurab?</p>
            <span id="topic" >Gurpurab</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://c.ndtvimg.com/2018-11/gh2n4hq_sikh-generic_625x300_21_November_18.jpg" alt="">

                <textarea id="text" readonly> Guru Nanak Jayanti 2018: Gurpurab is celebrated as the day to remember the holy guru, Guru Nanak

Gurpurab or Guru Nanak Jayanti is the celebration of the birth of the first Sikh Guru, Guru Nanak, who laid the foundation of Sikhism. This year, Gurpurab will be celebrated on November 23. Gurpurab or Guru Nanak Jayanti is the most auspicious day in Sikhism and will celebrated with fervour on Friday, even as Gurpurab is celebrated of different days each year based on the Indian lunar calendar. This year would be the 549th birth anniversary of Guru Nanak. "Gurpurab" is made of two words-- "Gur", which means Guru or master, and "Purab", which means parv in Hindi, meaning day. So Gurpurab is the day dedicated to the Guru.

Festivities on Guru Nanak Jayanti or Gurpurab are centred around the birth anniversaries of the ten Sikh gurus. The tenth and the last Sikh Guru was Guru Gobind Singh. After him, the sacred book of Sikhs, the Adi Granth or Guru Granth Sahib, which contains the writings of the gurus, is considered the guru.

Guru Nanak Gurpurab or Guru Nanak Jayanti is celebrated as the day to remember the holy guru, Guru Nanak, and is a reminder for the followers of Sikhism to remember his teachings and overcome the five vices - lust, greed, attachment, anger and pride and devote one's life in the selfless service of God.

A look at the life of the first Sikh Guru, Guru Nanak:

Guru Nanak was born to Kalayan Das Mehta and Matta Tripat. From an early age, Guru Nanak had a spiritual inkling. He refused to wear the upper-caste Hindu-worn sacred thread as he did not believe in superficial aspects of religion. Guru Nanak said he would rather wear the God's name in heart that could never be broken or get impure.

Guru Nanak worked as a storekeeper in a granary of Daulat Khan Lodi in Sultanpur, where he came in contact with Mardana, a Muslim servant. Together they organised gatherings for Hindus and Muslims where they sang hymns to praise the creator.

Guru Nanak was married at the age of 18 and bore two sons. But when Guru Nanak turned 28, he disappeared for three days. Upon returning, he said that there is no Hindu or Muslim but only one formless God which could be worshipped by all. Guru Nanak said that a constant remembrance of God, called naamsimran, is the only way to liberation.

These teachings of Guru Nanak stood out against the religious practices of his time and became part of Guru Granth Sahib, the holy book of the Sikhs.

Before his death at the age of 70, Guru Nanak appointed Guru Angad as his successor. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>