<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guru Nanak Jayanti 2021: When is Gurpurab? Date, significance, history and all you need to know</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Gurpurab 2021: The auspicious occasion of Guru Nanak Jayanti is one of the most ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Guru Nanak Jayanti 2021: When is Gurpurab? Date, significance, history and all you need to know</p>
            <span id="topic" >Gurpurab</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://images.hindustantimes.com/img/2021/11/17/1600x900/_6ee547cc-0461-11ea-8da7-95ed4a38ab68_1637148186221.jpg" alt="">

                <textarea id="text" readonly> Gurpurab 2021: The auspicious occasion of Guru Nanak Jayanti is one of the most important festivals in Sikhism. It marks the birth anniversary of the first of the ten Sikh gurus, Guru Nanak Dev Ji. Sikhs believe that Guru Nanak Dev Ji brought enlightenment to this world. Guru Nanak Jayanti 2021: When is Gurpurab? Date, significance, history and all you need to know(Unsplash)

When is Guru Nanak Jayanti 2021?

The date of Gurpurab varies from year to year as per the traditional lunar calendar. While Diwali falls on the 15th day of the Kartik month as per the Hindu Lunar calendar, Guru Nanak Jayanti falls fifteen days after that on the auspicious occasion of Kartik Purnima. This year, the 552nd birth anniversary of Guru Nanak Dev will fall on November 19.

Guru Nanak Jayanti 2021(Sameer Sehgal/HT)

Significance and History:

Guru Nanak Dev was the founder of the religion of Sikhism and the first of the Sikh Gurus. He was born in 1469 at Nankana Sahib. It is believed that his birth was a mark of divinity. His birth anniversary is celebrated worldwide on the day of Kartik Purnima as per the lunar calendar.

Guru Nanak Dev firmly believed that an individual could connect to God through sincere prayers. He didn't encourage traditions that included sacrifices. All his teachings and preachings are composed together to form the sacred book called Guru Granth Sahib. It is the central holy religious scripture of Sikhism, regarded by Sikhs as the final, sovereign and eternal Guru. The main verses from the Guru Granth Sahib elaborate that the creator of the universe was one. The verses also preach selfless service to humanity, prosperity and social justice for all, irrespective of differences. Guru Nanak Jayanti is celebrated to honour Guru Nanak Dev's life, achievements, and most importantly, his legacy.

How is Guru Nanak Jayanti celebrated?

Guru Nanak Jayanti is celebrated with much pomp all around the world. The celebrations start two days before in Gurudwara. A 48-hour non-stop recitation of the Guru Granth Sahib, called Akhand Path, is held. A procession called Nagarkirtan is also organised a day before Guru Nanak's birthday. It is led by five men, referred to as the Panj Pyare, holding the Sikh triangular flag, Nishan Sahib. During the procession, the Guru Granth Sahib is placed in a palanquin. People sing hymns in groups, play traditional musical instruments and also display their martial art skills.

Follow more stories on Facebook and Twitter </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>