<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guy Fieri's son Hunter is engaged to pickleball pro Tara Bernstein after proposing during Thanksgiving celebration: 'Welcome to the family'</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Guy Fieri's family is poised to add another member.

On Friday, the celebrity ch">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Guy Fieri's son Hunter is engaged to pickleball pro Tara Bernstein after proposing during Thanksgiving celebration: 'Welcome to the family'</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sat-6, 2023</b>
                </span>
                <br><br>
                <img src="https://i.dailymail.co.uk/1s/2023/11/25/06/78219745-0-image-a-110_1700893349718.jpg" alt="">

                <textarea id="text" readonly> Guy Fieri's family is poised to add another member.

On Friday, the celebrity chef's son Hunter Fieri took to his instagram page and announced that he and pickleball pro Tara Bernstein are now engaged.

Hunter, 27, proposed to Tara during the Fieris' holiday gathering and she said 'yes.'

Thinking ahead, Fieri documented the pondside proposal with a series pf photos, including the moment he got on one knee to ask for her hand in marriage.

'Coming soon…Mr. & Mrs.Fieri ♥️ #blessed,' the caption of the post read. It featured five pictures, including one as the couple shared a hug, kiss and a laugh soon after they sealed the deal.

Engaged! Hunter Fieri, son of celebrity chef Guy Fieri, announced he proposed to his pickleball pro girlfriend Tara Bernstein on Thanksgiving during a family celebration

Classy: The oldest of Fieri's two sons, 27, got on one knee to ask his lady's hand in marriage

Fieri, who's a foodie like his dad, also shared a photo of his fiancée showing off her new engagement ring as they snuggle up together with big beaming smiles on their faces.

There's also two group shots taken during the Thanksgiving celebration that included Guy and his wife Lori and their youngest son Ryder, 17.

Ryder would take to the comments section of the announcement and write, 'Proud lil bro here❤️.'

As for the proud father of the soon-to-be groom: Guy gushed in the caption of a picture showing the pair together: 'Congrats to @hunterfieri and @taralynn.nyc. You two are made for each other. Welcome to the family, Tara.'

The couple began their romance back in February, and the Fieri family is said to have loved the match right from the beginning.

'[She has] good values and is just a really great person so I couldn't be happier for Hunter,' the Diners, Drive-Ins and Dives star told People. 'This is a big deal. To see him this happy and also to see him have a partner that is as driven as he is, it's perfect.'

The Food Network host also reportedly dubbed his soon-to-be daughter-in-law the 'pickleball machine' after watching show off her talent on the court.

'She plays one-against-two, and beats everybody,' the self-professed foodie has boasted of her pickleball skills.

It turns out Bernstein in a pickleball pro, to go along with being a multi-journalist and producer, among other talents.

Just this past June, the New York native shared a sweet video showcasing some of the couple more milestone moments together.

The aftermath: After Bernstein said, 'yes,' the couple shared a hug, kiss and a laugh

Milestone moment: The pondside proposal was done during the Fieri family's Thankgiving celebration on Thursday

Glowing report: Guy Fieri, who is pictured on the far left, has had nothing but glowing things to say about his son's fiancée s since they started dating in February 2022

High praise: Guy Fieri has had nothing but glowing things to say about his son's fiancée

'To my partner, my better half, I'm so blessed to have someone as amazing and loving as you in my life,' she captioned the clip. 'Your energy, drive and positive light is contagious - you light up my world. I love you.'

Her man wasted little time in responding to the love fest, writing the very same day: 'You mean the world to me! Thank you always being so supportive and loving. You value love, family, and loyalty, and I am truly blessed to have found someone as amazing as you! My ridaaaa, I love you baby,' he gushed in the caption.

So far, there's no official word on when the happy couple will be tying-the-knot.

Fieri shares his two sons with his wife Lori Brisson, 52, whom he married back in 1995.

They also raised their nephew Jules, 22, since the death of Guy's sister Morgan in 2011. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>