<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hall & Oates Lawsuit Explained</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="On Wednesday, it was reported that Daryl Hall took out a restraining order and f">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Hall & Oates Lawsuit Explained</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sat-6, 2023</b>
                </span>
                <br><br>
                <img src="https://static.stereogum.com/uploads/2023/11/GettyImages-81182364-1700930643.jpg" alt="">

                <textarea id="text" readonly> On Wednesday, it was reported that Daryl Hall took out a restraining order and filed a lawsuit against his longtime musical partner John Oates, though details were sealed. Now AP reveals that Hall is suing over Oates’ plan to sell off his share of their joint venture.

Oates, his wife, and his manager — the co-trustees of the musician’s trust —signed a letter of intent to sell his half of Whole Oats Enterprises, LLP to Primary Wave, the music publisher that already purchased a significant stake in Hall & Oates’ catalog 16 years ago. According to AP, the lawsuit argues that by disclosing Hall & Oates’ business agreement to Primary Wave, Oates violated a confidentiality provision. The restraining order stops Oates and Primary Wave from moving forward with a deal until an arbitrator weighs in or the judge’s order expires. The next court hearing is Nov. 30, the same date the restraining order begins.

Primary Wave’s majority interest in Hall & Oates’ catalog was valued at between $25-50 million when that deal was announced in 2007. But in 2021 Hall told Sky News, “Never sell your publishing – maybe if you’re, you know, 80 years old and you decided to retire, then you can sell your publishing, but I wouldn’t even suggest it then, I don’t believe in that concept, It’s all you have is that.”

Hall and Oates began their working relationship in 1970 and topped the US singles charts six times between 1977 and 1984. They were inducted into the Songwriters Hall Of Fame and the Rock & Roll Hall Of Fame. But last year Hall appeared to dismiss the partnership on Bill Maher’s Club Random podcast. “You think John Oates is my partner?” he said. “He’s my business partner. He’s not my creative partner.” The duo’s last album of original material came in 2004. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>