<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamas frees second group of Israeli, Thai hostages in truce</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Summary Adds details in paragraphs 2, 4, 13, 26

LATEST DEVELOPMENTS:

Thirteen ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Hamas frees second group of Israeli, Thai hostages in truce</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://www.reuters.com/resizer/_kMHqZ6VC2QbqIDsPIesua2JRkM=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/XJQUO53I6NMBTHGN4Y5G47J6HQ.jpg" alt="">

                <textarea id="text" readonly> Summary Adds details in paragraphs 2, 4, 13, 26

LATEST DEVELOPMENTS:

Thirteen Israeli and four Thai hostages back in Israel

Egypt, Qatar help defuse aid dispute that threatened deal

Television shows bus carrying freed Palestinians in West Bank

GAZA/JERUSALEM, Nov 26 (Reuters) - Thirteen Israelis and four Thai nationals arrived in Israel on Sunday in the second release of hostages from Hamas captivity in exchange for Palestinian prisoners, in a deal briefly endangered by a dispute about aid delivery into Gaza.

Although overcome by the mediation of Egypt and Qatar, the dispute that threatened the truce to free captives underscored the fragility of the pact to swap 50 hostages held by the Palestinian militant group for 150 prisoners in Israeli jails.

Television images showed hostages on the Egyptian side of the Rafah border crossing after leaving Gaza, as Hamas handed the captives to the International Committee of the Red Cross late on Saturday.

Six of the 13 Israelis released were women and seven were teenagers or children. The youngest was three-year-old Yahel Shoham, freed with her mother and brother, although her father remains a hostage.

"The released hostages are on their way to hospitals in Israel, where they will re-unite with their families," the Israel Defense Forces (IDF) said in a statement.

Israel released 39 Palestinians - six women and 33 minors - from two prisons, the Palestinian news agency WAFA said.

Some of the Palestinians arrived at Al-Bireh Municipality Square in Ramallah in the Israeli-occupied West Bank, where thousands of citizens awaited them, a Reuters witness said.

A Palestinian official familiar with the diplomatic moves said Hamas would continue the truce, the first halt in fighting since Hamas fighters rampaged through southern Israel on Oct. 7, killing 1,200 people and taking about 240 hostages.

In response to that attack, Israel has vowed to destroy the Hamas militants who run Gaza, raining bombs and shells on the enclave and launching a ground offensive in the north. Some 14,800 people, roughly 40% of them children, have been killed, Palestinian health authorities said on Saturday.

Saturday's swap follows the previous day's initial release of 13 Israeli hostages, including children and the elderly, by Hamas in return for the release of 39 Palestinian women and teenagers from Israeli prisons.

On Friday Hamas also released a Philippine national and 10 Thai farm workers.

The four Thais freed on Saturday "want a shower and to contact their relatives", Prime Minister Srettha Thavisin said on social media platform X, adding that all were safe and showed few ill-effects.

Eighteen Thais remain captive, Thailand's foreign ministry said on Sunday, in a tally reflecting two abductions that had previously been unknown.

"I’m so happy, I’m so glad, I can’t describe my feeling at all," Thongkoon Onkaew told Reuters by telephone, after news of the release of her son Natthaporn, 26, the family's sole breadwinner.

HOW TO PRIORITISE RELEASES

[1/11]Hila Rotem-Shoshani, who was abducted by Hamas gunmen during the October 7 attack on Israel, meets a family member after being released as part of a hostages-prisoners swap deal between Hamas and Israel amid a temporary truce, at an unknown location in Israel, in this handout image released... Acquire Licensing Rights Read more

The deal risked being derailed when Hamas' armed wing said on Saturday it was delaying releases until Israel met all truce conditions, including committing to let aid trucks into northern Gaza.

Saving the deal took a day of high-stakes diplomacy mediated by Qatar and Egypt, a process U.S. President Joe Biden joined, calling Qatari Emir Sheikh Tamim bin Hamad Al Thani.

Hamas spokesperson Osama Hamdan said only 65 of 340 aid trucks that had entered Gaza since Friday had reached northern Gaza, or "less than half of what Israel agreed on".

Al-Qassam Brigades, the Hamas armed wing, also said Israel had failed to respect terms for the release of Palestinian prisoners that factored in their time in detention.

The IDF said the United Nations and international organisations distribute aid within the Gaza Strip. The U.N. said 61 trucks delivered aid to northern Gaza on Saturday, the most since the war began seven weeks ago. They included food, water and emergency medical supplies.

Qatari foreign ministry spokesman Majed Al-Ansari said there had been "a lot of discussion" on how and whom to prioritise for release and that a key criterion for the Palestinian side was the length of time spent in Israeli prisons.

"We are now hopeful that, with the second or the third day of this pause, we would be able to hash out a lot of these details," he told CNN.

Israel has said the ceasefire could be extended if Hamas continued to release at least 10 hostages a day. A Palestinian source has said up to 100 hostages could go free.

'HEART IS SPLIT'

Saturday also brought hours of nail-biting waiting for the families of hostages, some of whose joy was tempered by the continued captivity of others.

"My heart is split because my son, Itay, is still in Hamas' captivity in Gaza," Mirit Regev, the mother of Maya Regev, who was released late on Saturday, said in a statement from the Hostage and Missing Families Forum that represents the families.

The wait for the release of the Shohams, who left a parent hostage in Gaza, had been nerve-wracking, said Aviv Havron, a relative. "But what is that compared to the 50 days they spent as hostages?" the Ynet news site quoted him as saying.

Also released was nine-year-old Irish-Israeli hostage Emily Hand, initially feared killed, but who spent her ninth birthday in captivity before being freed along with 12-year-old Hila Rotem, whose mother remains in captivity.

"We are overjoyed to embrace Emily again, but at the same time, we remember Raya Rotem and all the hostages who have yet to return," Hand's family said in a statement.

Palestinians' joy at the release was tinged with bitterness.

"I feel like I am in a dream, but I hope that the war on Gaza will stop as soon as possible," one of them, Shorouk Dwayyat, who had served half her term of 16 years, told Al Jazeera TV.

Reporting by Emily Rose, Bassam Masoud, James Mackenzie, Maayan Lubell, Emma Farge, Aidan Lewis, Adam Makary, Nidal al-Mugrabi and Moaz Abd-Alaziz; Additional reporting by Ali Sawafta in Ramallah, Sybille de La Hamaide and Jeff Mason in Nantucket, Massachusetts; Writing by Humeyra Pamuk; Editing by Leslie Adler, Clarence Fernandez and William Mallard

Our Standards: The Thomson Reuters Trust Principles. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>