<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamas releases a third group of hostages as part of truce, and says it will seek to extend the deal</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="DEIR AL-BALAH, Gaza Strip (AP) — The fragile cease-fire between Israel and Hamas">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Hamas releases a third group of hostages as part of truce, and says it will seek to extend the deal</p>
            <span id="topic" >Gaza</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://dims.apnews.com/dims4/default/f7faa4c/2147483647/strip/true/crop/5356x3013+0+279/resize/1440x810!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F8e%2F04%2Ffc09c70da63e134185f19bfd60b7%2F9774bad5bd9342fca850735fa56222f4" alt="">

                <textarea id="text" readonly> DEIR AL-BALAH, Gaza Strip (AP) — The fragile cease-fire between Israel and Hamas was back on track Sunday as the militants freed 17 more hostages, including 14 Israelis and the first American, in a third exchange under a four-day truce that the United States said it hoped would be extended. In turn, Israel released 39 Palestinian prisoners.

Most hostages were handed over directly to Israel, waving to a cheering crowd as they arrived at an air force base. Others left through Egypt. Israel’s army said one was airlifted to a hospital, and the director of Soroka Medical Center said Elma Avraham, 84, was in life-threatening condition as “a result of an extended period of time when an elderly woman was not taken care of as needed.”

The youngest hostage released was Abigail Edan, a 4-year-old girl and dual Israeli-American citizen whose parents were killed in the Hamas attack that started the war on Oct. 7.

“What she endured was unthinkable,” U.S. President Joe Biden said of the first American freed under the truce. He did not know her condition and did not provide updates on other American hostages. Biden said his goal was to extend the cease-fire deal as long as possible.

In all, nine children ages 17 and younger were on the list, according to Israeli Prime Minister Benjamin Netanyahu’s office. Three more Thai nationals were released. Separately, Hamas said it released a Russian hostage “in response to the efforts of Russian President Vladimir Putin.”

The three Thai nationals were undergoing health checks at a medical center in Israel and brought the total number of Thai hostages released to 17, Thailand’s Foreign Ministry said. The ministry said it was pursuing efforts for the safe release of the 15 remaining Thai hostages. Thais working in Israel are mostly employed as semi-skilled farm laborers, at wages considerably higher than those at they can earn at home.

The Palestinian prisoners released were children and young men, ages 15-19, largely accused of public disorder, property damage and in some cases causing or threatening physical harm to Israeli officers by throwing stones and Molotov cocktails. Many were scooped up from protests and confrontations with troops. In turn, many Palestinians view prisoners held by Israel, including those implicated in attacks, as heroes resisting occupation.

A fourth exchange is expected on Monday — the last day of the cease-fire during which a total of 50 hostages and 150 Palestinian prisoners are to be freed. Most are women and minors.

International mediators led by the U.S., Egypt and Qatar were trying to extend the cease-fire that began Friday.

“We can get all hostages back home. We have to keep pushing,” said two of Edan’s relatives, a great aunt and cousin, in a statement thanking mediators.

Hamas for the first time said it would seek to extend the deal by looking to release a larger number of hostages. Netanyahu issued a statement saying he had spoken to Biden and reiterated his offer to extend the cease-fire by an additional day for every 10 hostages Hamas releases. But he said Israel would resume its offensive “with all of our might” once the truce expires.

Ahead of the latest hostage release, Netanyahu donned body armor and visited the Gaza Strip, where he spoke with troops.

“At the end of the day we will return every one,” he said of the hostages, adding that “we are continuing until the end, until victory. Nothing will stop us.” It was not clear where he went inside Gaza.

This is the first significant pause in seven weeks of war, marked by the deadliest Israeli-Palestinian violence in decades. More than 13,300 Palestinians have been killed, roughly two thirds of them women and minors, according to the Health Ministry in Hamas-ruled Gaza, which does not differentiate between civilians and combatants. The war has claimed more than 1,200 Israelis, mostly civilians killed in the initial attack.

In New York, hundreds of Jewish protesters and allies demanding a permanent cease-fire in Gaza shut down vehicle traffic on the Manhattan Bridge in both directions for several hours Sunday. A New York police spokesperson said one person was arrested for reckless endangerment and two others were issued summonses for disorderly conduct.

LIFE IN CAPTIVITY

Hamas ’ military wing released a video showing militants handing over the hostages to Red Cross workers and paramedics, with some of the balaclava-wearing fighters and hostages waving goodbye to each other.

Families from the southern Israeli town of Kfar Aza embraced, cried, and applauded Sunday at the news that hostages from their town had arrived in Israel. More than 70 members of the kibbutz of around 700 people were killed and 18 were kidnapped.

The freed hostages have mostly stayed out of the public eye. Hospitals said their physical condition has largely been good. Little is publicly known about the conditions of their captivity.

Merav Raviv, whose three relatives were released on Friday, said they had been fed irregularly and lost weight. One reported eating mainly bread and rice and sleeping on a makeshift bed of chairs pushed together. Hostages sometimes had to wait for hours to use the bathroom, she said.

Pressure from families has sharpened the dilemma facing Israel’s leaders, who seek to eliminate Hamas as a military and governing power. Hamas and other militant groups seized around 240 people during the incursion into southern Israel that ignited the war. Fifty-eight have been released, one was freed by Israeli forces and two were found dead inside Gaza.

AID TO NORTHERN GAZA

The pause has given some respite to Gaza’s 2.3 million people, still reeling from relentless Israeli bombardment that has driven three-quarters of the population from their homes and leveled residential areas. Rocket fire from Gaza militants into Israel also went silent.

War-weary Palestinians in northern Gaza, where the offensive has been focused, made their way through entire city blocks gutted by airstrikes.

But those among the hundreds of thousands of Palestinians who fled the north have been turned back by Israeli troops while trying to return to check their homes.

“They open fire on anyone approaching from the south,” said Rami Hazarein, who fled Gaza City.

The Israeli military has ordered Palestinians not to return to the north or approach within a kilometer (around a half-mile) of the border fence. The Palestinian Red Crescent rescue service said Israeli forces opened fire Sunday on two farmers in central Gaza, killing one and wounding the other. An Israeli military spokesperson said they weren’t aware of the episode.

The United Nations says the truce made it possible to scale up the delivery of food, water and medicine to the largest volume since the start of the war, but it calls the 160 to 200 trucks a day “hardly enough.”

It was able to deliver fuel for the first time since the war began, and to reach areas in the north for the first time in a month. The Palestinian Red Crescent Society said 50 Egyptian aid trucks crossed through Israeli checkpoints to reach Gaza City and northern areas Sunday.

HAMAS COMMANDER KILLED

Hamas announced the death of Ahmed al-Ghandour, who was in charge of northern Gaza and a member of its top military council. He is the highest-ranking militant known to have been killed in the fighting. Israel’s military confirmed the death.

Al-Ghandour had survived at least three Israeli attempts on his life and was involved in a cross-border attack in 2006 in which Palestinian militants captured an Israeli soldier, according to the Counter Extremism Project, an advocacy group based in Washington.

Hamas said he was killed along with three other senior militants, including Ayman Siam, who Israel says was in charge of Hamas’ rocket-firing unit. The Israeli military mentioned both men in a Nov. 16 statement, saying it had targeted an underground complex where Hamas leaders were hiding.

The Israeli military claims to have killed thousands of militants, without providing evidence.

The war has been accompanied by a surge in violence in the Israeli-occupied West Bank. Palestinian health authorities said Sunday that five Palestinians were killed in an Israeli military raid in the West Bank city of Jenin that began the day before. The war toll in the West Bank is now 239.

The Israeli army has conducted frequent raids and arrested hundreds of Palestinians since the start of the war, mostly people it suspects of being Hamas members.

___

Magdy reported from Cairo. Isabel DeBre in Jerusalem and Tia Goldenberg in Tel Aviv, Israel, contributed to this report.

___

Full AP coverage at https://apnews.com/hub/israel-hamas-war. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>