<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Guru Gobind Singh Jayanti 2022: Gurpurab Wishes Quotes, Images, SMS, Messages, Greetings, Wallpaper and Photos</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Happy Guru Gobind Singh Jayanti 2022: Let's celebrate the life of the Guru. (Exp">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Happy Guru Gobind Singh Jayanti 2022: Gurpurab Wishes Quotes, Images, SMS, Messages, Greetings, Wallpaper and Photos</p>
            <span id="topic" >Gurpurab</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://images.indianexpress.com/2022/01/1-98.jpg" alt="">

                <textarea id="text" readonly> Happy Guru Gobind Singh Jayanti 2022: Let's celebrate the life of the Guru. (Express photo by Gurmeet Singh; designed by Angshuman Maity)

Happy Guru Gobind Singh Jayanti 2022 wishes and images: The last of the ten Sikh gurus, Guru Gobind Singh Ji was born in 1666, in present day Patna. He is revered deeply, not only by the followers of Sikhism, but all Indians for his valour and wisdom. He acceded to the throne at the age of nine and led the Sikh community till 1708, till his death.

Every year, his birth anniversary is celebrated with much fervour and devotion. This year, it falls on January 9, 2022. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>