<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health briefs: Nurturing, nutrition and ADHD</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The health briefs this week include a look very small food swaps believed to red">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Health briefs: Nurturing, nutrition and ADHD</p>
            <span id="topic" >health</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sat-6, 2023</b>
                </span>
                <br><br>
                <img src="https://deseret.brightspotcdn.com/dims4/default/ba7ea46/2147483647/strip/true/crop/3500x1998+0+168/resize/1461x834!/quality/90/?url=https%3A%2F%2Fcdn.vox-cdn.com%2Fthumbor%2F-8L14VkvGgTYgahh3hC8BMLUm4Q%3D%2F0x0%3A3500x2333%2F3500x2333%2Ffilters%3Afocal%281750x1167%3A1751x1168%29%2Fcdn.vox-cdn.com%2Fuploads%2Fchorus_asset%2Ffile%2F25106196%2FAdobeStock_310645058.jpeg" alt="">

                <textarea id="text" readonly> The health briefs this week include a look very small food swaps believed to reduce the risk of cardiovascular and other health challenges, a sobering study on what happens when children don’t grow up in a nurturing environment and a new finding on dementia.

Food swaps: meat vs. plants

Choosing plant-based foods instead of those that are animal-based — especially red and processed meat — may reduce cardiometabolic risk, including heart attack, stroke, Type 2 diabetes, insulin resistance and non-alcoholic fatty liver disease, as well as “all-cause” mortality.

That’s according to a large review of 37 studies, published recently in the journal BMC Medicine that also calls for more research to strengthen the existing evidence and further study the potential impact of meat and dairy replacement products.

The findings “emphasize the potential health advantages of incorporating more plant-based foods into the diet,” Sabrina Schlesinger, the study’s first author and head of the systematic reviews research group at the German Diabetes Center in Düsseldorf, told CNN.

“Our findings indicate that a shift from animal-based (e.g., red and processed meat, eggs, dairy, poultry, butter) to plant-based (e.g., nuts, legumes, whole grains, olive oil) foods is beneficially associated with cardiometabolic health and all-cause mortality,” the researchers wrote.

The study found a 27% reduction in the overall incidence of heart disease when 1.8 ounces of processed meat each day was swapped with a similar amount of nuts. That also reduced the incidence of Type 2 diabetes by 22%.

The researchers also found a 23% drop in the overall incidence of heart disease when that small portion of processed meat was swapped with legumes in the same amount.

Processed meat is meat that has been modified, such as preserving by smoking or salting or adding chemical preservatives, per MD Anderson Cancer Center. The list includes bacon, hot dogs and deli meats, among others.

The review said that using olive oil instead of butter and nuts instead of eggs reduced the risk of Type 2 diabetes and heart disease, “though replacing other dairy products, fish, seafood or pouty had no clear association with a lower incidence of heart disease.”

The evidence, they said, had different strengths, from very low to moderate, for the different diseases and also the different substitutions. For instance, for diabetes, replacing red meat with nuts or whole grains had moderate evidence, while substituting legumes had low evidence.

They also noted that “there are different mechanisms that might explain the observed associations. First, it is likely that persons favoring plant-based foods follow a more health-conscious lifestyle in general. However, the included studies all adjusted for important lifestyle confounders such as total energy intake, physical activity, alcohol intake, and smoking, and the associations persisted. Nevertheless, residual confounding cannot be ruled out.”

Lack of nurturing speeds up biological aging

Researchers using epigenetic aging tools and data from older adults say being deprived of a nurturing childhood environment is linked to “accelerated biological aging” when one gets old.

The study by researchers at the University of Wisconsin-Madison was published in the American Journal of Epidemiology. It involved DNA samples and interviews with 842 adults ages 55 to 94, looking at such measures of adversity as physical, emotional or sexual abuse or threat of it, and lack of appropriate physical or emotional stimulation or nurturing.

Said Iead researcher Lauren Schmitz, professor in the LA Follette School of Public Affairs at the university, in a news release, “Although previous research has shown a relationship between early life adversity and epigenetic age acceleration among children, this study is among the first to connect the biological age of older adults with these types of early life experiences. This could be an important insight into how childhood experiences may contribute to our mortality risk.”

“Although previous research has shown a relationship between early life adversity and epigenetic age acceleration among children, this study is among the first to connect the biological age of older adults with these types of early life experiences,” Schmitz said in the release. “This could be an important insight into how childhood experiences may contribute to our mortality risk.”

The team theorized that epigenetic age accelerates with deprivation but not threat because deprivation’s effects show up later in life, while those of threat “may decline over time” as people are removed over time from such childhood trauma.

ADHD and Alzheimer’s

Adults diagnosed with attention-deficit/hyperactivity disorder (ADHD) in adulthood were nearly three times more likely to develop dementia later, according to a national birth cohort study of 109,318 adults in Israel that was published in Jama Network Open. They were followed for 17.2 years to see if they developed the neurocognitive challenge. The researchers said the association was significant.

Those in the study were between the ages of 51 and 70 in 2003 when the study began and the follow-up took place between December 2022 and August 2023. The study reported that 730 participants had been diagnosed by then with adult ADHD and 7,726 with dementia, including 96 of those who also had ADHD.

The researchers concluded that “policy makers, caregivers, patients and clinicians may wish to monitor reliably for ADHD in old age.” </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>