<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Here's how the American Red Cross makes money from donated blood</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The American Red Cross has long been recognized as the universal symbol of human">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Here's how the American Red Cross makes money from donated blood</p>
            <span id="topic" >business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://image.cnbcfm.com/api/v1/image/107335816-1700241575021-gettyimages-1308846825-ldn-l-redcross-0324-03-sr.jpeg?v=1700241651&w=1920&h=1080" alt="">

                <textarea id="text" readonly> The American Red Cross has long been recognized as the universal symbol of humanitarian services —and it's an expensive operation.



In 2022, the American Red Cross generated more than $3.2 billion in operating revenue and spent just over $3 billion in expenses the same year, according to its financial statements.

Contributions only make up about a third of the organization's revenue.

"It's really sort of the charity of choice," according to Jake Johnston, a senior research associate at the Center for Economic and Policy Research. "When the White House starts raising money, when the big corporations, the NFL, Hollywood A-listers are raising money for the aftermath of a disaster, it's most likely targeted toward the American Red Cross."

But the majority of its revenue, just over $1.8 billion, comes from what its financial statements refer to as "Biomedical services."

"The American Red Cross essentially collects blood from donors and then as part of the way it raises revenue to recover costs, then sells that blood to about 2,500 hospitals and medical facilities across the country," said Laurie Styron, CEO and executive director of CharityWatch.

When CNBC inquired about the pricing of these products, the American Red Cross responded that "prices for a unit of red blood cells is proprietary information. The pricing is determined by purchase volumes by blood type, service levels, and delivery requirements as well as other agreed upon terms with a hospital."

The American Red Cross further clarified that it "does not charge for the blood itself" but is "reimbursed by hospitals and transfusion centers for the costs associated with providing blood products."

A majority of the American Red Cross' operating expenses, just over $2 billion, is also spent on collecting blood, according to its financial statements. That's about $139 million more than the revenue it collects from selling the blood.

Michael Thatcher, CEO of Charity Navigator said, "drawing blood is actually a medical intervention that requires certain levels of certification by the people doing that work, the preservation of that blood, making sure that it stays clean and getting them to all these places. All of that costs money."

Watch the video above to see how the American Red Cross makes and spends its billions. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>