<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Honda, Jeep, and Volvo among 337,000 vehicles recalled: Check car recalls here</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The National Highway Traffic Safety Administration issued multiple recalls last ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Honda, Jeep, and Volvo among 337,000 vehicles recalled: Check car recalls here</p>
            <span id="topic" >business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.usatoday.com/gcdn/authoring/authoring-images/2023/11/26/USAT/71712070007-ap-23027719778000.jpeg?crop=5584,3141,x0,y290&width=3200&height=1800&format=pjpg&auto=webp" alt="">

                <textarea id="text" readonly> The National Highway Traffic Safety Administration issued multiple recalls last week including more than 300,000 Honda vehicles for front seat belt problems.

Are you looking to see if any recalls were issued on your vehicle? If the car isn't listed below, owners can check USA TODAY’s automotive recall database or search NHTSA’s database for new recalls. The NHTSA website allows you to search for recalls based on your vehicle identification number or VIN.

Here are the vehicle recalls published by the NHTSA from Nov. 18 to Nov. 28.

Car recalls:More than 303,000 Honda Accords, HR-V recalled over missing seat belt piece

Honda recall: Front seat belt missing rivet

Honda is recalling 303,770 of its 2023-2024 Accord sedans and HR-V SUVs because the front seat belt could possibly be missing the rivet that connects the quick connector and wire plate. This complication does not comply with the Federal Motor Vehicle Safety Standard numbers 208, "Occupant Crash Protection," 209, "Seat Belt Assembles," and 210, "Seat Belt Assembly Anchorages" according to a NHTSA report.

Dealers will inspect and replace the seat belt missing components if they are missing at no charge to the customer. Letters to the owners will be mailed on January 8, 2024. The contact number for Honda customer service at 1-888-234-2138. The recall numbers are MG7 and NG5.

Recalled vehicles:

2023-2024 Honda Accord

2023-2024 Honda HR-V

Stellantis recall: Potential fire risk

Stellantis, which owns Chrysler, Dodge and other carmakers including Jeep, is recalling 32,125 of its 2021-2024 hybrid Jeep Wrangler 4xe SUVs because of a fire risk. Stellantis completed a internal investigation from a company review of customer data that found that eight Jeep Wrangler SUVs caught fire while parked and turned off, according to a news release by the automaker.

Stellantis will perform a software flash on vehicles. If they find an error code consistent with what they are looking for, they will replace the battery pack, says Stellantis. Stellantis will contact owners who this recall affects.

Recalled vehicles:

2021-2024 Jeep Wrangler 4xe SUVs.

See what else is being recalled:Check USA TODAY's recall database

Volvo recall: Passenger side bench

Volvo is recalling 638 of its 2018-2024 VN, VNR, and VHD vehicles. The bench on the passenger side may not be probably be attached to the floor. This problem does not follow the Federal Motor Vehicle Safety Standard numbers 207, "Seating Systems" and 210, "Seatbelt Assembly Anchorage." If this does not get fixed the bench can shift and increase the risk of an injury according to a NHTSA report.

Dealers will fix the weld nut and two nuts and a washer at no cost. Letters are expected to go out Dec. 15. Owners can contact Volvo at 1-800-528-6586. The recall number is RVXX2312.

Recalled vehicles:

2018-2024 Volvo VHD

2018-2024 Volvo VN

2018-2024 Volvo VNR

Toyota recall: Modification label error

Toyota is recalling 534 of certain 2022-2024 Toyota Tundra vehicles. The load carrying capacity is wrong on the modification label. An overloaded vehicle can increase the risk of a crash and does not follow the Federal Motor Vehicle Safety Standard number 110, "Tire Selection and Rims" according to a NHTSA report.

SET will send out new labels for free. Notification letters will be mailed Jan. 5, 2024. Owners can call SET at 1-866-405-4226. SET's recall number is SET23B.

Recalled vehicles: </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>