<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How asylum-seekers pay to cross Russian-Finnish border – DW – 11/26/2023</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Finland is sealing up more border crossing points with Russia as the number of c">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>How asylum-seekers pay to cross Russian-Finnish border – DW – 11/26/2023</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://static.dw.com/image/67477331_6.jpg" alt="">

                <textarea id="text" readonly> Finland is sealing up more border crossing points with Russia as the number of crossings by asylum-seekers climbs. But where do the people trying to reach Europe come from? And who helps them get in? DW investigates.

Finland has temporarily closed all its border crossings with Russia, save for one in the country's northeast. Having shut four border points last week, the Nordic state closed three more early on Friday.

The Finnish government has said it had to do so due to a sharp increase in the number of people entering Finland from Russia in order to seek asylum.

Many use bikes to cross border points, as it's not possible to cross on foot Image: Miska Puumala/Lehtikuva/dpa/picture alliance

Finnish President Sauli Niinisto has said the "influx of migrants is the Kremlin's revenge" for his country's decision to join NATO. Russia, in response, has said the people crossing the borders have the right to do so.

Since August, 684 people from Yemen, Iraq, Somalia and other African and Middle Eastern countries have sought asylum in Finland, Finnish border authorities told DW.

All those people did so without the correct paperwork to enter the European Union.

'Facilitators' helping people cross the border

It's relatively easy to find Information online about how to enter Finland from Russia without valid papers. For example, a search of the encrypted messaging service Telegram turned up several Arabic-language chats with users sharing their experiences.



Take the case of "Russia-Finland Information" (in Arabic: معلومات روسيا), where group members, including administrators, offer help applying for a visa for Russia and crossing the Russian-Finnish border in exchange for a fee.

Finland to close border with Russia To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video

Several users, whose profiles have since been deleted, assured others in the chat group that they could assist with applying for Russian student visas and also with reaching either Estonia or Finland from Russia.

A three-month study visa, registered participation in a short Russian language course and transportation to the border would cost $1,300 (€1,200). For $2,500, potential migrants could get a visa with provision for a one-year extension as well as student accommodation and health insurance "so there are no problems at the border."

What do 'facilitators' promise their buyers?

Most border crossings between Russia and Finland require a means of transportation. as they aren't able to be crossed on foot. One user in the chat, nicknamed Abo Abdo, offered to provide bicycles as part of the package to get around this issue.

A Russian who crossed the Vyartsilya-Niirala checkpoint told DW that he had seen a minibus with Russian license plates packed with bicycles. The bus driver distributed the bikes to around 30 people just before the border, he said.

Another man told DW he had seen the same group of people quickly get on the bikes and then "follow a Russian border official to the checkpoint."

Another chat user with the nickname Torab said "facilitators" had an agreement with Russian border officials, who would stamp the migrants' passports and send them on to the Finnish side where they could claim asylum.

Why is the Arctic so important to NATO? To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video

Since Finland's announcements about crossing closures, potential migrants in another chat called Moscow_Finland are asking about alternative routes and also for guarantees from "facilitators" that they will be able to cross into the EU.

"If I get to the border, is it possible that I get detained and deported?" one chat member wants to know.

The answer sounded reassuring: "In two days, more than 100 people crossed the border and no one was deported," assured the Moscow_Finland administrator.

Russia rejects Finland's allegations

Finnish Foreign Minister Elina Valtonen told DW that Russia no longer guards their shared border as it should according to bilateral deals. This has endangered national security and public order in Finland, Valtonen said.

"Russia appears to be encouraging illegal border crossings," she said.

Dmitry Peskov, spokesperson for Russian President Vladimir Putin, noted that border crossings "are used by those who have the legal right to do so. … Russian border guards fully comply with all official instructions in this regard."

A spokesperson for the Russian Foreign Ministry said they considered Finnish authorities' idea of ​​closing all border checkpoints to be "destructive."

For the time being, the four checkpoints on the Russian-Finnish border, which are located near St. Petersburg, are only supposed to be closed until February 18.

The Finnish Interior Ministry has said this decision could be changed or completely repealed if it is no longer necessary.

This article was originally written in Russian. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>