<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How Human Actions Alter COVID-19 Evolution</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Summary: A research group using AI and mathematical modeling has discovered that">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>How Human Actions Alter COVID-19 Evolution</p>
            <span id="topic" >health</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sat-6, 2023</b>
                </span>
                <br><br>
                <img src="https://neurosciencenews.com/files/2023/11/covid-human-behavior-neurrosicence.jpg" alt="">

                <textarea id="text" readonly> Summary: A research group using AI and mathematical modeling has discovered that human behavioral responses to COVID-19, like lockdowns and isolation, influence the evolution of the virus.

Their study found that SARS-CoV-2 variants became more transmissible early in infection due to these human interventions.

The study demonstrates a complex interplay between viral load, transmission dynamics, and human behavior, revealing that as the virus evolved from the Wuhan to the Delta strain, it showed a significant increase in maximum viral load and a quicker peak.

This research underscores the importance of considering human behavior in public health strategies and virus evolution studies.

Key Facts:

Human responses to COVID-19, such as isolation and lockdowns, have impacted the evolution of the virus, making it more transmissible early in infection. The study showed a 5-fold increase in maximum viral load and a faster peak as SARS-CoV-2 evolved from the Wuhan to Delta variants. This research highlights the need to incorporate human behavior into understanding virus evolution and in developing adaptive public health strategies.

Source: Nagoya University

Using artificial intelligence technology and mathematical modeling, a research group led by Nagoya University has revealed that human behavior, such as lockdowns and isolation measures, affect the evolution of new strains of COVID-19. SARS-CoV-2, the virus that causes COVID-19, developed to become more transmissible earlier in its lifecycle.

The researcher’s findings, published in Nature Communications, provide new insights into the relationship between how people behave and disease-causing agents.

As with any other living organism, viruses evolve over time. Those with survival advantages become dominant in the gene pool. Many environmental factors influence this evolution, including human behavior.

By isolating sick people and using lockdowns to control outbreaks, humans may alter virus evolution in complicated ways. Predicting how these changes occur is vital to develop adaptive treatments and interventions.

An important concept in this interaction is viral load, which refers to the amount or concentration of a virus present per ml of a bodily fluid. In SARS-CoV-2, a higher viral load in respiratory secretions increases the risk of transmission through droplets. Viral load relates to the potential to transmit a virus to others.

For example, a virus like Ebola has an exceptionally high viral load, whereas the common cold has a low one. However, viruses must perform a careful balancing act, as increasing the maximum viral load can be advantageous, but an excessive viral load may cause individuals to become too sick to transmit the virus to others.

The research group led by Professor Shingo Iwami at the Nagoya University Graduate School of Science identified trends using mathematical modeling with an artificial intelligence component to investigate previously published clinical data. They found that the SARS-CoV-2 variants that were most successful at spreading had an earlier and higher peak in viral load.

However, as the virus evolved from the pre-Alpha to the Delta variants, it had a shorter duration of infection. The researchers also found that the decreased incubation period and the increased proportion of asymptomatic infections recorded as the virus mutated also affected virus evolution.

The results showed a clear difference. As the virus evolved from the Wuhan strain to the Delta strain, they found a 5-fold increase in the maximum viral load and a 1.5-fold increase in the number of days before the viral load peaked.

Iwami and his colleagues suggest that human behavioral changes in response to the virus, designed to limit transmission, were increasing the selection pressure on the virus. This caused SARS-CoV-2 to be transmitted mainly during the asymptomatic and presymptomatic periods, which occur earlier in its infectious cycle. As a result, the viral load peak advanced to this period to spread more effectively in the earlier pre-symptomatic stages.

When evaluating public health strategies in response to COVID-19 and any future potentially pandemic-causing pathogens, it is necessary to consider the impact of changes in human behavior on virus evolution patterns.

“We expect that immune pressure from vaccinations and/or previous infections drives the evolution of SARS-CoV-2,” Iwami said.

“However, our study found that human behavior can also contribute to the virus’s evolution in a more complicated manner, suggesting the need to reevaluate virus evolution.”

Their study suggests the possibility that new strains of coronavirus evolved because of a complex interaction between clinical symptoms and human behavior. The group hopes that their research will speed up the establishment of testing regimes for adaptive treatment, effective screening, and isolation strategies.

About this behavioral neuroscience and COVID-19 research news

Author: Matthew Coslett

Source: Nagoya University

Contact: Matthew Coslett – Nagoya University

Image: The image is credited to Neuroscience News

Original Research: Open access.

“Isolation may select for earlier and higher peak viral load but shorter duration in SARS-CoV-2 evolution” by Shingo Iwami et al. Nature Communications

Abstract

Isolation may select for earlier and higher peak viral load but shorter duration in SARS-CoV-2 evolution

During the COVID-19 pandemic, human behavior change as a result of nonpharmaceutical interventions such as isolation may have induced directional selection for viral evolution.

By combining previously published empirical clinical data analysis and multi-level mathematical modeling, we find that the SARS-CoV-2 variants selected for as the virus evolved from the pre-Alpha to the Delta variant had earlier and higher peak in viral load dynamics but a shorter duration of infection.

Selection for increased transmissibility shapes the viral load dynamics, and the isolation measure is likely to be a driver of these evolutionary transitions.

In addition, we show that a decreased incubation period and an increased proportion of asymptomatic infection are also positively selected for as SARS-CoV-2 mutated to adapt to human behavior (i.e., Omicron variants).

The quantitative information and predictions we present here can guide future responses in the potential arms race between pandemic interventions and viral evolution. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>