<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunter Biden: I fought to get sober. Political weaponization of my addiction hurts more than me.</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Hunter Biden

Opinion contributor

Over four years ago, I chose life over the sl">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Hunter Biden: I fought to get sober. Political weaponization of my addiction hurts more than me.</p>
            <span id="topic" >usa</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.usatoday.com/gcdn/authoring/authoring-images/2023/11/01/USAT/71410232007-ap-hunter-biden-congress.jpg?crop=2157,1215,x0,y40&width=2157&height=1215&format=pjpg&auto=webp" alt="">

                <textarea id="text" readonly> Hunter Biden

Opinion contributor

Over four years ago, I chose life over the slow strangle-death grip of addiction, which in my case consisted each day of a bottle of vodka and as many hits on a crack pipe as possible. I am prouder of that choice and of my recovery than anything I’ve ever done.

My experience is not a unique one. At least 20 million Americans today suffer from substance abuse disorder. I don’t know a family that hasn’t been impacted in some way by addiction. What is distinct about my situation is that I’m the son of the president of the United States.

My struggles and my mistakes have been fodder for a vile and sustained disinformation campaign against him, and an all-out annihilation of my reputation through high-pitched but fruitless congressional investigations and, more recently, criminal charges for possessing an unloaded gun for 11 days five years ago – charges that appear to be the first-ever of their kind brought in the history of Delaware.

I accept that the choices and mistakes are mine

I am not a victim. By any standard, I grew up with privilege and opportunity, and fully accept that the choices and mistakes I made are mine, and I am accountable for them and will continue to be.

That is what recovery is about.

What troubles me is the demonization of addiction, of human frailty, using me as its avatar and the devastating consequences it has for the millions struggling with addiction, desperate for a way out and being bombarded by the denigrating and near-constant coverage of me and my addiction on Fox News (more airtime than GOP presidential candidate Ron DeSantis) and in The New York Post (an average of two stories a dayover the past year).

Conspiracy theories:GOP's Hunter Biden hysteria makes even less sense after plea deal gets put on hold

The science of addiction and recovery has made great strides in just the past decade. However, far too few will ever experience the miracle of recovery unless we change the stigma around addiction.

For those of us who live in recovery and for those who love someone in recovery, we know how hard fought our newfound lives are in letting go of the shame and making amends.

'Getting clean is easy, all you have to do is change everything'

Someone once told me, “Getting clean is easy, all you have to do is change everything.” That is one of the most profound truths I know today.

The weaponization of my addiction by partisan and craven factions represents a real threat to those desperate to get sober but are afraid of what may await them if they do.

Mental health care:My mom's suicide wasn't a personal failure. When she needed community, the system let her down.

It is not hard to see why: My recent haircut turned into a wild conspiracy to evade drug tests, tabloids steadily splash nude pictures of me on their covers, and even a member of Congress displayed revenge porn of me on national television.

My addiction doesn’t justify Steve Bannon and Guo Wengui posting altered nude photos of me with “editorial creativity over the pictures.” My addiction shouldn’t permit the likes of Rudy Giuliani or a former Peter Navarro aide to debase and dehumanize me for their own gains.

It is already a near-impossible decision for addicts to get sober, and the avalanche of negativity and assault of my personal privacy may only make it harder for those considering it.

I am blessed with a family that gave me the support and space to seek sincere redemption – and they too endure this shaming and humiliation of their father, son, brother and uncle. After what I have gone through since my brother died in 2015, and the perpetual public humiliation of me, I am now certain I can survive anything (except a drink or a drug).

And I am certain that part of my living amends is to not only survive this, but to also use my experience to be a living example of the promises we are told await us in sobriety.

The effort of recovery is something that should be celebrated, and I hope that despite my role as the punchline and punching bag for some, others will also make the effort I have made, one day at a time, and get honest with themselves and the people who love and rely upon them.

The effort is worth it. You are worth it. I am living proof of that.

If you or someone you know is struggling with substance abuse or addiction, you can call theSubstance Abuse and Mental Health Services Administration National Helpline at 800-662-HELP (4357) any time of day or night.

Hunter Biden is the son of President Joe Biden. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>