<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'm a drone expert and for years I've told people to buy DJI on Black Friday, but this year there is an alternative...</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The holidays are coming, and if you're looking for a drone on Black Friday the c">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>I'm a drone expert and for years I've told people to buy DJI on Black Friday, but this year there is an alternative...</p>
            <span id="topic" >technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://cdn.mos.cms.futurecdn.net/bhrqSKxCZxYAUZERHtTd3E-1200-80.jpg" alt="">

                <textarea id="text" readonly> The holidays are coming, and if you're looking for a drone on Black Friday the chances are you're looking for a good gift. If you're looking for a genuinely good drone, with a capable camera, the drone I would usually point to would be the DJI Mini 2 SE, which produces some of the best video possible from a drone in the price bracket thanks to the stabilized camera. It uses a 3-axis gimbal which is smart enough to keep the camera steady as the drone wobbles, unlike most of the cheaper competition. It also comes from the reliable market leader. No competition, right?

This year, there are two alternative choices from a company which used to concentrate slightly more on toy drones: Potensic. They have produced a folding drone called the Potensic Atom – which also boasts a 3-axis gimbal and a 4K camera – and a cheaper Atom SE, which relies on electronics to stabilize the image. The later compromises image stability, but also offers a lower price of entry, something DJI doesn't do. Given that – with Black Friday discounts – we're looking at a the Atom SE starting at under $200 it feels like plenty would benefit if DJI would be a little more competitive, especially as – when I tested in, admittedly, low wind, the video wasn't too bad.

Potensic Atom Fly More Combo | was $449.99 | now $369.99

Save $80 at Amazon This drone comes with high-end features including 4K video capture, GPS and a three-axis gimbal for stable footage. This Fly More Combo adds a carry case and a parallel charger that can charge three batteries at once, meaning your drone need never be out of the sky for long.

Potensic Atom SE | was $249.99 | now $199.99

Save $50 at Amazon This drone is under 249g, so there is no need to register, but it boasts 4K video capture, GPS and electronic image stabilization. The battery gives 31-minutes flight and it has up to 4km / 2.5 miles range with a live view on your phone screen and a real controller with phone grip.

At the same time, the better DJI deals aren't as great as you'd hope. Probably because the margins on the Mini 2 SE are pretty tight, and because it's still a great drone that sells itself, but the discount is only $40 – admittedly an OK 12% if you buy the drone only, but that is only 8% if you're buying the bundle.

DJI Mini 2 SE| was £339 | now $299

Save $40 at Amazon The Mini 2 SE comes with a robust controller and boasts a good quality 2.7K camera with gimbal for stable video, plus cool automated flights that create amazing shareable video.

The Mini 2 SE is a great drone, but you only get 2.7K video, not 4K. Also if you start to add up the goodies – extra batteries, bag, charger – the Potensic Atom (not so much the Atome SE) offers a good bit more for not a lot more spend, at least during Potensic's more impressive Black Friday deals.

There is one other thing to think about though – DJI have their own offer on the Mini 3, which is better than both drones in terms of camera, and offers a choice of controllers and bundles. The Mini 3 even has a camera you can rotate to portrate mode for social media fanatics!

DJI Mini 3 | was $559 | now $469

Save $90 at DJI The Mini 3 is a 4K drone which (if you can steer it around tres yourself) produces excellent video through its 3-axis gimbal, and DJI are really slashing prices ahead of Black Friday!

You can get some more detailed thoughts on these drones in our guide to the best beginners drones and best cheap drones. We also have a list of the best drones for kids. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>