<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>India vs New Zealand: Rachin Ravindra, Daryl Mitchell set new record for Kiwis in World Cup matches vs India</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Rachin Ravindra and Daryl Mitchell, on Sunday, October 22, became only the secon">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>India vs New Zealand: Rachin Ravindra, Daryl Mitchell set new record for Kiwis in World Cup matches vs India</p>
            <span id="topic" >rachin ravindra</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202310/ind-vs-nz-ravindra--mitchell-set-new-record-for-kiwis-in-world-cup-matches-vs-india-courtesy-ap-223159833-16x9_0.jpg?VersionId=VXJxIm256sOt2Bl5ojI5_ywR.LMnGHOk" alt="">

                <textarea id="text" readonly> Rachin Ravindra and Daryl Mitchell, on Sunday, October 22, became only the second New Zealand pair to put on a partnership of 100 or more against India in World Cups. The pair also racked up the highest partnership for the Kiwis in World Cup matches against the Men in Blue in the history of the mega event.

World Cup 2023 Full Coverage

advertisement

Back on June 13, 1979, Bruce Edgar and John Wright put on 100 runs for the opening wicket against India at the Headingley in Leeds. The Kiwis went on to win the match by eight wickets with 18 balls left after chasing down a target of 183.

As far as Mitchell and Ravindra are concerned, the duo put on 159 runs for the third wicket, taking the Black Caps to 178 for three after once being at 19 for the loss of two wickets.

The pair also put on the fifth highest partnership for New Zealand in the World Cup. Earlier this month, Ravindra and Devon Conway made the record for the highest stand for the Kiwis in the mega event after they put on 273 runs for the second wicket against England at the Narendra Modi Stadium.

Mohammed Shami separated the duo after dismissing Ravindra, who scored 75 runs off 87 balls with six fours and a six. For India, the wicket was a crucial one as Mitchell and Ravindra were taking the match away from them very quickly.

Earlier in the day, Shami also got the wicket of Will Young. Shami was picked in the XI after Hardik Pandya was ruled out of the match due to an injury that he sustained in the match against Bangladesh at MCA Stadium in Pune.

Published By: sabyasachi chowdhury Published On: Oct 22, 2023 </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>