<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inside Man: How FIFA Guided the World Cup to Saudi Arabia</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Mr. Conte listened politely but would have known that such a partnership was pol">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Inside Man: How FIFA Guided the World Cup to Saudi Arabia</p>
            <span id="topic" >world cup</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://static01.nyt.com/images/2023/11/13/world/00soccer-saudi-wpgq/00soccer-saudi-wpgq-facebookJumbo.jpg" alt="">

                <textarea id="text" readonly> Mr. Conte listened politely but would have known that such a partnership was politically impossible: Italy had strained relations with Egypt over the brutal killing of a young Italian graduate student in Cairo in 2016, and there was continuing discomfort across Europe about the Saudi role in the 2018 murder of Jamal Khashoggi, a columnist for The Washington Post.

The Italian reaction to Mr. Infantino’s suggestion was at first “prudent and within a few hours negative,” said Pietro Benassi, who was the prime minister’s most senior diplomatic adviser. The country said no.

Three years later, Saudi Arabia would get its prize anyway. On Oct. 31, after an expedited process that caught its own members by surprise, FIFA confirmed Saudi Arabia was the sole bidder for the 2034 World Cup. Within hours, Mr. Infantino implied in a social media post that its status as host was a done deal and other Gulf rulers hailed it an “Arab victory” — even though the official vote was nearly a year away.

To many in soccer, Mr. Infantino’s advocacy for Saudi Arabia was nothing new. In the years since his visit to Rome, he had also pitched the Saudis’ co-hosting idea to Greece; championed multimillion-dollar Saudi investments in soccer; and helped shepherd rules changes that all but assured the kingdom would wind up with the World Cup. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>