<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investors beware: ‘Magnificent Seven’ are starting to resemble ‘Nifty 50’ stocks that got crushed in the 1970s market crash</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="What do the “Magnificent Seven” stocks of today and the “Nifty 50” names of the ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Investors beware: ‘Magnificent Seven’ are starting to resemble ‘Nifty 50’ stocks that got crushed in the 1970s market crash</p>
            <span id="topic" >Business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://images.mktw.net/im-386226/social" alt="">

                <textarea id="text" readonly> What do the “Magnificent Seven” stocks of today and the “Nifty 50” names of the early 1970s have in common? More than you might expect, according to one Wall Street strategist.

Apart from representing extreme levels of concentration in the U.S. stock market, the companies’ earnings multiples appear comparable, Apollo Global Management’s Torsten Slok recently showed. Slok also compared Magnificent Seven multiples to the S&P 500 information-technology sector of the dot-com era and found some similarities there as well.

Master your money. Subscribe to MarketWatch. Get this article and all of MarketWatch. Access from any device. Anywhere. Anytime. Subscribe Now Already a subscriber? Log In

... </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>