<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Israeli-linked oil tanker seized off the coast of Aden, Yemen, intelligence firm says</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="In an undated photo released by Zodiac Maritime, the tanker Central Park is seen">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Israeli-linked oil tanker seized off the coast of Aden, Yemen, intelligence firm says</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://i.abcnewsfe.com/a/2016224e-ce79-439d-9574-ee47c03b0792/wirestory_526842504dc9f6bb7ca6e1d5104f77a3_16x9.jpg?w=992" alt="">

                <textarea id="text" readonly> In an undated photo released by Zodiac Maritime, the tanker Central Park is seen. Attackers seized the tanker linked to Israel off the coast of Aden, Yemen, on Sunday, Nov. 26, 2023, authorities said. While no group immediately claimed responsibility, it comes as at least two other maritime attacks in recent days have been linked to the Israel-Hamas war. (Zodiac Maritime via AP)

In an undated photo released by Zodiac Maritime, the tanker Central Park is seen. Attackers seized the tanker linked to Israel off the coast of Aden, Yemen, on Sunday, Nov. 26, 2023, authorities said. While no group immediately claimed responsibility, it comes as at least two other maritime attacks in recent days have been linked to the Israel-Hamas war. (Zodiac Maritime via AP)

In an undated photo released by Zodiac Maritime, the tanker Central Park is seen. Attackers seized the tanker linked to Israel off the coast of Aden, Yemen, on Sunday, Nov. 26, 2023, authorities said. While no group immediately claimed responsibility, it comes as at least two other maritime attacks in recent days have been linked to the Israel-Hamas war. (Zodiac Maritime via AP)

In an undated photo released by Zodiac Maritime, the tanker Central Park is seen. Attackers seized the tanker linked to Israel off the coast of Aden, Yemen, on Sunday, Nov. 26, 2023, authorities said. While no group immediately claimed responsibility, it comes as at least two other maritime attacks in recent days have been linked to the Israel-Hamas war. (Zodiac Maritime via AP)

DUBAI, United Arab Emirates -- Attackers seized a tanker linked to Israel off the coast of Yemen on Sunday, authorities said. While no group immediately claimed responsibility, it comes as at least two other maritime attacks in recent days have been linked to the Israel-Hamas war.

The attackers seized the Liberian-flagged Central Park, managed by Zodiac Maritime, in the Gulf of Aden, the company and private intelligence firm Ambrey said. An American defense official, speaking on condition of anonymity to discuss intelligence matters, also confirmed to The Associated Press that the attack took place.

Zodiac called the seizure “a suspected piracy incident.”

“Our priority is the safety of our 22 crew onboard,” Zodiac said in a statement. “The Turkish-captained vessel has a multinational crew consisting of a crew of Russian, Vietnamese, Bulgarian, Indian, Georgian and Filipino nationals. The vessel is carrying a full cargo of phosphoric acid.”

Zodiac described the vessel as being owned by Clumvez Shipping Inc., though other records directly linked Zodiac as the owner. London-based Zodiac Maritime is part of Israeli billionaire Eyal Ofer’s Zodiac Group. British corporate records listed two men with the last name Ofer as a current and former director of Clumvez Shipping, including Daniel Guy Ofer, who is also a director at Zodiac Maritime.

It wasn't immediately clear who was behind the attack. Nearby Aden is held by forces allied to Yemen's internationally recognized government and a Saudi-led coalition that has battled Yemen's Iranian-backed Houthi rebels for years. That part of the Gulf of Aden in theory is under the control of those forces and is fairly distant from Houthi-controlled territory in the country. Somali pirates also are not known to operate in that area.

The U.S. defense official said that it appeared “an unknown number of unidentified armed individuals” seized the ship.

“U.S. and coalition forces are in the vicinity and we are closely monitoring the situation," the official said.

Ambrey said that it appeared that “U.S. naval forces are engaged in the situation and have asked vessels to stay clear of the area.”

Zodiac Maritime has been targeted previously amid a wider yearslong shadow war between Iran and Israel. In 2021, a drone attack assessed by the U.S. and other Western nations to have been carried out by Iran killed two crew members aboard Zodiac's oil tanker Mercer Street off the coast of Oman.

The British military’s United Kingdom Maritime Trade Operations, which provides warnings to sailors in the Middle East, had earlier issued a warning to sailors that “two black-and-white craft carrying eight persons in military-style clothing” had been seen in the area. It issued another warning saying that radio traffic suggested a possible attack had occurred before acknowledging the seizure.

The UKMTO put the ship's location over 60 kilometers (35 miles) south of Yemen's coast, some 80 kilometers (50 miles) east of Djibouti and around 110 kilometers (70 miles) northeast of Somalia in the Gulf of Aden, a key shipping route.

The Central Park seizure comes after a container ship, CMA CGM Symi, owned by another Israeli billionaire came under attack Friday by a suspected Iranian drone in the Indian Ocean. Iran has not acknowledged carrying out the attack, nor did it respond to questions from the AP about that assault.

Both the Symi and the Central Park had been behaving as if they faced a threat in recent days.

The ships had switched off their Automatic Identification System trackers, according to data from MarineTraffic.com analyzed by the AP. Ships are supposed to keep their AIS active for safety reasons, but crews will turn them off if it appears they might be targeted. In the Central Park's case, the vessel had last transmitted four days ago after it left the Suez Canal heading south into the Red Sea.

The attacks come as global shipping increasingly finds itself targeted in the weekslong war that threatens to become a wider regional conflict — even as a truce has halted fighting and Hamas exchanges hostages for Palestinian prisoners held by Israel.

With the Israel-Hamas war — which began with the militant Palestinian group's Oct. 7 attack — raging on, the Houthis seized a vehicle transport ship in the Red Sea off Yemen. The Houthis did not immediately acknowledge the seizure of the Central Park. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>