<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Israeli raids fuel West Bank tensions while Gaza conflict rages</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The Israeli army has intensified its operations in the West Bank and east Jerusa">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Israeli raids fuel West Bank tensions while Gaza conflict rages</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://images.jpost.com/image/upload/f_auto,fl_lossy/c_fill,g_faces:center,h_407,w_690/565678" alt="">

                <textarea id="text" readonly> The Israeli army has intensified its operations in the West Bank and east Jerusalem, ramping up its raids across the Palestinian territories.

For more stories from The Media Line go to themedialine.org

There have been Israeli military incursions in Jenin and Nablus, the latter of which has seen armed clashes in the Balata refugee camp between Israeli forces and armed Palestinians; raids are also taking place in Ramallah, Bethlehem, and Hebron.

Since Oct. 7, the figures paint a grim picture: At least 220 Palestinians have been killed and more than 2,500 wounded. A staggering 2,800 individuals have been detained by the Israeli army, according to the Palestinian Prisoners' Club advocacy group.

This number of Palestinians killed is higher than the Palestinian Health Ministry's toll of 208 killed in the first nine months of the year up to the start of the war.

The Israeli army has made Palestinian refugee camps in the West Bank the focus of its incursions. These camps are considered armed Palestinian hotspots that host fighters from Hamas, their ally Islamic Jihad, and the Fatah party, which leads the Palestinian Authority (PA) in the West Bank. Israeli troops take position as they raid the house of a Palestinian who is believed to be a terrorist, in Hebron in the West Bank November 16, 2023 (credit: MUSSA QAWASMA/REUTERS)

The Israeli incursion into the Jenin refugee camp last week was the deadliest Israeli raid in the West Bank since at least 2005, according to United Nations data. The Palestinian Health Ministry announced that 14 people were killed in this raid alone.

Jenin is one of 19 refugee camps scattered across the West Bank, set up in the aftermath of the creation of Israel in 1948 to house Palestinians fleeing what they call the Nakba, or catastrophe. Advertisement

“Israeli army raids on the camps are focused on the armed groups, [especially] in the Jenin camp. The second thing [is], there is fear by the Israeli army that what happened on Oct. 7 may happen in the occupied West Bank even if in [a] different [form],” Ramallah-based political analyst Jihad Harb told The Media Line.

PA says IDF raids make them unable to perform their duties

PA officials say these raids have weakened them and made them unable to perform their duties. The PA, which has limited administrative control over a small part of the West Bank, is seen by many as a subcontractor for the Israeli occupation.

The entire territory—home to 2.5 million Palestinians and about 500,000 Israeli Jewish settlers—feels like it is on the verge of an explosion.

“There is a systematic weakening of the PA by Israel. Israel has worked tirelessly to undermine the PA's ability to manage … Palestinian affairs. In terms of financial services, for example, because Israel is cutting its money. …Israel enters the areas under PA security control where Palestinians say there is no security, there is no protection for the citizens, making the PA look bad,” added Harb.

Israeli journalist-turned-political-analyst Eli Nissan told The Media Line that the army "cannot stand idly by while attacks are being planned.”

“The army operates under intelligence instructions. When the army receives information that there are plans by Palestinian factions, that they are planning to carry out operations inspired by Hamas or others, the army assumes its responsibilities and stops these attacks,” said Nissan.

Regarding the large number of arrests the Israeli army has made since Oct. 7, Nissan explains that Israel is trying to keep the West Bank from exploding out of control.

“The … arrests [are] made up of Hamas activists. Currently, Hamas in Gaza is in a difficult situation, and therefore [Hamas] has been trying to ignite matters in Jerusalem and the West Bank for years. Nearly a thousand of the detainees are members of the Hamas movement,” said Nissan.

Settler attacks in West Bank increase

Palestinians also have to contend with increased settler attacks, which are becoming more aggressively emboldened by National Security Minister Itamar Ben-Gvir calling to arm them. Palestinians accuse the Israeli army of protecting the settlers.

US Secretary of State Antony Blinken called on Israel to take “urgent” action to stop settler violence against Palestinians in the West Bank.

Blinken, in San Francisco for an Asia-Pacific summit, made the plea in a telephone call with Benny Gantz, an opposition leader who joined Israeli Prime Minister Benjamin Netanyahu's wartime cabinet.

Blinken “stressed the urgent need for affirmative steps to de-escalate tensions in the West Bank, including by confronting rising levels of settler extremist violence,” State Department Spokesman Matthew Miller said.

Palestinians in the West Bank say they have faced increased harassment from Israeli settlers since the war began.According to the UN's humanitarian agency OCHA, since the start of Israel's war on Gaza on Oct. 7, it has recorded an average of more than six incidents per day between settlers and Palestinians—everything from livestock theft to direct physical violence.

The prewar average was three a day. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>