<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Israeli military confirms 13 Israelis, four foreign nationals have been released by Hamas</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="About casualty figures from Gaza’s Hamas-run health ministry:

Al Shifa Hospital">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Israeli military confirms 13 Israelis, four foreign nationals have been released by Hamas</p>
            <span id="topic" >gaza</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://s.france24.com/media/display/c1a7b41c-8bb8-11ee-ae1f-005056a90284/w:1280/p:16x9/AP23329572846094.jpg" alt="">

                <textarea id="text" readonly> About casualty figures from Gaza’s Hamas-run health ministry:

Al Shifa Hospital in Gaza City, the largest in the enclave, receives data from every hospital in the strip. Hospital administrators say they keep records of every wounded person occupying a bed and every body arriving at a morgue. The ministry also collects from other sources including the Palestinian Red Crescent.

The health ministry does not report how Palestinians were killed, whether from Israeli airstrikes and artillery barrages or errant Palestinian rocket fire. It describes all casualties as victims of “Israeli aggression”. The ministry also does not distinguish between civilians and combatants.

Throughout four wars and numerous skirmishes between Israel and Hamas, UN agencies have cited the Hamas-run health ministry’s death tolls in regular reports. The International Committee of the Red Cross and Palestinian Red Crescent also use the numbers.

In the aftermath of war, the UN humanitarian office has published final death tolls based on its own research into medical records. The UN's counts have largely been consistent with the Gaza health ministry’s, with small discrepancies.

For more on the Gaza health ministry’s tolls, click here.

(FRANCE 24 with AP) </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>