<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Israel battles Hamas near another Gaza hospital sheltering thousands</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="DEIR AL-BALAH, Gaza Strip (AP) — Israeli forces pressed their offensive against ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Israel battles Hamas near another Gaza hospital sheltering thousands</p>
            <span id="topic" >hamas</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://dims.apnews.com/dims4/default/8175fe5/2147483647/strip/true/crop/5676x3193+0+297/resize/1440x810!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2Fe1%2F3c%2Fda1e8afcc1e2b713c4783044f066%2F290567126fc44861bd412dc562d1d83e" alt="">

                <textarea id="text" readonly> DEIR AL-BALAH, Gaza Strip (AP) — Israeli forces pressed their offensive against Hamas in northern Gaza on Monday, battling militants around a hospital where thousands of patients and displaced people have been sheltering for weeks, and where despite the fighting health officials managed to evacuate some of the wounded.

A medical worker inside the facility and the Health Ministry in Hamas-run Gaza said a shell struck the second floor of the Indonesian Hospital, killing 12 people. Both blamed Israel, which denied shelling the hospital, saying its troops returned fire on militants who targeted them from inside the 3.5-acre (1.4 hectare) compound.

The Israeli offensive came as 28 premature babies evacuated from Gaza City’s Shifa Hospital by the World Health Organization were transported to Egypt on Monday. Three others were transferred to an Emirati-run hospital in Rafah in southern Gaza, the Red Crescent said. More than 250 critically ill or wounded patients remain stranded at the Shifa compound, which Israeli forces stormed days ago.

Gaza’s hospitals play a prominent role in the battle of narratives over the war’s brutal toll on Palestinian civilians, thousands of whom have been killed or buried in rubble since the conflict was sparked by Hamas’ Oct. 7 rampage into southern Israel. In the wake of the assault, Israeli leaders vowed to eradicate Hamas, destroy its ability to rule Gaza and uproot its militant infrastructure.

Israel says Hamas uses civilians as human shields and that the militants operated a major command hub inside and under Shifa, a claim hospital officials and Hamas deny. Critics say Israel’s siege and relentless bombardment amount to collective punishment of the territory’s 2.3 million Palestinians.

Israeli troops were battling Hamas fighters in the Jabaliya refugee camp, a densely built-up district on Gaza City’s northeastern side that has been heavily hit by bombardment for weeks. The military said that after moving through the center of the city to Shifa, its forces were now working to uproot Hamas fighters from eastern areas.

Dozens of dead and wounded in airstrikes and shelling overnight flowed into Indonesian Hospital, near Jabaliya, said Marwan Abdallah, the medical worker there. He said Israeli tanks were operating less than 200 meters (yards) away and Israeli snipers could be seen on the roofs of nearby buildings. As he spoke on the phone, the sound of gunfire could be heard in the background.

Hamas’ Health Ministry spokesperson, Ashraf al-Qidra, said roughly 200 wounded patients and their companions were evacuated from the hospital to southern Gaza in a rescue effort coordinated by the U.N. and the International Committee for the Red Cross. Many of the evacuees were being treated at al-Nasser hospital in the southern town of Khan Younis, he said.

Between 400 and 500 wounded remain at Indonesia Hospital, Ashraf told Al-Jazeera. Some 2,000 displaced Palestinians also are sheltering there.

In a separate development that could relieve some of the pressure on Gaza’s collapsing health system, dozens of trucks entered from Egypt on Monday with equipment from Jordan to set up a field hospital. Jordan’s state-run media said the hospital in Khan Younis would be up and running within 48 hours.

CLAIMS ABOUT SHIFA

More than 250 patients with severely infected wounds and other urgent conditions remain in Shifa. The complex can no longer provide most of the wounded there treatment after it ran out of water, medical supplies and fuel for emergency generators.

Israeli forces battled Palestinian militants outside its gates for days before entering the facility on Wednesday.

Israel’s army said it has evidence that Hamas maintained a sprawling command post inside and under the hospital’s 20-acre (8-hectare) complex, which includes several buildings.

On Sunday, the military released a video showing what it said was a tunnel discovered at the hospital, 55 meters (60 yards) long and about 10 meters (33 feet) below ground. It said the tunnel ended at a blast-proof door with a hole in it for gunmen to fire out of. Troops have not opened the door yet, it said.

Israeli forces also released security camera video showing what they said were two foreign hostages, one Thai and one Nepalese, who were captured by Hamas in the Oct. 7 attack and taken to the hospital. Hamas said its fighters brought them in for medical care.

The army also said an investigation had determined that Israeli army Cpl. Noa Marciano, another captive whose body was recovered in Gaza, had been wounded in an Israeli strike on Nov. 9 that killed her captor, but was then killed by a Hamas militant in Shifa.

The military has previously released images of several guns it said were found inside an MRI lab and said that the bodies of two hostages were found near the complex.

The Associated Press was not able to independently confirm the military’s findings.

THREE IN FOUR PEOPLE DISPLACED

Israel has repeatedly ordered Palestinians to leave northern Gaza and seek refuge in the south, which has also been under aerial bombardment. Some 1.7 million people, nearly three quarters of Gaza’s population, have been displaced, with 900,000 packing into crowded U.N.-run shelters, according to the U.N.

Strikes in the Nuseirat and Bureij refugee camps Monday killed at least 40 people, according to hospital officials, and residents said dozens more were buried in the rubble. Bundled against a chilly wind from Gaza’s approaching winter, a line of men prayed over more than a dozen bodies on the grounds of the nearby morgue in Deir al-Balah before loading them onto a truck.

More than 12,700 Palestinians have been killed in Gaza, according to the Palestinian Health Ministry in the West Bank, which coordinates with officials in the Health Ministry of Hamas-run Gaza. Officials there say another 4,000 are missing. Their counts do not differentiate between civilians and combatants. Israel says it has killed thousands of militants.

Violence also has surged in the Israeli-occupied West Bank, where attacks by Jewish settlers are on the rise and where more than 200 Palestinians have been killed since the start of the war, mostly in gunbattles triggered by Israeli military raids.

About 1,200 people have been killed on the Israeli side, mainly civilians during the Oct. 7 attack, in which Hamas dragged some 240 captives back into Gaza. The military says 66 Israeli soldiers have been killed in Gaza ground operations.

Hamas has released four hostages, Israel has rescued one, and the bodies of two were found near Shifa.

Israel, the United States and Qatar, which mediates with Hamas, have been negotiating a hostage release for weeks. Israel’s three-member war Cabinet met with representatives of the hostages’ families Monday evening, and a relative of a hostage said the officials, including Prime Minister Benjamin Netanyahu, told families the government will not prioritize the hostages’ release to defeating Hamas.

“What we’ve heard is that taking down Hamas and bringing the hostages are ... equally important,” said Udi Goren, whose cousin Tal Chaimi is in captivity in Gaza. “This is incredibly disappointing because ... we know that taking down Hamas, we keep hearing from them (it) is going to take months or years and it’s going to take a long time.”

Goren said the war cabinet did not share details about any possible deal to release the hostages.

___

Magdy and Jeffery reported from Cairo. Associated Press writers Najib Jobain in Khan Younis, Tia Goldenberg in Tel Aviv, Israel and Melanie Lidman and Nebi Qena in Jerusalem contributed.

___

Full AP coverage at https://apnews.com/hub/israel-hamas-war. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>