<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Israel's use of 'really big' bombs to strike tiny Gaza Strip might only compare to Vietnam or World War II, military analyst says</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Most of the bombs Israel is using in Gaza are exceptionally big, weighing 1,000 ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Israel's use of 'really big' bombs to strike tiny Gaza Strip might only compare to Vietnam or World War II, military analyst says</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://i.insider.com/65633028c58b6f84123a0d0e?width=1200&format=jpeg" alt="">

                <textarea id="text" readonly> Most of the bombs Israel is using in Gaza are exceptionally big, weighing 1,000 to 2,000 pounds.

The use of such large bombs on such a small area might only compare to Vietnam or World War II, an analyst said.

The size and scale of the bombing is raising the civilian death toll, analysts told The New York Times.

NEW LOOK Sign up to get the inside scoop on today’s biggest stories in markets, tech, and business — delivered daily. Read preview Loading Something is loading. Thanks for signing up! Access your favorite topics in a personalized feed while you're on the go. download the app Email address Sign up By clicking “Sign Up”, you accept our Terms of Service and Privacy Policy . You can opt-out at any time.

Advertisement

Israel's nearly seven-week-long aerial bombardment of Gaza has killed around 12,000 people and flattened large swathes of the small but densely populated strip.

Analysts say that the scale of destruction is partly due to the scope of Israel's bombing campaign but also due to the size of its bombs.

"It's beyond anything that I've seen in my career," Marc Garlasco, a military advisor for the Dutch organization PAX and a former senior intelligence analyst at the Pentagon, told The New York Times.

He said that to find a historical comparison for so many large bombs being used on such a small area, we may "have to go back to Vietnam, or the Second World War."

Advertisement

Around 90% of the munitions Israel dropped in Gaza in the first two weeks of the war were 1,000 to 2,000-pound satellite-guided bombs, a senior US military official told The Times.

Garlasco noted that these bombs are "really big" and are being used on a large scale despite Israel also having thousands of smaller bombs from the United States that are designed to minimize damage.

By comparison, US military officials felt that the 500-pound aerial bomb was too large to use on most Islamic State targets in urban parts of Mosul, Iraq, and Raqqa, Syria.

The Gaza Strip is just 141 square miles with a population of around two million people, making it one of the most densely populated places in the world.

Advertisement

Israel's military says that Hamas fighters live among civilians in Gaza and that they use a complex network of tunnels under the city to shelter and transport weapons, making it a unique battlefield.

The Israel Defense Forces spokesperson Jonathan Conricus said that Hamas' strategy of embedding itself in Gaza is "the main reason why there are civilian casualties."

The large bombs being used in Gaza are suited to striking underground infrastructure like tunnels, Brian Castner, a weapons investigator for Amnesty International and a former explosive ordnance disposal officer in the US Air Force, told The Times.

While international laws of war do not prohibit the killing of civilians, they do say that militaries do not indiscriminately bomb civilian areas and should minimize the harm.

Advertisement

Israel's aerial campaign appears to be moving too quickly to reduce harm to civilians, Castner said.

The US has killed thousands of civilians in aerial bombardments in recent years but tries to minimize harm by spending time observing and assessing whether civilians are inside a building, per The Times.

That kind of care "is literally not possible for the Israelis to do if they're doing this many strikes in as much time," Castner said.

"They are using extremely large weapons in extremely densely populated areas," Castner said. "It is the worst possible combination of factors." </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>