<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Israel pushes deeper into Gaza and frees Hamas captive; Netanyahu rejects calls for cease-fire</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="KHAN YOUNIS, Gaza Strip (AP) — Israeli ground forces pushed deeper into Gaza on ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Israel pushes deeper into Gaza and frees Hamas captive; Netanyahu rejects calls for cease-fire</p>
            <span id="topic" >hamas</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://dims.apnews.com/dims4/default/987d503/2147483647/strip/true/crop/5688x3200+0+296/resize/1440x810!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F90%2F76%2Fdab1c63dff160e68ab0058a718af%2F0fb049d6667e497f8d8a205460b2e8c0" alt="">

                <textarea id="text" readonly> KHAN YOUNIS, Gaza Strip (AP) — Israeli ground forces pushed deeper into Gaza on Monday, advancing in tanks and other armored vehicles on the territory’s main city and freeing a soldier held captive by Hamas militants. The Israeli prime minister rejected calls for a cease-fire as airstrikes landed near hospitals where thousands of Palestinians are sheltering beside the wounded.

The military said a soldier captured during Hamas’ brutal Oct. 7 incursion was rescued in Gaza — the first rescue since the weekslong war began. Military officials provided few details but said in a statement that Pvt. Ori Megidish, 19, was “doing well” and had met with her family.

Prime Minister Benjamin Netanyahu welcomed her home, saying the “achievement” by Israel’s security forces “illustrates our commitment to free all the hostages.”

He also rejected calls for a cease-fire to facilitate the release of captives or end the war, which he has said will be long and difficult. “Calls for a cease-fire are calls for Israel to surrender to Hamas,” he told a news conference. “That will not happen.”

Netanyahu, who faces mounting anger over Israel’s failure to prevent the worst surprise attack on the country in a half century, also said he had no plans to resign.

Hamas and other militant groups are believed to be holding some 240 captives, including men, women and children. Netanyahu has faced increasing pressure to secure their release even as Israel acts to crush Hamas and end its 16-year rule over the territory.

Hamas, which has released four hostages, has said it would let the others go in return for thousands of Palestinian prisoners held by Israel, including many implicated in deadly attacks on Israelis. Israel has dismissed the offer, and Netanyahu said the ground invasion “creates the possibility” of getting the hostages out, adding that Hamas will “only do it under pressure.”

Hamas released a short video Monday purporting to show three other female captives. One delivers a brief statement — likely under duress — criticizing Israel’s response to the hostage crisis.

It was not clear when the Hamas video was made. The Associated Press usually refrains from reporting details of hostage videos because they show individuals speaking under duress and are often used for propaganda purposes.

Amos Aloni, whose daughter Danielle appeared in the video, told reporters that he and his wife were shocked to see her on TV but felt “relief from her being alive and seeing her.”

The U.S. is providing weapons shipments on an almost daily basis to Israel, Pentagon deputy press secretary Sabrina Singh told reporters.

Despite the rising number of civilian casualties, “we are not putting any limits on how Israel uses weapons,” Singh said. “That is really up to the Israeli Defense Force.”

The Israeli military has been vague about its operations inside Gaza, including the location and number of troops. Israel has declared a new “phase” in the war but stopped short of declaring an all-out ground invasion.

Larger ground operations have been launched both north and east of Gaza City. Israel says many of Hamas’ forces and much of its militant infrastructure, including hundreds of kilometers (miles) of tunnels, are in Gaza City, which before the war was home to over 650,000 people, a population comparable to that of Washington, D.C.

Though Israel ordered Palestinians to leave the north, where Gaza City is located, and move south, hundreds of thousands remain, in part because Israel has also bombarded targets in so-called safe zones. Around 117,000 displaced people hoping for safety are staying in hospitals in northern Gaza, alongside thousands of patients and staff, according to U.N. figures.

The U.N. agency for Palestinian refugees, known as UNRWA, says nearly 672,000 Palestinians are sheltering in its schools and other facilities, which have reached four times their capacity.

UNRWA head Philippe Lazzarini accused Israel of “collective punishment” of the Palestinians, and of forcing their displacement from northern Gaza to the south, where they are still not safe.

The death toll among Palestinians passed 8,300, mostly women and children, the Gaza Health Ministry said Monday. The figure is without precedent in decades of Israeli-Palestinian violence. More than 1.4 million people in Gaza have fled their homes.

Over 1,400 people have died on the Israeli side, mainly civilians killed during Hamas’ initial attack, also an unprecedented figure.

Lazzarini said 64 of the agency’s staff were killed in the past three weeks, the latest just hours before he addressed an emergency U.N. Security Council meeting, when an agency security official was killed with his wife and eight children.

Most Palestinians in Gaza “feel trapped in a war they have nothing to do with,” he said.

Video circulating on social media showed an Israeli tank and bulldozer in central Gaza blocking the territory’s main north-south highway.

The video, taken by a local journalist, shows a car approaching an earth barrier across the road. The car stops and turns around. As it heads away, a tank appears to open fire, and an explosion engulfs the car. The journalist, in another car, races away in terror, screaming, “Go back! Go back!” at approaching vehicles.

The Gaza Health Ministry later said three people were killed in the car that was hit.

Rear Adm. Daniel Hagari, an Israeli military spokesman, declined to comment on where Israeli forces are deployed, but said additional forces had entered Gaza and operations would continue to “expand and intensify.”

The military said troops have killed dozens of militants who attacked from inside buildings and tunnels. It said that in the last few days, it had struck more than 600 militant targets, including weapons depots and anti-tank missile launching positions. Palestinian militants have continued firing rockets into Israel, including toward its commercial hub, Tel Aviv.

Hamas said its fighters clashed with Israeli troops who entered from the northwest. It was not possible to independently confirm battlefield claims made by either side.

Meanwhile, crowded hospitals in northern Gaza came under growing threat.

Gaza’s Health Ministry shared video footage that appeared to show an explosion and a column of smoke near the Turkish-Palestinian Friendship Hospital for cancer patients. The hospital director, Dr. Sobhi Skaik, said it had sustained damage in a strike that endangered patients.

All 10 hospitals operating in northern Gaza have received evacuation orders, the U.N.’s office for the coordination of humanitarian affairs said. Staff have refused to leave, saying evacuation would mean death for patients on ventilators.

Strikes hit within 50 meters (yards) of Al Quds Hospital after it received two calls from Israeli authorities on Sunday ordering it to evacuate, the Palestinian Red Crescent rescue service said. Some windows were blown out, and rooms were covered in debris. It said 14,000 people are sheltering there.

Israel says it targets Hamas fighters and infrastructure and that the militants operate among civilians, putting them in danger.

Beyond the fighting, conditions for civilians in Gaza are continually deteriorating.

With no central power for weeks and little fuel, hospitals are struggling to keep emergency generators running to operate incubators and other life-saving equipment. UNRWA has been trying to keep water pumps and bakeries running.

On Sunday, the largest convoy of humanitarian aid yet — 33 trucks — entered the territory from Egypt, and another 26 entered Monday. Relief workers say the amount is still far less than what is needed for the population of 2.3 million people.

The fighting has raised concerns that the violence could spread across the region. Israel and the Lebanese militant group Hezbollah have engaged in daily skirmishes along Israel’s northern border.

In the occupied West Bank, Israel carried out airstrikes Monday against militants clashing with its forces in the Jenin refugee camp. Hamas said four of its fighters were killed there. As of Sunday, Israeli forces and settlers have killed 123 Palestinians, including 33 minors, in the West Bank, half of them during search-and-arrest operations, the U.N. said.

___

Magdy reported from Cairo. Keath reported from Athens, Greece. Associated Press writers Josef Federman, Julia Frankel and Amy Teibel in Jerusalem, and Jack Jeffery in Cairo contributed to this report.

___

Full AP coverage: https://apnews.com/hub/israel-hamas-war. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>