<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jada Pinkett Smith Confirms Future of Her & Will Smith's Marriage</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Watch : Will Smith Talks "Tumultuous" Jada Pinkett Smith Union

Jada Pinkett Smi">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Jada Pinkett Smith Confirms Future of Her & Will Smith's Marriage</p>
            <span id="topic" >Entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://akns-images.eonline.com/eol_images/Entire_Site/2023916/cr_1200x1200-231016133219-GettyImages-1384922997.jpg?fit=around%7C1080:1080&output-quality=90&crop=1080:1080;center,top" alt="">

                <textarea id="text" readonly> Watch : Will Smith Talks "Tumultuous" Jada Pinkett Smith Union

Jada Pinkett Smith and Will Smith are in it for the long haul.

The Red Table Talk host, who revealed last month she and the Independence Day star have been separated since 2016, has officially put an end to any speculation about where their marriage stands going forward.

"We're staying together forever," Jada confirmed in a preview of her Nov. 28 appearance on the Drew Barrymore Show, via Entertainment Weekly, adding of her and Will's separation, "I tried. We tried."

Jada—whose tell-all memoir, Worthy, delves into the ups and downs of her marriage with Will—admitted she considered filing for divorce but ultimately decided against it.

"I made a promise that there will never be a reason for us to get a divorce," she said in the Oct. 13 NBC News Special, Jada's Story. "We will work through whatever, and I just haven't been able to break that promise."

As for why the Girls Trip star, who had previously spoken about her and Will's marital difficulties on her former Facebook Watch show, waited until now to reveal details about their separation? Well, it all comes down to them not being ready yet. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>