<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jean Knight, soul and funk singer who had hit with Mr Big Stuff, dies aged 80</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Jean Knight, whose irrepressibly funky and disdainful song Mr Big Stuff was a ma">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Jean Knight, soul and funk singer who had hit with Mr Big Stuff, dies aged 80</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://i.guim.co.uk/img/media/2c256fb3aa074724a3518c841c36ed42c45949bd/0_17_2423_1453/master/2423.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctZGVmYXVsdC5wbmc&enable=upscale&s=eb1eaf3f987918a6a2b1f6ca574ad345" alt="">

                <textarea id="text" readonly> Jean Knight, whose irrepressibly funky and disdainful song Mr Big Stuff was a major hit in 1971, has died aged 80. Her publicist confirmed she died from natural causes, with her friend Bernie Cyrus, executive director of the Louisiana Music Commission, also confirming the news to Rolling Stone.

Knight was born Jean Caliste in New Orleans in 1943, and cut her first demo recording in 1965, a cover of Jackie Wilson’s Stop Doggin’ Me Around. She recorded a series of singles but her popularity initially didn’t reach further than her local area, and she offset music with work as a baker. But sessions with producer Wardell Quezergue in 1970 yielded Mr Big Stuff, which turned around her fortunes.

With Knight audibly unimpressed by a flashy lothario’s car and clothes, upbraiding him for his casual cruelty against other women, Mr Big Stuff remains a gloriously spiky gem of the early 70s soul and funk scene – although it was initially refused by a number of labels. It was only after the success of Groove Me, a hit for King Floyd recorded the same day in the same studio as Mr Big Stuff, that Stax Records remembered Knight. Mr Big Stuff topped the US R&B chart and crossed over into the main pop chart, reaching No 2 (kept off No 1 by How Can You Mend a Broken Heart by the Bee Gees). It went double platinum and was nominated for best female R&B vocal performance at the 1972 Grammy awards.

Disputes between Quezergue and Stax meant she was dropped the following year, and never matched the success of Mr Big Stuff. But she continued to record and release music until 1999, and had a minor hit in 1985 with My Toot Toot reaching No 50 in the US charts.

The popularity of Mr Big Stuff endured thanks to various soundtrack and advertising syncs; it became a reggae standard with the title Sister Big Stuff, and was sampled by artists including John Legend and Eazy-E. In 2002 she said of the song’s royalties: “Mr Big Stuff is better to me now than 31 years ago. All I have to do is sit at home and wait for the mailman.” Her song Do Me has latterly become popular on streaming services, helped by an appearance in the soundtrack to Superbad. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>