<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JetBlue and Southwest's Cyber Monday Sale Has Major Flight Discounts, Perks for Status Members, and More</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The Cyber Monday deals have officially rolled in — and travelers can now jump on">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>JetBlue and Southwest's Cyber Monday Sale Has Major Flight Discounts, Perks for Status Members, and More</p>
            <span id="topic" >Cyber Monday</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.travelandleisure.com/thmb/gAU0E_P3IyHEWHbblCJeo1q5nTA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/TAL-jetblue-mosaic-JETBLUELOYAL0923-97fb0ab6b2674b3990e253d97d27bd1c.jpg" alt="">

                <textarea id="text" readonly> The Cyber Monday deals have officially rolled in — and travelers can now jump on these limited-time JetBlue and Southwest airfare sales.

“Switching into Vacation Mode is a breeze with great deals on flights and vacation packages,” JetBlue wrote on X about its sale.

JetBlue flights are on sale for as low as $59 one-way, valid for travel on Tuesdays and Wednesdays between Jan. 9 and March 27, 2024. A sampling of routes on sale includes New York-LaGuardia to Tampa, Fort Lauderdale to Charleston, and more — but these flights must be booked by Nov. 29.

And exclusively for Cyber Monday, JetBlue Mosaic travelers can enjoy an additional 3x points on JetBlue-operated flights through next October. This means current elite status holders can enjoy up to 12x points on all eligible JetBlue flights if booked by the end of the day today.

Southwest flyers can save 30% off one-way or round-trip flights sitewide with promo code CYBER30. This discount can be applied on most Southwest flights in the contiguous U.S. from Jan. 9 and March 6, 2024, as well as the carrier’s flights to Hawaii, Puerto Rico, and international destinations between Jan. 9 and May 22, 2024.

While there are no blackout dates for flights within the contiguous U.S., blackout dates apply for flights from the contiguous U.S. to Hawaii, Puerto Rico, and international destinations from Jan. 11 through Jan. 13, Feb. 15 through Feb. 18, and March 7 through March 31. Returning to the U.S. from these destinations, additional blackout dates apply from Jan. 15 through Jan. 16, Feb. 23 through Feb. 27, and March 14 through April 7.

Southwest’s Cyber Monday sale ends on November 30. The sale fares are valid for Southwest’s base-level Wanna Get Away and Wanna Get Away Plus fares, which allow for free same-day standby and free same-day confirmed changes, respectively. As always, two checked bags fly free for all Southwest flyers.

Travelers looking to take advantage of these Cyber Monday sales can browse Travel + Leisure's best places to travel in 2024, which include Aspen, Colo., Los Cabos, Mexico, and other top winter and spring destinations. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>