<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Travolta Shares Sweet Tribute to Son Benjamin for 13th Birthday</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Watch : John Travolta Remembers Late Wife Kelly Preston

You may get chills seei">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>John Travolta Shares Sweet Tribute to Son Benjamin for 13th Birthday</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://akns-images.eonline.com/eol_images/Entire_Site/20231025/rs_1200x1200-231125150904-1200-john-travolta-kelly-preston-benjamin-throwback-instagram-cjh-2022-112523.jpg?fit=around%7C1080:1080&output-quality=90&crop=1080:1080;center,top" alt="">

                <textarea id="text" readonly> Watch : John Travolta Remembers Late Wife Kelly Preston

You may get chills seeing John Travolta's heartwarming birthday tribute to his and late wife Kelly Preston's youngest child, who just became a teenager.

On Nov. 23, Thanksgiving Day, Benjamin Travolta turned 13 and received sweet messages from his family on Instagram.

"I can't believe my baby boy is now a teenager," John wrote, alongside a montage of photos and videos of the boy, set to Stevie Wonder's "You Are the Sunshine of My Life. "Ben turns 13 today. I love you my son!"

John and Kelly's daughter Ella Bleu Travolta, 23, also posted a tribute to her little brother on her own Instagram page. "Happy Birthday my sweetest Benjamin," she wrote alongside a childhood pic of the now-teen, "it feels like yesterday you were this young and now you're 13!! I love you!"

In addition to Benjamin, John and Kelly also raised son Jett Travolta, who died in 2009 at age 16 after suffering a seizure during a family vacation. His mom passed away in 2020 at age 57 following a two-year breast cancer battle. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>