<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K Will Reichard on his tackle vs. Auburn: 'I play with some fire at times'</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Will Reichard doesn't have many opportunities to make tackles. But when he did a">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>K Will Reichard on his tackle vs. Auburn: 'I play with some fire at times'</p>
            <span id="topic" >Alabama vs Auburn</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://www.tuscaloosanews.com/gcdn/presto/2022/09/17/NTTN/8331f70b-c8fb-4095-9539-779479dd23fb-TUS_ULMBamaGC1282.jpg?crop=3099,1744,x0,y314&width=3099&height=1744&format=pjpg&auto=webp" alt="">

                <textarea id="text" readonly> Will Reichard doesn't have many opportunities to make tackles. But when he did against Auburn in the 2022 Iron Bowl, he didn't miss.

During a kickoff, the Alabama football kicker went down the field and tackled Jarquez Hunter at Bryant-Denny Stadium last November. Reichard took him down just past the 30-yard-line.

Then Reichard stood up and stood over Hunter for a moment.

"The reaction kind of blew up a little bit," Reichard said. "It was in the moment. I play with some fire at times. My emotion kind of came out a little bit. Definitely a fun play."

Reichard has had no shortage of success during his time at Alabama. He's the all-time points leader for the program with 426. But he didn't yet have a tackle to his name. That changed against Auburn.

"I got a little bit lucky," Reichard said. "If he runs through that hole 10 times, I probably would only beat him one out of 10."

QUARTERBACK INTEL:Insights, intel on Alabama football quarterbacks and more through two weeks of fall camp

RECEIVER DROPS:What Alabama football receivers are doing to minimize drops in 2023

Reichard said tackles are practiced on occasions for the kickers, but he doesn't expect to be put in that position all that much. He said it was fun, though.

"It's not a huge emphasis just because we have so many good players running down on coverage for us," Reichard said.

But if or when a returner slips through the cracks, Reichard won't hesitate to stop him.

Nick Kelly covers Alabama football and men's basketball for The Tuscaloosa News/USA TODAY Network. Reach him via email: nkelly@gannett.com. Follow him on Twitter: @_NickKelly. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>