<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kartika Purnima and its importance in Odisha: Here's a sneak peek</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The day of Kartika Purnima is regarded as the most auspicious day and is observe">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Kartika Purnima and its importance in Odisha: Here's a sneak peek</p>
            <span id="topic" >Gurpurab</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://images.odishatv.in/uploadimage/library/16_9/16_9_0/recent_photo_1701018987.webp" alt="">

                <textarea id="text" readonly> The day of Kartika Purnima is regarded as the most auspicious day and is observed differently in different parts of the state. It is celebrated 15 days after Diwali. While the Jain people observe this day as the ‘Jain Festival of Light’, the Sikhs celebrate the day as Guru Nanak Jayanti or Gurpurab.

Similarly, the Hindus celebrate the day as the birthday of Lord Kartikeya, the eldest son of Lord Shiva. In Varanasi, Uttar Pradesh, the day is observed as Dev Diwali, also known as Dev Deepawali, Tripura Purnima and Tripurari Purnima.

And in Odisha, people celebrate the day as ‘Boita Bandana Utsav’. They get up early in the morning, have a bath and march towards a nearby pond or river carrying miniature boats made of banana stems and thermocol. Before floating their boats, they decorate their boats with flowers, and place betel leaves, areca nuts, small pieces of fabric and earthen lamps on them. The festival reminds Odisha’s rich maritime history.

While sailing the boats, people recite ‘Aa-Ka-Ma-Bai, Pana Gua Thoi, Pana Gua Tora, Maasaka Dharma Mora’. Aa-Ka-Ma-Bai of the recitation denotes to four months- Aasadha, Kartika, Margasira and Baisakha. The first period from Aasadha to Kartika was the season of the outward journey and the period between Margasira and Baisakha was the inward journey of the traders of Odisha (Sadhaba Puas).

In ancient times, they used to voyage on boats to foreign lands like Java, Sumatra and Bali and return with wealth. In memory of those days, people across Odisha float miniature boats in water bodies on the day of Kartika Purnima. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>