<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legendary short-seller Jim Chanos slams Elon Musk supporters as news emerges that the Tesla bear will shut down his funds</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Legendary short-seller Jim Chanos. David Orrell/CNBC/NBCU Photo Bank/NBCUniversa">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Legendary short-seller Jim Chanos slams Elon Musk supporters as news emerges that the Tesla bear will shut down his funds</p>
            <span id="topic" >Elon Musk</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://s.yimg.com/ny/api/res/1.2/gccwr2zrAaXKYbJY4J6nNA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD05MDA-/https://media.zenfs.com/en/business_insider_articles_888/74fa041db450903defe951a96814a7a5" alt="">

                <textarea id="text" readonly> Legendary short-seller Jim Chanos. David Orrell/CNBC/NBCU Photo Bank/NBCUniversal/Getty Images

Jim Chanos tore into Elon Musk's supporters Sunday in an expletive-laden post on X.

"If you are a cult member who believes rockets exploding are a 'success'... please sit down and STFU," the legendary short-seller said.

The Wall Street Journal reported Friday that Chanos would be shutting down his hedge funds.

Jim Chanos appeared to rip into supporters of Elon Musk in an expletive-laden rant Sunday, just days after the Wall Street Journal reported the legendary short-seller and longtime Tesla bear would be closing down his funds.

"For those of you asking why I don't address some of my harshest critics directly on this harmonious site, please understand that I give those with clear signs of mental illness wide berth, and you should too," Chanos wrote in a post on X.

"At this point, if you are a cult member that believes rockets exploding are a 'success', a convicted securities fraudster, and/or a 'short-seller' that blew up his short fund in the Fall of 2008, please sit down and STFU," he added, presumably referring to the failed launch of SpaceX's Starship mega-rocket Saturday.

"STFU" is a widely-used abbreviation on social media that stands for "Shut The Fuck Up".

It's unclear what triggered Chanos' latest tirade, although the bearish investor had already hit headlines last week after news emerged that he plans to shut down the hedge funds he uses to bet against particular stocks by the end of the year.

"The marketplace for what I do has changed," Chanos told the Journal, likely referring to short sellers' struggles in 2023.

Chanos' funds manage just $200 million today, down from $6 billion in 2008, according to the Journal. They're down 4% year-to-date, per the outlet, while the benchmark S&P 500 stock-market index has jumped 18% over the same period.

Chanos shot to prominence when he correctly predicted that the energy trading firm Enron would collapse in 2001.

In recent years, he's made high-profile bets against Musk's Tesla, which he slammed in September as a "hopes and dreams stock" that's "ridiculously overvalued". Shares in the EV maker have jumped 90% in 2023, powered higher by the rise of interest in AI and a price war that's aiming to boost sales volumes.

Read the original article on Business Insider </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>