<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leon Smith's Davis Cup Finals options after Dan Evans' calf injury forces him out of Serbia tie in Malaga</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Great Britain captain Leon Smith finds himself with a headache ahead of the Davi">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Leon Smith's Davis Cup Finals options after Dan Evans' calf injury forces him out of Serbia tie in Malaga</p>
            <span id="topic" >Davis Cup</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://e0.365dm.com/23/09/1600x900/skysports-tennis-davis-cup_6290537.jpg?20230919125903" alt="">

                <textarea id="text" readonly> Great Britain captain Leon Smith finds himself with a headache ahead of the Davis Cup Finals in Malaga following Dan Evans' injury which has ruled him out of the quarter-finals.

The Brit had started his match at the Erste Bank Open in Vienna against Frances Tiafoe in superb form, leading the American 4-1 before pulling up sharply with what looked to be a serious-looking injury.

Evans opted to pull out of the Paris Masters, due to start on October 30, but then withdrew from the Davis Cup quarter-final against Serbia on Sunday owing to the right calf injury.

Twitter Due to your consent preferences, you’re not able to view this. Open Privacy Options

Evans, who was instrumental in helping his nation qualify for the last eight, would have expected to be a partner for former world doubles No 1 Neal Skupski.

The 33-year-old played a pivotal role during a nerve-shredding deciding rubber against France, in a round-robin event which also featured ties against Australia and Switzerland.

Image: Evans and Neal Skupski (right) celebrate their doubles victory over Switzerland

Evans and Skupski have been Smith's first-choice pair in recent ties, and they battled from a set down against Les Bleus to book a place in the quarter-finals in Malaga.

Evans has often played inspired tennis at the Davis Cup and enjoys nothing more than representing his nation.

"For me, that was the be-all and end all, was to play Davis Cup for your country, and it still is," he told reporters.

What are Leon Smith's options?

Image: Neal Skupski (left) and Joe Salisbury (right) confer during a doubles match against Kazakhstan

Smith will now have to consider his options and probably the safest bet would be to bring in Joe Salisbury, also a former world doubles No 1 and most recently a three-time US Open doubles champion.

Skupski has partnered Salisbury four times, with the pair winning twice.

Jamie Murray, previously a stalwart of the GB's Davis Cup side, is also an option. He has won twice with Skupski in the three times they have played together.

There is also the option to reunite the Murray brothers as a double act, as they had been so instrumental to Britain's winning run to the 2015 title when they secured a memorable victory over Belgium in the final.

Smith will also need to consider his singles line-up.

Image: Norrie has struggled to find his best form, despite a positive start to 2023

British No 1 Cameron Norrie has struggled with his form since a second-round loss at Wimbledon to Chris Eubanks.

Despite reaching the third round of the US Open, Norrie lost both his Davis Cup group stage matches in September and he was forced to pull out of the Paris Masters with a knee injury.

Jack Draper's year has been marred by injury, but he has been able to put together some consistency since reaching the fourth round of the US Open.

Andy Murray has long been an established cornerstone of Britain's Davis Cup teams, and much like Evans, can pull out some of his best performances when playing for his country.

Please use Chrome browser for a more accessible video player Highlights of the US Open final as Novak Djokovic defeated Daniil Medvedev at Flushing Meadows in New York

He has been on the losing end of some tough three-setters since the US Open, and against a Serbian side which will boast world No 1 Novak Djokovic, it would be a tough ask for anyone facing the now 24-time Grand Slam champion in a singles tie.

How do GB line up against Novak Djokovic's Serbia?

Please use Chrome browser for a more accessible video player Is Djokovic the GOAT of men's tennis? Dominic Inglot looks at the Serbian's record

Ironically, it is probably Serbia's lack of strength in doubles that could prove to be a crucial factor in this crunch quarter-final clash.

Djokovic will be expected to play in both the singles and the doubles but has a 4-7 win-loss record in what often can prove to be the most pivotal rubber.

Serbia have ATP tour regulars Laslo Djere, Miomir Kecmanovic and Dusan Lajovic to lean on as the singles second string players, together with Davis Cup newcomer Hamad Medjedovic making up the team.

Four of Serbia's team are in the top 60, but Djokovic has only paired up with one in doubles on tour, Djere, and they lost in their opening round in Dubai 2015.

Great Britain will face Serbia on Thursday, November 23, with the winners contesting a semi-final on Saturday, November 25.

Stream all your favourite sports and more with NOW </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>