<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leonardo DiCaprio says he's thanked 'amazing' Sharon Stone 'many times' for paying his salary on 1995 film</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Leonardo DiCaprio opened up about how he has expressed his gratitude to Sharon S">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Leonardo DiCaprio says he's thanked 'amazing' Sharon Stone 'many times' for paying his salary on 1995 film</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sat-6, 2023</b>
                </span>
                <br><br>
                <img src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2023/11/0/0/sharon_leo.jpg?ve=1&tl=1" alt="">

                <textarea id="text" readonly> Leonardo DiCaprio opened up about how he has expressed his gratitude to Sharon Stone over the years after she helped him early in his career.

In her 2021 memoir "The Beauty of Living Twice," the 65-year-old actress revealed that she insisted on casting DiCaprio in the Sam Raimi-directed 1995 revisionist Western movie "The Quick and the Dead." After the studio behind the movie refused to take a chance on the then up-and-coming actor, Stone remained adamant about DiCaprio's casting and agreed to pay his salary out of her own.

During a recent interview with E! News, the now 49-year-old actor reflected on how he has thanked Stone for her generosity.

SHARON STONE CLAIMS SHE PAID LEONARDO DICAPRIO'S SALARY FOR ‘THE QUICK AND THE DEAD’

"I’ve thanked her many times," DiCaprio said. "I don’t know if I sent her an actual, physical thank-you gift, but I cannot thank her enough."

He continued, "She was amazing. She did that with myself and Russell Crowe at the time. I think she saw our early work and I think it was ‘Romper Stomper’ and ‘Gilbert Grape.’"

DiCaprio received his first Academy Award nomination at the age of 19 after starring in the 1993 coming-of-age drama "What's Eating Gilbert Grape." Crowe, then a relatively unknown actor from New Zealand, won international critical acclaim for his gritty performance in the 1992 Australian independent film "Romper Stomper."

"She said, ‘These are the two actors I want to work with,'" DiCaprio remembered of Stone. "It’s incredible. She’s been a huge champion of cinema and giving other actors opportunities, so I’m very thankful."

In "The Quick and the Dead," Stone starred as a female gunslinger who enters a deadly dueling competition in the small prairie town of Redemption while on a quest for revenge against the town's overlord John Herod (Gene Hackman).

DiCaprio played "the Kid," another competitor who claims to be Herod's son, while Crowe portrayed Cort, an outlaw turned preacher who unwillingly enters the tournament.

In "The Beauty of Living Twice," Stone, who was also a producer on "The Quick and the Dead," recalled that she was determined to cast DiCaprio after auditioning many other teenage actors for the role.

"This kid named Leonardo DiCaprio was the only one who nailed the audition," Stone wrote. "In my opinion he was the only one who came in and cried, begging his father to love him as he died in the scene."

The "Basic Instinct" star remembered that executives from the movie's studio, TriStar Pictures, were opposed to casting DiCaprio instead of an actor with more name recognition.

"Why an unknown, Sharon, why are you always shooting yourself in the foot?’" Stone recalled being asked.

"The studio said if I wanted him so much, I could pay him out of my own salary," she continued. "So I did."

On Monday, Stone took to Instagram to clarify reports that she had also paid Crowe's salary on "The Quick and the Dead."

APP USERS CLICK HERE TO VIEW POST

"Yes, I paid @leonardodicaprio’s salary out of mine," the actress, who was also a producer on the film, wrote alongside a carousel of photos from the movie.

She continued, "No I didn’t pay @russellcrowe’s, but I did ask for the film to be delayed two weeks so we could get him here from Australia and our producer @mikemedavoyup agreed to the delay. And to cover those expenses."

During a 2020 appearance on "Late Night with Seth Meyers," Crowe, 59, credited Stone with helping him launch his career in Hollywood.

"She was in a sword fight with the male producers on the film, and she put her foot down and said, ‘I’m going to hire the person I want to hire as the love interest kind of thing’," Crowe recalled.

He continued, "If it wasn’t for her strength of commitment, I don’t know how long it might have been before I got an American movie. I’ve got a lot to thank her for."

CLICK HERE TO READ MORE ON FOX BUSINESS

Two years after "The Quick and the Dead" was released in theaters, DiCaprio shot to stardom with his role as Jack Dawson in James Cameron's "Titanic." Crowe went on to star in the 1997 Academy Award-nominated neo-noir thriller "L.A. Confidential" before winning the best actor Oscar for his performance in 2000's "Gladiator."

A few months after "The Quick and the Dead" premiered, Stone won the best actress Academy Award for her role in the 1995 crime drama "Casino."

Stone received her first producer credit on"The Quick and the Dead" and she has since produced over a dozen other projects. In her memoir, Stone reflected on the challenges that actresses face when asserting themselves as producers.

GET FOX BUSINESS ON THE GO BY CLICKING HERE

"Getting a producer credit as an actress is often thought of in my business as a ‘vanity deal,’ meaning they pay you for the job but shut the f--- up and stay out of the way," Stone wrote ."I won’t accept a vanity deal and let them know that upfront. This is illegal, I say, and I like to work within the law."

"That gets a lot of silence and not a lot of joy on the other end." </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>