<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Hallmark Christmas movies? This company is hiring a reviewer for $2,000</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Do your post-Thanksgiving plans involve binging Hallmark movies and getting in t">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Love Hallmark Christmas movies? This company is hiring a reviewer for $2,000</p>
            <span id="topic" >usa</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.usatoday.com/gcdn/authoring/authoring-images/2023/11/14/USAT/71574983007-getty-images-1289153182.jpg?crop=2119,1193,x0,y110&width=2119&height=1193&format=pjpg&auto=webp" alt="">

                <textarea id="text" readonly> Do your post-Thanksgiving plans involve binging Hallmark movies and getting in the winter feels? Lucky for you Christmas came a little earlier this year and a flower company is offering to pay one person $2,000 to review Christmas films.

BloomsyBox, an online flower subscription service, is looking to hire their first ever “Hallmark Christmas Movie Reviewer” to watch 12 festive Hallmark films in just as many days and give a verdict on them. In return, Bloomsybox will pay the reviewer $2,000 as well as box of additional prizes worth over $500.

“The countdown to Christmas is fast approaching, so we at BloomsyBox want to settle the debate: what’s the greatest piece of Hallmark holiday cinema ever created?” says BloomsyBox on the application page. “To find out, we’re looking for one special Christmas movie maven to watch and rate 12 different Hallmark Christmas favorites in 12 days.”

Top Christmas movies ranked:The 20 best from 'The Holdovers' to 'Scrooged'

Chief of Cheer:This company will pay you $2,500 to watch 25 holiday movies in 25 days

Here's everything you need to know about the position and application.

What movies are included in the review?

BloomsyBox's Hallmark holiday movie line-up includes:

“The Most Wonderful Time of the Year” (2008)

“Crown for Christmas” (2015)

“The Nine Lives of Christmas” (2014)

“Christmas Getaway” (2017)

“Journey Back to Christmas” (2016)

“Ghosts of Christmas Always” (2022)

“Family for Christmas” (2015)

“Christmas Under Wraps” (2014)

“Three Wise Men and a Baby” (2022)

“A Royal Christmas” (2014)

“Northpole” (2014)

“The Christmas Train” (2017)

Holiday cheer on the high seas:Norwegian Gem to host Hallmark Channel Christmas Cruise

Let's be real.Gifts are all that matter this holiday season.

Rating the films

The reviewer will have to rate the film on a scale of 1 to 10 according to five different criteria including “Festivity Factor,” “Predictability Quotient,” “Chemistry Check,” “Tear-Jerker Test” and “Replay Value.”

What are the prizes?

BloomsyBox's first ever Hallmark Christmas Movie Reviewer will receive $2,000 in pay, which will be given upon completion of the reviews. The chosen applicant will also be provided with hot cocoa, two pairs of socks from UGG, $60 to purchase a one-year subscription to Peacock, and a 12-month flower subscription from BloomsyBox.

Where I apply to be the Hallmark Christmas Moview Reviewer?

Hallmark fans and those wishing to apply for this positions can send in their application on BloomsyBox's website through Dec. 3. The competition is open to residents of the United States aged 18 or over, excluding employees of any entity that owns or operates BloomsyBox, their families, or agents, businesses or anyone else professionally connected with a competition and/or BloomsyBox.

Additional details, including terms, conditions and requirements of the role, can be found at the BloomsyBox site.

90+ feel-good favs:Top Christmas movies to stream this holiday season

Forecasters predictions:Will there be a white Christmas in 2023?

Saman Shafiq is a trending news reporter for USA TODAY. Reach her at sshafiq@gannett.com and follow her on X, the platform formerly known as Twitter @saman_shafiq7. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>