<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madame Clairevoyant: Horoscopes for the Week of November 26</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Photo-Illustration: by The Cut; Photos: Getty Images Lucy Liu, a Sagittarius

On">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Madame Clairevoyant: Horoscopes for the Week of November 26</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://pyxis.nymag.com/v1/imgs/f7c/50e/d464b48bb4a51001a219e8e3300ccc6d48-lucy-liu-1.1x.rsocial.w1200.jpg" alt="">

                <textarea id="text" readonly> Photo-Illustration: by The Cut; Photos: Getty Images Lucy Liu, a Sagittarius

On Monday, the Gemini full moon brings surprises, chance encounters, and strange coincidences. When you go out into the world, expect the unexpected. Expect adventure. Stay open to new possibilities and things might turn out better than you dared to hope. Then, on Friday morning, Mercury enters disciplined Capricorn. While the planet of thought and communication was in freewheeling Sagittarius, it encouraged you to dream big without worrying about the practicalities. Now it’s time to take off the rose-colored glasses, reckon honestly with the difficulties you face, and make a plan to get through it.

Aries Weekly Horoscope

Right now, there’s too much going on — too much news for you to possibly follow it all, your ever-growing to-do list, and more invitations than you could possibly accept. Your job this week is to prioritize. Certain tasks absolutely must get done, and there are certain requests you can’t reasonably say “no” to, but remind yourself that you can and must say no sometimes. It’s up to you to make sure you’re putting your energy toward what matters most to you. Don’t let anyone else run your life.

Taurus Weekly Horoscope

If you only focus on the big picture this week, you’re likely to be disappointed. There’s so much wrong with the world, and the change you’ve been working toward isn’t coming quickly enough. But small moments of joy can still catch you by surprise, and unexpectedly sweet connections with others can still lift your spirits. And maybe part of you feels like it’s inappropriate to enjoy those experiences when there’s still so much pain to go around. Right now, though, make the most of the small stuff. Over time, it can help you keep going so you can tackle the big stuff.

Gemini Weekly Horoscope

With your friendly nature, you can get along with most people without difficulty. While this is a gift, it does mean that every so often you get stuck making nice with people who don’t appreciate you, who don’t listen to you or act like your perspective matters. This week, don’t work so hard to appeal to or accommodate anyone who wouldn’t do the same for you. Stop offering the best of yourself to those who have shown you they don’t deserve it. Direct your energies, instead, toward the people who reciprocate your kindness, who make you feel valued.

Cancer Weekly Horoscope

At times, the world around you gets so loud that you can hardly hear yourself think. Everyone else’s opinions crowd into your head; their ideas (communicated so forcefully, passionately) shove yours out of the way. You need solitude once in a while, a chance to let all the chorus fade away so that you can remember what your voice sounds like. This week, if you find yourself getting overwhelmed, take time alone — even if all you can manage is a short walk around the block, a few minutes in the other room. The distractions will fall away. You’ll be reminded how you feel.

Leo Weekly Horoscope

This week, you may notice more drama than usual in your social circles: People are lashing out, hurting each other’s feelings, generally making a mess. (There’s a good chance that you’re unintentionally doing some of this too.) It’s stressful for everybody, and you’re tempted to step in to fix things, to make everybody shape up. Do your best to resist. The more you try to force order on other people’s emotions, or tell them to behave, the worse it’ll get. Trust that by staying kind and supportive you’ll be doing your part to restore balance.

Virgo Weekly Horoscope

True clarity is rare. Mostly, we muddle along the best we can, making choices with limited information, not knowing whether we’re moving in the right direction, or whether it’s the right time to make a move at all. The constant uncertainty can be stressful. This week, if you’re faced with an opportunity to take decisive action, make the most of it. Rise to the occasion. You might be nervous or worried about failing, but you can trust that this is your moment, and if you seize it wholeheartedly, you won’t go wrong.

Libra Weekly Horoscope

It’s easy to notice that there’s a problem, and acknowledge that you need a change, when your life is in total disrepair. When you’re just slightly off, on the other hand — when you’re mostly fine, even happy, but still feel that something’s missing — it’s much harder to motivate yourself to do anything about it. You can tell yourself that you’re only inventing problems, or you’re making it a bigger deal than it needs to be. This week, start taking your desires seriously. Listen to your longings. Life doesn’t have to be terrible for you to need more.

Scorpio Weekly Horoscope

You carry a great deal of shame for those things you’ve done “wrong” in life — not only the instances when you hurt others but the times you made silly choices, spoke words you came to regret, or treated yourself unkindly. But punishing yourself for past mistakes doesn’t help anyone, and berating yourself for being imperfect won’t get you any closer to it. So this week, do what you can to make right what you can, and then move forward. If you take responsibility for the present, you may find that it gets easier to let at least some of the old shame go.

Sagittarius Weekly Horoscope

You tend to believe that everyone is good, deep down. And while that might be true, it doesn’t mean that everyone is the same. People’s experiences, beliefs, and personalities diverge wildly. Even those closest to you have the ability to surprise you. This week, differences between you and your loved ones might become more apparent, and they’ll respond to situations in ways you wouldn’t have predicted (and maybe don’t fully approve of). Remember that this isn’t necessarily bad. If you want to love people, you have to let them be who they are.

Capricorn Weekly Horoscope

These days, the demands of daily life are stifling. If you didn’t have a job and family responsibilities and bills to pay, you tell yourself, you would be having adventures and changing the world. Now and then you wonder if this life you’re in now is the right one for you after all. This week, remind yourself what freedom feels like. You don’t need to do anything drastic; a taste is enough. By stepping outside of your routine and breaking small rules, you remember yourself that life could be different. The freedom you’ve been dreaming of has been there all along, you just have to be brave enough to seize it.

Aquarius Weekly Horoscope

Chances are, you’ve been holding back from the people you care about. Maybe you don’t want to burden them with your pain, you don’t trust that they’ll understand, or you simply don’t have the words yet. Your friends are dealing with enough of their own problems; you don’t want to add yours to the pile. This week, though, it’s better to express yourself, no matter how clumsily, than to hold it in any longer. You may be surprised by how good it feels, and how eager and happy others are to support you.

Pisces Weekly Horoscope

You aren’t a perfectionist. You understand that life is always going to include mess and confusion and boredom and grief, and you’ve done your best to adjust, to build up a tolerance. It’s possible, though, to get too good at bearing unhappiness. Because while perfection remains out of reach, change doesn’t. If you’re unhappy, this week remember that you’re allowed to do something about it. You can make different choices. You can fight to be treated better. You can join up with other people to change the world together.

Get Madame Clairevoyant every week. Email This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply. Vox Media, LLC Terms and Privacy Notice By submitting your email, you agree to our Terms and Privacy Notice and to receive email correspondence from us.

Read the weekly horoscopes for the week of November 19. The weekly horoscopes for the week of December 3 will be online next Sunday.

Buy Claire Comstock-Gay’s book, Madame Clairevoyant’s Guide to the Stars, here. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>