<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madagascar leader poised for third term after boycotted election</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Madagascar's President and a presidential candidate Andry Rajoelina flanked by h">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Madagascar leader poised for third term after boycotted election</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.reuters.com/resizer/aW4KvtlGN9mtR24RXnsBWrkYQN4=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/M4JNM75VARKHXBPBDJT5OSOVQE.jpg" alt="">

                <textarea id="text" readonly> Madagascar's President and a presidential candidate Andry Rajoelina flanked by his wife Mialy Rajoelina as he arrives to cast his ballot at a polling station, during the presidential election in Ambatobe, Antananarivo, Madagascar November 16, 2023. REUTERS/Zo Andrianjafy/File Photo Acquire Licensing Rights

ANTANANARIVO, Nov 25 (Reuters) - Madagascar's incumbent leader Andry Rajoelina effectively secured a third term after the electoral body (CENI) on Saturday said he had obtained the most votes in a presidential election marked by a low turn out and an opposition boycott.

Provisional results announced by CENI at the end of tallying showed Rajoelina garnered 58.9% of the vote followed by Siteny Randrianasoloniaiko, a lawmaker, who got 14.4%. The country's High Constitutional Court is mandated to announce final results within nine days after the poll body declares provisional results.

"The Malagasy people have chosen the path of continuity, serenity and stability," Rajoelina, a 49-year-old entrepreneur and former DJ, said after results were announced.

"I thank the Malagasy people who now refuse to choose the wrong path, who no longer accept to take the path of unrest. Democracy is exercised through elections and not in the streets or through unrest."

On Friday his opponents had declared they would not accept the results.

"We cannot legitimize the results that will come out," said Hajo Andrianainarivelo, who was among 10 of the 13 candidates intially cleared to run who told voters to boycott the poll.

He said the poll had been tainted by irreularities including intimidation of polling officials and use of public resources by the ruling party, which denies the claims.

In the run up to the poll opposition protesters clashed with police on several occasions, saying Rajoelina should not have run because he acquired French nationality in 2014 - which they say automatically revokes his Malagasy one - and had created unfair election conditions.

Ten of the candidates due to run in the Nov. 16 election later asked the poll body to postpone it saying the state needed to first appoint independent officials on the electoral body. When CENI refused they decided to ask voters to boycott the poll.

Subsequently only three candidates campaigned.

Only 46.4% of the voters cast their ballots, according to CENI, with the opposition describing it as the lowest turn out in the country's history.

Rajoelina first rose to power in the Indian Ocean Island nation in a 2009 coup. He then stepped down after almost five years as leader of a transitional authority and then became president again after winning a 2018 election.

Writing by Elias Biryabarema; editing by Alexandra Hudson

Our Standards: The Thomson Reuters Trust Principles. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>