<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Man City vs Liverpool lineups, starting 11s, team news for Premier League match: Guardiola ready to risk Haaland</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Manchester City host Liverpool in the pick of the weekend's action as the Premie">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Man City vs Liverpool lineups, starting 11s, team news for Premier League match: Guardiola ready to risk Haaland</p>
            <span id="topic" >premier league</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://library.sportingnews.com/styles/crop_style_16_9_desktop/s3/2023-11/messageImage_1698930248367.jpg?h=df3c6bf4&itok=Fp6T1NPD" alt="">

                <textarea id="text" readonly> Manchester City host Liverpool in the pick of the weekend's action as the Premier League returns from the international break on November 25.

Pep Guardiola faces his old foe Jurgen Klopp at the Etihad Stadium in what could be a crucial game in the title race with Liverpool preparing to challenge City and Arsenal in 2024.

Guardiola's defending champions head into this tie as the Premier League leaders, but Liverpool are the top-flight's in form team, with 11 points from their last five league outings.

Both managers will make a late check on their squads to assess for injuries on international duty with Guardiola keeping a watchful eye on Erling Haaland's fitness.

MORE: Premier League top goal scorers 2023-2024: Updated golden boot rankings as Erling Haaland targets own EPL record

Man City vs Liverpool lineups

City fans were sent into a panic after Haaland was forced off with an ankle injury in Norway's 2-0 friendly win over the Faroe Islands. An injury to a key player in a non-competitive game triggered another club vs. country row for supporters as Haaland returned to England.

Guardiola is confident Haaland has recovered from the injury and the 23-year-old will be looking to add to his 13 Premier League goals scored so far this season.

Klopp is boosted by some key returns from injury but Darwin Nunez and Luis Diaz will be checked on after a lengthy trip back from South America.

Below are the projected starting lineups for both teams ahead of their Premier League match at the Etihad Stadium on November 25.

Man City starting 11

(4-2-3-1): Ederson (GK) — Walker, Akanji, Dias, Ake — Rodri, Silva — Foden, Alvarez, Doku — Haaland.

Injured: De Bruyne, Kovacic, Nunes, Gomez, Grealish

De Bruyne, Kovacic, Nunes, Gomez, Grealish Suspended: None

Midfielders Mateo Kovacic and Matheus Nunes are out for City after being forced to withdraw from international duty with Croatia and Portugal. Nathan Ake replaces Kovacic's compatriot Josko Gvardiol at left-back following the 4-4 draw at Chelsea last time out.

Jack Grealish was a late withdrawal due to illness but Erling Haaland is fit to start. John Stones returns on the bench following a hamstring injury.

Liverpool starting 11

(4-3-3): Alisson (GK) — Alexander-Arnold, Matip, van Dijk, Tsimikas — Szoboszlai, Mac Allister, Jones — Salah, Nunez, Diogo Jota.

Injured: Alcantara, Robertson, Bajcetic

Alcantara, Robertson, Bajcetic Suspended: None

Klopp has not flagged up any new injuries following the international break and Ryan Gravenberch and Ibrahima Konate both return on the bench after missing out in their 3-0 win over Brentford last time out. Joel Matip got the nod over the latter to start at centre-back.

Alexis Mac Allister is also back from suspension and joins Curtis Jones in midfield. This is the England Under-21 international's first

Man City vs Liverpool live stream, TV channel

Here's how to watch this Premier League match across selected areas of the world's major regions:

Region TV Streaming USA — Peacock Canada — Fubo Canada UK Sky Sports Main Event, Sky Sports Premier League Sky GO, Now TV Australia — Optus Sport India Star Sports Select 1 Hotstar VIP,

JioTV Hong Kong Now Premier League (Ch. 620-621) Now TV Malaysia Astro SuperSport 3 Astro Go, sooka Singapore — StarHub TV+ New Zealand Sky Sport Premier League Sky Sport NOW

USA: This game is being broadcast on the Peacock Network.

Canada: Every Premier League game this season is live streaming exclusively via Fubo in Canada.

Australia: Fans in Australia can stream every match live and on demand on Optus Sport.

UK: This match is available for live broadcast via Sky Sports with streaming on Sky GO and Now TV. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>