<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margot Robbie doesn't see the need for a 'Barbie' sequel</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="As Barbie, Margot Robbie may not control the railways or the flow of commerce, b">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Margot Robbie doesn't see the need for a 'Barbie' sequel</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sat-6, 2023</b>
                </span>
                <br><br>
                <img src="https://ew.com/thmb/37T2KSZuMjrr_ibze_75gX-AHyI=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Barbie-001-121522-19460ae221c340b2800f525d3728343a.jpg" alt="">

                <textarea id="text" readonly> As Barbie, Margot Robbie may not control the railways or the flow of commerce, but she does have some say in whether the hit film will get a sequel.

"I think we put everything we had into this one," Robbie recently told the Associated Press. "We didn't build it to be a trilogy or something. [Director] Greta [Gerwig] put everything into this movie, so I can't imagine what would be next."

Naturally, filmgoers are eager to hear if there might be a chance to return to Barbie Land. Barbie grossed over $1.4 billion at the global box office and proved to be a cultural juggernaut after debuting in July. Alongside Oppenheimer (and the Barbieheimer phenomenon), it made a resounding statement that audiences are interested in original films and storytelling.

That understandably sparks curiosity about a sequel, but no one on Team Barbie has committed to any such possibility.

Margot Robbie in 'Barbie'. Jaap Buitendijk/WARNER BROS

Back in June, Robbie told Time that a sequel could go many different ways, but at that time, the focus was on the first film. "It could go a million different directions from this point," she said. "But I think you fall into a bit of a trap if you try and set up a first movie whilst also planning for sequels."

Gerwig, who co-wrote and directed Barbie, has also been quizzed about the possibility of a sequel, but she's remained coy on the subject. Initially, Gerwig noted that she didn't have any plans for a sequel. “At this moment, it’s all I’ve got,” Gerwig told the New York Times shortly after the film opened. “I feel like that at the end of every movie, like I’ll never have another idea and everything I’ve ever wanted to do, I did. I wouldn’t want to squash anybody else’s dream, but for me, at this moment, I’m at totally zero."

But Gerwig later told People that she wouldn't be opposed to a sequel, particularly if it explored the Barbie universe at large and wasn't specifically about the characters we already met in the first film. “There’s a tone and a humor and a joy, and obviously the world is so beautiful,” Gerwig said. “I want to go back to Barbie Land.”

Barbie follows Robbie's Stereotypical Barbie as she journeys to the real world and is shocked to discover the impact of the patriarchy on humans. When Ken (Ryan Gosling) recruits his fellow dolls to take over Barbie Land, the Barbies must plot to return it to the feminist utopia it once was. But the film ends fairly conclusively with Robbie's Barbie choosing to return to the real world and live as a human.



Want more movie news? Sign up for Entertainment Weekly's free newsletter to get the latest trailers, celebrity interviews, film reviews, and more.

Related content: </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>