<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark Cuban is leaving ‘Shark Tank’</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="CNN —

Mark Cuban is swimming away from the show that helped America better come">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Mark Cuban is leaving ‘Shark Tank’</p>
            <span id="topic" >Entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://media.cnn.com/api/v1/images/stellar/prod/231128130329-mark-cuban-shark-tank.jpg?c=16x9&q=w_800,c_fill" alt="">

                <textarea id="text" readonly> CNN —

Mark Cuban is swimming away from the show that helped America better come to know the billionaire owner of the Dallas Mavericks.

During an appearance on the Showtime podcast “All The Smoke,” Cuban talked to hosts and former NBA players Matt Barnes and Stephen Jackson about his time on the entrepreneur series “Shark Tank.”

“This is our 15th year. Next year, 16th year, is going to be my last year,” Cuban said.

When Jackson joked that - like an athlete - Cuban is “hanging up the shoes” Cuban responded, “It’s time.”

“Shark Tank” features successful business people, or “sharks,” like Cuban who hear pitches from entrepreneurs trying to take their businesses to the next level and looking for the sharks to invest. Cuban said he loves the show “because it sends the message the American dream is alive and well.”

Mark Cuban | Ep 207 | ALL THE SMOKE Full Episode | SHOWTIME BASKETBALL

“I feel like in doing ‘Shark Tank’ all these years, we’ve trained a generation of entrepreneurs, multiple generations of entrepreneurs that if somebody can come from Iowa or Sacramento or wherever, and show up on the carpet of ‘Shark Tank’ and show their business and get a deal, it’s going to inspire generations of kids,” Cuban said. “That’s what happens, right? Now we’ve got people coming on [saying] I watched you when I was 10 years old.”

Video Ad Feedback Mark Cuban on the possibility of leaving 'Shark Tank' 01:18 - Source: CNN

Cuban said he’s invested in hundreds of companies that were pitched on the show and “on a cash basis I’m down a little bit, but on a mark to market, meaning the companies are still in operation, I’m way up.”

CNN has reached out to ABC for comment. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>