<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marnus Labuschagne says Pat Cummins’ spell was the difference in World Cup final</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Marnus Labuschagne has credited captain Pat Cummins and his exceptional middle o">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Marnus Labuschagne says Pat Cummins’ spell was the difference in World Cup final</p>
            <span id="topic" >world cup</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://images.indianexpress.com/2023/11/Pat-Cummins-and-Marnus.jpg" alt="">

                <textarea id="text" readonly> Marnus Labuschagne has credited captain Pat Cummins and his exceptional middle over spell which helped Australia win the ODI World Cup a record sixth time. Australia defeated India by six wickets to win the final at the Narendra Modi Cricket Stadium on Sunday.

“I think that was certainly Pat’s best day with the ball,” Labuschagne said on SEN Afternoons.

“I think I’ve never seen someone bowl the sequence he did, bowling the right balls at the right time that he did.

Advertisement

“I haven’t seen that from a middle overs bowler, a pace bowler especially in a long time.

“A lot of credit has to go to him.”

Cummins give only 34 runs from this quota and picked up two wickets, including the wicket of Virat Kohli, which shifted the momentum. Before the final, India has never scored less than 326 in the World Cup, while batting first.

“Tactically, Andrew McDonald and our analyst really got it right with the toss firstly and then navigating the different scenarios and putting pressure on the Indian bowlers to get those early wickets,” Labuschagne said.

“Then the thoughts were to have them five down at 30 (overs) and that’s exactly what they did.

Advertisement

“The bowlers did an excellent job and Pat led from the front there.”

Labuschagne, who remained unbeaten on 55 also lauded coach Andrew McDonald for creating an excellent environment.

“I mean his coaching record speaks for itself. He’s never doubted us, I think he’s created such a good environment, he and Pat work really well together.

Advertisement

“From a team perspective, we obviously rate him very highly and respect him a lot, his ability as a player and a coach and I think this is the icing on the cake for someone like him.” </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>