<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matteo Arnaldi & Lorenzo Sonego Guide Italy To Davis Cup Final 8</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Italy advanced to the Davis Cup Final 8 on Sunday when singles wins from Matteo ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Matteo Arnaldi & Lorenzo Sonego Guide Italy To Davis Cup Final 8</p>
            <span id="topic" >Davis Cup</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://www.atptour.com/-/media/images/news/2023/09/17/16/39/italy-dc-2023-sunday.jpg" alt="">

                <textarea id="text" readonly> Italy advanced to the Davis Cup Final 8 on Sunday when singles wins from Matteo Arnaldi and Lorenzo Sonego gave their country an unassailable 2-0 lead against already-eliminated Sweden.

Italy needed just one win from its three ties against Sweden in Bologna to qualify from Group A and Arnaldi quickly delivered.

The 22-year-old, who reached the fourth round at the US Open, defeated Sweden’s Leo Borg 6-4, 6-3 in one hour and 22 minutes to secure his country a place in the Davis Cup knockout rounds in Malaga this November.

Sonego then overcame Elias Ymer 6-4, 6-4 to move Italy 2-0 ahead. The result means the former champion will join Group A winners Canada in the next round. Italy has now advanced to the Davis Cup quarter-finals five times since 2016. Last year it reached the semi-finals, losing to eventual champion Canada.

Spain Defeats South Korea

Already-eliminated Spain ended its Group C campaign on a high with victory against South Korea.

The former champion lost its first two ties against group winners Czech Republic and second-placed Serbia and was therefore unable to qualify for the Final 8 despite the result against South Korea on Sunday in Valencia.

They finished third in Group C, though, with Bernabe Zapata Miralles beating Hong Seongchan 6-4, 7-5, before Alejandro Davidovich Fokina downed Soonwoo Kwon 6-4, 6-4.

South Korea finished fourth in Group C. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>