<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Millions winning numbers for November 24, 2023. Jackpot grows to $335 million</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The Mega Millions jackpot is growing to $335 million, with a cash option of $153">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Mega Millions winning numbers for November 24, 2023. Jackpot grows to $335 million</p>
            <span id="topic" >business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://www.beaconjournal.com/gcdn/presto/2023/07/09/PBRE/8110a140-e485-4ab6-a3a8-586a66511d89-52713C7B-78DC-4F84-BD76-043D39967747.jpeg?crop=4031,2267,x1,y0&width=3200&height=1800&format=pjpg&auto=webp" alt="">

                <textarea id="text" readonly> The Mega Millions jackpot is growing to $335 million, with a cash option of $153.1 million, for Tuesday's drawing. No winning ticket was drawn for Friday's jackpot, which was worth $308 million.

Here are the numbers for Friday, Nov. 24, 2023:

Mega Millions numbers for 11/24/23

The winning numbers from Friday's drawing were 6, 15, 45, 59 and 68. The Mega Ball was 1 and the Megaplier was 4X.

Did anyone win Mega Millions last night, Friday, November 24th, 2023?

At time of writing, no known winning tickets were sold.

How many lotto numbers in Mega Millions do you need to win a prize?

You only need to match one number in Mega Millions to win a prize. However, that number must be the Mega Ball, worth $2.

When are the Mega Millions drawings?

Drawings are every Tuesday and Friday at 11 p.m.

How to play the Mega Millions

Mega Millions tickets cost $2 per play.

There are nine total ways to win a prize, from the jackpot to $2.

Players can pick six numbers from two separate pools of numbers: five different numbers from the white balls numbered 1-70 and one number from the gold balls numbered 1-25. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>