<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meghan Markle & Prince Harry Have Sights Set On Moving to Los Angeles</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Meghan Markle and Prince Harry are ready to live closer to the glitz and glamour">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Meghan Markle & Prince Harry Have Sights Set On Moving to Los Angeles</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://imagez.tmz.com/image/87/16by9/2023/11/22/8761e9473aa4449e87d74fe4c13282b5_xl.jpg" alt="">

                <textarea id="text" readonly> Meghan Markle and Prince Harry are ready to live closer to the glitz and glamour of Hollywood ... our sources say they're eyeing a move to Los Angeles.

Sources with direct knowledge tell TMZ ... Meghan and Harry have been discussing a move to L.A. after deciding to no longer look for a home in Malibu.

We're told Meghan and Harry are taking interest in different L.A. neighborhoods, though they haven't toured any houses yet ... other than the $8 million plot of land in the 'Bu they checked out back in September, which they've decided to pass on.

Meghan and Harry live up the coast in Montecito, and a move to L.A. makes sense ... they've been attending lots of Hollywood events, and while Malibu is way closer than Montecito, they feel it's still too far from where they want to be.

Our sources say privacy and community are at the top of the list for Meghan and Harry ... which is one reason they soured on that estate in Malibu.

After TMZ broke the story of Meghan and Harry touring an estate off Pacific Coast Highway, we're told the property became a magnet for paparazzi and news coverage ... which created safety concerns for them and ultimately steered them away.

Meghan and Harry have lived in the Los Angeles area before ... and were able to fly under the radar at first.

You may recall ... Meghan and Harry lived in Tyler Perry's mansion in Beverly Ridge Estates for several weeks back in 2020, going mostly undetected ... and our sources say they want to move somewhere similar, where neighbors share concerns about privacy and security.

Meghan and Harry gushed over Tyler's place in their docuseries ... with Harry describing his time there as "bliss because no one knew we were there ... We were there for six weeks, and no one knew. My family still thought I was in Canada."

Eventually, the media caught on and figured out where Meghan and Harry were living, forcing Tyler to secure the property with a fence to stop paparazzi from snapping photos.

Tyler says he and his neighbors lived privately for years and had never seen anything like the media blitz over Meghan and Harry ... claiming once the word got out there were drones and helicopters flying over the home 24/7, and people sneaking onto the property and cutting holes in the chain link fence. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>