<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melissa Barrera addresses 'Scream 7' firing over posts on Israel-Hamas war: 'Silence is not an option'</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Melissa Barrera, star of the rebooted "Scream" franchise, has been dropped from ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Melissa Barrera addresses 'Scream 7' firing over posts on Israel-Hamas war: 'Silence is not an option'</p>
            <span id="topic" >usa</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.usatoday.com/gcdn/authoring/authoring-images/2023/11/22/USAT/71673281007-ap-23066158824517.jpg?crop=3249,1829,x0,y116&width=3200&height=1802&format=pjpg&auto=webp" alt="">

                <textarea id="text" readonly> Melissa Barrera, star of the rebooted "Scream" franchise, has been dropped from the upcoming film "Scream 7" due to her social media posts about the Israel-Hamas war.

A spokesperson for Spyglass Media Group, the production company behind the film, confirmed Barrera's exit to USA TODAY on Tuesday. The news comes after the actor shared multiple posts on Instagram Tuesday in support of Palestinians.

Spyglass said that its "stance is unequivocally clear: We have zero tolerance for antisemitism or the incitement of hate in any form, including false references to genocide, ethnic cleansing, Holocaust distortion or anything that flagrantly crosses the line into hate speech."

USA TODAY has reached out to representatives for Barrera and Paramount, the film's distributor, for comment.

In a since-deleted post to X, formerly Twitter, on Tuesday, director Christopher Landon seemed to speak out about Barrera as he wrote, "This is my statement: Everything sucks. Stop yelling. This was not my decision to make."

Barrera, who had a breakout role as Vanessa in 2021's "In the Heights," joined the "Scream" franchise in 2022's "Scream," which revived the franchise following the "Scream 4" release in 2011. She reprised her role of Sam Carpenter in this year's "Scream VI," in which she plays the older sister of Tara (Jenna Ortega); she also happens to be the daughter of Billy Loomis (Skeet Ulrich), the original Ghostface.

Susan Sarandon droppedby her talent agency following pro-Palestinian rally appearance, reports say

Melissa Barrera speaks out in support of Palestinians on Instagram

Through Tuesday afternoon, before Variety published a report "Inside Hollywood's divide over Israel," Barrera was sharing posts to her Instagram Stories about the casualties of Gaza's children as well as a video from a Philadelphia protest calling for a ceasefire amid "genocide in Gaza." (Variety broke the news that, according to their sources, Spyglass had "quietly dropped" Barrera as the star of the next "Scream" film.)

Barrera has regularly posted and reposted content on the topic in recent weeks.

In her Instagram bio, Barrera includes links to donate to Doctors Without Borders and Save the Children. On Oct. 27, she shared a post on her Instagram feed co-signing Artists 4 Ceasefire's open letter to President Joe Biden. She was among hundreds of actors, comedians and musicians who called for a ceasefire in Gaza and Israel.

"We must end the bombing of Gaza, secure the safe release of all hostages, and demand adequate access for humanitarian aid to reach the people that desperately need it," her caption reads.

Melissa Barrera speaks out after 'Scream 7' firing: 'I condemn hate'

On Wednesday, Barrera posted a statement on her Instagram Stories, writing, "I condemn hate and prejudice of any kind against any group of people."

"As a Latina, a proud Mexicana, I feel the responsibility of having a platform that allows me the privilege of being heard, and therefore I have tried to use it to raise awareness about issues I care about and to lend my voice to those in need," Barrera wrote. "Every person on the earth — regardless of religion, race, ethnicity, gender, sexual orientation or socio-economic status — deserves equal human rights, dignity and, of course, freedom. I believe a group of people are NOT their leadership, and that no governing body should be above criticism."

"Silence is not an option for me," she added.

Susan Sarandon also dropped by Hollywood agency

Actor Susan Sarandon was dropped by her agency, United Talent Agency, after speaking out at a pro-Palestine rally over the weekend, an agency spokesperson confirmed to The Associated Press.

Militants crashing across the border from Gaza on Oct. 7 killed more than 1,200 Israelis and took 240 people back as hostages, Israeli authorities say. Israel's ensuing military campaign has killed more than 11,000 Palestinians as of Nov. 10, according to the Gaza Health Ministry. On Tuesday, Palestinian health officials in Gaza said they have since lost the ability to keep count of casualties.

On Wednesday, Israel's Cabinet announced a cease-fire deal with Hamas that would bring a temporary halt to the conflict and release dozens of hostages in a prisoner swap between the two sides.

Under the deal, Hamas would free 50 of the roughly 240 hostages it is holding in the Gaza Strip – mostly women and children – over a four-day period, according to the Israeli government. It said it would extend the lull by an additional day for every 10 hostages released.

Hollywood reacts to Israel-Hamas war:Celebrities call for ceasefire, decry civilian deaths

Contributing: John Bacon and Jorge L. Ortiz, USA TODAY; The Associated Press </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>