<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messi’s Argentina beats Brazil in a World Cup qualifying game delayed by crowd violence</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="RIO DE JANEIRO (AP) — Lionel Messi’s Argentina squad celebrated like they’d won ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Messi’s Argentina beats Brazil in a World Cup qualifying game delayed by crowd violence</p>
            <span id="topic" >world cup</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://dims.apnews.com/dims4/default/678ebc5/2147483647/strip/true/crop/2434x1369+0+127/resize/1440x810!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2F13%2F15%2Fbe2d9480cdeb2c5b41e5b5c5bdac%2Fd7f2ff88d322411eaa964968adafa1c7" alt="">

                <textarea id="text" readonly> RIO DE JANEIRO (AP) — Lionel Messi’s Argentina squad celebrated like they’d won the World Cup again after a dramatic 1-0 win over archrival Brazil on Tuesday.

It was Brazil’s first home defeat ever in World Cup qualifying, a game that was delayed because of a brawl between fans in the stands.

Many fans went to the Maracana to watch Messi in likely his last match in Brazil, a superclasico against the hosts. Instead, they saw Nicolás Otamendi score the only goal of the match.

It was Brazil’s third consecutive loss in the round-robin tournament — another blow for new coach Fernando Diniz.

It was also the first time since 2009 that the five-time World Cup winners failed to score in a home game.

Messi left the pitch in the 78th minute amid a mixture of jeers and applause from Brazil fans. Dozens of children arrived at the Maracana wearing the shirts of Barcelona, the star’s previous club, and Inter Miami.

The Argentine star was unable to end one of his last barriers in the sport, though, failing to score against the Brazilians in a World Cup qualifier at the Maracana.

The Argentina squad celebrated on the pitch for 10 minutes after the win, knowing they’re leading the South American qualifying standings. They also gave fans one more chance to celebrate a victory at the historic stadium in Rio de Janeiro. Two years ago, Ángel di Maria scored the only goal in an empty Maracana to give his team the Copa America title.

“I am so happy. We made history again and gave this joy to our people,” said midfielder Rodrigo de Paul, who kneeled and opened his arms in celebration after the final whistle. “The derbies are like this. If we need to keep the ball, we do it. If we have to defend and suffer, we do, too. That’s why we are the best team in the world.”

The violent pre-match incident, starting shortly after the national anthems, stalled the start for 27 minutes. Messi led his team off the field and into the locker rooms for 22 minutes. At least one fan left the stadium bleeding from his head. Rio police said they had arrested eight people due to the brawl.

The crowd aggression was reflected on the field in the first 20 minutes of the encounter, leading to the referee awarding a succession of fouls against Brazil during that time. The tension eventually eased, allowing Argentina to avoid direct confrontation.

Brazil wasted opportunities, with Raphinha’s free kick in the 38th minute and Cristian Romero saving Argentina near the goal line six minutes later after a crossed shot by Gabriel Martinelli.

Brazil maintained the pressure after the break, and Rodrygo forced goalkeeper Dibu Martinez into a close-range save in the 54th.

But Argentina’s goal in the 63rd with a header by Otamendi, who jumped above the Brazilian defenders to meet a corner kick, was one of the few chances the team created.

“This is a beautiful win, but it has no comparison with what we achieved in Qatar,” Argentina coach Lionel Scaloni told a news conference. “You know it is not easy to win here, but we managed to.”

Teenager Endrick, one of Brazil’s big hopes up front, didn’t make much difference after he went on in the 72nd.

In the 81st, midfielder Joelinton, who had just stepped in as a substitute for Brazil, was sent off after pushing an Argentine player. Brazil fans ended the match chanting “ole” for every touch of the Argentinians, while the visiting supporters waved their shirts as some of their players celebrated on the pitch.

Argentina leads the 10-team continental qualifying competition with 15 points from six matches, followed by Uruguay on 13 and Colombia with 12. Venezuela is next with nine points. Ecuador, which started the qualifying with -3 points due to a FIFA punishment, has eight points.

Brazil will end the year in sixth position, with seven points, two clear of Paraguay and Chile.

The 2026 World Cup in the United States, Mexico and Canada will include 48 teams, meaning direct entry for the top six teams from South America. The seventh-place team can earn a berth in an intercontinental playoff.

Also on Tuesday, Colombia won 1-0 at Paraguay; Uruguay beat Bolivia 3-0 in Montevideo; and Ecuador edged Chile 1-0. Peru drew 1-1 Venezuela.

The seventh and eighth rounds of South American qualifying will take place in September after the next edition of Copa America in the United States.

___

AP soccer: https://apnews.com/hub/soccer </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>