<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Met grote telelenzen mocht het ‘tuig van de richel’ Geert Wilders van 20 meter afstand fotograferen</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="De rubriek Beeldvormers onderzoekt hoe een foto onze kijk op de werkelijkheid be">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Met grote telelenzen mocht het ‘tuig van de richel’ Geert Wilders van 20 meter afstand fotograferen</p>
            <span id="topic" >Geert Wilders</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://img.volkskrant.nl/28cc31f582875c9b86b77f2d829a7665a5fbd982/met-grote-telelenzen-mocht-het-tuig-van-de-richel-geert-wilders-van-20-meter-afstand-fotograferen" alt="">

                <textarea id="text" readonly> De rubriek Beeldvormers onderzoekt hoe een foto onze kijk op de werkelijkheid beïnvloedt. Deze week: een PVV-fractiekamer vol telelenzen, om de afstand tot de grote winnaar te overbruggen.

Op donderdagochtend was het ‘tuig van de richel’ op tijd voor de taart. De bubbels stonden klaar, er hingen blauwe en witte slingers aan het plafond en er stond een fier Nederlands vlaggetje naast een grote vierkante slagroomtaart met vruchtjes. En daar was ook Geert Wilders. Glunderend kwam hij de ruimte binnenlopen waar zijn partijgenoten hem opwachtten met applaus en waar zich aan de overzijde, met een zee van ruimte ertussen, de pers had verzameld, telelenzen gereed.

‘Tuig van de richel’ – dat zijn Wilders’ eigen woorden. Hij twitterde ze in juni 2021, als reactie op het nieuws dat acht op de tien journalisten weleens agressie meemaken. ‘Journalisten zijn – uitzonderingen daargelaten – gewoon tuig van de richel’, luidde zijn bericht. Het zou kunnen dat de journalisten die ruim twee jaar later aanwezig waren om zijn verkiezingsoverwinning vast te leggen toevallig deze ‘uitzonderingen’ waren.

Maar wat deed dat er nu nog toe; het was feest. De extreem-rechtse politicus die opmerkelijk genoeg een premier wil zijn voor alle Nederlanders, gooide zijn armen de lucht in en liet zich graag fotograferen. In een filmpje dat NOS Stories van het persmoment maakte, benadrukte hij nog eens dat niemand bang hoeft te zijn voor hem.

‘Wow’, dacht fotograaf Sem van der Wal, toen hij eens om zich heen keek voordat de pers de Haagse fractiekamer mocht betreden. Hij registreerde tientallen camera’s, van zowel binnenlandse als internationale media, en van de grote persbureaus als Reuters en Getty. Later maakte hij de foto die hierboven staat. ‘Het leek me een bijzonder tijdsbeeld’, zegt hij donderdagavond aan de telefoon.

Dat is het ook. Sowieso zou ik het toejuichen als fotografen tijdens persmomenten wat vaker de camera op elkaar zouden richten. Dat levert niet zelden goede beelden op, die altijd iets vertellen over het politieke theater waar we met z’n allen de hele dag naar kijken.

Op deze foto vallen bijvoorbeeld meteen de grote lenzen op. Die waren nodig om de ruimte te kunnen overbruggen, zegt Van der Wal. Tussen de journalisten en hun onderwerp zat zo’n 20 meter, een extra veiligheidsmaatregel voor Wilders, die al jaren wordt bedreigd. Toen de pers vragen mocht stellen, moesten de journalisten dat bijna schreeuwend doen. Daarna sneed Wilders de taart aan. Alles bij elkaar duurde het ongeveer tien minuten.

‘Fotografisch gezien’ was dit volgens Van der Wal een leuke klus. Later die dag was hij nog langsgegaan bij de VVD, de partij die 24 zetels behaalde en tegelijkertijd flink verloor. Daar heersten heel andere emoties. De pers mocht buitengewoon dichtbij komen. Van der Wal maakte een bijbels aandoende foto van lijsttrekker Dilan Yesilgöz: prachtig uitgelicht en in een zwart glitterjasje zit ze aan tafel, de toegestroomde en voorovergebogen journalisten als een doornenkroon om haar hoofd. Geen uitbundigheid, wel strak geregisseerde beeldvorming.

De foto’s die tijdens het taartmoment van Wilders zijn gemaakt, verschillen van perspectivische aanpak. Ondanks de telelenzen kozen de meeste Nederlandse fotografen ervoor om niet in te zoomen en de ruimtelijkheid van de setting te benadrukken: Wilders juichend op een afstandje, helemaal aan het andere eind van de met ballonnen en vlaggetjes versierde fractiekamer. Deze foto’s staan in een fotografische traditie die je heel goed als typisch Nederlands kunt bestempelen: een paar stappen naar achteren doen en de gebeurtenis in zijn omgeving vastleggen, waardoor alles klein en een beetje lullig wordt.

Er waren ook fotografen die hun telelens juist wel gebruikten. De fotograaf van persbureau Reuters zoomde in op het moment na het aansnijden van de taart. Tegen een zwarte achtergrond likt Wilders zijn vinger af. De PVV-leider kijkt recht in de lens van de fotograaf. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>