<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mo Salah and Darwin Nunez are the best partnership in the Premier League! Jurgen Klopp's diamond duo have more assists for each other than ANY other pairing as £85m Uruguayan finally finds his feet</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="At times last season, it felt like Mo Salah was leading a one-man band at Liverp">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Mo Salah and Darwin Nunez are the best partnership in the Premier League! Jurgen Klopp's diamond duo have more assists for each other than ANY other pairing as £85m Uruguayan finally finds his feet</p>
            <span id="topic" >premier league</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://i.dailymail.co.uk/1s/2023/11/24/12/78195289-0-image-m-79_1700828211323.jpg" alt="">

                <textarea id="text" readonly> At times last season, it felt like Mo Salah was leading a one-man band at Liverpool. With Sadio Mane’s departure for Bayern Munich breaking up a golden trio of the two Africans and Roberto Firmino, who struggled for game-time, Salah was both the chief goal-scorer and creative force.

The Egyptian had a stellar season, scoring 30 goals and notching a further 16 assists, but it felt like there was nobody to share the load for Liverpool in a sub-par campaign that saw them finish fifth in the Premier League, 22 points behind champions Manchester City.

Jurgen Klopp had many problems in his team, ranging from sloppy defensive displays to an ageing and declining midfield. One issue that was not so often mentioned was that the German had to completely renovate his style of play to accommodate Darwin Nunez’s arrival.

Nunez signed for £85million from Benfica and had a well-documented tough first season on Merseyside. The Uruguayan scored just 15 goals, struggled with the language barrier and also had a couple of niggly injuries and a suspension that set him back.

Mo Salah and Darwin Nunez have lit up the Premier League this season as a new dynamic duo

Jurgen Klopp renovated his style to include Nunez last season and is now being rewarded

The two have assisted each other more than any other pairing - and are the most efficient

Your browser does not support iframes.

With Firmino not at his best, plus long-term injuries at different points to fellow attackers Diogo Jota and Luis Diaz, Salah had to step up and it felt like he was forced to do everything when Liverpool were going forward.

Nunez was tried as a focal point but Klopp was frustrated at his lack of understanding for the defensive side of the game, so Jota or Cody Gakpo - who was the main No 9 for the majority of the second half of the season - often played through the middle instead.

‘He just plays for the team,’ said Salah on Firmino after his exit. ‘He doesn't really care about scoring that much, he just wants to enjoy his game and just play football and wants the team to win.’ Mane added: ‘We did incredible things together. I am so grateful.’

That trio is gone but, slowly, Salah is finding a new best pal on the pitch in Nunez. It took a while to click, but now they are one of the most formidable duos in Europe, supplemented by one of Diaz, Jota or Gakpo on the left.

Salah will often drift inside and play quick, one-touch passes with Nunez, while the Uruguayan forward is gaining a better understanding of when to come short and when to run in behind. They seem to have an intrinsic understanding that all good attacking partnerships need.

The statistics speak for themselves. So far in the league this season, Nunez and Salah have assisted each other five times - more in the Europa League. That’s more than any other duo in the Premier League, with Arsenal’s Bukayo Saka and Leandro Trossard behind on three.

Nunez and Salah have created 19 chances for one another, again top of the Premier League rankings with Moussa Diaby and Ollie Watkins of Aston Villa just behind. Saturday’s opponents Manchester City have a dynamic duo in Erling Haaland and Julian Alvarez, in third on that list.

What is most eye-catching, though, is that Nunez and Salah have linked up so efficiently with just 582 Premier League minutes played together, with the Uruguayan not the first-choice option at the start of the season. Diaby and Watkins, for reference, have played 936 minutes.

Things didn't quite click for Nunez on Merseyside last season following his £85m transfer

The trio of Salah, Sadio Mane and Roberto Firmino dominated Liverpool's frontline for years

Aside from footballing link-ups, Liverpool’s diamond duo have a close personality bond and get on well. That might be taken for granted, but Salah and Mane often had disagreements which created tension in the team due to perceived greed when in possession of the football.

‘I knew those guys very well, maybe better than anyone,’ wrote Firmino in his recent autobiography Si Senor. ‘It was me right in the middle of them. I saw first-hand the looks, the grimaces, the body language, the dissatisfaction when one was mad at the other.

‘I could feel it. I was the link between them in our attacking play and the firefighter in those moments. For many, that disagreement between Sadio and Mo was the first; for some, the first and last. But I knew it had been brewing since the previous season, 2018-19.

‘They were never best friends, each kept himself to himself. It was rare to see the two of them talking and I’m not sure if that had to do with the Egypt-Senegal rivalry in African competitions. I truly don’t know. But they also never stopped talking, never severed ties.’

Salah has scored 198 goals for Liverpool now - only four men have scored more than 200

Firmino wrote that Mane and Salah 'were never best friends' due to their disagreements

Firmino went on to write that Klopp indirectly shouted at Salah - he was talking to the whole dressing room but it felt charged at the Egyptian - about how players were being greedy in front of goal and not passing to team-mates in better positions.

That is no issue now, with Salah stepping up in a creative sense this season, with 12 goals and four assists so far, just two strikes away from his 200th for Liverpool, a figure that only four men have reached for the club: Ian Rush, Roger Hunt, Gordon Hodgson and Billy Liddell.

Passing the double-century of goals for the Reds might come this weekend at the home of the champions, but Salah is now an ultimate team player and will not care a jot if his contribution comes only in the form of assists, possibly for the other half of Liverpool’s new diamond duo. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>