<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monday Brew: Frank Reich evaluates passing game at Atlanta</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content=""We just have to execute a little bit better in all areas," Reich said. "Have to">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Monday Brew: Frank Reich evaluates passing game at Atlanta</p>
            <span id="topic" >Frank Reich</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://static.clubs.nfl.com/image/private/t_editorial_landscape_12_desktop/panthers/veizuyfpakhzi3ii1i2c" alt="">

                <textarea id="text" readonly> "We just have to execute a little bit better in all areas," Reich said. "Have to put them in better positions, have to execute better. And I'm confident we will."

He mentioned the rookie Mingo, who ran a "couple really good routes." That may have included one of Young's few deep shots of the game, which was overthrown in Mingo's direction. He also highlighted a Thielen route, calling it "killer," but said Young was taken away from it because of what the Falcons' coverage appeared to be. Even though Thielen eventually won his matchup, the ball wasn't thrown in his direction.

Reich also complimented Marshall for his route on the first play on third down. But he mentioned that there were plenty of areas to grow, too.

"We put in a little wrinkle on his third down – the very first third down – we had him (run) something we added late in the week," Reich said. "Terrace does a great job on that. Then there's other times we need to get better separation.

"Then there's other times where – it's a physical day; (it) was a little bit more physical down the field on a couple of throws than I think we're all comfortable with, but we've got to find a way to still win from that. But (I'm) confident in that receiver group."

When it comes to separation, Reich said he isn't concerned about the speed of his group within the context of the NFL at large.

Reich mentioned that there are players like Dolphins wide receiver Tyreek Hill, who put up more than 200 yards in Week 1, but that the Panthers have enough speed in their locker room anyway – and it isn't the only way to make plays.

"There are a lot of different ways to make plays," Reich said. "Certainly, speed is one of those ways. You got a guy like Tyreek Hill, you know, has 200 yards. I mean, he's just different, right? There's nobody – no team has speed like that – he's in a different category all by himself. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>