<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morning Bid: Markets turn risk-averse after bumper month</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The German share price index DAX graph is pictured at the stock exchange in Fran">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Morning Bid: Markets turn risk-averse after bumper month</p>
            <span id="topic" >business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.reuters.com/resizer/l_BIOeI3NZrA0nn0kSMJhKcwfjI=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/FWI5BQKELJMG3PO3EHXKK636FI.jpg" alt="">

                <textarea id="text" readonly> The German share price index DAX graph is pictured at the stock exchange in Frankfurt, Germany, November 13, 2023. REUTERS/Staff Acquire Licensing Rights

A look at the day ahead in European and global markets from Wayne Cole.

Asia started Monday in hesitant fashion and has turned steadily grimmer, although there is no obvious catalyst for the risk-off mood. Most regional share markets are modestly lower, as are Wall Street and European futures.

Treasury yields are a few basis points higher, but that hasn't helped the dollar which lost ground to a broadly firmer yen. Oil prices have slipped further, while gold hit a six-month high above $2,017 an ounce - although no fundamental factors were evident behind the move.

China's central bank announced it would encourage financial institutions to support private companies, including with a greater tolerance for non-performing loans. The market didn't seem impressed and China's blue chips (.CSI300) are down around 1.2%.

There has been a build-up of reports about official steps to support the property sector, including white-listing companies for loans, yet it's still mostly talk rather than action.

The official China PMI for November is due on Thursday and analysts generally look for a small pick-up and maybe a reading above 50.0.

The approach of the month's end could also generate some caution given the hefty gains investors are sitting on. Japan's Nikkei (.N225) is up more than 8% so far in November, as is the S&P 500 - and that would be its best performance since mid-2022.

About 55% of the S&P 500's component shares are trading above their 200-day moving averages, the highest share in nearly two months, according to LPL Financial.

The oil market faces a tense few days ahead of a meeting of OPEC+ on Nov. 30, which was postponed from Sunday as producers struggled to forge a unanimous position.

OPEC+ sources have said that African oil producers are seeking higher caps for 2024, while media reports suggest that Saudi Arabia may extend its additional 1 million bpd voluntary production cut which is due to expire at the end of December.

Brent was down another 0.8% today, and 8.6% for the month so far, which if sustained would be a boon both for the battle against inflation and for consumer spending power.

The Federal Reserve's favoured measure of inflation - personal consumption expenditures - is due on Thursday and forecast to dip back to 3.1%, in part due to falling gas prices. The core is seen easing to 3.5%, its lowest since mid-2021.

Data on EU inflation is also due Thursday, along with measures for Germany and Spain. Core EU inflation is forecast at 3.9%, the lowest since the middle of last year.

If realised, this will support market wagers of no more rate hikes, and policy easing in 2024. Futures imply around 80 basis points of cuts for both the Fed and the ECB, starting in June.

Fed Chair Jerome Powell will have a chance to push back against the doves at a Fireside Chat on Friday, and there are at least seven other Fed speakers on the docket this week.

European Central Bank President Christine Lagarde has also sounded in no hurry to ease and will have another opportunity to drive home the message at the EU parliament later on Monday.

Key developments that could influence markets on Monday:

- ECB President Christine Lagarde at ECON Hearing before the Committee on Economic and Monetary Affairs of the European Parliament

- UK CBI distributive trades for Nov

- U.S. new home sales, building permits for Oct

By Wayne Cole; Editing by Edmund Klamann

Our Standards: The Thomson Reuters Trust Principles. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>