<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Most school shootings aren’t mass killings, study finds, and they’re often driven by community violence</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="CNN —

Many Americans think of school shootings as mass casualty events involvin">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Most school shootings aren’t mass killings, study finds, and they’re often driven by community violence</p>
            <span id="topic" >health</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://media.cnn.com/api/v1/images/stellar/prod/231124192130-02-gun-violence-file-2019.jpg?c=16x9&q=w_800,c_fill" alt="">

                <textarea id="text" readonly> CNN —

Many Americans think of school shootings as mass casualty events involving an adolescent with an assault-style weapon. But a new study says that most recent school shootings orchestrated by teenagers do not fit that image — and they are often related to community violence.

The study, published Monday in the journal JAMA Pediatrics, analyzed 253 school shootings carried out by 262 adolescents in the US between 1990 and 2016.

It found that these adolescents were responsible for only a handful of mass casualty shootings, defined as those involving four or more gunshot fatalities. About half of the shootings analyzed — 119 — involved at least one death. Among the events, seven killed four or more people.

A majority of the shootings analyzed also involved handguns rather than assault rifles or shotguns, and they were often the result of “interpersonal disputes,” according to the researchers from University of South Carolina and University of Florida.

“When you look at gun violence across the country, a big subset of that is suicide and community violence, which is largely committed by the use of handguns, not assault rifles and so on,” said Dr. Chethan Sathya, a pediatric surgeon and trauma director at Cohen Children’s Medical Center and director of the Center for Gun Violence Prevention at Northwell Health.

Sathya, who was not involved in the new study, says it is important to highlight the difference between a mass shooting at a school and a school shooting brought on by community violence because the perpetrators often look different and are committing these acts of violence for different reasons. Therefore, the respective solutions look very different, as well.

“You’re going to have the classic, very tragic mass shootings where someone comes in with a manifesto, and they want to kill the maximum number of people,” he said. “You’re also going to have gang-related violence, shootings that happen at school but have to do more with interpersonal violence and other drivers of community violence that are actually different than things that might drive these stereotypical mass shootings.”

Researchers analyzed data from the American School Shooting Study, which compiles information about these shooting events from open-source materials.

An overwhelming majority of the 262 adolescent shooters were male, with an average age of 16. But unlike many of the school shootings that make headlines, Sathya said, nearly 60% of the shooters in the study were Black.

About 28% were White, and 8% were Latino. Another 5.7% represented other racial or ethnic groups, including Asian or Pacific Islander and indigenous peoples of the Americas.

More than half of the shooters got the firearm they used from a family member or a relative. About 30% got a weapon from the illegal market, while 22% obtained weapons from friends or acquaintances.

“Parents need to be responsible for the storage of those weapons, because they can often be used for shooting and for other types of violence,” Sathya said. “We know that from prior studies.”

The researchers also looked at economic backgrounds. About 20% of these adolescents lived below the poverty line. About 12% of the households included in the data were characterized as headed by women. About 26% of residents of these households did not have high school diplomas, and 10% were unemployed.

Investing in community violence intervention programs can help reduce this kind of violence in schools, according to Sathya.

“Policies that build up infrastructure in at-risk communities to stop the cycle of violence” he said. “Those include things like green spaces, parks, employment opportunities, food security, other social determinants of health, economic mobility. Those are the kinds of things that get at-risk youth out of the cycle of violence, in addition to that community violence.”

The researchers behind the new study also note that most of the firearms used in the shootings were lower- or moderately powered, meaning they will probably cause less severe damage than a higher-powered weapon.

The use of lower- to moderately powered firearms in school shootings involving adolescents in the US has gone down, with the early 1990s marking the height of such firearm use. The rate at which adolescents use higher-powered firearms has been stable over time, with a modest increase since the mid-1990s.

“Several factors could account for these findings: alterations in firearm manufacturing and availability, increasing adolescent interest in and familiarity with more potent weapons, or changes in documentation methods,” the researchers say adding that the number of shootings in which the firearm’s power was undisclosed in open sources increased during the study period.

Get CNN Health's weekly newsletter Sign up here to get The Results Are In with Dr. Sanjay Gupta every Tuesday from the CNN Health team.

They also said there is a need for a standardized national reporting system, as many Americans depend on media sources to learn about school shootings.

“Despite more extensive media coverage, the increase of online publications and social media in the 21st century has not necessarily deepened our understanding of firearms used in shootings,” the researchers wrote. “Future efforts must prioritize consistent reporting procedures, especially for infrequent but significant events, such as school shootings and other notable violent acts.”

Sathya says there also needs to be more research into gun violence.

“There’s been such a paucity of research in this space that, often, research studies like this add a lot to the field,” he said, adding that the only way to address an issue like gun violence is to figure out what drives it.

“This is a public health issue, not a political one. It’s not really about gun ownership,” Sathya said. “It’s about ways to make our environment safer and guns safer. That’s the goal.” </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>