<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mystery of this huge iron ball on Japan beach has finally been solved</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="There were speculations about the object being a spying device or a UFO. (Image ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Mystery of this huge iron ball on Japan beach has finally been solved</p>
            <span id="topic" >iron ball</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://images.moneycontrol.com/static-mcnews/2023/02/Collage-Maker-25-Feb-2023-09.23-AM-770x435.jpg" alt="">

                <textarea id="text" readonly> There were speculations about the object being a spying device or a UFO. (Image credit; Twitter)

For days, a huge iron ball washed ashore in Japan drew fervent speculation -- could it be a UFO? an explosive? an espionage device?

With tensions running high globally because of the China spy balloon row, authorities swooped down on Enshu beach in Japan's Hamamatsu city, secured the area and begun examining the sphere.

An x-ray of the rusty ball revealed it wasn't a mine that came through the sea route.

Turns out, it was just scrap metal --likely a buoy once used to anchor a ship, The New York Times reported.

The sphere will be eventually be disposed of, but for now, is in the possession of a local company, an official told the newspaper.

Meanwhile, experts said such devices are commonly used for shipping and ocean research and they thought the response to the Japan incident is odd.

“Maybe everybody is paranoid because of balloons,” US-based oceanographer Uwe Send told The Times.

Earlier this week, a witness also said the object had been at the beach for a month and he had gone ahead to move it, clearly not anticipating any danger.

"I tried to push it, but it wouldn’t budge," he told Japan's NHK.

The incident in Japan came amid heightened tensions over alleged espionage acts.

Earlier in February, the United States shot down a balloon that it alleged was sent by China to spy on its strategic locations.

Beijing denied the accusations, claiming that the balloon was meant for weather-related research and had just veered off course

In turn, it also accused the US of sending spy balloons to its territory.

The episode renewed tensions between the global superpowers, leading to US cancelling Secretary of State Antony Blinken's trip to China. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>