<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natalie Portman on children working in entertainment: 'I don't believe that kids should work'</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="For Natalie Portman, surviving the pitfalls of showbiz is no mere child’s play.
">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Natalie Portman on children working in entertainment: 'I don't believe that kids should work'</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.usatoday.com/gcdn/authoring/authoring-images/2023/09/05/USAT/70766057007-ap-germany-motor-show.jpg?crop=6669,3767,x0,y153&width=3200&height=1808&format=pjpg&auto=webp" alt="">

                <textarea id="text" readonly> For Natalie Portman, surviving the pitfalls of showbiz is no mere child’s play.

Portman, a former child star herself, opened up about her views on children working in the entertainment industry during an appearance on Variety’s Awards Circuit Podcast published Thursday.

“I would not encourage young people to go into this. I don’t mean ever; I mean as children,” Portman said. “I feel it was almost an accident of luck that I was not harmed, also combined with very overprotective, wonderful parents. You don’t like it when you’re a kid, and you’re grateful for it when you’re an adult.”

At the age of 13, Portman made her cinematic debut with a starring role in the Luc Besson-directed crime drama “Léon: The Professional.” The 1994 film grossed $19.5 million at the box office and earned Portman a Young Artist Award nomination for best motion-picture performance by a young actress.

However, the film’s success also brought unwanted scrutiny of Portman’s sexuality. The “May December” star reflected on this sexualization during an appearance at the 2018 Women’s March in Los Angeles.

"I was so excited at 13 when the film was released, and my work and my art would have a human response. I excitedly opened my first fan mail to read a rape fantasy that a man had written me,” Portman said at the time. “A countdown was started on my local radio show to my 18th birthday, euphemistically the date that I would be legal to sleep with. Movie reviewers talked about my budding breasts in reviews."

While Portman acknowledged the progress made in the entertainment industry in recent years, the actress told Variety she remains firm in her position on keeping children out of the industry.

“I’ve heard too many bad stories to think that any children should be part of it,” Portman said. “Having said that, I know all the conversations that we’ve been having these past few years. It’s made people more aware and careful. But ultimately, I don’t believe that kids should work. I think kids should play and go to school.”

Natalie Portman:Being sexualized as 'Lolita figure' as a young actress 'made me afraid'

'It’s gross and it's true':Millie Bobby Brown says she's been sexualized from a young age </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>