<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Elon Musk biography offers fresh details about the billionaire's Ukraine dilemma</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Editor’s Note: After this story published, Walter Isaacson clarified his explana">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>New Elon Musk biography offers fresh details about the billionaire's Ukraine dilemma</p>
            <span id="topic" >Elon Musk</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://media.cnn.com/api/v1/images/stellar/prod/230906131951-isaacson-musk-biography-cover.jpg?c=16x9&q=w_800,c_fill" alt="">

                <textarea id="text" readonly> Editor’s Note: After this story published, Walter Isaacson clarified his explanation regarding Elon Musk restricting Ukrainian military access to Starlink, a critical satellite internet service. This story has been updated to reflect that change.

CNN —

Elon Musk secretly ordered his engineers not to turn on his company’s Starlink satellite communications network near the Crimean coast last year to disrupt a Ukrainian sneak attack on the Russian naval fleet, according to an excerpt adapted from Walter Isaacson’s new biography of the eccentric billionaire titled “Elon Musk.”

CNN was provided the excerpt, which has since been amended, according to a version now published by The Washington Post.

Musk’s decision, which left Ukrainian officials begging him to turn the satellites on, was driven by an acute fear that Russia would respond to a Ukrainian attack on Crimea with nuclear weapons, a fear driven home by Musk’s conversations with senior Russian officials, according to Isaacson, whose new book is set to be released by Simon & Schuster on September 12.

Musk’s concerns over a “mini-Pearl Harbor” as he put it, did not come to pass in Crimea. But the episode reveals the unique position Musk found himself in as the war in Ukraine unfolded. Whether intended or not, he had become a power broker US officials couldn’t ignore.

Musk did not respond to CNN’s request for comment before publication. But he did respond to the Isaacson book excerpt late Thursday on X, the platform formerly known as Twitter that he owns, by asserting that the Starlink service provided by his company SpaceX was never active over Crimea and that the Ukrainian government made an “emergency request” to him to turn on service.

“There was an emergency request from government authorities to activate Starlink all the way to Sevastopol,” Musk posted on X, the platform formally known as Twitter that he owns. Sevastopol is a port city in Crimea. “The obvious intent being to sink most of the Russian fleet at anchor. If I had agreed to their request, then SpaceX would be explicitly complicit in a major act of war and conflict escalation.”

The new book from Isaacson, the author of acclaimed biographies of Steve Jobs and Albert Einstein, provides fresh insights into Musk and how his existential dread of sparking a wider war drove him to spurn Ukrainian requests for Starlink systems they could use to attack the Russians.

After Russia disrupted Ukraine’s communications systems just before its full-scale invasion in February 2022, Musk agreed to provide Ukraine with millions of dollars of SpaceX-made Starlink satellite terminals, which became crucial to Ukraine’s military operations. Even as cellular phone and internet networks had been destroyed, the Starlink terminals allowed Ukraine to fight and stay connected.

But once Ukraine began to use Starlink terminals for offensive attacks against Russia, Musk started to second-guess that decision.

“How am I in this war?” Musk asks Isaacson. “Starlink was not meant to be involved in wars. It was so people can watch Netflix and chill and get online for school and do good peaceful things, not drone strikes.”

Musk was soon on the phone with President Joe Biden’s national security adviser, Jake Sullivan, the chairman of the joint chiefs, Gen. Mark Milley, and the Russian ambassador to the US to address anxieties from Washington, DC, to Moscow, writes Isaacson.

Meanwhile, Mykhailo Fedorov, a deputy prime minister of Ukraine, was pleading with Musk to allow connectivity for the submarine drones by telling Musk about their capabilities in a text message, according to Isaacson. “I just want you—the person who is changing the world through technology—to know this,” Fedorov told Musk.

SpaceX did not reply to CNN’s requests for comment.

A Ukrainian soldier disconnects their Starlink on the front line during a ceasefire announced by Russia over the Orthodox Christmas period, January 6, 2023. Clodagh Kilcoyne/Reuters

Musk, the CEO of electric carmaker Tesla and private space exploration firm SpaceX, replied that he was impressed with the design of the submarine drones but that he wouldn’t turn satellite coverage on for Crimea because Ukraine “is now going too far and inviting strategic defeat,” according to Isaacson.

The unchartered territory that Ukrainian and US officials were in – relying on the charity of an unpredictable billionaire for battlefield communications – also led to a standoff over who would pay for the Starlink terminals last fall.

SpaceX had spent tens of millions of its own money sending the satellite equipment to Ukraine, according to Musk. And the company told the Pentagon that they wouldn’t continue to foot the bill for the satellite gear, as CNN first reported last October.

After CNN’s reporting, Musk reversed course, tweeting “the hell with it … we’ll just keep funding Ukraine govt for free.”

Gwynne Shotwell, Musk’s president at SpaceX, was livid at Musk’s reversal, according to Isaacson.

“The Pentagon had a $145 million check ready to hand to me, literally,” Isaacson quotes Shotwell as saying. “Then Elon succumbed to the bullshit on Twitter and to the haters at the Pentagon who leaked the story.”

But SpaceX was eventually able to work out a deal with the US and European governments to pay for another 100,000 new satellite dishes to Ukraine at the beginning of 2023, according to Isaacson.

Starlink’s importance in the war hasn’t waned.

Last week, the US and its “Five Eyes” allies accused Russian hackers of targeting Ukrainian commanders’ battlefield communications. The Russians’ malicious code was designed to intercept data sent to Starlink satellites, according to the Ukrainians. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>