<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFL power rankings Week 12: Eagles, Chiefs affirm their place at top</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="NFL power rankings entering Week 12 of the 2023 season (previous rank in parenth">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>NFL power rankings Week 12: Eagles, Chiefs affirm their place at top</p>
            <span id="topic" >usa</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.usatoday.com/gcdn/authoring/authoring-images/2023/11/21/USAT/71663098007-power-12.jpg?crop=844,475,x836,y818&width=844&height=475&format=pjpg&auto=webp" alt="">

                <textarea id="text" readonly> NFL power rankings entering Week 12 of the 2023 season (previous rank in parentheses):

1. Eagles (1): Monday night, C Jason Kelce got his long-awaited victory over former coach Andy Reid and current brother Travis Kelce. The schedule won't let up for Philly over the next month, but the reigning NFC champs proved – maybe, most importantly, to themselves? – that they can beat anyone and anywhere.

2. Chiefs (2): Of course, if WR Marquez Valdes-Scantling makes a play at game's end – or had Taylor Swift been able to attend – Reid would be 5-0 against his former team while establishing a K.C. record with 125 regular-season wins. The defending champions will certainly be back … though work to be done to reclaim the AFC's No. 1 seed from Baltimore. A generally forgiving cluster of games down the stretch should help to that end.

3. 49ers (3): Brock Purdy, "Mr. Irrelevant," has faced No. 1 overall draft pick QBs each of the past three games, winning twice. His next three matchups are with second-rounders before he sees Kyler Murray, the top pick in 2019, in Week 15. All of those opposing passers will draw a San Francisco defense depleted by the loss of All-Pro S Talanoa Hufanga (torn ACL).

4. Ravens (5): Baltimore's top-ranked running game is in fine shape, Lamar Jackson now the first quarterback in league history to rush for at least 500 yards in each of his first six seasons. RB Gus Edwards has 10 TDs already after totaling nine over the previous three years. But a 20th-ranked passing game better hope TE Isaiah Likely can capably fill in for injured All-Pro Mark Andrews.

NFL STATS CENTRAL: The latest NFL scores, schedules, odds, stats and more.

5. Cowboys (7): CB DaRon Bland's next pick-six will give him the NFL's single-season record, which is great. However WR CeeDee Lamb is the only Dallas player with more TDs (6) than Bland's four … which is not as great.

6. Lions (6): A team that has zero NFC North crowns to its credit has won seven consecutive divisional games for the first time since the 1970 AFL-NFL merger. They can run that streak to eight on Thanksgiving by beating Green Bay.

7. Dolphins (8): CB Jalen Ramsey is already having a measurable impact on an ascending defense, picking off three passes in the three games since he returned from July knee surgery. "He's the best corner in the league, man," said Miami WR Tyreek Hill on Sunday.

8. Texans (9): Sweep Jacksonville on Sunday, and Houston assumes first place in the AFC South. And it's not just rookie QB C.J. Stroud doing work. LB Blake Cashman is a tackling machine (19 against Arizona), while highly touted CB Derek Stingley Jr. picked off his first pass of 2023, matching the total from his disappointing rookie year.

9. Jaguars (11): Regarding that consequential divisional battle in Houston? The Jags have lost 10 of 11 to the Texans, though the lone victory was at NRG Stadium on New Year's Day this year.

10. Browns (4): Why is DE Myles Garrett in position to get some MVP traction? He's on pace for 22 sacks, seven forced fumbles and roughly 50 pressures. For a team with such a decimated offense, why not consider making him the first defender to get the hardware since Hall of Famer Lawrence Taylor in 1986?

11. Bills (14): Sunday’s offensive revival was fantastic. But how about newly acquired CB Rasul Douglas picking off two passes – ending a seven-game drought for Buffalo − and recovering a fumble? Takeaway machine. Imagine if he played against Josh Allen …

12. Steelers (12): Sunday's loss at Cleveland snapped Pittsburgh's nine-game winning streak in contests decided by one score. But maybe frustrated RB Najee Harris and Co. can open up a sizable lead at Cincinnati in Week 12 against the Burrow-less Bengals? If not, welp – gonna need something else since the "Blame Canada" excuse evaporated.

13. Rams (19): A receiving tandem of Cooper Kupp and Puka Nacua is fancy, yet LA hasn't netted more than 220 yards through the air in the past six games.

14. Seahawks (13): LB Bobby Wagner has played 12 seasons and, after Sunday, has compiled at least 100 tackles in all of them. See you in Canton -- eventually -- BWagz.

15. Broncos (23): Still wondering where Minnesota defenders thought Denver WR Jerry Jeudy was going to throw that ball. But maybe such a juke is apropos after the Broncos faked an early season death.

16. Colts (17): Coming out of the bye week, only two of Indianapolis' final seven opponents (Pittsburgh and Houston) are above .500. Sleep on these guys at your peril.

17. Chargers (15): A win in Week 12 will make QB Justin Herbert 30-30 as an NFL starter in the regular season. Beat Baltimore by two, and the Bolts will have scored and surrendered the same number of points since he became the starter in Week 2 of the 2020 campaign.

18. Vikings (16): Joshua Dobbs' singularly circuitous season continues with the quarterback becoming the first in NFL history to have both a TD pass and run in his first three games with a team.

19. Raiders (18): Now the AFC's least productive rushing offense (79 yards per game), Sunday's 36-yard output was a season low. Confounding, especially given interim HC Antonio Pierce has identified franchised RB Josh Jacobs (the league rushing champ in 2022) as player Las Vegas should build around.

20. Cardinals (27): QB Kyler Murray's next game with both a rushing and passing TD would give him 18 in his career and mean he'd only trail Cam Newton (31 games) and Allen (25) for the most in a player's first five NFL seasons.

21. Buccaneers (21): WR Mike Evans needs 220 more receiving yards to give him at least 1,000 in all 10 of his NFL seasons. Never been done before.

22. Saints (22): The only NFC team to wrap its interconference schedule, what should be a rested New Orleans squad needs to start stacking wins and tiebreakers in a closely packed NFC South.

23. Titans (24): Why are they burning the play that results in a TD pass to Pro Bowl DT Jeffery Simmons when they're trailing by 27 points?

24. Falcons (25): None of their final seven opponents currently boasts a winning record. In golf, this would be "moving day" for Atlanta.

25. Packers (26): Sunday's 322-yard passing outburst from QB Jordan Love cleared his previous career high by 33 yards. Thank you, Chargers defense.

26. Bengals (10): All due respect to Jake Browning, but Cincinnati seems dead in the water without QB1 Joe Burrow.

27. Jets (20): All due respect to Zach Wilson … and Tim Boyle … but the NYJ seem dead in the water without QB1 Aaron Rodgers. Until they're not?

28. Bears (28): After rejoining the lineup Sunday, Justin Fields appeared to be back in prime form, rushing for at least 100 yards for the fifth time in his three-year career. Only Jackson (13 games) and Michael Vick (10) have more among quarterbacks in NFL history.

29. Patriots (30): After losing two Super Bowls to the Giants, Bill Belichick can get a measure of revenge Sunday. An infinitesimal measure of revenge.

30. Giants (32): They're 2-0 against Washington, and 1-8 versus the rest of the league. All four of Big Blue's first-half TDs this season have also come against the Commanders, who also brought out HC Brian Daboll's lighter side when it came time to assess rookie QB Tommy DeVito.

31. Commanders (29): At least when embattled HC Ron Rivera tells his players to hit the showers in Dallas on Thanksgiving … they'll be able to.

32. Panthers (31): They haven't clinched the top pick of the 2024 draft − for Chicago – yet. But Carolina is assured of a sixth consecutive losing season since owner David Tepper assumed control of the franchise in 2018.

***

Follow USA TODAY Sports' Nate Davis on X, formerly Twitter @ByNateDavis. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>