<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niger junta revokes law curbing migrant smuggling from Africa to Europe</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Niger’s junta has signed a decree revoking a 2015 law that was enacted to curb t">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Niger junta revokes law curbing migrant smuggling from Africa to Europe</p>
            <span id="topic" >World</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://s.france24.com/media/display/fa928c0e-8d69-11ee-a2a0-005056a90284/w:1280/p:16x9/000_1CQ35E.jpg" alt="">

                <textarea id="text" readonly> Niger’s junta has signed a decree revoking a 2015 law that was enacted to curb the smuggling of migrants traveling from African countries through a key migration route in Niger en route to Europe, according to a government circular issued on Monday.

A group of migrant men, mainly from Niger and Nigeria, sit in the back of a pickup on January 22, 2019, during a journey across the Air desert, in northern Niger, towards the Libyan border post of Gatrone.

Advertising Read more

“The convictions pronounced pursuant to said law and their effects shall be cancelled,” Niger’s junta leader, Gen. Abdourahmane Tchiani, said in a Nov. 25 decree, a copy of which was seen Monday by The Associated Press.

All those convicted under the law would be considered for release by the Ministry of Justice, Ibrahim Jean Etienne, the secretary general of the justice ministry said in the circular.

The revocation of the law adds a new twist to growing political tensions between Niger and EU countries that sanctioned the West African nation in response to the July coup that deposed its democratically elected president and brought the junta into power.

Niger’s Agadez region is a gateway from West Africa to the Sahara and it has been a key route both for Africans trying to reach Libya to cross the Mediterranean to Europe and for those who are returning home with help from the United Nations.

But the route has also become a lucrative place for people smugglers, prompting Niger's government, working with the European Union, to sign the 2015 law to stop the movement of at least 4,000 migrants which the UN estimates travel through Agadez every week without travel documents.

The law empowered security forces and the courts to prosecute smugglers who faced up to five years in prison if convicted.

While the law transformed Niger into a migration hub housing thousands of migrants being returned to their countries, the UN human rights office has also noted that it “led migrants to seek increasingly dangerous migratory routes, leading to increased risks of human rights violations.”

Following the July 26 coup, which deposed Niger’s President Mohamed Bazoum, Western and European countries suspended aid for health, security and infrastructure needs to the country, which relies heavily on foreign support as one of the least developed nations in the world.

Rather than deter the soldiers who deposed Bazoum, the sanctions have resulted in economic hardship for Nigeriens and emboldened the junta. It has set up a transitional government that could remain in power for up to three years.

(AP)

Daily newsletterReceive essential international news every morning Subscribe </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>