<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nigeria crypto usage growing further, report says</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Representations of cryptocurrencies are seen in this illustration, August 10, 20">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Nigeria crypto usage growing further, report says</p>
            <span id="topic" >crypto</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.reuters.com/resizer/xTN_w6bEGIrdArCCNImqU8X1WnY=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/VEMNAX3DIBMGZGCA5HIDFVEFVM.jpg" alt="">

                <textarea id="text" readonly> Representations of cryptocurrencies are seen in this illustration, August 10, 2022. REUTERS/Dado Ruvic/Illustration Acquire Licensing Rights

JOHANNESBURG, Sept 19 (Reuters) - Cryptocurrency usage is growing in Nigeria as Africa's largest economy grapples with a weakening currency and soaring inflation, New York-based blockchain research firm Chainalysis said in a report on Tuesday.

Nigeria's volume of crypto transactions grew 9% year-over-year to $56.7 billion between July 2022 and June 2023. In Uganda, crypto use is smaller but growing fast, rising 245% to $1.6 billion in the same period, while its use in Kenya fell more than a half to $8.4 billion, the report said.

In Nigeria, interest in bitcoin and stablecoins - crypto tokens whose monetary value is pegged to a stable asset to protect from wild volatility - increased when the naira's value plunged, particularly during the most extreme drops in June and July of 2023, Chainalysis said.

The currency weakened to record lows after President Bola Tinubu embarked on some of the boldest reforms that Nigeria has seen in years, including scrapping a popular but costly petrol subsidy and removing some exchange rate restrictions.

"People are constantly looking for opportunities to hedge against the devaluation of the naira and the persistent economic decline since COVID," Moyo Sodipo, co-founder of Nigeria-based cryptocurrency exchange Busha, said in a statement shared with the report.

Nigeria barred its banks and financial institutions from dealing in or facilitating transactions in cryptocurrencies in 2021.

Last year, the country's financial regulator published a set of regulations for digital assets, signalling Africa's most populous country was trying to find a middle ground between an outright ban on crypto assets and their unregulated use.

Nigeria's young, tech-savvy population has eagerly adopted cryptocurrencies, for example using peer-to-peer trading offered by crypto exchanges to avoid the financial sector ban.

Reporting by Anait Miridzhanian; Editing by Rachel Savage and Rosalba O'Brien

Our Standards: The Thomson Reuters Trust Principles. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>