<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nintendo, PlayStation, And Xbox Gift Cards Are On Sale For Black Friday</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Who doesn't love free money? That's the Black Friday deal on right now at Amazon">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Nintendo, PlayStation, And Xbox Gift Cards Are On Sale For Black Friday</p>
            <span id="topic" >technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.gamespot.com/a/uploads/screen_kubrick/1601/16018044/4225007-gift-cards.jpg" alt="">

                <textarea id="text" readonly> Who doesn't love free money? That's the Black Friday deal on right now at Amazon, Walmart, and Target. Although as the old saying goes, you'll have to spend some money to make some money. Amazon has 10% discounts on Nintendo eShop and Xbox Store gift cards. Walmart and Target have those deals as well as the same offer on PlayStation Store gift cards.

Considering that digital storefronts for all three console platforms are hosting big sales right now, you can essentially get an even bigger discount than advertised by first purchasing a gift card before shopping the eShop, PSN, and Xbox Store sales. We're saying "gift card," but your digital voucher will be delivered instantly, so you can buy the games you want right away.

You can also save on select online subscriptions, including Nintendo Switch Online and Xbox/PC Game Pass.

Black Friday: eShop, PSN, and Xbox Store gift card deals

All gift cards are delivered as digital codes.

Amazon

Walmart

Target

The denominations vary by retailer and platform, but you can spend as little as $5 or as much as $110. Of course, you could always by multiple codes. There isn't a limit on any of these.

As mentioned, the good news is that you can save even more with all the Black Friday sales now on at PlayStation, Xbox, and Nintendo. Alternatively, you could save your gift cards and put that cash toward an upcoming game you're interested in.

Black Friday: Nintendo Switch Online + Game Pass subscription deals

Nintendo Switch owners can save on all four Nintendo Switch Online membership options, including family memberships for up to eight users and the Expansion Pack tier, which comes with access to classic Nintendo 64, Game Boy Advance, and Sega Genesis games as well DLC for Mario Kart 8 Deluxe and Animal Crossing: New Horizons. Here's where you can get Switch Online and Game Pass deals:

Amazon

Target

StackCommerce

1-Month Xbox Game Pass Ultimate -- $10 ( $17 ) | Only for new and returning subscribers (not active members) </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>