<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Norovirus Outbreak Linked To $1 Burritos For Northwestern Students</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Health & Fitness Norovirus Outbreak Linked To $1 Burritos For Northwestern Stude">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Norovirus Outbreak Linked To $1 Burritos For Northwestern Students</p>
            <span id="topic" >health</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sat-6, 2023</b>
                </span>
                <br><br>
                <img src="https://patch.com/img/cdn20/shutterstock/22915293/20231124/122704/styles/patch_image/public/shutterstock-375044836___24115935490.jpg" alt="">

                <textarea id="text" readonly> Health & Fitness Norovirus Outbreak Linked To $1 Burritos For Northwestern Students Buyers of the bargain burritos began feeling ill a day after the promotion at the downtown Evanston taco shop, health officials said.

The Evanston Health and Human Services Department said a norovirus outbreak has been linked to an event at Big Wig Tacos, 950 Church St., which offered $1 burritos for NU students from 1 to 8 p.m. on Nov. 18. (Shutterstock)

EVANSTON, IL — A promotion offering $1 burritos to students at Northwestern University last week has been linked to a norovirus outbreak, city health officials announced.

The Evanston Health and Human Services Department started getting complaints a day after the Nov. 18 event at Big Wig Tacos & Burritos, 950 Church St. Health department investigators determined people who consumed food from the downtown eatery soon began experiencing stomach cramps, vomiting and diarrhea, according to an announcement city staff.

Health department staff carried out an immediate inspection of the taco shop, whose management has fully cooperated during the investigation. City staff confirmed the shop had an employee health policy and reviewed its cleaning and sanitation procedures.

Jose Manolo Estrada, the president of Big Wig Tacos, issued a statement in response to reports of the outbreak.

"While there have been reported cases, we are not certain that the outbreak originated at our restaurant," Estrada said, noting that the restaurant had passed a routine inspection prior to the event. "Nevertheless, we are taking immediate and comprehensive measures to address the situation. We are taking extra steps to thoroughly clean and sanitize, with a particular focus on areas that may be susceptible to the transmission of viruses," Estrada said.

"In collaboration with local health authorities, we are actively participating in the investigation to determine the source and extent of the outbreak," he added. "Our staff members are being closely monitored for symptoms, and no staff member has shown signs of symptoms." City officials encouraged anyone who ate food from Big Wig Tacos & Burritos on Nov. 18 to fill out an online questionnaire, regardless of whether they fell ill.

Northwestern representatives have been assisting the city's health department, according to staff. University officials have reportedly begun collecting stool samples from symptomatic students. Health officials said a promotion offering $1 tacos to Northwestern University students at Big Wig Tacos, 950 Church St., in Evanston has been linked to an outbreak of norovirus. (Google Maps) Norovirus is a highly contagious virus that leads to symptoms about 12 to 48 hours after exposure. Those symptoms generally last up to three days. It can be spread by having any direct contact with someone who has norovirus or by touching contaminated surfaces and then putting hands or fingers into a mouth, according to the CDC.

The virus is known for its ability to spread quickly in group settings like universities, hospitals and cruise ships. Its hardy nature allows it to survive on surfaces and objects for days or weeks, plus it can withstand temperatures as high as 140°F and as low as freezing.

Patch asked city staff how many cases have been reported. Any information received will be added here. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>