<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novak Djokovic beaten as Jannik Sinner helps Italy past Serbia and into Davis Cup final with sensational victory</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Davis Cup highlights: Sinner saves three match points to beat Djokovic and keep ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Novak Djokovic beaten as Jannik Sinner helps Italy past Serbia and into Davis Cup final with sensational victory</p>
            <span id="topic" >Davis Cup</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://imgresizer.eurosport.com/unsafe/2560x1440/filters:format(jpeg)/origin-imgresizer.eurosport.com/2023/11/25/3832058-77874088-2560-1440.jpg" alt="">

                <textarea id="text" readonly> Davis Cup highlights: Sinner saves three match points to beat Djokovic and keep tie alive

Italy booked a place in the Davis Cup final for the first time since 1998 as Jannik Sinner helped to stun Novak Djokovic and Serbia.

The first rubber of the tie at Malaga's Palacio de los Deportes was between Italy’s Lorenzo Musetti and Serbia’s Miomir Kecmanovic.

Despite Musetti winning the first set after a dramatic tie-break, Kecmanovic turned proceedings around and eventually triumphed 6-7(7) 6-1 6-1.

Up next was the blockbuster clash between world No. 1 Djokovic and Sinner.

The pair had met in the ATP finals just last week, with Djokovic earning a record seventh title at the prestigious end-of-season tournament after defeating the Italian in straight sets.

It was a more competitive three-set encounter here though, with Sinner beating his rival 6-2 2-6 7-5 in a thriller.

It looked as if Djokovic would take victory, and subsequently book Serbia a place in the final, when he found himself 40-0 up in the ninth game of the third set.

But Sinner managed to save three match points to keep Italy’s hopes alive, before breaking to take a 6-5 lead. Djokovic was unable to fight back in the final game, over hitting his serve to give Sinner the victory.

It was the first time in Djokovic’s career that he had failed to convert three successive match points.

The tie therefore went to a deciding doubles match, contested by the Serbian pairing of Djokovic and Kecmanovic, and the Italian duo of Sinner and Lorenzo Sonego.

And it was ultimately a straightforward result for Sinner and Sonego, who triumphed 6-3 6-4. The victory gave Italy a 2-1 lead in the tie, and a place in Sunday’s final against Australia.

Australia, captained by Lleyton Hewitt, defeated Finland 2-0 in the other semi-final. They were also in last year’s final, but lost to Canada.

“It was a rollercoaster," Sinner said. "Happy to still be in the competition. We were one point away from being out."

- - - </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>