<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>November 26, 2023 Israel-Hamas war</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Undated photo of Abigail Edan. Elizabeth Hirsh Naftali

Another 17 hostages held">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>November 26, 2023 Israel-Hamas war</p>
            <span id="topic" >Gaza</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://cdn.cnn.com/cnnnext/dam/assets/231124164803-rba-israel-01-super-tease.jpg" alt="">

                <textarea id="text" readonly> Undated photo of Abigail Edan. Elizabeth Hirsh Naftali

Another 17 hostages held in Gaza have been released on Sunday, the third such handover during a four-day truce between Israel and Hamas.

The group was made up of Israelis, dual Israeli citizens and Thai nationals, Israel's military said.

Among the freed hostages was 4-year-old American-Israeli Abigail Edan whose release marks the first time an American hostage has been successfully freed since the start of the truce. US President Joe Biden, who praised Edan's release in an address Sunday, spoke with the girl's family Sunday afternoon, according to the White House.

The 4-year-old is now receiving treatment at a hospital near Tel Aviv, a spokesperson from the Hostage and Missing Families’ Forum told CNN. The 16 other freed hostages had also been transferred to hospitals by late Sunday evening local time, according to information released by Israel’s Ministry of Health.

Officials released a full list of the freed hostages' names and ages. They include two mothers with their children and a pair of siblings.

If you’re just joining us, here are today's other key headlines:

Palestinian teens released from Israel jails: Thirty-nine prisoners and detainees from a total of seven Israeli prisons were released Sunday as part of the deal between Israel and Hamas, the Israel Prison Service confirmed. The group is made up of boys aged 18 and younger; two are 15, and one — the youngest released — is 14.

Twenty-three of those released had been held under administrative detention, a widely criticized practice in which a detainee is unaware of any charges against them, and their case is not subject to any legal process.

Talks of extending truce: Hamas wants to extend its four-day truce with Israel beyond Monday through an agreement to free more imprisoned Palestinians, it said in a statement after the latest transfer. Israel's war cabinet discussed the possibility at its meeting Sunday evening, a source told CNN, and their conditions remain unchanged: Hamas would need to release an additional 10 hostages for each additional day’s pause in the fighting.

Key nations also support extension: US President Joe Biden's goal is to extend the pause in fighting to try to ensure the safe release of more hostages and to get critical aid to civilians in the enclave, he said in a news conference Sunday. Qatar, which played a central role in mediating the original agreement, said it too was hoping to extend the truce.

Aid trucks enter Gaza: At least 120 aid trucks have entered Gaza through the Rafah border on Sunday, the Egyptian government confirmed. The delivery of aid to Gaza has been a key factor in sustaining the truce and exchanges between Israel and Hamas.

Hostages leave hospital: Some Israelis from the first wave of released hostages — members of two families — have been discharged from the Schneider Children’s Medical Hospital in Israel, it announced Sunday. They are the first former hostages to be discharged.

Palestinians killed in West Bank: Eight Palestinians were killed by Israeli gunfire in the occupied West Bank over the course of 24 hours, the Palestinian Ministry of Health said in a statement Sunday. CNN has asked the Israel Defense Forces for comment about the killings.

This post has been updated with the latest on the freed hostages and talks to potentially extend the truce. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>