<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPEC+ looking at deeper oil cuts ahead of Thursday meeting</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The logo of the Organization of the Petroleoum Exporting Countries (OPEC) is see">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>OPEC+ looking at deeper oil cuts ahead of Thursday meeting</p>
            <span id="topic" >Business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://www.reuters.com/resizer/45XY-Ski1PHOxoPkOQINDaTmItA=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/OIPTI4NZMFKY3HLEIYSPSQGVDQ.jpg" alt="">

                <textarea id="text" readonly> The logo of the Organization of the Petroleoum Exporting Countries (OPEC) is seen outside of OPEC's headquarters in Vienna, Austria April 9, 2020. REUTERS/Leonhard Foeger/File Photo Acquire Licensing Rights

LONDON, Nov 27 (Reuters) - OPEC+ is looking at deepening oil production cuts despite its policy meeting being postponed to this Thursday amid a quota disagreement between some producers, an OPEC+ source said on Monday.

Several analysts have said they expect OPEC+ to extend or even deepen supply cuts into next year in order to support prices, which on Monday were trading just above $80 a barrel , down from near $98 in late September.

An OPEC+ source said he expected there to be an option for a "collective further reduction" on Thursday, without providing details. OPEC+ sources earlier this month said the group was set to consider additional cuts.

The Organization of the Petroleum Exporting Countries (OPEC) and allies led by Russia, known as OPEC+, will begin its online meetings to decide oil output levels at 1300 GMT on Thursday, according to a draft agenda seen by Reuters on Monday.

The meeting was delayed from Nov. 26. OPEC+ sources said this was because of a disagreement over output levels for African producers, although sources have since said the group has moved closer to a compromise on this point.

OPEC member Kuwait is committed to any decisions issued by OPEC, especially those that concern market quotas and oil production, the country's oil ministry said in a post on social media platform X.

On Thursday at 1300 GMT, ministers on an advisory panel called the Joint Ministerial Monitoring Committee hold talks. This will be followed at 1400 GMT by a meeting of the full policy-making group of OPEC+ ministers, the agenda showed.

Saudi Arabia, Russia and other members of OPEC+ have already pledged total oil output cuts of about 5 million barrels per day (bpd), or about 5% of daily global demand, in a series of steps that started in late 2022.

This includes Saudi Arabia's additional voluntary production cut of 1 million bpd which is due to expire at the end of December, and a Russian export cut of 300,000 bpd also until the end of the year.

Reporting by Ahmad Ghaddar and Alex Lawler, Editing by Louise Heavens, Dmitry Zhdannikov and Christina Fincher

Our Standards: The Thomson Reuters Trust Principles. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>