<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPEC+ talks tough, policy rollover possible, sources say</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The logo of the Organization of the Petroleoum Exporting Countries (OPEC) is see">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>OPEC+ talks tough, policy rollover possible, sources say</p>
            <span id="topic" >Business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://www.reuters.com/resizer/45XY-Ski1PHOxoPkOQINDaTmItA=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/OIPTI4NZMFKY3HLEIYSPSQGVDQ.jpg" alt="">

                <textarea id="text" readonly> The logo of the Organization of the Petroleoum Exporting Countries (OPEC) is seen outside of OPEC's headquarters in Vienna, Austria April 9, 2020. REUTERS/Leonhard Foeger/File Photo Acquire Licensing Rights

LONDON, Nov 28 (Reuters) - OPEC+ talks on 2024 oil policy are difficult, making a rollover of the previous agreement a possibility rather than deeper production cuts, four OPEC+ sources said on Tuesday.

The OPEC+ group comprising the Organization of the Petroleum Exporting Countries (OPEC) and allies led by Russia is scheduled to meet online on Thursday to decide oil output levels for 2024, according to a draft agenda seen by Reuters on Monday.

A further delay to the meeting is possible, the sources indicated. Two of the sources said an additional cut - a step that sources have said would be looked at - was not being actively discussed.

"Everyone is just holding their positions," one of the sources said.

The meeting has already been delayed from Nov. 26. OPEC+ sources said this was because of a disagreement over output levels for African producers, though sources have since said the group has moved closer to a compromise on this point.

The Brent crude price benchmark was up 74 cents at $80.72 a barrel by 1418 GMT.

OPEC's previous meeting in June had already extended output cuts into 2024.

Saudi Arabia, Russia and other members of OPEC+ have already pledged total oil output cuts of about 5 million barrels per day (bpd), about 5% of daily global demand, in a series of steps that started in late 2022.

This includes Saudi Arabia's additional voluntary production cut of 1 million bpd, which is due to expire at the end of December, and a Russian export cut of 300,000 bpd until the end of the year.

Reporting by Maha El Dahan, Ahmad Ghaddar,Olesya Astakhova and Lamine Chikhi Writing and additional reporting by Alex Lawler Editing by Kirsten Donovan, Susan Fenton and David Goodman

Our Standards: The Thomson Reuters Trust Principles. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>