<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palestinian militants execute 2 alleged Israeli collaborators and publicly display their corpses on the West Bank, say reports</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Two Palestinian men accused of collaborating with the IDF were executed, say rep">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Palestinian militants execute 2 alleged Israeli collaborators and publicly display their corpses on the West Bank, say reports</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sat-6, 2023</b>
                </span>
                <br><br>
                <img src="https://i.insider.com/65622d3ffe5bc6545ebbef02?width=1200&format=jpeg" alt="">

                <textarea id="text" readonly> Two Palestinian men accused of collaborating with the IDF were executed, say reports.

The men were reportedly complicit in the deaths of three Palestinian fighter.

The "Resistance Security" organization behind the executions declared a zero-tolerance policy for informants.

NEW LOOK Sign up to get the inside scoop on today’s biggest stories in markets, tech, and business — delivered daily. Read preview Loading Something is loading. Thanks for signing up! Access your favorite topics in a personalized feed while you're on the go. download the app Email address Sign up By clicking “Sign Up”, you accept our Terms of Service and Privacy Policy . You can opt-out at any time.

Advertisement

Two Palestinians accused of collaborating with Israel were executed and their corpses put on public display, Israeli news outlets reported.

The two men were executed in Tulkarm on the West Bank, accused of being Israeli collaborators on Friday night, per i24NEWS.

The men, whom Israeli media disclosed as 31-year-old Hamza Mabarech and 29-year-old Azzam Joabra, were accused of being involved in the death of three Hamas and Palestinian Islamic Jihad terrorists earlier this month, according to the N12 new outlet.

The suspects, one of whom detailed the collaboration in video recordings, confessed to receiving substantial sums — 17,000 shekels ($4,600) and 10,000 shekels ($2,700), respectively.

Advertisement

Videos on social media appeared to show one man suspended from an electricity pylon and a second hanging upside down from a wall. A large crowd gathered to chant "Allahu Akbar," and many appear to be filming the bodies.

Insider was unable to verify the footage.

Executions by firing squad

לפחות 3 הוצאות להורג הלילה בטול כרם וג'נין בחשד לשיתוף פעולה עם ישראל. נסיון העבר מלמד שפעמים רבות יש טעויות בזיהוי, סגירת חשבונות על דברים אחרים ולעיתים לא. זה לא משנה את העובדה שאת התמונות האלה צריכה ישראל להציג בכל נציגות דיפלומטית אפשרית ובנוסף הן מייצגות את אווירת המלחמה… pic.twitter.com/2WqQt52drH — טל לב רם (@tallevram) November 25, 2023

The self-proclaimed "Resistance Security" organization claimed responsibility for the executions by firing squad, emphasizing a zero-tolerance policy for informants or traitors, said reports.

The statement warned that anyone proven to be involved in the assassination of their fighters would face severe consequences, including the possibility of a death sentence.

Advertisement

A third man accused of being a spy was executed in Jenin, also on the West Bank, The Jerusalem Post reported.

Violence in the West Bank has dramatically increased since the Hamas terrorist attacks on Israel on October 7 . The IDF's actions in the West Bank have focused on arrests and targeted assassinations. Extremist Jewish settlers have also launched attacks on Palestinian civilians.

During a recent operation in the Tulkarm refugee camp, military forces uncovered roads rigged with explosives, accompanied by aerial attacks on terrorists, per Ynet. The operation resulted in the deaths of six individuals believed to be involved in militant activities. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>