<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pandya set to return to Mumbai Indians: Reports</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Indian all-rounder Hardik Pandya will leave Gujarat Titans and return to his pre">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Pandya set to return to Mumbai Indians: Reports</p>
            <span id="topic" >rachin ravindra</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://tds-images.thedailystar.net/sites/default/files/styles/social_share/public/images/2023/04/02/hardik_pandya_.jpg?itok=0aljn8cS" alt="">

                <textarea id="text" readonly> Indian all-rounder Hardik Pandya will leave Gujarat Titans and return to his previous franchise the Mumbai Indians in the next edition of the Indian Premier League (IPL), reported cricket website espncricinfo.

Pandya, who began his IPL career in 2015 in Mumbai, captained Gujarat in the previous two editions, leading them to the trophy in 2021 and to a runners-up finish in 2022.

But Gujarat has decided to trade their captain to Mumbai for an undisclosed transfer fee.

Neither franchises have made the deal official yet. The deadline to complete the trade will expire on November 26.

If the trade happens, it will be the biggest in IPL history. It will also be the third time that an IPL team has traded their captain from the previous season. Earlier in 2020, Punjab Kings and Rajasthan Royals traded their respective captains Ravichandran Ashwin and Ajinkya Rahane to the Delhi Capitals. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>