<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panthers fire Frank Reich just 11 games into his first season as coach</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Panthers fire Frank Reich just 11 games into his first season as coach

Frank Re">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Panthers fire Frank Reich just 11 games into his first season as coach</p>
            <span id="topic" >Frank Reich</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://s.yimg.com/ny/api/res/1.2/pljHbPx71_.WRPF6vQTWwg--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD04MDA-/https://s.yimg.com/os/creatr-uploaded-images/2023-11/a97d6540-8d33-11ee-8f5b-dda21b9b4358" alt="">

                <textarea id="text" readonly> Panthers fire Frank Reich just 11 games into his first season as coach

Frank Reich didn't even make it through a full season as the Carolina Panthers' head coach. Reich was fired Monday after another loss dropped the Panthers to 1-10 on the season, the team announced.

Reich, 61, was hired by the team in January. The team bypassed then interim coach Steve Wilks, who went 6-6 down the stretch to finish out 2022, to hire Reich.

Panthers owner David Tepper announced the firing in a statement, which read:

"I met with Coach Reich this morning and informed him that he will not continue as head coach of the Carolina Panthers. I want to thank Frank for his dedication and service, and we wish him well. Effective immediately, Special Teams Coordinator Chris Tabor will serve as our interim head coach. Senior Assistant Jim Caldwell will be a special advisor to Offensive Coordinator Thomas Brown, who will take over play calling duties."

Special teams coordinator Chris Tabor will take over as the team's interim head coach. Tabor is a long-time coordinator in the NFL. He served as a head coach for one game with the Chicago Bears in 2020 after Matt Nagy — the Bears' head coach at the time — tested positive for COVID-19. The Bears lost the game, 33-22, giving Tabor an 0-1 record as a head coach.

The team also announced former Detroit Lions coach Jim Caldwell will serve as a special advisor to offensive coordinator Thomas Brown, who will call plays now that Reich is gone. Reich opened the 2023 season calling plays, but eventually turned that responsibility over to Brown as the team struggled to put points on the board. Brown called plays for three games before Reich took back play-calling duties.

Frank Reich is out as Panthers coach. (AP Photo/(John Amis) (ASSOCIATED PRESS)

Players reportedly first saw the Reich news on social media, according to Mike Kaye of the Charlotte Observer. A team meeting was called after Reich's firing hit X, the website formerly known as Twitter.

The team also fired quarterback coach Josh McCown and running back coach Duce Staley, per Tom Pelissero of NFL Network.

The #Panthers also fired QB coach Josh McCown and assistant head coach/RB coach Duce Staley, per sources. — Tom Pelissero (@TomPelissero) November 27, 2023

Staley was also the team's assistant head coach.

Those firings were reportedly made by Tabor and Caldwell, per Ian Rapoport of NFL Network. The Panthers confirmed both moves and said Tabor was involved in them.

Bryce Young has struggled after going No. 1 overall

With Reich out, it will be up to Brown, Caldwell and Tabor to see if they can get more out of No. 1 overall pick Bryce Young. In nine games, Young has thrown 9 touchdowns against 8 interceptions. Meanwhile, C.J. Stroud, who went No. 2 overall, looks like a star with the Houston Texans. Stroud has 19 touchdowns and 5 interceptions in 11 games and received some MVP buzz.

If the current group of coaches can't figure out how to get Young to produce at a high level, that responsibility will fall to the next head coach of the Panthers. The team reportedly liked Lions offensive coordinator Ben Johnson last offseason, and could pursue him again if Tabor doesn't work out. Johnson helped Jared Goff get back to the Pro Bowl in 2022 after a three-year absence from the event.

Frank Reich joins disappointing list of one-and-done NFL head coaches

Firing Reich is surprising, though not unprecedented. A handful of NFL head coaches have been fired during, or just after, their first season with a team. Some of the more recent names on that list include Urban Meyer, Nathaniel Hackett, Jim Tomsula and Bobby Petrino. It's not the most encouraging list.

Reich could work his way back to a head-coaching role in the near future, though. While things didn't work out in Carolina, Reich posted a 40-33-1 record in five seasons with the Indianapolis Colts before joining the Panthers. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>