<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paris mayor says she's quitting Elon Musk's 'global sewer' platform X</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="FILE - Paris Mayor Anne Hidalgo delivers her speech during a political meeting w">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Paris mayor says she's quitting Elon Musk's 'global sewer' platform X</p>
            <span id="topic" >Elon Musk</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://i.abcnewsfe.com/a/0183f319-75c2-4c66-8d6d-b68f2f185345/wirestory_d96cbad42c8bea40e19e728920bc7293_16x9.jpg?w=992" alt="">

                <textarea id="text" readonly> FILE - Paris Mayor Anne Hidalgo delivers her speech during a political meeting with the French Employers' association (MEDEF) at the Station F startup campus, in Paris, France, Monday, Feb. 21, 2022. The mayor of future Olympic host city Paris says she is quitting X, accusing Elon Musk's platform previously known as Twitter of spreading disinformation and hatred and of becoming a “gigantic global sewer” that is toxic for democracy and constructive debate. (AP Photo/Michel Euler, File)

FILE - Paris Mayor Anne Hidalgo delivers her speech during a political meeting with the French Employers' association (MEDEF) at the Station F startup campus, in Paris, France, Monday, Feb. 21, 2022. The mayor of future Olympic host city Paris says she is quitting X, accusing Elon Musk's platform previously known as Twitter of spreading disinformation and hatred and of becoming a “gigantic global sewer” that is toxic for democracy and constructive debate. (AP Photo/Michel Euler, File)

FILE - Paris Mayor Anne Hidalgo delivers her speech during a political meeting with the French Employers' association (MEDEF) at the Station F startup campus, in Paris, France, Monday, Feb. 21, 2022. The mayor of future Olympic host city Paris says she is quitting X, accusing Elon Musk's platform previously known as Twitter of spreading disinformation and hatred and of becoming a “gigantic global sewer” that is toxic for democracy and constructive debate. (AP Photo/Michel Euler, File)

FILE - Paris Mayor Anne Hidalgo delivers her speech during a political meeting with the French Employers' association (MEDEF) at the Station F startup campus, in Paris, France, Monday, Feb. 21, 2022. The mayor of future Olympic host city Paris says she is quitting X, accusing Elon Musk's platform previously known as Twitter of spreading disinformation and hatred and of becoming a “gigantic global sewer” that is toxic for democracy and constructive debate. (AP Photo/Michel Euler, File)

The mayor of future Olympic host city Paris says she is quitting X

PARIS -- The mayor of future Olympic host city Paris says she is quitting X, accusing Elon Musk 's platform previously known as of spreading disinformation and hatred and of becoming a “gigantic global sewer” that is toxic for democracy and constructive debate.

“With its thousands of anonymous accounts and its troll farms, life on Twitter is the exact opposite of democratic life,” Mayor Anne Hidalgo said in a long post titled, “Why I am leaving Twitter.”

“I refuse to endorse this evil scheme,” she wrote.

An Associated Press request for comment emailed to X got an automated reply, “Busy now, please check back later.”

Hidalgo's office said posts on Monday in French and English that announced her departure from X would be the Socialist mayor's last and that she will then close her account — which has 1.5 million followers — at the end of the week.

Her office said that Paris City Hall is keeping its own separate account on X.

Hidalgo's withdrawal from X follows a fractious period for the mayor. She has faced criticism from political opponents over the expense and need for a trip she made in October to the French South Pacific territories of New Caledonia and Tahiti. The Olympic surfing competition next July is being held on Tahiti’s world-famous Teahupo’o wave.

She also locked horns last week with government ministers over the French capital's readiness for the 2024 Summer Games. Hidalgo said some transport options won't be ready for the July 26-Aug. 11 Olympics. Firing back, Transport Minister Clement Beaune said the mayor's comments were a “shameful” attempt to divert attention from her Pacific voyage.

Hidalgo's office said her decision to leave X was not in response to the recent criticism but was thought-out over time. Musk took control of Twitter in October 2022 and has dismantled some of its core features.

“We are dealing here with an utterly clear political project to push aside democracy and its values in favor of powerful private interests,” Hidalgo wrote. “This medium has become a gigantic global sewer, and we should continue to wade into it?”

___

Follow AP's coverage of the Paris Olympics: https://apnews.com/hub/2024-paris-olympic-games </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>