<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partners to help Ukraine strengthen Odesa Oblast air defense, guard ships in Black Sea</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Odesa Oblast "will soon be protected by very powerful air defense" with the help">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Partners to help Ukraine strengthen Odesa Oblast air defense, guard ships in Black Sea</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://media.zenfs.com/en/kyiv_independent_articles_496/69dd01f06bed7ba11992f5133855dd51" alt="">

                <textarea id="text" readonly> Odesa Oblast "will soon be protected by very powerful air defense" with the help of Ukraine's partners, President Volodymyr Zelensky said after the International Summit on Food Security on Nov. 25.

According to Zelensky, there are "agreements and a positive signal from partners" on new air defense equipment for the southern region regularly targeted by Russian forces since the termination of the U.N.-brokered grain deal.

Ukraine's allies have also started supplying the country with boats to escort ships passing through the Black Sea humanitarian corridor, the president said at a press conference.

Zelensky didn't specify which countries have provided or will provide such equipment and how many boats have been delivered so far.

The humanitarian corridor was opened in August after Russia withdrew from the Black Sea Grain initiative, which had allowed Ukraine to export its agricultural products during the full-scale invasion. Russia then threatened that all ships sailing to Ukrainian ports would be considered legitimate targets.

Read also: Is Ukraine’s new Black Sea corridor working? Experts say it has potential

Ukraine has reportedly managed to export almost four million metric tons of food and goods through the temporary corridor, but the safety of cargo ships is not guaranteed.

A Russian missile hit a civilian ship at a port in Odesa Oblast on Nov. 8, killing one crewmember and injuring four others.

The Nov. 25 summit in Kyiv aimed "to strengthen Ukraine's role as a guarantor of food security, to consolidate efforts to ensure global food security and to develop alternative logistics routes for the export of agricultural products from our country," according to the Presidential Office.

Swiss President Alain Berset, Latvian President Edgars Rinkevics, and Lithuanian Prime Minister Ingrid Simonite visited the summit in person. Leaders of Poland, Estonia, Italy, the Netherlands, Belgium, and Guatemala took part virtually.

The "Grain from Ukraine" summit coincided with the Holodomor Memorial Day, marking the 90th anniversary of a man-made famine orchestrated by the Soviet authorities between 1932-33 that caused an estimated 3.5 to 5 million Ukrainian deaths.

"Never again should hunger become a weapon against people's freedom. And anyone who tries to exploit hunger in this way, anyone whose terror serves the chaos of the food market, must be held accountable to the whole world. Russia must be held responsible," Zelensky concluded.

We’ve been working hard to bring you independent, locally-sourced news from Ukraine. Consider supporting the Kyiv Independent. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>