<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul Lynch’s ‘Prophet Song’ wins the Booker Prize</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Listen 3 min Share Comment on this story Comment Add to your saved stories Save
">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Paul Lynch’s ‘Prophet Song’ wins the Booker Prize</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/2G3SXLHXZFHPPFJ426P33254PQ_size-normalized.jpg&w=1440" alt="">

                <textarea id="text" readonly> Listen 3 min Share Comment on this story Comment Add to your saved stories Save

“Prophet Song,” the fifth novel by Irish writer Paul Lynch, has won this year’s Booker Prize. “Well, there goes my hard-won anonymity,” Lynch quipped upon accepting the prize, which comes with an award of 50,000 pounds (about $63,000). Wp Get the full experience. Choose your plan ArrowRight The novel imagines Ireland descending into fascism, and follows the efforts of Eilish Stack, a scientist and mother of four, after her husband, a leader in the teachers union, gets hauled in for questioning by the secret police. The prose hews closely to Eilish’s perspective, and a lack of paragraph breaks and quotation marks helps to evoke a sense of claustrophobic dread.

Lynch’s novel “captures the social and political anxieties of our current moment. Readers will find it soul-shattering and true, and will not soon forget its warnings,” said Esi Edugyan, the chair of this year’s judging panel for the Booker Prize.

Advertisement

Lynch was one of three novelists with the first name Paul on this year’s shortlist for the prize, awarded annually to a work of longform fiction published in Britain and Ireland. He was also one of four Irish writers longlisted this year, and the fifth Irish author to win the prize in its history. (The Northern Irish writer Anna Burns won in 2018 for “Milkman,” also a dark commentary on totalitarianism with very few paragraph breaks.)

“Prophet Song,” a speculative political thriller, stands apart from Lynch’s past work — largely pastoral historical novels set in Western Ireland. His debut, “Red Sky in Morning,” told the story of a 19th-century tenant farmer; he followed that with “The Black Snow,” about a cattle farmer in 1945, and “Grace,” about two siblings struggling to survive the Irish Famine. “Beyond the Sea,” taking place closer to the present day, stranded its characters, two South American fishermen, in the wake of a storm in the Pacific Ocean.

Share this article Share

Lynch spent four years writing “Prophet Song,” he wrote in a recent piece for the Guardian, and had in mind world events including Brexit and the rise of nationalism in Europe. But he didn’t intend to write a political novel or a straightforwardly “speculative” one: “How can such a novel be speculative when what is happening on these pages belongs to the here and now?”

Advertisement

The judges met Saturday to choose the winner, deliberating for six hours. The decision was not unanimous, Edugyan said during a news conference Sunday, but “it was really a very collegial discussion.”

Though Lynch’s novel might seem especially topical or timely, she said, the judges also wanted the winning novel to have a sense of timelessness, and “Prophet Song” fit the bill: “It deals with timeless themes of repression, that impulse to always save one’s family, familial love, having to endure during difficult times. Obviously, these are themes that we’re seeing on a grand scale playing out in the world politically today, but that wasn’t the driving, central discussion of this book. It was more about what the book was doing on its own terms.”

“Prophet Song” will be published in the United States on Dec. 12. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>