<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People Are Sharing Family Secrets Revealed After Family Members Died, And Some Of These Are Pretty Wild</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="9.

"I'm African American and my husband is white. My father faced a lot of prej">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>People Are Sharing Family Secrets Revealed After Family Members Died, And Some Of These Are Pretty Wild</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://img.buzzfeed.com/buzzfeed-static/static/2023-11/26/16/enhanced/cc3da74753e4/original-885-1701016961-2.jpg?crop=1243:651;0,88%26downsize=1250:*" alt="">

                <textarea id="text" readonly> 9.

"I'm African American and my husband is white. My father faced a lot of prejudice during his lifetime, and I was terrified of telling him that the 'white guy' I'd been on a date or two with I was getting serious with. The first time I brought my now husband home, my dad was courteous but distant. Miraculously, by the second time, my father literally gushed all over my husband. When we got married, he was beaming. My father died in 2021. When my siblings and I cleaned out the house, we found letters that my husband had written to my father about how he felt about me, how he was serious about his relationship with me, how he respected that he'd gone through so much in his lifetime, and how he was going to propose. My husband never told me he'd written my father, and my father never told me he'd been corresponding with my husband. When I got home, my husband finally showed me the letters my father had written back." </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>