<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phantoms topple Team USA 5-4 in back-and-forth tilt</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="YOUNGSTOWN — Faced with a team throwing everything at them, the Youngstown Phant">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Phantoms topple Team USA 5-4 in back-and-forth tilt</p>
            <span id="topic" >usa</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://ogden_images.s3.amazonaws.com/www.vindy.com/images/2023/11/24235204/Phantoms.jpg" alt="">

                <textarea id="text" readonly> YOUNGSTOWN — Faced with a team throwing everything at them, the Youngstown Phantoms found a way to win.

The US National Team Development Program came out aggressive, scoring first, but the Phantoms shut them down, securing a 5-4 victory.

Wins aren’t always pretty, but they don’t need to be.

“I thought it was sloppy. We had the day off yesterday for the holiday and you know, I thought we just gave up too much,” Phantoms coach Ryan Ward said. “We worked hard in the first period, but overall it was good to get a win. We had a morning skate today, I thought the guys obviously dug deep and never quit, so that was good. We’ve got to clean a little bit up here. We’ll have three days of practice before we go to the American Cup, so we’re excited for that and overall, it’s always good to get two points at home.”

After the first meeting of the year ended in a 12-0 decision, Team USA came into Friday’s game determined to avenge that loss.

Despite the great chances early, the U17s got on the board first. Boston University commit Jack Murtagh hit the top-right corner to beat Owen Bartoszkiewicz and put Team USA up.

Their lead was brief as Phantoms forward Brecken Smith matched it with a goal of his own.

Smith is in his first full season with the Phantoms and has put up six points (three goals, three assists) through 17 games.

“It’s been pretty good so far,” the Miami (Ohio) commit said. “I mean, it’s kind of a step (up) from AAA hockey, but it’s good right now. Just need to keep rolling.”

Then captain Andrew Strathmann stepped in to retake the lead for the Phantoms. Strathmann had a shot later on in the game which was mere centimeters from being a goal, but bounced off the post and out.

Team USA’s Cullen Potter knotted the game again to close the first period tied 2-2.

Sam Ranallo opened the third period by putting the Phantoms back up once again.

Newest Phantoms acquisition Daniel Jencko made his debut on the Covelli Centre ice and shined, scoring his first goal in Youngstown.

The scrappy U17 squad didn’t go down without a fight, however, as Will Moore helped cut the lead to 4-3 in the third period.

But every Team USA goal was matched with a Youngstown goal to follow. After Moore cut the lead, Jencko extended it. Sascha Boumedienne weaved the puck through traffic and Jencko knocked it in.

“The first goal was a one-timer from (Strathmann). A perfect fake and it went past me to the open net. It was an easy job,” Jencko said. “The other one it was just the tip (of the stick). Stay in front of the net and do my job.”

The Slovakian forward has had no issues translating his game to North America, putting up four points (three goals, one assist) in three games.

“He’s super poised, super smart, can play every situation, obviously on the powerplay, he helps a ton — just his poise and he’s cerebral. The way he thinks the game is highly above average,” Ward said. “He shoots the puck a ton. He’s a great kid, a great teammate. We’re excited to have him. He’s just going to continue to grow as he gets more comfortable here in Youngstown.”

Refusing to go away, the younger NTDP squad put up one final effort. Conrad Fondrk cut into the lead once again to make it 5-4 in favor of Youngstown, but the Phantoms closed things out.

Bartoszkiewicz finished the game with 19 saves.

The Phantoms (13-4-2-0, 28 points) have a pair of games against Muskegon set to bookend November and December. Both games will be held in Rochester, NY as a part of the USHL American Cup. Both games start at 6 p.m. The Phantoms then return to Youngstown on Dec. 15 for a tilt against the USNTDP U18s.

byauger@tribtoday.com </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>