<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popular Classic Carolina store reopens in wake of family tragedy</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="If you're looking for Tar Heel gear, Classic Carolina in the heart of Franklin S">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Popular Classic Carolina store reopens in wake of family tragedy</p>
            <span id="topic" >business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://cdn.abcotvs.com/dip/images/14104057_112523-wtvd-classic-carolina-clean-img.jpg?w=1600" alt="">

                <textarea id="text" readonly> If you're looking for Tar Heel gear, Classic Carolina in the heart of Franklin Street, is a one-stop shop.

CHAPEL HILL, N.C. (WTVD) -- If you're looking for Tar Heel gear, Classic Carolina in the heart of Franklin Street, is a one-stop shop.

And on a busy shopping day - Small Business Saturday combined with a big UNC-NC State matchup, it's keeping owner Krystal Chellani on her toes, which these days is a good distraction.

"It's been difficult I'm still having a hard time believing that this happened," Chellani said.

For the entire 30 years she's been alive, her dad Dhruva "Drew" Chellani built Classic Carolina from the ground up, becoming a fixture in the community.

After closing for a few months, Drew was set to retire back in September and hand the reins to his son Kris. But tragically, just days before the grand reopening, both father and son were killed in a head-on car crash that also injured Drew's wife, Nina.

The unthinkable tragedy put the future of the store in jeopardy, but in the midst of their grief, Drew's daughter and Kris' sister Krystal decided she wanted to keep the legacy alive, reopening the store just a few weeks ago.

"They were just really friendly faces in the community so I hope to also be one of those friendly faces," Krystal said.

Krystal will tell you her brother Kris was always the one with the business mind -- Kris was a UNC grad and he had just moved back from New York City and been working for months renovating the entire store.

"He put barcoding technology all over the store, he revamped the store's website, revamped the social media," Krystal said.

Now that's Krystal's job -- working through her grief and also the challenges of learning how to run a business. But she's not alone.

"I was in retirement actually so I just came out to help Krystal as much as possible," said Mohan Chellani, Krystal's uncle.

Mohan had been excited for his brother to join him in retirement, and they had plans for travel in the next few weeks. Instead, he's now helping keep his brother's legacy alive.

"This will be a healing process also, so it's just not building the business, but it's also a way of moving forward after the tragedy," he said.

They say part of what's gotten them through has been loyal customers coming back and sharing their memories, but they're also gaining new customers.

Avery Conzelmann said the store caught her eye walking by. A recent Clemson grad, she is now preparing for pharmacy grad school at UNC and needed Carolina gear.

"When we walked in she welcomed us and was very helpful with everything," Avery said. She said she normally opts for small businesses because of service and selection.

It's that personal touch that Krystal hopes to keep alive for another 30 years, just like her dad and brother would have wanted.

"Every day that I show up everything that I'm doing is just for them so definitely hope that they're proud," Krystal says.

Meanwhile, Krystal's mom is still recovering from the car accident at the hospital.

The store has been adjusting its hours to stay open longer if it get waves of customers coming through. You can also find them online at ClassicCarolinaUNC.com </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>