<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pottery Barn Cyber Monday Sale 2023: 24 Great Deals to Shop</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Furniture Deals

Contract Grade Dream Square Wide Arm Upholstered Modular Sofa C">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Pottery Barn Cyber Monday Sale 2023: 24 Great Deals to Shop</p>
            <span id="topic" >Cyber Monday</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://media.architecturaldigest.com/photos/655b857ef62271dabdecfa5e/16:9/w_1280,c_limit/AD.CL_11.20_Pottery-Barn-BF-CM-Sale-Post.jpg" alt="">

                <textarea id="text" readonly> Furniture Deals

Contract Grade Dream Square Wide Arm Upholstered Modular Sofa Chaise Sectional $6,196 $4,954 Pottery Barn

We can’t get enough of this 2022 Seat Week winner, which is endlessly versatile and stylish. “I want to live my life on this couch—that’s how comfortable it is,” our reviewer J. Nailah Avery wrote. “When you lay down on the couch, you really get a feel for how roomy it is. It feels like it stretches on and on, even when more than one person is on it.” It’s even dog-friendly, and there are plenty of fabric swatches to pick from.

Stash your wine, aperitivos, and liquor in this stately bar cabinet that’s lightened up by cane door panels. There are plenty of shelves for maximum storage, including a drawer for barware and anything that doesn’t fit in your kitchen drawers.

This Bauhaus-esque armchair has thick, plush cushions you’ll sink into after a long day at work. You can customize the color of the leather and the solid oak stain on the frame to fit your space’s aesthetic.

For small spaces, it’s key to have extra seating that doesn’t take up a lot of real estate. We’re partial to this comfy but sturdy (and sizable!) swivel stool. You could always use it as seating for a bathroom vanity, or as a footstool. There are dozens of fabric swatches to choose from, too.

Make a bold statement with this handsome coffee table that marries modern design with a traditional finish. Lighten it up with some curvy vases and bright coffee table books, or lean into the moodiness with a candle and some leather coasters.

This wooden bed frame is one of our favorites of 2023, thanks to its high-quality build and seamless assembly. It also doesn’t require a box spring, which is always a plus. Choose from four wood finishes, then top it off with your mattress, fluffy comforter and quilts, and far more pillows than you actually need.

Another striking bar cabinet, this one’s ribbed paneling is calling our name. It nods to the trending mid-century modern aesthetic without going all in. Once you open the doors, there are shelves galore (seriously, we counted nine), plus a drawer and slots to keep your wine glasses.

OK this floor lamp with it’s wooden beadboard details and white shade is really just too cool. We love the tricolor look and streamlined silhouette, and we love that it’s $150 off even more!

This is a truly versatile piece that could live in a modern farmhouse home or look just as comfortable in a place with a more minimalist, Scandi vibe. Plus, you will be saving over $400 on this solid mango wood and pine piece, making it a must-have in our books.

We would be remiss to not mention at least one of Pottery Barn’s window coverings. The brand designs their curtains so they can be hung one of three ways—pole pocket, hanging loops, ring top–which makes them a super versatile investment. This raw silk linen option is especially expensive looking, but is currently over $40 off. Available in ivory (pictured) or a more oatmeal colored neutral, they will complete any room they enter.

Home Decor Deals

Our hot tip for shopping the Pottery Barn Black Friday sale? Don’t skimp on accents like pillows and throws, because they’re normally quite pricey. This bestselling boucle pillow is a nice addition to any couch or bed. Since they aren’t patterned, they’ll be versatile for years to come.

This large, sculptural table lamp lights up an entryway or side table. It’s made with marble, brass, and steel that will fit right in any modern home.

Who can resist a supremely soft and cozy throw blanket? Even if you have a bunch already, these reversible Fireside throws are some of Pottery Barns bestsellers—and for a reason. They’re roomy for snuggling up with a partner, and you can just toss them in the washing machine when they get dirty.

It is an unfortunate fact of life that rugs, something most of us need in one form or another, are expensive. And they’re one of the few items we would not recommend going cheap on. Luckily, the Pottery Barn Cyber Monday sale has quality textiles at really reasonable prices, this hand-tufted wool rug being case in point. Over $100 off the 5' by 8' version, it is available in four shades and five sizes to fit your home with ease.

If wool isn’t your vibe, do not fear. The sale also includes rugs made of more earthy fiber options like this great braided jute rug. Available in two sizes (6' or 8') and three neutral hues, we could see it taking space in a beach home, a more casual living room, or a coastal-inspired bedroom where you need a little extra padding under foot.

If you ask us, no home is complete without at least one ottoman for putting your feet up at the end of the day. Even better if it can do double duty as a side table or extra storage.

Is there such a thing as too many throw pillows? We will leave that question there but also let you know that this faux fur style is a Pottery Barn bestseller for a good reason! Super soft and visually appealing, they are also up to $10 off right now.

Tabletop and Bar Deals

A classy ice bucket is another must for the host in charge. You wouldn’t want your guests sitting around with lukewarm holiday cocktails would you? This stainless steel and acacia wood ice bucket is even smarter than it looks—it has an internal reserve for the melted ice to keep it away from the fresh stuff. Designed in partnership with leading mixologist Charles Joly, you can tell every detail was kept in mind when crafting this heirloom piece.

Sit these fired terracotta bowls atop your dining table or kitchen island to liven up the space. Maybe you keep them empty, or use them as functional pieces to hold produce, candy, or other odds and ends.

Chateau Handcrafted Acacia Wood Cheese & Charcuterie Boards $69 $48 Pottery Barn

If you’re still using a cutting board for all of your charcuterie presentations, now is the time to buy the real deal. Pottery Barn’s acacia wood boards are durable and sleek—and you can add a monogram, too, which makes them lovely anytime of the year gifts to give and receive.

Julia Berolzheimer May Dinner Plates - Set of 4 $70 $41 Pottery Barn

Made in collaboration with lifestyle creator Julia Berolzheimer, these floral dinner plates feel vintage—without the long list of care instructions that often come along with older pieces (yes, that’s right, they are dishwasher, oven and microwave safe). They also make stunning holiday gifts for anyone who just moved into a new home or simply appreciates a good floral.

Neree Reactive Glaze 16-Piece Dinnerware Set With Double Bowls $199 $159 Pottery Barn

For a more everyday vibe, here is a nice deal on a 16-piece stoneware set that can be used in the microwave and is also dishwasher safe. It has pretty much everything you need for a modern home—including extra bowls for all purpose meals—and is a cool $60 off during the sale.

Pottery Barn Kids Deals

It is a not-so-well-kept secret that Pottery Barn Kids is where the best stuff can be found. An example: This totally sophisticated light fixture, which is now just $120.

One of our all-time faves for toy storage, this super playful wicker basket would be a great fit in any nursery or kid room. It’s also charming enough that you could leave it out in grown up spaces without it feeling out of place. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>