<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier League appears fractured as external pressures continue to mount</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="For a competition defined by its drama, the goings-on at a Premier League shareh">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Premier League appears fractured as external pressures continue to mount</p>
            <span id="topic" >premier league</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://i.guim.co.uk/img/media/2a78cc5fa9da0b4353a0a998380c6780d0ce3ac2/0_0_3500_2101/master/3500.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctZGVmYXVsdC5wbmc&enable=upscale&s=87aef4715d1de0919c8c8ab3d9f714f5" alt="">

                <textarea id="text" readonly> For a competition defined by its drama, the goings-on at a Premier League shareholders’ meeting are pretty dreary. A function suite at a posh central London hotel, a group of executives (mostly men) burrowing in and out discreetly, an announcement that might require a small tweak to the rulebook. It’s hardly Jamie Carragher v Gary Neville on Monday Night Football.

Yet this week’s gathering at the Churchill hotel in Marylebone proved to be eyebrow raising. It was a meeting whose outcome suggests not only a divided competition, but one that may be struggling to deal with the challenges it is facing.

On Tuesday Premier League clubs voted against a proposal to temporarily ban loans of players between clubs that share the same ownership. They also voted against tougher rules on clubs doing sponsorship deals with companies that have ownership links. Both changes had been proposed by the Premier League and were rejected. This doesn’t happen very often at all.

The meeting also ended without a resolution on what has been called the New Deal for football. For two years, the Premier League has been under pressure from government to give more money to the EFL to help with the financial stress many lower-league clubs are under. That money has yet to materialise, with the Premier League preferring a broader deal that restructures a number of elements of the English game, from controls on spending to the structure of the Bristol Street Motors Trophy.

Expectations had been raised (including from within the Premier League) that the offer would be finalised this week. Instead, there was three hours of debate on the topic in which every club aired their opinions and some said the proposals were unworkable for them. The same proposals that have been mooted, in some form, for more than a year.

On two important issues, the Premier League had been unable to bring its various members to agreement. It happens. But this is not a good time for the league to look fractured. On 21 December the game is expecting a ruling from the European court of justice on whether new competitions such as the European Super League (ESL) require the approval of a governing body to be established. Closer to home, the bill on an independent regulator for football is expected before parliament. Both could have a significant impact on the way the league operates.

Six members of the Premier League agreed to join the ESL two years ago. They have since made public apologies and agreed to charters that commit them to the status quo. The remnants of the ESL project also appear laughable. But the threat of a breakaway competition, in some form, has not gone away. If it returns, the clubs that jumped ship in 2021 will be invited to join again.

The idea of a European Super League has not gone away despite the negative fan reaction to the idea in 2021. Photograph: Rafael Henrique/Sopa Images/Shutterstock

Keeping the big six on side has always been one of the key jobs of the Premier League’s management, something that Richard Masters inherited in November 2019, four months before Covid caused the football season to be suspended. But this group is not the only faction that Masters has to contend with. The vote on related-party loans threw up eight refuseniks with one thing in common: they were either part of or likely to become part of a multi-club ownership group. A trend that has swept through European football in the past five years, multi-club ownership is popular with American investors, and American investors have a stake in close to half the league’s clubs.

skip past newsletter promotion Sign up to Football Daily Free daily newsletter Kick off your evenings with the Guardian's take on the world of football Privacy Notice: Newsletters may contain info about charities, online ads, and content funded by outside parties. For more information see our Newsletters may contain info about charities, online ads, and content funded by outside parties. For more information see our Privacy Policy . We use Google reCaptcha to protect our website and the Google Privacy Policy and Terms of Service apply. after newsletter promotion

Three of the league’s clubs, meanwhile, have owners from the Gulf, with two of those owned by sovereign wealth funds (two are also part of multi-club groups). There are, as always, a number of smaller clubs whose priorities are shaped by the possibility of relegation. Another faction, that of the British entrepreneurial owner, has also manifested itself of late, however. Led by Steve Parish of Crystal Palace, they are resistant to the influence of the big six and changes that would lead to money flowing from the top flight down the pyramid. This group has been increasingly assertive in the past three years.

The voting structure of the Premier League – with any motion requiring the consent of 14 from 20 clubs to pass – has in the past enabled the competition to stop the big six getting their way, but required the other 14 to act collectively. The votes this week suggest that this structure can no longer be relied upon. The absence of agreement on a deal with the EFL, meanwhile, suggests clubs are not particularly influenced by the direction of the league’s executives, nor by the promptings of the government, which has long threatened to pass the issue of redistribution to the regulator should a deal not be struck.

Clubs in the EFL are watching the apparent fractures in the league and wondering whether they may be better off waiting for the regulator to settle things (they are also very much in need of the money). Government ministers are also looking at the same time as they are settling on the final wording of the bill for a regulator. Should it have the lightest of light touches or be more interventionist? The Premier League, quite strikingly, has to this point failed to make the former case persuasively. With time running out, it could be sending the signal that it doesn’t know which direction it wants to take at all. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>