<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PS5 Cyber Monday: These Are Today's Best Deals</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Cyber Monday has arrived, and that means one thing, more deals. Well, it actuall">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>PS5 Cyber Monday: These Are Today's Best Deals</p>
            <span id="topic" >Cyber Monday</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://assets-prd.ignimgs.com/2023/11/27/ps5-cyber-monday-deals-where-to-buy-ign-2023-new-1701078203760.png?width=1280" alt="">

                <textarea id="text" readonly> Cyber Monday has arrived, and that means one thing, more deals. Well, it actually means two things, the deals are also coming to a close. November 27 is the cut-off date for most retailers and brands when it comes to Black Friday and Cyber Monday deals this year, so this is your last chance to save.

Even before today, some deals have already started to sell out due to popularity -- so it's officially time to make those purchases ASAP to ensure you're not disappointed at the end of today. Hot tips on what's popular and a good deal: The Spider-Man 2 PS5 slim bundles are by far the most popular Black Friday and Cyber Monday deals in gaming offer so far this shopping season.

We've also been blessed with Final Fantasy 16 for $35, 30% off PS Plus, DualSense Controllers for $49, and a whole slew of other PS5 games on sale. Check out everything just below or follow @IGNDeals for even more updates on the best deals today.

TL;DR - Best PS5 Black Friday Deals

Cyber Monday PS5 Console Deals

Cyber Monday Deal PS5 Spider-Man 2 Bundle (Slim Model) Includes Spider-Man 2 for free. 11% off $559.99 49 $499.00 See on Amazon

Cyber Monday Deal PS5 Call of Duty Modern Warfare 3 Bundle (Slim Model) Includes Modern Warfare III for free. 11% off $559.99 33 $499.00 See on Amazon

In case you missed it, Sony has been busy making a new slim version of the PS5 console, and they're still available on Cyber Monday. The bundles were a bit hard to get hold of at first, but the stock has leveled out and the deal is regularly available right now with either Spider-Man 2 or Call of Duty Modern Warfare 3 (see here at Amazon). PSA: This deal will expire after today and return to the price of $559.99. This is your last chance to save. If you're 100% digital, the PS5 Slim Digital Edition is also now available for $449.99 at Amazon - see below.

PS5 Slim Digital Edition Is Now Available

Now Available PS5 Digital (Slim Model) 25 $449.99 See on Amazon

Best PS5 SSD Deals for Cyber Monday 2023

Cyber Monday Deal Lexar NM790 1TB Gaming SSD w/ Heatsink 36% off $79.99 1 $50.95 See on Amazon Cyber Monday Deal Nextorage Japan 2TB Gaming SSD with Heatsink Back in stock. 23% off $129.99 2 $99.99 See on Amazon Cyber Monday Deal Nextorage Japan 1TB Gaming SSD with Heatsink Last chance. 20% off $69.99 6 $55.99 See on Amazon

Cyber Monday means lots of SSD deals for PS5 players, such as this 2TB PS5-compatible SSD for just $99.99. You can also get yourself a 1TB PS5 SSD for just $51 today, which is another excellent deal if you aren't keen on the added cost for a 2TB. Looking for more PS5 SSDs? Check out the full list of the best Cyber Monday PS5 SSD deals for all the latest on todays last minute savings.

Save 10% Off PlayStation Wallet Funds for Cyber Monday

Wait! Before you purchase anything on the digital PlayStation Store or buy/upgrade your PS Plus membership, consider these PlayStation Gift Cards which are currently 10% off. Now while these 'gift cards' do make wonderful gifts for the PlayStation fan in your life, there's nothing stopping you from just applying the code provided to your account. Buy as many of these as you like, and apply as many codes as you see fit in order to make the most savings (including on PS Plus), but this is also your last chance to do so. The $110 gift card deal has expired, but the $70, $55, and $40 cards are still 10% off at the time of writing.

PS5 Controller Cyber Monday Deals: DualSense for $49

One of the more standout deals for the Black Friday and Cyber Monday weekend is Sony's DualSense Black Friday deal. Opting for controllers like the Volcanic Red, Cobalt Blue, Galactic Purple or Gray Camo is your best bet as these are some of the most popular, tend to sell out during sale events, and cost the most at $74.99 MSRP -- so buying at the $49 Black Friday offer will maximize your savings. Many of these even sold out over the weekend, but are now back for Cyber Monday! You should probably consider making your purchase soon to avoid disappointment, as the CYber Monday sales do indicate the end of this deal.

See More DualSense Deals

PS5 Cyber Monday Game Deals

One of the very best things about Cyber Monday is all the amazing savings on video games. This includes discounts on Hogwarts Legacy, Final Fantasy 16, Star Wars Jedi Survivor, and loads more as well. Many PS5 game deals have already started to sell out or expire, so don't hang around and bag the deals you need ASAP - especially as this is your last chance to do so.

See More PS5 Game Deals

Cyber Monday PS Plus Deals: Last Chance for 30% Off

PSA: If you're buying anything digitally on PS5 (including PS Plus), ensure you're purchasing at least one of the PS Wallet Top Up cards that we mentioned above -- this will maximise your potential savings for Cyber Monday.

PlayStation Plus has received its Black Friday and Cyber Monday discount (see here) -- up to 30% off for new subscribers, while those on Essential or Extra tier can get money off upgrading their membership. However, this potentially could be seen as a temporary reversal of the recent 30% price hike that Sony inplemented in September. If the previous price increase deterred you, the return to the previous pricing still might catch the attention of new PS5 owners who purchased a console.

For existing subscribers, you can disregard the information below and directly log into your account to discover the specific discount Sony is providing for an upgrade to PS Plus Extra or Premium. The offered discount may vary based on the remaining time of your individual PS Plus subscription.

PlayStation Plus Essential 12-Month Subscription: $59.99 (was $79.99)

PlayStation Plus Extra 12-Month Subscription: $99.99 (was $134.99)

PlayStation Plus Premium 12-Month Subscription: $119.99 (was $159.99)

Cyber Monday Deals: Best PS5 Racing Wheels

Cyber Monday Deal Logitech G29 Driving Force Racing Wheel 34% off $299.99 2 $199.00 See on Amazon Cyber Monday Deal Logitech G923 Racing Wheel and Pedals 30% off $399.99 1 $279.99 See on Amazon

Racing wheels are an incredible way to play the best racing games on PS5. Boosting your experience with something like the Logitech G29 Racing Wheel can turn it into an incredibly immersive experience. They can be pricey, so this is the best time to catch a brilliant Black Friday deal on this wheel or others. But no matter your budget or preferred gaming platform, we've found a great racing wheel for you. For more info, we've discussed the best racing wheel for PS5 in our in-depth roundup that can be found on IGN.

Is the PS Plus Black Friday discount a true deal, or just a brief rollback to pre-hike prices for 10 days? Yes, it's still a Black Friday deal No, it's just a temporary rollback to pre-hike prices Not sure/No opinion (Leave a comment) Answer See Results

PS5 Console Covers: Early Deals at PS Direct and Dbrand

If you're not interested in picking up the new PS5 slim model and instead just want to invest in a tasty set of PS5 console cover faceplates, then we've already got some great deals for you to consider. PS Direct has discounted its range of official covers, down to $44.99, while dbrand has dropped its rival Darkplates 2.0 to $59.05. For those wondering, dbrand is also working on PS5 slim varients of the Darkplates, and you can sign up for update emails here.

PS5 Black Friday Shopping Tips

Many of these tips are applicable no matter what you’re shopping for on Black Friday.

Plan Your Spending - It's important to acknowledge that many of us have substantial video game backlogs. Just because you spot a game you desire on sale, doesn't mean you should rush to buy it. Set a budget and stick to it. Only invest in games you genuinely intend to play in the near future.

Create a Wishlist - A practical approach to keep your Black Friday spending in check is by crafting a wishlist of games or items you're interested in purchasing, and then adhere to it. Resist the temptation of deals that don't align with the items you would have bought otherwise.

Compare Prices - It's not uncommon to be enticed by what seems like an excellent Black Friday deal (for instance, The Last of Us Part 1 for $39.99). However, it's wise to double-check by looking at other popular retailers to see if they offer a matching or even better sale price before hitting the buy button.

Act Swiftly on Exceptional Deals - When you stumble upon a truly remarkable deal on a PlayStation game or accessory, don't hesitate. Retailers have limited stock, and the best deals are likely to sell out before Black Friday concludes. Seize the fantastic deals promptly.

But, Don't Worry if You Miss Out - If you attempt to purchase an outstanding deal and discover that it's sold out, don't be disheartened. Often, the very same Black Friday deal may resurface on Cyber Monday. And even if it doesn't, the next Prime Day will arrive sooner than you think.

Best PlayStation and PS5 Holiday Gift Ideas for 2023

Black Friday Deal PlayStation 5 - Call of Duty Modern Warfare 3 Bundle 17% off $599.99 10 $499.99 See It Black Friday Deal DualSense Controller (Midnight Black) Get ready for Player 2 30% off $69.99 7 $49.00 See It PlayStation 5 Silicon Power 2TB XS70 SSD Improve your console's storage capabilities. 4 $99.99 See It

As we near the end of the year -- and more importantly, the holiday season -- there's no better time to start looking at gifts for the PlayStation fan in your life (especially with all Black Friday deals to consider). Whether it's brand-new games, apparel, or collectibles and toys, we've scoured the internet for what is sure to be the most popular gifts this season, so check out the many great PlayStation gift recommendations below to make your shopping this year a breeze.

Where will you do most of your online Cyber Monday shopping this year? Amazon Walmart Best Buy Target Costco Other retailers I prefer to shop in stores Answer See Results

Robert Anderson is a deals expert and Commerce Editor for IGN. You can follow him @robertliam21 on Twitter.

Robert Anderson is a deals expert and Commerce Editor for IGN. You can follow him @robertliam21 on Twitter. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>