<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rachin Ravindra, New Zealand's X-factor at World Cup</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The best thing about any World Cup is seeing new talent emerge and own the stage">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Rachin Ravindra, New Zealand's X-factor at World Cup</p>
            <span id="topic" >rachin ravindra</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.hindustantimes.com/ht-img/img/2023/11/14/1600x900/ANI-20231114260-0_1699983945468_1699983970918.jpg" alt="">

                <textarea id="text" readonly> The best thing about any World Cup is seeing new talent emerge and own the stage. The story of the 2023 edition has been New Zealand’s Rachin Ravindra. From not being in the team’s original scheme of things to becoming their standout player is fairytale stuff. What adds to his story is that he has made his mark in the land of Sachin Tendulkar and Rahul Dravid, after whom he was named by his parents. New Zealand's Rachin Ravindra during a practice session ahead of the semi-final match against India (ICC Twitter)

All the attention he is getting is deserved. A stylish left-handed batter, he has vowed Indian fans with dazzling strokeplay. He is currently third in the list of leading run-scorers in the tournament with 565 runs from nine matches at an average of 70.62 and a strike-rate of 108.44 (3x100, 2x50).

The story has not ended. India are well aware of the threat he poses to their title bid. He has got three hundreds but the knock which made everyone sit up and take notice of his talent came in the league match against India at Dharamsala. He smashed 75 of 87 balls to lift the team from 19/2. It was a special effort against the tournament’s best bowling attack.

Wednesday’s knock-out will be a different ball game. It doesn’t get more daunting than playing India at Wankhede Stadium in a World Cup semifinal. As the Black Caps look for players who can handle the challenge of facing up to the lethal Indian bowling attack, Rachin is being seen as the X-factor.

When you are up against such quality bowlers, it is mainly about the skill you possess. It is where Rachin’s game stands out. His basics are solid, he is defensively tight and execution of strokes is impressive. What stands out is his adeptness in pacing his innings as he did against India, taking his time to build after the early pressure. With just six fours and one six, it was more about finding the gaps. Wednesday's game is likely to be influenced by the spin-factor and Rachin will take confidence in how he negotiated Kuldeep Yadav and Ravindra Jadeja.

On match eve, skipper Kane Williamson was all praise of the 23-year-old. “Quite incredible really, burst onto the scene and in a big way in a role (as opener) that perhaps wasn’t sort of natural maybe within our environment. He did a bit of it domestically, but to do what he’s done so far in this tournament with his feet firmly on the ground has been really, really, special.

“And as we’ve all seen, he’s an incredibly special and talented player and a fantastic individual in the environment. It’s not just the volume of runs that he’s achieved so far but how he’s been scoring them and how it’s been geared towards trying to move the team forward. Some fantastic contributions so far and at such a young age and I’m sure we’ll see plenty more of it to come.”

If Rachin can handle the success, he is destined for a successful career. This after coming into the Cup squad after all-rounder Michael Bracewell was ruled out.

“We needed someone to score heavily in the tournament. I am not sure many people would have expected it to be Rachin, but I have been really impressed, not only by the runs he has scored but also the way he has gone about it, his tempo and calmness. He is just going out there and batting like he did as a little kid. He has not put any pressure on himself and I hope he continues to do that. He has a big part to play in the semi-final and in the future for New Zealand,” former New Zealand skipper Ross Taylor said in his ICC column.

Before the tournament began, he was assessed for a role down the order, operating as a like-for-like replacement for Bracewell.

In a World Cup warm-up match against Pakistan, he was asked to open and made 97 off 72 balls. When their campaign proper began against England in Ahmedabad, with Williamson yet to recover, he was installed at No. 3 and made 123* off 96 balls in a nine-wicket win. There has been no looking back from there, and New Zealand retained him as opener when the skipper returned.

His feats at the World Cup have made him the favourite to succeed Williamson as the rock in the Kiwi batting order.

On the chance to play against India, Rachin told the New Zealand Cricket website: “It’s a pretty special moment like the way the Black Caps have been playing over the last 3-4-5 World Cups and being in a stage to compete for the finals and be in the knockout stages. I guess as a kid you always dream of playing in big knockout games and I’m really excited for the match against India.”

From his name chanted by the fans at Bengaluru – his father’s hometown – when he played there to getting to play India at the Wankhede Stadium in a Cup semi-final, Rachin is truly living a dream. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>