<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rachin Ravindra not named after Tendulkar and Dravid, clarifies father of New Zealand sensation</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="New Zealand cricketer Rachin Ravindra's father, Ravi Krishnamurthy, has clarifie">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Rachin Ravindra not named after Tendulkar and Dravid, clarifies father of New Zealand sensation</p>
            <span id="topic" >rachin ravindra</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202311/ezgif-sixteen_nine_202.jpg" alt="">

                <textarea id="text" readonly> New Zealand cricketer Rachin Ravindra's father, Ravi Krishnamurthy, has clarified that his son is not named after Sachin Tendulkar and Rahul Dravid, as is commonly believed. Krishnamurthy said that he and his wife named their son Rachin because they liked the name.

“When Rachin was born, my wife suggested the name, and we didn’t spend a lot of time discussing it. The name sounded good, was easy to spell, and short, so we decided to go with it. It was only some years later that we realised the name was a mix of Rahul and Sachin’s names. He wasn’t named with the intention to make our child a cricketer or anything of the sort,” Rachin's father Ravi Krishnamurthy told The Print in an interview.

Rachin's father, Ravi Krishnamurthy, played cricket in Bangalore before moving to New Zealand. Rachin Ravindra had previously played for New Zealand's under-19 team before breaking into international cricket.

Ravindra, one of the tournament's leading scorers with three hundreds, spoke about the upcoming Wednesday's semi-final encounter with India: "We will stay level, we will try our best."

Ravindra recently met his grandmother in Bengaluru during the ICC World Cup 2023. He shared a video of their meeting on social media, along with a caption that read, "Blessed to have such an amazing family. Grandparents are angels whose memories and blessings stay with us forever."

Ravindra's grandmother, Poornima Adiga was seen performing ‘Nazar Utarna’ ritual at the residence. He is seen comfortably sitting on the sofa.

In the current World Cup, Ravindra has scored 565 runs in 9 innings, including three centuries and two fifties. He scored 123 not out as the highest score in this World Cup.

India, which is set to lock horns with New Zealand for the semi-final, will see their fourth semi final appearance in the fourth successive World Cup. Notably, India was defeated by New Zealand in the semis of the previous World Cup in England in 2019.

Also Read: ‘Looks like we were separated during some Mela’: Anand Mahindra's reaction to his lookalike goes viral </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>