<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raw diet for dogs is taking over TikTok, but what does your veterinarian think of the latest trend?</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Raw diet for dogs is taking over TikTok, but what does your veterinarian think o">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Raw diet for dogs is taking over TikTok, but what does your veterinarian think of the latest trend?</p>
            <span id="topic" >health</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://s.yimg.com/ny/api/res/1.2/sJz.nI108T7lr2Pz5JRidg--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD02NzU-/https://media.zenfs.com/en/fox_news_text_979/17ad757d2f71a241ef35f3a300704bca" alt="">

                <textarea id="text" readonly> Raw diet for dogs is taking over TikTok, but what does your veterinarian think of the latest trend?

Some pet dogs are gaining attention on TikTok thanks to their owners who are feeding them a raw-style food diet.

Kayla Kowalski, a certified canine nutritionist (CertCN) from Phoenix, Arizona, has made it big on social media with her out-of-the-ordinary style of dog diets that are made up of raw meat and other nutritional additives.

Kowalski's interest in pet health started after she and her boyfriend rescued their dog, Rudy, who battled a variety of health and mental issues once he joined the family, she told Fox News Digital.

'GENTLE GIANT' DOG, AT 250 POUNDS, EATS AN ENTIRE CHICKEN DAILY AS OWNER SPENDS NEARLY $5K A YEAR ON FOOD

"I didn't know too much about dog nutrition, [but] kibble just wasn't doing it for him," she said. "It was making a lot of his issues worse."

"And then we came across the raw diet and that just really transformed him."

READ ON THE FOX NEWS APP

Kayla Kowalski became a certified canine nutritionist after rescuing her dog Rudy, the German shepherd (left), and continued to use the raw dog food diet on all of her pets, including Rylie, the husky mix pictured at right.

After sharing her journey on social media, she started gaining a lot of interest from other pet parents who also wanted to try the raw dog food diet with their pets.

It was then that Kowalski decided to become a CertCN and create her own business.

Today, she builds personalized diets for customers and shares exclusive recipes in her e-books.

AHEAD OF THANKSGIVING, VETERINARIAN REVEALS A COMMON REASON PETS WIND UP IN THE ER DURING THE HOLIDAYS

What started as implementing both raw and cooked meats as a topper to her pets' meals turned into something different. She slowly eliminated the use of a popular consumer brand and began adding more raw bites — including turkey and chicken necks, duck feet, goose heads, beef kidneys, livers and more.

All three of Kowalski's dogs, Rudy, Buddy and Rylie, are on a complete raw food diet.

"Just like humans, [dogs] need certain vitamins and minerals to be as healthy as they can," Kowalski said.

"If you look back to how dogs ate hundreds of years ago, how wolves eat, it's really how they are biologically meant to eat."

TIKTOK VET TELLS SOCIAL MEDIA USERS TO STOP GIVING DOGS CHICKEN WITH HOT SAUCE

Kowalski sees pet store food as something that was made out of "human convenience."

But she said if that's the preferred food for other pets based on the advice of veterinarians, she, along with her brother, Nick Kowalski, recommend hydrating the food with water or bone broth for better digestion.

Kowalski incorporates a main source of raw protein in her pets' meals and includes additives such as livers or kidneys, chicken feet and even the occasional goose head.

Additives don't have to be complicated, she indicated. Steamed Brussel sprouts and most veggies, a raw egg plus the membrane, ripe bananas or any fruit aside from grapes can also be added to a dog's food bowl, she said.

Now that the raw diet has over 441.3 million hashtags on TikTok — and Kowalski has millions of views on her own videos — veterinarians are chiming in.

"Feeding dogs raw meat with so many different ingredients shown in these videos can be hard on their stomachs, causing severe diarrhea and pancreatitis and making dogs sick," Lindsay Butzer, a veterinarian from Boca Raton, Florida, related to Fox News Digital.

PET INSURANCE: WHAT IT IS, HOW IT WORKS, DIFFERENT TYPES, IF IT'S WORTH GETTING FOR YOUR FURRY FRIEND

Butzer said she has seen how some of these additions for a particular family of dogs may cause more harm than good.

"As appealing as it is to watch these videos of creators building bowls and explaining why each ingredient is healthy, with all these unique meats and ingredients to feed a dog, as a veterinarian I do not recommend feeding your dog this way," Butzer added.

She can see that the addition of one raw protein source or vegetable and grain may be better on a pet's digestive system than a variety of "exotic ingredients" all at once, she said.

"As a veterinarian, I am an advocate for kibble and freeze-dried raw pet food brands that are studied, labeled and approved to be a complete and balanced diet for our pets," Butzer noted.

PET HEALTH BREAKTHROUGH APP CAN DETECT WHEN YOUR DOG OR CAT IS SICK

Kowalski, however, prefers the holistic approach when it comes to pet health and has spoken with a variety of veterinarians that have found her methods to be beneficial for dogs.

"As a holistic veterinarian, I'd like to address the growing interest in raw food diets for pets, which, contrary to popular belief, is not just a trend but a health-conscious choice for pet owners," Dr. Katie Woodley, a holistic veterinarian and founder of The Natural Pet Doctor in Colorado, said in a statement with Fox News Digital.

"Recent studies, including those found on PubMed, have provided compelling evidence supporting the myriad health benefits of raw food diets compared to traditional kibble, processed-food diets."

Dr. Woodley has looked at a variety of recent studies to support this diet and her research has shown that the raw dog food way of life can positively alter the overall health and well-being of pets, she said.

Kowalski adds a variety of foods to her meals for dogs, including fruits, pumpkin puree, vegetables and animal liver or kidney.

She is an advocate of raw dog food diets because of the nutritional benefits; but this must be carefully thought through and managed well.

"When formulated and managed correctly, raw diets offer a natural, nutritious, species-appropriate option that aligns with the dietary needs of carnivorous pets," she said.

CLICK HERE TO SIGN UP FOR OUR LIFESTYLE NEWSLETTER

"It's not about following a trend; it's about making an informed choice for the health and longevity of our pets."

The raw dog food diet has gone viral on TikTok, but it seems to have created debate among pet nutritionists and vets.

She encourages her customers to notice that the raw dog food diet is just as balanced and full of vitamins and nutrition as the dried kibble.

Most importantly, Kowalski recommends that pet parents be informed when it comes to learning more about their pet's health and the raw diet.

For more Lifestyle articles, visit www.foxnews.com/lifestyle .





Original article source: Raw diet for dogs is taking over TikTok, but what does your veterinarian think of the latest trend? </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>