<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReedPop seeks buyer for Eurogamer, GI, VG247, Rock Paper Shotgun and more</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="ReedPop is 'investigating the potential sale' of its Gamer Network business.

Th">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>ReedPop seeks buyer for Eurogamer, GI, VG247, Rock Paper Shotgun and more</p>
            <span id="topic" >technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://assetsio.reedpopcdn.com/Screenshot-2023-11-27-131221.jpg?width=1200&height=630&fit=crop&enable=upscale&auto=webp" alt="">

                <textarea id="text" readonly> ReedPop is 'investigating the potential sale' of its Gamer Network business.

The UK-based operation includes GamesIndustry.biz, Eurogamer, Rock Paper Shotgun, VG247 and Dicebreaker. The business also holds shares in Outside Xbox, Digital Foundry and Hookshot.

Not included in the sale are UK-based events EGX or MCM, or the digital brand Popverse.

ReedPop acquired Gamer Network in 2018 to create a ‘world’s leading events and media group for the gaming community’. The company already operated major shows including PAX and New York Comic-Con.

However, the COVID-19 pandemic put a stop to these events, forcing the business to cut back, which led to the closure of USGamer and the standalone EGX Rezzed event.

The company said in a statement: "ReedPop, part of RX, has reviewed its UK business and decided to investigate the potential sale of its Gamer Network and associated editorial Digital properties. We believe that new ownership offers the best conditions for the growth of the business.

"Gamer Network includes Eurogamer, Rock Paper Shotgun, VG247, Dicebreaker, GamesIndustry.biz, shareholdings in Outside Xbox, Digital Foundry, Hookshot and a number of partners.

"This does not impact any of the other ReedPop properties in the UK including MCM ComicCon, EGX and Popverse."

ReedPop is the parent company of GamesIndustry.biz. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>