<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regrowing nerves and healing without scars? A Main Line Health scientist’s career-long quest comes closer to fruition.</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="At Lankenau Institute for Medical Research, Ellen Heber-Katz (center) has discov">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Regrowing nerves and healing without scars? A Main Line Health scientist’s career-long quest comes closer to fruition.</p>
            <span id="topic" >health</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.inquirer.com/resizer/62Jaz-LoSSJxRoZnMU6RD7qfJNs=/760x507/smart/filters:format(webp)/cloudfront-us-east-1.images.arcpublishing.com/pmn/YI2DKW7QAVHPPJETK5MB6S4TAQ.jpg" alt="">

                <textarea id="text" readonly> At Lankenau Institute for Medical Research, Ellen Heber-Katz (center) has discovered how to regenerate damaged nerves and other wounds in lab animals without scarring, such as the holes in the mouse ears in the poster at left. Also shown: research assistant Alexis Mengel and institute chief executive officer George Prendergast. Read more

Ellen Heber-Katz thought the experiment was ruined.

Her post-doctoral researcher was supposed to have punched tiny holes in the ears of laboratory mice at Philadelphia’s Wistar Institute, using a standard technique to indicate which ones had received an experimental treatment. But when Heber-Katz checked the animals a few weeks later, all their ears were intact.

The post-doc nevertheless insisted that she had punched the ear holes, so the scientists tried it again with different mice. Three weeks later, the holes in those mouse ears vanished, too. Not only had the wounds healed, but the ears looked completely normal, with new cartilage, hair, and no trace of scarring.

Heber-Katz had stumbled on a type of super-healing mice, launching her on a quest that has lasted more than two decades. First, she deciphered the genetic quirks that gave the animals this restorative ability. (The super-healing was an unintended consequence of their laboratory-bred autoimmune disease.) Then she and colleagues figured out how to activate this response in normal mice by simply injecting them with a drug.

Advertisement

Now at Lankenau Institute for Medical Research, Heber-Katz has demonstrated the drug’s promise against a variety of conditions in mice and rats — not only external wounds, but also nerve damage, periodontal disease, and osteoporosis. What’s happening is more than healing, she says, likening her results to salamanders’ ability to regenerate missing limbs.

A note of caution: Most drugs that work in mice do not end up being effective in humans. In this case, some biologists caution that true regeneration is a complex process that’s almost unheard of in mammals, and they are skeptical that it can be activated by simply administering a drug.

Undaunted, Heber-Katz says the drug prompts the growth of healthy new cells almost like what happens in a mouse (or human) embryo. When it is administered to gray-haired, 3-year-old mice (roughly equivalent to 90-year-old humans), the animals’ wounds recover in a way that seems to turn back time.

“The hair grows back completely,” she said. “It even goes from gray to black.”

A mandate for innovation

The health problems Heber-Katz is tackling are immense. The United States spends billions every year on wound care alone, including the treatment of diabetic skin ulcers and other chronic, nonhealing wounds.

Her success in treating nerve damage, meanwhile, has drawn funding from the military, in addition to her recurring grants from the National Institutes of Health and private donors.

A Northeast Philly native, Heber-Katz is determined to translate her laboratory successes to the real world. She and Phillip B. Messersmith, a professor of bioengineering at the University of California, Berkeley, have patented the use of the drug, called 1,4-DPCA, for use in tissue regeneration. The pair also have founded a company called MRL Bio, named after the breed of autoimmune mice with the enhanced healing ability.

That entrepreneurial mindset is encouraged by George C. Prendergast, chief executive officer of the Lankenau institute, a nonprofit research organization within the Main Line Health system. Two companies co-founded by faculty have gone public in recent years, and another developed a diagnostic test that won FDA approval.

Prendergast calls it “acapreneurialism” — a mashup of academia and entrepreneurialism. He even trademarked the term in 2021.

“Every lab here has to invent,” he said.

The metabolism of an embryo

The drug that Heber-Katz uses to treat the mice, 1,4-DPCA, can be applied in a variety of ways, depending on the disease (or injury). In addition to injecting it or applying it directly to the animals’ skin, she and her collaborators have impregnated the substance into sutures, enabling mice to heal from surgical wounds with no scars.

The compound was developed by other scientists for different purposes. Heber-Katz thought it might promote healing after studying the autoimmune mice whose ear wounds healed unexpectedly.

She found that the cells in the animals’ injury sites were behaving much like the cells in mice or human embryos: They were growing rapidly and metabolizing nutrients in a low-oxygen environment, a process regulated by a “master protein” called HIF-1-alpha.

That protein exists in normal mice and humans, too, but it is rapidly broken down. That’s where the drug comes in. The substance inhibits the breakdown of HIF-1-alpha, resulting in higher levels of the protein, so she surmised that it would promote a supercharged healing environment in normal mice.

She was right. Upon being injected with the drug, normal mice were able to heal from wounds without scars, much like their counterparts with the autoimmune disease, she reported in a 2015 study with Messersmith, the Berkeley engineer. In another study, the pair reported that the drug enabled rats to heal from nerve injury in their forelimbs.

The progress came after decades of painstaking laboratory work, exploring different aspects of the genetics and metabolism involved in healing. Heber-Katz likened the hit-or-miss process to the old parable about a blind man encountering an elephant.

“It was like feeling this big elephant with our eyes closed, trying to find something that would fit,” she said.

Most attempts to regrow damaged human tissue have involved elaborate synthetic “scaffolds” that are seeded with stem cells or biologically active molecules. This tactic has met with limited success, Messersmith said.

In the mice and rats, on the other hand, he and Heber-Katz get good results by simply administering a drug.

“This is so different from anything else out there,” he said.

Lost to evolution

Among those with questions about the healing ability of Heber-Katz’s mice is University of Kentucky biologist Ashley W. Seifert, who has induced regeneration-like healing in mice using a different method.

Given that our ancestors lost the natural ability to regenerate ages ago, if they ever had it, it is unlikely that any one drug will have the power to awaken it, he said.

“Most basic scientists would tell you unequivocally that regeneration is a pretty complex process,” he said. “There are multiple things that have to happen over an extended period of time. This idea that there’s a single druggable target is highly improbable.”

Others are more optimistic.

Nadya Lumelsky, a former program manager at the NIH’s National Institute of Dental and Craniofacial Research, is encouraged by the mice results so far. Upon learning of Heber-Katz’s work, Lumelsky put the scientist in touch with Messersmith, and the pair ended up collaborating.

Lumelsky also connected the pair with George Hajishengallis, a professor at Penn Dental Medicine. In a 2020 study, the group found that the drug stimulated new bone growth in mice with injured jawbones — suggesting that it could prove useful in treating periodontal disease.

In an interview, Lumelsky agreed that regeneration is a complex process. Boosting the levels of one protein could be just one piece of the puzzle.

“Maybe you need to control several molecules in order to achieve the best result,” she said.

No argument from Heber-Katz, who has been studying other molecules involved in the healing process all along. But she is convinced that HIF-1-alpha plays a central role.

The next step is testing the drug in larger animals, which she hopes to do next year, followed eventually by studies in humans.

It has been a long journey, made all the more challenging because Heber-Katz was trained in a different field, immunology. In 1998, when she published her first results with the super-healing mice, several peers warned her against changing the course of her career.

She knew no one in the field of regeneration biology, no one who could write letters or make introductions on her behalf. And some were, and continue to be, skeptical. But she forged ahead anyway.

“Science is about discovery,” she said. “It’s not about agreeing with everybody else.” </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>