<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rio Ferdinand makes Arsenal Premier League title race point amid Man City and Liverpool battle</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Sign up to the free Arsenal newsletter so you don't miss the latest Gunners news">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Rio Ferdinand makes Arsenal Premier League title race point amid Man City and Liverpool battle</p>
            <span id="topic" >premier league</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://i2-prod.football.london/incoming/article28175924.ece/ALTERNATES/s1200/0_GettyImages-1802224262.jpg" alt="">

                <textarea id="text" readonly> Sign up to the free Arsenal newsletter so you don't miss the latest Gunners news, straight to your inbox

Sign up to the free Arsenal newsletter so you don't miss the latest Gunners news, straight to your inbox

Arsenal moved to top of the Premier League following a 1-0 win over Brentford on Saturday evening. A late Kai Havertz goal saw the Gunners leapfrog both Liverpool and Manchester City, who drew 1-1 earlier in the day.

Mikel Arteta's side are one point ahead of City and two points ahead of Liverpool and will remain top of the league until at least next weekend. It was a huge win for the north Londoners, especially considering they were not at their best.

Bryan Mbeumo perhaps should have scored following a nervy Aaron Ramsdale moment in the first half but the Brentford man's effort was cleared off the line by Declan Rice. Apart from that, it was a game of few chances and Arteta was clearly pleased after the full-time whistle.

Asked for his thoughts on his side going top, Arteta said: "It’s exactly where we want to be, where we want to stay now, and it’s incredible the level in this league that has really good players. It’s a joy to work with players like that."

After the game, former Manchester United defender Rio Ferdinand praised the Gunners and described it as a "huge result". Speaking on TNT Sports, Ferdinand said: "This is a team that has got character, they’ve shown that over the last two seasons now. They don’t panic, never have panicked in situations like these and you see the manager bringing the goalscorer Havertz over to the fans, that’s what it means because he’s spent big money on him.

"This is a huge result given Liverpool’s draw against City earlier, it left the door ajar for them and they needed to take that opportunity. It was a bit of a sub par performance from Arsenal to be honest and you might expect a bit more sharpness but it’s a great result for them."

READ MORE: Arsenal player ratings vs Brentford as Ramsdale struggles and Havertz grabs late winner

READ MORE: Jamie Carragher makes Arsenal and Gabriel VAR point after Man City disallowed goal vs Liverpool

He added: "Yeah it was a huge test for them today, this place has become a fortress in recent years because Brentford have found a really good way of breaking bigger teams down at home and nullifying their threats. Arsenal today, they looked laboured at times, they didn’t look like they got out of first gear in some attacking areas but in the two moments they did, Saka created two bits of magic, they had two chances and one of them was a goal so Arsenal will be delighted with that - no matter how you get there, you’re top of the league." </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>