<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Russian, Chinese businessmen considering secret undersea tunnel connecting to Crimea: report</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Russian and Chinese business leaders have considered the construction of an unde">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Russian, Chinese businessmen considering secret undersea tunnel connecting to Crimea: report</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2023/11/0/0/GettyImages-1556043276-e1700922060422.jpg?ve=1&tl=1" alt="">

                <textarea id="text" readonly> Russian and Chinese business leaders have considered the construction of an underwater tunnel connecting Russia and Crimea, according to The Washington Post.

The tunnel — which is allegedly referenced in communications logs obtained by the Ukrainian military — would be an unprecedented collaboration by the Chinese, who have not previously recognized Russian sovereignty over Crimea.

Russia is reportedly exploring the option as an alternative to its 11-mile bridge across the Kerch Strait, which has been bombed multiple times since the invasion of Ukraine.

KREMLIN SAYS PUTIN'S EVENTUAL SUCCESSOR WILL BE 'DIFFERENT, BUT THE SAME'

The Chinese Railway Construction Corporation (CRCC) wrote that workers were "ready to ensure the construction of railway and road construction projects of any complexity in the Crimean region," according to the report.

The CRCC is a state enterprise owned and operated by the Chinese Communist Party.

The outlet cited another email from Russian business leader Vladimir Kalyuzhny in which he expressed CRCC's interest in acting as a general contractor for a tunnel project.

RUSSIAN JUSTICE MINISTRY ASKS SUPREME COURT TO BAN 'INTERNATIONAL LGBT PUBLIC MOVEMENT'

Kalyuzhny called the reports "a lot of hot air" and has flatly denied cooperation between Russia and the CRCC, calling The Washington Post "enemy media."

Further communications allegedly show that the Chinese Communist Party wishes to remain behind the scenes on the tunnel project under "strict provision of complete confidentiality."

CRCC is also quoted in the report stating that their work on a hypothetical Kerch Strait project would be attributed to "another, unaffiliated legal entity" and that the corporation would "convert its dollar funds into rubles for their transfer to Crimea to fund [consortium] projects."

CLICK HERE TO GET THE FOX NEWS APP

China has never officially recognized Russia's claims of sovereignty over Crimea, which it invaded and began occupying in 2014.

Openly supporting Russia's ongoing annexation of Crimea could open China to Western sanctions and trade penalties.

A tunnel linking Russia to Crimea would be an infrastructure project of immense proportions. Construction would be further complicated by the ongoing violent conflict in the region. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>