<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Russian forces focus their assaults on Avdiivka and Bakhmut fronts – General Staff report</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Ukrainian forces repelled 30 Russian assaults on the Avdiivka front and 10 on th">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Russian forces focus their assaults on Avdiivka and Bakhmut fronts – General Staff report</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://media.zenfs.com/en/ukrayinska_pravda_articles_451/e683767ee019572cd75e37f325b3124b" alt="">

                <textarea id="text" readonly> Ukrainian forces repelled 30 Russian assaults on the Avdiivka front and 10 on the Bakhmut front over the course of the past 24 hours.

Source: General Staff of the Armed Forces of Ukraine on Facebook, information as of 06:00 on 27 November

Details: Over the course of the past day, Ukraine’s Defence Forces clashed with Russian forces 63 times. Russian forces carried out a missile strike and 34 airstrikes and deployed multiple-launch rocket systems (MLRS) 51 times to attack the positions of Ukrainian troops and civilian settlements.

Russian attacks injured civilians and damaged private residential houses and other civilian infrastructure facilities.

Russian aircraft struck areas in Donetsk Oblast.

Russian forces shelled more than 100 civilian settlements in Chernihiv, Sumy, Kharkiv, Luhansk, Donetsk, Zaporizhzhia, Dnipropetrovsk and Kherson oblasts.

On the Kupiansk front, in the area of responsibility of the Khortytsia Operational Strategic Group, Russian forces conducted unsuccessful offensive operations near Synkivka (Kharkiv Oblast) and Novoselivske (Luhansk Oblast), with Ukrainian forces repelling seven Russian assaults.

Russian forces also conducted offensive operations near the Serebrianka forest on the Lyman front, but were unsuccessful.

On the Bakhmut front, Ukrainian forces repelled 10 Russian assaults near Bohdanivka, Klishchiivka, Andriivka, and to the east of Pivnichne (Donetsk Oblast) and are continuing assault operations to the south of the city of Bakhmut (also in Donetsk Oblast). They are inflicting personnel and equipment losses on Russian forces and consolidating their positions.

In the area of responsibility of the Tavriia Operational Strategic Group on the Avdiivka front, Russian forces are continuing their aircraft-supported attempts to encircle the city of Avdiivka (Donetsk Oblast). Ukrainian forces are holding the line and inflicting significant losses on the Russians. Russian forces conducted unsuccessful offensive operations to the east of Novobakhmutivka and to the south of Novokalynove, Sieverne, Stepove, Avdiivka and Pervomaiske (Donetsk Oblast), with Ukrainian forces repelling 30 assaults.

On the Marinka front, Ukrainian forces repelled seven unsuccessful Russian aircraft-supported assaults in the vicinity of Marinka and Novomykhailivka (Donetsk Oblast).

Russian forces did not undertake offensive operations on the Shakhtarsk front.

On the Zaporizhzhia front, Russian forces carried out unsuccessful offensive operations to the west of Verbove (Zaporizhzhia Oblast).

Meanwhile, Ukraine’s Defence Forces are continuing to pursue the offensive on the Melitopol front and are inflicting personnel and equipment losses on the Russian forces and wearing them out all along the frontline.

On the Kherson front, in the areas of responsibility of the Odesa Operational Strategic Group, Ukrainian forces are holding the positions they took on the left (eastern) bank of the Dnipro River [which is largely Russian-controlled - ed.], are engaging in counter-battery fire, and striking positions beyond the Russian frontline.

Over the course of the past day, Ukrainian aircraft carried out three airstrikes on clusters of Russian military personnel, weapons and equipment.

Units of the Ukrainian Rocket Forces and Artillery struck two clusters of Russian military personnel, weapons and equipment and an ammunition storage point.

Support UP or become our patron! </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>