<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S&P 500 falls Monday as 4-week rally pauses: Live updates</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Traders work on the floor at the New York Stock Exchange (NYSE) in New York City">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>S&P 500 falls Monday as 4-week rally pauses: Live updates</p>
            <span id="topic" >business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://image.cnbcfm.com/api/v1/image/107323759-16983355252023-10-26t153415z_1703995809_rc2d04av7oka_rtrmadp_0_usa-stocks.jpeg?v=1698357792&w=1920&h=1080" alt="">

                <textarea id="text" readonly> Traders work on the floor at the New York Stock Exchange (NYSE) in New York City, U.S., October 26, 2023.

The S&P 500 fell slightly on Monday, as traders took a breather after the major averages posted a four-week winning streak.

The S&P 500 fell 0.1%. The Dow Jones Industrial Average shed 48 points, or 0.1%. The tech-heavy Nasdaq Composite hovered just above the flatline.

Wall Street is coming off its fourth straight positive week, as stocks have rallied since the 10-year Treasury yield retreated from the 5% mark it briefly topped in late October. The S&P 500 is up 8.6% so far this month, while the Dow has added nearly 7% and the Nasdaq has jumped roughly 11%.

The rally occurred despite warnings from some U.S. retailers that consumer spending is weakening, although Black Friday e-commerce spending jumped 7.5% from a year earlier. Some e-commerce stocks rose on Cyber Monday, with shares of Amazon and Shopify jumping 1.3% and 4%, respectively.

Weak spending data overall could ultimately be a positive signal that the Federal Reserve's rate hikes are finally starting to weigh on the broader economy.

"A consumer slowdown would probably be a catalyst for the market because it would help substantiate the the basis for the rally," said Quincy Krosby, chief global strategist at LPL Financial. "This market has been a beneficiary of a strong underpinning, a strong a confidence in that the Fed is finished, not only with its rate-hiking campaign, but that it will begin rate cuts in 2024."

Krosby, who said the market has been in short-term overbought conditions for a number of sessions, added that the yield on the 10-year Treasury note will be crucial to movements this week, particularly after this week's Fed commentary and key readings for consumer confidence and inflation.

The Consumer Confidence report is due Tuesday, while the Personal Consumption Expenditures price index is set to release on Thursday.

New home sales data released Monday showed new homes sold at a slower than expected pace in October while still showing improvement from a year ago, according to data from the Commerce Department. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>