<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sam Hunt and Wife Hannah Lee Fowler Welcome Baby No. 2</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Watch : Sam Hunt "Feels Great" Being a Married Man

Sam Hunt and Hannah Lee Fowl">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Sam Hunt and Wife Hannah Lee Fowler Welcome Baby No. 2</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sat-6, 2023</b>
                </span>
                <br><br>
                <img src="https://akns-images.eonline.com/eol_images/Entire_Site/202258/rs_1200x1200-220608053555-1200-Hannah-Fowler-Sam-Hunt-LT-6822-GettyImages-1061544204.jpg?fit=around%7C1080:1080&output-quality=90&crop=1080:1080;center,top" alt="">

                <textarea id="text" readonly> Watch : Sam Hunt "Feels Great" Being a Married Man

Sam Hunt and Hannah Lee Fowler are extra thankful this year.

The "Hard to Forget" singer revealed he and his wife, who are parents to 17-month-old daughter Lucy, recently welcomed their second baby together. In a photo shared to his Instagram Nov. 24, Sam and Lucy are seen posing alongside Hannah as she cradles their newborn, writing alongside their heartwarming post, "Thank You Lord."

The couple's latest addition comes seven months after the "House Party" singer announced they were expecting another baby, sharing his excitement while onstage during a show in Las Vegas.

And prior to welcoming their newest member, Sam shared insight into their road ahead and noted he was looking forward to doubling the duties.

"As far as mom and dad being ready, I think mom's ready," he told Good Morning America in September. "I feel like I've got more to offer that I haven't been able to offer because Hannah's done most of the work so far. So, I'm looking forward to being able to step up and take on some more responsibility." </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>