<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samsung Galaxy Tab S8 series and Galaxy A73 receive Android 14-based One UI 6.0 update</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Samsung Galaxy Tab S8, S8+ and S8 Ultra are now receiving the latest One UI 6.0 ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Samsung Galaxy Tab S8 series and Galaxy A73 receive Android 14-based One UI 6.0 update</p>
            <span id="topic" >technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://fdn.gsmarena.com/imgroot/news/23/11/galaxy-tab-s8-a73-oneui-6/-952x498w6/gsmarena_000.jpg" alt="">

                <textarea id="text" readonly> Samsung Galaxy Tab S8, S8+ and S8 Ultra are now receiving the latest One UI 6.0 update based on Android 14. Additionally, Galaxy A73 users are also reporting One UI 6.0 arriving on their phones.

The Galaxy Tab S8 family update comes with the latest November 2023 security patch on board and if you are located in Europe, you may want to check for the OTA update manually via the Settings menu.



Galaxy A73 One UI 6.0 update

As for the Galaxy A73, the handset is seemingly receiving One UI 6.0 along with the same November 2023 security patch. The update weighs about 3GB and is also sighted in Europe.

In case you are outside of Europe and you are not receiving the latest firmware, be patient, as Samsung likes to roll out its updates gradually. It should arrive in a matter of days.

Via </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>