<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santiago Giménez ends his goal drought</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Santiago Giménez is back among the goals after the Mexican striker struck three ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Santiago Giménez ends his goal drought</p>
            <span id="topic" >usa</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://img.asmedia.epimg.net/resizer/HHj_kGHXw4aaMsgNgODlR3yF5cQ=/1472x828/filters:focal(2559x155:2569x165)/cloudfront-eu-central-1.images.arcpublishing.com/diarioas/G3CSH2I3YDWLQVPGEFJK4XJAMY.jpg" alt="">

                <textarea id="text" readonly> Santiago Giménez is back among the goals after the Mexican striker struck three times for Feyenoord against Excelsior in matchday 13 of the Dutch league. The forward had gone four games for Rotterdam giants without finding the net and also failed to score in Mexico’s recent games against Honduras (home and away) in the CONCACAF Nations League.

Full screen Santiago Gimenez of Feyenoord warms up COR LASKER EFE

Feyenoord only needed five minutes to open the scoring when Giménez appeared at the second post and with a low shot managed to steer the ball home following a pass from a pass from Igor Paixao.

Excelsior drew level through Ireland international Troy Parrott and it was only in the second half when the Mexican and Timber added to the scoring that Feyenoord had a cushion.

Lamprou struck again for the home side but any hopes of a comeback were shortly dashed as Gimenez struck to bag his second hat-trick of the season for the side from Rotterdam.

A personal message from our hattrick hero. https://t.co/SRBqz4NqDq pic.twitter.com/xA1HXHknOj — Feyenoord Rotterdam (@Feyenoord) November 25, 2023

Next up for Feyenoord is a key Champions League game against Atlético de Madrid in De Kuip. The Dutch side lie in third position in Group E and are two points behind the Spanish side and a point behind second placed Lazio. The Mexican player missed the game against the LaLiga giants in Madrid through injury. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>