<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score a DJI drone at record-low pricing and more early Cyber Monday drone deals</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="UPDATE: Nov. 26, 2023, 7:00 a.m. EST This post has been updated with the latest ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Score a DJI drone at record-low pricing and more early Cyber Monday drone deals</p>
            <span id="topic" >technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://helios-i.mashable.com/imagery/articles/05rlM08b0Y5k69jIpLqOpMH/hero-image.fill.size_1200x675.v1700968257.jpg" alt="">

                <textarea id="text" readonly> UPDATE: Nov. 26, 2023, 7:00 a.m. EST This post has been updated with the latest pricing and availability of early Cyber Monday drone deals, including some picks from DJI and Holy Stone on sale at Amazon, Newegg, and more.

Thanksgiving is over and out for another year, and now it's time to shop. We've reviewed thousands (and thousands) of deals for Mashable readers, but this year, Black Friday and early Cyber Monday drone deals have been particularly impressive. DJI is hosting a huge Cyber Monday sale on its most popular drones, and Amazon has dropped prices to match. DJI has options for beginners and professionals alike, and that's just the beginning of what we've found so far.

We've found early Cyber Monday deals on drones that let you save hundreds on 4K aerial cameras, drones for kids, and drone piloting accessories — all gathered in one convenient location. To find the best deals on drones this Cyber Monday, read on.

Note: All newly added deals are marked with a ✨, while deals with a 🔥 have dropped to an all-time low price. Deals with a strikeout were either sold out or expired at the time of writing.

Early Cyber Monday deals on DJI drones

Why we like it

For beginners and pros alike, DJI is the most trusted name in drones. This brand consistently produces the best camera drones, and the company has discounted some of its most popular models for Black Friday and Cyber Monday. Not only does this drone shoot beautiful 4K footage, but it can stay airborne for up to 38 minutes and withstand even very heavy winds. Because this is a combo, extra batteries are included to extend your flying time.

More deals on DJI drones and accessories:

Best budget drone deals

Why we like it:

Holy Stone may lack the brand recognition of DJI, but this company makes some of the best drones for beginners looking to explore this new hobby. Holy Stone also likes to discount its drones for events like Prime Day and Black Friday. With the extra battery included in this combo, you can pilot your new drone for over 45 minutes, all while capturing gorgeous 4K aerial photography.

More early Cyber Monday deals on budget drones:

Best early Cyber Monday deals on drones for kids

Why we like it:

Everyone knows kids spend too much time looking at screens (heck, so do adults). If you're looking for a holiday gift that will get you and your kids outside, then a kid-friendly drone is a perfect gift idea. This drone isn't so expensive that you'll feel the hurt if it crashes and breaks. The controls are also simple enough that older kids can get in on the fun.

More deals on drones for kids:

Best early Cyber Monday deals on advanced drones

Why we like it:

For professionals and advanced hobbyists, the average drone on Amazon isn't going to cut it. While this drone doesn't capture 4K footage, it does shoot in 1080p HDR. It also boasts an extended flight time of 53 minutes and can travel up to 14 miles away from its operator. When it's done shooting, it can automatically return to the point of takeoff. Finally, you can control this drone via remote control or through an iOS or Android app.

More deals on advanced drones: </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>