<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second group of Hamas-held hostages released after hours-long delay; Temporary cease-fire holds</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="A second group of 17 hostages who had been held captive in Gaza since being kidn">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Second group of Hamas-held hostages released after hours-long delay; Temporary cease-fire holds</p>
            <span id="topic" >gaza</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://assets2.cbsnewsstatic.com/hub/i/r/2023/11/22/8c5e47e6-6b39-4700-8588-45add1f37f8f/thumbnail/1200x630/f4398567118041a8dd02219b40a457f6/cbsn-fusion-breaking-down-the-israel-hamas-hostage-deal-short-term-cease-fire-in-gaza-thumbnail.jpg?v=5659e73acd91751548aa89950cf015b0" alt="">

                <textarea id="text" readonly> A second group of 17 hostages who had been held captive in Gaza since being kidnapped by Hamas militants in the Oct. 7 terror attack on Israel were released Saturday after an hours-long delay as part of the short-term cease-fire agreement brokered by the U.S., Qatar and Egypt.

There were 13 Israelis and four Thai nationals released, Israeli Prime Minister Benjamin Netanyahu's office said in a statement. There were seven Israeli children ranging in age from 3 to 16, and six Israeli women ranging in age from 18 to 67 released, the office announced.

Among those freed was 9-year-old Emily Hand, an Israeli-Irish girl who was initially believed to have been killed by Hamas.

"Emily has come back to us! We can't find the words to describe our emotions after 50 challenging and complicated days," her family said in a statement to CBS News.

Their release came after an hours-long delay Saturday when Hamas accused Israel of not complying with the cease-fire's terms.

One U.S. source told CBS News that the delay was over the pace of aid coming into Gaza.



"This is putting the deal in danger and we have spoken to mediators about that," Osama Hamdan, a senior Hamas official said in Beirut, the Associated Press reported.

However, Majed Al-Ansari, a spokesperson for Qatar's foreign ministry, said in a statement that "obstacles were overcome" with the help of Qatari and Egyptian mediators, and Hamas finally agreed to release the hostages.

Israeli Defense Forces confirmed the hostages had been freed in a statement Saturday night, saying that "after undergoing an initial medical assessment" the hostages "will continue to be accompanied by IDF soldiers as they make their way to Israeli hospitals, where they will be reunited with their families."

In exchange, another 39 Palestinians — 33 children and six women — who were being jailed in Israel will also be released Saturday, Al-Ansari disclosed.

All this followed the release of an initial group of 24 Hamas-held hostages on Friday — the first day of the cease-fire — consisting of 13 Israelis, 10 Thai nationals and a Filipino citizen. The released Israelis ranged in age from 2 to 85 and included several mothers and four children, the Israeli government said. Four hostages, two Americans and two Israelis, were released by Hamas last month.

Israeli intelligence has been receiving a list of the names of the hostages who are expected to be released in each group prior to their handover. The families of those hostages released in Saturday's second group were given early notification on Friday night, Netanyahu's office said.

The cease-fire, which took effect Friday morning after frantic diplomatic efforts, calls for a pause in the fighting and the release of some 50 Hamas-held hostages, all women and children, over the course of four days. In exchange, 150 Palestinian women and children held in Israel would also be released.

Prior to Friday's swap, Israel estimated that there were about 240 hostages still being held by Hamas. Officials did not indicate Saturday approximately how many are still being held captive.

The four-day cease-fire agreement allows for hundreds of aid trucks to enter the devastated Gaza Strip. The United Nations said that 200 trucks carrying humanitarian aid — including food, water and medical supplies — crossed into southern Gaza from Egypt via the Rafah crossing Friday in the hours after the cease-fire began. Four trucks of fuel and four tanks of cooking gas were also delivered into Gaza, the U.N said.

Egyptian and Israeli officials had said that about 200 aid trucks will enter Gaza daily during the ceasefire.

However, a U.S. source familiar with the cease-fire deal told CBS News Saturday that Hamas believed the number of aid trucks which came into Gaza on Friday and Saturday were below the agreed upon amount, which contributed to Saturday's standoff. The final deal agreed to by both sides had been 200 trucks daily, which was lower than an earlier draft agreement that called for 300 trucks a day, the source said.

The source added that Hamas was also frustrated over the sequence in which Palestinian prisoners were being released. Those who had been longest held were supposed to be released first, according to the terms.

Meanwhile, three Americans are expected to be among the 50 slated to be freed as part of the deal. In total, up to 10 Americans remain unaccounted for since the Hamas attack.

On Friday, President Biden said the U.S. did not know when the Americans held hostage will be released, or all of their conditions. Among them is 4-year-old Abigail Mor Edan, whose parents were gunned down by Hamas militants on Oct. 7. On Saturday morning, a senior Biden administration official said they did not expect the American hostages to be released today.

"We are early in the process that will see at least 50 women and children released during the first phase of the agreement," the official said. "We are hopeful that will include three dual national women and children, who are American citizens. This will unfold over the coming days. We will not comment on individual cases as the process is underway."

In keeping its end of the deal, Israel on Friday released a first group of 39 Palestinian prisoners — 24 women and 15 teen boys. Thousands gathered in the occupied West Bank village of Beitunia on Friday to greet them after they were freed from three Israeli prisons.

The Red Cross oversaw their transfer, first to the West Bank's Ofer Prison, and then to Beitunia.

Israeli forces had gathered outside Ofer Prison ahead of the exchange, where some Palestinians threw stones at Israeli soldiers. CBS News cameras showed one Palestinian who was shot in the leg with a live round before being rushed into an ambulance.

Noman Abu Naeem told CBS News his 16-year-old son Ahmed was on the list of Palestinian prisoners due to be released Friday. Naeem said his son had been jailed for about a year after allegedly being arrested for joining a protest.

"Like anyone who was dying to see their son, we were thrilled," he said of his reaction to learning of his son's pending release.

Among the Israeli hostages released Friday was Doron Katz-Asher and her two daughters, ages 2 and 4. They had been kidnapped from kibbutz Nir Oz.

Israeli authorities previously said about a quarter of the Nir Oz's residents, which is located about a mile-and-a-half from the Gaza border, were either massacred or taken hostage by Hamas militants on Oct 7.

"I just broke down in tears," Dori Roberts, a cousin of Doron Katz-Asher, told CBS News Friday. "I had to walk away and let everything go. It was a very exciting moment."

The hostages were bussed to Israel, where their first stop was a military base for a health assessment, and then onto helicopters bound for Israeli hospitals and their waiting families.

Released Israeli hostages on Friday. IDF Spokesperson, courtesy of the families

Mr. Biden said Friday he thought "the chances are real" for the temporary pause in the fighting to be extended, and that he remains in contact with the leaders of Qatar, Egypt and Israel "to make sure this stays on track and every aspect of the deal is implemented."

An hour into the temporary truce Friday, CBS News cameras captured the moments that Israeli soldiers fatally shot at least two Palestinians in an effort to block them from returning to evacuated northern Gaza.

CBS News producer Marwan al-Ghoul reported that between 4,000 and 5,000 people had begun to journey north from the southern Gaza city of Khan Younis despite leaflets dropped by Israel Defense Forces warning them against it. They encountered a line of Israeli tanks at a crossover point in central Gaza when they were fired upon.

Majed Al-Ansari, a spokesperson for Qatar's foreign ministry, stressed to reporters Thursday that while Qatar was serving as an intermediary between the two sides, it would be on Israel and Hamas to maintain the tenets of the cease-fire agreement.

More than 1,200 people, most of them civilians, were killed by Hamas militants during their Oct. 7 invasion of southern Israel, according to the Israeli military.

The Hamas-run Gaza Health Ministry says almost 15,000 people have been killed in Gaza by Israel's retaliatory ground incursion and airstrikes, and the United Nations estimates that 1.7 million of the territory's roughly 2.3 million inhabitants have been displaced by the war.

— Margaret Brennan, Lilia Luciano, Imtiaz Tyab, Tucker Reals, Elias Lopez, Caitlin Yilek, Bo Erickson, Khaled Wassef and Holly Williams contributed to this report. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>