<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senate nears vote on Biden's Ukraine request</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="“This has injected a decades old, hyper-partisan issue into overwhelmingly bipar">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Senate nears vote on Biden's Ukraine request</p>
            <span id="topic" >biden</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://static.politico.com/5b/67/e0a5de1d43a288abb7abb745a20e/u-s-congress-60230.jpg" alt="">

                <textarea id="text" readonly> “This has injected a decades old, hyper-partisan issue into overwhelmingly bipartisan priorities,” Schumer said in a Dear Colleague letter to senators. The Democratic leader said his 51-member caucus was “ready to work on common-sense solutions to address immigration” but warned that if the GOP took too hard a line, it could “jeopardize the entire” supplemental bill.

He also urged Democrats to engage more with Republicans to try to cut a deal, something he also tried to do right before the Thanksgiving recess. He warned of long nights and days ahead, as well as possible weekend work.

A bipartisan gang formed several weeks ago with hopes of clinching a deal that would marry Biden’s request for more than $100 billion for Ukraine, Israel, Taiwan and the border with changes to U.S. asylum and parole policy.

Ahead of the Thanksgiving recess, asylum was the biggest holdup to moving forward, according to people familiar with the negotiations. Sens. Kyrsten Sinema (I-Ariz.), James Lankford (R-Okla.), Chris Murphy (D-Conn.), Thom Tillis (R-N.C.), Michael Bennet (D-Colo.) and Lindsey Graham (R-S.C.) are those most closely involved in the talks.

There are almost certainly 60 votes for sending tens of billions more to Ukraine, but Republicans have warned they won’t do so without a border deal because they believe Speaker Mike Johnson won’t take up a bill that lacks border security provisions. Schumer’s push for a Senate vote in early December gives the Senate talks a deadline, and it may be needed: Congress has twice passed spending bills this fall that leave out Ukraine aid, and things will only grow tougher in the new year.

“Nothing would make autocrats like Putin or Xi happier right now than to see the United States waver in our support for the Ukrainian people and its military,” Schumer wrote in his letter, referring to the leaders of Russia and China. “This is not just about Ukrainian or Transatlantic security, it’s about American security as well because an unchecked Putin would be an emboldened Putin.”

Schumer also said there would be an all-senators briefing on Ukraine in the coming days. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>