<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheetz gas prices for Thanksgiving week: $1.99 a gallon deal being offered to travelers</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Gas prices may be down nationwide, but Sheetz is cutting the price even more dur">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Sheetz gas prices for Thanksgiving week: $1.99 a gallon deal being offered to travelers</p>
            <span id="topic" >usa</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.usatoday.com/gcdn/authoring/authoring-images/2023/11/20/USAT/71654087007-sheetz-gas-display-sign.png?crop=1068,602,x0,y189&width=1068&height=602&format=pjpg&auto=webp" alt="">

                <textarea id="text" readonly> Gas prices may be down nationwide, but Sheetz is cutting the price even more during Thanksgiving week.

The major mid-Atlantic gas station, restaurant and convenience chain with more than 700 locations is reducing the price of its Unleaded 88 gas to $1.99 per gallon through Monday, November 27 at 11:59 p.m. ET.

What is Unleaded 88 gas?

Unleaded 88, a fuel blend also known as E15, is 15% ethanol and 85% gasoline, approved by the U.S. Environmental Protection Agency for use in all 2001 and newer vehicles.

The $1.99 price offers more than $1 in savings per gallon for many shoppers. The national average for unleaded is $3.274 per gallon, according to Patrick De Haan, head of petroleum analysis at GasBuddy, who posted Monday Nov. 20 on X, formerly known as Twitter.

Small Business Saturday:Why is it becoming more popular than Black Friday?

How can I get the Sheetz Thanksgiving week gasoline deal?

Customers can get the $1.99 per gallon price on Unleaded 88 gasoline at 422 of the Sheetz locations that carry this fuel grade in Pennsylvania, Ohio, North Carolina, Virginia and West Virginia.

To find out if a certain location has Unleaded 88, check the Sheetz mobile app or website.

The price is good through Monday, Nov. 27.

Follow Mike Snider on X and Threads: @mikesnider & mikegsnider.

What's everyone talking about? Sign up for our trending newsletter to get the latest news of the day

Travel news:Late to the airport during the holidays? Lyft will pay you for that 'even if you take a taxi' </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>