<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortest head coaching stints in NFL history: Where Frank Reich's tenure with Panthers ranks on all-time list</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Frank Reich's tenure in Carolina was one and done. Well, actually, the now-forme">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Shortest head coaching stints in NFL history: Where Frank Reich's tenure with Panthers ranks on all-time list</p>
            <span id="topic" >Frank Reich</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://library.sportingnews.com/styles/crop_style_16_9_desktop/s3/2023-11/Frank%20Reich%20112723.jpg?h=920929c4&itok=1qDU53tK" alt="">

                <textarea id="text" readonly> Frank Reich's tenure in Carolina was one and done. Well, actually, the now-former Panthers head coach didn't even get a full season at the helm so it was more like two-thirds and done.

The Panthers elected to move on from the head coach on Monday, firing Reich after just 11 games with the organization. He was hired this offseason to take over the vacant spot with Carolina, but after guiding the team to the league's worst record through 12 weeks, owner David Tepper had enough and pulled the trigger, firing his third head coach since purchasing the team in 2018.

Carolina's loss to Tennessee in Week 11 marked the team's fourth consecutive defeat, dropping the Panthers' record to 1-10, the worst in the NFL. Between the poor showing on the field and Tepper's growing reputation as an impatient owner, the writing was on the wall for a number of weeks when it came to Reich's job security. With Reich no longer with the organization, special teams coordinator Chris Tabor has been tabbed with the interim head coach title for the rest of 2023.

Reich's stay in Charlotte marks the shortest tenure for a head coach in the last 45 years, besides Bill Belichick's infamous one-day career as the Jets head coach, but more on that in a bit.

MORE: Exploring reasons why the Panthers fired Frank Reich

Here is a look at the shortest head coaching stints in NFL history:

Shortest head coaching stints in NFL history

Urban Meyer, Jacksonville Jaguars — 13 games (2021)

The Urban Meyer experience in the NFL was a disaster. The longtime college coach made the jump to the professional level in 2021 when he signed a five-year deal with the Jaguars that was estimated to be worth $10 to $12 million annually.

Meyer lasted only 13 games in Jacksonville. Less than a calendar year after inking the lucrative deal, Jaguars owner Shad Khan fired Meyer after kicker Josh Lambo accused the head coach of kicking him at practice. It certainly didn't help that the Jaguars were 2-11 on the season, with then-rookie Trevor Lawrence struggling to perform under Meyer's watch.

Lou Holtz, New York Jets — 13 games (1976)

Lou Holtz was another college football legend who stumbled when trying his hand at the NFL. In 1976, Holtz left NC State to take over head coaching duties with the Jets. It was the final year that Hall of Fame quarterback Joe Namath was playing in New York, but after a 3-10 record through 13 games of what was then a 14-game season, Holtz elected to resign and return to the college level.

While his NFL coaching career left much to be desired, Holtz did deliver an exceptional line about his time in the big leagues — "God did not put Lou Holtz on this earth to coach in the pros."

Bobby Petrino, Atlanta Falcons — 13 games (2007)

Bobby Petrino was another well-respected college coach who in 2007, made the decision to take over as head coach of the Falcons. He left Louisville and signed a five-year, $24 million contract with Atlanta. Starting to notice a pattern here?

It's hard to put all of the blame on Petrino for his failed NFL season. When he took the Falcons job, it was with the assumption that he would get to work with superstar QB Michael Vick. However, Vick was sentenced to prison stemming from his infamous dogfighting operation, and he never played a snap under Petrino. After a 3-10 record, Petrino resigned from his position and went back to the NCAA.

Frank Reich, Carolina Panthers — 11 games (2023)

Reich's tenure with the Panthers ranks as the fourth-shortest in NFL history. He was hired by Carolina during the 2023 offseason after he was fired in the middle of the 2022 season by the Colts. There were plenty of critics who did not like the move for the Panthers, but it's the one that owner David Tepper went with.

The end result proves that the nay-sayers may have been right. After a 1-10 record through 12 weeks, Carolina fired Reich. The decision follows a trend of the trigger-happy Tepper, who has grown a reputation as an impatient owner, both in the NFL and Major League Soccer, where he is the owner of Charlotte FC and is in the midst of his third coaching search after just two seasons.

Pete McCulley, San Francisco 49ers — Nine games (1978)

In 1978, Pete McCulley finally got his first crack at an NFL head coaching gig. The long-time assistant coach signed with the 49ers, taking over a team that had just traded five draft picks, including a first-rounder, for Hall of Fame running back O.J. Simpson.

The McCulley experience was a doozy. The 49ers went 1-8 in their first nine games, resulting in the firing of McCulley. While his time in the Bay Area was disappointing, perhaps not all of the blame can be put on McCulley's shoulders. The team committed 63 turnovers on the season, which remains the most in a single season by any team in NFL history.

George Allen, Los Angeles Rams – Two preseason games (1978)

George Allen was the Mike Tomlin of the '60s and '70s. He never had a losing season in his 12 years as head coach in the NFL, coaching the Rams for five years from 1966 to 1970 and the Redskins from 1971 to 1977. Allen led St. Louis to two conference championships, and then navigated Washington to five postseason berths and a Super Bowl appearance.

In 1978, the Rams brought Allen back, but he didn't last the preseason. After two bad preseason losses, then-owner Carroll Rosenbloom fired Allen as the head coach. It was the last time the Hall of Famer would be a head coach in the NFL.

Bill Belichick, New York Jets – One day (2000)

By now, football fans are likely well aware of Bill Belichick's infamous one-day tenure as head coach of the Jets. In 1999, Belichick was tabbed as the successor to Hall of Fame head coach Bill Parcells, who was stepping down as New York's head coach.

However, Belichick did not even make it through his opening press conference with the team. Moments before he was to be formally introduced as the Jets' next head coach, he famously scribbled on a sheet of loose-leaf paper that he was resigning from the position, stunning the organization and the public.

The Jets and NFL commissioner Paul Tagliabue came to an agreement that Belichick was still under contract with the team, so New England had to trade a 2000 first-round pick in order to pry Belichick away from New York. He went on to lead the Patriots to the one of the greatest dynasties in sports history, while the Jets have been left thinking about what could have been. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>