<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spain denounces 'indiscriminate' Gaza deaths, angering Israel</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="[1/2] Secretary-General of the Arab League Ahmed Aboul Gheit meets with Spain's ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Spain denounces 'indiscriminate' Gaza deaths, angering Israel</p>
            <span id="topic" >gaza</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.reuters.com/resizer/LGxiwtIlFBEaUYRjlHcSWpFTfOM=/1200x628/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/6CCYE4L3OZNZRBYEHUE563RTVM.jpg" alt="">

                <textarea id="text" readonly> [1/2] Secretary-General of the Arab League Ahmed Aboul Gheit meets with Spain's Prime Minister Pedro Sanchez and Belgium's Prime Minister Alexander De Croo to discuss the ongoing conflict between Israel and Hamas, in Cairo, Egypt November 24, 2023. REUTERS/Mohamed Abdel-Ghany Acquire Licensing Rights

Nov 24 (Reuters) - Spanish Prime Minister Pedro Sanchez on Friday denounced on a visit to the Gaza Strip border what he called the indiscriminate killing of Palestinians, drawing an angry response from Israel which said the remarks gave terrorism a boost.

While at the Egyptian-controlled Rafah crossing with Belgian Prime Minister Alexander De Croo, Sanchez also called for a lasting humanitarian ceasefire in Gaza "to reverse the catastrophic situation that the people of the Strip are going through."

"The indiscriminate killing of innocent civilians, including thousands of boys and girls, are completely unacceptable," he said.

Israel's Foreign Minister Eli Cohen in a statement accused Sanchez and De Croo of "false claims" that "give terrorism a boost" and said he had summoned the ambassadors of Spain and Belgium to explain the comments.

Israeli Prime Minister Benjamin Netanyahu also weighed in, saying the two European leaders had failed to spotlight what he called crimes against humanity committed by Palestinian militants of Hamas.

Hamas fighters burst into Israel from Gaza on Oct. 7 in an attack Israel says killed 1,200 people, mostly civilians. Israel has bombarded Gaza and sent in troops and tanks in retaliation, killing about 14,000 Gazans, around 40% of them children, according to Palestinian health authorities.

"Prime Minister Netanyahu strongly condemns the remarks made by the Belgian and Spanish prime ministers for not placing the full responsibility of the crimes against humanity committed by Hamas, who massacred our citizens and who use the Palestinians as human shields," a statement by Netanyahu's office said.

The two European premiers have strongly condemned the attacks by Hamas on Oct. 7, but have also been the most vocal EU leaders on the need for a ceasefire and respect for human rights in Gaza.

Hamas denies the allegation that it uses civilians as human shields.

Shortly after Netanyahu's comments, Spanish Foreign Minister Jose Manuel Albares said in a video statement that "the accusations of the Israeli government are false and unacceptable. We categorically reject them".

Later on Friday evening, Albares said on state television that he had summoned the Israeli ambassador in Madrid to explain the Israeli government's accusations.

The exchanges occurred shortly before Hamas freed 24 hostages on the first day of the war's first truce, including Israeli women and children and Thai farm workers.

On Thursday, Sanchez met Netanyahu and Israeli President Isaac Herzog in Israel Palestinian President Mahmoud Abbas in Ramallah in the occupied West Bank. Sanchez floated the idea of an international peace conference on the Israeli-Palestinian conflict to forge a viable Palestinian state.

The Belgian and Spanish media travelling with the two European leaders reported that their staff were "surprised" with Israel's reaction, as they saw the comments made on Friday as aligned with the message delivered the day before to Netanyahu.

Reporting by Inti Landauro and Belén Carreño in Madrid, Ari Rabinovitch in Jerusalem, Andrew Gray in Brussels; Writing by Emma Pinedo and Charlie Devereux, Editing by William Maclean and Grant McCool

Our Standards: The Thomson Reuters Trust Principles. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>