<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Standard Chartered-owned crypto firm Zodia launches in Hong Kong</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Zodia Custody, the crypto security firm owned by British banking giant Standard ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Standard Chartered-owned crypto firm Zodia launches in Hong Kong</p>
            <span id="topic" >crypto</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://image.cnbcfm.com/api/v1/image/107325114-1698625752227-gettyimages-1615018934-HK_STANDARD_CHARTERED.jpeg?v=1698625903&w=1920&h=1080" alt="">

                <textarea id="text" readonly> Zodia Custody, the crypto security firm owned by British banking giant Standard Chartered, is launching its services in Hong Kong, the company told CNBC exclusively.

It marks the latest push for the U.K.-headquartered firm into the Asia-Pacific region. Founded in 2020, Zodia Custody helps financial institutions store their crypto securely.

Julian Sawyer, CEO of Zodia, said that Hong Kong was a market where demand for crypto is driven by institutions, rather than retail customers, adding this is the ideal clientele for Zodia.

"The Hong Kong government and the regulators see digital assets as the future and also want Hong Kong to be a hub," Sawyer said.

Zodia has been expanding aggressively in Asia. Indeed, the company opened its services in Japan, Singapore and Australia in recent months. It is part-owned by Standard Chartered, as well as Northern Trust and Japan's SBI Holdings.

Hong Kong is the last stop on Zodia's tour around the Asia-Pacific region, Sawyer said.

"What we're seeing is there are absolutely clients in all of those four markets who want to do things," he added.

"We also see a lot of other clients and prospects outside those four jurisdictions that want to come in on the institutional side."

Hong Kong has been increasingly warming to crypto assets despite a broader anti-crypto push from China, which banned bitcoin trading and mining in 2021.

The Hong Kong Securities and Futures Commission (SFC) launched a regulatory regime for digital assets earlier this year, giving companies the ability to apply for registration and offer their services in a regulated way.

So far, only two firms, OSL Digital and Hash Blockchain, have been handed licenses by the SFC.

Zodia is embarking on its Hong Kong expansion in a phased approach. At first, it will seek to provide services for Hong Kong clients in a limit set of crypto assets.

Zodia is also in discussions with both the SFC and Hong Kong Monetary Authority about becoming regulated in the financial district. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>