<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stéphane Bern : son avis cash sur la nomination de Slimane à l'Eurovision</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Que faut-il à la France pour tenter de décrocher la première place au concours d">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Stéphane Bern : son avis cash sur la nomination de Slimane à l'Eurovision</p>
            <span id="topic" >Stephane Bern</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.voici.fr/imgre/fit/~1~voi~2023~11~09~735ba01e-a829-4663-9899-d7816a31533c.jpeg/1200x600/cr/wqkgIEhlbnJpIFN6d2FyYyAvIFN0YXJmYWNlIC8gVm9pY2k%3D/stephane-bern-son-avis-cash-sur-la-nomination-de-slimane-a-l-eurovision.jpg" alt="">

                <textarea id="text" readonly> Que faut-il à la France pour tenter de décrocher la première place au concours de l'Eurovision ? Un Slimane très enjoué évidemment ! Eh bien ce sera chose faite. Mercredi 8 novembre 2023, le chanteur a mis fin au suspense et a annoncé qu'il représentera la France en 2024.

La nouvelle a été officialisée sur France Inter par Alexandra Redde-Amiel, cheffe de la délégation française et directrice des divertissements de France TV. Selon elle, c'était le choix de l'évidence compte tenu de la popularité de l'artiste. Le père de la petite Esmeralda a d'ailleurs révélé le titre qu'il a composé pour l'occasion. Intitulée Mon amour, il s'agit d'une véritable lettre "d'amour que j'envoie à tous les gens qui veulent bien la recevoir", indiquait-il à Anne-Sophie Lapix lors sur Journal Télévisé de France 2.

Un choix logique pour Stéphane Bern

Ce concours, il a décidé de le faire pour une seule raison : "Je ne le fais pas pour espérer qu'on me reconnaisse plus. Je le fais pour représenter mon pays, je le fais pour chanter cette chanson, pour chanter l'amour, je pense qu'on en a plus que jamais besoin. Je ne dirais pas que j'ai l'esprit de compétition, je dirai plutôt qu'en tant que chanteur-auteur-compositeur, je veux qu'on m'entende". Cette nomination a été largement saluée par de nombreux artistes comme Vianney, Amir ou encore sa grande amie, Vitaa.

Ils ne sont pas les seuls à le féliciter et à s'en réjouir. Dans les colonnes de Télé-Loisirs jeudi 9 novembre 2023, Stéphane Bern a réagi à cette annonce surprise. "C'est un très bon choix", commence-t-il par déclarer, avant de donner davantage de précisions. "Alexandra Redde-Amiel a employé la méthode suédoise : on prend un artiste qui a réussi et on lui donne une chance de représenter son pays à l'Eurovision au lieu de choisir un chanteur que personne ne connaît qu'il faut présenter en France, puis à l'étranger." Slimane, c'est donc le choix logique : "on prend quelqu'un que les Français aiment déjà. En plus, il a une voix, une carrière et une surface médiatique. Ça va nous porter". Un message d'espoir qui donne déjà envie d'y être ! </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>