<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supercomputer predicts Premier League weekend matches including Man City vs Liverpool</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The Premier League returns this weekend following the international break with t">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Supercomputer predicts Premier League weekend matches including Man City vs Liverpool</p>
            <span id="topic" >premier league</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://i2-prod.dailystar.co.uk/incoming/article30822685.ece/ALTERNATES/s1200/1_Manchester-City-v-Liverpool-Premier-League.jpg" alt="">

                <textarea id="text" readonly> The Premier League returns this weekend following the international break with the clash between Manchester City and Liverpool at the Etihad taking the top billing

The frenzy of the Premier League returns on Saturday and the notorious Supercomputer has had its say.

The weekend of games will kick-off with arguably the best of the lot, as Manchester City host Liverpool in a 12.30pm kick-off that neither Pep Guardiola or Jurgen Klopp are exactly ecstatic about. The top-flight action will culminate on Monday night, when Fulham welcome Wolves to Craven Cottage.

And BetVictor have again deployed their predictive algorithm to predict the likely winner of each game, taking into account current standings and recent form - although perhaps not jet lag from international travel. Many pundits have labelled City v Liverpool a clash too close to call, a notion the Supercomputer disagrees with.

The champions are given a 59 per cent chance of victory, with the Reds big underdogs at just 21 per cent. Also intriguing is the forecast for Everton's home game with Manchester United, which is expected to be a highly-charged occasion after the Toffees were deducted 10 league points.

But the Supercomputer isn't fussed on emotion. Sean Dyche's side are only given a 26 per cent chance of three points while United, who have taken 12 from 15 albeit with not with much conviction, are favourites at 47 per cent.

Newcastle's home game with Chelsea has also been billed as a big clash. Eddie Howe's side are injury-hit and yet given an eye-catching 63 per cent chance of winning while Chelsea, despite holding champions City last time out, apparently have little hope with 16 per cent.

Image: Getty Images) Getty Images)

HAVE YOUR SAY! Who will win out of City and Liverpool? Comment below.

Tottenham Hotspur v Aston Villa is a game the Supercomputer can't split, with both at 37 per cent despite the poor away form of Unai Emery's side. West Ham are rated at 56 per cent to win at Burnley, with Vincent Kompany's side only given a 23 per cent chance of a desperately needed result.

Nottingham Forest v Brighton is also tipped as an away win, with the Seagulls way out at 53 per cent, and the home side only 26 per cent. Sheffield United have been handed a 33 per cent chance of a second league win against Bournemouth - but the Cherries are favourites at 46 per cent.

This article contains affiliate links, we will receive a commission on any sales we generate from it. Learn more Liverpool home shirt 2023/2024 Get the Liverpool home kit Prices start from £59.95 Liverpool's home shirt for the 2023/2024 campaign pays homage to Bill Shankly and the legendary Reds manager's final season in charge at Anfield. The Nike shirt features a bright red design with a bold white contrast on the colour and cuffs. Nike Buy it now

Crystal Palace are deemed to have 48 per cent chance of going to Luton and winning who are down at 22 per cent, while Arsenal seemingly have a 49 per cent chance of maintaining their title challenge at Brentford (28 per cent). And come Monday, it's Fulham, at 44 per cent, expected to overcome Wolves, who are given a 28 per cent chance of prevailing in London.

Join our new WhatsApp community! Click this link to receive your daily dose of Mirror Football content. We also treat our community members to special offers, promotions, and adverts from us and our partners. If you don’t like our community, you can check out any time you like. If you’re curious, you can read our Privacy Notice. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>