<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taika Waititi says he directed 'Thor' because he was 'poor' with 2 kids: 'I had no interest'</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Taika Waititi's Marvel Cinematic Universe's directorial debut with "Thor: Ragnar">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Taika Waititi says he directed 'Thor' because he was 'poor' with 2 kids: 'I had no interest'</p>
            <span id="topic" >Entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://www.usatoday.com/gcdn/presto/2022/06/24/USAT/9ba2fb75-b27c-41e9-a38e-575d65911142-GTY_1404821640.jpg?crop=3211,1807,x0,y225&width=3200&height=1801&format=pjpg&auto=webp" alt="">

                <textarea id="text" readonly> Taika Waititi's Marvel Cinematic Universe's directorial debut with "Thor: Ragnarok" was more about money than passion, according to the director.

Waititi, 48, appeared on Monday's episode of the "SmartLess" podcast with co-hosts Jason Bateman, Sean Hayes and Will Arnett where he discussed his climb from an independent filmmaker in New Zealand to Hollywood success by directing the Chris Hemsworth-led "Thor" franchise.

"I had no interest in doing one of those films. It wasn't on my plan for my career as an auteur," he revealed. "But I was poor and I'd just had a second child. I thought, 'You know what, this would be a great opportunity to feed these children.'"

Waititi and his ex-wife Chelsea Winstanley share daughters Te Hinekāhu, 11, and Matewa Kiritapu, 7. The couple divorced in 2018. Since then, the "Next Goal Wins" director married British singer Rita Ora in 2022.

The New Zealand-born actor-filmmaker recalled being asked to direct the third "Thor" movie on the "Smartless" podcast, which he said "was probably (Marvel's) least popular franchise" at the time.

"I never read 'Thor' comics when I was a kid. I did some research on it and I read one full comic, all 18 pages or however long they are. I was still baffled by this character," Waititi added.

In addition to "Thor: Ragnarok," Waititi went on to also direct "Thor: Love and Thunder." Both films debuted at No. 1 at the box office with record-breaking sales at opening of $121 million and $143 million.

Despite the success of both films, Waititi told Business Insider earlier this month that he "won't be involved" with the next "Thor" film if Marvel continues the franchise.

'Next Goal Wins':From soccer infamy to Xbox 'therapy,' what's real and what's not in Taika Waititi's comedy

"I'm going to concentrate on these other films that I've signed on for," he said, noting that he's booked for the next six years. "But I love Marvel, I love working with them. I love Chris."

Waititi jokingly added that he "would never feel like (Marvel is) cheating on me" if a fifth "Thor" movie proceeded with another director. "We're in an open relationship, and it's like if they want to see other people, I'm happy for that. I'd still get back into bed with them one day."

Rita Ora calls out 'ridiculous' rumorshe's in throuple with Taika Waititi, Tessa Thompson </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>