<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taylor Swift invites family of fan who died to her final concert in Brazil</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="CNN —

Taylor Swift invited the family of Ana Clara Benevides Machado, a fan who">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Taylor Swift invites family of fan who died to her final concert in Brazil</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://media.cnn.com/api/v1/images/stellar/prod/231127084850-01-taylor-swift-sao-paulo-112423.jpg?c=16x9&q=w_800,c_fill" alt="">

                <textarea id="text" readonly> CNN —

Taylor Swift invited the family of Ana Clara Benevides Machado, a fan who died before an “Eras Tour” show in Rio de Janeiro, Brazil, to her final performance in the country Sunday, a source close to the singer confirmed to CNN.

A photo of the family of Benevides Machado, wearing shirts with her picture on it, posing with Swift backstage has been making the rounds of social media, along with video showing the family in the audience of her show in São Paulo, Brazil on Sunday.

The source verified the authenticity of the photo and video to CNN.

Benevides Machado, 23, died just before a Swift concert in Rio on Nov. 17 as the region was dealing with a record heat wave that also caused Swift to postpone one of her shows in Brazil.

The singer mourned her death at the time.

“I can’t believe I’m writing these words but it is with a shattered heart that I say we lost a fan earlier tonight before my show,” Swift wrote in a statement shared on her Instagram stories. “I can’t even tell you how devastated I am by this. There’s very little information I have other than the fact that she was so incredibly beautiful and far too young.”

Benevides Machado reportedly collapsed at the stadium and later died.

“I’m not going to be able to speak about this from stage because I feel overwhelmed by grief when I even try to talk about it,” Swift said. “I want to say now I feel this loss deeply and my broken heart goes out to her family and friends. This is the last thing I ever thought would happen when we decided to bring this tour to Brazil.”

Swift’s “Eras Tour” will resume in Japan in February and continue through December 2024. A concert film about the tour set a box office record. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>