<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taylor Swift courses to be offered at Harvard, UF</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Taylor Swift is heading to Gainesville and Cambridge in 2024. No, it's not more ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Taylor Swift courses to be offered at Harvard, UF</p>
            <span id="topic" >Entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://ew.com/thmb/P_3XWpXhzwuQ-Eg4XnanfHw-3ms=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Taylor-Swift-112723-5e0e6e2ba93c4de2ad76479ff8e64035.jpg" alt="">

                <textarea id="text" readonly> Taylor Swift is heading to Gainesville and Cambridge in 2024. No, it's not more Eras Tour dates, but college courses. Both Harvard and the University of Florida (UF) have announced new courses studying Swift for 2024.

At Harvard, the course "Taylor Swift and Her World" will be taught by professor, poet, and critic Stephanie Burt. At UF, the course "Musical storytelling with Taylor Swift and other iconic female artists" will be taught by Melina Jimenez. The UF course will dig into Swift's discography, "her evergreen songwriting," and investigate iconic artists like Aretha Franklin, Billie Holiday, and Dolly Parton.

Taylor Swift college course. Dia Dipasupil/Getty Images

These schools are far from the first to dig into the lyrics and cultural impact of Swift, who is unquestionably one of the most influential musicians performing now. She is not only churning out chart-topping songs and albums but also making an economic impact everywhere her Eras Tour stops, breaking records at the box office, and even bringing new fans to the NFL. And that's just in 2023.

Other schools offering classes on Swift, Swifties, and culture include Ghent University in Belgium, the University of Texas at Austin, Rice University, Berklee College of Music, the University of California at Berkeley, Arizona State, New York University, and Stanford.

Those courses, while not uniform, tend to use a dissection of Swift's work as an entry point into criticism, analysis, and broader cultural issues and touchstones. Burt's course at Harvard, per the Harvard Crimson, will dive into how Swift's work intersects with the literary canon, with reading that includes William Wordsworth and Willa Cather. “We are lucky enough to be living in a time when one of our major artists is also one of the most famous people on the planet,” Burt told the Crimson. “Why would you not have a course on that?”

Studying contemporary pop culture is far from being off the academic map. Texas State University has offered a class on Harry Styles, UC Berkley has offered a class on Nicki Minaj, and San Diego State has offered a course on Bad Bunny. And that's really just the tip of the iceberg.

Sign up for Entertainment Weekly's free daily newsletter to get breaking TV news, exclusive first looks, recaps, reviews, interviews with your favorite stars, and more.

Related content: </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>