<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terry Venables: Former England, Tottenham, Barcelona manager dies aged 80</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Former England manager Terry Venables has died at the age of 80, his family has ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Terry Venables: Former England, Tottenham, Barcelona manager dies aged 80</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://cdn.theathletic.com/app/uploads/2023/11/26065615/GettyImages-57563095-scaled-e1700999803214.jpg" alt="">

                <textarea id="text" readonly> Former England manager Terry Venables has died at the age of 80, his family has said.

Venables led England to the semi-finals of Euro 96 on home soil.

As a club manager, he guided Tottenham to FA Cup glory in 1991 and won La Liga with Barcelona in 1985. He also managed Crystal Palace, QPR, Middlesbrough and Leeds United during a coaching career that spanned four decades.

Advertisement

A statement issued to the League Managers’ Association on behalf of Venables’ family read: “We’re totally devastated by the loss of a wonderful husband & father who passed away peacefully yesterday after a long illness.

“We’d ask that privacy be given at this incredibly sad time.”

The Club is extremely saddened to learn of the passing of former player and manager Terry Venables. Our deepest condolences are with Terry’s friends and family at this incredibly difficult time. In tribute, we shall hold a minute’s applause prior to kick-off and our players will… pic.twitter.com/ot67eolKJl — Tottenham Hotspur (@SpursOfficial) November 26, 2023

Tottenham players wore wear black armbands for Sunday’s game against Aston Villa, with a minute’s applause being held before kick-off.

A club statement read: “The club is extremely saddened to learn of the passing of former player and manager Terry Venables.

“Our deepest condolences are with Terry’s friends and family at this incredibly difficult time. In tribute, we shall hold a minute’s applause prior to kick-off and our players will wear black armbands during this afternoon’s fixture against Aston Villa. Rest in peace, Terry.”

Tottenham manager Ange Postecoglou, speaking to Sky Sports ahead of kick-off, said: “If you are asking about a person who embodies everything this football club has always wanted to be, it is Terry.

“It wasn’t just about the way he managed or coached, it was the person he was. He influenced Australia as well. He was the manager for the national team and almost got us to the World Cup, but the biggest testament is that anyone who I have ever come across that has worked with him will say he is by far the best coach, manager and tactician they have come across.”

Chelsea said they were “deeply saddened” at the news, while Barcelona also paid tribute, as did clubs from across the game.

Advertisement

Venables made more than 500 combined appearances as a player for Tottenham, QPR and Chelsea, where he won a League Cup, before later representing Crystal Palace.

But he made a real mark as a coach, memorably guiding England to the Euro 96 after a 4-1 win over the Netherlands, only to lose on penalties to Germany. He also briefly managed Australia after leaving the England job after the tournament.

An England statement on X said: “We are deeply saddened to learn of the passing of Terry Venables at the age of 80. Having won two senior caps as a player, Terry went onto manage the #ThreeLions between 1994 and 1996 – proudly leading us to the semi-finals of Euro 96. Our thoughts and condolences are with Terry’s family, friends and former clubs.”

Extremely sad news the great Terry Venables has passed away. RIP Boss. I owe you so much. You were amazing. 🙏🏻🥲 🏴󠁧󠁢󠁥󠁮󠁧󠁿 ❤️ — Alan Shearer (@alanshearer) November 26, 2023

Former England striker Alan Shearer wrote: “Extremely sad news the great Terry Venables has passed away. RIP Boss. I owe you so much. You were amazing.”

Gary Lineker, whom Venables signed for Barcelona from Everton in 1986 and then brought to Tottenham three years later, said: “Devastated to hear that Terry Venables has died. The best, most innovative coach that I had the privilege and pleasure of playing for.

“He was much more, though, than just a great manager, he was vibrant, he was charming, he was witty, he was a friend. He’ll be hugely missed. Sending love and condolences to Yvette and the family. RIP Terry.”

Current England boss Southgate said in a statement: “Any player will have great affinity with the manager that gave them their opportunity, but it was quickly evident playing for Terry Venables that he was an outstanding coach and manager.

Advertisement

“Tactically excellent, he had a wonderful manner, capable of handling everyone from the youngest player to the biggest star. He was open-minded, forward-thinking, enjoyed life to the full and created a brilliant environment with England that allowed his players to flourish and have one of the most memorable tournaments in England history.

“A brilliant man, who made people feel special, I’m very sad to hear of his passing and my thoughts are with Yvette and all of his family.”

Venables made England believe – but impact on people one of biggest legacies

The Athletic’s Tottenham correspondent Charlie Eccleshare:

Terry Venables was one of the most popular managers of his generation.

A funny, engaging personality, he was first a player with Chelsea, Tottenham, Queens Park Rangers and Crystal Palace, before becoming a very successful manager, who was generally loved by his players.

As well as the successes at Barcelona and Tottenham listed above, it is the effect he had on people that will be one of his biggest legacies.

Venables was renowned for having the human touch, and possessed a seemingly innate ability to connect with his players.

One of the defining images from his career is him comforting Gareth Southgate and somehow managing one of his distinctive warm smiles after the defender had missed the penalty that ended England’s dream of winning Euro 96.

Terry Venables consoles Gareth Southgate after his Euro 96 penalty miss (Neal Simpson/EMPICS via Getty Images)

That summer is how many people remember Venables — a summer when he made England believe in their football team again, after a few years when they badly regressed.

Venables, by contrast, was forward-thinking and had the team playing both exciting and winning football. By this point he had already won La Liga with Barcelona and the FA Cup with Spurs, and had established himself as one of Europe’s leading managers.

The way his time with England ended, though, is also illustrative of another element of his career.

Advertisement

Venables announced that he would step down from the job a few months before Euro 96 as he continued to manage legal battles from his time as Spurs manager. These battles followed him leaving the club three years earlier when on May 13, 1993, the Spurs chairman Alan Sugar and his legal team put a resolution to the board to remove Venables from his job as chief executive, ending his six-year spell at the club.

Two years earlier Sugar had enlisted Venables to be his chief executive when he had taken control of Spurs and become chairman.The split in 1993 was a hugely acrimonious one, going all the way to the High Court, where Venables’ dismissal was upheld.

The fans and players were pretty much all on Venables’ side, speaking to his huge popularity. Venables was very much a larger-than-life character.

In the 1970s, he co-wrote the James Hazell detective novels and he owned Scribes West, a drinking den for the rich and famous in Kensington, west London.

This was all part of the Venables — nicknamed ‘El Tel’ — package. He was so much more than just a football player and manager. To his critics he didn’t win enough to justify the hype, but the adoration he felt from players and fans always spoke volumes.

Terry Venables became Tottenham chief executive after Alan Sugar’s takeover in 1991 (PA Images/Getty Images)

‘Venables brought England together – you wanted to do well for him’

Speaking to The Athletic in an article first published in 2021, Alan Shearer — with the help of his former team-mates — relives Euro 96 – including the infamous ‘dentist’s chair’ incident:

“What happened out there brought a nice unity,” Teddy Sheringham, my old strike partner, tells me. “Venables had a lovely way of bringing the squad together. We were allowed out and alright, we went a little bit reckless, but it was our one night out two weeks before the start of a major competition. It ain’t that a big deal really, the way I saw it, although the media made a big deal of it.

“Terry wasn’t best pleased, but he was brilliant. He just said to the press, ‘I let them out, it’s my fault’. The way he protected us was just the kind of man that he is. Fantastic. He just said to us, ‘Let’s come together and get on with it’. You wanted to do well for him.”

Advertisement

“Terry was just so calm,” Incey says. “There was no hollering or shouting. Anyway, he couldn’t have a go at us because Robbo was his No 2 and he’d been having a few beers with us that night!

“But I think he enjoyed the fact he could use the tool of what happened. That’s what I liked about him. He simplified everything. You had that fine line where you respected him and couldn’t go overboard, but he also looked after you and thought the world of you. That was the turning point for us.”

GO DEEPER Shearer, Gazza and co relive Euro 96 - Venables, the magic, the dentist's chair, that Scotland goal and the heartbreak

Venables, the England manager: ‘Most beautiful summer’

The Athletic’s Oliver Kay:

On a sun-kissed afternoon just off the Costa Brava, at his hotel hidden between the mountains and the olive groves, Terry Venables wistfully cast his mind back to that heady summer of 1996, when, as the song would have it, football came home.

“It was the most beautiful summer,” he told me. “The football we played, against Holland and Germany, was amazing. The feeling we had at Wembley, it was beautiful. We beat Holland 4-1, but we were just as good against Germany in the semi-final. We did everything but score the winner. Extra-time… I can still see it now…”

In his mind’s eye, Paul Gascoigne is sliding in, centimetres away from scoring the “golden goal” that would have taken England to a final against the Czech Republic. “That’s the one,” Venables said. “Gazza, my lovely boy. He deserved to score, but it wasn’t to be.

“And then penalties and… Gareth [Southgate] missed one, the bugger. No, I’m joking. It was hard on him. Anyone could miss a penalty. But… penalties again. Same as the European Cup final [in 1986, when his Barcelona team were beaten by Steaua Bucharest].”

Unlike any England manager since, Venables left on a high note, with everyone – the players, the public, the media – wishing for more.

Well, almost everyone. He was always at loggerheads with Noel White, the chairman of the FA’s international committee, who continually expressed misgivings about Venables behind the scenes. Not about his coaching credentials, which were outstanding, but about the reputational damage potentially caused by various legal and business issues. White objected to extending Venables’ contract, prompting the coach to declare that he would leave once Euro 96 was over.

Advertisement

England’s oldest surviving manager said it “would have been nice” to take the team on to the 1998 World Cup, by which time David Beckham, Paul Scholes and Michael Owen had emerged, but did not dwell on regrets. Unlike so many other England managers, he did not seem scarred by the experience.

GO DEEPER Selection committees, petrodollars, tabloid circulation wars, brollies, Swedes and turnips – managing England is rarely a breeze

(Photo: Jamie McDonald/Getty Images) </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>