<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The AirPods Pro are at an all-time low price, plus more Cyber Monday AirPod deals</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="From AirPods Max to basic AirPods, we're rounding up all the best Apple headphon">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>The AirPods Pro are at an all-time low price, plus more Cyber Monday AirPod deals</p>
            <span id="topic" >technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://helios-i.mashable.com/imagery/articles/03DUmEUZDLmT9hmTPH6oWWs/hero-image.fill.size_1200x675.v1701051874.jpg" alt="">

                <textarea id="text" readonly> From AirPods Max to basic AirPods, we're rounding up all the best Apple headphone deals.

From AirPods Max to basic AirPods, we're rounding up all the best Apple headphone deals. Credit: Apple

Cyber Week is here, which means it's officially one of the best times of year to pick up a new pair of headphones.

True to Apple form, AirPods aren't cheap, making them a coveted pick during this shopping season (which is basically on all month long). We've already seen the second-gen, USB-C charging AirPods Pro down to their record-low price of $189 (which we first saw crop up during October's Prime Day sale). Verizon also came up with a surprise deal for the lightning AirPods Pro, bringing them down to a new low of $184.99.

The second-gen AirPods also hit their lowest price ever at $69 for Walmart's first Black Friday deals event, and Amazon price matched. Though the lowest price you can grab them for now is $79, we're keeping our eyes peeled for the next time you can grab them for 47% off.

In addition to what we've already seen, we're hoping to see some price drops on the AirPods Max, which two Black Fridays ago made it all the way down to $429 — a price we haven't seen since 2022. Though they haven't quite reached that point, with the start of Amazon's Black Friday sale on Nov. 17, we did finally see them get down to $449.99.

If you're looking to get the greatest discounts possible on AirPods, either on or before Cyber Monday, we'll be updating the post regularly with all the best deals.

Note: All deals with a 🔥 have dropped to an all-time low price.

Best AirPods deal

Why we like it

Walmart dropped the price of the lightning AirPods Pro to just $169 on Nov. 22 — a new record-low price. This deal was originally only available to Walmart+ members but was eventually opened up to the general public. You've probably heard it by now, but the Pros have some of the best noise cancellation of any earbuds on the market. Though the lightning port isn't entirely future-proof, it is cheaper than opting for the USB-C model.

Read our full review of the second-generation AirPods Pro.

Get Mashable Deals delivered to your inbox daily Be the first to know about price drops on Apple products. Loading... Subscribe By signing up you agree to our Terms of Use and Privacy Policy Thanks for signing up!

More deals on AirPods

More headphone deals from Apple

More Cyber Monday Apple deals

Mac and MacBook deals

MacBook Air

15-inch MacBook Air

M1 MacBook Pro

M2 MacBook Pro

M3 MacBook Pro

Mac

iPad deals

iPad (10th gen)

iPad (9th gen)

iPad Air

iPad Pro

iPhone deals

Apple Watch deals

Series 9

Series 8

SE

Ultra

More Apple Watch deals </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>