<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The war in Gaza has been an intense lesson in western hypocrisy. It won’t be forgotten | Nesrine Malik</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The images of hostages and prisoners being reunited with their families are almo">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>The war in Gaza has been an intense lesson in western hypocrisy. It won’t be forgotten | Nesrine Malik</p>
            <span id="topic" >Gaza</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://i.guim.co.uk/img/media/2ad9f96046edf1fd5e7ae09ed2e968c47d2c1863/0_430_6720_4032/master/6720.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctb3BpbmlvbnMucG5n&enable=upscale&s=6aa0f628c3f48e00d285f6029a22d620" alt="">

                <textarea id="text" readonly> The images of hostages and prisoners being reunited with their families are almost too hopeful to absorb. Even as Israeli authorities explicitly try to suppress Palestinian “expressions of joy” at the return of their prisoners, the fact that they were released, and that some Israeli hostages are now safe and reunited, signals some small promise. But even if the wildest hope is realised – a lasting ceasefire – what has already unfolded over the past 52 days will be hard to forget.

There is a short video, posted on social media a few weeks ago, that I cannot get out of my head. In the clip, a man in Gaza is holding two plastic bags that carry the body parts of a child, presumably his. There are other details. The look on the man’s face. The way those around him avoid eye contact once they realise what he is carrying. I see these details often now, sudden and unbidden. The emotional and psychological impact of the war on those outside Gaza – no matter how intense – is a sort of privilege, happening, as it is, only on our screens. But there is something lasting about these images. Others I know are haunted too, by different visions. By the doctor who came across her husband’s body while treating bombing victims. By the father stroking and rocking a dust-covered baby on his chest one last time.

In the course of everyday life and in my social media feeds, I see people who say they feel they are going mad. That there are things they will never unsee. That they can’t sleep, that their interactions with the children in their lives have become tinged with a sort of queasy guilt. The feeling seems to be not just grief, but bewilderment at the fact that it has all carried on for so long. But they keep watching. To stop looking is to admit that you are helpless. It means you have resigned yourself to the fact that there is nothing you can do, and that you will eventually succumb to that enemy of justice – a fatigue that seems already to be setting in.

The truth, too hard to accept, is that there is nothing you can do. You can write to your MP, you can march, you can protest. And the killing continues. As that happens, a jarringly bloodless account of the conflict is given by political leaders in countries like the US and UK, one that seems to omit the sheer fact and number of the deaths and resorts instead to an almost surreal language that calls for “every possible precaution” to protect civilian life. UN officials, not known for intemperance, now lose their cool and use the strongest terms possible, in what seems to be a direct result of this weird insistence on not calling reality what it is. The day before the truce, Gaza authorities put the death toll at 14,532.

That’s where the sense of losing your mind comes from: the fact that it seems, for the first time that I can think of, western powers are unable to credibly pretend that there is some global system of rules that they uphold. They seem to simply say: there are exceptions, and that’s just the way it is. No, it can’t be explained and yes, it will carry on until it doesn’t at some point, which seems to be when Israeli authorities feel like it.

Part of that inability to reach for convincing narratives about why so many innocent people must die is that events escalated so quickly. There was no time to set the pace of the attacks on Gaza, prepare justifications and hope that eventually, when it was all over, time and short attention spans would cover up the toll. Gaza has been a uniquely, inconveniently, intense conflict. “Experts say that the pace of death during Israel’s campaign has few precedents in this century,” the New York Times says. A military expert commented it was like nothing he’d seen in his career. The area is so densely populated that the toll of civilians is too high, and evidence for having undermined Hamas’s capabilities, the only possible justification for the casualties, is too low.

And so the past few weeks have been a speeded-up lesson in the illusory nature of international law. Unlike Iraq, it has not taken years for the bodies to pile up, for the evidence to mount and to prove that the venture made no one safer, was merciless and misguided – and ultimately for confidence and trust in political leadership to leach away. Gaza is happening in real time, in some instances livestreamed. The bombardments are so relentless and concentrated that entire families have been wiped out. Thousands have been displaced, dragging their children in makeshift sleds (another harrowing scene). There is also the moral force of the children. Not just their deaths, estimated at up to 6,000 in less than two months, but their orphaning, displacement, and deprivation of food and water in a besieged Gaza that is now, according to Unicef, “the most dangerous place in the world to be a child”.

Humans can be taught to accept an awful lot that does not make sense, but there is a limit to what people can be plausibly told is not possible. Much of consent in politics is secured by popular agreement that there are things that are simply above the average citizen’s pay grade, and even beyond government control. Not being able to persuade “the only democracy in the Middle East” of something that seems plainly obvious, that the horrific events of 7 October cannot be erased by even more horror, is not one of them. The lesson is brutal and short: human rights are not universal and international law is arbitrarily applied.

I don’t know where that revelation goes, once it arrives. One thing I can say with more certainty is that people have seen too much that will stay with them for a long time. Whatever happens with the fragile truce that has released a thin ray of light, a darkness has also been released into the world. Its final form is yet to take shape, but take shape it will. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>