<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Silent Epidemic: 7 Million Americans Unaware of Their Mild Cognitive Impairment</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Two new University of Southern California Dornsife studies suggest that of the 8">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>The Silent Epidemic: 7 Million Americans Unaware of Their Mild Cognitive Impairment</p>
            <span id="topic" >health</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://scitechdaily.com/images/Mild-Cognitive-Impairment-Concept-Art.jpg" alt="">

                <textarea id="text" readonly> Two new University of Southern California Dornsife studies suggest that of the 8 million Americans who have MCI, more than 90% don’t know it — an especially worrisome finding since early diagnosis is key to delaying onset of dementia and Alzheimer’s disease.

For many people, forgetting your keys or struggling to plan tasks can seem like a normal part of the aging process. But those lapses can actually be symptoms of something more serious: mild cognitive impairment, or MCI, which could be an early sign of Alzheimer’s disease.

Research Findings on MCI Awareness

Unfortunately, most people who have MCI don’t know it, so they’re unable to take advantage of preventive measures or new treatments, such as a recently approved drug for Alzheimer’s disease, that could slow its progression. Those are the findings of two new studies published in parallel by researchers at the USC Dornsife College of Letters, Arts and Sciences.

In one study, published in Alzheimer’s Research & Therapy, the researchers analyzed data from 40 million Medicare beneficiaries age 65 and older and compared the proportion diagnosed with the rate expected in this age group. They found that fewer than 8% of expected cases were actually diagnosed. In other words, of the 8 million individuals predicted to have MCI based on their demographic profile, which includes age and gender, about 7.4 million were undiagnosed.

“This study is meant to raise awareness of the problem,” says Soeren Mattke, director of the Brain Health Observatory at USC Dornsife’s Center for Economic and Social Research, who led the investigations. “We want to say, ‘Pay attention to early changes in cognition, and tell your doctor about them. Ask for an evaluation.’ We want to reach physicians to say, ‘There’s a measurable difference between aging and pathologic cognitive decline, and detecting the latter early might identify those patients who would benefit from recently approved Alzheimer’s treatments.

Socioeconomic Factors and MCI Prevalence

The prevalence of MCI is influenced by socioeconomic and clinical factors. People with cardiovascular disease, diabetes, hypertension and other health issues are at higher risk of cognitive decline including dementia. These health issues are more prevalent among members of historically disadvantaged groups, including those with less education and Black and Hispanic Americans.

The researchers found that detection of MCI was even poorer in those groups. Mattke says that’s concerning because the overall disease burden in those populations is higher. “So, they’re hit twice: They have higher risk and yet lower detection rates.”

Underdiagnosis in Primary Care

The second study, published in the Journal of Prevention of Alzheimer’s Disease, looked at 200,000 individual primary care clinicians and found that 99% of them underdiagnosed MCI. “There’s really just a tiny fraction of physicians in a position to diagnose MCI who would find these cases early enough for maximum therapeutic potential,” Mattke explains.

Understanding Different Forms of MCI

MCI by definition doesn’t cause disability, whereas dementia is itself a disabling condition reflecting more serious cognitive impairment. In MCI, challenges to everyday functioning tend to be more sporadic, says Soo Borson, clinical professor of family medicine at Keck School of Medicine of USC and co-lead of the BOLD Center on Early Detection of Dementia, who was not involved in the studies.

MCI can come in various forms: forgetfulness is the most familiar form, Borson says. Another is an executive form, which mainly affects efficiency in getting things done and difficulty with tasks that used to be easier, such as balancing a checkbook or paying bills online. There is even a behavioral form — in which mild changes in personality may predominate. These various forms often coexist.

It is important to understand that MCI refers to a level of cognitive functioning and not a specific disease state. Recent advances in the treatment of the most common cause of MCI — Alzheimer’s disease — lend new urgency to improving detection of MCI.

Challenges in MCI Detection

There are several reasons MCI might be so widely underdiagnosed in the United States. An individual may not be aware of or bring up their concern; a physician might not notice subtle signs of difficulty; or a clinician might notice but not correctly enter the diagnostic code in a patient’s medical record.

Another important reason: Time during a clinical visit may not be set aside to discuss or assess brain health unless the visit was planned expressly to include it. Detection of cognitive impairment is not difficult, but it does not occur without planning.

Mattke notes that risk-based MCI detection — focusing attention on people at greatest risk — would help identify more cases because time and resources could be focused on those high-risk individuals. Digital tests that could be administered before a medical visit could also help more people learn about their cognitive risk and current functioning.

The Importance of Early Treatment

Early treatment is vital, says Mattke, because the brain is limited in its ability to recover — brain cells, once lost, do not grow back, and any damage can no longer be repaired.

“For MCI caused by Alzheimer’s disease, the earlier you treat the better your outcomes,” he says. “This means even though the disease may be slowly progressing, every day counts.”

References:

“Expected and diagnosed rates of mild cognitive impairment and dementia in the U.S. Medicare population: observational analysis” by Soeren Mattke, Hankyung Jun, Emily Chen, Ying Liu, Andrew Becker and Christopher Wallick, 22 July 2023, Alzheimer’s Research & Therapy.

DOI: 10.1186/s13195-023-01272-z

“Detection Rates of Mild Cognitive Impairment in Primary Care for the United States Medicare Population” by Ying Liu, H. Jun, A. Becker, C. Wallick and S. Mattke, 24 October 2023, The Journal of Prevention of Alzheimer’s Disease.

DOI: 10.14283/jpad.2023.131 </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>