<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The HP Cyber Monday Sale Starts Now: Best Deals on OMEN Gaming PCs and Laptops</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Black Friday 2023 might be officially over but the HP deals are still going stro">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>The HP Cyber Monday Sale Starts Now: Best Deals on OMEN Gaming PCs and Laptops</p>
            <span id="topic" >technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://assets-prd.ignimgs.com/2023/11/25/hp-1700944963331.jpg?width=1280" alt="">

                <textarea id="text" readonly> Black Friday 2023 might be officially over but the HP deals are still going strong. The HP Cyber Monday Sale is a collection of Black Friday deals that are still available as well as new deals that will go live through the weekend and Monday, November 27. Really strong flash deals will pop up throughout the day on HP OMEN and Victus gaming PCs and laptops. The best HP Cyber Monday deals are expected to be less expensive than comparable models from Lenovo and HP. Check out the full list below.

New HP Cyber Monday Coupon Codes

The Best HP Cyber Monday PC Deals

HP OMEN 45L Intel Core i9-13900K RTX 4090 PC for $2969.99

Use code: 10BFCM23 HP OMEN 45L Liquid Cooled Intel Core i9-13900K RTX 4090 PC with 16GB RAM, 1TB SSD, 1TB HDD Use promo code "10BFCM23" 26% off $3,999.99 32 $2,969.99 See on HP

HP is offering its flagship HP OMEN 45L gaming PC equipped with a 13th gen Intel Core i9-13900K Raptor Lake CPU and GeForce RTX 4090 GPU for $2969.99 after a 10% off coupon code: "10BFCM23". The OMEN 45L is a very roomy chassis with plenty of cooling in the form of three 120mm fans for system airflow and a 240mm AIO liquid cooled CPU. This PC is also equipped with a massive 1200W 80PLUS Gold power supply. The RTX 4090 is far and away the most powerful video card you can get right now, leaving competitors like AMD's Radeon RX 7900 XTX in the dust.

HP OMEN 45L Intel Core i7 RTX 4070 Gaming PC for $1457.99

Use code: 10BFCM23 HP OMEN 45L Liquid Cooled Intel Core i7-13700K RTX 4070 Gaming PC with 16GB RAM, 1TB SSD Select Graphics Card - RTX 4070 (+$120) Use promo code "10BFCM23" 40% off $2,439.99 0 $1,457.99 See on HP

Select Graphics Card - GeForce RTX 4070 (+$120)

You don't have to splurge on an RTX 4090 to get HP's finest chassis. This model tones it down a bit with an Intel Core i7 processor and an RTX 4070 GPU, but it's still housed in the same OMEN 45L tower and the CPU is still chilled by the same 240mm AIO liquid cooler. The GeForce RTX 4070 matches the performance of the older RTX 3080 but with support for newer tech like DLSS 3.0. The RTX 4070 can easily hold its own in any game at 1080p and 1440p and even has the chops to manage most games at 4K.

HP OMEN 40L RTX 4060 Ti Gaming PC for $1016.99

Use code: 10BFCM23 HP OMEN 40L Intel Core i5-13400 RTX 4060 Ti Gaming PC with 16GB RAM, 512GB SSD Select Graphics Card - RTX 4060 Ti (+$130) Use promo code "10BFCM23" 38% off $1,629.99 2 $1,016.99 See on HP

Select Graphics Card - GeForce RTX 4070 (+$130)

This is one of the least expensive RTX 4060 equipped gaming PCs we've seen so far for Black Friday from the "big three" vendors (Dell, HP, Lenovo). The RTX 4060 Ti is the perfect 1080p gaming GPU (it's a considerably upgrade over the RTX 4060) and it's paired with a very capable 13th gen Intel Core i5-13400 CPU. In terms of gaming performance, the i5 on par with the i7 processor since most games can't take advantage of the higher-core count that the i7 offers.

The Best HP Cyber Monday Laptop Deals

HP OMEN 16 RTX 4070 Gaming Laptop for $1214.99

Use code: 10BFCM23 HP OMEN 16" 2560x1440 (QHD) Intel Core i7-13700HX RTX 4070 Laptop with 16GB RAM, 1TB SSD Use promo code "10BFCM23" 33% off $1,799.99 9 $1,214.99 See on HP

This HP OMEN gaming laptop features a 16" display with an upgraded 2560x1440 QHD resolution and the GPU to back it up. The RTX 4070 mobile GPU performs on par with the RTX 3080. It's a little bit faster than the RTX 3070 Ti but not quite as powerful as the RTX 3080 Ti. This config is also paired with the 13th gen Intel Core i7-13700HX Raptor Lake processor.

HP OMEN 17 RTX 4080 Gaming Laptop for $1799.99

Use code: 10BFCM23 HP OMEN 17" 2560x1440 (QHD) Intel Core i9-13900HX RTX 4080 Laptop 16GB RAM, 512GB SSD Use promo code "10BFCM23" 31% off $2,599.99 3 $1,799.99 See on HP

This HP OMEN laptop is equipped with an RTX 4080 GPU, which is the second most powerful mobile GPU currently available. The RTX 4080 mobile GPU performs about 20%-35% faster than the RTX 3080 Ti mobile. Compared to desktop variants, the mobile RTX 4080 approaches a performance level similar to the desktop RTX 3070 Ti. It's definitely more than enough power to run most games on the display's native 1440p resolution, even at maximum settings.

HP OMEN 17 RTX 4090 Gaming Laptop for $1902.99

Use code: 10BFCM23 HP OMEN 17" 2560x1440 (QHD) Intel Core i7-13700HX RTX 4090 Laptop 16GB RAM, 512GB SSD Select Processor & Graphics: i7 + RTX 4090, and select Display: 17.3" QHD (2560x1440) Use promo code "10BFCM23" 32% off $2,819.99 0 $1,907.99 See on HP

I think it's a fair assumption to say that this is the first time we've seen an RTX 4090 laptop for under $2000. You'll have to follow the steps below to get this price.

Go to the HP Omen 17 laptop for $999.99 configuration page

Select Processor & Graphics : i7-13700HX + RTX 4090 GPU (+$1050)

: i7-13700HX + RTX 4090 GPU (+$1050) Select Display : 17.3" QHD 2560x1440 (+$70)

: 17.3" QHD 2560x1440 (+$70) Proceed to shopping cart

At cart, apply 10% off code " 10BFCM23 "

" Final price before tax should be $1907.99

HP Victus 15 RTX 4050 Gaming Laptop from $664.99

Use code: 5BFCM23 HP Victus 15" AMD Ryzen 5 7640HS RTX 4050 Gaming Laptop with 16GB RAM, 512GB SSD Use promo code "5BFCM23" 47% off $1,249.99 0 $664.99 See on HP Use code: 5BFCM23 HP Victus 15" Intel Core i5-13500HX RTX 4050 Gaming Laptop with 16GB RAM, 512GB SSD Use promo code "5BFCM23" 45% off $1,299.99 6 $712.49 See on HP

The Victus is HP's new line of value-oriented gaming PCs for 2023. You can choose either the AMD Ryzen 5 7640HS or 13th gen Intel Core i5-13500H processor, a GeForce RTX 4050 GPU, 16GB of DDR RAM, and a 512GB SSD. Performance-wise, the RTX 4050 mobile GPU is much faster than the previous generation's RTX 3050 Ti mobile GPU. In fact, with DLSS 3.0 enabled, it's pretty much as fast as the RTX 3060. What this means is that this card is powerful enough to handle most games at 1080p.

HP OMEN 16 RTX 4060 Gaming Laptop from $854.99

Use code: 5BFCM23 HP OMEN 16" AMD Ryzen 7 7840HS RTX 4060 Gaming Laptop with 16GB RAM, 512GB SSD Use promo code "5BFCM23" 46% off $1,569.99 2 $854.99 See on HP

This is one of the best prices we've seen on RTX 4060 gaming laptops. Performance-wise, the RTX 4060 mobile GPU sits right in between the RTX 3070 and RTX 3070 Ti. It offers plenty of power to run games on the laptop's native 1080p display. In fact, there's enough juice here to opt for the 2560x1440 (QHD) upgrade if you desire. The Intel Core i7-13700HX is the more powerful CPU, however the AMD Ryzen 7 7840HS is more efficient, so it runs cooler and has a longer battery life.

HP OMEN Transcend 16" Mini-LED RTX 4070 Gaming Laptop for $1529.99

Use code: 10BFCM23 HP OMEN Transcend 16" 2560x1600 (QHD+) Mini-LED Intel Core i9-13900HX RTX 4070 Gaming Laptop with 16GB RAM, 512GB SSD Use promo code "10BFCM23" 36% off $2,399.99 1 $1,529.99 See on HP

The OMEN Transcend is the newest gaming laptop from HP. It's thinner and lighter than the OMEN laptops, and this particular model has a gorgeous 16" 2560x1600 QHD+ Mini-LED display. It also has the power to handle just about any game you throw at in, thanks to the Intel Core i9-13900X CPU and RTX 4070 GPU.

Looking for more Cyber Monday deals like this? Check out the best Cyber Monday deals of 2023. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>