<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The 1997 Audi Cabriolet Is So ’90s It’s Basically Impossible To Google</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="A few weeks ago, I picked up a bright-yellow 1997 Audi Cabriolet to review. It w">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>The 1997 Audi Cabriolet Is So ’90s It’s Basically Impossible To Google</p>
            <span id="topic" >technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://images-stag.jazelc.com/uploads/theautopian-m2en/Audi_Cabriolet_Cars_Bids_TS5B.jpg" alt="">

                <textarea id="text" readonly> A few weeks ago, I picked up a bright-yellow 1997 Audi Cabriolet to review. It was overcast and breezy, with light sprinkles forecast for the rest of the day. It wasn’t great weather for a convertible, but I could handle it.

I found an empty parking lot, set up my camera, and stood by the car to record an intro. As soon as I started speaking, the storm came—catching me, and my equipment, in a downpour.

This 1997 Audi Cabriolet is currently available for sale on Cars & Bids. Check it out and bid here.

Hi friends (new and old)! Alanis King here. You might remember me from the mid-2010s Jalopnik gang, where I met Jason Torchinsky, David Tracy, Matt Hardigree, and many other folks at The Autopian. I now work at Doug DeMuro’s auction website, Cars & Bids, where I review cars for our YouTube channel.

ADVERTISEMENT

I’ve reviewed two convertibles since starting there, and both happened on rainy days. I’m starting to think the entity controlling the sky sprinklers is doing this for fun. But hey! So am I.

I choose cars to review from a big spreadsheet that imports auction submissions on Cars & Bids, and the Cabriolet caught my eye for two reasons: The car is fairly obscure in America, and this one is bright yellow—Brilliant Yellow, to be exact. I was the moth, and it was the light.

The Audi Cabriolet came to America in the 1990s and stuck around for a few years. It was based on a car called the Audi 90, which was the more upmarket option over the Audi 80. The 80 preceded the modern A4, which is one of Audi’s smaller and more affordable cars, and it spawned all kinds of coupes, wagons, and other cars.

ADVERTISEMENT

If you don’t know much about the Cabriolet, you might wonder why there’s no model name between “Audi” and “Cabriolet.” Cabriolet is a descriptor term: It means convertible, so calling a car the “Audi Cabriolet” is like calling it the “Audi Roadster” or “Audi Wagon”—it’s practical, but it’s a little vague. (These days, for example, you can get an “Audi A5 Cabriolet,” which lists a manufacturer, model, and descriptor word. That setup makes sense!)

To me, the Cabriolet’s name is so quintessentially ‘90s. It’s awful for search-engine optimization, since it predates our collective obsession with making things Google-able. Because of that, it’s hard to research the car. Search “Audi Cabriolet” and let me know how much you find.

The Audi 80 had a whole summer of fame in the ‘90s. A dealership gifted Princess Diana an 80 cabriolet, and she drove it for four months before giving it back with 4,000 miles on it. There were so many photographs of her in it that sales shot up, and when the car went up for auction a few years ago, the auction house selling it called it “possibly the most photographed car of the summer of 1994.”

ADVERTISEMENT

The American-market Audi Cabriolet wasn’t so fortunate. Edmunds attributed the car’s low sales to its high price and aging design when new, which steered buyers toward cars like the BMW 3 Series, Saab 900, and Ford Mustang instead. The New York Times backed up that price claim; when the newspaper reviewed an Audi Cabriolet in 1994, it was $40,200. That’s $83,000 after inflation, while the 2024 Audi A4 sedan starts at just $41,200.

Audi only sold about 6,000 Cabriolets in the U.S. before pulling the car from the market in 1998, which coincided with the birth of its de-facto replacement: the Audi TT. The Cabriolet’s low sales in America, combined with this car’s bright-yellow paint, make it pretty rare.

The rain never cleared up the day I drove the Cabriolet. I couldn’t reschedule the shoot because I drive all around Texas to film these cars, so I filmed for a few hours under a hotel awning in the chilly wind—taking breaks to shiver and wrap myself in a white guest towel after the front desk took pity on me.

I got done filming, threw on the windshield wipers, and drove around in my soaked clothing. And honestly? It was delightful. This 1997 Cabriolet has a 172-horsepower V6 engine and a four-speed automatic transmission, and because it was a luxury car back in the day, it still drives like one. The suspension made rough roads soft, the car was quiet, and because its owner fixed it up, the interior looked brand new. I was immediately back in 1997.

ADVERTISEMENT

The four-speed automatic threw me off, because I’m used to driving modern cars with anywhere from six to 10 forward gears. There’s this bit between 20 and 40 mph where the car accelerates but doesn’t shift, and you find yourself wondering where the rest of the gears are. But I reacclimated to four gears quickly enough, and the rest was a joy.

It’s never ideal to drive a convertible in the rain. But it’s always fun to drive a rare car like this—and with the sun behind the clouds, this Cabriolet provided my light that day.

I only wish it could’ve warmed me up while I stood next to it to film.

[Ed note: This is the first review of a car for sale from our friends at Cars & Bids. Expect more from Alanis, Doug DeMuro, and Kennan Rolsen. I can’t wait for you all to find out other cars they have lined up for in the coming weeks. The one from Doug, for instance, is one of my all-time favorites and a car I almost bought myself. Can you guess what it is? – MH] </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>