<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Israeli hostages freed on Friday begin to reunite with their families.</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="But for many families like Ohad’s — even for those whose loved ones were release">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>The Israeli hostages freed on Friday begin to reunite with their families.</p>
            <span id="topic" >israel</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://static01.nyt.com/images/2023/11/25/multimedia/25israel-hamas-hostages-hospitals-02-kjpb/25israel-hamas-hostages-hospitals-02-kjpb-facebookJumbo.jpg" alt="">

                <textarea id="text" readonly> But for many families like Ohad’s — even for those whose loved ones were released — the joy at their liberation was mixed with profound sadness for the more than 200 others believed to still be in Gaza. Some families were split up, with women and children sent home as male relatives remained behind — including Abraham Munder, 78, Ohad’s grandfather.

“We’re happy, but we’re not celebrating. There are still other hostages in captivity,” Roy Zichri, Ohad’s brother, said in a video statement. “We need to keep up the struggle until all the hostages are freed — every last one,” he added.

Yaffa Adar, 85, had been captured in Nir Oz was taken on a scooter toward the Gaza Strip by her captors in one of the assault’s most iconic images. She was freed on Friday, while one of her eight grandchildren, Tamir, is still being held in Gaza, according to her family.

“One stone is now removed from our heart, but we are still missing parts of it,” said Moran Aloni, whose sister and niece were freed on Friday, but who still has several other relatives held hostage in Gaza.

Prof. Gilat Livni, who is overseeing the treatment of the returned child hostages at the Schneider children’s hospital, said the four Israeli children who had returned were “overall in generally good condition” despite the trauma they had been through.

“Both the mothers and the children are speaking, telling stories and sharing their experiences,” Professor Livni told reporters, calling it “astonishing and emotional.”

But the returned hostages now require a prolonged period of physical and mental rehabilitation, said Hagai Levine, a physician who is advising the families of hostages held captive in Gaza.

“It’s a long process of restoring a sense of trust, control, and functioning, after they were in a situation where they had no control over their fate,” said Dr. Levine, adding that many of the freed hostages had no home to which to return, complicating their recovery.

Before the temporary cease-fire, Hamas had freed four Israelis, citing “humanitarian reasons.” Dr. Levine met at least two of them: Judith Raanan, a dual Israeli-American citizen, and Yocheved Lifshitz.

“I was impressed by their ability not only to recover, but to offer help to other families,” Dr. Levine said. “But the process is long, and there’s definitely trauma” to be dealt with, he added. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>