<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The 16 Best REI Cyber Monday Deals a Professional Gear Outfitter Is Shopping Today</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="There’s nothing like a cold winter night to remind you that your gear needs a re">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>The 16 Best REI Cyber Monday Deals a Professional Gear Outfitter Is Shopping Today</p>
            <span id="topic" >Cyber Monday</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.travelandleisure.com/thmb/PB9qxkv6f1l0XoDSOZPKb22sVD4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/the-tk-best-rei-cyber-monday-deals-according-to-a-gear-expert-tout-62293e5f97a44238b7f7eac6fa3a0f79.jpg" alt="">

                <textarea id="text" readonly> There’s nothing like a cold winter night to remind you that your gear needs a refresh. After a decade of experience with backpacking, car camping, and other outdoor pursuits, I know the feeling as well as anyone — it starts out fine, but as soon as that chill makes its way through my jacket and past my base layers, I’d practically crawl into the campfire for warmth. Expert note: Do not do that.

Luckily, as an outfitter and outdoor gear connoisseur, it’s my passion (and also my job) to keep you warm and cozy all season long. With so many deep markdowns for Cyber Week at REI, this is one of the best times to score huge savings on products that will keep the chill at bay. I spend practically every day talking with customers and other experts about the top outdoor apparel and gear on the market, and some of my go-to recommendations are deeply discounted right now for Cyber Monday.

To help you stay warm on your next adventure, I’ve put together a list of 16 of my favorite products at REI, and they all just so happen to be marked down up to 60 percent off for Cyber Week.

Athleta Women's Trekkie North Jogger Pants

REI

These Athleta joggers are an all-season travel favorite. The fabric is thick enough to block wind and chill on blustery days, but they’re so breathable and moisture-wicking that they do just as well when the weather gets warmer, too. I’ve spoken with a number of customers who say these are their go-to airport pants — a wide waistband and two-way stretch construction gives them the comfort and mobility of leggings, while the nylon-blend fabric makes these pants durable enough for any activity. As someone who’s trashed my fair share of leggings while traveling, a pair of pants like these save room in your bag by combining coziness and utility into one perfect package. Save some cash, too, by grabbing a pair right now while they’re almost $40 off.

REI Co-op Women's Trailmade Fleece Jacket

REI

For a simple fleece jacket, look no further; either as a piece of your cold-weather layering system or a standalone jacket, this Trailmade Fleece is wildly versatile and cute to boot. Of all my winter gear, I get the most mileage out of my fleeces, and this one is an obvious pick. It’s so lightweight that it hardly takes up any space when stuffed into a carry-on bag or layered under a puffy jacket, but it squeezes an impressive amount of warmth out of its small package. Stretchy spandex in key locations keep the jacket comfortably in place for all types of activity, and the collar flairs open a little when unzipped for extra style points. Made of 100 percent recycled polyester and available in sizes up to 3X, there’s a lot to love about this fleece. Perhaps best of all, it’s an incredibly affordable addition to your winter wardrobe during REI’s Cyber Week sale at 40 percent off.

Blundstone Women's High-top Boots

REI

My partner put me onto Blundstones a few years ago; after years of hard wear as her footwear of choice for farmwork, they had broken in so nicely that they almost looked better than they did when she bought them. I got my own pair and never turned back. The only days I don’t wear my original pair of Blundies is when I wear the new pair I bought in black! Blundstone’s shock protection system disperses impacts at the heel, and squishy injection-molded soles make these boots a breeze for all-day wear. With a little bit of care, these boots are an investment that will last you years — I like to soap and condition mine every few months, then waterproof them with Nikwax. These are some of my favorite all-around boots on the market, and though they don’t go on sale often, they’re over $30 cheaper right now.

Mountain Hardwear Women's Stretchdown Parka

REI

When the weather gets seriously chilly, a parka is your best friend — the extra length of this jacket combined with high-quality, 700-fill-power goose down keeps your core plenty warm, even on the coldest days. Mountain Hardwear’s specialty “Stretchdown” woven construction means all that fabric and insulation moves as you do. One five-star reviewer wrote, “I love to practice yoga outside, and I've stayed super warm during my cold early morning sessions, enjoying full range of motion in this parka.” I’ve personally owned a Mountain Hardwear sleeping bag for almost a decade and I can confirm, the brand doesn’t play around when it comes to warmth and comfort. Other satisfied shoppers said they love the high puffy collar that keeps the wind away from your neck and the three deep, zippered pockets on the jacket’s waist and chest to keep your hands warm and to stash essentials.

Smartwool Men's Performance Hike Light Cushion Crew Socks

REI

I’ll never stop singing the praises of a nice pair of wool socks. I think everyone deserves at least one, but if you’re like me, just one is not going to cut it. I have a few pairs of these Smartwool Hike Light socks, and they’re some of my favorites. For an athletic fit, Smartwool makes some of the best socks out there. A combination of breathable merino wool and durable recycled nylon give you the best of two textile worlds. With just the right amount of cushion in key locations across the footbed, these socks will keep your feet happy for entire days of high-impact activity. Shoppers are happy, too, with 94 percent of reviewers on REI’s website saying they’d recommend this luxe footwear. If you’ve ever tried these, you’ll want to fill up your sock drawer, and there’s no time like the present while they’re 40 percent off.

REI Co-op Women's Sahara Lined Pants

REI

I won’t beat around the bush — if you’ve never tried a lined pant, I highly recommend you fix that as soon as possible. I got my first pair last winter, and I was practically giggling the entire walk to the grocery store over how snug I felt. If you want to hike and travel while somehow feeling as if you’ve never left your bed, these are the pants for you. REI took their time-honored Sahara Pants and added a soft micro-tricot lining for amazing warmth, field-tested all over the world down to 20 degrees Fahrenheit. A water-repellent finish means that cold-weather precipitation won’t slow you down. Rugged terrain won’t either, thanks to articulated knees and thick, reinforced leg panels. These pants are an easy choice for any cold-weather activity you can imagine and, if you grab them now, you’ll save 40 percent on high-quality comfort.

Icebreaker Women's 200 Oasis Half-zip Top

REI

I’ve been shopping around for my own set of base layers for a while — I finally landed on this top from Icebreaker, and I have to say, I’m happy I did. Many brands use wool in their products, but Icebreaker products are made of 100 percent merino wool, giving them unbeatable breathability and odor resistance. This top is amazingly soft and light, and the half-zipper means that you can dial in your warmth to the perfect degree by raising or lowering the zip. When you’re wearing a top as part of a layering system or hiking with a loaded pack, there’s always the potential for chafing and rubbing, but Icebreaker solves that issue with flatlock stitching and underarm gussets that keep everything perfectly in place. This brand knows how to make a high-quality product, and for almost $30 less than usual, you’ll be thanking yourself for snagging one of these.

The North Face Men's McMurdo Down Parka

REI

As an outfitter, I meet a ton of shoppers prepping for trips to cold places all over the world. Iceland is a hot travel destination right now, but its weather is anything but! When wind, rain, and snow are all on the table, this McMurdo Down Parka is always a standout pick. Generous amounts of 600-fill-power down make this puffy great in cold weather, and a durable water-repellent coating on the exterior means that this parka beads away rain and snow without trouble. The faux-fur ruff around the hood gives the McMurdo Parka a classic, adventure-ready look that I love, but for lower-key urban expeditions, it’s easily removable. High-end parkas don’t come cheap, but at over $100 off, it’s the perfect time to invest in this winter necessity that will last you a lifetime.

Sweet Turns Women's Early Rise Headband

REI

Sweet Turns mostly creates clothing for skiers, but this adorable headband is proof that their style works beyond the slopes. Like all the best outdoor clothing and accessories, this headband is suited to any environment, and it’s equally at home walking around the block or tearing up fresh powder. A chunky, colorful wool-and-acrylic yarn blend gives this headband a classic handmade look, and an extra fleece lining on the interior keeps your ears nice and snug, plus blocks out gusts of cold wind. Not only is this headband a cute winter essential; it’s also a deal during REI’s cyber week sale at 25 percent off.

Duer Men's No Sweat Relaxed Fit Tapered Pants

REI

These Duer pants have one of the most loyal pants-related fanbases I’ve ever seen. I’ve seen customers buy a pair one week, only to return the next to pick up two more pairs in different colors. Don’t be fooled by the “no sweat” in the name of these pants — they’re so soft and flexible, they wear more like sweatpants than jeans without sacrificing any of the style or durability. The plant-derived fabric absorbs moisture and prevents bacterial growth, meaning that these pants are the total package for lightweight travel where you may have to rewear clothing more frequently. Breathable but sturdy material means that they’re great in all seasons, too. This is one pair of pants you’ll never want to take off.

REI Co-op Skyward 6 Tent

REI

There was no way I could leave the Skyward 6 off this list. It’s already a great value for a spacious six-person tent at the original price of $399 — but, for $160, it’s a total steal. Of all the car-camping tents that I recommend to folks, this is one of my favorites because of its huge peak height. Campers up to six-foot-three can stand up totally straight, thanks to the Skywards’ near-vertical walls, so that means no more hunching over to unpack and change clothes. I also love the clever design features of this tent. A lipped awning over the door prevents precipitation from dripping inside, and there’s a giant vestibule in the back that can keep an entire family’s gear covered and out of the rain. No matter your level of experience, there’s something for everyone here, and this is too good of a deal to pass up.

Rumpl Original Puffy Recycled Blanket

REI

It’s hard to understand how wildly comfortable Rumpl blankets are without trying one for yourself, but I’ll do my best to paint a picture. Puffer jackets make a cozy, useful addition to your winter wardrobe, but they have one problem: they’re not six feet long and four feet wide. Enter the Rumpl blanket, which is even larger than that, and comfortably able to swaddle your entire body in a cocoon of 100 percent recycled synthetic insulation. They’re also super lightweight and pack into a tiny stuff sack, meaning these perfect campfire companions can go with you anywhere. It’s no wonder why they have over 700 five-star reviews on REI’s website — most reviewers’ only complaint is that one isn’t enough.

Exped MegaMat Duo 10 Sleeping Pad

REI

I always say that Exped MegaMats sell themselves. These just might be the comfiest sleeping pads on the market due to a cushy layer of closed-cell foam that makes them feel shockingly close to your mattress. I threw mine in the trunk of my Subaru a few weekends ago on a trip to the mountains and slept like a baby; at home, I’ve even used it as a spare guest mattress without any complaints. All sleeping pads have an insulation rating called an “R-Value” — the MegaMat’s is 8.1, meaning that it’s suitable for camping in any temperature and far warmer than any standard air mattress. It’s self-inflating, too, meaning that once you crack the valves open, it’ll gradually fill up with air over 20 minutes or so. I’ll sleep anywhere, but my partner appreciates a cozy bed more than most; thankfully, we never have to compromise with this luxurious pad.

Mountain Hardwear Women's Bishop Pass 15 Sleeping Bag

REI

I’ve been making do with a 35-degree sleeping bag for years now, but after a cold-weather trip a couple weeks ago, I’ve been looking for an upgrade. When temperatures drop below freezing, a 15-degree-rated bag is a safe bet, and this Mountain Hardware Bishop Pass 15 packs in serious bang for the buck. 650 down fill means that this bag packs down small, and it’s impressively toasty for its weight. At only two and a half pounds, the Bishop Pass is well within a comfortable backpacking range, but its performance “mummy cut” means that it’s still spacious enough to be an amazing car camping option. Mountain Hardwear also included some super clever additions like a glow-in-the-dark zipper pull, an internal stash pocket, and a water-repellent coating to keep you nice and dry.

GSI Outdoors Halulite Tea Kettle

REI

I received this ultralight tea kettle as a gift years ago, and it quickly became one of my favorite pieces of camp gear. I never realized how useful a backpacking kettle would be, but as it turns out, boiling water is practically unavoidable in camp cooking, and this little pot does that like a champ. It holds a liter of water, plenty to rehydrate backpacking meals, and is sized to neatly accommodate a small stove and fuel canister. This kettle’s special halulite alloy heats up quickly, and the foldable handle is rubberized, so there’s no need to worry about burning yourself after you take your water off the boil. Weighing in at under six ounces, this is an easy addition to any camping kit, backpacking or not. Oh, yeah, and it makes tea super well, too.

Gerber 14-inch Freescape Hatchet

REI

Bonfires are a foundational cold-weather outdoor activity, but your fire won’t be much more than an ember without a good hatchet to help you process firewood. The Gerber Freescape is an excellent wallet-friendly hatchet that splits logs for kindling with ease. The nylon handle is comfortable and secure to hold, and its plastic sheath with a large carry handle makes it a breeze to tote around camp. Cheap hatchets can lose an edge quickly after chopping through knots and tough branches, but this Gerber’s blade comes razor-sharp from the factory and handles them like a champ. It’s even light enough to be able to strap onto a pack for backcountry use, and it’s compact enough to stash in a car for emergencies.

Love a great deal? Sign up for our T+L Recommends newsletter and we’ll send you our favorite travel products each week.

 </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>