<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>These Cyber Monday Sonos Deals Will Make Your House Sing</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Sonos makes some of our favorite speakers and soundbars—we've tested all of them">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>These Cyber Monday Sonos Deals Will Make Your House Sing</p>
            <span id="topic" >Cyber Monday</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://media.wired.com/photos/65567a16e32978af64ab9905/191:100/w_1280,c_limit/Black-Friday-Cyber-Monday-Best-Sonos-Deals.jpg" alt="">

                <textarea id="text" readonly> Sonos makes some of our favorite speakers and soundbars—we've tested all of them and have yet to find one we dislike. These devices are expensive, but the good news is that Black Friday Sonos deals launched earlier this week and they're still going strong through Cyber Monday. You can snag sales on the company's Bluetooth speakers, soundbars, subwoofers, and more (Roam speakers are on sale until January 6). We've included the best deals below.

Updated November 27, 2023: We've updated links and pricing for Cyber Monday.

We test products year-round and handpicked these deals. The discount amounts we show are based on actual street prices at retailers in the past few months. Products that are sold out or no longer discounted as of publishing will be crossed out. We'll update this guide periodically.

Top Deals

If you buy something using links in our stories, we may earn a commission. This helps support our journalism. Learn more.

Soundbar and Subwoofer Deals

For more recommendations, check out our Best Sonos Speakers and Best Soundbars guides.

Sonos Arc Wireless Soundbar Photograph: Sonos

The Arc (9/10, WIRED Recommends) is our favorite soundbar for big home theaters. It comes equipped with three tweeters and eight mid-woofers to deliver deep bass, along with full Dolby Atmos support that can bounce sound off walls and ceilings in a way that mimics a surround-sound setup. It has a tasteful and understated design too, so it won't get in the way of your interior aesthetic. This soundbar was on sale for the same price during Black Friday last year, but it's the lowest price we've tracked.

Sonos Beam Photograph: Sonos

The Beam (Gen 2) packs a ton of upgrades from its predecessor including a slight redesign (Sonos swapped the fabric cover on the front with a polycarbonate grille), enhanced sound with support for Dolby Atmos (with compatible TVs and streaming apps), a faster processor, and an HDMI eARC port for higher-definition audio. It packs support for Alexa, Google Assistant, and AirPlay 2 as well. For surround sound, you can also pair it with a Sonos Sub (an expensive subwoofer) and two other Sonos speakers.

Sonos Ray Photograph: Sonos

The Sonos Ray (9/10, WIRED Recommends) is an excellent soundbar for an apartment or small room. It's compact, allowing you to place it on your entertainment center or dresser. If you want to free up space, you can mount it on your wall. It delivers clear, crisp sound that will easily fill your space. You can adjust the settings via the Sonos app for the best listening experience.

Sonos Sub Gen 3 Photograph: Sonos

We recommend the Sonos Sub (Gen 3) for anyone looking to add more bass. The third-gen model packs better processing power and more memory. It's also meant to be paired with Sonos' nonportable options—like soundbars, speakers, and amplifiers. (It won't pair with the Move, Roam, Port, or Connect.) It's expensive, but top-notch. This is also the lowest price we've tracked so far.

Sonos Sub Mini Photograph: Sonos

The Sub Mini (8/10, WIRED Review) is tiny, but you can count on it to deliver a thumping bass and clear sound. It's wireless too. Aside from plugging it into your power source, it pairs with your system through the Sonos app. This is also what you'll use to fine-tune the subwoofer. You can set bass and treble levels, adjust sub and height audio, set volume limits, and add surround-sound speakers. It's not as impressive as the Sub, but hey, it's half the price.

Speaker and Accessory Deals

Be sure to also check out our Best Smart Speakers and Best Bluetooth Speakers guides for more of our top picks.

Sonos Roam Portable Bluetooth Speaker Photograph: Sonos

This is the smallest and most portable speaker Sonos offers. Equipped with Bluetooth connectivity, you can throw the Roam (9/10, WIRED Recommends) in your bag and play music on the go. It doesn't pack audiophile-approved sound for its size, but it still delivers fairly impressive audio. The dual-driver system, tweeter, and subwoofer work together to deliver bold bass and clear highs (with zero distortion at high volume). You'll have to use the Sonos app to control it, but you can also stream from major services like Apple Music, Spotify, Tidal, and more. The Roam Charging Set (which comes with a Roam speaker and wireless charger) is on sale as well for $149 ($45 off).

Photograph: Sonos

The Sonos Roam SL is another lightweight, portable speaker. It packs everything we love about the standard Roam, including great sound quality, 10 hours of battery life, an IP67 dust- and water-resistance rating, and Bluetooth connectivity. But it doesn't come with microphones. Basically, you won't have access to voice control or smart assistants. It's missing Automatic Trueplay tuning as well (a feature that listens to your space and equalizes the audio to deliver the best sound possible). If you don't care for voice assistants or you think the Roam is too expensive, this is a solid choice.

Photograph: Sonos

The Era 100 (9/10, WIRED Recommends) holds the title of Best Overall Sonos Speaker in our guide for its improved sound and updates over the Sonos One (Gen 2). It has large woofers and angled tweeters for real stereo sound, punchier bass, and a crisp definition. With a faster processor, the speaker also receives software updates for longer. There's also now a volume slider, a play-pause button (so you don't have to take your phone out to control it), a USB-C input, and a switch on the back to manually disable the mic.

Sonos Move Photograph: Sonos

This isn't the latest version of the Sonos Move (the company released a second-gen model back in September), but we recommend it regardless. It's almost half the cost of the Move 2. The first-gen Move packs Wi-Fi and Bluetooth connectivity, 11 hours of battery life, built-in microphones with support for Google Assistant or Alexa, and Automatic Trueplay (which equalizes audio to suit the environment). It's dipped this low a few times before, but it's still a good deal.

Victrola Stream Onyx Photograph: Victrola

The Stream Onyx (8/10, WIRED Recommends) streams exclusively to Sonos speakers. All you have to do is plug in the power cable and you're all set to stream audio from the record player right to your Sonos-compatible speaker. Equipped with an analog stereo RCA output, you can also use it like a traditional record player. There's an Ethernet port too, if you want to connect it to your network. WIRED product reviewer Eric Ravenscraft paired it with the Sonoas Era 300 and said the sound quality was excellent. We don't recommend purchasing the Onyx and Sonos speakers simultaneously though—it's a solid option if you already own a Sonos system.

We haven't tested this one, but it's a great option if you're looking for a speaker that doubles as art. Depending on your style, you can either hang it up, place it on the floor, or lean it against the wall. The front panel is also interchangeable—Ikea offers a variety of different options to pick from. Setup is simple too—all you have to do is plug it in and connect it to the Sonos app. It's also compatible with AirPlay 2 (for those streaming from their Apple devices) or Spotify Connect (if you want to stream directly from the Spotify app). You can also pair two of these speakers for stereo sound. This is the lowest price we've tracked.

Photograph: Sonos

The Amp is a great option for those looking for an amplifier to power their turntable, TV, outdoor speakers, and more at higher volumes. The front control panel is touch-sensitive, so you can either tap or swipe for things like pausing music and adjusting the volume. The Amp also connects via the Sonos app and comes with support for AirPlay 2. It doesn't come with built-in mics, but you'll have voice control if you pair it with another Sonos voice-enabled speaker like the Sonos One or Sonos Move.

Photograph: Sonos

While the Amp powers speakers, the Port streams to an amp that then sends a signal to the speakers. Unlike the Amp, it doesn't come with a control panel, but you can use the Sonos app to adjust treble, bass, and volume. It also has support for AirPlay 2. As with the Amp, you can also pair it with other Sonos speakers for voice control.

If you don't have enough shelving for speakers, these stands are an affordable option if you're using a pair of Sonos One of One SL speakers for surround sound. They're adjustable too, so you can set them to the ideal height. It conceals the power cables as well, giving the entire setup a neat look. This discount applies to a pair of floor stands but the single version is on sale as well for $50 ($20 off). </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>