<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This Country To Allow Visa-Free Entry To Indians From December 1</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="China and India are Malaysia's fourth and fifth-largest source markets respectiv">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>This Country To Allow Visa-Free Entry To Indians From December 1</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://c.ndtvimg.com/2023-11/p887a5e4_malaysia-airport-generic_625x300_27_November_23.jpeg?ver-20231128.06" alt="">

                <textarea id="text" readonly> China and India are Malaysia's fourth and fifth-largest source markets respectively. (Representational)

Malaysia will grant visa-free entry to citizens of China and India for stays of up to 30 days starting on Dec. 1, according to Prime Minister Anwar Ibrahim.

Mr Anwar made the announcement late on Sunday during a speech at his People's Justice Party congress and did not say for how long the visa exemption would be applicable.

China and India are Malaysia's fourth and fifth-largest source markets respectively.

According to government data, Malaysia recorded 9.16 million tourist arrivals between January and June this year, with 498,540 from China and 283,885 from India. That compared to 1.5 million arrivals from China and 354,486 from India in the same period of 2019, prior to the pandemic.

The move follows similar measures implemented by neighbouring Thailand to boost its vital tourism sector and stimulate its sluggish economy, with Chinese and Indian nationals among those exempted this year.

Currently, Chinese and Indian nationals must apply for visas to enter Malaysia.

(Except for the headline, this story has not been edited by NDTV staff and is published from a syndicated feed.) </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>