<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This dad wanted a stress-free Christmas tradition for his kids. So he invented one.</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Adam Reed knew he wanted something different for his daughter.

It was before sh">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>This dad wanted a stress-free Christmas tradition for his kids. So he invented one.</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://www.usatoday.com/gcdn/authoring/authoring-images/2023/11/22/USAT/71673018007-adam-reeds-family.jpeg?crop=1279,720,x0,y94&width=1279&height=720&format=pjpg&auto=webp" alt="">

                <textarea id="text" readonly> Adam Reed knew he wanted something different for his daughter.

It was before she turned 2 that he and his wife, Jennifer, started to discuss what their family tradition would be around the holidays.

"I couldn’t find a Christmas tradition that would be pure magic for (my child) without added parental stress at holiday time," Reed told USA TODAY.No disrespect to "Elf on the Shelf," but there was a need in Reed's home for something new. He began to feel that there may be a need in the market, too.

Reed, a TV producer by trade, had been creating and producing shows for 20 years, including "Gene Simmons Family Jewels," "Hatfields and McCoys," and "Mama June," everything but animation, he said. Writing children's books became a hobby of his late into his career.

"I wanted to make a tradition about celebrating the uniqueness and magic within each child," Reed shared, noting that "a tradition should not be a gimmick." He knew early on he wanted whatever he started to be focused on the kids and not the parents, nodding to the dread some parents feel around other traditions they have to work so hard to maintain.

Reed announced to his wife that he was going to write a story, a story that may birth their new tradition. He just didn't know what to focus on.

"Besides Santa, what is the most magical aspect of Christmas?" Reed asked himself. "I wanted something that a child could take with them everywhere and be their Christmas best friend."

Reed settled on a reindeer.

'Reindeer in Here' book and plush gift set is born

Reed found an illustrator, Xindi Yan, who worked up about 50 reindeer to pitch to a focus group. When Yan came back to him showing a reindeer with mismatched antlers, Reed knew they were on to something. The focus group felt it was a mistake though, urging Reed not to pursue it.

"So of course, that's the one I chose, because he was the unique one," Reed said. That "different" reindeer, with one antler shorter than the other, became the main hero of Reed's story he later called "Reindeer in Here."

The idea morphed into a simple magical tradition book and reindeer plush gift set.

As the story goes, the reindeer shows up as an early gift from Santa who has sent his special reindeer to get to know each child’s true Christmas wishes while celebrating what makes them unique.

Similar to "Elf on the Shelf" scout elves, children get to name their reindeer, who communicates kids' wishes to Santa. On Christmas Eve, children put their reindeer under the tree so Santa can take him or her back to the North Pole, where they’ll live until early next December. But unlike elves, reindeers don't hide or move. And kids can touch their plush reindeers, snuggle them and are encouraged to take them with them wherever they go.

The powerful message of 'Reindeer in Here'

Reed wrote the book in 2017. He and his wife poured most of their life savings into self-publishing a few thousand on Amazon, which sold out on Black Friday that same year in under two hours. "What I wanted to do was prove the market," Reed said, knowing he wouldn't profit much initially.

Reed has received hundreds of thousands of emails, letters and messages since then from parents thanking him for creating the magical tradition.

"I firmly believe the big reason that it's working is because the true message of the book and the animated special, is that 'different is normal,'" Reed shared.

CBS picks up 'Reindeer in Here' for a movie

Shortly after Reed released the book, CBS had its eyes on "Reindeer in Here" to become the new "Rudolph." The broadcasting company approached Reed in 2018 with an offer that he didn't accept until two years later, after he'd signed with publishing company Simon & Schuster to update the book and product.

"Reindeer in Here" had made its way into some independent bookstores and Bed Bath and Beyond before expanding to QVC and a few other independent retailers just before the big break.

CBS bought the animated special in 2020. The film took a year and a half to make.

"Reindeer in Here," the animated special, premiered last year on CBS and was a giant hit. The film became the No. 2 animated holiday special, beating everything but the classical film "Rudolph." Go figure.

'Reindeer in Here's A-list cast, 2023 premiere

Reed recently learned that "Reindeer in Here" has been nominated for two Emmy Awards, one for "outstanding animated special" and the other for "outstanding editing."

It's A-list cast includes Henry Winkler, who received the script and told Reed he was "doing this no matter what." Winkler shared the importance of the film's message, saying that he has struggled with dyslexia and has "always felt different." Other cast members include Candace Cameron Bure, Jim Gaffigan, Adam Devine and Donald Faison.

This year's premiere is set for Dec. 2 at 8 p.m. ET on CBS. It will also stream all holiday season on Paramount+ and three times on Nick Jr.

'Reindeer in Here' and 'Elf on the Shelf' can work together

Still love your elf? Families don't have to choose between "Reindeer in Here" and "Elf on the Shelf," Reed said.

He advises parents to remove the stress of having to move the elf by making a child's reindeer the elf's best friend. The reindeer is that magic that removes the barrier. "You can now touch your elf," Reed shared.

"Reindeer in Here" is the "tradition for the new generation," Reed said.

Where to buy 'Reindeer in Here'

"Reindeer in Here" is available at Target, Barnes and Noble and online at Amazon, and this year will be its first year featured in the Paramount shop. At Paramount, there is personalized gear, wrapping paper and a "different is normal" T-shirt.

"We're trying to use the most magical time of year to celebrate something that should be celebrated year-round and that's the uniqueness of every child. Everyone feels different about something," Reed said. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>