<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time’s ticking on these 180+ Amazon Cyber Monday Deals and Discounts</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Recommendations are independently chosen by Reviewed's editors. Purchases made t">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Time’s ticking on these 180+ Amazon Cyber Monday Deals and Discounts</p>
            <span id="topic" >Business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://reviewed-com-res.cloudinary.com/image/fetch/s--bO-kUbeO--/b_white,c_limit,cs_srgb,f_auto,fl_progressive.strip_profile,g_center,q_auto,w_1200/https://reviewed-production.s3.amazonaws.com/1701142072223/20231122_CyberMonday_Hero3_V3.png" alt="">

                <textarea id="text" readonly> Recommendations are independently chosen by Reviewed's editors. Purchases made through the links below may earn us and our publishing partners a commission.

Editor's Note: Amazon's Cyber Monday sale is in its final hours and our product experts tracked down all the best Amazon Cyber Monday deals that are still live. Bookmark this page for updates on the best Cyber Monday sales and deals.

Amazon's Cyber Monday sale is almost over! Our experts gathered the best Amazon Cyber Monday deals still available. We've hunted down the last-minute Cyber Monday Amazon deals on top-rated Reviewed-approved products. From best-selling cookware sets to our favorite Apple tech you can find discounts on everything on your holiday wishlist.

Shop Cyber Monday deals by category

iRobot Roomba 692 Robot Vacuum Save 42% on the iRobot Roomba 692 Robot Vacuum with this Cyber Monday deal $154.99 at Amazon (Save $114.01)

Save over $100 on the iRobot Roomba robot vacuum during Cyber Monday and set your floor cleaning on autopilot.

Waterpik Aquarius Water Flosser Save 50% on the Waterpik Aquarius Water Flosser with this Cyber Monday deal. $49.99 at Amazon (Save $50)

A clean healthy smile for those holiday pictures is priceless. But, even better when it's on sale. Get the Waterpik, our overall pick for the best water flosser of 2023 at a 50% discount. The cordless model is also on sale for 40% off and is great for travel.

Apple AirPods Pro (2nd Gen) with USB-C Save 24% on the Apple AirPods Pro (2nd Gen) with USB-C with this Cyber Monday deal $189.99 at Amazon (Save $59.01)

The brand new Airpods Pro's price dropped to an all-time-low just in time for the holidays. Our experts chose them one of the best wireless earbuds of 2023 and at this great price—they are the gift to give.

Keurig K-Mini Save 40% on the Keurig K-Mini with this Cyber Monday deal $59.99 at Amazon (Save $40)

Our experts love the Keurig K-Mini's color options and portability for travel. We listed it as one of the best Keurig coffee makers of 2023.

Koolaburra by Ugg Women's Lezly Save 31% on these Ugg slippers during Amazon's Cyber Monday sale. $44.99 at Amazon (Save $20)

Save $20 on these stylish and comfortable Ugg slippers just in time for the holidays. Whether you want to slip into some warm shoes this winter or give the gift of warm feet—these will do the job.

Kindle Paperwhite Save 14% on the Reviewed-approved Kindle Paperwhite with this Cyber Monday deal $119.99 at Amazon (Save $20)

The Kindle Paperwhite is our favorite waterproof e-reader for 2023.

Renpho Eyeris 1 Eye Massager Save 65% on the Renpho Eyeris 1 Eye Massager with this Cyber Monday deal. $45.99 at Amazon (Save $84)

The Renpho Eye Massager is the gift of relaxation with its heated massager, light blocking features, and bluetooth speakers.

Puroair HEPA 14 Air Purifier Score 32% off on the Puroair HEPA 14 Air Purifier with this Cyber Monday deal $154.99 at Amazon (Save $74.01)

The Puroair is one of our favorite HEPA air purifiers available on Amazon and we loved its excellent value, good performance and simple controls.

Best Amazon Cyber Monday device deals

Our tested and approved Amazon devices that are on sale for Cyber Monday. Add Alexa to your home with some of the best smart home speakers and devices.

Echo Show 8 (2nd Generation) Save a massive 58% on the smart and versatile Echo Show 8 (2nd Generation) $54.99 at Amazon (Save $75)

The second-generation Echo Show 8 is still one of our favorite smart displays and performs all of the smart home tasks you’re used to from an Echo device.

Amazon Fire HD 10 Kids Edition The Amazon Fire HD 10 Kids Edition is the best tablets for kids we have tested. $124.99 at Amazon (Save $65)

The best thing about the Amazon Fire HD Kids Edition is how stocked it is with easily accessible, ad-free, and fun content. In our testing, this was the easiest to use, as well as the easiest to hold and transport—and it comes preloaded with oodles of games to keep your kids occupied.

Echo Dot (2022 5th Generation) Save 54% on the already value-packed Echo Dot (2022 5th Generation) with this Cyber Monday deal $22.99 at Amazon (Save $27)

Echo Show 10 (3rd Gen) Save 36% on the Echo Show 10 (3rd Gen) with this Cyber Monday deal $159.99 at Amazon (Save $90)

Here are a few more Amazon devices on sale for Cyber Monday:

Best Amazon Cyber Monday Kindle Deals

Amazon Kindle (11th Gen, 2022) Save 17% on the Amazon Kindle (11th Gen, 2022) with this Cyber Monday deal $99.99 at Amazon (Save $20)

The Kindle is our overall pick for the best e-reader for 2023.

Kindle Paperwhite Signature Edition Essentials Bundle (Fabric Cover) Score a 25% discount on this Kindle Paperwhite Signature Edition Essentials Bundle (Fabric Cover) $193.97 at Amazon (Save $64)

In addition to all of the features the original Kindle Paperwhite has, the Kindle Paperwhite Signature Edition has 32GB of storage and 10-Watt wireless Qi charging.

More Kindle deals:

Best Cyber Monday Amazon Fire TV deals

Amazon Fire TV 75-Inch Omni QLED Series 4K UHD smart TV Save 20% on the Amazon Fire TV 75-Inch Omni QLED Series 4K UHD smart TV with this Cyber Monday deal $879.99 at Amazon (Save $220)

Amazon Fire TV 43-inch 4-Series 4K UHD Smart TV Save 32% on the Amazon Fire TV 43-inch 4-Series 4K UHD Smart TV with this Cyber Monday deal $249.99 at Amazon (Save $120)

Amazon Fire TV Stick 4K Save 54% on the Amazon Fire TV Stick 4K with this Cyber Monday deal $22.99 at Amazon (Save $27)

More Fire TV deals:

Best Amazon Cyber Monday Ring Camera deals

Ring Indoor Cam 2023 Rest easy and save 50% on the Ring Indoor Cam 2023 with this Cyber Monday deal $29.99 at Amazon (Save $30)

Ring Video Doorbell 1080p HD video The Ring Video Doorbell 1080p HD video is the best value option around and right now it's 45% off at Amazon $54.99 at Amazon (Save $45)

Best Amazon Cyber Monday video game & console deals

What are the holidays without the gift of a console or accessory to your favorite gamer? Deals on the hottest gaming consoles like the editor-approved MetaQuest 2, fan-favorite games, and more are all on Amazon for Cyber Monday.

PlayStation 5 deals

Sony PlayStation 5 Marvel’s Spider-Man 2 Bundle Save 11% on the Sony PlayStation 5 Marvel’s Spider-Man 2 Bundle with this Cyber Monday deal $499 at Amazon (Save $60.99)

The Playstation 5 is one of our favorite gaming consoles and has been a best seller since it's release. The PS5 is more powerful and quieter than the PS4, and the fast solid-state storage will make every single game more convenient to play.

Meta Quest deals

Meta Quest 2 VR headset 128 GB During Cyber Monday, save 17% on the Meta Quest 2 plus get a $50 Amazon.com digital credit with the code META50. $249 at Amazon (Save $50)

The Meta Quest 2 continues to be our overall pick for the best VR headset for 2023. Our expert testers loved the display and felt it provides a fabulous VR experience. During Amazon's Cyber Monday sale, you save $50 off plus you can receive an additional $50 Amazon digital credit when you use the code META50 at checkout.

Nintendo Switch deals

The Nintendo switch is one of the most popular gifts for 2023 and Cyber Monday is a time to snag a price cut on the hottest games and accessories. Nintendo switch console deals are rare, but our deals experts are actively monitoring Amazon for Nintendo discounts and posting below as we find them.

Nintendo Switch Sports - Nintendo Switch Save 20% on the Nintendo Switch Sports - Nintendo Switch with this Cyber Monday deal $39.99 at Amazon (Save $10)

New Super Mario Bros U Deluxe for Nintendo Switch Save 17% on the New Super Mario Bros U Deluxe for Nintendo Switch with this Cyber Monday deal $49.99 at Walmart (Save $10)

Best Amazon Cyber Monday deals on TVs

Find savings on all of your favorite brands like LG, Samsung, Hisense, and more. We're monitoring all of the best Cyber Monday TV deals at Amazon and posting them below as we find them.

Hisense 55U6K 65-Inch QLED Google Smart TV Save 38% on the Hisense 55U6K 65-Inch QLED Google Smart TV with this Cyber Monday deal $498 at Amazon (Save $301.99)

Save over $300 on the Hisense U6K, one of our favorite affordable TVs we've tested.

LG C2 Series 55-Inch Class OLED evo Smart TV Save 14% on the LG C2 Series 55-Inch Class OLED evo Smart TV with this Cyber Monday deal $1296.99 at Amazon (Save $203)

With an exquisite picture and exhaustive features, the LG C3 OLED is an incredible TV for movies, gaming, and everything in between.

Samsung 75-Inch Class Neo QLED 4K QN85B Series Mini LED Quantum HDR Smart TV Save 32% on the Samsung 75-Inch Class Neo QLED 4K QN85B Series Mini LED Quantum HDR Smart TV with this Cyber Monday deal $1772.95 at Amazon (Save $825.04)

The QN85A offers most of the same features as Samsung's high-end QN90A, including HDMI 2.1, a 120Hz refresh rate, Samsung’s Tizen smart platform, as well as gaming-related features like Variable Refresh Rate and Auto Low Latency Mode.

Best Amazon Cyber Monday Airpods deal

Apple AirPods Pro (2nd Gen) with USB-C Save 24% on the Apple AirPods Pro (2nd Gen) with USB-C with this Cyber Monday deal $189.99 at Amazon (Save $59.01)

With the new USB-C charging, Apple’s updated AirPods Pro may look the same, but features like Adaptive Transparency and next-gen noise canceling make them the best buds around.

Apple AirPods Max Save 18% on the Apple AirPods Max with this Amazon Cyber Monday deal $449.99 at Amazon (Save $99.01)

More Airpods deals

Best Amazon Cyber Monday Apple Watch deals

Apple Watch Series 9 Save 18% on the Apple Watch Series 9 with this Cyber Monday deal $329 at Amazon (Save $70)

The Apple Watch SE improves on its predecessor but, amazingly, comes with a price cut. It’s easily the best budget watch to pair with an iPhone.

Best Amazon Cyber Monday Apple iPad deals

Apple iPad Mini (6th Generation) Save 20% on the Apple iPad Mini with this Cyber Monday Apple deal $399.99 at Amazon (Save $99.01)

The iPad Mini is easy to hold for longer periods of time even when reclining or gripping the device one-handed. It’s ideal for taking notes with the second-gen Apple Pencil.

Apple 10.9-Inch Wi-Fi iPad Air (5th Generation) Save 17% on this Apple iPad Air during Amazon's Cyber Monday sale $499.99 at Amazon (Save $99.01)

The Apple iPad Air, like the iPad Pro, features the company’s laptop-class M1 chip, helping it deliver the same performance and much of the core experience as the more expensive Pro.

Shop Apple iPad accessories on sale

Best Amazon Cyber Monday Apple MacBook deals

Apple 2020 M1 MacBook Air Laptop Save 25% on the Apple 2020 M1 MacBook Air Laptop with this Cyber Monday deal $749.99 at Amazon (Save $249.01)

With a shockingly good battery life of almost 12 hours, performance that beats most Windows laptops, and an incredibly smooth trackpad and tactile keyboard, it should be no surprise that the MacBook Air M1 has been so popular.

Apple 2021 MacBook Pro (1TB) Save almost $1,000 on this versatile 16.2-inch Apple laptop today at Amazon. $1,749.98 at Amazon (Save $942.02)

If GPU performance is your game, this is the laptop for you. The GPU performance is the best we’ve ever seen out of an integrated graphics card and you're still getting the most bang for your buck when it comes to laptops.

Best Amazon Cyber Monday iPhone accessories & phone deals

Ailun Privacy Screen Protector for iPhone Save 36% on the Ailun Privacy Screen Protector for iPhone with this Cyber Monday deal. $6.98 at Amazon (Save $4.01)

Our experts found Ailun to be one of the best screen protectors for your iPhone. Our smartphones house so much of our personal and business information these days so getting a quality screen protector is a no brainer—especially at this price!

Mkeke iPhone 14 Pro Clear Magsafe Case Save 20% on the Mkeke iPhone 14 Pro Clear Magsafe Case with this Cyber Monday deal. $14.39 at Amazon (Save $3.6)

Best Amazon Cyber Monday miscellaneous Apple deals

Apple AirTags 4-Pack Keep track of your valuables with Reviewed-approved Apple AirTags on sale at Amazon $79.99 at Amazon (Save $19.01)

AirTags are the perfect solution for the person who’s always losing their keys or wallet (even if that person is you). They’re easy to set up and can give you direct location updates, and at 20% off, this 4-pack is on a pretty good sale for Cyber Monday.

Best Amazon Cyber Monday speaker and headphone deals

Beats Solo3 Wireless On-Ear Headphones Save 50% on the Beats Solo3 Wireless On-Ear Headphones with this Cyber Monday deal $99.95 at Amazon (Save $100)

Beats Studio Buds Wireless Noise Cancelling Earbuds Save 40% on the Beats Studio Buds Wireless Noise Cancelling Earbuds with this Cyber Monday deal $89.95 at Amazon (Save $60)

Bose QuietComfort 45 Noise Canceling Headphones Save 40% on the Bose QuietComfort 45 Noise Canceling Headphones with this Cyber Monday deal $199 at Amazon (Save $130)

JBL Flip 5 Waterproof Portable Bluetooth Speaker Save 46% on the JBL Flip 5 Waterproof Portable Bluetooth Speaker with this Cyber Monday deal $69.95 at Amazon (Save $60)

Bose QuietComfort True Wireless Earbuds II Save 33% on the Bose QuietComfort True Wireless Earbuds II with this Cyber Monday deal $199 at Amazon (Save $100)

Best Amazon Cyber Monday home deals

Cyber Monday is the perfect time to update your home. With deals on everything from home decor to vacuums and more, there's something for every room in your home on sale. Our experts hand-picked these deals on our favorite home products.

Yankee Candle 22-Ounce Vanilla Cupcake Scented Candle Save 48% on the Yankee Candle 22-Ounce Vanilla Cupcake Scented Candle with this Cyber Monday deal $13.88 with on-page coupon at Amazon (Save $17.99)

Air purifier deals

We'll all be staying inside more now that it's almost the end of fall, and that means you should pay attention to your air quality. Some of the hottest selling air purifiers are being discounted on Amazon for Cyber Monday, including some of our editors' picks.

Winix 5500-2 Air Purifier with True HEPA Save 36% on the Reviewed-approved Winix 5500-2 Air Purifier with True HEPA with this Cyber Monday deal $159.99 at Amazon (Save $90)

Puroair HEPA 14 Air Purifier Save 32% on the Puroair HEPA 14 Air Purifier with this Cyber Monday deal $154.99 at Amazon (Save $74.01)

Blueair DustMagnet 5410i Air Purifier Save 31% on the exceptional Blueair DustMagnet 5410i Air Purifier with this Cyber Monday deal $277 at Amazon (Save $122.99)

Vacuum deals

Vacuums are something everyone should pay attention to during Cyber Monday, with discounts on some of the top brands in cleaning. Dyson, Shark, and more are all on sale.

Dyson V15 Detect The Dyson V15 Detect is the best cordless vacuum around and right now it's available for 18% off $617.50 at Amazon (Save $132.49)

Shark NV752 Rotator Powered Lift-Away TruePet Upright Vacuum Save 7% on the Shark NV752 Rotator Powered Lift-Away TruePet Upright Vacuum with this Cyber Monday deal $298.89 at Amazon (Save $21.10)

Samsung JetBot AI+ VR50T95735W Robot Vacuum Save 48% on the Reviewd-approved Samsung JetBot AI+ VR50T95735W Robot Vacuum with this Cyber Monday deal $676.90 at Amazon (Save $622.10)

Bedding and mattress deals

Gift yourself some snuggly bedding during Cyber Monday with discounts on everything bed related. Outfit your bedroom with new blankets, pillows, and maybe even a new mattress while they're all on sale.

Casper Sleep Element Mattress, Full Save 30% on the Casper Sleep Element Mattress, Full with this Cyber Monday deal $381.50 at Amazon (Save $163.50)

Linenspa All-Season Down Alternative Quilted Comforter Save 32% on soft and affordable Linenspa All-Season Down Alternative Quilted Comforter this Cyber Monday deal $23.81 at Amazon (Save $11.18)

Nectar 12-Inch Queen Medium Firm Gel Memory Foam Mattress Save 27% on the Nectar 12-Inch Queen Medium Firm Gel Memory Foam Mattress with this Cyber Monday deal $659 at Amazon (Save $240)

Beckham Hotel Collection Gel Pillow - 2 Pack Save 40% on the Reviewed-approved Beckham Hotel Collection Gel Pillow - 2 Pack at Amazon $36.59 with on-page coupon at Amazon (Save $24.40)

Gravity Blanket Save 35% on the best weighted blanket you can get this Cyber Monday deal $162.50 at Amazon (Save $87.49)

Cyber Monday holiday deals

Balsam Hill Prelit Classic Blue Spruce Artificial Christmas Tree with Clear LEDs Save 6% on the Balsam Hill Prelit Classic Blue Spruce Artificial Christmas Tree with Clear LEDs with this Cyber Monday deal $329 at Amazon (Save $20)

Peiduo 2 Foot Birch Tree with LED Lights Save 14% on the Peiduo 2 Foot Birch Tree with LED Lights with this Cyber Monday deal $24.98 at Amazon (Save $4.01)

Every Day Is Christmas Shatterproof Balls Save 14% on the Every Day Is Christmas Shatterproof Balls with this Cyber Monday deal $29.99 at Amazon (Save $5)

More holiday decor deals:

Best Amazon Cyber Monday kitchen deals

Cyber Monday deals have come for all things kitchen, from cookware to appliances. Add a brand new espresso machine to your coffee bare or stock up on some of the best pots and pans you can find while they're on sale.

Countertop appliances

KitchenAid Artisan Series 5-Quart Stand Mixer Save 24% on the KitchenAid Artisan Series 5-Quart Stand Mixer with this Cyber Monday deal $349.95 at Amazon (Save $110.04)

GE Profile Opal 2.0 Countertop Nugget Ice Maker Save 25% on the GE Profile Opal 2.0 Countertop Nugget Ice Maker with this Cyber Monday deal. $449 at Amazon (Save $150)

Blender deals

Vitamix A2300 Ascent Series Smart Blender Save 18% on the Vitamix A2300 Ascent Series Smart Blender with this Cyber Monday deal $449.95 at Amazon (Save $100)

Magic Bullet Save 10% on the Magic Bullet with this Cyber Monday deal $40.20 at Amazon (Save $4.71)

Cookware deals

OXO Non-Stick Fry Pan Cook up a storm and save 25% on the OXO Non-Stick Fry Pan with this Cyber Monday deal $29.94 at Amazon (Save $10.05)

Cuisinart 12-Piece Stainless Steel Cookware Set Save 41% on the Cuisinart 12-Piece Stainless Steel Cookware Set with this Cyber Monday deal $175.99 with on-page coupon at Amazon (Save $123.96)

Coffee maker deals

Our kitchen experts spend hours making and drinking coffee to narrow down the best coffee and espresso machines. Want a pod coffee maker? We've tested top brands like Nespresso, Keurig and more. We're live tracking all the best coffee deals at Amazon during Cyber Monday and listing them below.

Keurig K-Iced Single Serve Coffee Maker Save 40% on the Keurig K-Iced Single Serve Coffee Maker with this Cyber Monday deal $59.99 at Amazon (Save $40)

Nespresso VertuoPlus Deluxe Coffee and Espresso Machine Save 18% on the Nespresso VertuoPlus Deluxe Coffee and Espresso Machine with this Cyber Monday deal $139.30 at Amazon (Save $30.65)

Hario V60 Coffee Dripper 02 Ceramic Save 17% on the Hario V60 Coffee Dripper 02 Ceramic with this Cyber Monday deal $24.85 at Amazon (Save $5.15)

Takeya Cold Brew Coffee Maker Save 25% on the Reviewed-approved Takeya Cold Brew Coffee Maker with this Cyber Monday deal $18.99 at Amazon (Save $9)

OXO Brew Compact Cold Brew Coffee Maker Save 33% on the space-saving OXO Brew Compact Cold Brew Coffee Maker with this Cyber Monday deal $23.36 at Amazon (Save $11.59)

More coffee deals

Air fryer deals

Ninja Max XL 5.5-Quart Air Fryer Save 52% on the Ninja Max XL 5.5-Quart Air Fryer with this Cyber Monday deal $80.96 at Amazon (Save $89.03)

Ninja Speedi SF301 Air Fryer Save 40% on the Reviewed-approved Ninja Speedi SF301 Air Fryer with this Cyber Monday deal $119.99 with on-page coupon at Amazon (Save $80)

Cuisinart TOA-65 Digital AirFryer Toaster Oven The Cuisinart TOA-65 is the best airfryer toaster oven we have tested. Get it for 36% off at Amazon. $192 at Amazon (Save $107.95)

Best Amazon Cyber Monday beauty deals

Beauty products and self-care items make the perfect stocking stuffer or a last-minute white elephant gift for your co-worker. We've found deals on our favorite straightener, one of the best brushes you can buy, and more.

Hair styling tools on sale

Dyson Airwrap Multi-Styler Save 20% on the Dyson Airwrap Multi-Styler with this Cyber Monday deal $479.99 at Amazon (Save $119.01)

The Dyson Airwrap has been on the best-seller list since it came out and for good reason. While the price may be more than you're used to spending, it's well-worth the splurge for the time you'll save on hair styling, especially when it's

If you’re looking for some more affordable deals on some hair styling tools, check out these items on sale:

Hot Tools Pro Artist Black Gold Evolve Ionic Salon Hair Flat Iron Save 51% on the Hot Tools Pro Artist Black Gold Evolve Ionic Salon Hair Flat Iron with this Cyber Monday deal $58.82 at Amazon (Save $61.17)

Revlon One-Step Hair Dryer Save 30% on the Revlon One-Step Hair Dryer with this Cyber Monday deal $27.90 at Amazon (Save $11.97)

Bed Head Wave Affair Jumbo 3 Barrel Hair Waver Save 38% on the Bed Head Wave Affair Jumbo 3 Barrel Hair Waver with this Cyber Monday deal $30.78 at Amazon (Save $19.21)

Massager deals

Who doesn't love receiving a massager as a gift? And, who doesn't like gifting a massager at these great Cyber Monday prices?

Cloud Massage Shiatsu Foot Massager Save 23% on the Cloud Massage Shiatsu Foot Massager with this Cyber Monday deal $199.99 at Amazon (Save $59.01)

LifePro Hand Massager Machine with Heat Save 26% on the LifePro Hand Massager Machine with Heat with this Cyber Monday deal $59.99 at Amazon (Save $21)

Therabody Theragun Elite Massage Gun Save 30% on the Therabody Theragun Elite Massage Gun with this Cyber Monday deal $279.99 at Amazon (Save $119.01)

Deals on skincare

CeraVe Hydrating Facial Cleanser Save 29% on the CeraVe Hydrating Facial Cleanser with this Cyber Monday deal $12.74 at Amazon (Save $5.25)

Mighty Patch Original from Hero Cosmetics Save 20% on the Mighty Patch Original from Hero Cosmetics with this Cyber Monday deal $17.59 at Amazon (Save $4.4)

EltaMD UV Daily Tinted Sunscreen Save 20% on the EltaMD UV Daily Tinted Sunscreen with this Cyber Monday deal $30.40 at Amazon (Save $7.6)

Best Amazon Cyber Monday tech deals

We've reviewed hundreds of tech products over the years, and many of them are on sale right now for Cyber Monday. Laptops for gaming or studying, TVs that'll impress your in-laws, and more are all getting discounted today.

Cyber Monday tablet Deals

Samsung Galaxy Tab S8+ Android Tablet - 128 GB Save 33% on the Samsung Galaxy Tab S8+ Android Tablet - 128 GB with this Cyber Monday deal $599.99 at Amazon (Save $300)

Fire HD 8 tablet 64 GB with Standing Case + Screen Protector Save 36% on the Fire HD 8 tablet 64 GB with Standing Case + Screen Protector with this Cyber Monday deal $111.97 at Amazon (Save $64)

Amazon Fire Max 11 Tablet Bundle with Keyboard Case and Stylus Save 31% on the Amazon Fire Max 11 Tablet Bundle with Keyboard Case and Stylus with this Cyber Monday deal $244.99 at Amazon (Save $109.98)

Cyber Monday computer deals

Alienware AW3423DW Curved Gaming Monitor Save 25% on the Alienware AW3423DW Curved Gaming Monitor with this Cyber Monday deal $896.99 at Amazon (Save $303)

Logitech MK850 Performance Wireless Keyboard and Mouse Combo Save 24% on the Logitech MK850 Performance Wireless Keyboard and Mouse Combo with this Cyber Monday deal $74.99 at Amazon (Save $24.01)

Corsair Xenon 27QHD240 Gaming Monitor Save 20% on the Corsair Xenon 27QHD240 Gaming Monitor with this Cyber Monday deal $799.99 at Amazon (Save $200)

Cyber Monday laptop deals at Amazon

Asus 14-Inch Chromebook C423 Save 35% on the Asus 14-Inch Chromebook C423 this Cyber Monday $194.88 at Amazon (Save $105.11)

Lenovo IdeaPad Flex 5i Save 25% on the Reviewed-approved Lenovo IdeaPad Flex 5i with this Cyber Monday deal $299 at Amazon (Save $100)

MSI GF63 15.6-Inch 144Hz Gaming Laptop Save a massive 20% on the MSI GF63 15.6-Inch 144Hz Gaming Laptop with this Cyber Monday deal $963.99 at Amazon (Save $236)

Best Amazon Cyber Monday toy deals

Is there anything more important to find deals on than toys for the kids this holiday season? Maybe, but not with these prices. You can score savings on the most sought after gifts from Amazon's toy catalog. Discounts on popular sets from LEGO plus the ever-favorite Magna-tiles are sure to make holiday gifting a breeze for the children (and children-at-heart) in your life this year.

MAGNA-TILES Classic 100-Piece Magnetic Construction Set Save 30% on the MAGNA-TILES Classic 100-Piece Magnetic Construction Set with this Cyber Monday deal $83.99 at Amazon (Save $36)

LEGO Marvel Nano Gauntlet Save 30% on the LEGO Marvel Nano Gauntlet with this Cyber Monday deal $48.99 at Amazon (Save $21)

Play-Doh Modeling Compound 36 Pack Case of Colors Save 31% on the Play-Doh Modeling Compound 36 Pack Case of Colors with this Cyber Monday deal $19.99 at Amazon (Save $9)

Barbie Dreamhouse 2023 Save 30% on the Barbie Dreamhouse 2023 with this Cyber Monday deal $139 at Amazon (Save $60.99)

Supersoaker Nerf DinoSquad Water Blaster Save 47% on the Supersoaker Nerf DinoSquad Water Blaster with this Cyber Monday deal $8.99 at Amazon (Save $8)

Best Amazon Cyber Monday fitness deals

Schwinn IC4 Fitness Indoor Cycling Exercise Bike Series Save 33% on the Schwinn IC4 Fitness Indoor Cycling Exercise Bike Series with this Cyber Monday deal $799 at Amazon (Save $400)

Original Peloton Bike Save 24% on the Original Peloton Bike with this Cyber Monday deal $1095 at Amazon (Save $350)

Best Amazon Cyber Monday style deals

Koolaburra by Ugg Women's Lezly Save 31% on these Ugg slippers during Amazon's Cyber Monday sale. $44.99 at Amazon (Save $20)

Dearfoams Women's Fireside Sydney Shearling Slippers Save 49% on the Dearfoams Women's Fireside Sydney Shearling Slippers with this Cyber Monday deal $44.95 at Amazon (Save $44.05)

Eberjey Gisele Tencel Modal Long PJ Set Save 19% on the Eberjey Gisele Tencel Modal Long PJ Set with this Cyber Monday deal $103.50 at Amazon (Save $24.50)

Crocs Unisex-Adult Classic Clogs Save 39% on the Crocs Unisex-Adult Classic Clogs with this Cyber Monday deal $30.28 at Amazon (Save $19.71)

More clothing deals

Best Amazon Cyber Monday travel deals

Cyber Monday is a chance to score discounts on all the travel gear you'll need ahead of your holiday travels.

Travelpro Platinum Elite Softside Expandable Luggage Save 20% on the Travelpro Platinum Elite Softside Expandable Luggage with this Cyber Monday deal $375.99 at Amazon (Save $94)

Bagail 8-Set Packing Cubes for Luggage Save 36% on the Bagail 8-Set Packing Cubes for Luggage with this Cyber Monday deal $15.99 with on-page coupon at Amazon (Save $9)

Wrangler Smart Luggage 3-Piece Set with Cup Holder and USB Port Save 22% on the Wrangler Smart Luggage 3-Piece Set with Cup Holder and USB Port with this Cyber Monday deal $156.38 at Amazon (Save $43.62)

Checkout our list of deals on hotels, cruises and flights.

Best Amazon Cyber Monday pet deals

Angry Orange Odor Eliminator and Pet Stain Remover Save 47% on the Angry Orange Odor Eliminator and Pet Stain Remover with this Cyber Monday deal $15.96 at Amazon (Save $14.01)

Bedsure Calming Pet Bed Save 40% on the Bedsure Calming Pet Bed with this Cyber Monday deal $29.99 at Amazon (Save $20)

ChomChom Pet Hair Remover Save 37% on the ChomChom Pet Hair Remover with this Cyber Monday deal $19.99 at Amazon (Save $11.96)

More pet deals:

Best Cyber Monday sales at other stores

Walmart: The sales at Walmart have been on a roll all month long, but which items are worth buying? Check out the best deals our editor’s have found at Walmart’s Sale

The sales at Walmart have been on a roll all month long, but which items are worth buying? Check out the best deals our editor’s have found at Walmart’s Sale Target: Discounts at Target have been happening since last week and will continue through the weekend. Sort through these expert-approved deals for Target's deals.

Discounts at Target have been happening since last week and will continue through the weekend. Sort through these expert-approved deals for Target's deals. Best Buy: Whether you're looking for a new TV or a great price on a pair of headphones, there's something for everyone. Check out Best Buy's deals for our expert-approved choices.

Whether you're looking for a new TV or a great price on a pair of headphones, there's something for everyone. Check out Best Buy's deals for our expert-approved choices. Nordstrom: Get your luxury shopping done at a fraction of the price during Nordstrom's sale. There are so many deals to choose from that will make your wallet (and your closet) happier.

Amazon Cyber Monday Frequently Asked Questions

When is Amazon Cyber Monday over?

The Amazon Cyber Monday 2023 sale is live and set to wind down later tonight on Cyber Monday 2023 on Monday, November 27.

Does Amazon have better deals on or Cyber Monday?

Amazon's event kicked off on Friday, November 17 and the Cyber Monday deals will continue throughout tonight, November, 27. Since Amazon announced that you can expect new deals to drop as often as every five minutes throughout the holiday deals event, we've been monitoring the discounts to highlight the best savings for our readers. If you missed the Amazon deals, we highly recommend shopping today's Cyber Monday Amazon deals. We don't expect big discounts like this to come around again until next Amazon Prime Day. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>