<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tWitch's Widow Allison Holker Sells Their Encino Property For $3.5 Million</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Allison Holker has officially bid adieu to the Encino home she shared with her l">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>tWitch's Widow Allison Holker Sells Their Encino Property For $3.5 Million</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://imagez.tmz.com/image/04/16by9/2023/11/22/043c71ccd13941e59664a9172a2b4357_xl.jpg" alt="">

                <textarea id="text" readonly> Allison Holker has officially bid adieu to the Encino home she shared with her late husband Stephen "tWitch" Boss ... selling it after purchasing an ultra-modern farmhouse in L.A. last month for $5 mil.

11 months after the passing of Stephen -- the late DJ from Ellen DeGeneres' talk show -- Allison was understandably seeking a fresh start. According to real estate records, just a month after listing the pad for $3,795,000, she's sold it for $3,525,000.

Waiting for your permission to load the Instagram Media.

With Allison's chapter closed on the 6-bedroom and 7-bathroom 4,600-square-foot property where she made unforgettable memories filming dance videos with Stephen, the new owner is in for a treat.

Waiting for your permission to load the Instagram Media.

Built in 2018, it has some defining features such as a wine display, a fully functioning butler's pantry in a pro-chef's kitchen, and a pool house ... with its own private bathroom.

But, after a challenging year, it's only onward and upward for Allison, who has reportedly purchased herself a larger 5,800 square feet home .... newly built this year with 6 bathrooms, a movie theatre, designer lighting, and glass doors for the perfect indoor-outdoor Cali living experience.

Clearly, the move marks a much-needed fresh start for Allison and her children -- Weslie, 15, Maddox, 7, and Zaia, 3.

Speaking to Hoda Kotb in May, heartbroken Allison said the conversations she had with her kids following Stephen's passing were something she didn't wish on anybody.

TMZ broke the story ... Stephen died by suicide back in December 2022 ... leaving a suicide note referencing past challenges. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>