<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubisoft responds to Assassin's Creed backlash over pop-up adverts</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Assassin's Creed developer and publisher Ubisoft has responded to a backlash aft">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Ubisoft responds to Assassin's Creed backlash over pop-up adverts</p>
            <span id="topic" >technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://hips.hearstapps.com/hmg-prod/images/assassin-s-creed-mirage-basim-64730ea3eb2b8.jpg?crop=1xw:0.8888888888888888xh;center,top&resize=1200:*" alt="">

                <textarea id="text" readonly> Assassin's Creed developer and publisher Ubisoft has responded to a backlash after fans noticed ads popping up within older games.

Games in the series have included ads for other entries on the main menu before you load up your save file. However, fans on Reddit have been posting about seeing an advert for the latest entry, AC Mirage, popping up within games like AC Odyssey itself when trying to open the map, which is something that players do quite often.

A statement from the official Assassin's Creed Twitter/X account apologised for the situation, and tried to explain that it was down to a technical hiccup.

Ubisoft

Related: Black Friday best deals 2023 UK

It read: "We have been made aware that some players encountered a pop-up message in-game while playing certain Assassin’s Creed titles yesterday. This was the result of a technical error that has now been fixed.

"Our intention was to display a promotion for Assassin's Creed Mirage as part of the franchise news in the main menu of other Assassin's Creed games. Unfortunately, this technical error caused the promotion to appear in one of our in-game menus instead.

"We want to ensure the best player experience possible, and these disruptive pop-ups were promptly removed once we learned of the issue. We appreciate your understanding as we investigate the cause of the issue."

Ubisoft

Related: Sony facing £5 billion lawsuit over "excessive" PlayStation Store prices

AC Mirage launched to pretty solid if unspectacular reviews last month, with critics appreciating the smaller and more stealth-focused gameplay, but criticised the story.

Assassin's Creed Mirage is out now on PlayStation 5, PlayStation 4, Xbox Series X|S, Xbox One, and PC. As the pop-up ads stated, it's currently on offer for Black Friday. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>