<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uli Hoeneß on his nephew’s work at Stuttgart: “I’m really enjoying watching VfB’s games”</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="It is important to remember that long-time president of Bayern Munich and curren">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Uli Hoeneß on his nephew’s work at Stuttgart: “I’m really enjoying watching VfB’s games”</p>
            <span id="topic" >VfB Stuttgart</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://cdn.vox-cdn.com/thumbor/cn1FS05XUOgLVfMiGKOQC279s0M=/0x545:4358x2827/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/25005696/1727289415.jpg" alt="">

                <textarea id="text" readonly> It is important to remember that long-time president of Bayern Munich and current member of the board Uli Hoeneß did not want his nephew Sebastian Hoeneß to coach Bayern’s U-23s. His name was pitched by several other leaders at the club but Hoeneß insisted he was not ready, staunchly insisting on his opinion until Sebastian was eventually hired. The moral of the story is simple: Hoeneß does not allow himself to be influenced by nepotism.

This fact adds a layer of intrigue to the senior Hoeneß’s comments on his nephew via an interview with RTL, as captured by @iMiaSanMia. The elder Hoeneß now is full of praise. “Through his work and his commitment, he ensured that VfB were not relegated, that they played quite well in the Pokal and therefore gained financial resources to prepare for the new season. Then he lost his three best players. He never complained and made the best of it. And the way they play football now makes your heart smile. I have to honestly admit that I’m really enjoying watching VfB’s games at the moment.”

It’s not just the attractiveness of VFB’s football that is so impressive at the moment. Against all odds, they went from being relegation candidates last season to being in second place, currently even a point ahead of Bayern at the time of writing.

Of course, the elder Hoeneß has a vested interest in Bayern finishing ahead of VfB Stuttgart. And earning such success. “If they are really better than us, then they should be ahead of us. It will be the job of FC Bayern and its coach to prevent that.”

What the younger Hoeneß and his team have accomplished so far this season is remarkable and a testament to the energy and style that was injected into this team. May they keep it up for a long time — as long as Bayern finishes ahead of them, of course. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>