<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un apéro avec Stéphane Bern : « Je ne suis pas l’ami de Macron, je suis le fou du roi »</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Stéphane Bern, au bar de l’Auberge de l’Abbaye à Thiron-Gardais (Eure-et-Loir), ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Un apéro avec Stéphane Bern : « Je ne suis pas l’ami de Macron, je suis le fou du roi »</p>
            <span id="topic" >Stephane Bern</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://img.lemde.fr/2023/02/06/0/0/4724/3149/1440/960/60/0/06d240d_1675700774280-stephane-bern-2023-zazzo-l1005628.jpg" alt="">

                <textarea id="text" readonly> Stéphane Bern, au bar de l’Auberge de l’Abbaye à Thiron-Gardais (Eure-et-Loir), le 13 janvier 2023. MATHIEU ZAZZO POUR « LE MONDE »

Stéphane Bern n’est pas superstitieux : il nous a donné rendez-vous un vendredi 13 en ses terres percheronnes, à Thiron-Gardais (Eure-et-Loir), où il a acquis en 2012, pour le prix d’un studio parisien, un collège militaire quasiment en ruine, adossé à une abbaye du XIIe siècle. Une décennie et de 2 à 3 millions d’euros de travaux plus tard, le bâtiment a retrouvé son lustre. C’est là que le journaliste et présentateur touche-à-tout de France Télévisions (« Secrets d’histoire », sur France 3, dont le prochain épisode, le 15 février, est consacré à l’amour fou entre Rodin et Camille Claudel, « Laissez-vous guider » avec Lorànt Deutsch, etc.) s’est installé définitivement en novembre 2021, après avoir vendu son appartement à Pigalle – « Paris est trop sale, trop violent ! ». Il y vit avec Yori Bailleres, son « chéri », et ses deux chiens.

Nommé à la tête de la mission Patrimoine en péril par Emmanuel Macron en septembre 2017 – les inscriptions pour le cinquième loto, qui permet de récolter des fonds pour l’entretien de monuments, seront closes le 28 février –, le spécialiste du gotha expérimente ici, à taille réelle, la restauration d’un monument historique, ses joies et ses affres. Mais, pour l’heure, c’est à l’Auberge de l’Abbaye, qui surplombe les lieux, que Stéphane Bern est attablé, devant un verre de cidre et quelques madeleines. Illiers-Combray, où le jeune Marcel Proust a passé ses vacances, se trouve à 19 kilomètres, alors forcément…

En jean et pull bleu marine, impeccable bien sûr, le presque jeune homme de 59 ans soigne sa ligne. Il ne fume pas, boit très peu et travaille beaucoup : parmi les émissions qu’il a présentées, citons pêle-mêle « Le village préféré des Français », « Les Victoires de la musique classique », l’Eurovision (« Je continue pour dépasser le record de Pierre Tchernia, qui en a présenté douze ») ou encore « Le Jardin préféré des Français ». « Je ne devrais pas dire ça alors que la réforme des retraites est en débat, mais je pense que les gens très actifs sont en quelque sorte obligés d’être en forme. » Selon lui, cela expliquerait pourquoi il n’a jamais été malade durant ses vingt années de direct radio, qui l’ont conduit de France Inter (« Le Fou du roi », de 2000 à 2011) à RTL (« A la bonne heure », de 2011 à 2020). Aujourd’hui, il présente « Historiquement vôtre », sur Europe 1.

« J’incarne une mémoire »

A cette prophylaxie par le travail s’ajoutent des dizaines de livres et une nouvelle carrière d’acteur dans des pièces, des téléfilms et dans une série (Bellefond, diffusé en 2022 sur France 3), « un vieux rêve qui se réalise sur le tard ». « Excusez-moi ! » Un appel urgent : « On peut s’organiser un rendez-vous avec la ministre et ensuite on voit ça avec l’Elysée, d’accord ? », lance-t-il à son interlocuteur, l’air faussement détaché. « Ça, c’est la mission patrimoine [qu’il exerce bénévolement], précise-t-il après avoir raccroché. J’ai peut-être trouvé la réponse à quelque chose qui me hante depuis longtemps : le fait de ne pas avoir d’enfant. Avec le patrimoine, j’incarne une mémoire et j’essaie de la transmettre. C’est peut-être pour ça que j’ai acheté un collège et pas un château. »

Il vous reste 65% de cet article à lire. La suite est réservée aux abonnés. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>