<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>US Lawmakers Ask SEC to Launch Fraud Investigation Into Elon Musk</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Federal regulators are being pushed to investigate whether Elon Musk deceived in">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>US Lawmakers Ask SEC to Launch Fraud Investigation Into Elon Musk</p>
            <span id="topic" >Elon Musk</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://media.wired.com/photos/655d4af6d9b25379f60e93fd/191:100/w_1280,c_limit/Congress-Asks-SEC-To-Investigate-Musk-Neuralink-Business-1231044822.jpg" alt="">

                <textarea id="text" readonly> Federal regulators are being pushed to investigate whether Elon Musk deceived investors in his brain-chip startup Neuralink by omitting details about the gruesome deaths of at least a dozen animals who were surgically fitted with its implants.

Four members of the US House of Representatives today alleged that Musk issued false statements in September regarding the deaths of 12 macaque monkeys, the subjects of experiments at a primate center in California between 2018 and 2020, according to a letter obtained by WIRED.

The lawmakers have urged Gary Gensler, head of the Securities and Exchange Commission (SEC), to initiate a probe into whether Musk committed securities fraud by glossing over the lethal aspects of Neuralink’s tests—a potential violation, they claim, of an SEC rule designed to shield investors from material omissions and misstatements linked with the purchase or sale of a security.

Musk, in September, claimed in a post on X (formerly Twitter) that no animal test subjects died as "a result of a Neuralink implant,” adding that the company strove early on to “minimize risk to healthy monkeys,” choosing only those who were “close to death already.”

“Mr. Musk knows this statement is false,” the lawmakers told Gensler, a former Goldman Sachs investment banker turned Wall Street sheriff.

The lawmakers’ push to see Musk investigated is spearheaded by US representative Earl Blumenauer from Oregon. As of Wednesday, three additional Democrats had joined the effort, including Barbara Lee, James McGovern, and Tony Cárdenas.

A WIRED investigation this year shed serious doubt on Musk’s animal welfare claims, finding that several macaque monkeys who’d been experimented on suffered greatly before their deaths, anguish that was prolonged in some cases to help Neuralink gather data following its surgeries. Veterinary records obtained by WIRED show many of the fatalities resulted directly from surgical complications linked by employees of the California National Primate Research Center to the implant procedure.

A former employee told WIRED this year that Neuralink's animal test subjects could not have been "close to death,” as Musk had claimed. The animals routinely underwent years of training in advance of the procedure, they said. In one experiment, a piece of a Neuralink device “broke off” during implantation, an autopsy report says, causing a fungal infection. In another, a Neuralink implant left a portion of a monkey’s cerebral cortex “focally tattered.” </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>