<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USA Today poll asks if Christkindlmarkt is the best holiday market? You decide.</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="How could the Christmas City not have the best Christmas Market in the world?

C">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>USA Today poll asks if Christkindlmarkt is the best holiday market? You decide.</p>
            <span id="topic" >usa</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.lehighvalleylive.com/resizer/vBGRPshKo4tHE1H905E-L3H-hdE=/1280x0/smart/cloudfront-us-east-1.images.arcpublishing.com/advancelocal/SZ2WFSZZBFFJ7K4FWJ6BXIYFWI.JPG" alt="">

                <textarea id="text" readonly> How could the Christmas City not have the best Christmas Market in the world?

Christkindlmarkt in Bethlehem has returned for its 31st year and it’s up against big hitters for USA Today’s ranking of America’s favorite holiday market, but it’s your votes that will determine if the holiday jewel will nab the top spot.

Polls close at noon on Wed., Nov. 28.

Cast a vote here. You are allowed one vote per category, per day to give to your top choice, the contest website says.

Christkindlmarkt has been called one of the top holiday markets in the world by Travel + Leisure and one of the top holiday markets in North America by USA TODAY’s 10Best Readers’ Choice competition and OprahDaily.com,

The holiday market is known for its unique variety of vendors.

This year the market is open Friday through Sunday this weekend and Thursday through Sunday in December (Dec. 1-3, 7-10, 14-17) until Christmas week.

Our journalism needs your support. Please subscribe today to lehighvalleylive.com. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>