<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanderpump Rules star Kristen Doute, 40, announces she has suffered a miscarriage with boyfriend Luke Broderick, 32: 'It's really f*****g terrifying'</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Kristen Doute has revealed she suffered a tragic miscarriage at six weeks with b">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Vanderpump Rules star Kristen Doute, 40, announces she has suffered a miscarriage with boyfriend Luke Broderick, 32: 'It's really f*****g terrifying'</p>
            <span id="topic" >entertainment</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://i.dailymail.co.uk/1s/2023/11/27/15/78280599-0-image-m-21_1701100670036.jpg" alt="">

                <textarea id="text" readonly> Kristen Doute has revealed she suffered a tragic miscarriage at six weeks with boyfriend Luke Broderick, 32.

In the November 26 episode of their Sex, Love and What Else Matters podcast titled 'We Had a Miscarriage' the Vanderpump Rules star, 40, and her partner, 32, opened up about their heartbreak - after discovering she was pregnant on October 24.

It was the same day her friend and former cast mate Ariana Madix competed in the Most Memorable Year week on Dancing with the Stars.

Two days later, on the October 26 episode, the pair, who had been together officially since December 2022, revealed they were 'ready to start trying' for kids on the podcast.

'A couple of months ago, Luke and I talked about the fact that we are in a very committed relationship, I did go to my OBGYN [in August] and we got all good news on that front,' Kristen told listeners.

Heartbreak: Kristen Doute has revealed she suffered a tragic miscarriage with boyfriend Luke Broderick, 32

Loss: In the November 26 episode of their Sex, Love and What Else Matters podcast titled 'We Had a Miscarriage' the Vanderpump Rules star, 40, and her partner, 32, opened up about their heartbreak - after discovering she was pregnant on October 24 (Pictured July 2021)

Official: The couple went public with their relationship in December 2022

About a month later, the 23 Minutes to Sunrise actress tearfully told her audience learning she was expecting was the 'best f**king day of my life.'

'It was very wild to me that you can find out that you’re pregnant — you don’t really know how far along you are,' the He's Making You Crazy author explained.

'So, weeks and weeks and weeks later you’re supposed to sit with yourself in your body and hope you can take care of this growing baby as best you can and have no clue about what to do,' she said.

Kristen made an appointment with her doctor and scheduled an ultrasound to find out how far along she was.

After a second scan, the couple got good news, that all was 'looking exactly as it should,' but when they went for a third ultrasound, they received the sad news the pregnancy was no longer viable.

The doctors told the pair there was 'no cause' for what had happened.

Kristen's pregnancy developed into what is called a blighted ovum - meaning an embryo has not developed or fully developed—making the pregnancy unviable.

The Mayo Clinic reports about 10-percent to 20-percent of known pregnancies end in miscarriage, but the number could be higher, because many occur before the woman knows she is pregnant.

Kristen said she had 'some light bleeding' during the early days of her pregnancy.

Hope: The hopeful future parents said once they have dealt with their emotions, they plan to try to expand their family again

'I only feel comfortable talking about this because I know so many friends of mine have gone through this.'

'So many women have been through this and it’s really f**king terrifying,' she explained.

The hopeful future parents said once they have dealt with their emotions, they plan to try to expand their family again.

'We were very lucky and very fortunate we got pregnant so quickly,' she said. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>