<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vatican Draws Line on Women’s Ordination and Homosexuality in New Letter to German Bishops</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Regarding the Church’s teaching on homosexual acts, Cardinal Parolin’s letter to">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/politics">Politics</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainement">Entertainement</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Vatican Draws Line on Women’s Ordination and Homosexuality in New Letter to German Bishops</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sat-6, 2023</b>
                </span>
                <br><br>
                <img src="https://publisher-ncreg.s3.us-east-2.amazonaws.com/pb-ncregister/swp/hv9hms/media/20231009071052_a41803babff04bedee555937d87cc2e6242eddda0139dd14005e5542b033f24b.jpg" alt="">

                <textarea id="text" readonly> Regarding the Church’s teaching on homosexual acts, Cardinal Parolin’s letter to the German bishops said this was ‘another issue on which a local Church has no possibility of taking a different view.’

The Vatican has informed German bishops in writing that the ordination of women and changes in the Church’s teaching on homosexuality cannot be subjects of discussion in the upcoming meetings with delegates of the German Synodal Way in Rome.

The letter, dated Oct. 23, also reminded the bishops of potential disciplinary consequences for anyone defying the teaching of the Church, reported CNA Deutsch, CNA’s German-language news partner.

Written by Cardinal Pietro Parolin, the Vatican secretary of state, and addressed to the secretary general of the German Bishops’ Conference, Beate Gilles, the letter was shared with all German diocesan bishops.

The document’s authenticity was verified by CNA Deutsch with the German Bishops’ Conference on Friday.

The latest in a growing list of Vatican interventions regarding the German Synodal Way, the letter was published in full on Nov. 25 by the newspaper Tagespost.

Danger of ‘Parallel Initiatives’

German bishops and representatives of the Roman Curia met in the Vatican in July for discussions about the German Synodal Way. These talks will continue in January, April, and July 2024. They are expected to cover ecclesiology, anthropology, morality and liturgy, and texts of the Synodal Way.

The Vatican’s letter reminded the German bishops of the Synod on Synodality underway in Rome: “Considering the course of the German Synodal Way so far, one must first realize that a universal Synodal Way is currently taking place, convened by the Holy Father.”

The letter emphasized that it was “therefore necessary to respect this path of the universal Church and to avoid the impression that parallel initiatives are underway that are indifferent to the effort to ‘journey together.’”

Line Drawn on women’s Ordination, Homosexual Acts

In light of the German Synodal Way resolving to push for the ordination of women, the letter reminded the German bishops that Pope Francis has repeatedly and “expressly reaffirmed” what St. John Paul II wrote in Ordinatio Sacerdotalis about the Church having “no authority whatsoever to confer priestly ordination on women.”

While quoting Pope Francis on the importance of recognizing the role and dignity of women — given “a woman, Mary, is more important than the bishops,” as the pope said in Evangelii Gaudium — the letter also warned of “disciplinary consequences” for those who contravene doctrine, including potential excommunication for “attempting to ordain a woman,” CNA Deutsch reported.

Regarding the Church’s teaching on homosexual acts, Cardinal Parolin’s letter to the German bishops said this was “another issue on which a local Church has no possibility of taking a different view.”

The letter elaborated: “For even if one recognized that from a subjective point of view there may be various factors that call on us not to judge people, this in no way changes the evaluation of the objective morality of these acts.”

The Vatican’s note also referenced Pope Francis’ 2019 letter to Catholics in Germany. In it, the Pope cautioned against “the great sin of worldliness and of the anti-evangelical worldly spirit.”

In January, Pope Francis was more explicit, decrying the German Synodal Way as “elitist” and “neither helpful nor serious.”

More recently, in a letter dated Nov. 10, the Pope again expressed deep concerns about the German Synodal Way. He warned that steps being taken by this local Church segment threaten to diverge from the universal Church’s path, especially the Germans’ push to establish a permanent “Synodal Council,” a mix of laity and bishops to govern the Catholic Church in Germany.

Instead, Pope Francis suggested an alternative approach for the Church in Germany, emphasizing the need for prayer, penance, and adoration.

German reactions to this latest intervention from Rome will show just how much the Synodal Way’s organizers have taken the papal appeals to heart. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>