<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virkus' Argumente: Warum der BVB das Spiel nicht gewinnen darf</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="In der ersten halben Stunde trumpften die Gladbacher in Dortmund ganz groß auf, ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Virkus' Argumente: Warum der BVB das Spiel nicht gewinnen darf</p>
            <span id="topic" >BVB</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://derivates.kicker.de/image/upload/c_crop,x_0,y_55,w_4000,h_2250/w_1200,q_auto/v1/2023/11/26/b50748c3-f450-4728-8e3e-cf34585fd458.jpeg" alt="">

                <textarea id="text" readonly> In der ersten halben Stunde trumpften die Gladbacher in Dortmund ganz groß auf, standen am Ende aber ohne Punkte da. Manager Roland Virkus haderte auch mit aus seiner Sicht unglücklichen Schiedsrichter- Entscheidungen.

Gut 30 Minuten lang machten die Fohlen im Borussen-Duell in Dortmund nahezu alles richtig. Die Mannschaft von Trainer Gerardo Seoane diktierte das Spiel, befreite sich immer wieder zügig, zeigte feine Kombinationen und führte völlig verdient mit 2:0.

Allerdings nicht sehr lange. Gleich nach dem zweiten Gladbacher Treffer drehten die Hausherren auf, dem BVB gelangen auch wegen Gladbacher Nachlässigkeiten und schlimmen Fehlern (Koné) zunächst zwei schnelle Gegentore, und noch vor dem Halbzeitpfiff folgte der Führungstreffer.

"Es stimmt, nach dem 2:0 haben wir die Kontrolle abgegeben, da sind wir bitter bestraft worden. Es muss uns gelingen, in so einer Phase ruhiger zu sein, cool zu bleiben", urteilte Virkus.

Trotzdem war die Vorstellung der Borussia vom Niederrhein für den Sportchef ein Schritt nach vorne. Erst recht, weil zumindest zwei Gegentreffer, wie Virkus beklagte, äußerst unglücklich fielen. Darum seine Schlussfolgerung: "Dieses Spiel", fand Virkus, "darf Dortmund nicht gewinnen."

Marco Reus im Abseits und in der Schussbahn?

Vor dem 2:2 hatte es ein Foul an Franck Honorat gegeben, Gladbach blieb allerdings im Ballbesitz, erst danach gelang es dem BVB umzuschalten und den Treffer zu erzielen. Und beim Dortmunder 3:2 unmittelbar vor dem Pausenpfiff stand, so Virkus, Marco Reus im Abseits und in der Schussbahn, aus seiner Sicht also hätte der Treffer nicht zählen dürfen. Schiedsrichter Jablonski jedoch gab das Tor, auch der VAR griff nicht ein.

Ein Wirkungstreffer, jedenfalls aus Gladbacher Sicht. Aber ein Grund für die Niederlage? Zur Geschichte gehört natürlich auch, dass den Gästen nach ihrer verdienten Führung im Angriff zunächst die Durchschlagskraft fehlte, da erspielten sich die Fohlen keine einzige Chance mehr - bis in die Schlussphase.

Da hatte allerdings Christoph Kramer die ganz große Möglichkeit zum Ausgleich, als er aus dem Rückraum schoss, der Ball aber ganz knapp am Dortmunder Kasten vorbeiflog. "Maximal einen Zentimeter", so Kramer, hinterher schmunzelnd und etwas zerknirscht, sei die Kugel am Dortmunder Kasten vorbeigegangen. So also nahm die elfte Niederlage hintereinander beim BVB ihren Lauf.

Damit nicht genug. Borussias Verantwortliche sorgen sich um Stürmer Jordan, der nach der Pause in der Kabine blieb. Der Angreifer war nach einer Adduktoren-Verletzung in Dortmund erst wieder in die Startelf zurückgekehrt, nun musste er wegen Problemen an der Schulter vorzeitig raus. Die genaue Diagnose lag am Sonntag noch nicht vor. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>