<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walmart Cyber Monday Deals: 60+ Late Deals You Can Still Take Advantage Of</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="With Cyber Monday coming to a close, Walmart still has some deals going strong. ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Walmart Cyber Monday Deals: 60+ Late Deals You Can Still Take Advantage Of</p>
            <span id="topic" >Business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-28, 2023</b>
                </span>
                <br><br>
                <img src="https://www.cnet.com/a/img/resize/34135a11c8fee30b80a3ea1b470f60267bc5fbf9/hub/2023/11/10/aed11e53-bc28-4085-ac52-3788d3dd35bd/cyber-monday-walmart-deals-2023.png?auto=webp&fit=crop&height=675&width=1200" alt="">

                <textarea id="text" readonly> With Cyber Monday coming to a close, Walmart still has some deals going strong. Whether you're shopping for that perfect holiday gift or you're hoping to score on a big-ticket item like a new TV or laptop, Walmart is still a great bet to save. But don't wait long, even if deals longer beyond Cyber Monday, they may not last long.

Walmart offers a huge variety of items, so finding the best prices can be daunting. Our team of more than a dozen shopping editors is working around the clock to call out the best bargains we find. Keep an eye on this page, because we're keeping it as up-to-date as possible to make sure you're the first to see the best deals.

Best Walmart Cyber Monday deals overall

Walmart's Cyber Monday deals are still live and these are the pick of the bunch according to CNET's team of experts.

Dyson V15 Detect Absolute: $500 While the price tag is still hundreds of dollars, the Dyson V15 Detect made the top three of our best cordless vacuums of 2023, in part for its powerful suction that passed our vacuum tests with flying colors. The 230 air watts of suction power left little room for debate: it's one of the most effective cordless vacuums we've seen for lifting up pet hair, dirt, sand and other debris. Right now you can score it for $250 off, making it a worthy splurge. Details Save $250 $500 at Walmart

Apple Watch SE (2nd gen): $179 Apple's current-gen Apple Watch SE is down to a record low price at Walmart, making it an incredible value for a beginner smartwatch. Details Save $70 $179 at Walmart

Samsung 65-inch CU7000B 4K TV: $428 This Samsung TV sports a 65-inch screen -- the best size for most people, according to our TV experts -- and has smart features like the Samsung Gaming hub, upscaling to 4K and more. Details Save $50 $428 at Walmart

Roku LE streaming media player: $17 Add Roku's easy-to-use streaming interface to any TV with this HD streamer down to only $17. This is a Walmart-exclusive product, so you won't find this deal elsewhere. Details Save $8 $17 at Walmart

Best Walmart Cyber Monday tech deals



Sony/CNET

Best Walmart Cyber Monday home deals

Cafe/CNET

Best Walmart Cyber Monday toy deals

KidKraft/CNET

Best Walmart Cyber Monday fashion, beauty and fitness deals

Salvatore Ferragamo/CNET

Robert Rodriguez/CNET

When is Walmart's Cyber Monday sale?

Walmart kicked off its Cyber Monday sale on Sunday, Nov. 26 at 4 p.m. ET for Walmart Plus members. members and 7 p.m. ET for the general public. Deals run through Cyber Monday.

Are Walmart Cyber Monday deals available both in-store and online?



Walmart's Cyber Monday is a virtual event, allowing customers to browse the virtual aisles on the website and the app. While there may be some prices also available in-store, Walmart makes no guarantees. The deals are primarily online exclusives, but you can arrange for items to be delivered to your local store for in-store or curbside pickup or opt to have them sent straight to your door. Walmart does not offer rain checks for the Cyber Monday deals. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>