<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch: Golden Temple in Amritsar illuminated to commemorate Prakash Gurpurab</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Amritsar's Golden Temple was illuminated with lights to mark Prakash Gurpurab, t">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Watch: Golden Temple in Amritsar illuminated to commemorate Prakash Gurpurab</p>
            <span id="topic" >Gurpurab</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://cdn.wionews.com/sites/default/files/2023/10/31/390245-untitled-design-15.png" alt="">

                <textarea id="text" readonly> Amritsar's Golden Temple was illuminated with lights to mark Prakash Gurpurab, the birth anniversary of the fourth Guru of Sikhs, Guru Sri Ram Das Ji, on Monday (Oct 30).

Magnificent decorations and fireworks were observed at the temple and many devotees thronged the temple to offer prayers.

Guru Ram Das Jayanti is celebrated on a grand scale by the Sikhs around the world. The day witnesses large-scale celebrations, including kirtan and hymns across all Gurudwaras in India and around the world.

This year Guru Ram Das Jayanti was celebrated on October 30. Amritsar is the divine place associated with Guru Ram Das Ji because he was the founder of the city.

Drone captured the sight

The amazing sight of Sri Darbar Sahib in Amritsar is captured in exclusive drone footage. With millions of lights illuminating the complex and fireworks lighting up the evening sky, hundreds of devotees flocked to commemorate this auspicious event.

Exclusive drone footage captures the breathtaking spectacle of Sri Darbar Sahib in Amritsar, illuminated to mark the Prakash Gurpurab of Sri Guru Ram Das Ji. The evening sky sparkled with fireworks, while millions of lights adorned the complex, drawing thousands of devotees to… pic.twitter.com/wPmC6f2eys — Ravinder Singh Robin ਰਵਿੰਦਰ ਸਿੰਘ رویندرسنگھ روبن (@rsrobin1) October 30, 2023 ×

The festival is celebrated to reminisce about the great deeds and teachings of the Guru. There is a whole lot of effort that goes into the preparations of the festival, Gurupurab which is marked by Kirtans and recitations at the Gurdwaras. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>