<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week 10 prep football: 71st Iron Horse Game, Davis-Syracuse highlight regular-season finales</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="1 / 2 Ogden's Max Trujillo (22) runs the ball against Ben Lomond in the 70th Iro">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Week 10 prep football: 71st Iron Horse Game, Davis-Syracuse highlight regular-season finales</p>
            <span id="topic" >iron ball</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://ogden_images.s3.amazonaws.com/www.standard.net/images/2022/10/12185433/BW-Ben-Lomond-vs-Ogden-001-1200x800.jpg" alt="">

                <textarea id="text" readonly> 1 / 2 Ogden's Max Trujillo (22) runs the ball against Ben Lomond in the 70th Iron Horse Game on Wednesday, Oct. 12, 2022, at Ogden High School. BRIAN WOLFER, Special to the Standard-Examiner 2 / 2 Davis tacklers McCoy Frasure (36) and Dane Langpap (22) wrap up a Syracuse ball-carrier during a Region 1 football game Friday, Sept. 16, 2022, in Syracuse. (ISAAC FISHER, Special to the Standard-Examiner) ISAAC FISHER, Special to the Standard-Examiner ❮ ❯

The 71st Iron Horse game highlights this week’s prep football regular-season finale, which includes a couple of interesting games in Region 1 and Region 5 that will decide whether those respective region titles are won by one team or as many as three.

Last week’s prediction record: 10-2 (.833)

Season prediction record: 100-26 (.794)

Ogden at Ben Lomond, Game of the Week

71st Iron Horse Game, 5 p.m. Thursday

Ben Lomond’s (5-4, 2-2 3A North) short and intermediate passing game is a challenge to defend, as is Ogden’s (4-5, 1-3) multiple-formation offense even after a quarterback change to Kale Adams.

The Tigers have owned this rivalry lately, winning the Iron Horse six straight years, and lead the all-time series 53-22. The biggest sign things could change this year is how both teams did against Juan Diego.

Ogden lost to the Soaring Eagle 31-28 on the road in overtime. Ben Lomond beat JD 34-18 on the road, its first-ever win over the Draper school.

Prediction: Ben Lomond

Layton at Weber (Wed.)

Layton (0-8, 0-4 Region 1) is 3-2 against Weber since 2019 and despite being winless, the Lancers are Weber’s (5-4, 3-1) kryptonite.

The Warriors should expect a tough game despite what the disparity in records indicates. Layton’s only had two winless seasons since starting football in 1968.

Weber’s stakes are also high: win, and keep alive slim hopes of a shared region title, depending on the Syracuse-Davis outcome.

Prediction: Weber

Bonneville at Box Elder (Wed.)

Bonneville’s (5-4, 4-2 Region 5) run defense has been good all year, and it’ll get a test against Box Elder’s Wing-T running game. Plus, another game of experience for backup quarterback Talon Rocha will do Bonneville’s offense some good.

Box Elder (7-2, 4-2) has slid back since hitting the meat of its schedule, with back-to-back losses by a total of 11 points. Senior night on its home field is a big chance for the Bees to get back on track ahead of a postseason in which they’ll likely have a home game at some point, even if they lose on Wednesday.

BE running back Dax Sumko has 4,085 rushing yards for his career. He needs 775 the rest of the season to break into the all-time top-10 list in state history.

Prediction: Bonneville

Farmington at Fremont (Wed.)

The battle for fourth place in Region 1 pits two teams in the midst of superlatively bad seasons. Fremont (2-7, 1-3 Region 1) had a 1-9 record in 2013 while Farmington (1-7, 1-3) has twice posted two-win seasons in its brief existence.

Phoenix running back Travis Hoopes has back-to-back 100-yard games with three rushing TDs in that time. Fremont receiver Jace Hadley has a TD catch in consecutive games.

Prediction: Farmington

Northridge at Roy (Thurs.)

Things are somewhat simple for Roy (7-2, 5-1 Region 5), as a win guarantees an outright region title. A big challenge will be coming down from the emotional high of beating Bountiful last week.

Everyone other than Roy is rooting for Northridge (4-5, 2-4) this week, as a Knights win would mean there’s a three-way split of the region title. Knights linebacker Zach Smith is tied for third in the state in tackles with 116, and he’s gotten that amount in eight games.

Roy is 9-8 all-time against Northridge and has won four of the last five in the series. Since its Sept. 7 loss to Box Elder, Roy’s defense has allowed an average of 14.8 points per game and forced 10 turnovers in four games.

Prediction: Roy

Syracuse at Davis (Thurs.)

Davis (8-1, 4-0 Region 1) is playing for an outright region title and Syracuse (7-2, 3-1) is playing for a split region title.

The Darts have already won a region title for the first time since 2016, and are the first current Region 1 team not named Syracuse or Weber to win the region since Fremont and Roy split the winnings in 2016.

The Titans are looking for back-to-back title triumphs. They finally got their running game together last week with 181 yards and four scores on the ground.

This week, they face a much tougher defense, particularly up front as Davis still has a strong front seven despite defensive tackle Ami Moala leaving the school a couple weeks ago.

Davis is better running the ball, Syracuse has the better defense overall, both teams are very good in the passing game and both are solid in special teams.

Flip a coin for this one.

Prediction: Davis

Altamont at St. Joseph (Thurs.)

There was discussion in St. Joseph’s (2-6) first year playing football about whether or not the Jayhawks would play all their regular-season games, due to low turnout, injuries and whatnot.

Barring a catastrophe in practices, St. Joseph will indeed play its nine-game regular-season allotment in this 4 p.m. kickoff.

The problem for the Jayhawks this week is Altamont (4-2) is fairly good, having beaten Water Canyon 36-18 two weeks ago, the same WC team that beat St. Joseph 50-30 last week.

Prediction: Altamont

Bountiful at Woods Cross (Thurs.)

Broadcast on KJZZ

Bountiful (5-4, 4-2 Region 5) had a five-turnover game in a 12-point loss to Roy last week, so if the Redhawks even marginally improve in that category, they win this one.

Bountiful has won three in a row and five of six against Woods Cross (6-3, 4-2), bumping its all-time series record against the Wildcats to 34-11.

The winner of this game keeps alive its hopes of a split region title, but needs Northridge to beat Roy in order for that to happen.

Prediction: Bountiful

Clearfield at Viewmont (Fri.)

This is the teams’ first meeting since 2014, but they have a lot of history as Viewmont leads the all-time series 24-21.

Playoff-wise, Clearfield (0-9, 0-6 Region 1) might still get into the playoffs, but it must win to do so.

Viewmont (3-6, 1-5) is likely in the postseason already, but a win may give the Vikings a more winnable first-round game.

Prediction: Viewmont

Union at Morgan (Fri.)

Morgan has a 35-5-1 record all-time against Union and has won six straight against the Cougars.

A win ensures the Trojans (6-3, 4-0 3A North) an outright 3A North region title. They’ve already won a share of this year’s title, which is the fourth straight and seventh in eight years.

Zak Sargent leads Morgan in rushing (611 yards) and co-leads the team in tackles (73).

Prediction: Morgan

Summit Academy at Layton Christian (Fri.)

Layton Christian (4-4, 3-1 2A North) has had better comparative results in region play against the same teams Summit Academy (6-3, 3-1) has played.

LCA quarterback Marcus Miles ranks tied for fifth in the state with 29 touchdown passes.

Prediction: Layton Christian

Bear River at Salem Hills (Fri.)

Bear River (3-6) is dealing with injuries up front and visits a Salem Hills (6-3) team that, until last week, had played very good defense the last four weeks.

BR receiver Jace Roberts ranks fourth in the state with 1,045 receiving yards.

Prediction: Salem Hills

Connect with reporter Patrick Carr via email at pcarr@standard.net, Twitter @patrickcarr_ and Instagram @standardexaminersports.

Newsletter </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>