<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Market Outlook (27-01 December)</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="UPCOMING EVENTS :

Tuesday: Australian Retail Sales, US Consumer Confidence.

Au">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Weekly Market Outlook (27-01 December)</p>
            <span id="topic" >business</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://images.forexlive.com/images/US%20Consumer%20Confidence_id_46e09e82-9383-4d79-adad-4edc9838b9d9_size975.jpg" alt="">

                <textarea id="text" readonly> UPCOMING EVENTS :

Tuesday: Australian Retail Sales, US Consumer Confidence.

Australian Retail Sales, US Consumer Confidence. Wednesday: Australian Monthly CPI, RBNZ Policy Decision, US GPD Q3 2 nd Estimate.

Australian Monthly CPI, RBNZ Policy Decision, US GPD Q3 2 Estimate. Thursday: Japan Industrial Production and Retail Sales, China PMIs, Switzerland Retail Sales, Eurozone CPI and Unemployment Rate, Canada GDP, US Core PCE, US Jobless Claims.

Japan Industrial Production and Retail Sales, China PMIs, Switzerland Retail Sales, Eurozone CPI and Unemployment Rate, Canada GDP, US Core PCE, US Jobless Claims. Friday: Japan Jobs data, China Caixin Manufacturing PMI, Switzerland GDP, Canadian Labour Market report, Canada Manufacturing PMI, US ISM Manufacturing PMI

Tuesday:

The US Consumer Confidence has been falling steadily in the past quarter as the labour market started to weaken. In fact, compared to the University of Michigan Consumer Sentiment, which shows more how the consumers see their personal finances, the Consumer Confidence shows how the consumers see the labour market. The consensus sees the index falling to 101 in November vs. 102.6 in October.

US Consumer Confidence

Wednesday

The Australian Monthly CPI Y/Y is expected to fall to 5.2% vs. 5.6% prior. The RBA hiked the cash rate by 25 bps at the last meeting following higher than expected CPI data. The recent hawkish RBA Meeting Minutes and the comments from RBA’s Governor Bullock suggest that the central bank is losing some patience amid some inflation persistence. A higher-than-expected release won’t be welcome news for the RBA.

Australia Monthly CPI YoY

The RBNZ is widely expected to keep the OCR steady at 5.50% as the central bank made it clear that despite some near term volatility in the data, inflation is expected to decline to the target band by the second half of 2024. The economic data from New Zealand has been showing clear weakness with the PMIs in contraction and the unemployment rate rising steadily.

RBNZ

Thursday

The Eurozone CPI Y/Y is expected to tick lower to 2.8% vs. 2.9% prior, while the Core CPI Y/Y is seen at 3.9% vs. 4.2% prior. The ECB is firmly in a “wait and see” mode and this report is unlikely to trigger a rate hike even if it beats expectations. We will also see the Unemployment Rate, which in my opinion, is more important at the moment. The consensus sees the Unemployment Rate to remain unchanged at 6.5%.

Eurozone Core CPI YoY

The US PCE Y/Y is expected to fall to 3.1% vs. 3.4% prior, while the M/M reading is seen at 0.1% vs. 0.4% prior. The Core PCE Y/Y, which is the Fed’s preferred measure of inflation, is expected to fall to 3.5% vs. 3.7% prior, while the M/M measure is seen at 0.2% vs. 0.3% prior. The market is unlikely to react much to this report given that it already moved a lot on the more timely CPI release just two weeks prior. In fact, in my opinion, the US Jobless Claims released at the same time will be more important.

US Core PCE YoY

The US Jobless Claims beat expectations across the board last week with Continuing Claims falling for the first time in two months. The data set covered the NFP survey week, but Jobless Claims are notoriously volatile, so one good report doesn’t make a trend. This week the consensus sees Initial Claims at 218K vs. 209K prior and Continuing Claims at 1855K vs. 1840K prior.

US Jobless Claims

Friday

The Canadian Unemployment Rate is expected to tick higher once again to 5.8% vs. 5.7% prior with 14K jobs added vs. 17.5K prior. The BoC is expected to keep rates unchanged, especially after the last week’s CPI report where all the inflation measures fell further and the BoC’s Governor Macklem reaffirmed the central bank “wait and see” approach.

Canada Unemployment Rate

The US ISM Manufacturing PMI is expected to tick higher to 47.6 vs. 46.7 prior. If the index prints below 50, it would be the 13th consecutive month that the US Manufacturing sector remained in contraction. The S&P Global US Manufacturing PMI released last Friday missed estimates falling back in contraction. The most important takeaway from the report though was this line: “As a result of subdued demand and decreasing backlogs, companies reduced their workforce for the first time since June 2020, affecting both service providers and goods producers.” </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>