<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week 13 College Football Odds, Picks: Collin Wilson’s Bets for The Game, Iron Bowl & More</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Getty Images. Design by Cyriel Klitsie/Action Network. Pictured (left to right):">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Week 13 College Football Odds, Picks: Collin Wilson’s Bets for The Game, Iron Bowl & More</p>
            <span id="topic" >iron ball</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://images.actionnetwork.com/blog/2023/11/Collin-Wilson-Week-13.jpg" alt="">

                <textarea id="text" readonly> Getty Images. Design by Cyriel Klitsie/Action Network. Pictured (left to right): Ohio State’s Marvin Harrison Jr., Auburn’s Jarquez Hunter, Michigan’s JJ McCarthy, Oregon’s Bo Nix, Ole Miss’ Quinshon Judkins and Alabama’s Jalen Milroe.

Somehow, it's here. The final week of the 2023 college football regular season is upon us.

But before it's over, we have a week full of rivalry games to watch and invest in. With bowl eligibility and pride on the line for many teams, this is one of the best football weeks of the year.

It all starts with one of the most underrated rivalries in college football, as the Ole Miss Rebels take on the Mississippi State Bulldogs in the Egg Bowl. We've seen some craziness from the Battle for the Golden Egg before, and it wouldn't be shocking to see some more this time around.

Then, on Friday, the Oregon State Beavers head to Eugene, where they'll meet an Oregon Ducks team looking to secure its postseason plans that culminate with a trip to the College Football Playoff.

On Saturday, we have two of the best of the best rivalries in all of sports.

First, the Michigan Wolverines host the Ohio State Buckeyes in a game with major, major implications for the Big Ten Championship race and College Football Playoff rankings.

And to close it all out, the Alabama Crimson Tide make the trip to Jordan-Hare Stadium to face the Auburn Tigers in another edition of the Iron Bowl.

It's sure to be a fantastic week of college football, so let's dive into my analysis and picks for all four Rivalry Week games below.

Collin Wilson's Week 13 Betting Card

The team logos in the table below represent each of the matchups that Action Network senior writer Collin Wilson is targeting from Week 13's slate of games. Click on the team logos for any of the matchups below to navigate to a specific bet discussed in this article.

Ole Miss vs. Mississippi State

Thursday, Nov. 23 7:30 p.m. ET ESPN Under 55 · Ole Miss -10

The most underrated rivalry in college football comes from the state of Mississippi every Thanksgiving night.

Ole Miss vs. Mississippi State is a historic in-state battle that dates back to 1901, with the Rebels leading the all-time series at 64-46-6. The series is dead even over the past 20 years, providing one-possession victories in three of the past four instances.

Often known for its physicality and fights, the Battle for the Golden Egg took a memorable turn in 2019.

The 2019 version of the Egg Bowl has been dubbed "The Piss, the Miss and the Double Dismiss" by fans. Ole Miss' Elijah Moore caught a touchdown with four seconds remaining, only to be flagged for an unsportsmanlike conduct penalty for imitating a dog urinating.

The ensuing extra point was missed, and Mississippi State escaped by a single point. Both programs fired their head coach, leading to the Mike Leach and Lane Kiffin eras.

There are rivalries, then there's the Egg Bowl.

Ole Miss Rebels

The Rebels' quest to shake up the SEC ended with a loss to Georgia at Sanford Stadium in Week 11.

The Rebels bounced back during Tin Horn Weekend with a 35-3 smashing of Louisiana-Monroe, highlighted by a healthy Jaxson Dart under center. The third-year quarterback left the Georgia game for the medical tent, only to return in a three-touchdown performance against the Warhawks.

Despite injuries on the offensive line, Ole Miss' rushing attack is still as potent with running back Quinshon Judkins leading the way. The Rebels rely on a heavy amount of inside zone and power run concepts, generating a Quality Drives rank in the top 20.

Ole Miss has been exceptional in scoring position this season, averaging 4.7 points on 68 drives that have crossed the opponent's 40-yard line.

The biggest improvement for Ole Miss has come with the hiring of defensive coordinator Pete Golding. Golding's nickel package often sends just two or three down defenders to protect against the explosive play.

Ole Miss ranks top-25 in pass explosives allowed through a heavy use of Cover 3 and quarters.

Defensive interior Jared Ivey has produced Havoc despite the light defensive front, generating 21 pressures this season with eight sacks.

The must-have app for college football bettors The best NCAAF betting scoreboard Free picks from proven pros Live win probabilities for your bets DOWNLOAD NOW

Mississippi State Bulldogs

The box score from a dominant win over Southern Miss would indicate a breakout for a Mississippi State offense that returned two critical pieces.

Quarterback Will Rogers played in his first action since a Week 6 injury against Western Michigan, showing plenty of rust against the Golden Eagles. Rogers completed just 12-of-27 passes with a massive six drops recorded by targets.

Running back Jo'Quavious Marks made his first appearance since a Week 8 injury against Arkansas. The fourth-year running back also had issues on the ground, averaging 2.8 yards per carry and providing a single catch out of the backfield.

The defense saw marginal improvement in the wake of fired head coach Zach Arnett. Mississippi State ranks 117th in Defensive Finishing Drives, failing to limit opposing offensive drives.

Southern Miss averaged just 1.5 points on drives beyond the Bulldogs' 40-yard line, as MSU limited the Golden Eagles to a lowly 24% Success Rate in passing downs.

Star USM running back Frank Gore Jr. was held to just three yards per carry as the Bulldogs generated five tackles for loss and three sacks.

Mississippi State's defense will need to replicate the red-zone success from Southern Miss into the Egg Bowl to have any shot of pickup up an upset.

Ole Miss vs Mississippi State Betting Pick & Prediction

To carry over the defensive success against Southern Miss into the Egg Bowl, the first key for Mississippi State is to stop the inside zone and power run game of Judkins and Dart.

The Bulldogs have an above-average rush defense that ranks 38th in Line Yards and at the national average in Success Rate against Ole Miss' most-used run concepts.

Mississippi State rarely allows rush explosives against inside zone, so any chunk plays for Ole Miss must come from Dart through the air.

The good news for the Rebels is Dart's numbers against teams that play quarters coverage. The Ole Miss quarterback comes in above the national average in Success Rate and explosives when facing quarters this season.

The Mississippi State offense will be asked to keep up with Ole Miss — a tough task considering the numbers from the Southern Miss game.

The Bulldogs have been unable to establish a ground game, where Ole Miss has had consistent issues defending.

Mississippi State runs twice as much outside zone than any other run concept, but it's the route tree for Rogers that may keep the Bulldogs in this game. MSU runs a heavy amount of crossing routes and hitches — routes that have given the Rebels issues all season.

The Action Network projection favors Ole Miss at -12 with a total of 54, just off the market numbers.

There's reason to believe this game may be a battle of methodical drives with limited explosives. Mississippi State has shown success on defense in limiting Ole Miss' favorite run concepts, making the passing game the biggest advantage for the Rebels.

When the Bulldogs have the ball, expect Rogers to improve after a number of drops and inaccurate throws last week. Rogers is expected to maintain a low average depth of target by hitting shallow crossers, a route that Ole Miss' light box has struggled to defend .

With 11 being one of the key numbers on the spread, any Ole Miss number at -10.5 or better is worth an investment, while -11.5 or better favors Mississippi State.

The better bet is the under on the total with the key of 55 in mind.

The Bulldogs defense will show up against Ole Miss' run concepts while limiting Dart's explosive passes just enough for the offense to slowly grind the clock with Rogers' short passing game.

Pick: Under 55 or Better · Ole Miss -10.5 or Better

ESPN Bet is now live! Make sure you're ready for all the action with our exclusive ESPN BET promo code TANBONUS.

Oregon State vs. Oregon

Friday, Nov. 24 8:30 p.m. ET FOX Oregon -13.5

The Pac-12 hasn't had a representative in the College Football Playoff since Washington lost to Alabama in 2016.

Oregon State had the chance to start a chaotic set of final weeks in the Pac-12 in Week 12 but failed to defend home turf against Washington.

One of the best rushing attacks in the country was held to just four yards per play on the ground and failed to produce a single explosive drive. Two interceptions and a fumble lost by the Beavers helped Washington remain undefeated, and now, Oregon State must beat its rival and hope for some upsets to play for the conference championship.

Oregon was in cruise control during Week 12, leaving Tempe victorious after a dominant 42-0 first half against Arizona State. The Ducks have steamrolled the Pac-12 since a Week 7 loss to Washington.

Oregon leads the all-time rivalry formerly known as the "Civil War" 67-49-0, but it has lost two of the past three contests.

The Ducks have plenty to play for in this regular-season finale, as a spot in the Pac-12 title game, a national title chase and a Heisman run are all on the line.

Oregon State Beavers

Oregon State has hammered the rush in conference play, generating the third-best ground game in terms of Success Rate.

The Beavers run a heavy outside zone rush concept and rank 20th in Line Yards thanks to running backs Damien Martinez and Deshaun Fenwick.

Head coach Jonathan Smith got the best quarterback fit for his offense in Clemson transfer DJ Uiagalelei, a tank in short-yardage and red-zone attempts.

DJ Uiagalelei is STRONG 😳 pic.twitter.com/z9TAE6JbzV — Pac-12 Conference (@pac12) November 19, 2023

The Beavers defense runs out of 2-4-5 personnel and mixes man coverage with quarters and Cover 1.

Oregon State has been much improved under coordinator Trent Bray with the exception of one area — it still ranks 131st nationally in tackle grade. The Beavers are 130th in broken tackles allowed, as missed tackles continue to extend drives for opponents . OSU missed nine tackles against Washington — a poor number that was still an improvement from 20 missed tackles against Arizona in Week 9.

Oregon Ducks

Quarterback Bo Nix is in a heated battle with LSU's Jayden Daniels for the Heisman Trophy. The Oregon quarterback did everything to remain the favorite against Arizona State, logging six passing touchdowns and throwing for over 400 yards in Tempe.

No quarterback has played at his level in terms of turnover-worthy plays, as Nic has recorded just three on 384 dropbacks over the entire season .

With premium targets in wideout Troy Franklin and slot Tez Johnson, Oregon boasts the best offense in the nation.

NIX TO FRANKLIN AGAIN! 💪💪@oregonfootball is making it look easy 😮‍💨 pic.twitter.com/JeEhuZFrHQ — FOX College Football (@CFBONFOX) November 18, 2023

Nix has limited his rushing attempts this season, as he's complemented by an elite rushing attack led by Bucky Irving.

While the offense was expected to excel even with a new offensive coordinator, it's the defense that has moved the needle on Oregon's title hopes. Head coach Dan Lanning brought a 3-3-5 scheme from Georgia, turning the Ducks into a top-25 Havoc unit.

The defense ranks top-15 in standard downs Success Rate and passing downs explosives, generating a top-20 rank in hard stop rate, which measures three-and-outs, turnovers and fourth-down stops.

Oregon State vs Oregon Betting Pick & Prediction

The first order of handicapping this rivalry game is the ability of the Ducks defense to defend the Beavers' explosive rushing attack. Oregon ranks inside the top 40 in terms of Success Rate and Line Yards against the run, but the breakdown of run concepts provides additional factors.

The Beavers run a heavy amount of outsize zone with additional attempts in man-blocking schemes. Oregon has seen 43 outside zone rushing attempts this season and has produced one of the highest rates of success at 65% while allowing very few explosives.

The Oregon secondary spends plenty of time in Cover 1, a coverage that has kept Uiagalelei at a modest 50% Success Rate with minimal expected points.

Oregon State ranks 32nd in Offensive Quality Drives with one of the nation's more elite red-zone units.

Another advantage for the Ducks comes in defending the ground game in the red zone. Lanning's team owns a top-20 rank in touchdown efficiency, allowing opponents to score on just 24% of attempts.

The biggest issue for Oregon State in this game is missed tackles. The defense has struggled to lock up opponents in open space, an issue that will persist in Week 13. The Ducks boast one of the most explosive offenses in the game and are second nationally in creating broken tackles.

Two key factors lead to a wager on Oregon — Oregon State's missed tackles and the Ducks' ability to stop the Beavers' main run concepts.

Action Network's projections are in alignment with the side and the total of 66. There should be plenty of explosives from an Oregon offense that frequently exposes defenses that miss tackles.

Pick: Oregon -13.5 or Better

Ohio State vs. Michigan

Saturday, Nov. 25 12 p.m. ET FOX Ohio State +3

Has there ever been a more dramatic lead-in to "The Game?"

Both Michigan and Ohio State were ranked in the top three last season, only to see the Wolverines plow through an aggressive Cover 0 Buckeye defense in a dominant win.

The rankings are identical to last season, but this season has the added drama of Michigan's sign-stealing scandal.

Head coach Jim Harbaugh won't be on the sidelines for this game, removing a petition to the NCAA after further evidence was revealed in the Connor Stalions investigation. Position coaches have been dismissed, and boosters have been identified in a multi-year operation that filmed the sidelines of nearly 30 schools.

Stalions contends this was done solo, but plenty of evidence suggests Michigan has been the benefactor of sign stealing since 2021.

The Game will be full of intrigue, where watching the sidelines becomes as entertaining as the game itself.

A down in the life of Connor Stalions, lone wolf junior recruiting analyst. From the 2022 MSU-UM game. H/T Eleven Warriors and Red Cedar Message Board. pic.twitter.com/dRMr3To2FT — Andy H (@a_zinger) November 20, 2023

Read on for Ohio State vs Michigan odds, picks and predictions in our college football betting preview for Saturday, Nov. 25.



Ohio State Buckeyes

Plenty of detractors don't believe Ohio State can win the national title.

Quarterback Kyle McCord has a 16:12 big-time throw-to-turnover-worthy play rate, a ratio far from his touchdown-to-interception numbers.

McCord has struggled to produce consistent success and explosives against Quarters and Cover 1. Still, he's been comfortable against Cover 3, leading Ohio State to a 59% Pass Success Rate with many explosives against the look.

McCord has an elite weapon in Heisman contender Marvin Harrison Jr., who's considered one of the best route runners in college football. The soon-to-be first-round NFL Draft pick averages an electric 3.4 yards per route run, recording 13 touchdowns on 62 catches this season.

Will defensive coordinator Jim Knowles learn a valuable lesson after last year's defeat in this game?

Michigan recognized Cover 0 on several offensive attempts in that one, which led J.J. McCarthy to throw over the top of the Buckeyes' defense. Knowles has called Cover 0 on only 21 opponent passing attempts this season, electing to show Cover 1 and 3 against most offenses.

Ohio State has the top overall national rank in Pass Success Rate Allowed and ranks third in on-target rate allowed .

The 4-2-5 personnel has been equally as effective against the rush, dominating opposing offenses looking to run inside zone.

Michigan Wolverines

Has the scandal changed Michigan's play-calling on both sides of the ball?

There has been a change in McCarthy's production, as he's just a few weeks removed from topping the odds board for the Heisman Trophy. The Wolverines are in the top 10 in Pass Success Rate but relied heavily on running back Blake Corum in November.

Blake Corum is just a problem out there 😤@UMichFootballpic.twitter.com/zQS3jsasd6 — FOX College Football (@CFBONFOX) November 18, 2023

Michigan has a contrasting rush-offense dynamic, ranking 114th in Rush Explosiveness and 31st in Rush Success Rate.

Corum has run like a man possessed on inside zone and man concepts, logging nearly 30% of his attempts on the season in the past two games.

However, it's worth mentioning the senior does not have an elusiveness factor, as Big Blue ranks 106th in broken tackles created.

The Wolverines defense ranks best nationally in several categories, although Maryland challenged the top ranking in Finishing Drives. The Terrapins had several offensive drives across the Michigan 40-yard line and produced a whopping 5.3 points per trip.

Michigan ranks in the top five nationally in Pro Football Focus's coverage grades but was still lit up by Maryland's passing attack for six explosives .

Special teams and field position played a part in Michigan beating the Terps. Still, there's a reason to believe defensive coordinator Jesse Minter will have the toughest test of the season with his nickel personnel against Ohio State.

Ohio State vs Michigan Betting Pick & Prediction

Handicapping Michigan's offense starts with Corum.

McCarthy hasn't flashed any success or explosiveness in the passing game, and I expect that to carry over in Week 13.

Corum runs in a split of inside zone and man-blocking concepts. Unfortunately, Ohio State has stifled opposing inside-zone concepts, allowing nearly zero explosive runs in those sets this year.

If Michigan is going to have luck with Corum running the ball, it will be straight man run concepts against Ohio State's front seven.

As mentioned, I don't expect Michigan to produce explosives in the passing game, and part of that is because Ohio State leads th nation in Expected Passing Points Allowed.

The bigger question in this handicap is how Michigan covers Harrison.

Ohio State's route tree mainly consists of hitchs, outs and crossers. While the Wolverines are good against crossers, hitches are the most explosive routes for the Buckeyes, and the Wolverines have allowed plenty of explosive passes against those routes this year.

McCord has dominated Cover 3 — the primary coverage package for Michigan.

Considering Harrison has posted chunk yards on hitch routes, Ohio State's aerial attack has a significant advantage. The Wolverines have fallen to 69th in Standard Downs Explosiveness Allowed, so I expect the McCord-to-Harrison combo to dominate.

Our Action Network projections make Michigan a four-point favorite, but my research shows Ohio State can win outright.

McCarthy has struggled to throw the ball over the past two weeks as Michigan relies more on Corum and the ground game. Ohio State's defense will be locked in on Michigan's running backs in inside zone looks.

If the Wolverines don't move the chains on the ground, they'll have no luck generating explosives, especially considering they rank 66th nationally in Passing Expected Points.

Harrison is the X-factor in this one. McCord has sliced up Cover 3 looks, and Michigan should be playing plenty of Cover 3 on Saturday.

Additionally, the Wolverine secondary hasn't stopped hitch routes from turning into explosives, providing the Buckeyes' passing game with a monster advantage.

Pick: Ohio State +3 or Better

Alabama vs. Auburn

Saturday, Nov. 25 3:30 p.m. ET CBS Alabama -14

The 88th meeting of the Iron Bowl is set to provide another chapter in determining the SEC and potential national champion.

Alabama enters the rivalry with an all-time series lead of 49-37-1 after rattling off three consecutive wins.

The last iteration from Jordan-Hare Stadium saw four overtimes with Bryce Young and the Crimson Tide ultimately emerging victorious.

Fast forward to 2023, and Alabama is in a fight to reach the College Football Playoff after suffering a nonconference loss to Texas. There will be no lookahead to the SEC Championship game for head coach Nick Saban, as this game provided the most dramatic moment in college football history.

Iron Bowl week is here 🐘🦅 10 years ago, Auburn (+335 ML) beat Alabama on what will forever be known as the "Kick Six" 😱@_Collin1 reflects on that day where he became an office legend in this Great Moment In Gambling History 😂 pic.twitter.com/hU8K85fbSx — Action Network (@ActionNetworkHQ) November 20, 2023

Auburn comes into the Iron Bowl reeling off an embarrassing loss to New Mexico State, the second time a Hugh Freeze team has been taken down by head coach Jerry Kill.

Auburn will now be looking to get after Alabama after the Aggies doubled the Tigers' time of possession and shut down Auburn's offensive attack. Freeze mentioned the team's execution in its win over Arkansas was the direct opposite a week later against New Mexico State, giving the team a lesson in humility.

So, which Auburn team will show up in the 2023 Iron Bowl? Let's dive into the Alabama vs. Auburn odds and make a pick and prediction for Saturday's college football rivalry.

Alabama Crimson Tide

The contrast of Alabama football exiting Week 3 versus the version heading to the Iron Bowl is night and day.

The Crimson Tide struggled to produce a quality offensive line start and saw inefficient quarterback play. Quarterback Jalen Milroe had one of the worst days in his career in a loss against Texas, posting four turnover-worthy plays while scrambling through 17 pressures.

Saban elected to go with backup quarterbacks Ty Simpson and Tyler Buchner at South Florida the following week but cemented Milroe as the starter ever since.

The sophomore has done nothing but shine in his following starts, throwing 10 touchdowns to just two interceptions since Week 7.

Milroe has morphed into one of the best deep-ball passers in the nation, throwing 21 big-time throws and no turnovers-worthy plays in 53 attempts beyond 20 yards .

The Crimson Tide have been equally as lethal on the ground, running a heavy amount of inside zone with a Success Rate well above the national average.

On the defensive side of the ball, coordinator Kevin Steele has elevated the play of Alabama's stop unit, which comes into the game as the best overall coverage unit, according to PFF.

The Cover 3 packages are led by safety Caleb Downs and cornerback Kool-Aid McKinstry. The trench has also provided a spark in chaos, ranking top-10 in pass rush and defending the ground game.

Teams that have used zone run concepts against the Alabama front seven have found no traction the entire season.

Auburn Tigers

The Auburn rushing attack was shut down by New Mexico State in Week 12. The same offense that used heavy outside zone to generate 5.9 yards per play against the Georgia defense generated just 4.4 yards per play against the Aggies.

Nine of its 22 rushing attempts were stuffed at or before the line of scrimmage, producing one of the more baffling losses in college football.

State champion wrestler Diego Pavia. If a 5'9 QB does this to you, do you have to retire? pic.twitter.com/GW8aMiKVP4 — Colin Deaver (@ColinDeaverTV) November 18, 2023

The Tigers have a 62% rush rate that's evenly distributed between inside zone, outside zone and a number of counter-run concepts. Quarterback Payton Thorne and running back Jarquez Hunter lead the way with various RPO personnel, combining for 10 rushing touchdowns.

The passing game has failed to produce many explosives this season. Still, Thorne has been accurate with 14 passing touchdowns, recording the lowest turnover-worthy play rate of his career.

Defensive coordinator Ron Roberts spent a number of years on Dave Aranda's staff at Baylor, opting to run 3-3-5 personnel with a heavy 40% blitz rate at Auburn.

The coverage unit grades 14th, per PFF, using quarters and Cover 3 more than any other packages in the secondary.

Freeze is one of the best game-day coaches in the nation despite the loss to New Mexico State, ranking third nationally in "Middle 8" scoring.

Alabama vs Auburn Betting Pick & Prediction

Because of the loss to New Mexico State, Freeze is expected to have Auburn focused and prepared for the Iron Bowl.

The Tigers have seen a point differential that favors first-half scoring. The opposite is true for Alabama, which owns a second-half scoring differential three points higher than the first half.

The bigger question is whether or not Auburn can do enough in the first half and execute in the "Middle 8" to cash a first-half number.

The Alabama defense has been stellar against the rush this season, no matter what run concept has been presented by the opposing offense. With Auburn having an even split of inside and outside zone, Alabama should shut down rushing attempts by Thorne and Hunter.

Without the rush available for Auburn, Thorne will be expected to go to the air against Alabama's secondary. Thorne will dodge the coverage he's worst against, as the Tide don't play a heavy amount of Cover 3.

However, Auburn's numbers are nowhere near mid-FBS in Passing Success Rate or explosives, making this game a tough haul for the Tigers offense.

Alabama will use inside zone with running backs Jase McClellan and Roydell Williams. Auburn has met the national average in Success Rate defending inside zone, but it doesn't have the numbers in Stuff Rate or Line Yards against the Tide front seven.

The bigger issue could be Milroe's deep ball, as Auburn ranks 110th in on-target balls allowed. Auburn sits 63rd in allowing passes beyond 20 yards while presenting quarters and Cover 3 to opponents.

Unlike Thorne, Milroe has been fantastic against Cover 3 this season.

There are a number of areas where Auburn will have trouble moving the ball offensively. Alabama has shut down zone run concepts all season, leaving Auburn in the uncomfortable position of leaning on a passing game that has struggled all season.

The Tigers should have some success in limiting Alabama's zone read concepts, but they don't have an answer for Milroe's deep ball.

Action Network projects Alabama as a 14-point favorite, giving the smallest of edges to Auburn in the full-game number.

But considering there are strong advantages in the run and pass game on both sides of the ball for Alabama, take the Crimson Tide to survive the Freeze and the Tigers.

Pick: Alabama -14 (-120 or Better) </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>