<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What to look out for in Sunday's matches</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Related Articles

Things you may have MISSED from the season so far

Alex Keble ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>What to look out for in Sunday's matches</p>
            <span id="topic" >premier league</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-26, 2023</b>
                </span>
                <br><br>
                <img src="https://resources.premierleague.com/premierleague/photo/2023/11/25/e78f604f-5170-4c06-9a54-9a016f07ef0a/2023-11-04T140958Z_1039976247_UP1EJB413CLJX_RTRMADP_3_SOCCER-ENGLAND-FUL-MUN-REPORT.JPG" alt="">

                <textarea id="text" readonly> Related Articles

Things you may have MISSED from the season so far

Alex Keble analyses where Sunday's matches could be won and lost.

Villa need a plan for Spurs’ inverted full-backs

Back-to-back defeats for Tottenham Hotspur has had pundits hastily recalibrating expectations for the debut season of Ange Postecoglou and with injuries piling up, there is now a more reasonable view taken on their hopes for the campaign.

They are in a battle with Aston Villa, among others, for a place in next season’s UEFA Champions League, but even this could come under threat if Spurs’ losing streak continues for much longer.

That’s what makes the visit of Villa on Sunday arguably the most important match of the Postecoglou era so far.

The tactical battle will be fascinating. There is little doubt that Unai Emery – ever the reactive tactician, looking to exploit opposition weaknesses – will encourage Spurs' adventurous attacking football in the hope Villa can spring forward on the counter-attack. But the visitors might not get their way.

Much will depend upon whether Emery has a plan for Spurs' underlapping inverted full-backs: the secret weapon of Postecoglou’s unique formation.

See: Season trends: Inverted full-backs providing tactical flexibility

Prior to Cristian Romero’s red card, which altered the pattern of the 4-1 defeat to Chelsea in Spurs' last home match, Postecoglou’s side tore through the Chelsea team because nobody in Mauricio Pochettino’s formation was tracking Destiny Udogie and Pedro Porro.

Spurs had a huge overload of numbers in the central column of the pitch, with Chelsea’s wide players Cole Palmer and Raheem Sterling unsure of whom to mark or where to stand.

Emery, by contrast, is likely to position the wingers in his own 4-4-2 – John McGinn and Youri Tielemans or Nicolo Zaniolo – to simply man-mark the Spurs full-backs when they dip infield.

This could shut down the centre and slow Spurs down, exacerbating the fluency issues already developing in the absence of James Maddison.

From here, Villa’s counters will come into play: McGinn has played the second-most successful through-balls in the Premier League this season, with five, while Ollie Watkins has made the most off-the-ball runs (405).

Of course, that’s only one way it could go. But whatever the outcome, the effectiveness of Postecoglou's dynamic full-backs promises to be defining.

Mute

Play/Pause Close Back to top AD CC Audio description available

Everton will fancy chances against Man Utd

Idrissa Gueye’s 86th-minute winner at Selhurst Park before the international break made it 10 points from the last five Premier League matches for Everton, signalling lift-off for the Sean Dyche era as the Toffees begin to score freely in his signature style.

That is reason enough to look forward to the visit of Manchester United on Sunday, but the club will be galvanised after the 10-point deduction imposed on Everton by an independent Commission during the international break.

It leaves them joint-bottom of the table on four points, plunging Everton back into the relegation battle, for now at least.

But their new league position does not alter the fact that Everton are one of the Premier League’s most in-form teams – and one a goal-shy United are likely to fear.

The Red Devils have scored only 13 times, the fewest of any of the current top 12, and what’s more, they have looked hesitant on the road this season, narrowly beating struggling sides Sheffield United, Burnley and Fulham by a single goal.

See: Boost for Man Utd as Shaw returns to training

Up against a stubborn defensive shell on Sunday, it seems unlikely United will find a higher gear.

Everton conceded just once against Arsenal and once against Brighton & Hove Albion at Goodison Park earlier this season, despite holding 26 per cent and 21 per cent possession respectively.

They know how to sit deep and frustrate even the more free-scoring sides. Man Utd are not one of those.

Then again, Dyche has only once previously beaten Man Utd – his Burnley side winning 2-0 at Old Trafford in January 2020 – while Burnley’s 1-1 draw in February 2022 was the first and only time a Dyche team has scored a home goal against them.

But this Everton team is a different beast - and expect Goodison Park to be rocking on Sunday. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>