<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where to Buy a PS5 During Black Friday 2023</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="We're seeing PlayStation Black Friday and Cyber Monday deals in full swing now, ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Where to Buy a PS5 During Black Friday 2023</p>
            <span id="topic" >technology</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://assets-prd.ignimgs.com/2023/11/25/where-to-buy-a-ps5-this-black-friday-cyber-monday-1700923281586.png?width=1280" alt="">

                <textarea id="text" readonly> We're seeing PlayStation Black Friday and Cyber Monday deals in full swing now, and the big sales weekend is finally here. PlayStation 5 is one of the most sought-after, and most popular deals of Black Friday and Cyber Monday -- so if you've been hoping to pick up a PS5 this year during the sale event, you're in luck! PlayStation 5 consoles are available everywhere now, and there are even some incredible discounts to consider as well. There's a selection of console bundles for them that are on sale for Black Friday (including a free game), $50 off a standard PS5, and even money off the brand new PS5 Slim model as well (disc and digital editions).

Black Friday: Where to Buy a PlayStation 5 Slim

If you're hoping to get your hands on the new PS5 Slim, there are a few different ways that you can. Alongside being able to pick it up on its own, there are a couple of excellent PS5 Slim bundles available for Black Friday that are worth picking up.

These come bundled with either Marvel's Spider-Man 2 or Modern Warfare 3, featuring the game for free. Just so you're aware, after Black Friday these deals will increase in price back up to $560, so take advantage now while they're in stock and only $500. Plus, for all digital owners, the PS5 Slim Digital Edition is also now available to buy for $449, and for future reference, if you do decide to change it up -- the attachable disc drive is also now available for $79.99.

PS5 Slim Bundles

Cyber Monday Deal PS5 Spider-Man 2 Bundle (Slim Model) Includes Spider-Man 2 for free. 11% off $559.99 34 $499.00 See on Amazon

Cyber Monday Deal PS5 Call of Duty Modern Warfare 3 Bundle (Slim Model) Includes Modern Warfare III for free. 11% off $559.99 29 $499.00 See on Amazon

PS5 Slim Digital

Now Available PS5 Digital (Slim Model) 14 $449.99 See on Amazon

Where to Buy a PS5 on Black Friday

It's been notoriously difficult to get your hands on a PS5 since its launch in late 2020 between industry-wide chip shortages and scalpers reselling consoles for nearly $2,000, but the supply has finally caught up to demand for the most part, and now it's far more common to see the consoles in stock in-store and online at most retailers.

If you want a standard, non-Slim bundle deal on the PS5, you can find the Spider-Man 2 PS5 bundle at Amazon and Walmart right now for $499. That's 11% off its usual price of $559.99, and well worth it for what you're getting. If you're looking to buy a standard PS5 console, you can find it at the links below on Amazon, Best Buy, and Walmart. This will run you $450 for the disc edition, but gets you the console and a controller so you can start playing right away.

Early Black Friday Deal PS5 Spider-Man 2 Bundle 825GB SSD Storage. 11% off $559.99 43 $499.00 See on Amazon Early Black Friday Deal PS5 Spider-Man 2 Bundle 825GB SSD Storage. 11% off $559.99 10 $499.00 See on Walmart

Black Friday Deal PlayStation 5 Console (PS5) 10% off $499.99 12 $449.99 See on Amazon

Robert Anderson is a deals expert and Commerce Editor for IGN. You can follow him @robertliam21 on Twitter. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>