<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who are the first hostages released from Gaza?</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="The group of hostages brought out of Gaza on the first day of the ceasefire with">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Who are the first hostages released from Gaza?</p>
            <span id="topic" >israel</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://i.guim.co.uk/img/media/40e02f4d806d17a09df5ae3703302abf1935a946/125_108_1730_1038/master/1730.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdG8tZGVmYXVsdC5wbmc&enable=upscale&s=17c458f8f5354bbf734fb8077742a1f0" alt="">

                <textarea id="text" readonly> The group of hostages brought out of Gaza on the first day of the ceasefire with Israel included 13 Israelis, 10 Thai citizens and one Filipino man.

The Israeli hostages included four children with female relatives, who were all visiting family at Nir Oz kibbutz when Hamas attacked on 7 October, and five elderly women, four of them residents of Nir Oz and one from a nearby kibbutz.

00:00:57 Israeli hostages reunite with family members after Hamas release – video

The other hostages had been working in the area, part of a large migrant labour force doing caring, agricultural and other work inside Israel. They were not part of the exchange of Israeli hostages for Palestinian prisoners.

Below are some details about the hostages who were freed on the first day of the ceasefire.

Munder family: Keren (54), her son Ohad (9) and her mother, Ruth (78)

Ohad Munder with family members at the Schneider children’s medical centre in Israel. Photograph: AP

Ohad turned nine in captivity. He loves Rubik’s cubes. His mother, who teaches children with special needs, was visiting relatives in Nir Oz on the day Hamas attacked. Ruth was a librarian and tailor before she retired.

Ohad’s grandfather, Avraham, 78, remains in captivity in Gaza. His uncle – Ruth and Avraham’s son – Roee, 50, was killed in the attack.

Asher family: Doron Katz-Asher (34), her daughters Raz (4) and Aviv (2)

Doron, Raz and Aviv are reunited with the girls’ father and Doron’s husband. Photograph: Schneider children’s medical centre/Reuters

Doron, an accountant, lives in Ganot Hadar. She was visiting relatives in Nir Oz at the time of the attack and the family’s abduction was captured on video posted on social media. Her mother, Efrat Katz, was killed on 7 October.

Efrat’s partner, Gadi Mozes, was kidnapped with his ex-wife, Margalit Mozes. She was among those released on Friday.

Aloni family: Danielle (45) and her daughter, Emilia (5)

Daniele and Emelia Aloni at the Schneider children’s medical centre. Photograph: AP

The pair were visiting Daniele’s sister Sharon Aloni-Cunio in Nir Oz. The whole extended family were kidnapped, including Sharon, her husband, David Cunio, and three-year-old twins Emma and Yuli.

Daniele was one of three women in a hostage video that Hamas released late last month.

Yaffa Adar (85)

Yaffa Adar is reunited with family members. Photograph: X

Adar is one of the founders of Nir Oz. A video of her being driven towards Gaza in a golf cart, wrapped in a pink blanket and guarded by Hamas gunmen, became a symbol of the hostage crisis for many in Israel. She has three children, eight grandchildren and seven great-grandchildren. One of her grandchildren, Tamir Adar (38), remains a hostage.

Chana Katzir (76)

Chana Katzir. Photograph: AP

Another founder of Nir Oz, Katzir had worked on the childcare team there and her husband, Rami, was a tractor mechanic. They had three children and six grandchildren. Rami was killed in their safe room on 7 October and one of their sons, Elad, was also kidnapped.

Chana, who uses a walker, appeared in a hostage video on 9 November. Islamic Jihad claimed she had died in captivity just a few days before she was released.

Chana Peri (79)

Chana Peri. Photograph: AP

A retired shopkeeper, Peri was the only Israeli hostage released on Friday who did not come from Nir Oz. Born in South Africa, she moved to Israel as a young woman and settled in the Nirim kibbutz where she had three children.

One son, Roey, was killed on 7 October, and her other son, Nadav, is being held hostage. Her daughter, Ayelet, is in Israel. Peri has diabetes.

Adina Moshe (72)

Adina Moshe. Photograph: Hostages and Missing Persons Families Forum

Moshe’s husband, Sa’id (David), was murdered in their home in Nir Oz before she was kidnapped. Video footage showed her being driven to Gaza on a motorbike, sitting between two Hamas fighters. A mother of four, her hobbies include cooking and gardening.

Margalit Mozes (77)

Margalit Mozes. Photograph: AP

A cancer survivor with diabetes and fibromyalgia, who is a keen hiker, birdwatcher and traveller, Moses was kidnapped with her ex-husband.

Gelienor ‘Jimmy’ Pacheco (33)

A poster of Pacheco posted on a wall in New York. Photograph: Edna Leshowitz/Zuma Press Wire/Shutterstock

A Filipino care worker, Pacheco was kidnapped from Nir Oz by Hamas militants who killed his employer. Nir Oz was one of the worst places affected by the hostage crisis, with 77 people being abducted, six of them foreign nationals.

Vetoon Phoome (33)

Vetoon Phoome. Photograph: Rungarun Wichangern

A Thai citizen, Phoome had lived in Israel for almost five years, building up savings and supporting his mother back home. He was working on a potato and pomegranate farm, and planning to return home soon as his contract was coming to an end.

His employer was killed in the attack, and Phoome was taken from his room. His family were originally told he had been killed on 7 October.

The other nine Thai hostages released on Friday have been named, but no further details have been given. They are Kanthawri Mulkan, Santi Bunphrom, Bunthom Pankhong, Mongkol Phajuabbun, Vichai Kalapat, Bancha Kongmani, Buddi Sengbun, Uthai Thunsri and Uthai Sengnual. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>