<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who are the Israeli hostages freed by Hamas during Gaza truce?</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Friday

Munder family: Keren, 54, her son Ohad, 9, and her mother, Ruth, 78

Oha">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Who are the Israeli hostages freed by Hamas during Gaza truce?</p>
            <span id="topic" >world</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://i.guim.co.uk/img/media/c1fbbabc658f1d75cf1aa1563e63fda7761e8dc1/0_0_2419_1451/master/2419.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctZGVmYXVsdC5wbmc&enable=upscale&s=e0f7d8b8338f76a6d05360a451c7b723" alt="">

                <textarea id="text" readonly> Friday

Munder family: Keren, 54, her son Ohad, 9, and her mother, Ruth, 78

Ohad Munder meets his father, brother and family members at the Schneider children’s medical center, Israel. Photograph: AP

Ohad turned nine in captivity. He loves Rubik’s cubes. His mother, who teaches children with special needs, was visiting relatives in Nir Oz on the day Hamas attacked. Ruth was a librarian and tailor before she retired.

Ohad’s grandfather, Avraham, 78, remains in captivity in Gaza. His uncle – Ruth and Avraham’s son – Roee, 50, was killed in the attack.

Asher family: Doron Katz-Asher, 34, her daughters Raz, four, and Aviv, two

Aviv Asher, her sister Raz, and mother, Doron, meet Yoni, Raz and Aviv’s father and Doron’s husband. Photograph: Schneider Children’s Medical Center Spokesperson/Reuters

Doron, an accountant, lives in Ganot Hadar. She was visiting relatives in Nir Oz at the time of the attack and the family’s abduction was captured on video posted on social media. Her mother, Efrat Katz, was killed on 7 October.

Efrat’s partner, Gadi Mozes, was kidnapped with his ex-wife, Margalit Mozes. She was among those released on Friday.

Aloni family: Danielle, 45, and her daughter, Amilia, 5

Danielle and Amelia Aloni meet family members. Photograph: AP

The pair were visiting Danielle’s sister Sharon Aloni-Cunio in Nir Oz. The whole extended family were kidnapped, including Sharon, her husband, David Cunio, and three-year-old twins, Emma and Yuli.

Danielle was one of three women in a hostage video that Hamas released late last month.

Yaffa Adar, 85

Yaffa Adar is reunited with her family. Photograph: X

Adar is one of the founders of Nir Oz. A video of her being driven towards Gaza in a golf cart, wrapped in a pink blanket and guarded by Hamas gunmen, became a symbol of the hostage crisis for many in Israel. She has three children, eight grandchildren and seven great-grandchildren. One of her grandchildren, Tamir Adar (38), remains a hostage.

Chana Katzir, 76

Chana Katzir. Photograph: AP

Another founder of Nir Oz, Katzir had worked on the childcare team there and her husband, Rami, was a tractor mechanic. They had three children and six grandchildren. Rami was killed in their safe room on 7 October and one of their sons, Elad, was also kidnapped.

Chana, who uses a walker, appeared in a hostage video on 9 November. Islamic Jihad claimed she had died in captivity a few days before she was released.

Chana Peri, 79

Chana Peri. Photograph: AP

A retired shopkeeper, Peri was the only Israeli hostage released on Friday who did not come from Nir Oz. Born in South Africa, she moved to Israel as a young woman and settled in the Nirim kibbutz, where she had three children.

One son, Roey, was killed on 7 October, and her other son, Nadav, is being held hostage. Her daughter, Ayelet, is in Israel. Peri has diabetes.

Adina Moshe. 72

Adina Moshe. Photograph: Hostages And Missing Families Forum/Reuters

Moshe’s husband, Sa’id (David), was murdered in their home in Nir Oz before she was kidnapped. Video footage showed her being driven to Gaza on a motorbike, sitting between two Hamas fighters. A mother of four, her hobbies include cooking and gardening.

Margalit Mozes, 77

Margalit Mozes. Photograph: AP

A cancer survivor with diabetes and fibromyalgia, who is a keen hiker, birdwatcher and traveller, Mozes was kidnapped with her ex-husband.

Saturday

Hila Rotem Shoshani, 13

Hila Rotem Shoshani,embracing her uncle at a hospital in Israel after being released by Hamas. Photograph: Israel Army/AFP/Getty Images

Hila was abducted along with her mother, Raya, and friend Emily (see below). Raya has not been released. Hila told Israeli media that they were held hostage together until two days ago.

Emily Hand, nine

Emily Hand embracing her father at a hospital in Israel after being released. Photograph: Israel Army/AFP/Getty Images

Emily was at a sleepover at Hila’s house when she was abducted. The young Israeli-Irish girl celebrated her ninth birthday in captivity on 17 November, according to her father.

Shoshan Haran, 67, her daughter Adina Shoham, 38, and Adina’s children Yahel, three, and Naveh, eight

Shoshan Haran, Adina, Naveh and Yahel, after being released by Hamas. Photograph: Israeli Prime Minister’S Office/Reuters

All were abducted from the Be’eri kibbutz, while Shoham and her children were visiting Haran. Shoham and her children also hold German dual nationality through Adina’s father, Avshalom Haran, who was killed in the attack.

Sharon Avigdori, 52, and her daughter Noam, 12

Sharon and Noam Avigdori. Photograph: Hostages And Missing Families Forum/Reuters

Shoham’s aunt Sharon Avigdori, a psychologist, and her daughter Noam were also visiting Haran.

Shiri Weiss, 53, and her daughter Noga Weiss, 18

Shiri Weiss (left) and her daughter Noga. Photograph: Hamas Media Office/AFP/Getty Images

Weiss, a 53-year-old accountant, and daughter Noga were abducted from their home in the Be’eri kibbutz. According to the accounts of their relatives, with whom Noga was in contact via WhatsApp during the assault, the young woman was hiding under a bed when her mother was abducted.

Driven out by smoke that filled her house, she tried to hide outside, where she was spotted. Her father, Ilan Weiss, had left his home at dawn that day to defend his kibbutz. He was also taken hostage.

Siblings Noam Or, 17, and Alma Or, 13

Alma Or and Noam Or. Photograph: AP

The two teenagers were abducted from the Be’eri Kibbutz in the company of their father, Dror Or, and their cousin Liam, 18. Their mother, Yonat, was killed in the attack. Their elder brother, Yahli, who is doing military service in northern Israel, was not at home. Ahal Besorai, the teenagers’ uncle, said they did not know that their mother had been killed until after they were released.

Maya Regev, 21

Maya Regev. Photograph: Hamas Media Office/AFP/Getty Images

Regev was abducted with her younger brother, Itay, 18, as they tried to flee the Nova music festival. She was hit by gunfire while on the phone with their father, who tried in vain to locate their position.

A few hours later, the siblings were seen in video circulating online tied to the back of a pick-up truck. Originally from Herzliya, near Tel Aviv, Maya and Itay had returned to Israel the previous day after celebrating their mother’s birthday abroad. Itay has not yet been released.

Sunday

Elma Avraham, 84

Elma Avraham. Photograph: Hostages And Missing Families Forum/Reuters

The artist was on the phone with a neighbour on 7 October when armed men burst into her home in Nahal Oz kibbutz.

Her son Uri Rawitz, with whom she had also spoken earlier, said Elma had not managed to lock the door to the safe room in her house.

Uri later received a photo of his mother being taken away on a motorcycle by armed fighters with another hostage.

Avraham’s second son, who also lives in Nahal Oz, escaped the attack.

On Sunday, Avraham was transferred to the Soroka medical centre in Beersheba, southern Israel, whose director, Shlomi Kodesh, said she was “in life-threatening condition”.

Aviva Siegel, 62

Aviva Siegel. Photograph: Hostages And Missing Families Forum/Reuters

Siegel was taken from her home in the Kfar Aza kibbutz along with her American husband, Keith, 64, who is still being held.

Aviva, a schoolteacher, was born in South Africa but moved to Israel when she was eight. The couple have four children and five grandchildren.

Hagar Brodetz, 40, and her children, Ofri, 10, Yuval, eight, and Oria, four

Hagar Brodetz, Yuval, Ofri and Oria. Photograph: Schneider Children’s Medical Center, Hostages And Missing Families Forum/Reuters

Hagar Brodetz’s husband, Avihai Brodetz, said he was trying to defend Kfar Aza kibbutz when his wife and their three children were kidnapped.

Several days later he found out they had survived the attack but had been abducted along with Avigail, a neighbour’s child who had taken refuge in their home.

Ofri, the eldest child, marked her 10th birthday in captivity in Gaza. Her younger brothers Yuval and Oria are aged eight and four.

Avigail Idan, four

Avigail Idan. Photograph: family handout

After seeing her parents killed at Kfar Aza, Avigail, who holds US citizenship, took refuge with the Brodetz family, and was kidnapped with them.

Michael and Amalya, her brother and sister, escaped the attack by hiding in a closet.

Avigail had her fourth birthday in Gaza on Friday.

Chen Almog-Goldstein and her children, Agam, 17, Gal, 11, and Tal, nine

Tal Goldstein Almog (left) and his brother Gal, Chen Goldstein Almog, and Agam Goldstein-Almog. Photograph: Hostages And Missing Families Forum/Reuters

A 48-year-old social worker, Almog-Goldstein was kidnapped from Kfar Aza kibbutz with three of her four children.

The children’s father, Nadav Goldstein, and Yam, the eldest daughter, were killed in the attack.

They are members of the family of Doron Almog, a former high-ranking army officer and current chairman of the Jewish Agency for Israel, a non-profit organisation that encourages Jews to immigrate to Israel.

Sisters Dafna Elyakim, 15, and Ela, eight

Dafna Elyakim and Ela Elyakim. Photograph: Hostages and Missing Families Forum/AP

The sisters were abducted from the home of their father, Noam Elyakim, in Nahal Oz kibbutz.

The day after the attack, their mother, Maayan Zin, saw a photo on WhatsApp of Dafna “sitting in pyjamas on a mattress in Gaza”.

The bodies of the girls’ father, his partner, Dikla, and her son, Tomer, were found riddled with bullets in an empty lot. Before he was shot, 17-year-old Tomer had been told by militants to go door-to-door and speak in Hebrew to convince his neighbours to leave their shelters. Ela and Dafna also hold Hungarian nationality, according to media reports.

Ron Krivoy, 25

Ron Krivoy.

The Russian-Israeli worked as a sound technician at the Nova music festival attacked by the militants.

Initially he managed to escape and hide in a ditch, his sister Julia told Israeli media, but by noon an Arab-speaking person was answering his phone.

The youngest of three siblings, Krivoy was born in Israel, and, according to his father, had survived two car accidents and a fall into a sewer.

Hamas said he was being released outside the truce deal with Israel.

Agence France-Presse contributed to this report </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>