<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why Elon Musk can’t stop himself from posting antisemitic tweets.</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Elon Musk faces a lot of problems in his ownership of the social network once ca">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Why Elon Musk can’t stop himself from posting antisemitic tweets.</p>
            <span id="topic" >Elon Musk</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Nov-27, 2023</b>
                </span>
                <br><br>
                <img src="https://compote.slate.com/images/4d1194ee-1786-4b8c-b7af-f5b09f206a3c.jpeg?crop=1560%2C1040%2Cx0%2Cy0&width=1560" alt="">

                <textarea id="text" readonly> Elon Musk faces a lot of problems in his ownership of the social network once called Twitter. Most of them are straightforward business problems. He paid too much for the company. He saddled it in debt when he completed his purchase, because he didn’t want to sell more of his Tesla stock. He laid off many of the people who made Twitter a pleasant place to spend time and advertising dollars. The website breaks and doesn’t roll out cool features.

Those are big problems, but they are business problems. They are theoretically manageable with enough time and money. Given a long enough horizon, maybe there is a world where Musk takes Twitter and makes it into less of a car fire than it has been since he took over at the end of October 2022.

But Musk’s biggest problem is not that he made a bad deal, or that he owns a platform that doesn’t addict young minds like TikTok or Instagram, or that it’s now overrun by pornbots, or that he has to service all that ridiculous debt he stuck the company with. He’s the wealthiest man in the world. He could, if he were motivated, get over those things. The problem Musk will never be able to fix is that he cannot help himself. He lacks the restraint, humility, and perspective you’d expect to see in a CEO—or for that matter, a 10-year-old boy. And across what might be X’s most embarrassing few days since he bought it, it has been clearer than ever that he will never, ever develop those traits.

Advertisement

Advertisement

Musk’s humiliation of the moment is that, on the last Friday before Black Friday, Apple is pausing advertisements on his platform, according to Axios. IBM announced the same earlier in the day, after the very online media-monitoring group Media Matters reported that its advertisements (along with those of Apple and Xfinity) had shown up next to hardcore Nazi posts. (Like, the “touting Adolf Hitler” kind of Nazi posts, not the mildly dressed up, respectable version of Naziism that’s so en vogue these days.)

Advertisement

Displaying advertisements next to Hitler stuff is ultra-bad “brand safety,” that advertising term that’s come up a lot since Musk bought Twitter and gutted its content moderation team. But maybe Musk could’ve kept Apple’s and IBM’s business if he were not personally providing antisemitic content on his own platform.

Advertisement

On Thursday—in a tweeted response to some random antisemite who had fewer than 5,000 followers—Musk made clear how he feels about Jewish people’s treatment of “whites.”

This otherwise inconsequential poster, using the handle @breakingbaht, wrote: “Jewish communities have been pushing the exact kind of dialectical hatred against whites that they claim to want people to stop using against them.” He added, “I’m deeply disinterested in giving the tiniest shit now about western Jewish populations coming to the disturbing realization that those hordes of minorities that support flooding their country don’t exactly like them too much. You want truth said to your face, there it is.”

Musk replied, “You have told the actual truth.”

Advertisement

Advertisement

Now. I can concede that in the present political climate, it can be challenging to evaluate the level of antisemitic motivation of many critics of Jewish individuals, organizations, and nation-states. So it is fortunate that Musk makes it easy. He’s a believer in one of the most classic antisemitic tropes: that Jews foment the hatred (and, many believe, the elimination) of white people. Implicit in the trope is that Jews, many of whom have white skin, are not white in the way the people using this line mean it.

Advertisement

Again, from Statement 1: “Jewish communities have been pushing the exact kind of dialectical hatred against whites that they claim to want people to stop using against them.”

And Statement 2, from the person who owns Twitter now: “You have said the actual truth.”

They are supposed to be better at hiding it!

Advertisement

About an hour and a half later, Musk may have realized that he did not properly code his antisemitism in his reply to the random guy’s post, because he posted an additional reply. In this one, he swapped out “Jewish communities” from the initial poster’s tweet and swapped in one specific Jewish organization, the Anti-Defamation League, that has previously made him pouty.

“The ADL unjustly attacks the majority of the West, despite the majority of the West supporting the Jewish people and Israel,” Musk added. “This is because they cannot, by their own tenets, criticize the minority groups who are their primary threat. It is not right and needs to stop.” When someone pointed out that Musk was using one group, the ADL, as a substitute for Jews at large, he wrote: “[You’re] right that this does not extend to all Jewish communities, but it is also not just limited to ADL.”

Advertisement

Related From Slate Why Donald Trump’s Social Network Is in So Much Trouble Read More

Musk was just spitting up word salad here, and few people seem to have any idea what he is talking about when he says the group “attacks the majority of the West.” At this very moment, the ADL is taking on a high-profile fight in which it is in fact directly aligned with most of the world’s Western governments (whose citizens are mostly white) in supporting Israel’s assault on the Gaza Strip. There are valid criticisms of the ADL, chiefly that it abdicates its usual principles when the actor in question isn’t a group of antisemitic or racist Americans, but the Israeli government. Ironically, that reality only makes Musk’s antisemitism more glaring: The ADL is, right now, on the side of Western governments in a military campaign whose opposing combatants and innocent victims are brown-skinned Arabs. Yet the statement Musk considers to be “the actual truth” is that the ADL is pushing “dialectical hatred against whites.” He’s not even paying attention to the news!

Advertisement

Advertisement

Advertisement

Advertisement

If Musk put a bit more effort into rationalizing his prejudices, he might have gotten off easier. But since the beginning of his pursuit of Twitter in the spring of 2022, he has had a hard time muzzling himself when he sees the opportunity to say something that will soothe his brain but hurt his business. Buying the company at all was a good example; Musk made the deal without thinking it all the way through, spent months trying to get out of it, and only closed when Twitter’s lawyers held him at trial-point. During his first few days as owner, Musk chased off advertisers with erratic comments and cuts to his trust and safety team, and then he threatened a “thermonuclear name and shame” of advertisers who did not return. (Ad spending still languishes.) Last December, Musk tried to start a fight with Apple, the same company that just stopped advertising on his site, before realizing that was a mistake and he couldn’t sustain it.

Advertisement

Musk has the restraint of a squirrel. That wouldn’t be such a big problem if his base desire were to make Twitter a better business. In the weeks before he took the platform over, Musk had been talking like a guy who’d bought the company on a lark but found more motivation in making a buck than making a point. Clearly not. Musk’s priority is not to save Twitter as a viable entity or a good place for a lot of people to hang out on the internet; it is to preserve it as an outlet where bad ideas can find oxygen. At one time, I thought Musk was buying Twitter so that internet-addled conservatives, the ones who were cheering him on, would clap more for him. Maybe that was Musk’s idea, but he may have just been selfish. Musk is now indistinguishable from the boring, unimaginative racists and antisemites he was trying to impress. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>