<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why only three continents will likely host a FIFA World Cup</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Open Extended Reactions

FIFA president Gianni Infantino has few options when it">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>Why only three continents will likely host a FIFA World Cup</p>
            <span id="topic" >world cup</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://a2.espncdn.com/combiner/i?img=%2Fphoto%2F2023%2F1101%2Fr1246789_1296x729_16%2D9.jpg" alt="">

                <textarea id="text" readonly> Open Extended Reactions

FIFA president Gianni Infantino has few options when it comes to who hosts their flagship events. Why? Because those running the organization need to keep making money in order to remain in control. Yasser Bakhsh - FIFA/FIFA via Getty Images

News this week that Australia will not submit a bid for the 2034 World Cup has paved the way for Saudi Arabia to host the tournament, and that angle is garnering much of the attention. But really, the media has buried the lede here.

- FIFA confirms Saudi Arabia are sole 2034 World Cup bidders

The real story is that FIFA are in a situation where they've painted themselves into a corner and, realistically, nobody outside of Asia, Europe or North America is likely to host another World Cup, except as part of some oddball joint bid. Like, say, the 2030 bid, which shoehorns Morocco in as joint hosts with an appendage called the "Centenary Celebration" -- honouring the fact that the first World Cup took place in Uruguay in 1930 -- taking place in South America.

Why? The short answer: money, power and how they're intertwined. And no, it's not the old FIFA trope of yesteryear, when the Swiss police were conducting dawn raids in five-star Zurich hotels and the U.S. Department of Justice was busy indicting folks for racketeering, conspiracy and corruption.

Simply put, FIFA needs money to run. Not to line the pockets of executives -- president Gianni Infantino made $3.82 million in 2022 including bonuses, which is far more than me and probably more than you, but less than a tenth of what, say, NFL commissioner Roger Goodell earns -- but simply to keep promises and retain power.

FIFA made around $7.6 billion in the 2019 to 2022 cycle, surpassing its predicted revenue of $6.4 billion. A total of $2.6 billion of that went on Football Development and Education, which encompasses everything from building training facilities to promoting youth and women's football, to paying the bills at some of the world's less affluent member associations, many of whom -- if not for FIFA money -- wouldn't exist as much more than a guy with a Gmail address, a smartphone and a bag of old footballs.

For 2023 to 2026, their goal is to grow revenue to a whopping $11 billion and to hand out nearly $4 billion of that in development funds. That's a really, really big number, and that's a really, really big pledge to make, the sort that -- if folks believe you can deliver -- will get you reelected. Especially to those folks in countries who will only ever get to watch the World Cup on television.

They want that FIFA money. Some may want it because they think they can steal or embezzle a chunk of it -- judging by the flurry of legal action in the 2016 FIFA scandal, this wasn't uncommon, though these days FIFA say independent auditors scrutinize the stuffing out of every penny. Some may want it because receiving funds and doling them out gives you influence and kudos, and others may want it out of a genuine desire to develop and help the game in their country.

Whatever the case, they want that FIFA dollar they've been promised. And given that FIFA's biggest earner by far is the Men's World Cup -- making up a whopping 83% of revenue -- it matters where it's held. Stick it in a place with big stadiums and deep-pocketed fans, in markets with tons of commercial sponsors keen to get their slice, in countries where you can sell plenty of hospitality packages ... well, then you might reach your $11 billion revenue goal. Put it in a less developed, less affluent, less free-spending place and, well, not so much.

For better or worse, the reality right now is that only North America, Europe and Asia tick those boxes.

Infantino, left, was omnipresent with dignitaries during the 2022 World Cup in Qatar, and the tournament will return to the region in 2034 as Saudi Arabia are the only confirmed bidder ahead of FIFA's self-imposed deadline. Matteo Ciambelli/DeFodi Images via Getty Images

Would that Uruguay-Argentina-Chile-Paraguay 2030 bid have been more romantic, while also honouring the centenary and the immense contribution South America has made to the sport? Sure.

Would a hypothetical Nigeria-Cameroon 2034 World Cup reward some of the world's most passionate and overlooked fans and greatly aid development in West Africa? Of course.

Would either realistically allow FIFA to meet its future revenue goals and, by extension, satisfy the 150-plus member associations who wouldn't exist in their current form without FIFA funding? Probably not.

And that's why we are where we are. It's part of the reason FIFA bumped the World Cup up to 48 teams and 104 games. Sure, it's about making the tournament more global and partly about rewarding voters. But it's also a lot about "increasing inventory" -- as one executive calls World Cup games -- so that there are more matches to go around in more markets, and those TV and marketing rights become more valuable.

Or it's why the Women's World Cup continues to grow. Yes, it's important for girls to be inspired and for female athletes to compete at the highest level, but having finally realized people will actually watch it and it can generate revenue, FIFA can also turn it into a nice money-spinner. Infantino understands this; meanwhile his predecessor, Sepp Blatter, figured the women's game would benefit from promoting "a more female aesthetic" and players wearing "tighter shorts."

(Incidentally it's also why, when FIFA announce the hosts of the 2027 Women's World Cup, you're probably better off betting on the U.S.-Mexico or Belgium-Netherlands-Germany bids rather than Brazil and South Africa: money talks in the women's game as much as the men's.)

Or why, in 2025, the United States will host the revamped FIFA Club World Cup, featuring 32 teams. Twelve of them will be from Europe, and they'll be the same clubs who draw massive sponsorships and global audiences in the Champions League, which is pretty much a guaranteed cash machine.

play 0:59 Burley: I hate what FIFA are doing to the World Cup Craig Burley is exasperated at how FIFA has "diluted" the World Cup after announcing the 2030 tournament will be held in six different countries.

Having inherited Russia 2018 and Qatar 2022 from his predecessor with all their toxicity -- not just the corruption and bribery that delivered the tournaments, but also the fact that both, for different reasons, were a tougher sell to sponsors and corporate football tourists -- Infantino sought slam dunks in 2026 and 2030 and he got them.

However, Saudi Arabia 2034 is a bit different and just last week, Human Rights Watch reminded us that the kingdom, whose bid has yet to be formally evaluated, wouldn't meet FIFA's own human rights requirements. But heck: 2034 is 11 years from now, and unless the FIFA council rewrites the rules, Infantino won't be president then, as his term limits expire in 2031.

- Stream on ESPN+: LaLiga, Bundesliga & more (U.S.)

Is this a cynical read? Maybe, but zoom out and there's another reality at play here. And it's a struggle over the "football dollar" between clubs -- most of whom, at least the richer ones, are owned by private individuals -- and the international game, which, while not exactly public, is run by national federations that, at least by statute, are nonprofits whose mission it is to develop the game.

We don't expect the sovereign wealth funds and private equity types who own the vast majority of club football to share with the have-nots, do we? Or, as one FIFA vice president once told me: "The club game is capitalism, the international game is socialism." Socialism of the kind that relies heavily on free market capitalism to generate revenue, but still: socialism, for better or for worse.

So, if you're reading this in a part of the world that's not rife with billion-dollar corporations, and where the per capita GDP is less than what Cristiano Ronaldo earns in an hour, get yourself a comfortable sofa and some snacks, because you'll most likely be watching the World Cup on TV for the foreseeable future. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>