<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Cup 2023 top run-scorers: Rachin Ravindra jumps to 2nd position as Virat Kohli drops to 3rd ; check others on list</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="New Zealand all-rounder Rachin Ravindra continued his monumental run at the ICC ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>World Cup 2023 top run-scorers: Rachin Ravindra jumps to 2nd position as Virat Kohli drops to 3rd ; check others on list</p>
            <span id="topic" >rachin ravindra</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://www.livemint.com/lm-img/img/2023/11/04/1600x900/Rachin_Ravindra_1699116240101_1699116240331.jpg" alt="">

                <textarea id="text" readonly> New Zealand all-rounder Rachin Ravindra continued his monumental run at the ICC Cricket World Cup in India, smashing his third ton in the tournament and has climbed to the second position on the list of top run scorers in ODI World Cup 2023.

However he played an inning extra than Quinton de Kock and Virat Kohli who are placed at number one and number three positions respectively.

Here is a look at the top ten batsmen who scored maximum runs at the end of the England-Australia game:

Quinton de Kock of South Africa: 545 runs in 7 innings

Quinton de Kock who has scored four centuries in this World Cup is at the top of the chart and is one of the main reasons for South Africa's brilliant performance in the World Cup. His highest score in this World Cup is 174 runs. He will next play against India on 5 November.

Rachin Ravindra of New Zealand: 523 runs in 8 innings

The find of the tournament, New Zealand's Rachin Ravindra is second on the list. New Zealand all-rounder Rachin Ravindra continued his monumental run at the ICC Cricket World Cup in India, smashing his third ton in the tournament, making him the Kiwi batter with most WC centuries. Ravindra accomplished this record in the World Cup match against Pakistan at Bengaluru. His highest score in this World Cup is 123 not out.

Virat Kohli of India: 442 runs in 7 innings

Virat Kohli has been instrumental in some of India's wins while chasing targets more than a couple of times. India's stalwart batter Virat Kohli surpassed iconic Sachin Tendulkar's record by becoming the batter with the most thousand runs scored in a single year in the ODI format. Virat will look to continue his good form in the game against South Africa on Sunday. His highest score in this World Cup is 103 not out.

David Warner of Australia: 428 runs in 7 innings

David Warner who has scored a couple of centuries is currently at number two in the list of batsmen who have scored the most number of runs in the World Cup. His highest score in this World Cup is 163 runs.

Rohit Sharma of India: 402 runs in 7 innings

Rohit Sharma who has been instrumental in providing India with prolific starts has climbed to number four after playing an excellent innings against England at Lucknow. His highest score in this World Cup is 131 runs.

Daryl Mitchell of New Zealand: 375 runs in 7 innings

The middle-order batsmen of New Zealand have provided the team with the much-needed impetus in the middle and played a brilliant inning against India in Dharamshala. His highest score in this World Cup is 130 runs.

Aiden Markram of South Africa: 362 runs in 7 innings

The middle-order batsman has been in some terrific form which has helped his team set up some big totals in the World Cup. His highest score in this World Cup is 106 runs.

Mohammad Rizwan of Pakistan: 359 runs in 7 innings

Pakistan who had a dismal outing in the World Cup has found their wicket-keeper batsman scoring runs for them in the middle order. Mohammad Rizwan remained not out on 26 as Pakistan chased down the target of 204 runs in Kolkata. His highest score in this World Cup is 131 not out.

Rassie van der Dussen of South Africa: 353 runs in 7 innings

The South African middle-order batsman played some crucial knock and has helped his team to set big totals for his team. His highest score in this World Cup is 133 runs.

Abdullah Shafique of Pakistan: 336 runs in 7 innings

Pakistan opener Abdullah Shafique is making most of the chances he got as once again he played a crucial knock of 68 runs against Bangladesh and after Rizwan is the second Pakistan batsman to enter the list of top 10 batsmen with highest runs. His highest score in this World Cup is 113 runs.

*With Agency Inputs

Milestone Alert!Livemint tops charts as the fastest growing news website in the world 🌏 Click here to know more. </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>