<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QC942MV32"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5QC942MV32');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Cup 2023: Rift brewing in Pakistan dressing room? PCB releases a statement</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <meta name="description" content="Amid media reports of a rift inside the Pakistan dressing room after a sluggish ">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body onload="related()">
    <nav>
        <div id="logo">NewsFeed</div>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
        <i class="bi bi-list" onclick="openNav()"></i>
        <i class="bi bi-search" onclick="openSearch()"></i>
    </nav>

    <div id="mobile-nav">
        <i class="bi bi-x-lg" onclick="closeNav()"></i>
        <a href="/a/business">Business</a>
        <a href="/a/world">World</a>
        <a href="/a/technology">Technology</a>
        <a href="/a/health">Health</a>
        <a href="/a/entertainment">Entertainment</a>
    </div>

    <form action="/search" method="get" id="search">
        <input type="text" name="q" />
        <i class="bi bi-search" onclick="search()"></i>
    </form>

    <div id="wrapper">

        <div class="flex1" id="article">
            <p>World Cup 2023: Rift brewing in Pakistan dressing room? PCB releases a statement</p>
            <span id="topic" >pak vs afg</span>
                <span class="time">
                    <i class="bi bi-clock"></i><b>Sun-0, 2023</b>
                </span>
                <br><br>
                <img src="https://cdn.wionews.com/sites/default/files/2023/10/15/386527-untitled-design-2023-10-15t092956500.png" alt="">

                <textarea id="text" readonly> Amid media reports of a rift inside the Pakistan dressing room after a sluggish start to the World Cup campaign, the Pakistan Cricket Board (PCB) on Monday (Oct 23) released a statement, denying such speculations.

The statement was released at the same time when Pakistan started batting against Afghanistan in their crucial league phase encounter at the MA Chidambaram Stadium in Chennai.

"The Pakistan Cricket Board strongly denies recent speculations about any internal discord in the national cricket team currently participating in the ICC World Cup 2023," read the statement.

"Contrary to rumours circulated by a certain section of the media, the PCB unequivocally assures that the team is cohesive and there is no evidence to support these unsubstantiated claims."

Some reports claimed that Pakistan captain Babar Azam and vice-captain Shadab Khan had a falling out after the latter was left out of the game against Australia. According to some Pakistani journalists, there had been alleged physical altercations between other teammates and that verbal blows were also exchanged, damping the team camaraderie.

"The PCB is disappointed by the dissemination of this false news and emphasises the importance of upholding journalistic ethics before spreading such allegations."

Pakistan started the World Cup in fine form, winning their opening two encounters. However, after losing the match against arch-rivals India in a rather crushing way, the team appeared jaded. The men-in-green did put up a fight against Australia but the challenging target of 368 proved too difficult for the Pakistani batters as the team suffered second consecutive defeat and slipped out of knockouts contention.

Pakistan off to a steady start

While off-field controversies threatened to derail the Pakistan World Cup campaign, the team shrugged them off and got to a steady start, batting first against Afghanistan.

Openers Abdullah Shafique and Imam-ul-Haq played with a positive intent and passed the first powerplay unscathed. However, Imam departed in the 11th over with the scoreboard reading 56. Since then, Pakistan captain Babar Azam had joined Shafique and the duo had stitched a 50+ partnership already.

Playing XIs:

Pakistan: Abdullah Shafique, Imam-ul-Haq, Babar Azam (c), Mohammad Rizwan (wk), Saud Shakeel, Iftikhar Ahmed, Shadab Khan, Usama Mir, Shaheen Afridi, Hasan Ali, Haris Rauf

Afghanistan: Rahmanullah Gurbaz, Ibrahim Zadran, Rahmat Shah, Hashmatullah Shahidi (c), Azmatullah Omarzai, Ikram Alikhil (wk), Mohammad Nabi, Rashid Khan, Mujeeb Ur Rahman, Naveen-ul-Haq, Noor Ahmad

(With inputs from agencies) </textarea>

        </div>



        <div class="flex2">

            <header>RELATED NEWS</header>

            <div id="related"></div>


        </div>

    </div>

    <script src="/static/script.js"> </script>


</body>

</html>